[2020-05-15 15:19] junaruga opened #3629 "Gem.load_yaml: psych: `<class:Parser>': superclass mismatch for class Mark (TypeError)"
I'm having a problem.

My current problem is the following Ruby script shows the following `TypeError` with non-default gem: psych.

[code]

[code]

I prepared the reproducer script here with Travis CI. The 3 cases that have the issue.

https://github.com/junaruga/report-rubygems-load-yaml
https://travis-ci.org/github/junaruga/report-rubygems-load-yaml

The issue comes from [this ticket in Fedora

[2020-05-15 15:23] deivid-rodriguez commented on #3629
Does https://github.com/rubygems/rubygems/pull/3429 fix the issue?

[2020-05-15 15:25] junaruga commented on #3629
Thanks for the info. Let me check it.

[2020-05-15 16:50] schneems commented on #3305
Brainstorming here, on other possible fixes to mitigate this issue.

As a user i'm not sure there's a meaningful difference to me between "fetching" and "installing". While I understand they are two separate actions, I mentally group them both as being needed to "install" a gem. So what if we had it so that we got rid of them and grouped them both under a single banner of "installing". And instead

[2020-05-15 17:05] deivid-rodriguez commented on #3305
That seems like a good idea to me! :+1:

[2020-05-15 17:11] simi commented on #3305
I think for RubyGems 4 we can also consider renaming "fetching" to "downloading".

:thinking: `Fetching rails`, `Installing rails`, those both sounds naturally to me, but `Finished rails` do not. What about `rails installed successfully`?

[2020-05-15 17:18] deivid-rodriguez commented on #3305
Yeah, I mean :+1: to the idea, the specific wording can be refined.

Also, I think we don't need to wait until rubygems 4 for this, nor to a new bundler major. I believe we can release improvements like this any time?

[2020-05-15 17:38] simi commented on #3305
:thinking: I think this deserves at least minor version bump.

[2020-05-15 17:54] deivid-rodriguez commented on #3305
Minor is fine, sure, but I don't think this deserves to wait for a major version bump.

[2020-05-15 18:39] junaruga commented on #3629
I will check it on Monday 18th May.

[2020-05-15 22:03] lamont-granquist opened #3631 "Rubygems 3.1.x performance regression due to #1868"
#1868 introduced code to scan through the $LOAD_PATH to test for the presence of files in the -I args of the ruby cli.

What I think was missed there is that the the $LOAD_PATH includes the lib directories of all of the activated gems:

e.g. from some debugging output of `puts $LOAD_PATH[0...load_path_insert_index]`:

[code]

It looks like what is happening is this is now an extra scan through eve

[2020-05-16 08:42] deivid-rodriguez commented on #3631
Yes, that's what was intended :grimacing:

Can you try this patch and see if it fixes the regression?

[code]

[2020-05-16 15:47] #3570 closed

[2020-05-16 15:49] deivid-rodriguez commented on #3631
This is just a candidate that can be speed up further to not look into all loaded specs every time, but I think this initial version should already make things much faster for you?

[2020-05-16 15:57] eregon commented on #3570
@deivid-rodriguez Thanks, I confirm that fixes the issue on 2.3.8 by adding the line in `exe/bundler`.
Sorry I couldn't try it before.

[2020-05-16 16:01] eregon commented on #3570
@deivid-rodriguez Nice work, thank you for investigating and fixing this!

Could you ping when there is a release of Bundler including this fix?
I subscribed to this repository releases notifications, but not sure how that will work for Bundler releases.

[2020-05-16 16:03] deivid-rodriguez commented on #3570
No problem! Yes, I will ping you :+1:.

[2020-05-16 18:17] matt-wallis commented on #3068
At https://bundler.io/guides/bundler_2_upgrade.html#prerequisites, we are instructed to run:
[code]
but @deivid-rodriguez [here](https://github.com/rubygems/rubygems/issues/3068#issuecomment-575998640) says

As far as I can see, Bundler 2 should not be used if you are using rubygems 2 installed as part of your OS (e.g. on Ubuntu 18.04). Why? because to use bundler 2, you have to do something (`gem

[2020-05-16 19:21] lamont-granquist commented on #3631
I'm pretty sure I can make that fail because the user can twiddle manually with the $LOAD_PATH and even without that, in testing yesterday I managed to get a binstubs library path first in the $LOAD_PATH with the -I flags after it, and then all the rest of the gems coming later.

[2020-05-16 19:23] lamont-granquist commented on #3631
(think i may have more for you on Monday though because this is $DAYJOB on the weekend for me, and I need a solid break...)

[2020-05-16 19:55] deivid-rodriguez commented on #3631
I think it would work for both manually prepending (path overrides default gems) and appending (path does not override default gems) entries to the `$LOAD_PATH`. For other `$LOAD_PATH` manipulations the behaviour would be as undefined as it is right now.

But I might be missing something.

[2020-05-17 12:17] #3621 closed

[2020-05-17 13:46] gurucharan127 commented on #3068
Thanks @rennex https://github.com/rubygems/rubygems/issues/3068#issuecomment-574775885 , it worked i was having the same issue in msfconsole

[2020-05-17 19:13] simi commented on #3068
What about to provide way to add warning to `gem update --system` when maintained by system?

[2020-05-18 04:02] webandtech commented on #3382
Thought I would note it is possible to use http auth from Bundler to load gems from S3. Create a CloudFront distribution, secure with basic auth if desired using Lambda. Plenty to find on Google but I posted some instructions on the wiki for this gem which I created to provide rake tasks for S3 private gem hosting. [s3_gem_host](https://github.com/webandtech/s3_gem_host) to make host

[2020-05-18 12:11] junaruga commented on #3629
It does not work on Fedora rawhide. It's a same error with the case without the patch.
I confirmed `test_activate_via_require_respects_loaded_default_from_default_gems` passes.

I applied #3429 patch like [this](https://github.com/junaruga/report-rubygems-load-yaml/blob/master/patch_rawhide.sh) with Travis CI. "Fedora rawhide Ruby 2.7 with patch" is the case.

One concern is the rubygems installed

[2020-05-18 12:24] deivid-rodriguez commented on #3629
I have no idea... :shrug:

I think your suggestion is fine and we shouldn't explicitly activate `psych` but let it go through `require` instead. But still, if there's an already activated `psych` version, I believe `gem "psych", ">= 2.0.0"` should respect it, so I don't know what's going on.

I can have a closer look since you have provided a nice repro, but I guess the first thing we could try is

[2020-05-18 12:34] junaruga commented on #3629
Sure. I think currently there are 2 parts about the explicit psych gem.

[code]

[2020-05-18 12:35] deivid-rodriguez commented on #3629
Actually, without #3429, if `psych` was required before `rubygems`, the loaded version won't be respected. So it makes sense that removing the explicit activation fixes you issue. What doesn't make sense to me is that applying the patch does not fix the issue. I'll double check if it needs more patches. On top of which rubygems version are you applying it?

[2020-05-18 12:36] deivid-rodriguez commented on #3629
I would try only `rubygems` for now, since removing that seems to fix your issue.

[2020-05-18 12:41] junaruga commented on #3629
The rubygems is based on the one used in Ruby 2.7.1 https://github.com/ruby/ruby/tree/v2_7_1 + some patch files (*.patch) [here](https://src.fedoraproject.org/fork/jaruga/rpms/ruby/tree/wip/rubygems-require-respects-default-gems).

[2020-05-18 12:48] deivid-rodriguez commented on #3629
Ok, thanks! I'll double check this.

[2020-05-18 13:58] junaruga commented on #3629
Thanks!

As one more note, [the following file](https://src.fedoraproject.org/fork/jaruga/rpms/ruby/blob/wip/rubygems-require-respects-default-gems/f/operating_system.rb) is used.

[code]

[2020-05-18 16:08] junaruga commented on #3629
I noticed the following line's `loaded` is `nil` when running above `test.rb` in the Fedora.

/usr/share/rubygems/rubygems/core_ext/kernel_gem.rb

[code]

The following script `test2.rb` shows like this on the Ruby 2.7.1 built from the source code.

[code]

[code]

But The RPM ruby in Fedora rawhide shows

The following script `test2.rb` shows like this on the Ruby 2.7.1 RPM on Fedora rawhide.

[c

[2020-05-18 16:08] deivid-rodriguez commented on #3381
Copying here the original issue text, since it's helpful:

Marking this as "help wanted" :)

[2020-05-18 16:15] junaruga commented on #3629
The following situation is the reason?

* 1st one Ruby 2.7.1 built from the source code: there is default gem psych gemspec: `/usr/local/ruby-2.7.1/lib/ruby/gems/2.7.0/specifications/default/psych-3.1.0.gemspec`.
* 2nd one Ruby 2.7.1 RPM on Fedora rawhide: there is no default gem psych gemspec: `/usr/share/gems/specifications/default/psych-*.gemspec`.

[2020-05-18 16:17] deivid-rodriguez commented on #3629
I'm looking at this right now and observed the same thing. Let me keep digging.

[2020-05-18 16:43] deivid-rodriguez commented on #3629
Ok, so the reason for this is essentially what you pointed out.

Gem "auto-activation", i.e., the rubygems feature where you can just `require "your_gem"` and your gem will get automatically activated (added to the `$LOAD_PATH` on the fly) depends on either:

* A file with the same name not being present on the default `$LOAD_PATH`.
* A file with the same name being present in the default `$LOAD_P

[2020-05-18 17:58] junaruga commented on #3629
Thank you for the investigation.

While I agree that shipping the default specification for the default psych and moving the "regular" gem is the ideal way, I need to negotiate it with people in Fedora Ruby RPM, because it is relatively a bigger change in the RPM Ruby's recipe file (`ruby.spec`). And I may have to release the minimum patched version of the Ruby to fix this issue.

So, I would like

[2020-05-18 18:13] deivid-rodriguez commented on #3629
Oh, sorry, yeah, I forgot about the other part! :sweat_smile:

Yes, I believe we can remove that and it makes sense that it fixes your issue since that way, your `psych.rb` will be the one used and `psych` will never be activated as a gem. Let me open a PR and see what CI says.

[2020-05-18 19:21] #3131 closed

[2020-05-18 22:35] lamont-granquist commented on #3631
That code works and is much faster, but its still not quite accurate.

I threw some debugging in there and I'm still seeing the loop going through this bit of my $LOAD_PATH:

[code]

First line is the binstub itself, second like is from an `-I/foo/bar` I threw in the binstub, then there's a few very non-default gems that shouldn't be in that list.  That isn't truncated so there's only 17 extras co

[2020-05-18 23:22] lamont-granquist commented on #3631
Yeah there's 15 `extensions` directories, plus this one:

[code]
And must be one more that I'm missing.

[2020-05-18 23:25] lamont-granquist commented on #3631
yeah this one:

[code]

that's one of ours, i'm going to have to fix that one, that's terrible.

[2020-05-18 23:31] deivid-rodriguez commented on #3631
Wow, thanks for the investigation!

So I was indeed missing something: the fact that some gems add more than one path to the `$LOAD_PATH` when they get activated.

But it should be fixable, I'll give it a try tomorrow! :+1:

[2020-05-19 00:28] lamont-granquist commented on #3631
So yeah the only other thing is that binstub line that comes first, that's duplicated with the active gem later.  That seems correct to me though.  That is technically "manually" added to the LOAD_PATH by the binstub, and should be loaded at a higher priority than the `-I` flags, and higher priority than any rubygems or internal gems (i think).

[2020-05-19 03:15] #3629 closed

[2020-05-19 03:55] bronzdoc commented on #3628
Couldn't reproduce this. Seems like `libsystem_network.dylib` is no longer present in newer Mac OS. Try re installing ruby?

[2020-05-19 06:33] Schnodderbalken commented on #3628
@bronzdoc thank you.  Unfortunately I already tried reinstalling ruby (the currently installed version is the newest available version in homebrew) - no success. In fact, I have already spent countless hours on that issue.
I think the most interesting question would be, which part (ruby? gems? libffi? clang) wants to access the `libsystem_network.dylib`. As you correctly stated, this lib hasn't be

[2020-05-19 08:37] junaruga commented on #3629
@deivid-rodriguez Thanks for your help! I am so happy your PR was merged.

Now for the following part, the part makes same error. Can we remove the line too just in case?

[code]

[code]

[code]

[2020-05-19 09:18] deivid-rodriguez commented on #3629
That one would sound harmless to me too. We have explictly tests to make sure that end users can choose their `psych` version through the `Gemfile`, so should be fine. Feel free to propose a PR :)

[2020-05-19 09:33] deivid-rodriguez commented on #3628
Hi @Schnodderbalken, this is most likely not a problem in `rubygems`, but in either the `ffi` gem or your `ruby` installation.

I found [this thread in the `ffi` repo](https://github.com/ffi/ffi/issues/653), which has a couple of posts with a lot of :heart:, :+1: and :rocket: reactions, so I recommend that you go carefully through it and you'll hopefully be able to fix your issues.

I'm going to c

[2020-05-19 09:33] #3628 closed

[2020-05-19 09:51] deivid-rodriguez commented on #3628
Actually, the thread I linked to does not mention `libsystem_network.dylib` so it might not be helpful to you :(, sorry.

[2020-05-19 09:54] simi commented on #3628
I would suggest to remove all gems or reinstall (`gem pristine --all`).

[2020-05-19 10:07] deivid-rodriguez commented on #3628
I've heard this kind of problem on MacOS before and it was due to `brew` being configured to use a specific version of a system library, but your ruby being linked against another. For example, this stackoverflow thread explains how to fix a similar issue for `readline` using `brew switch` or directly adding the proper symlinks: https://stackoverflow.com/questions/21488778/library-not-loaded-usr-l

[2020-05-19 10:27] Schnodderbalken commented on #3628
@simi I tried your suggestion but the problem persists.

@deivid-rodriguez but wouldn't this also be resolved by completely reinstalling homebrew's `ruby`and `ruby-build`? Just tried that. Does not make a difference. Or is there any other way to completely reset linking in that regard?

I also made a search on my hard drive for `libsystem_network.dylib`. Found an occurrence somewhere iOS Simulator

[2020-05-19 10:29] deivid-rodriguez commented on #3628
I'm not sure @Schnodderbalken, sorry. I don't have a MacOS machine, so I'm not of much help. The stuff I know is only from user reports like yours. I wish I could be of more help.

[2020-05-19 10:43] Schnodderbalken commented on #3628
Do you know if it's safe to uninstall the whole RubyGems package? Or does the system in any way depend on it being installed? I would like to reset the whole Gems package without having to completely reset my OS.

[2020-05-19 11:03] deivid-rodriguez commented on #3628
I'm not sure what you mean. Tell me which command you intend to run and I can tell you my opinion on how safe it is.

[2020-05-19 12:37] deivid-rodriguez commented on #3631
I pushed an initial attempt here: https://github.com/rubygems/rubygems/compare/require_perf_regression, in case you want to give it a try. Will look into adding a test for it, but if you can double check the patch I appreciate it.

[2020-05-19 12:55] deivid-rodriguez commented on #3620
Honestly, I don't see much value in keeping this issue opened since... it can never be closed! There will always be room for making the code base more consistent and for using more performant code styles.

I think we should close it and open specific tickets to discuss specific styles or rules separately.

[2020-05-19 13:13] Schnodderbalken commented on #3628
I just thought it might help to somehow remove the RubyGem application along with all of its configuration (like linked libs) from the system and reinstalling it.
I am just trying to erase that part on my system that has a dependency on that outdated dylib.

However, I can't figure out how to do that. If i put in `which gem` it tells me this:
[code]

[2020-05-19 13:19] deivid-rodriguez commented on #3628
That's interesting because you said you installed ruby via `homebrew` but that sounds like an `rvm`-installed `ruby`. So you can try removing `rvm` completety. I don't recall how you go about uninstalling `rvm` completely but you can probably find steps online.

[2020-05-19 13:22] Schnodderbalken commented on #3628
Yes, I am also confused.
I managed to uninstall rvm. I also uninstalled ruby via homebrew. However, if I use
[code]
I still get the same feedback.

[2020-05-19 13:24] deivid-rodriguez commented on #3628
So where does `gem which` shows now? Is it an actual file and not a bash function?

[2020-05-19 13:25] deivid-rodriguez commented on #3628
If it still shows the function even when restarting your shell, that means there's still traces of `rvm` somewhere.

[2020-05-19 13:27] MarcoCostantini commented on #3620
No, I there are exactly 44 suggestions by rubocop and 11 suggestions by fasterer (some of them are the same but in different places). You can consider each of them, decide whether to accept or to reject, and thereafter close this issue.

[2020-05-19 13:32] deivid-rodriguez commented on #3620
That's because of the cops you're using to run `rubocop`. If you use [our configuration](https://github.com/rubygems/rubygems/blob/e8a42235fea08242682a2c6be6399e700cdca10a/.rubocop.yml#L1), you'll get 0 offenses. At any given time, you can always run rubocop against any repository using a configuration that will show many issues.

[2020-05-19 13:36] MarcoCostantini commented on #3620
What about the suggestions by fasterer?

[2020-05-19 13:40] deivid-rodriguez commented on #3620
We don't currently use `fasterer` but a similar thing applies in my opinion. There will always be a specific code checker that you can run against any repository and that will show offenses. That's not an issue per se.

If we think there's specific checks that we like about `fasterer` that warrants that we start using it, we can add it, but I think it should be discussed as part of a separate issu

[2020-05-19 13:43] Schnodderbalken commented on #3628
Now I am told
[code]
when I ask `which gem`

[2020-05-19 14:04] deivid-rodriguez commented on #3628
Great. So perhaps you can try reinstalling `brew` ruby now?

[2020-05-19 14:10] junaruga commented on #3629
I open the PR here. Let's see what CI says.
https://github.com/rubygems/rubygems/pull/3638

[2020-05-19 15:04] Schnodderbalken commented on #3628
After having installed ruby via homebrew `which gem` returns:
[code]

however, this does not affect the above mentioned issue.
You're probably right and it may not be an issue of RubyGems. Anyways, I would really like to know where the dependency on this particular dynamic library comes from (if not from RubyGems). Also, why does `system_libffi_usable` throw a RuntimeError because `brew list` inde

[2020-05-19 15:17] deivid-rodriguez commented on #3628
I made a google search for this and it pointed me here: https://github.com/NixOS/nix/issues/2244. It sounds like an OS issue? :/

[2020-05-19 15:59] fmonvoisin opened #3640 "SSL verification error - certificate not valid since update on 15th May 2020"
I'm having a problem with rubygems certificate update since 15th may 2020

My current problem is to update gem on centos

This issue is related to:

  - [x] Network problems
  - [ ] Installing a library
  - [ ] Publishing a library
  - [ ] The command line `gem`
  - [ ] Other

Here are my current environment details:
OS : CentOS
[code]

I will abide by the [code of conduct](https://github.com/ruby

[2020-05-19 17:48] MSP-Greg commented on #3640
I tried to repo, and using Ruby 2.7.1 and OpenSSL 1.1.1g, everything worked fine.  Please see:

https://bundler.io/v2.0/guides/rubygems_tls_ssl_troubleshooting_guide.html#automated-ssl-check

The command listed should probably be changed to:
[code]

If you're still having problems, the top section of output ('Here's your Ruby and OpenSSL environment:') would be needed to see what your issue is...

[2020-05-19 18:04] indirect commented on #3640
@MSP-Greg I just realized that using Ruby to download a script to diagnose SSL issues... from GitHub, over SSL... is maybe not the best idea. I think it should probably be changed to:

[code]

[2020-05-19 18:10] fmonvoisin commented on #3640
[code]

[2020-05-19 18:12] MSP-Greg commented on #3640
@indirect

Agreed.  IF RG/Bundler is broke, likely that Ruby is also.  That command may not work for Windows users, I'll see if I can write a PowerShell command for it.

BTW, 'https://git.io/vQhWq' is from your fork of ruby-ssl-check?

[2020-05-19 18:15] indirect commented on #3640
@MSP-Greg my fork is actually the original, transferred to rubygems. https://github.com/indirect/ruby-ssl-check redirects to https://github.com/rubygems/ruby-ssl-check now. ¯\_(ツ)_/¯

[2020-05-19 18:16] MSP-Greg commented on #3640
@fmonvoisin

[code]

JFYI, OpenSSL 1.0.2 is EOL and stopped at 1.0.2u, so your system is a bit outdated.  Also, I've never worked with the OpenSSL 'fips' releases, especially given that your Ruby was compiled with a standard (non fips) release.  Can you update your system to OpenSSL 1.0.2u?

[2020-05-19 19:35] andrewlynch opened #3641 "Could not find a valid gem 'bundler' (= 2.1.4), here is why: Unable to download data from https://rubygems.org/ - timed out (https://rubygems.org/specs.4.8.gz)"
I'm having a problem

My current problem is that I can't deploy a rails app into production with Docker on AWS.
Sometimes half of the gems will install but, with other builds, it's not even possible to install bundler.

`Could not find a valid gem 'bundler' (= 2.1.4), here is why: Unable to download data from https://rubygems.org/ - timed out (https://rubygems.org/specs.4.8.gz)`

`Gem::RemoteFetch

[2020-05-20 02:10] hsbt commented on #3620
I agree with @deivid-rodriguez . There is no strong reason to use them because the result is nit-picking for us.

[2020-05-20 02:10] #3620 closed

[2020-05-20 18:55] grosser opened #3642 "Bundler homepage needs to link here"
https://bundler.io/doc/troubleshooting.html links to the archived bundler repo and nobody can open issues

[2020-05-20 18:59] grosser opened #3643 "Bundler: BUNDLE_DISABLE_MULTISOURCE changes the Gemfile.lock + breaks deployment mode"
without BUNDLE_DISABLE_MULTISOURCE all gems are under a single source
with BUNDLE_DISABLE_MULTISOURCE gems are split into different sources

... prefer to always use the same approach so users do not run into merge conflicts and deployment mode install does not fail

workaround is using this at the top of the Gemfile:
[code]

[2020-05-20 19:13] lamont-granquist commented on #3640
"not valid until 2020-05-15T14:31:03Z"

is the time set wrong on the host?

[2020-05-20 19:37] deivid-rodriguez commented on #3631
FInal PR is #3639!

[2020-05-21 00:16] dsisnero commented on #3347
I have same problem.  ruby on windows- nokogiri
bundle config build.nokogiri --use-system-libraries
I need option
bundle  config build.nokogiri --use-system-libraries --platform=ruby

[2020-05-21 00:20] da-development-id opened #3644 "Certificates expiring"
I'm having a problem or would like to suggest a feature.

My current problem is some of your certificates in the package are expiring.

This issue is related to:

  - [ ] Network problems
  - [ ] Installing a library
  - [ ] Publishing a library
  - [ ] The command line `gem`
  - [ X ] Other

Some of the certificates are expiring:
AddTrustExternalCARoot.pem

[2020-05-21 01:38] MSP-Greg commented on #3644
Yes, it does expire at May 30 10:48:38 2020 GMT, but I can't find anywhere that it's used?

One commit to it (see [history](https://github.com/rubygems/rubygems/commits/master/lib/rubygems/ssl_certs/rubygems.org/AddTrustExternalCARoot.pem)), https://github.com/rubygems/rubygems/commit/e2c71b2, from Apr 16, 2016, and it was renamed with no changes to other lib or test files.

Maybe delete the file?

[2020-05-21 04:47] camertron opened #3646 "Gem is installed for wrong platform when declared only in the gemspec"
1. Do you have a reproduction script?

See the result of `bundle env` below.

2. What are you trying to accomplish?

I'm trying to install a platform-specific gem, `helm-rb`, via a gemspec on my Mac.

3. What command did you run?

`bundle install`

4. What were you expecting to happen?

I expected bundler to install helm-rb-0.1.0-x86_64-darwin.

5. What actually happened?

Bundler installed helm-r

[2020-05-21 08:21] #3365 closed

[2020-05-21 11:50] voxik opened #3647 "`require` changes behavior comparing to plain Ruby"
[code]

I have mentioned this test first time in \[[1]\] and this might be very well duplicate or resolved by #3131 or #3491. I just think this is nice and clean example which would be worth of its test case, because RubyGems should not modify the behavior of original Ruby `require` method in this way.

[1]: https://bugs.ruby-lang.org/issues/16904#note-8

[2020-05-21 11:59] deivid-rodriguez commented on #3647
Thanks! I confirm this is still an issue even with #3639 applied, so I'll have a look at it.

[2020-05-21 14:13] jessereynolds commented on #3176
I am encountering the same issue with bundler 1.17.3 and 2.1.4 when executing in a ruby:2.5.8 docker container on Ubuntu 18 with kernel 4.15.0-101-generic. The same project does **not** exhibit the error on an equivalent container built and run on CentOS 7 with kernel 3.10.0-1127.el7.x86_64.

[code]

This is running in a gitlab-ci runner. Here's the full output of the job:

[code]
Bundler       2.

[2020-05-21 14:20] deivid-rodriguez commented on #3176
This happening inside docker sounds like you may be able to provide a repro? :)

[2020-05-21 14:35] jessereynolds opened #3649 "ArgumentError: could not find a temporary directory"
# Error Report

I am encountering the following issue with bundler 2.1.4 and 1.17.3 when executing in a ruby:2.5.8 docker container on Ubuntu 18 with kernel 4.15.0-101-generic. The same project does not exhibit the error on an equivalent container built and run on CentOS 7 with kernel 3.10.0-1127.el7.x86_64.

## Questions
Please fill out answers to these questions, it'll help us figure out
why thi

[2020-05-21 14:39] deivid-rodriguez commented on #3649
Could you create repro steps inside a docker container so that this can be reproduced independently of your environment? Thanks!

[2020-05-21 14:40] deivid-rodriguez commented on #3649
Or point to a public repo where this reproduces.

[2020-05-21 14:41] jessereynolds commented on #3176
@deivid-rodriguez Yeah I can work on that. Should be fairly straightforward.

[2020-05-21 14:42] deivid-rodriguez commented on #3176
Nice! That would be super helpful, I appreciate it.

[2020-05-21 14:43] deivid-rodriguez commented on #3176
Since in the new ticket it sounds like we might get a repro, I'll close this ticket in favor of #3649.

[2020-05-21 14:43] #3176 closed

[2020-05-21 14:43] jessereynolds commented on #3649
@deivid-rodriguez yep will do. I think it will matter what version of the linux kernel, or linux distro, your docker server is running on, or something environmental on the host.

[2020-05-21 14:43] eregon opened #3650 "Making require "rubygems/package" work reliably"
[code]

On Ruby 2.6.6:
[code]
Same on 2.7.1 (RubyGems 3.1.2).

Some few gems directly `require "rubygems/package"` (~78 gems with `csearch 'require "rubygems/package"' | wc -l`).
For example https://github.com/appsignal/appsignal-ruby/blob/v2.3.4/ext/extconf.rb

This works on MRI without the `--disable-gems` flag by "luck" due to MRI defining an empty `Gem` module as a way to remember "I should `r

[2020-05-21 15:28] jessereynolds commented on #3649
@deivid-rodriguez well I have this repo that I use to build the container, and then GitLab CI is executing tests from its .gitlab-ci.yaml which is breaking on the ubuntu 18 server. I also noticed that the gitllab-runner version is 13.0.0, whereas the working one on my CentOS host is 12.10.1 so that could be to do with it also.

So, I think this will be reproducable on the current gitlab-runner 13.

[2020-05-21 15:33] eregon commented on #3650
FWIW I found a workaround in TruffleRuby by always ensuring `require "rubygems"` is done before `require "rubygems/deprecation"`. So this is not urgent. But it sounds good to address.

[2020-05-21 17:02] deivid-rodriguez commented on #3650
@eregon I'm good with your proposal. We don't have a list of allowed entrypoints, so I'd rather fix this only for `rubygems/package` to not give the false impression that everything can be required directly.

[2020-05-22 01:03] jessereynolds commented on #3649
OK this looks to definitely not be a bundler issue as I'm also getting the error doing this in the same container:

[code]

/tmp mount point:

 /dev/sda2 on /tmp type ext4 (rw,relatime,data=ordered)

A little more debugging... this script:

[code]

produces:

[code]

Those are the tests of a tmpdir's acceptability in Dir.tmpdir in ruby 2.5.x as per:

[code]

So it's the fact that /tmp is both worl

[2020-05-22 01:03] #3649 closed

[2020-05-22 01:32] jessereynolds commented on #3649
My workaround is to set `TMPDIR` env var to `/var/tmp` for all pipelines on the new gitlab 13 runner.

[2020-05-22 02:26] jessereynolds commented on #3649
Created an issue against gitlab runner https://gitlab.com/gitlab-org/gitlab-runner/-/issues/25799

[2020-05-22 03:38] kbrock commented on #1811
Hi @AlexEvanczuk

It sounds to me that you need the shim unless at runtime `sorbert-runtime` is available.
I'd make `sorbert-shim` a dependency, because that has to be around, and then at runtime I'd load `sorbert-runtime` and rescue `LoadError` and require `sorbert-shim`.

[2020-05-22 08:56] deivid-rodriguez commented on #3649
Wow, nice investigation. I believe an issue should also be reported to https://github.com/ruby/tmpdir to print a better error message in this case.

[2020-05-22 10:34] chriszo111 commented on #3126
I had the same issue, the location of ruby was `E:\Program Files\Ruby26-x64`. After I tried installing all gems, bundler exited:
[code]
When I moved it to `E:\Ruby26-x64` bundler installed all gems without issues.

[2020-05-22 11:06] #3493 closed

[2020-05-22 12:42] #3306 closed

[2020-05-22 14:14] AlexEvanczuk commented on #1811
Thanks @kbrock -- I linked a comment above where I did exactly that.

However, this approach has a lot of downsides that bundler can solve.  Namely, this approach is sort of "lying" to the client, since the client typically expects the `Gemfile.lock` to comprehensively describe the 3rd party dependencies of a library. If we had the optional dependency feature, then either `sorbet-runtime-stub` or

[2020-05-22 14:44] simi commented on #1811
1. I think this should be moved to https://github.com/rubygems/rfcs/issues
2. As mentioned, there are already ways how to use "optional" dependencies (even with version contraints) in runtime+ for example with `gem` + `rescue Gem::LoadError` combo. I think good start would be to contribute that to RubyGems guides.

[2020-05-22 18:57] AlexEvanczuk commented on #1811
@simi
I created an RFC there: https://github.com/rubygems/rfcs/issues/27

In that RFC, I listed some issues with (2). I'm concerned with those issues enough that I'm not sure it would be best to recommend that -- I listed some of those reasons in the RFC.

[2020-05-22 20:26] #3404 closed

[2020-05-23 04:18] makevoid opened #3654 "`bundle install` thinks that version 0.0.0 is higher than 0.1.x"
A gem author published a gem version "0.0.0" of one of his gem and I noticed that even if `gem install gemname` installed the latest version correctly, `bundle`, based on the Gemfile contents, always tried to install "0.0.0".

#### steps to reproduce:

- Publish a gem with version "0.0.0" and then bump the version (e.g. to "0.1.0") and push that version as well

- Create the following Gemfile:

[c

[2020-05-23 15:03] dotnetCarpenter commented on #3068
Many people suggest downgrading to 3.0.6 but while it's a genuine advise that fixes the issue, it's a bit dated. Please take a look at [the current available versions](https://rubygems.org/gems/rubygems-update/versions) and then downgrade to the latest 3.0 version.

As of writing, the current version 3.0 is `3.0.8` and **not** 3.0.6 (released August 16, 2019).

`gem update --system 3.0.8` - releas

[2020-05-23 18:39] RoMi67 commented on #3647
Idk

[2020-05-24 08:42] #3491 closed

[2020-05-24 08:42] #3631 closed

[2020-05-24 08:42] #3647 closed

[2020-05-24 21:05] paulriddle commented on #3641
It is possible the problem is on your end. Take a look at https://github.com/rubygems/rubygems/issues/3006. I've just run into the same issue and restarting router has helped. Something was wrong with estabilishing IPv6 connections. Perhaps there is a way to force IPv4 via some `gem` option?

[2020-05-25 10:30] deivid-rodriguez commented on #3594
After discussion with @indirect, we agree that what would make most sense here is to use the `Retry-After` response header and sleep for the suggested number of seconds.

[2020-05-25 13:02] deivid-rodriguez commented on #3654
Hi @makevoid! I don't seem to be able to repro this. I used the [ajp-rails](https://rubygems.org/gems/ajp-rails) gem which had given us trouble in the past and things seem good. What bundler version are you using?

[2020-05-25 15:13] deivid-rodriguez commented on #3654
Also, from your sample output, you _already_ had 0.0.0 installed, so it seems like bundler picked it up because it satisfied the requirements.

[2020-05-25 20:28] indirect commented on #3594
yep! and if we get a 429 with no retry-after, waiting 1-2s and trying again seems better than falling back to the v1 api 👍🏻

[2020-05-26 04:31] #3454 closed

[2020-05-27 07:32] makevoid commented on #3654
try with `hanami-api`, 0.0.0 is still published

my bundle installation output:
[code]

using this gemfile:

[code]

weird :D

---

after your comment I thought it was RVM so I tried with latest ruby, dockerized, and I get the same behaviour:

Dockerfile
[code]

docker-compose.yml
[code]

command:
[code]

[2020-05-27 09:21] deivid-rodriguez commented on #3654
I still can't repro.

My guess is that your local docker image is not using 2.7.0 (`docker pull ruby` should fix it), and you're not using ruby 2.7.0 locally either. Since version `0.0.0` of `hanami-api` is the only published version of this gem supporting rubies other than 2.7.0, it's getting correctly picked up in these cases. See the "required ruby version" section of https://rubygems.org/gems/

[2020-05-27 16:03] deivid-rodriguez opened #3662 "Improve `SharedHelpers.major_deprecation`"
We currently use this helper for deprecation messages. You pass a major version and a deprecation message to it and it will display the deprecation warning if running that major version. That works well.

For example.

[code]

will print the warning

when running bundler 2.

However, the helper will also _fail_ with the same message when running higher versions of bundler. For example, if running

[2020-05-27 23:39] eregon commented on #3451
This looks like the typical race in WEBrick during shutdown, where both the server thread and the thread calling `shutdown` try to close the same pipe, which can result in EBADF. On MRI it's an IOError instead because the GIL enforces `close` to happen on after another.

I think we need to fix this in webrick upstream, that shutdown pattern seems fundamentally broken.

cc @ioquatix who also saw th

[2020-05-28 13:13] hlascelles opened #3664 "Programs using "bundle ruby" start slower with proprietary gemspec licenses"
We have discovered that specifying a proprietary license in a gemspec causes `bundle ruby` programs to start slower. This happens independently of platform, bundler or ruby version.

This issue is related to:
  - [x ] Other

[code]

I will abide by the [code of conduct](https://github.com/rubygems/rubygems/blob/master/CODE_OF_CONDUCT.md).

## Problem description

We have a large monorepo with 50+

[2020-05-28 13:51] hlascelles opened #3665 "Clarify proprietary gemspec license guidance"
I would like to get a brief clarification on what license should be applied to internal gems. This came out of this investigation: https://github.com/rubygems/rubygems/issues/3664. I will abide by the [code of conduct](https://github.com/rubygems/rubygems/blob/master/CODE_OF_CONDUCT.md).

We have a large monorepo with dozens of private gems. Each has a gemspec. Everything is closed source (though

[2020-05-28 14:55] deivid-rodriguez commented on #3665
In my opinion, what the gemspec guidelines say seems sensible and unless that poses problems for you, not specifying a license should work.

[2020-05-29 09:50] hlascelles commented on #3665
Good stuff, thanks!

[2020-05-29 09:50] #3665 closed

[2020-05-29 10:01] deivid-rodriguez commented on #3664
Hi @hlascelles! Thanks for reporting this ticket!

My preferred solution for this would be 2). I was looking at the validation code in `rubygems` and I see there's a `packaging` argument to `Gem::Specification#validate`:

https://github.com/rubygems/rubygems/blob/82a440aea93909f0d191e4256486589aa946414b/lib/rubygems/specification.rb#L2567-L2581

In my opinion, validation _warnings_ should only app

[2020-05-29 15:17] ErikHumphrey commented on #3251
It looks like the [original card](https://trello.com/c/1pBNHD98/99-remove-binstubs-option-document-using-the-bundle-binstubs-command-instead) for this issue mentioned an `--all` option, but it didn't make it in.

[2020-05-29 15:29] deivid-rodriguez commented on #3251
Actually `bundle binstubs --all` [is implemented](https://github.com/rubygems/bundler/pull/6450), and works!

We need to fix both the documentation and the deprecation message.

[2020-05-30 00:03] hsbt commented on #3269
Maybe I will release it in this summer.

[2020-05-30 01:42] philomory commented on #3298
Is there a suggestion for how to work around this in the meantime? I'm using the `ruby:2.7-alpine` Docker image as my base image, and after my code runs `Bundler.setup`, I'm completely unable to load any gems; for example, I see this:

[code]

If I add the following to the top of my Dockerfile:
[code]
... it changes the installation path to e.g. `/ruby/2.7.0/gems/aws-sdk-dynamodb-1.48.0`, but, the

[2020-05-30 19:10] gokulkarthick commented on #3644
I'm too facing the same issue from May 30 10:48:38 2020 GMT,

But curl -Lks 'https://git.io/rg-ssl' | ruby  - passed,

Still am getting OpenSSL::SSL::SSLError (SSL_connect returned=1 errno=0 state=error: certificate verify failed (certificate has expired))

[2020-05-30 23:29] makevoid commented on #3654
you're right! I should have noticed :)! thanks!
btw I tried checking multiple versions (instead of of `:latest` I tried the following docker tags and found that on 2.7s it works)

on these versions it works:

[code]

on these instead it picks up 0.0.0 as latest gem version:

[code]

I guess that people should just unpublish the v. 0.0.0 of their gem as it's an edge case :)

[2020-05-31 05:08] bronzdoc commented on #3616
@ioquatix

Re funding uri:
That gemspec field is already in master but not yet released https://github.com/rubygems/rubygems/pull/3060

Regarding the layout changes in  rubygems.org, can you open the this issue in https://github.com/rubygems/rubygems.org ? thanks!

[2020-05-31 08:14] deivid-rodriguez commented on #3654
Hei @makevoid! Thanks for the feedback!

Note that this is unrelated to version "0.0.0". Bundler is just doing what it's supposed to.

Version 0.0.0 of this gem supports all rubies, while version 0.0.1 and 0.1.0 only support ruby 2.7. This is the gem author's choice. Bundler is just respecting that by choosing the latest version if you are on ruby 2.7, or 0.0.0 otherwise.

[2020-05-31 10:21] makevoid commented on #3654
ah I reread your comment and you mentioned it before, then I guess we can close the issue, no bugs ^^

[2020-05-31 13:57] ioquatix commented on #3616
Should we close this issue?

[2020-05-31 13:58] #3616 closed

[2020-05-31 15:16] #3654 closed

[2020-05-31 15:58] neonishu commented on #3284
This worked absolutely fine.
Rails: 6
Ruby: 2.7
Spree: 4.1

[2020-05-31 16:02] deivid-rodriguez commented on #3284
Note that the fix for this issue was released with `rubygems 3.1.3`, so currently just upgrading rubygems should fix it (`gem upgrade --system`).

[2020-06-02 09:13] deivid-rodriguez opened #3675 "Forbid incompatible dependency specifications for the same gem"
We should forbid incompatible dependency specifications for the same gem, because they mean the gem won't be installable:

For example,

[code]

is currently allowed, but I believe it should raise a validation error.

[2020-06-02 09:17] deivid-rodriguez opened #3676 "Warn duplicated dependency specifications"
I believe we should show a warning when building gems with duplicated dependency specifications, such as

[code]

Because they might indicate a typo.

Also, although probably trickier to fix in general, we could also warn redundant dependency specifications, such as

[code]

[2020-06-02 14:57] #3664 closed

[2020-06-02 18:48] morgant commented on #3644
I am running into this as well. The aforementioned SSL check script passes, but I'm getting OpenSSL "certificate verify failed" errors.

[2020-06-02 19:32] MSP-Greg commented on #3644
@gokulkarthick @morgant

It would be helpful if you posted the output...  Not a lot to go on without it.

[2020-06-03 03:45] p-mongo opened #3680 "Verify gem signature"
I would like to verify that a gem file is signed.

The [documentation](https://guides.rubygems.org/security/) only mentions being able to require that signatures are verified during gem installation, however I would like to verify a particular file without installing it (thus bypassing both the danger of installing a different version and the problems having to do with the gem's dependencies).

Ho

[2020-06-03 05:12] cussiol commented on #2907
`--silent` flag still does not work for rubygems 3.1.3. Just like `--quiet` and `--no-post-install-message` aren't working either.

[2020-06-03 05:18] rishabh-gupta-boop commented on #3068
just delete the file "/usr/lib/ruby/vendor_ruby/rubygems/defaults/operating_system"

step1 : rm -r /usr/lib/ruby/vendor_ruby/rubygems/defaults/operating_system
step2 :  #go to the gemfile location
step3: bundle install

##it works for me###

[2020-06-03 08:20] simi commented on #3269
3.1.4 was released - https://blog.rubygems.org/2020/06/03/3.1.4-released.html fixing this problem.

You can update by running `gem update --system 3.1.4`.

I think this can be closed.

[2020-06-03 08:29] simi commented on #2984
3.1.4 was released - https://blog.rubygems.org/2020/06/03/3.1.4-released.html fixing this problem.

You can update by running `gem update --system 3.1.4`.

I think this can be closed.

[2020-06-03 08:30] simi commented on #3094
:information_source: 3.1.4 was released - https://blog.rubygems.org/2020/06/03/3.1.4-released.html fixing this problem.

You can update by running `gem update --system 3.1.4`.

[2020-06-03 08:54] #2984 closed

[2020-06-03 08:54] #3269 closed

[2020-06-03 11:27] deivid-rodriguez commented on #2907
Sorry I never replied to this, but from what I remember from this part of the code, this seems like it would work. I tend to recall using the same thing for the `--force` flag, but not fully sure. Would you like to put together a PR?

[2020-06-03 12:12] deivid-rodriguez commented on #3392
Actually I gave this another thought and I think the error hidden error that was fixed by #3669 was the error itself that the failing spec was expecting. Which means #3669 actually fixed this flaky failure.

So I'm going to tentavitely say "closed by #3669". Will reopen if it reappears.

[2020-06-03 12:12] #3392 closed

[2020-06-03 16:11] deivid-rodriguez commented on #3105
Closing since I just noticed this is a duplicate of https://github.com/rubygems/rubygems/issues/3451.

[2020-06-03 16:11] #3105 closed

[2020-06-03 16:13] deivid-rodriguez commented on #3568
The failure in the previous comment was fixed by #3590. The failure in the initial post hasn't happened again, so I'm going to assume it's fixed. Will reopen if it happens again.

[2020-06-03 16:13] #3568 closed

[2020-06-03 18:29] #3650 closed

[2020-06-03 19:07] joehorsnell opened #3683 "Using Bundler.setup with groups to control the load path not working?"
I confirm the following:

- [x] You checked all the following documents and couldn't find a solution for your issue:

1. Do you have a reproduction script?

Inline below.

2. What are you trying to accomplish?

To control the gems that Bundler makes available on the load path by passing arguments to `Bundler.setup`, as described in the docs on [groups](https://bundler.io/v2.0/guides/groups.html) a

[2020-06-03 21:11] quinn opened #3684 "Retrying fetcher due to error (2/4): Bundler::HTTPError Could not fetch specs from https://rubygems.org/"
I'm having a problem or would like to suggest a feature.

My current problem is connections to rubygems.org timeout.

This issue is related to:

  - [x] Network problems
  - [ ] Installing a library
  - [ ] Publishing a library
  - [ ] The command line `gem`
  - [ ] Other

Here are my current environment details:

[code]

I will abide by the [code of conduct](https://github.com/rubygems/rubygems/b

[2020-06-03 22:09] quinn commented on #3684
is this an ipv6 problem?

[2020-06-03 22:29] quinn commented on #3684
it started working :shrug:

[2020-06-03 22:29] #3684 closed

[2020-06-04 08:02] Rubix982 opened #3686 "More so related for Linux file permission than Bundle - chown sudo warning"
# Please read this first

I know this is not entirely related to bundler, but this is just a warning against running scripts you find on the internet/github. Please remove this issue or archive it, whatever, I just felt a strong obligation to warn others here to not take for granted some solutions.

# Context

What was the issue?
I'm a user very new to jekyll / bundler / ruby and wanted to setup a

[2020-06-04 10:14] deivid-rodriguez commented on #3448
This issue keeps happening, and I'm not sure what to do about it. It seems like a race condition on `STDOUT`, specific to Windows. And it happens somewhat frequently on `bundle install`'s using `GIT` sources. I'm wondering if we should switch back the default of `bundle install` to a single thread on Windows.

[2020-06-04 11:11] brilnius commented on #3284
You mean `gem update --system` (instead of upgrade) I presume

[2020-06-04 11:13] deivid-rodriguez commented on #3284
Yes, sorry!

[2020-06-04 11:13] deivid-rodriguez commented on #3284
Edited, thanks for letting me know!

[2020-06-04 16:02] gokulkarthick commented on #3644
I have updated the new CA SSL Certificate and everything is working fine @MSP-Greg

[2020-06-05 00:28] p-mongo opened #3690 "bundler fails to install dependencies due to broken(?) requirements in an old version of ffi"
Our ruby-head builds just now started failing with the following error:

<pre>
There was an error parsing the metadata for the gem ffi (1.9.16): Gem::Requirement::BadRequirementError
Illformed requirement ["< 2.5&>= 2.0"]
The metadata was [["checksum", ["944535ac60044c04ea8c06f64e2beaa1addf69b26df957c8c359ff231f57ce71"]], ["ruby", ["< 2.5&>= 2.0"]]]
</pre>

Full log with --verbose: https://gist.gi

[2020-06-05 02:29] p-mongo commented on #3690
Also affected: [ZenTest](https://ci.appveyor.com/project/p-mongo/bson-ruby/builds/33329096/job/evmuou6jtrwpnmgb)

[2020-06-05 07:07] indirect commented on #3690
Thank you for reporting this! We are in the process of a coordinated change to both RubyGems.org and Bundler/RubyGems at the same time. The exception you mention has been fixed in https://github.com/rubygems/rubygems/pull/3663, which is merged to the Bundler/RubyGems master branch, but not yet merged into ruby-head.

Once ruby-head pulls the latest from rubygems/rubygems, everything should be func

[2020-06-05 07:07] #3690 closed

[2020-06-05 09:24] DonPiotr opened #3691 "Gem's operations from code"
Hi!

My current problem is:
I want to uninstall/install gem directly from ruby code.
In particular from Rakefile.

My code is:
task :my_task do
  sh "rm mygem-\*.gem"
  sh "gem uninstall mygem"
  sh "gem build"
  sh "gem install mygem-\*.gem"
end

Can I do it by calling some RubyGems method from ruby code directly without sh?

This issue is related to:
  - [X] Other

[2020-06-05 16:04] joehorsnell commented on #3683
Please let me know if there's any further information you need me to provide - thanks.

[2020-06-06 11:08] eregon commented on #3570
@deivid-rodriguez Do you know when would the next Bundler release go out?
I think I'll have to force Bundler 1 for Ruby 2.3 for `ruby/setup-ruby`, otherwise the `path` cannot be set (https://github.com/ruby/setup-ruby/issues/51) and there is no way to do caching in GitHub Actions (https://github.com/ruby/setup-ruby/issues/52).

[2020-06-06 14:39] deivid-rodriguez commented on #3345
Thanks to @sonalkr132 this has been fixed on the server side, so now all `bundler` versions will make a correct number of requests in this case.

[code]

Thanks for letting us know about this issue!

[2020-06-06 14:39] #3345 closed

[2020-06-06 14:42] deivid-rodriguez commented on #3570
We were waiting on some server side fixes, but we should be good to go now. No fixed date, but should happen soon.

[2020-06-06 14:58] deivid-rodriguez commented on #3683
Hi @joehorsnell!

When you `bundle exec` to a script, `bundler/setup` is getting required under the hood. `bundle exec` essentially means "setup my `$LOAD_PATH` and everything else needed so that I can use them gems specificied in my `Gemfile{,.lock}`, and then `exec` the script".

Since `bundler/setup` will make all the gems in your `Gemfile` requirable by default, and subsequent calls to it do n

[2020-06-06 15:53] eregon commented on #3345
Thanks! I confirm this looks good now :tada:

[2020-06-06 21:21] joehorsnell commented on #3683
Hi @deivid-rodriguez, many thanks for responding.

Yes, this is now obvious in hindsight 🤦‍♂️😳! Thanks.

I understand your suggestion about running ruby directly, but what if you want to run a command, say `rspec`, with the version (and its dependencies) controlled by Bundler, but also control which groups in the Gemfile are made available? That seems like a chicken and egg situation, or is there

[2020-06-06 21:23] indirect commented on #3683
FWIW, the easiest way to get the outcome you're describing is to generate a binstub and then modify it for your needs. For example, `bundle binstubs rspec-core` will generate a `bin/rspec` file that you can then modify to require only the groups you want before rspec is invoked.

[2020-06-06 21:28] joehorsnell commented on #3683
Of course, great suggestion. Thanks @indirect.

Out of interest, did you have an opinion on the `--groups` option for `bundle exec` and the other q?

[2020-06-06 21:36] indirect commented on #3683
I haven't looked into it for quite a while, so this could all be wrong, but: my understanding is that `bundle exec` already respects the existing configured with/without groups, because that is how `bundle/setup` works. So if you use `bundle config without` or BUNDLE_WITHOUT, I _think_ it will let you control what gets put into the load path?

But to be clear, this is not a traditional use-case fo

[2020-06-06 22:35] joehorsnell commented on #3683
Ok, I’ll give that a try. Thanks again 👍

[2020-06-06 22:41] joehorsnell commented on #3683
Ok, thanks. I’ll give that a try 👍.

I guess this must be the mechanism you rely on to ensure, for example, that gems in the test group, like say RSpec, can’t be required in production, accidentally or otherwise?

👍

[2020-06-07 09:41] deivid-rodriguez commented on #3683
@indirect Even if you haven't looked into this for a while, all of your suggestions and comments still make total sense :)

@joehorsnell I believe `bundle config without` or setting the `BUNDLE_WITHOUT` environment variable should indeed do the trick for you!

Yeah, for example.

[2020-06-07 16:52] joehorsnell commented on #3683
Ok, thanks @deivid-rodriguez and @indirect for your help, much appreciated (as are your efforts in general with Bundler!).

I still feel like maybe the Bundler docs, specifically on [groups](https://bundler.io/v2.0/guides/groups.html), [`Bundler.setup`](https://bundler.io/v2.0/guides/bundler_setup.html) or maybe [`exec](https://bundler.io/v2.0/man/bundle-exec.1.html), might benefit from some clari

[2020-06-07 17:07] deivid-rodriguez commented on #3683
Absolutely, super happy to take PRs making our docs better. I had a quickly look at the links you pointed to and they definitely could use clarification. And besides that, they're using deprecated flags, like `--with`, `--without`, or `--binstubs`, which are deprecated in favor or `bundle config set --local with`, `bundle config set --local without`, `bundle binstubs`, respectively.

[2020-06-07 17:22] MSP-Greg opened #3693 "bundle install (with path) - handling of default vs bundled gems"
Working with several repos using Bundler in their CI, I was reminded of some behavior that seems based on Ruby builds' layout from a long time ago, when 'bundled' gems did not exist.

When running `bundle install` with a `path` specified, if a required gem matches a default gem, it is not installed.  If a required gem matches a bundled gem, it is duplicated in the specified path.

Why the duplicat

[2020-06-07 18:00] leimao commented on #3269
Is this expected behavior?
[code]

[2020-06-07 18:16] simi commented on #3269
@leimao it seems you're using system (Fedora?) rubygems. Please update system package instead. That problematic file is not part of rubygems itself and it is out of our control.

https://src.fedoraproject.org/rpms/rubygems/blob/master/f/operating_system.rb

maybe @voxik will be interested in here as well

[2020-06-07 18:19] leimao commented on #3269
Thank you @simi for the prompt reply. I am using Ubuntu 20.04 LTS and I am completely a Ruby noob. Could you please inform me how to update the system package? Is it `sudo gem update --system`?

[2020-06-07 18:30] simi commented on #3269
Ahh, then it is this file - https://salsa.debian.org/ruby-team/rubygems-integration/-/blob/master/lib/rubygems/defaults/operating_system.rb.

Since you're using system Ruby, you should update rubygems via system package manager (`apt` on Ubuntu). I think 3.1.4 Rubygems are not available yet in this distribution channel.

If you would like to use latest rubygems I suggest to install ruby manually f

[2020-06-07 18:33] leimao commented on #3269
Thank you very much for your suggestions @simi. It might be worthwhile to notify the Debian team on Git to upgrade the file accordingly. You have a nice day.

[2020-06-07 19:46] deepj opened #3695 "Remove Eric Hodel as a maintainer and a member due to violating CoC"
Eric Hodel publicly attacked and was very hostile against Bozhidar Batsov on Twitter:

https://twitter.com/bbatsov/status/1269490401054019584

I do not think this person would represent Ruby community and would be removed from rubygems organization.

As an autistic person and non-western person I don't feel being welcome and safe with person like Eric Holder in Ruby community.

[2020-06-07 19:47] deivid-rodriguez opened #3696 "Flaky failure when installing test dependencies on jruby"
We just run into the following super weird CI failure where a `NameError` happens when trying to use a constant, and `did_you_mean` recommends exactly the same constant :raised_eyebrow:

[code]

https://github.com/rubygems/rubygems/runs/747730918?check_suite_focus=true

[2020-06-07 20:05] deivid-rodriguez opened #3697 "Random ruby segfault during specs 😬"
Today I saw ruby segfaulting for the first time in years: https://github.com/rubygems/rubygems/runs/746982601?check_suite_focus=true.

Logging the failures here in case the build stops being accessible at some point:

[code]

It's almost 100% not related to any changes in that branch, since they affect only "bundler 3 mode" and our "Windows" workflow doens't run in bundler 3 mode, so that code tha

[2020-06-07 20:26] simi commented on #3269
@leimao I have opened merge request to fix this at https://salsa.debian.org/ruby-team/rubygems-integration/-/merge_requests/2.

Thanks :) You too.

[2020-06-07 20:30] deivid-rodriguez commented on #3269
Nice, thanks @simi!

I believe it should be easy for us to add a couple of commands in a workflow that run `ruby setup.rb` on debian and fedora docker images and try to startup the installed ruby?

[2020-06-07 20:50] simi commented on #3269
To be honest I think debian and fedora should handle this on their own since they do patch rubygems and the problem is in their patch actually. Also AFAIK they do not officially support using `gem update --system`, since package manager should be responsible for version management.

I was thinking actually about flag for `ruby setup.rb` which will prevent `gem update --system` command with friendl

[2020-06-07 20:53] simi commented on #3269
Also thinking about this, it will make sense to setup some basic gem package (maybe small rails app) and ensure there is no unexpected output made during few most used commands (bundle install, gem install, ...).

[2020-06-07 20:54] deivid-rodriguez commented on #3269
Big irony indeed :facepalm:

I'm also fine with try to prevent `gem update --system` on OS installs, but a high level test on our end would make it easy to detect obvious incompatibilities in well know `operating_system.rb` extensions.

[2020-06-07 21:04] simi commented on #3269
:thinking: Majority of `operating_system.rb` patches are modifying some gem paths. Maybe it would be possible to remove those being able to specify those paths as an argument to `setup.rb`.

[2020-06-07 21:10] deivid-rodriguez commented on #3269
That's an interesting idea :+1:.

In any case, as long as we support loading of custom `operating_system.rb` files, I think it's interesting to make sure that the most common ones can be loaded as part of our CI.

[2020-06-07 23:53] hsbt commented on #3695
Calm down, Please.

[2020-06-08 00:08] hsbt commented on #3269
@leimao You can ignore this error with setting the environmental variable that is `DEBIAN_DISABLE_RUBYGEMS_INTEGRATION` always.

[2020-06-08 00:20] simi commented on #3269
I can confirm `DEBIAN_DISABLE_RUBYGEMS_INTEGRATION=1 gem update --system 3.1.4` bypass this problem.

[2020-06-08 01:59] leimao commented on #3269
@hsbt @simi This trick does work!

[2020-06-08 02:01] #3695 closed

[2020-06-08 02:12] leimao commented on #3269
@hsbt @simi It could not get around the starting of the service. Switch back to 3.1.3 might be a better choice.
[code]

[2020-06-08 04:01] deepj commented on #3277
Closed due to I'm not welcome anymore in Ruby community

[2020-06-08 04:01] #3277 closed

[2020-06-08 07:41] simi commented on #3269
@leimao yes, you would need to make this env. variable persisted. Debian patch was merged, it will be maybe easier for you to rollback to 3.1.3 and wait for rubygems-integration package update done on Debian side (instead of manual update by `gem update --system`). Once shipped, it should be safe to `gem update --system` manually again.

[2020-06-08 21:56] #3683 closed

[2020-06-09 05:23] azamet90 opened #3701 "cannot update gem --system"
I'm having a problem or would like to suggest a feature.

My current problem is _________

This issue is related to:

  - [x] Installing a library
  - [ ] Network problems
  - [ ] Publishing a library
  - [ ] The command line `gem`
  - [ ] Other

Here are my current environment details:

[code]

[code]

[2020-06-09 05:27] hsbt commented on #3701
Same as https://github.com/rubygems/rubygems/issues/3269

[2020-06-09 05:27] #3701 closed

[2020-06-09 05:39] azamet90 commented on #3701
on that link is mentioned to install a package but and this is giving an error:
[code]

[2020-06-09 06:18] Janedoe682 commented on #3701
Update everything

janedoe682

On Tue, 9 Jun 2020 13:23 azamet90, <notifications@github.com> wrote:

[2020-06-09 06:24] azamet90 commented on #3701
Sorry for asking again and again which command with should I do it?

[2020-06-09 06:27] hsbt commented on #3701
This error is not RubyGems's issue. This place is not support forum. https://stackoverflow.com/ may helps you.

[2020-06-09 08:14] simi commented on #3701
@azamet90 just follow that linked case starting this comment https://github.com/rubygems/rubygems/issues/3269#issuecomment-640256341

[2020-06-09 15:30] hruday007 commented on #3068
It works

3.0.6

[2020-06-10 23:51] Edouard-chin opened #3705 "'RUBYOPT' still contain "-r bundler/setup" when using `unbundled_env`"
Hi everyone 👋 , thank you very much for the work on Rubygems/Bundler.

I found out an issue related to `bundle exec` which set the `RUBYOPT` env variables to something like: `-r/opt/rubies/2.7.1/lib/ruby/2.7.0/bundler/setup`

When using `Bundler.with_unbundled_env`, bundler is supposed is to strip out the `-r bundler/setup` part but the regex is incorrect and assume the path is relative whereas it

[2020-06-11 01:32] MSP-Greg opened #3707 "3.2.0.pre1 - Gem.user_dir change?"
[code]

Is this considered a beneficial change?  XDG related?

When 3.2.0 is released, anyone updating to it will see their user installed gems 'disappear'?

I will abide by the [code of conduct](https://github.com/rubygems/rubygems/blob/master/CODE_OF_CONDUCT.md).

[2020-06-11 01:33] hsbt commented on #3707
No, RG 3.2 will fallback `C:/Users/runneradmin/.gem/ruby/2.7.0` if it's exists.

[2020-06-11 01:48] MSP-Greg commented on #3707
I did notice that and I was about to look thru the code.  The above is from Actions, but locally it falls back. But, I do have the 'user bin' folder in path, so I wasn't sure...  Thanks.

Is the change XDG related?

[2020-06-11 01:48] #3707 closed

[2020-06-11 01:49] hsbt commented on #3707
Yes.

[2020-06-11 05:26] mokagio opened #3708 "Calling bundle install with BUNDLE_WITH runtime env var persists it in .bundle/config"
I checked all the following documents and couldn't find a solution for my issue:

- [x] [Troubleshooting common issues](https://github.com/rubygems/rubygems/blob/master/bundler/doc/TROUBLESHOOTING.md)
- [x] [Bundler documentation site](https://bundler.io/)
- [x] [Bundler man pages](https://bundler.io/man/bundle.1.html)
- [x] [Bundler command line reference](https://bundler.io/v2.0/commands.html)

[2020-06-11 08:52] simi commented on #3707
I can confirm it fallbacks to old directory if exists.

[2020-06-11 09:06] deivid-rodriguez commented on #3708
Hi @mokagio! I just read this and it seems like a bug to me, since all my expectations here match yours. I'll try to find some time to repro and hopefully fix it.

[2020-06-11 09:08] deivid-rodriguez commented on #3705
Yes, this seems like a bug to me, thanks for reporting! I'll try to sneak the fix into the next release :+1:.

[2020-06-11 09:34] deivid-rodriguez commented on #3618
@hsbt Have you tried reapplying these changes after https://github.com/rubygems/rubygems/pull/3694? I have a hunch that PR might've fixed it?

[2020-06-11 10:25] deivid-rodriguez commented on #3708
Hi again @mokagio!

So it turns out that this was "accidentally" fixed by https://github.com/rubygems/rubygems/pull/3666. I meant to fix a related but different issue there, but hey, it sounds like the refactoring in there had other nice side effects :)

[2020-06-11 10:38] deivid-rodriguez commented on #3618
Yes, I managed to reproduce the issues of reverting the three commits, and I verified that believe it's the same issue! :tada:

I will make a PR to ruby-core to reintroduce the three reverted commits, and #3694.

[2020-06-11 10:49] Janedoe682 commented on #3618
So how can I resolve this?

janedoe682

On Thu, 11 Jun 2020 18:39 David Rodríguez, <notifications@github.com> wrote:

[2020-06-11 12:57] deivid-rodriguez commented on #3649
Better late than even, I raised an issue about this at https://github.com/ruby/tmpdir/issues/2.

[2020-06-12 01:56] mokagio opened #3712 "f"
Thank you for contributing to the [rubygems](https://github.com/rubygems/rubygems) repository, and specifically to the [Bundler](https://bundler.io/) gem.

Before processing your issue please confirm that:

- [ ] You checked all the following documents and couldn't find a solution for your issue:

- [Troubleshooting common issues](https://github.com/rubygems/rubygems/blob/master/bundler/doc/TROUBL

[2020-06-12 01:57] mokagio commented on #3712
Pressed enter too fast 😳 Sorry for the noise 😞

![](https://media.giphy.com/media/cjzkCDL3jZTZB6ki1B/giphy.gif)

[2020-06-12 01:57] #3712 closed

[2020-06-12 01:58] hsbt commented on #3712
No problem.

[2020-06-12 02:10] mokagio commented on #3708
Hey @deivid-rodriguez 👋 That's awesome!

I checked out `rubygems` at 6edf247, installed `bundler` from the source, and run my repro script. It worked as expected 🎉

<details>
<summary>Full output</summary>

[code]

</details>

Pretty cool how a refactor ended up fixing a bug. Proof of the value of looking after code quality 💪 !

Thank you so much for looking into this promptly. I'll leave it up to

[2020-06-12 07:42] deivid-rodriguez commented on #3708
Yay! :tada: I'm glad it works!

I think I'll close this now, because I'm going to forget to do it when we release :)

Thanks for the great report and your kind words!

[2020-06-13 18:42] #3448 closed

[2020-06-13 19:50] deivid-rodriguez opened #3719 "Figure out Windows issues with installing in parallel"
This is a follow up ticket to #3448.

That's closed since we should no longer have the flaky test failures in our test suite, but we should still try to figure out the underlying issue.

The issue is that when `bundle install`'ing Gemfile's with git gems under Windows, we sometimes get stuff like this:

[code]

Not the `Using foo 1.0 from d:/a/rubygems/rubygems/bundler/tmp/1/libs/foo-1.0 (at branc

[2020-06-14 18:29] deivid-rodriguez commented on #3381
Fixing this would also allow us to unskip most (if not all) of the Windows skips in `spec/commands/binstubs_spec.rb` and also fix the spec failures that I expected to fix in https://github.com/rubygems/rubygems/pull/3722.

[2020-06-14 18:30] deivid-rodriguez commented on #3381
Also, an alternative idea suggested by @janpio in #3353:

[2020-06-14 18:30] deivid-rodriguez commented on #3353
@janpio I'm going to close this in favor of #3381, if you're still interested in creating that PR, please let us know :)

[2020-06-14 18:30] #3353 closed

[2020-06-14 18:31] deivid-rodriguez commented on #3354
I believe this will also be fixed by #3381, so I'm also closing this ticket in favor of that one.

[2020-06-14 18:31] #3354 closed

[2020-06-14 18:34] deivid-rodriguez commented on #3351
Closing this one also in favour of #3381.

[2020-06-14 18:36] deivid-rodriguez commented on #3381
And yet another idea from @janpio coming from #3351:

[2020-06-14 19:11] janpio commented on #3353
good call in assuming I did indeed not take 1.5 years to get this PR ready ;)

[2020-06-14 19:13] deivid-rodriguez commented on #3353
Lol, no problem! You started moving a Windows CI forward so thanks a lot for that!

[2020-06-14 19:18] MSP-Greg commented on #3381
@deivid-rodriguez

At some point, the idea was to have a 'dual purpose' binstub script that would run from either a bash shell or a Windows shell.  Ruby master (and maybe 2.7) use this, and it has an `.cmd` extension.  So, what happens is a bash shell works with `bundle.cmd`, but not `bundle`.  It's a good idea, except for cross-platform testing.

Also, Windows Ruby is almost never installed so th

[2020-06-14 19:23] deivid-rodriguez commented on #3381
So what is your suggestion, exactly @MSP-Greg? Is it https://github.com/rubygems/rubygems/issues/3381#issuecomment-643804200? It'd be awesome to get this fixed :)

[2020-06-14 19:41] MSP-Greg commented on #3381
Not sure, as I'm not sure if it's a Ruby issue or a Rubygems/Bundler issue.  There may be a work-around, but right now I'm screwing around with intermittent/odd GitHub Actions behavior...

[2020-06-14 19:44] deivid-rodriguez commented on #3381
In my opinion, it is a bundler issue, since `gem install rspec` installs (I believe) a usable binstub, so that you can run `rspec` later, but `bundle install` does not.

[2020-06-14 19:53] MSP-Greg commented on #3381
That makes sense.  But also, I believe Ruby core is not building (make install) Windows Ruby with standard bash binstubs.  I guess there are two problems.

[2020-06-14 19:53] deivid-rodriguez commented on #3381
Yeah, I'd say so.

[2020-06-15 10:48] #3618 closed

[2020-06-15 11:42] deivid-rodriguez commented on #3686
Hi @Rubix982, I'm sorry you got into trouble, I hope you fixed your system by now :sweat_smile:.

I'm not sure if there's something we can do about this in rubygems. I thought about editing the message you linked to and change "mt", to "<your username>" or something, but then the following post advices exactly that, so it would be confusing. But maybe confusing is better than dangerous. What do yo

[2020-06-15 11:44] deivid-rodriguez commented on #3686
Also, I think there's some issues with these warnings, I get the feeling that sometimes `bundler` should ask for `sudo` credentials instead of printing these warnings and failing. But that's another issue.

[2020-06-15 15:24] Rubix982 commented on #3686
@deivid-rodriguez it's much better now. xD
Got into some serious trouble, but it's all fine after some manual investigation.
Yes, definitely, confusing is better than being dangerous because ti's something that can actually effect systems.

Yeah, this seems like an error message which should be clearer. I was really new when I wrote this new, so I had no idea what it was to ask for, and prepending

[2020-06-15 15:44] deivid-rodriguez commented on #3686
Hi @Rubix982, no problem at all!

I edited the message you pointed to so that people don't run the command directly.

The problem I was talking about is that bundler has two "modes" of handling "sudo errors". One is failing and pointing to the files with "bad permissions". Another one is to "upgrade" the running command to use sudo (and thus ask for credentials). Bundler decides between these two

[2020-06-15 16:33] Rubix982 commented on #3686
Yeah, sure, I'll do that.
Let me close it myself close it myself.

[2020-06-15 16:33] #3686 closed

[2020-06-15 17:34] cheald opened #3726 "Regression of bundler#7536 - bundler/inline breaks"
I'm experiencing what seems to be a regression of https://github.com/rubygems/bundler/issues/7536

1. Do you have a reproduction script?

[code]

Just drop this into a location without a `Gemfile` and run it.

2. What are you trying to accomplish?

I'm attempting to use bundler/inline without a Gemfile. This was previously broken in Bundler 2.1.0, fixed in 2.1.4, and seems to have regressed someho

[2020-06-15 17:47] deivid-rodriguez commented on #3726
Hi!

This seems not a regression, but a separate bug. Something must've changed in `capistrano`, and now a gem is failing to be activated. When handling that error, `bundler` is assuming that there's a `Gemfile` and crashing here:

https://github.com/rubygems/rubygems/blob/ea2376928988c8124bba661e0754d7a00dcab347/bundler/lib/bundler/rubygems_integration.rb#L323

I will try to fix this.

[2020-06-15 17:51] cheald commented on #3726
That makes sense; the bundler version hasn't changed! Please let me know if I can provide further help or context!

[2020-06-15 19:18] earksiinni opened #3727 "Bundler config adds trailing backslash to build options, causing builds to fail"
Thank you for contributing to the [rubygems](https://github.com/rubygems/rubygems) repository, and specifically to the [Bundler](https://bundler.io/) gem.

Before processing your issue please confirm that:

- [x] You checked all the following documents and couldn't find a solution for your issue:

- [Troubleshooting common issues](https://github.com/rubygems/rubygems/blob/master/bundler/doc/TROUBL

[2020-06-16 12:21] ioquatix opened #3730 "`bundle install` fails when paths don't exist in optional groups."
I can have something like:

[code]

Even if I don't specify `bundle install --with local` it still fails if those paths don't exist. I think they should be ignored when running `bundle install`.

[2020-06-16 13:23] deivid-rodriguez commented on #3727
Did you try the latest bundler version? I believe we fixed something similar recently.

[2020-06-16 19:56] MSP-Greg commented on #3381
I installed rake using bundler (into a path), and `bundle exec rake --version` ran fine in both PowerShell and Bash, Both binstubs look fine.

If I look at (or run) spec/commands/binstubs_spec.rb, I should see the issue?

[2020-06-16 20:20] deivid-rodriguez commented on #3381
Then I was wrong and this stuff works on all Windows shells, thanks for trying it. It'd be nice to get all the stuff in `spec/commands/exec_spec.rb` passing on Windows, just to make sure.

Project binstubs are definitely not working and we should first define what the expected behavior is. I guess `bundle binstubs rspec` should generate a runnable project binstub if run from Windows.

[2020-06-16 20:30] deivid-rodriguez commented on #3140
Another one: https://github.com/rubygems/rubygems/runs/777836672.

This one happens very very rarely, and only on Windows, so I think I'll go ahead and skip this test on Windows.

[2020-06-16 20:44] MSP-Greg commented on #3381
One 'issue' with Windows Bash shells is that Ruby will launch sub-processes in the cmd shell, not the bash shell.

I'll have a look at that file.

I'm not sure what you mean.  Are you referring to tests in the specs (which have to run on a bash shell?), or in normal use?  I think several repos CI do a `bundle install` command and then use a binstub in `bundle exec`?

[2020-06-16 20:58] deivid-rodriguez commented on #3381
Thanks for the help! Having a Windows guru helping us is handy :)

A "project binstub" is the `bin/rspec` file generated when you run `bundle binstubs rspec`. This file is supposed to be runnable directly, and as far as I know, that doesn't work on Windows because these scripts rely on a shebang. Unless I'm wrong and a correct script for Windows is also generated here, that would be awesome.

[2020-06-16 21:20] Kadaaran opened #3734 "Bundle parses Gemfile and installs dependencies without throwing error or warning for invalid ones."
### Context
This is more a question than a bug report. In my Gemfile lies this line:
`gem 'webpacker', '~> 4.x'`

If I run `bundle i` the dependencies are installed and `webpacker (4.2.2)` is installed.
The bundle output does not return any errors or warning for the `x` which is invalid but still install a valid version.

Running `gem install webpacker -v 4.x` however throws an error and install t

[2020-06-16 21:42] MSP-Greg commented on #3381
Ok, thanks.  Using ruby master much of the time, I tend to bypass bundler, as a lot of Gemfiles may install gems that are older than what is included in Ruby master.

Anyway, now that I'm on the page you're on ('project binstub' is not the gem 'binstub')...

I ran `bundle binstubs rake`, ran the file in bash shell, and it loaded Ruby's rake, not the one installed via `bundle install`.  Looked at t

[2020-06-17 02:11] MSP-Greg opened #3735 "GitHub Actions jobs - filter by path?"
Actions allows filtering jobs by path.  See:
https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions#onpushpull_requestpaths

There are an awful lot of jobs being run, and the workflows don't seem to indicate that all RG jobs need to run for a Bundler change, and vice versa.

So, I see three types of jobs:
1. Jobs that only need to run with a RubyGems change
2. Jobs that on

[2020-06-17 07:45] deivid-rodriguez commented on #3735
I'd rather keep running everything for now. The line between bundler and rubygems is very thin now and sometimes changing one does affect the other, so I wouldn't spend any time on this.

If we want to improve CI time, we should figure out why Windows tests are so slow and how to speed them up, since that's the bottleneck at the moment with a lot of difference.

[2020-06-17 08:12] deivid-rodriguez commented on #3734
Hi @Kadaaran!

The `bundler` behavior is correct, and `~> 4.x` actually has a meaning. Whenever a version specification in rubygems includes a letter, like "x", it means that prereleases should be considered. So in this case, `~> 4.x` means install any version or prerelease version higher than `4.x`. In the case of prereleases, lexicographical order is used, so it would mean that version `4.0.0.zo

[2020-06-17 08:29] Kadaaran commented on #3734
Hey @deivid-rodriguez !

Thank you so much for your answer, regarding the behaviour I agree and I was not questioning it. I was curious about the warning situation.
I got caught up between versions and that a letter was specified. Thanks to your explanation, it is all clear now.

Sorry to have open this issue for this matter I'm closing it right away. Thank you again 🙏

[2020-06-17 08:29] #3734 closed

[2020-06-17 08:38] deivid-rodriguez commented on #3734
No problem at all, thanks for your question! The "prerelease letters" are a bit weird when you first encounter them.

Good luck :)

[2020-06-17 14:11] schinery commented on #3551
Encountered this error after upgrading a Rails project to Ruby 2.7.1 and this fixed things for me... so many thanks for sharing 👍

[2020-06-17 14:42] MSP-Greg commented on #3735
The PR I just did ran 57 jobs.  All those jobs may be free, but they still have a cost, whether that be to MSFT/GH, other Actions users waiting for a finite amount of runners, or even society (energy, recycling, etc)

Yes, but as I mentioned, there appear to be many jobs that are not using both the RubyGems and Bundler code contained in master.

Not sure, I noticed it a long time ago.  Whether it'

[2020-06-17 14:48] mame opened #3737 "A test fails on ruby/ruby master when the path of TMPDIR is long"
Hi @deivid-rodriguez

`test/rubygems/test_gem_package.rb` fails on ruby/ruby master when the path of TMPDIR is long.

https://rubyci.org/logs/rubyci.s3.amazonaws.com/solaris11-gcc/ruby-master/log/20200617T130007Z.fail.html.gz
[code]

`/export/home/chkbuild/chkbuild-gcc/tmp/build/20200617T130007Z/ruby/tmp` is the path of TMPDIR on this environment.

The test `test_extract_symlink_parent_doesnt_dele

[2020-06-17 14:49] deivid-rodriguez commented on #3735
Ok, if you want to work on this, you can try this optimization:

If only rubygems code changes, only entries in `bundler` workflows with `RGV=..` need to run.

[2020-06-17 14:53] deivid-rodriguez commented on #3737
Thanks @mame!

I think it's fine to skip the test like you did for now. Can you open a PR?

[2020-06-17 14:55] nobu commented on #3737
When the path is short enough, the exception is raised from `install_location`, but when it is too long, raised from `mkdir_p_safe`.
I'm afraid that this may not be intended too.

[2020-06-17 15:00] deivid-rodriguez commented on #3737
I can also try to investigate it, but I'd like to be in sync with ruby-core anyways :)

[2020-06-17 15:06] deivid-rodriguez commented on #3551
Note that downgrading first is no longer necessary now that we've released the fix. Just running `gem update --system` should do the trick.

[2020-06-17 15:08] MSP-Greg commented on #3735
Don't hold your breath.

I haven't worked that much with path filtering, what I'll probably do is create a branch in my fork with the workflow changes, then rebase & push several times over a few days to double check what jobs run.

There may be repo changes that are to difficult to filter for, in which case I'll run those jobs all the time. An example might to changing the actual workflows, etc.

[2020-06-17 15:13] deivid-rodriguez commented on #3737
I tried to reproduce this with your steps but I failed... I get the same results with or without passing `TMPDIR`, which makes sense to me since our test suite sets `TMPDIR` at the beginning of each test.

I think maybe to reproduce I need to move my rubygems working copy to a very nested folder?

[2020-06-17 15:15] deivid-rodriguez commented on #3735
We haven't backported any stuff to either of those for a long time, don't worry about them.

[2020-06-17 15:17] nobu commented on #3737
`TMPDIR` doesn't affect this test, as it uses `tmp` directory always.
I reproduced this issue by making `tmp` a very long symlink.

[2020-06-17 15:28] deivid-rodriguez commented on #3737
Yes, that made it reproduce, thanks! :+1:

[2020-06-17 16:07] nobu commented on #3737
Where `destination_user_dir = File.join @destination, 'user'`, this path name can be too long, then `tar.add_symlink 'link', destination_user_dir, 16877` may make truncated `linkname` entry.
At extracting, `File.realpath` in `Gem::Package#install_location` fails with `ENOENT` due to the truncation, and `install_location` wrongly succeeds as "it's fine if the destination doesn't exist".

[2020-06-17 16:28] nobu commented on #3737
Although I'm not sure if this test has to use an absolute link name, how about this?

[code]

[2020-06-17 16:37] deivid-rodriguez commented on #3737
The problem is that this test was added to prevent a security issue where someone would maliciously create a package with a symlink pointing to an absolute well-know system file, and rubygems would remove it before extracting the package. See https://blog.rubygems.org/2019/03/05/security-advisories-2019-03.html, and e853acb604ffce03622a0aa2a528d1f7154f055e. So, I think we need an absolute path the

[2020-06-17 16:41] deivid-rodriguez commented on #3737
Well, I guess you could do "path guessing" with a relative target too, so maybe they are equivalent :man_shrugging:.

[2020-06-17 16:54] nobu commented on #3737
Then the scenario is like the following?

[code]

Of course this is risky to run as a test.

[2020-06-17 17:06] deivid-rodriguez commented on #3737
Yeah, something like that would be the way and conditions to exploit it when the vulnerability was present. In any case, #3738 seems fine to me?

[2020-06-17 19:28] rubyFeedback commented on #1394
Does anyone know whether this works on HaikuOS? I have not been following things quite as much. If it is fixed, perhaps the issue could be closed; if not, could someone update this? Thanks.

[2020-06-18 10:52] deivid-rodriguez commented on #3737
I merged #3788 to get in sync, so closing this ticket. I'll try to follow up on improving symlink support with #2836.

[2020-06-18 10:52] #3737 closed

[2020-06-18 13:21] deivid-rodriguez commented on #3278
I didn't expect to break `bundler-audit` when vendoring `URI`, but in any case they adapted to our code and released that change, so closing!

[2020-06-18 13:21] #3278 closed

[2020-06-18 13:25] deivid-rodriguez commented on #3282
We never identified the culprit, but this is working on the latest versions of both bundler and rubygems, so closing!

[2020-06-18 13:25] #3282 closed

[2020-06-19 10:00] pravi commented on #3244
See https://github.com/rubygems/rubygems/issues/3244#issuecomment-591307862

[2020-06-19 10:05] deivid-rodriguez commented on #3244
I understand, but I don't understand why you need to add it to `Conflicts`. Can you remove it completely? Since the code is vendored, I don't think you need to care about it and consider it a dependency.

[2020-06-19 10:19] pravi commented on #3244
Even if we remove it from Depends of bundler, the already installed copy does not get removed. It will be removed only if we add Conflicts, which means, these two should not be installed at the same.

[2020-06-19 10:22] pravi commented on #3244
Alternatively we can vendor net-http-persistent in ruby-mechanize and every other package that needs it, though that is a last resort option.

[2020-06-19 10:23] deivid-rodriguez commented on #3244
But why do you need the installed copy removed? Bundler should always use its own vendored copy of `net-http-persistent` and not care about other copies being installed globally. If it's not doing that, there's a bug somewhere.

[2020-06-19 10:40] pravi commented on #3244
Well, that is the bug here, right? Depends just installs net-http-persistent globally.

[2020-06-19 10:44] deivid-rodriguez commented on #3244
I'm not really sure where the bug is honestly. Can you patch the first line in `/usr/lib/ruby/vendor_ruby/net/http/persistent.rb` with `puts caller_locations.join("\n")` and run the failing autopkgtest with that and post the result?

[2020-06-19 14:00] pravi commented on #3244
[code]

[2020-06-19 14:03] pravi commented on #3244
lib/bundler/vendor/net-http-persistent/lib/net/http/persistent.rb has a require call to net/http, I think that will need to be changed to relative path as well.

[2020-06-19 14:09] deivid-rodriguez commented on #3244
This is not making any sense to me. It seems to imply that this line https://salsa.debian.org/ruby-team/bundler/-/blob/master/lib/bundler/vendored_persistent.rb#L18 ends up requiring the system version of `net-http-persistent`. And that doesn't make any sense. Can you double check the content of the relevant files in the backtrace and post them here?

`net/http` should be picked up from the `ruby`

[2020-06-19 15:27] pravi commented on #3244
Ah seems like there is a patch forcing the system versions https://salsa.debian.org/ruby-team/bundler/-/blob/master/debian/patches/0002-Replace-bundled-libraries-with-system-versions.patch#L20 Usually we remove the vendor directory completely, so it did not occur to me to check the patch. Sorry for the noise and thanks a lot for your patience.

[2020-06-19 15:27] #3244 closed

[2020-06-19 15:28] MSP-Greg opened #3741 "bundle exec and Windows - Bundler::CLI::Exec#run always uses #kernel_exec"
This means Windows `bundle exec` is often starting another Ruby process, where it seems that other OS's are using `#kernel_load`.

This may be causing slower test times.  Haven't had a chance to think about a fix yet.

[2020-06-19 15:29] deivid-rodriguez commented on #3244
Great, I'm happy we sorted this out!

[2020-06-20 15:01] MSP-Greg commented on #3741
I've got a fix for this, need to work with it more.  It does not make a noticeable difference in test times.

With `bash`, every command is a file/executable.  So, with `bash`, `echo` is an executable.  On Windows, there are native or intrinsic commands that are part of cmd.exe, and `echo` is one.  Hence, one can't determine if the command is valid before running `exec`.  I assume the main use of

[2020-06-20 15:04] deivid-rodriguez commented on #3381
Closed by #3736.

[2020-06-20 21:26] MSP-Greg commented on #3735
I've got this done and tested with a Bundler change.  All the Bundler workflows ran, along with install.yml, ruby-core, & ubuntu-lint.yml.  Two Bundler workflows test against RubyGems master, so those jobs needed to be placed in separate workflows.  Filtering is by workflow file, not by job code.

So how do you want the commits?  One for the ten changed files, and one for the two additions?  The t

[2020-06-20 21:36] deivid-rodriguez commented on #3735
Can't see your code yet, but from what you explain that makes sense I guess?

[2020-06-20 21:53] MSP-Greg commented on #3735
Actually, the new files are identical with the main code of the two existing, except for the filtering and one line of the matrix, so I thought one commit would be fine?

I'm going to test a RG commit in my fork just to be sure.

Also, I changed the push section to:
[code]

That should allow contributors (like me) to run CI in their forks if the branch starts with 'pr-'.  I believe that once the b

[2020-06-20 21:54] simi commented on #3735
@deivid-rodriguez https://github.com/rubygems/rubygems/compare/master...MSP-Greg:pr-win-bundle-exec-load

[2020-06-20 22:33] MSP-Greg commented on #3735
@simi  That's not quite it, I'm using that for testing.  About to push a PR.  It works for both Rubygems & Bundler...

[2020-06-20 22:41] chrisseaton opened #3744 "Having a repository called bundler causes bundler to break"
Thank you for contributing to the [rubygems](https://github.com/rubygems/rubygems) repository, and specifically to the [Bundler](https://bundler.io/) gem.

Before processing your issue please confirm that:

- [X] You checked all the following documents and couldn't find a solution for your issue:

- [Troubleshooting common issues](https://github.com/rubygems/rubygems/blob/master/bundler/doc/TROUBL

[2020-06-20 23:00] deivid-rodriguez commented on #3735
[We already talked about this](https://github.com/rubygems/rubygems/issues/2451). I'm happy with the current way.

[2020-06-21 07:05] deivid-rodriguez commented on #3741
If I'm following, I believe it's the other way around? If people are maintaining project binstubs inside their project, they will most likely not be using `bundle exec` for those, since being able to skip that is part of the point of creating the binstubs, right?

[2020-06-21 13:26] utkarsh2102 commented on #3676
I'm not sure but I think this is much easier to do this as a part of RuboCop instead?

[2020-06-21 16:37] simi commented on #3676
@deivid-rodriguez should we do that again only during build time?

[2020-06-21 16:42] deivid-rodriguez commented on #3676
Yeah, this idea is meant as a tool for gem authors to avoid bugs in their dependency requirements.

@utkarsh2102 It could be made a `rubocop` rule indeed. The difference would be that not everybody would benefit from it by default, but it's an interesting idea... :thinking:

[2020-06-24 23:11] deivid-rodriguez opened #3757 "`bundle clean --force` removes default gem executables"
Thank you for contributing to the [rubygems](https://github.com/rubygems/rubygems) repository, and specifically to the [Bundler](https://bundler.io/) gem.

### Please describe the problem as clearly as you can

We have a `bundle clean --force` command that removes every gem not in the current bundle from your system. This command goes too far and removes executables from default gems.

### Please

[2020-06-25 04:21] alexventuraio commented on #2253
If the problem is due to IPv6 on MacOS X, then you can also **_enable/disable_** it from the terminal using the following commands depending on the network interface you are using **WiFi** or **Ethernet(Cable)**:
[code]

[2020-06-25 09:00] #3582 closed

[2020-06-25 11:17] #3140 closed

[2020-06-25 14:31] rgoldberg opened #3760 "gem fails to update openssl from 2.1.2 to 2.2.0"
I'm having a problem.

My current problem is gem fails to update openssl from 2.1.2 to 2.2.0.

[code]

Outputs:

[code]

Logs are attached.

[gem_make.out.txt](https://github.com/rubygems/rubygems/files/4831923/gem_make.out.txt)
[mkmf.log](https://github.com/rubygems/rubygems/files/4831924/mkmf.log)

I am running macOS 10.15.5 with the latest stable XCode.  All other gems are up to date, and the r

[2020-06-25 22:13] glafir commented on #3269
For me help this
`gem update --system`

[2020-06-29 14:47] mtsmfm commented on #3332
I've created a bundler plugin to remove `--no-hardlinks` and add `--depth=1`.

https://github.com/mtsmfm/bundler-fast_git

I tested it with my hobby app.
Is there any possibility to merge https://github.com/rubygems/bundler/pull/7054?

[2020-06-29 15:19] simi commented on #3332
just for reference, there's https://github.com/rubygems/rubygems/issues/3378 as well

[2020-06-29 15:35] deivid-rodriguez commented on #3332
@mtsmfm Yes, I wanted to merge that PR but I forgot about it. Let me rebase it!

[2020-06-29 16:00] deivid-rodriguez commented on #3760
It seems that rubygems is failing to find the `openssl/ssl.h` header in your system, needed to install the gem. I'm not sure why it's happening, but I think it's due to some trouble with your ruby installation.

If you look at the log you posted, note how the very first check the openssl extension does, namely, this one:

https://github.com/ruby/openssl/blob/93213b2730a45fe997b8e581c64c42e13cd9abd

[2020-06-29 20:43] rgoldberg commented on #3760
`/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX10.15.Internal.sdk` doesn't exist.

`MacOSX10.15.sdk` exists in the parent of the nonexistent `MacOSX10.15.Internal.sdk`.

`MacOSX10.15.sdk` is a link to `MacOSX.sdk` in the same directory.

`usr/local/libressl/lib` doesn't exist in that directory because, while `usr` exists, it doesn't contain `local`.

Run

[2020-06-29 22:30] MSP-Greg commented on #3760
You're not having a problem with RubyGems.   You need OpenSSL installed, probably something like:
[code]

After that, I'm not sure what you need to do for Ruby OpenSSL to find it, as it compiles with it...

[2020-06-30 17:12] rgoldberg commented on #3760
`openssl@1.1` is already installed via brew.  It is located at `/usr/local/Cellar/openssl@1.1/1.1.1g`.

I imagine that the `openssl` gem doesn't work with XCode 11.5, since the path to the `libressl/lib` doesn't exist under `/Applications/Xcode.app`.

Has anyone else successfully installed version 2.2.0 of the `openssl` gem on macOS 10.15.5 with XCode 11.5?

[2020-06-30 17:17] deivid-rodriguez commented on #3760
Apparently the openssl version that comes with macOS 10.15.5 is broken (as in, does not include the proper headers).

Maybe try setting the environment variables mentioned here: https://github.com/rbenv/ruby-build/issues/1431 so that you homebrew openssl installation is properly picked up.

[2020-06-30 17:24] MSP-Greg commented on #3760
As @deivid-rodriguez mentioned, or possibly add the following to your gem command:
[code]

[2020-06-30 20:18] rgoldberg commented on #3760
@MSP-Greg That worked.

@deivid-rodriguez Has anyone notified Apple to fix openssl?  Is there any web page to track the progress?

Thanks for the help.

[2020-06-30 21:00] deivid-rodriguez commented on #3760
No idea, sorry. I found about this in the ruby-build project, which has [a shell function called `has_broken_mac_openssl`](https://github.com/rbenv/ruby-build/blob/157c719e3f432874119d34c4645d1da869ee180c/bin/ruby-build#L1033-L1039) :rofl:: Maybe you can follow up on this issue in that repo.

Closing, happy you got this sorted out!

[2020-06-30 21:00] #3760 closed

[2020-06-30 23:55] jaredbeck commented on #3209
I've also had "mixed success" with the "Running your plugin locally" section of the [How to write a Bundler plugin](https://bundler.io/v2.0/guides/bundler_plugins.html) instructions.

[code]

The instructions do not say anything about this mysterious `specs.4.8.gz` file 👻 .

Using `--git` instead of `--source` works, but the requirement to make a commit every time does slows down local development

[2020-07-01 01:48] MSP-Greg commented on #3760
@rgoldberg

Locally I'm a Windows type, so I'm not that familiar with macOS.  The following outputs the OpenSSL version that Ruby OpenSSL was compiled with, then the version of OpenSSL that Ruby OpenSSL is using at runtime.  They should be the same.
[code]

[2020-07-01 01:53] hsbt commented on #3760
The Ruby interpriter provided by macOS is blackbox for us. We can't care its configuration and related libraries.

[2020-07-01 03:50] rgoldberg commented on #3760
Would it make sense to add an instructive error message about how to get around this error? I would imagine that many might run into this problem on recent macOS versions.

Or, better yet, are the openssl headers available under any other standard path in recent versions of macOS? (without having to install them separately)

[2020-07-01 04:01] MSP-Greg commented on #3760
As mentioned above, this isn't a RubyGems issue.  From the OpenSSL gemspec or the RubyGems.org website (search for OpenSSL), the source code for OpenSSL is at:

https://github.com/ruby/openssl

An issue there to discuss the problem would be more appropriate.

[2020-07-01 07:23] ArslanM786 opened #3768 "I am trying to install Discourse on mac using this guide https://meta.discourse.org/t/beginners-guide-to-install-discourse-on-macos-for-development/15772. When running the command "bundle install" I get the following error: Fetching gem metadata from https://rubygems.org/......... zeitwerk-2.3.1 requires ruby version >= 2.4.4, which is incompatible with the current version, ruby 2.3.0p0. How would I be able to update to resolve this issue."
Thank you for contributing to the [rubygems](https://github.com/rubygems/rubygems) repository, and specifically to the [Bundler](https://bundler.io/) gem.

Before processing your issue please confirm that:

- [x] You checked all the following documents and couldn't find a solution for your issue:

- [Troubleshooting common issues](https://github.com/rubygems/rubygems/blob/master/bundler/doc/TROUBL

[2020-07-01 07:27] deivid-rodriguez commented on #3768
Hi!

The linked guide starts with a step called "Install discourse dependencies", which includes installing the latest ruby stable release (2.7.1). However, you're using ruby 2.3.0.

As the error message states, one of the dependencies needs at least ruby 2.4.4. So you need to install at least that ruby, or better, the latest stable.

Make sure you rerun the steps in the guide from scratch and tha

[2020-07-01 07:27] #3768 closed

[2020-07-01 07:30] deivid-rodriguez commented on #3557
Yesterday, our daily `truffleruby-head` build [started failing](https://github.com/rubygems/rubygems/actions/runs/153444893) and we didn't get notified.

And I have no idea why :disappointed:

[2020-07-01 08:36] deivid-rodriguez commented on #3451
I'll close this ticket since we've been skipping these specs since https://github.com/rubygems/rubygems/pull/3507. We can try unskip them once jruby fully supports `webrick`.

[2020-07-01 08:36] #3451 closed

[2020-07-01 08:42] deivid-rodriguez commented on #3697
This never happened again, and [I just reported it to ruby-core](https://bugs.ruby-lang.org/issues/17003), so I'm going to tentatively close this.

[2020-07-01 08:42] #3697 closed

[2020-07-01 09:40] #3696 closed

[2020-07-01 15:26] kejadlen opened #3775 "Shallow clone git dependencies"
1. Do you have a reproduction script?

Run this [Gemfile](https://gist.github.com/kejadlen/dae0903ea565719e3edf35c40a20ebd4) with `tranfer.fsckobjects` set to true (`git config --global transfer.fsckobjects`).

2. What are you trying to accomplish?

Use a git dependency that has `fsck` issues in its history.

3. What command did you run?

`bundle install`

4. What were you expecting to happen?

Th

[2020-07-01 15:28] kejadlen commented on #3775
I'm not sure if there's a reason not to do a shallow clone for dependencies by default, as the git history shouldn't be needed for a gem dependency, and it'll decrease the amount of data downloaded and persisted on disk. Happy to try doing the work if it's a reasonable idea.

[2020-07-01 16:45] deivid-rodriguez commented on #3332
@mtsmfm I checked the old PR and I saw that I was actually [having some issues with it](https://github.com/rubygems/bundler/pull/7054#issuecomment-483891895). Can you reproduce those issues?

[2020-07-02 04:11] macropin commented on #3225
@bronzdoc What more information is needed here. It's clearly a bug, as its deviation from the expected behaviour.

[2020-07-02 06:36] mtsmfm commented on #3332
@deivid-rodriguez Okay, let me try.

[2020-07-02 12:11] deivid-rodriguez opened #3779 "`rake release` doesn't work if you're using the XDG spec for configuring rubygems"
In such a case, your credentials file will be at `~/.local/share/gem/credentials`. However, `bundler` specifically checks for `~/.gem/credentials` presence:

https://github.com/rubygems/rubygems/blob/0173758c3f882c400e891dda04a8456037ac3234/bundler/lib/bundler/gem_helper.rb#L109

[2020-07-02 12:59] mtsmfm commented on #3332
I can't find what actually @localhostdotdev did though, I got similar results with the following Gemfile.

[code]

[code]

Previously bundler fetched all reachable refs but currently just fetch the latest branches.
Probably we need to pass git ref to fetch command:
`git fetch --depth=1 origin 1da9a7e410f15859939eb4158421846638a41e71`

[2020-07-02 13:07] deivid-rodriguez commented on #3332
That seems like a cool idea.

[2020-07-03 16:59] rubyFeedback commented on #3757
Hehe the template is quite funny since it looks as if you are almost talking to yourself there,
in particular with the "Thank you for contributing to the rubygems repository" intro. I mean
you are not exactly a newcomer to rubygems ...  ;)

[2020-07-03 17:11] deivid-rodriguez commented on #3757
Hehehe, yeah.

In https://github.com/rubygems/rubygems/pull/3784 I put that appreciation message inside ``, so that the OP gets the appreciation, but it doesn't show up by default in the reported issue.

[2020-07-04 16:18] rileyinman opened #3788 "Gemfile configuration causes exceedingly long resolution time"
### Describe the problem as clearly as you can

I'm currently trying to update the ruby gems for nixpkgs (https://github.com/NixOS/nixpkgs) and seem to have found a Gemfile setup that causes bundler to spend *hours* resolving. As I write this up, it's still not complete. Something of note is that if I remove the rails gem, it completes within seconds. The same is true if I remove all *but* the rai

[2020-07-04 16:35] simi commented on #3788
Can you reproduce this using official ruby image in docker for example?

Dne so 4. 7. 2020 19:18 uživatel Riley Inman <notifications@github.com>
napsal:

[2020-07-04 16:55] rileyinman commented on #3788
@simi I just reproduced in Docker 19.03.6, on Ubuntu 18.04. The Dockerfile:
[code]

[2020-07-04 16:58] simi commented on #3788
Great, that makes it much easier to reproduce. I'll take a look.

Dne so 4. 7. 2020 19:55 uživatel Riley Inman <notifications@github.com>
napsal:

[2020-07-04 21:52] darksh4d0w commented on #3068
I'm about to cry, thanks, If I was millionaire I swear I would send you a ferrari.

[2020-07-04 23:29] duckinator commented on #2907
@deivid-rodriguez I made an attempt at it over in #3789, but am not sure how to test it.

[2020-07-05 00:36] mze3e commented on #1736
This worked

[2020-07-05 06:03] jonmchan opened #3790 "Bundler Verbose Stuck On"
### Describe the problem as clearly as you can

bundler stuck on verbose output. Even though I am not passing `--verbose`, it is still outputting the verbose output.

### Post system independent steps to reproduce the problem

Simple Gemfile:

[code]

### Which command did you run?

`bundle install`

### What were you expecting to happen?

[code]

### What actually happened?

[code]

### If not in

[2020-07-05 07:32] deivid-rodriguez commented on #3790
Hi!

I looked at the code and this would happen if you have the `DEBUG` environment variable set. Do you have it?

[2020-07-05 08:13] deivid-rodriguez commented on #3519
The plan was completed with bundler-2.2.0.rc.1. Closing!

[2020-07-05 08:13] #3519 closed

[2020-07-07 01:03] #3779 closed

[2020-07-07 01:41] jonmchan commented on #3790
@deivid-rodriguez that's very interesting... I have the DEBUG environment variable set to nothing, but it is set. I had to `unset DEBUB` to get rid of that. Shouldn't bundler read the DEBUG variable to check for true or 1 or something to enable debugging? `DEBUG=` would seem to be a false positive for turning on debug?

[2020-07-07 08:30] deivid-rodriguez commented on #3790
@jonmchan I'm sorry this caused trouble for you.

I made a quick search through my installed gems, and most seem to do the same interpretation `bundler` does: enable debugging mode if `ENV["DEBUG"]` is set at all. Some check for a non empty value, and some check for a list of values like 't', 'true', '1'.

So I'm a bit hesitant to change this behaviour because each approach has its own merit, and

[2020-07-07 09:19] shreyakapadia10 commented on #1945
Thanks it worked

[2020-07-07 11:28] yahonda opened #3796 "When using jruby-head, bundle inline fails when Gemfile.lock exists at the same directory"
### Describe the problem as clearly as you can

When `Gemfile.lock` exists at the same directory, bundle inline fails with jruby-head.

### Post system independent steps to reproduce the problem

Because I do not know how to install JRuby head in my environment, It reproduces using GitHub Actions and Travis CI.

* Repository
https://github.com/yahonda/rake_on_jruby_head/

* GitHub Actions
https://

[2020-07-07 11:32] yahonda commented on #3796
A simple workaround is `rm Gemfile.lock` before running `ruby test.rb`.

[2020-07-07 11:34] deivid-rodriguez commented on #3796
Could you try using `bundler-2.2.0.rc.1` and also upgrading rubygems? Just to make sure if this is a bug in the latest and greatest versions or is something that we have fixed already.

[2020-07-07 11:43] yahonda commented on #3796
Bump bundler and RubyGems version as suggested, this issue does not reproduce anymore.
[code]

[code]

[2020-07-07 11:45] deivid-rodriguez commented on #3796
Could you upgrade _only_ bundler to double check? I believe the fix for this should've happened in `bundler` and it should still work on older rubygems.

[2020-07-07 11:49] yahonda commented on #3796
Upgrading bundler only and leave RubyGems version as it is, it reproduces the error.

[code]

[code]

https://github.com/yahonda/rake_on_jruby_head/runs/845386088?check_suite_focus=true

[2020-07-07 12:11] deivid-rodriguez commented on #3796
Interesting. I guess we could properly bisect this, but since this is a head version, and it seems to work fine with the latest release I think it's not worth the effort.

[2020-07-07 12:26] yahonda commented on #3796
Somehow, this issue reproduces with RubyGems 3.0.6, 3.0.7. Fixed with RubyGems 3.0.8.

[2020-07-07 12:28] yahonda commented on #3796
I have confirmed that this issue has been resolved with the latest versions of Bundler and RubyGems. Closing this issue. Thank you for the support!

[2020-07-07 12:28] #3796 closed

[2020-07-07 13:23] deivid-rodriguez commented on #3796
Great! Thanks to your for reporting this issue!

[2020-07-07 21:25] jonmchan commented on #3790
Fair argument in terms of keeping with backward compatibility. I'm utilizing DEBUG for my ruby application to enable debugging output and I do check for the keyword 'true'. I can adjust to unset the variable when I call bundler and only have it set when invoking the application. Thanks.

[2020-07-07 21:25] #3790 closed

[2020-07-08 09:23] casperisfine opened #3799 "Could boot performance be improved? Caching default gems perhaps?"
Sorry if this was discussed elsewhere, I tried to search for previous discussions but given how generic the subject is I couldn't find anything.

### Context

As many people know, Rubygems initialization is the biggest part of MRI's boot:

[code]

So (on my machine) "raw" MRI initialization is `29ms`, and rubygems adds `47ms` to it.

When profiling, we can see that a large part of that comes from

[2020-07-08 09:27] deivid-rodriguez commented on #3799
So funny, I'm working on that exact path :rofl:. I have this, which I believe is the same idea:

[code]

[2020-07-08 09:29] casperisfine commented on #3799
Oh! That's awesome. I'll ignore that area then, and focus on other ideas. Should I close this issue?

[2020-07-08 09:50] deivid-rodriguez commented on #3799
I'll definitely tag you on the PR, which will close this, so we call leave this opened :+1:.

I believe we can assume default specs are immutable, yeah.

Regarding the cache location, we could use `Gem.spec_cache_dir', and put ruby version specific in there like `2.7.1/default_specs.4.8`, or something like that. I think that could make things align quite nicely.

[2020-07-08 13:05] jhass opened #3801 "Bundler: allow to suppress post-install messages for bundle install"
Bundler is used not just as developer tool, it's also used as a setup tool by users, for example by installing a self hosted ruby project on their servers.

A lot of gems put all kinds of warnings, upgrade instructions and so on into their post install messages. These don't concern those users but only the developers of those projects. Worse, sometimes users get confused by them and rerun already

[2020-07-08 17:50] indirect commented on #3801
https://bundler.io/v1.10/whats_new.html#ignore-messages

[2020-07-08 17:50] #3801 closed

[2020-07-08 18:32] jhass commented on #3801
Ah, thank you. I always forget the `bundle config` options. A CLI option to include into commands users copy paste, would still be nice for this IMO though.

[2020-07-09 18:37] p-mongo opened #3805 "Bundler::HTTPError does not say what the error was"
### Describe the problem as clearly as you can

When I ran `bundle install` I received the following output:

<pre>
Fetching source index from https://rubygems.org/
Retrying fetcher due to error (2/4): Bundler::HTTPError Could not fetch specs from https://rubygems.org/

Retrying fetcher due to error (3/4): Bundler::HTTPError Could not fetch specs from https://rubygems.org/

Retrying fetcher due to

[2020-07-09 20:39] ljharb opened #3806 "bundler: how can i make `--full-index` automatic?"
### Describe the problem as clearly as you can

At my company, `--full-index` is used to improve performance when fetching gems from S3 buckets. However, there seems to be no environment variable or config file approach to make this be the default, so engineers have to remember to use it manually.

(https://stackoverflow.com/questions/14263588/how-to-always-run-bundle-install-with-the-full-index-o

[2020-07-10 09:37] deivid-rodriguez commented on #3805
Agreed. I never found this error helpful.

[2020-07-10 20:16] deivid-rodriguez commented on #3564
I opened #3811 to fix this.

[2020-07-11 12:45] eregon commented on #2945
One step towards improving this: https://github.com/rubygems/rubygems/pull/3817

[2020-07-13 08:39] #3735 closed

[2020-07-14 03:48] lavie3k commented on #3068
`root@kali:~/Desktop/box/tartarsauce# wpscan -h
Traceback (most recent call last):
        10: from /usr/bin/wpscan:23:in `<main>'
         9: from /usr/local/lib/site_ruby/2.7.0/rubygems.rb:304:in `activate_bin_path'
         8: from /usr/local/lib/site_ruby/2.7.0/rubygems.rb:304:in `synchronize'
         7: from /usr/local/lib/site_ruby/2.7.0/rubygems.rb:306:in `block in activate_bin_path'

[2020-07-14 08:19] deivid-rodriguez commented on #3068
Hi @lavie3k! I'm sorry people are still having this issue. In your case, you're running into a separate issue that was fixed in `rubygems` 3.1, so the `gem update --system  3.0.6` won't do the trick for you. Another option is to pick up [`rubygems-integration` from unstable](https://packages.debian.org/source/bullseye/rubygems-integration) which already includes the fixes needed to fix this warnin

[2020-07-14 08:29] #3484 closed

[2020-07-14 14:38] dotnetCarpenter commented on #3068
@lavie3k does `gem update --system 3.0.8` help you?
As I have said before in https://github.com/rubygems/rubygems/issues/3068#issuecomment-633071612 and https://github.com/rubygems/rubygems/issues/3068#issuecomment-642106276 - there is no reason to use 3.0.6. The last 3.0.x version i **3.0.8**.

[2020-07-14 15:04] bryszard commented on #3068
I have same problem, but in different circumstances.

Using `Ubuntu 18.04` and `Ruby 2.7.1` (image from https://www.brightbox.com/docs/ruby/ubuntu/) the first time this error appeared when running -

[code]

[code]

Afterwards I updated bundler to `2.1.4`, tried `gem update --system` (resolved to 3.1.4), `gem update --system 3.0.6`, `gem update --system 3.0.8` and `gem update --system 3.2.0.rc.1`.

[2020-07-14 15:15] deivid-rodriguez commented on #3068
I'm guessing `ubuntu` also needs to fix the warnings, but I have no idea where ubuntu manages its package sources.

[2020-07-14 15:45] #3564 closed

[2020-07-14 16:24] deivid-rodriguez commented on #3217
I'm going to close this ticket because we haven't heard of this issue in a very long time. If this is still reproducible against the latest bundler, please open a new ticket. Thanks!

[2020-07-14 16:24] #3217 closed

[2020-07-14 16:53] simi commented on #3068
it seems it will be backported from debian at some point - https://git.launchpad.net/ubuntu/+source/rubygems-integration/log/

[2020-07-14 19:50] utkarsh2102 opened #3831 "undefined method `rubyforge_project=' for class `Gem::Specification' (NameError)"
Whilst trying to install rubygems manually, I tried running `ruby setup.rb`, as suggested in the README.md file.
Upon doing so, I got:

[code]

I believe this has been deprecated and shouldn't really be used :thinking:
Am I missing something or is it really a bug!?

[2020-07-14 19:57] simi commented on #3831
@utkarsh2102 you do mix system and custom ruby installations. It is not supported. Please install ruby manually (not by system package, for example by ruby-install or rbenv) and update rubygems manually or keep your ruby updated by system (not manually).

@deivid-rodriguez `operating_system.rb` seems really dangerous place actually. what about to rescue all errors during requiring and next to the

[2020-07-14 20:10] utkarsh2102 commented on #3831
Hi @simi,

Gah, I see. Thanks for the tip :+1:
(we're working on packaging rubygems, btw)

[2020-07-14 20:16] simi commented on #3831
@utkarsh2102 yeah, I know. This exact problem should be already fixed at https://salsa.debian.org/ruby-team/rubygems-integration/-/commit/39d3a082f568ec0b6c9acd10e54a4a31a08bd8b5.

[2020-07-14 21:12] utkarsh2102 commented on #3831
Aha, I see. Thanks \o/

[2020-07-14 22:56] lavie3k commented on #3068
Yep. It is Ruby 2.7.0.
:( Please help me. Because if I start Wpscan or Evil-winrm ... it is error :(((

[2020-07-14 22:57] lavie3k commented on #3068
How to fix it ???
Please help me step by steps.

[2020-07-14 23:01] hsbt commented on #3068
@lavie3k Your issue is different from this pull-request. Can you file it the new issue?

This tracker is NOT the support forum. If you want to get the support for the several issues, https://stackoverflow.com/ may helps you.

[2020-07-14 23:02] hsbt commented on #3831
Duplicate with https://github.com/rubygems/rubygems/issues/3068

[2020-07-14 23:02] #3831 closed

[2020-07-15 03:27] andrewhood125 commented on #1303
Just hit this myself settings up a private gem server. Thank goodness for this issue. 🙏 Adding the directory option fixed the issue.

[2020-07-15 06:46] matt-wallis commented on #3068
I encountered this issue because the document [How to Upgrade to Bundler 2](https://bundler.io/guides/bundler_2_upgrade.html), tells you to do `gem update --system`, under certain circumstances. Like many here, I was using Ubuntu 18.04 - the current LTS version of Ubuntu, and at the time Bundler 2 depended on rubygems3, so I blindly went ahead with the system update.

There should be a **big warni

[2020-07-15 07:02] deivid-rodriguez commented on #3831
@simi This is a very good idea in my opinion :+1:.

[2020-07-15 07:06] deivid-rodriguez commented on #3068
That's for your feedback @matt-wallis

Yep, this was a mistake.

Yeah, we're working towards that goal. @simi just [suggested this](https://github.com/rubygems/rubygems/issues/3831#issuecomment-658382577) which I find a very good idea. We also provided a way for OS packagers to completely disable `gem update --system`: https://github.com/rubygems/rubygems/pull/3720.

[2020-07-15 07:23] matt-wallis commented on #3068
@deivid-rodriguez you're welcome.

Might a solution to this issue for the people who are here becasue of bundler's advice be `gem update --system 2.5.x`? And if so, shouldn't that be in the docs (with lots of clarification...). Having said that, I'm just guessing, and I don't understand this stuff in any depth. Maybe I'm being naïve.

[2020-07-15 07:41] deivid-rodriguez commented on #3068
That's the oldest `rubygems` we currently support, it sounds like downgrading too much to me, and it might lead to other issues. I'm happy to add a note to the docs telling people that updated the rubygems version shipped by a OS packaged ruby through `gem update --system`, that they can partially undo the upgrade to get rid of the warnings with `gem update --system 3.0.8`.

[2020-07-15 08:25] matt-wallis commented on #3068
That makes sense.

Sounds like a good idea. I guess this problem will go away for those on Ubuntu 18.04 once they upgrade to 20.04? I see that 20.04.01 is due 2020-08-06, and at this point 18.04 users will be notified that a new OS version is available.

[2020-07-15 13:30] #3505 closed

[2020-07-15 15:47] emptyflask commented on #3502
This should get more attention -- since I added a private source for sidekiq-pro (using `source: ...`), bundler tries to pull all my gems from it before falling back to rubygems.org.

Is there any reason why using a `source` argument on a single gem would add it to the global sources? This seems like a bug, despite it being mentioned in the docs.

[2020-07-17 13:07] colby-swandale commented on #3502
@emptyflask Can you please share a minimal Gemfile that we can use to test/debug this issue

[2020-07-17 13:14] colby-swandale commented on #3806
@ljharb We would welcome a PR to add a config option if this is something you would like to see in Bundler.

Here's an example PR https://github.com/rubygems/bundler/pull/6309

[2020-07-18 11:17] ioquatix opened #3837 "`bundle install` fails when optional group contains version conflict."
I have a slightly tricky setup, testing multiple gem sets with falcon, to ensure it works with Rack v1, v2 (default) and v3 (master).

I have gemfiles here which are used for separate test runs:

https://github.com/socketry/falcon/tree/d9d517401fb5f0917d46aaffe74acb123537da47/gems

Those gemfiles include the main `gems.rb` file:

https://github.com/socketry/falcon/blob/d9d517401fb5f0917d46aaffe74a

[2020-07-19 05:08] ljharb commented on #3806
@colby-swandale thanks - that example PR tho references files and terms that no longer exist, like `lib/bundler/settings.rb` and `disable_platform_warnings`. I'll try to figure it out, but if you had a more recent example PR that would be great :-)

[2020-07-19 05:26] ljharb commented on #3806
Also, any tips on where would be the best place to read/respect the config value? I was thinking either the CLI (as a `lazy_default` for `--full-index`), or in each of the three places `Bundler::Fetcher.disable_endpoint` is set (but then i'm not sure how i'd figure out when the option was omitted or explicitly provided).

[2020-07-19 07:47] indirect commented on #3837
Sorry, that's not how optional groups work (although it's very understandable to expect otherwise).

Optional means they might not be installed, but Bundler only supports one single dependency resolution per Gemfile. That means that every gem has to resolve successfully, whether it will be installed at this exact moment or not.

You might be able to get what you're after by having separate Gemfile

[2020-07-19 07:47] #3837 closed

[2020-07-19 07:55] colby-swandale commented on #3837
👋 What you're describing goes against the core of what Bundler provides to users. Every dependency, even those in optional groups, go through the Dependency Resolution process and gets computed into a compatible set of dependencies & version requirements that Bundler can guarantee meets all gem's requirements. If a specific set of gems or gem's requirements are incompatible, Bundler will report th

[2020-07-19 09:31] deivid-rodriguez commented on #3806
Sorry for chiming in this late.

I'd like to ask some more background for this because for a lot of time I haven't heard of anyone using this option. When I started contributing to `bundler` I remember it being recommended on some error messages to "heal" some bad `bundle install`'s but I haven't seen that in such a long time. My understanding was that since the introduction of the new API, this o

[2020-07-19 12:24] #3173 closed

[2020-07-19 16:48] edas opened #3841 "Error when a parent directory name contains an opening bracket"
### Describe the problem as clearly as you can

When the project directory has a parent directory contains opening an opening bracket in its name (like "[wrapper"), bundle fails with an error:

    $ bundle

    [!] There was an error parsing `Gemfile`: There are no gemspecs at /Users/test/src/[wrapper/project. Bundler cannot continue.

     #  from /Users/eric.daspet/src/[wrapper]/project/Gemfile

[2020-07-19 19:18] Ana06 opened #3842 "Bundle install --without shouldn't be remembered"
Bundle documentation claim the following:

However, when I run `bundle install` with the `--without` option, a `.bundle/config` which specifies `BUNDLE_WITHOUT`.

### Which command did you run?

`bundle install --without group_name`

### What were you expecting to happen?

I didn't expect a `.bundle/config` file to be created

### `bundle env`
[code]

[2020-07-20 06:02] ljharb commented on #3806
@deivid-rodriguez my company's internal `bundle install`s are quite slow (i believe some gems are fetched from s3 buckets, which is in particular when it's slow), and every engineer is told to use `--full-index` to speed them up. My intention in filing this issue was to ensure a method to make it fast without providing the option explicitly, ie, by enabling it by default for all engineers via conf

[2020-07-21 13:42] karippery opened #3843 "I can't install redmine-pgsql in debian 9"
hello all,

I try to install redmine-pgsql in my debian9  server.
 this is my debian version

[code]
 ruby version

`ruby 2.3.3p222 (2016-11-21) [x86_64-linux-gnu]`

gem version
`3.1.4`

**This is error i got when I  install redmine**

[code]

**I already tried**

gem install bundler -v 1.17.3
gem uninstall  bundler -v 2.1.4

**then i get this error**

[code]
please help me I spend lot of time for

[2020-07-22 08:46] DirtyF commented on #2872
`npx` command solves a real problem when you have to make sure your scripts will run not matter what your local setup, is there such a bundler plugin as of today?

[2020-07-22 08:52] simi commented on #2872
@DirtyF can you explain a little more? Is there any edge-case where for example `gem i rails && rails new blog` (as metnioned at https://github.com/rubygems/rubygems/issues/2872#issuecomment-520408807) is not enough?

[2020-07-22 13:08] DirtyF commented on #2872
Let's say you run scripts through rake tasks or whatever on different environments (development, staging, production) and those environments slightly differ, maybe you can't install global packages on your staging. You would expect to be able to use the same commands no matter what (`bundle exec jekyll build` for instance). You don't want to manually manage the installation part, you would expect

[2020-07-22 15:38] #3599 closed

[2020-07-22 15:54] deivid-rodriguez commented on #3842
Correct documentation is now live, so I'll go ahead and close this. Thanks so much for the report!

[2020-07-22 15:54] #3842 closed

[2020-07-22 17:16] emilebosch commented on #2872
Gems exists is that smth you're looking for?

[2020-07-22 17:17] emilebosch commented on #2872
@DirtyF What is the actual problem you;'re facing at the moment?

[2020-07-22 18:09] Ana06 commented on #3842
@deivid-rodriguez thank you for the quick response! the new documentation clarifies this :+1:

Yes (I hadn't seen it, but it was printed :see_no_evil:). However I was not trying to remember the flag. I want to install only a group in a GitHub Action, but I do not want this setting to be remembered (as I want to install all the groups locally). Should I be doing this in a different way?

[2020-07-22 19:08] deivid-rodriguez commented on #3842
I see.

No, you're not doing anything wrong, `bundler` is, but changing this bad legacy behaviour legacy is problematic and we need to do it on a major version. Is the configuration being saved a problem in your actions workflow? Since the workflow runners should be ephemeral doesn't sound like a big deal?

In any case, we have some hacky feature flags in place that you can setup through configura

[2020-07-24 15:27] MSP-Greg opened #3851 "Sync ruby/ruby? - master fixes failure there"
ruby/ruby is currently (and consistently) failing with MinGW builds.  Same thing is happening with all ruby-loco builds.  Testing using RG master solved the problem.  See:

Issue https://github.com/rubygems/rubygems/issues/3140
Commit https://github.com/rubygems/rubygems/commit/a516b49a0a

Any binary file should always be opened as such, as on Windows, depending on the phase of the moon, etc, line

[2020-07-24 17:04] ams-tschoening opened #3853 ""rubygems.rb" fails to "require" on paths using German umlauts."
I have a Ruby-based shell application which needs to require a library during startup. I'm using the following command line:

	"..\ruby\bin\ruby.exe" "-I../runtime/lib" "../visualizer/bin/ksv" "--require=de/[...]/par_opp_dispatcher.rb" "--opaque-types=true" "../files_to_show/recs_clt.bin" "de/[...]/par_recs_clt.rb"

This results in the following error, while the first line describes the current di

[2020-07-24 20:17] Ana06 commented on #3842
@deivid-rodriguez

I modify some files and commit them back in the workflow. I had committed the bundle configuration file by accident, but I have now just excluded that file in `.gitignore`. So it is not really a big deal :sweat_smile:

Thanks a lot for the explanation! :+1:

[2020-07-25 05:12] ioquatix commented on #3837
Okay, so a solution would be to write something like:

[code]

???

[2020-07-27 07:51] grogyroger opened #3859 "Account Lost crédentiel"
Hello,

I'm having a problem with a rubygem account access.

My current problem is can't log has owner on project https://rubygems.org/gems/lrc_handler

This project was created by a former employee of the company, pierre deprey wich mail was p.deprey@linkbynet.com, i have access to his mail accont so i try the process forget your password with this mail adresse and with team-chef@linkbynet.com to

[2020-07-27 09:28] hsbt commented on #3859
@grogyroger Can you file it to https://help.rubygems.org/ ? This repository is the issue-tracker for CLI.

[2020-07-27 09:28] #3859 closed

[2020-07-27 23:34] x-yuri commented on #3082
Meanwhile (before `ruby-2.7.2` is released), you can rely on `rubygems` finding the [right version of `bundler`][1] (the one specified in your `Gemfile.lock` file). For that you need, unsurprisingly, to prepend `bundle exec` to your command, e.g. `bin/rails server` becomes `bundle exec bin/rails server`.

[1]: https://github.com/rubygems/rubygems/blob/v3.2.0.rc.1/lib/rubygems/bundler_version_finde

[2020-07-28 11:12] morgoth opened #3860 "Fails with stringio gem"
Recently I updated `csv` gem in my project, that contains adding `stringio` gem https://github.com/ruby/csv/commit/09dd9f27717f2159a5c4a4949a50f91d05fb640f

The bundler fails with:
[code]

This error appears on Github Actions pipeline, but I cannot reproduce it locally.

I'm using Ruby 2.6.6 with newest bundler `2.1.4`

[2020-07-28 18:07] captn3m0 opened #3863 "Error message with `BUNDLE_GLOBAL_GEM_CACHE` enabled refers to incorrect file"
### Describe the problem as clearly as you can

If you have `BUNDLE_GLOBAL_GEM_CACHE` enabled in your bundler config, any corrupt gem messages will refer to the incorrect file path.

### Post system independent steps to reproduce the problem

1. Ensure that bundler global cache configuration is enabled
2. Have a corrupted download once, on any project on any gem
3. Try to install the gem using bun

[2020-07-29 13:02] nobu opened #3866 "dry-run options"
I'm surprised a little by the followings.

[code]

Why are these different?

This issue is related to:

  - [ ] Network problems
  - [ ] Installing a library
  - [ ] Publishing a library
  - [x] The command line `gem`
  - [ ] Other

Here are my current environment details:

[code]

I will abide by the [code of conduct](https://github.com/rubygems/rubygems/blob/master/CODE_OF_CONDUCT.md).

[2020-07-30 17:07] deivid-rodriguez commented on #3842
Any time! Thanks to you for your clear report!

[2020-07-30 21:19] duckinator commented on #3866
I think it would be best to change `gem check` to use `--dry-run`, since in both RubyGems and Bundler that's the only time that option shows up without the hyphen. The current `--dryrun` can be added as an alias for `--dry-run`, to preserve backwards compatibility.

[2020-07-31 00:41] #3642 closed

[2020-07-31 01:47] #3676 closed

[2020-07-31 03:59] austinpray commented on #3866
+1 for `--dry-run`. I would not expect `--dryrun`. `git clean --dry-run ...` for instance.

[2020-07-31 10:51] pocke commented on #3860
I have the same problem with Ruby 2.7.1 and Bundler 1.17.3 on CIrcleCI with our Rails application.
It raises the same error.

[code]

But, actually bundler installed stringio v0.1.3 because I confirmed `Installing stringio 0.1.3 with native extensions` message in `bundle install`.

---

By the way, I made a Dockerfile to reproduce it.

[code]

[code]

It is not the same error, but I guess it is a

[2020-07-31 11:23] hsbt commented on #3851
See https://github.com/ruby/ruby/pull/3379

[2020-07-31 11:23] #3851 closed

[2020-07-31 13:04] MSP-Greg commented on #3851
Thank you.

[2020-08-01 10:16] pirj opened #3870 "Required Ruby version mismatch between rubygems.org UI and `gem specification`"
https://rubygems.org/gems/public_suffix/versions/1.4.0 reports

So does https://rubygems.org/gems/public_suffix/versions/1.3.3

However:
[code]

This issue is related to:

  - [ ] Network problems
  - [x] Installing a library
  - [ ] Publishing a library
  - [ ] The command line `gem`
  - [ ] Other

Here are my current environment details:

[code]

- [x] I will abide by the [code of conduct](https

[2020-08-01 10:21] deivid-rodriguez commented on #3870
This could be a data inconsistency between marshalled gemspec and DB, similar to what we fixed in https://github.com/rubygems/rubygems.org/issues/1906?

/cc @sonalkr132

[2020-08-01 10:46] pirj commented on #3594
Bump.
We have had an enormous number of weird flaky failures in RSpec CI jobs, and had to apply those workarounds:
https://github.com/rspec/rspec-rails/pull/2360/files#diff-8c3955be04b733dbd31e54e50844fb84R62
https://github.com/rspec/rspec-rails/pull/2366/files#diff-a8a7f2d3f06e0c6f9a7717dd8c7cb715R38

Indeed, there seems to be a correlation between the Bundler API being overload and the amount of

[2020-08-01 12:17] sonalkr132 commented on #3870
rubygems.org started storing `required_ruby_version` (previously `ruby_version`) from 20 March, 2014 ([source](https://github.com/rubygems/rubygems.org/pull/621#issuecomment-38123374)). These versions were published before this.

I understand now that bundler checks ruby versions during installation this is slightly more important, however, at the time this just seems to be for the UI. ie not as i

[2020-08-01 13:38] pirj commented on #3870
I must confess that I often prefer going to https://rubygems.org/gems to check version dependencies.
We have had issues with RSpec CI, but it turns out it was caused by a different issue, https://github.com/rubygems/rubygems/issues/3594. It was confusing to see Bundler spitting error messages that it fails to install something due to an unsatisfied Ruby version constraint while there was no constr

[2020-08-01 13:38] #3870 closed

[2020-08-01 13:44] deivid-rodriguez commented on #3870
In my opinion, if we choose not to fix the old data, we should at least stop displaying the field at all on the website for versions where this information is unreliable.

[2020-08-01 16:38] deivid-rodriguez commented on #3557
Fixed by https://github.com/rubygems/rubygems/pull/3786.

[2020-08-01 16:38] #3557 closed

[2020-08-01 18:36] deivid-rodriguez commented on #3863
I completely removed this error message in https://github.com/rubygems/rubygems/pull/3774. I think that might've fixed this issue as a side effect and the underlying error most likely includes a correct path?

[2020-08-01 19:41] deivid-rodriguez commented on #3860
Lazily loading `stringio` inside https://github.com/rubygems/rubygems/blob/14e11e0d796d3bcf390e6dca5a9ed3f44211c038/bundler/lib/bundler/compact_index_client/updater.rb does the trick for me. Will try to create a PR.

[2020-08-02 04:02] austinpray commented on #3317
While working on https://github.com/rubygems/rubygems/pull/3857 I was unable to get the full bundler test suite to run in docker.

I have spun up a test environment over at https://github.com/austinpray/rubygems-3317-bundler-dev

[The Dockerfile](https://github.com/austinpray/rubygems-3317-bundler-dev/blob/master/Dockerfile) has some test scenario ideas where I'm trying to nail down what exactly i

[2020-08-02 09:45] captn3m0 commented on #3863
I applied the patch, and while the error message changes, the result is the same (FormatError pointing to the incorrect file path):

[code]

[2020-08-03 17:47] mozgbrasil opened #3873 "breakpoint vscode not work to Ruby"
### Your environment

- `vscode-ruby` version:

    rebornix.ruby@0.27.0
    wingrunr21.vscode-ruby@0.27.0

- Ruby version:

    ruby 2.5.3p105 (2018-10-18 revision 65156) [x86_64-linux]

- Ruby version manager (if any):

    rvm 1.29.10 (manual) by Michal Papis, Piotr Kuczynski, Wayne E. Seguin [https://rvm.io]

- VS Code version:

    1.47.3
    91899dcef7b8110878ea59626991a18c8a6a1b3e
    x64

[2020-08-03 18:21] headius opened #3874 "Bundler local filters out all "ruby" platform gems on JRuby"
It appears that Bundler is filtering out all gems that don't have a platform of "java" when trying to activate a local/vendored bundle.

The original issue reported by @eregon is here: https://github.com/jruby/jruby/issues/6349

I dug into this and discovered that `expand_dependencies` is filtering out all dependencies in the "ruby" platform if the `generic_local_platform` is not also "ruby". This

[2020-08-03 21:38] fcbarnard opened #3875 "bundle - user . does not exist"
### Describe the problem as clearly as you can

When I execute the bundle command, everything goes well until I run into the following error:
[code]
### Post system independent steps to reproduce the problem

I just execute the 'bundle command'

### Which command did you run?

bundle

### What were you expecting to happen?

The necessary gem files to be created I suppose

### What actually happene

[2020-08-03 23:09] hsbt commented on #3873
Your issue is out of scope on this tracker.

[2020-08-03 23:09] #3873 closed

[2020-08-05 13:51] rreinhardt9 commented on #3705
I've been looking farther into this one in the attached draft PR, but I've come up with several questions from the investigation.

## What I've found
 If you were to just comment out the line https://github.com/rubygems/rubygems/blob/e2a4895aab3225652d5946dc34623fb4177a2678/bundler/lib/bundler.rb#L356

and then run the specs, this spec still passes https://github.com/rubygems/rubygems/blob/035984c

[2020-08-05 13:55] coding-bunny commented on #3225
Is there an update regarding this bug?
As work around we also will nuke the cache folder manually, but this is creating insane large production containers

[2020-08-05 15:02] bronzdoc commented on #3225
@macropin @coding-bunny I will look into this, this week. Thanks for the ping and followup.

[2020-08-06 10:24] ryanwjackson opened #3878 "Feature: Install namespaced different versions of the same gem"
# Preface

This may not be a RubyGems issue and more a Bundler issue. Perhaps I missed it, but I did not find this in existing issues. I started to dig into the code, but I figured it may be faster to have someone more knowledgable shoot me down or point me in the right direction for making the change.

# Problem

Let's assume I have a project (rails, another gem, anything using bundler) that requ

[2020-08-06 10:42] eregon opened #3879 "Remove the BundlerVersionFinder / "Bundler version switcher""
I think we've discussed this several times and agreed on it, but I couldn't find an issue on the tracker.

Bundler 1 seems no longer maintained, the [last release of Bundler 1](https://rubygems.org/gems/bundler/versions) was in 2018.
Therefore it seems important, notably for security reasons and to increase Bundler 2 adoption, that Bundler 2 is used for all cases if installed, even if the Gemfile.

[2020-08-06 10:46] colby-swandale commented on #3879
The current issue/PR is at #3073

[2020-08-06 11:03] hsbt commented on #3879
I wonder why you didn't use `bundle update --bundler`. I always update the bundler version with it under the `BUNDLED WITH`.

[2020-08-06 11:05] colby-swandale commented on #3878
Bundler/Ruby cannot namespace gems by their version, any code that's loaded from a `require` is defined in the same global namespace as your application. If you were to `require` multiple versions of the same gem, they would essentially be overwriting each other's classes, modules, methods, etc - and causing all sorts of bugs to happen.

[2020-08-06 11:11] eregon commented on #3879
There are arguments for that in the RFC and blog post.
Some reasons I remember from those:
* If I contribute to a project and the Gemfile.lock is `BUNDLED WITH 1`, I definitely don't want to include that change in a PR (not my decision as a contributor). But I also don't want to install an old unmaintained Bundler version. And keeping a local diff is annoying.
* And for the maintainer of a gem, if

[2020-08-06 11:13] eregon commented on #3879
@colby-swandale Thanks, I searched issues and not PRs so I missed it.

Let's wait for @deivid-rodriguez to back and see what he thinks.
Probably we just need to rebase that PR and merge it?
Let me know if I can do anything to get this PR merged.

[2020-08-06 11:25] ryanwjackson commented on #3878
@colby-swandale Makes sense.  Obviously best practice is to just update the gems to use newer versions, but sometimes forking them and "updating" them is just patching them in an unscalable way.

I was just trying to think if there was some clever way around this without necessitating changes to any of the gems in this example, only how you include/use them.  I'm not a deep ruby-ist, but I assume

[2020-08-06 18:24] mehagar opened #3880 "Executing any bundler command fails"
### Describe the problem as clearly as you can

I cannot run any bundler commands. I get the same stack trace every time I run any bundler command. [Here](https://gist.github.com/mehagar/3a073bfc4d511389b40b2f8bd10a486f) is a gist that shows my Gemfile, and ruby, rvm, and RubyGems versions.

### Post system independent steps to reproduce the problem

1. Create a new Rails app.
2. Use `gem install

[2020-08-06 22:58] hsbt commented on #3879
Interesting. I also faced the old verion of rails, nokogiri, bundler and other stuffs everydays. But I did install them if I hope to contribute the some project. Why You avoid to install only bundler?

[2020-08-06 23:02] eregon commented on #3879
In practice I still install Bundler 1 since I have no choice while the BundlerVersionFinder is still there.

My concern specifically here is Bundler 1 seems unmaintained (including security-wise).
For other gems older versions might still be maintained, which is different. And other gems basically never prevent you to use a newer version, especially if it's compatible. `BundlerVersionFinder` preve

[2020-08-06 23:13] eregon commented on #3879
A concrete example: https://github.com/ruby/setup-ruby (and I would think other CIs) have pretty complicated logic, all due to the BundlerVersionFinder. For instance, it needs to read `BUNDLED WITH` to find a version of Bundler that BundlerVersionFinder will accept. And it would probably make a lot more sense to just always use Bundler 2 on Ruby >= 2.3, but `BundlerVersionFinder` prevents this.
An

[2020-08-06 23:17] eregon commented on #3879
To be honest I don't know why I detail this so much here. Maybe to illustrate the urgency of removing it?
The Bundler team already agreed in the RFC to remove `BundlerVersionFinder`, and it solves so many issues.

[2020-08-06 23:20] hsbt commented on #3879
Got it. But In my understanding, After Bundler 1.17 didn't have an security issues. Because we didn't release the new version of Bundler 1. The critical vulnerability was found in Bundler, We may release the new version of Bundler 1.

In my experience, I sometimes got the frustration of bundler version. But I did install the each bundler version and share them each Ruby versions, I leave from the

[2020-08-06 23:38] eregon commented on #3879
https://github.com/rubygems/rfcs/blob/master/text/0000-lockfile-versions.md has all the details isn't it?

I agree, it causes pain and it gains basically nothing. There is only one lockfile version right now, so we don't need any kind of lockfile version handling yet. And anyway since it would be all about the lockfile version, there should never be a need to use a older Bundler version or automat

[2020-08-06 23:52] hsbt commented on #3879
Thanks. I missed it. We need to how move to step.3 before doing step.2.

[2020-08-07 00:12] hsbt commented on #3880
@mehagar Can you reproduce it without RVM?

[2020-08-07 01:36] #3004 closed

[2020-08-07 13:24] mehagar commented on #3880
I reinstalled 2.7.1 through RVM and it works now. I will close this.

[2020-08-07 13:24] #3880 closed

[2020-08-07 15:47] duckinator commented on #2907
This should be fixed whenever a release is made that includes the changes from PR #3789.

[2020-08-09 19:03] rreinhardt9 commented on #3705
After digging a bit more in the history, it looks like line explicitly removing RUBYOPT was no longer needed after this commit adding `INTENTIONALLY_NIL` to EnvironmentPreserver https://github.com/rubygems/rubygems/commit/8e3b925413e1ed5f721e2f7d90dfe6f0e3c43af5

It USED to work differently back in 2012 when the explicit removal was added. Then `ORIGINAL_ENV` quite literally just saved whatever wa

[2020-08-10 12:13] colby-swandale commented on #3875
Can you please share the output of `bundle env`?

[2020-08-10 13:21] colby-swandale commented on #3878
There is no cleaver way to work around this issue. Bundler will only allow you install/load a single version of a gem for a given Gemfile.lock. You will need to try and find a version of Gem1 and Gem2 that meets their dependency requirements.

[2020-08-10 13:21] #3878 closed

[2020-08-10 13:56] VVD opened #3881 "bundle install gems in /opt/rh/rh-ruby26/root/usr/share/gems/, but gem install same gems in /opt/rh/rh-ruby26/root/usr/local/share/gems/"
Sorry for my poor English.

### Describe the problem as clearly as you can
I installed Redmine 4.1 in path /opt/redmine on CentOS 7.8.2003.
ruby installed from repo:
[code]
[code]

### Post system independent steps to reproduce the problem

Don't know what to write here…

### Which command did you run?
[code]

### What were you expecting to happen?
bundle install gems in path /opt/rh/rh-ruby26/roo

[2020-08-10 15:48] zaitcev opened #3882 "bundler is confused by an unpacked gem"
### Describe the problem as clearly as you can

I am testing puppet-tripleo for RDO (Red Hat Distribution of OpenStack).
It comes from https://opendev.org/openstack/puppet-tripleo.git.
The first step is to run "bundle install", which fails like this:

[zaitcev@suzdal puppet-tripleo-c744015]$ bundle install
Fetching https://git.openstack.org/openstack/puppet-openstack_spec_helper
Fetching gem metad

[2020-08-10 15:49] zaitcev commented on #3882
@voxik Not sure how to add you to cc: but hopefully this will do.

[2020-08-11 06:37] lirantal opened #3883 "Enhancing security insights for RubyGems"
I'm having a problem or would like to suggest a feature.

This issue is related to:

  - [x] Installing a library
  - [x] The command line `gem`
  - [x] RubyGems.org

---

Hey folks,
Liran from [Snyk](https://snyk.io) (open source security) here 👋

Me and my team have been spending some time recently working with the community to increase the security awareness for developers as they use dependenc

[2020-08-11 13:48] and0x000 opened #3884 "bundle viz without gem installation"
### Describe the problem as clearly as you can

`bundler viz` requires the gems to be be installed, even if there is a `Gemfile.lock` (e.g from `bundle lock`).

From my point of view, the lock file contains all the necessary information for generating the graph. Therefore I do not see the need for the gems to be actually installed for generating the graph.

As for my use case:
I want to generate t

[2020-08-12 11:52] andie-chernysh commented on #3551
No, it doesn't for me.

[2020-08-12 17:09] headius commented on #3874
I believe this would also fail to include gems that have been pre-built for specific platforms, such as for win32.

[2020-08-13 11:52] sixtyfive opened #3885 "Requiring bundler/setup breaks Psych option?"
[code]

[2020-08-13 11:53] #3885 closed

[2020-08-14 08:37] matkoniecz commented on #3883
Note that this would be not enhancement - it just leads to a pointless confusion such as in https://github.com/openstreetmap/iD/issues/5463#issuecomment-435588890

Maybe it is possible to do it well, but please do not base anything on anything done by npm.

[2020-08-14 12:10] mlamei commented on #2415
Thank you, what would be the directory for Windows?

[2020-08-14 13:09] MSP-Greg commented on #2415
@mlamei

This has been closed for a while, if you continue to have problems, an issue should be opened elsewhere.

Windows Ruby versions 2.4 and later should not have any OpenSSL issues, as they bundle certs with the build binary.  With 2.3 and earlier, one needs to obtain a ca cert file, and where it's located is your choice.

Note that Windows Ruby 2.5 is the first version using OpenSSL 1.1.1, s

[2020-08-14 13:59] mlamei commented on #2415
Thank you, I have Ruby 2.3 and I could solve the issue downloading a ca cert file ( https://gist.github.com/fnichol/867550 )

[2020-08-14 21:34] duckinator commented on #3333
I just tried out @fatkodima's repo and it works very well.

@fatkodima are you interested in maintaining that going forward, or would you prefer to hand it off to the RubyGems/Bundler team?

@deivid-rodriguez @colby-swandale I feel that @fatkodima's work is a good starting point. Just a matter of figuring out where the repo will be and who will maintain it. If it's handed off to the RubyGems/Bundl

[2020-08-14 21:38] fatkodima commented on #3333
this

[2020-08-14 21:56] hsbt commented on #3333
At least, We keep the commit history for separating the repository.

I think we will create the `rubygems/bundler-viz`, after that it may transfer the another maintainer.

[2020-08-14 23:06] duckinator commented on #3333
Okay. I don't have permissions to create/manage repos on the RubyGems organization. If someone who does have that ability creates an empty `rubygems/bundler-viz` repository and lets me know, I can take over working on it.

[2020-08-14 23:07] duckinator commented on #3333
And I'll be sure to keep the existing commit history from @fatkodima's repo. :+1:

[2020-08-14 23:58] duckinator commented on #3333
I created https://github.com/duckinator/bundler-viz based on @fatkodima's repo, and have it pretty much ready to go.

Unfortunately I don't have permission to transfer repos into the RubyGems org. I'll try to coordinate with on Slack with someone on getting it migrated.

[2020-08-15 00:37] duckinator commented on #3333
(Copying this over from Slack for context.)

I believe the relevant files are bundler/lib/bundler/cli.rb and bundler/lib/bundler/cli/viz.rb.

Unfortunately, `git subtree split` only works on directories (so it'd pull in the entirety of `bundler/cli/*`). And using `git log` to generate patches involving those files and applying them to an empty repo results in multiple hundreds of pacthes that don'

[2020-08-15 00:42] duckinator commented on #3333
If nothing else, I know it can be reduced to at most 790 commits -- every commit involving those files + an initial commit that's just importing the codebase prior to those files existing -- which is significantly less than the 22,542 commits in the entire repo.

[2020-08-19 17:21] schneems opened #3890 "Bundler 1.17.3 installs with ENV Vars are different than with flags"
Due to the deprecations in Bundler 2, i'm working to remove the invocation arguments to bundler:

[code]

This work is tracked in https://github.com/heroku/heroku-buildpack-ruby/issues/943

To avoid extra calls to `bundle config` it was decided to instead use environment variables. This work is tracked in https://github.com/heroku/heroku-buildpack-ruby/pull/1039

The final command ends up being:

[2020-08-20 13:34] schneems commented on #3890
It's worth noting that I can reproduce this with bundler 2.0.2. So it looks like it must have been fixed in t he 2.x branch, but not backported.

[2020-08-23 03:47] MSP-Greg opened #3894 "gem outdated - FileUtils missing"
Using Ruby master (`ruby 2.8.0dev (2020-08-22T05:12:12Z master 2ddc67ffb6) [x64-mingw32]`), and also using it with RG master copied into it, when running `gem outdated` shows the following:
[code]

This issue is related to:

  - [ ] Network problems
  - [ ] Installing a library
  - [ ] Publishing a library
  - [x] The command line `gem`
  - [ ] Other

Here are my current environment details:

[cod

[2020-08-23 18:40] lfv89 opened #3895 "A new config file for storing credentials"
### Problem:

At the moment the `~/.bundle/config` receives both credentials and generic global configuration.

This is not ideal for versioning purposes. It does makes sense to version the file because global configurations like `BUNDLE_PATH` are useful across multiple setups, but it's not safe to do it right now because credentials for accessing private gems (like `BUNDLE_GEMS__CONTRIBSYS__COM`

[2020-08-23 18:49] simi commented on #3895
Seems like great candidate for [RFC](https://github.com/rubygems/rfcs). Crucial would be to do that only for new installations and support the old way of storing credentials when still present.

[2020-08-24 01:34] hatkyinc2 opened #3896 "`bundle package --all` only works once! (when not set in config)"
### Describe the problem as clearly as you can
`bundle package --all` only works once! (when not set in config)
[code]

### What were you expecting to happen?
Either let is work, or have a proper message of setting is already set in .bundle/config
(There is a lot of confusion with the docs saying to use switches and the command saying they are going to be deprecated and you should use `bundle conf

[2020-08-24 12:08] ogunyuksel17 opened #3898 "bundlerog"
### Describe the problem as clearly as you can

### Post system independent steps to reproduce the problem

### Which command did you run?

### What were you expecting to happen?

### What actually happened?

### If not included with the output of your command, run `bundle env` and paste the output below

[2020-08-24 12:08] ogunyuksel17 commented on #3898
bundlerog1

[2020-08-24 12:09] ogunyuksel17 commented on #3898
hello,welt
help

[2020-08-24 12:13] ogunyuksel17 opened #3899 "bunder2"
### Describe the problem as clearly as you can

### Post system independent steps to reproduce the problem

### Which command did you run?

### What were you expecting to happen?

### What actually happened?

### If not included with the output of your command, run `bundle env` and paste the output below

[2020-08-25 17:15] deivid-rodriguez commented on #3177
@fzakaria Sorry for taking this long to get to this. I proposed a solution at #3902. Can you try it and check if it works for you?

[2020-08-26 08:15] deivid-rodriguez commented on #3644
Given the latest feedback in this issue, I guess this can be closed?

[2020-08-26 08:17] deivid-rodriguez commented on #3693
What is it exactly that you are suggesting here? If a path is configured for `bundle install`, should we not install to that path? :thinking:

[2020-08-26 09:09] deivid-rodriguez commented on #3744
Hi @chrisseaton!

I had a look at this, and I'm not sure what to do about it. In my case, the repro steps led to a different error, namely:

[code]

The explanation for this error is the following:

The `Gemfile` we have reads:

[code]

The `gemspec` DSL by default means: consider any gemspecs in the current directory or any subdirectories of it. So, when you clone `bundler` in a subfolder, the `b

[2020-08-26 12:01] chrisseaton commented on #3744
Maybe I should just not clone Bundler into my repos.

[2020-08-26 14:36] eregon opened #3905 "Bundler with a path fails to find openssl 2.2.0"
### Describe the problem as clearly as you can

Given this Gemfile:
[code]

* If first I install gems globally with `bundle install` (or just `gem install openssl:2.2.0` should repro too),
* then I set the Bundler path with `bundle config --local path vendor/bundle`
* And then I run `bundle install`, I get:

[code]

Note it doesn't reinstall `openssl 2.2.0`, just `Using openssl 2.2.0`.
This seems

[2020-08-26 14:42] MSP-Greg commented on #3693
See #3905

Seems to also be about the difference in behavior re bundled vs default?

[2020-08-26 15:02] deivid-rodriguez commented on #3693
That one sounds like a bug. What is this one about, could you clarify?

[2020-08-27 07:26] deivid-rodriguez commented on #3863
Ok, thanks for confirming. I'll have a look!

[2020-08-27 07:34] deivid-rodriguez commented on #3705
Hi @rreinhardt9! Thanks so much for the investigation. I agree we can kill those lines manipulating `RUBYOPT`. Are you planning to update the draft PR with those changes?

@Edouard-chin Does removing those lines help with your problem?

[2020-08-27 07:59] deivid-rodriguez commented on #3879
I'm sorry I never commented on the RFC. In my opinion, the RFC and the idea of versioning lockfiles is nice, but it solves a "future problem" (there's no current lockfile format incompatibilities accross versions) and I'm not sure it justifies removing the `BundlerVersionFinder`.

Even though I proposed #3073 at the time, and said what was quoted, I don't think I want to remove the `BundlerVersion

[2020-08-27 08:17] deivid-rodriguez commented on #2907
We normally close tickets as fixes land into master, so I guess we can close this as fixed by #3789?

[2020-08-27 08:38] deivid-rodriguez commented on #3875
Also, could you try with bundler 2.1.4?

[2020-08-27 08:42] deivid-rodriguez commented on #3881
Hi! Something I noticed is that you're using `bundler` to install gems, and `gem uninstall` to uninstall gems. This is likely to not work. You should probably also use `bundler` to remove gems, by removing them from the `Gemfile`, and then running `bundle install` again.

[2020-08-27 08:44] deivid-rodriguez commented on #3884
This sounds reasonable to me in principle.

[2020-08-27 08:46] deivid-rodriguez commented on #3551
@andie-chernysh I have no idea why that is :man_shrugging:

[2020-08-27 17:05] VVD commented on #3881
What?
bundler doesn't uninstall any gems - it install new only.
For example if I do "bundle update" it install new versions of gems and keep old versions installed. I tried to uninstall old version with "gem uninstall GEM_NAME -v OLD_VERSION", but it search gems in different path.
bundle clean can uninstall some gems I installed manually:
[code]
[code]

[2020-08-27 17:08] deivid-rodriguez commented on #3881
You're right, I'm not sure what I was thinking :sweat_smile:.

Does `bundle clean --force` do the trick for you?

[2020-08-27 17:09] VVD commented on #3881
Yes, it removed some gems I installed manually! :-D

[2020-08-27 17:09] deivid-rodriguez commented on #3881
In any case, if you can post repro steps for me, I can try figure out why those commands are using different paths.

[2020-08-27 17:10] VVD commented on #3881
Check 1st post - I wrote steps…

[2020-08-27 17:23] deivid-rodriguez commented on #3881
You wrote:

It sounds like I would need to install redmine on a CentOS box to try to reproduce this. I don't think I'll have time to do that. If you can share a CentOS Dockerfile with all the steps needed to reproduce this, I'm happy to have a look.

[2020-08-27 19:46] VVD commented on #3881
I don't use Docker…
CentOS 7 + bundler - is it uncommon setup?
You don't need redmine - just any ruby application and installed from https://repo.ius.io ruby.

[2020-08-28 00:57] rreinhardt9 commented on #3705
@deivid-rodriguez You bet; I'll get right on updating that PR with those changes! Thanks for the sanity check!! 🙏

[2020-08-28 08:04] deivid-rodriguez commented on #3881
Yes.

I'll leave this ticket open so that contributors running CentOS willing to help can find it.

[2020-08-28 08:18] deivid-rodriguez commented on #3894
Thanks for the report. https://github.com/rubygems/rubygems/pull/3911 should fix this.

[2020-08-28 09:38] deivid-rodriguez opened #3912 "Handle promotion of `set` to a default gem"
### Describe the problem as clearly as you can

Set was promoted to a default gem at https://github.com/ruby/ruby/commit/8a40e9b5a20314a509c8caaadce19a0b52680419. Since `bundler` uses `set` quite a lot, it will now load the default version of `set` very early and applications won't be able to choose any version of `set` via the Gemfile. We should fix this issue because otherwise the promotion is q

[2020-08-28 09:52] deivid-rodriguez commented on #3912
As per https://github.com/rubygems/rubygems/pull/3910#issuecomment-682433984, should we go with vendoring `set` once the github repository is available, then?

[2020-08-28 10:13] hsbt commented on #3912
I will make the repository to public before the final release of Ruby 3.0.

[2020-08-28 10:57] deivid-rodriguez commented on #3890
As discussed in slack, this is fixed in bundler 2.1.4.

Also, as @colby-swandale said, you can opt-in to the fix using the `BUNDLE_GLOBAL_PATH_APPENDS_RUBY_SCOPE` environment variable.

Is that enough to close this ticket?

[2020-08-28 13:15] VVD commented on #3881
Can you say, please, what are common server setups for bundler? Ubuntu? Debian? Arch? Wendoze? MacOS?
I have 2 more systems with Redmine in production (+ each system have copy for development - total 4 servers) on FreeBSD 12.1, but I think it's even more uncommon setup.

[2020-08-28 13:46] MSP-Greg commented on #3894
@deivid-rodriguez

Thanks for the quick fix.

[2020-08-28 14:46] deivid-rodriguez commented on #3881
I think normally people won't use OS packages to get ruby, but prefer ruby version managers or installation from source. People who use OS packages to get ruby normally they also rely on the OS dependency manager to get other ruby dependencies. But I don't really have any stats, just what I've seen out there.

[2020-08-28 15:30] deivid-rodriguez commented on #3905
Hi!

This works fine on latest master, so I bisected it and it was fixed by https://github.com/rubygems/rubygems/pull/3455. So upgrading to rubygems 3.2.0.rc.1 should fix the issue.

Also, I assume rubygems versions not including [the offending PR](https://github.com/rubygems/rubygems/pull/2309) should also work fine (I think that's before rubygems 3.0.0).

[2020-08-28 15:30] deivid-rodriguez commented on #3905
Can you double check?

[2020-08-28 15:40] deivid-rodriguez commented on #3882
I believe this might've been fixed by https://github.com/rubygems/rubygems/pull/3455. Could you try upgrading `rubygems` to 3.2.0.rc.1 and report back?

[2020-08-28 15:44] schneems commented on #3890
Related:

- https://github.com/rubygems/bundler/issues/3552
- https://github.com/rubygems/bundler/pull/6628

It looks like I can conditionally add this env var to systems using bundler 1.17.3. I believe that meets my needs. Thanks for the response!

[2020-08-28 15:44] #3890 closed

[2020-08-28 15:46] deivid-rodriguez commented on #3896
Thanks for the report. This is a duplicate of https://github.com/rubygems/rubygems/issues/3598, so I'll close this ticket in favor of that one, since it already has some discussion. I'll have a look at it now.

[2020-08-28 15:46] #3896 closed

[2020-08-28 15:47] deivid-rodriguez commented on #3890
No problem, thanks for reporting this!

[2020-08-28 17:33] deivid-rodriguez commented on #3727
Closing due to lack of feedback.

[2020-08-28 17:33] #3727 closed

[2020-08-28 18:52] #3726 closed

[2020-08-28 19:27] duckinator commented on #2907
@deivid-rodriguez yeah, I'll go ahead and close it. Not sure why I didn't before lol

[2020-08-29 09:20] #3251 closed

[2020-08-29 16:37] deivid-rodriguez commented on #3881
Hei! I had a closer look at your configuration and I think I know why this happens.

From you gem configuration:

[code]

This means:

* Your `GEM_HOME` (where both `bundler` and `rubygems` install by default) is `/opt/rh/rh-ruby26/root/usr/share/gems`. It's the `INSTALLATION DIRECTORY` section. This looks incorrect to me from what you explain since that's where OS-packaged gems should go. `GEM_HO

[2020-08-29 16:42] deivid-rodriguez commented on #3843
Hi!

This might be an issue with debian's redmine package. The problem seems to be redmine picks up the bundler version installed by the OS (bundler 2), and tries to install rails 4, which does not support bundler 2.

I think if you try to install a newer version of `redmine` (maybe from testing or something?), it should works because [I see here that they are already shipping a `redmine` version

[2020-08-30 00:58] duckinator commented on #3333
Alright, I took longer than planned to look at this, but took a look today and made some progress!

Looks like `git filter-branch` is no longer recommended, and `git filter-repo` is the new alternative the git devs recommend.

After a while of poking at things, I came up with these commands:

[code]

This combination narrows it down to the two relevant files. It inherently includes a lot of unrela

[2020-08-30 02:23] duckinator commented on #3333
Given the differences between the code I have and what's in the Bundler codebase, I'm honestly not sure how to get from https://github.com/duckinator/bundle-viz-wip (what I extracted today) to https://github.com/duckinator/bundler-viz (the version ready to release).

@hsbt what're your thoughts? I'm wondering if it's worth the effort at this point, honestly. Even after >4 hours of learning what se

[2020-08-30 02:53] VVD commented on #3881
GEM_HOME environment variable was empty - I think it calculated at runtime.

[code]
Fixed behavior, thanks!

It have both.

Yes, I know: gem option "-i " is a short version of the "--install-dir=".

Requested update for repo (with ruby): https://github.com/iusrepo/packaging/issues/10

Thanks!

[2020-08-30 10:16] hsbt commented on #3333
It seems fine to me. It's better to use it for publishing the standalone gem same as https://github.com/duckinator/bundler-viz. Maybe you only copy the current code to `bundle-viz-wip`.

[2020-08-30 11:46] deivid-rodriguez commented on #3881
Glad I could help! Should we close this ticket now?

[2020-08-30 12:47] eregon commented on #3879
If we don't remove it can we agree we at least agree we need to fix it?

So that using a more recent major Bundler version is always allowed, and `BundlerVersionFinder` should never get in the way of that. If the `Gemfile.lock` contains `BUNDLED WITH 1.x.y`, I want to be able to use Bundler 2 (not have to install Bundler 1 additionally), and without having to change the Gemfile.lock (so I don't ha

[2020-08-30 12:55] eregon commented on #3879
Which feature? `BundlerVersionFinder`? That's visible only since Bundler 2.
If what it takes is me making a PR to remove it so in Ruby 3 we have a much more intuitive behavior for Bundler, I'm happy to do that.

[2020-08-30 13:14] eregon commented on #3905
Indeed, `gem update --system --pre` which gives RubyGems 3.2.0.rc.1 fixes it, thanks for investigating!

So this is actually a bug of RubyGems, not of Bundler, and we'll need to wait the next stable RubyGems release to get the fix.

On CRuby master, it works although it's marked as `Using openssl 2.2.0` because there openssl 2.2.0 is the version of the default gem:
[code]

[2020-08-30 13:47] eregon opened #3916 "bundle config key value is --global by default"
### Describe the problem as clearly as you can

`bundle config key value` is `--global` by default (stored in `~/.bundle/config`), while I think most usages would benefit from being local.

For instance, typical mistakes are `bundle config path vendor/bundle`, `bundle config without db`, etc.

Which unfortunately is also what is shown by deprecation messages, and I believe that part is an outright

[2020-08-30 14:45] deivid-rodriguez commented on #3905
Great, closing then!

[2020-08-30 14:45] #3905 closed

[2020-08-30 14:46] deivid-rodriguez commented on #3916
I agree, we should fix the deprecation messages and consider changing `bundle config` default to be local :+1:.

[2020-08-30 14:48] eregon commented on #3916
PR to fix the deprecation messages and always show `--local`/`--global` explicitly for `bundle config set` commands: https://github.com/rubygems/rubygems/pull/3917

[2020-08-30 14:49] eregon commented on #3916
cc @chrisseaton since you ran into this bug (but I'm sure you're not the only one, this exists since Bundler 2 IIRC).

[2020-08-30 17:01] VVD commented on #3881
Waiting feedback from developers of the repo, but better to close this and reopen if needed.

Thanks!

[2020-08-30 17:01] #3881 closed

[2020-08-30 19:52] deivid-rodriguez commented on #3881
Thanks!

By the way, I think found the code and I believe the issue would be fixed if "system" is replaced with "local" accross this method: https://git.centos.org/rpms/rh-ruby26-ruby/blob/c7/f/SOURCES/operating_system.rb#_164-171.

[2020-08-30 20:01] deivid-rodriguez opened #3918 "Remove txt version of man pages"
### Describe the problem as clearly as you can

Keeping a txt version of man docs is a bit painful, mainly because of the different behavior accross the `groff` program that we use to generate those files from their man versions. In addition of that, when ronn sources are edited, the generated txt versions usually include more whitespace changes than necessary, making diffs harder to read.

It was

[2020-08-30 20:47] VVD commented on #3881
Thanks you a lot!
Wrote patch based on your information and posted to upstream.

[2020-08-30 21:25] #3177 closed

[2020-08-31 06:23] #3894 closed

[2020-08-31 11:15] eregon commented on #2671
I also agree updating RubyGems shouldn't update Bundler.
That should be done with `gem update bundler`, if desired.
There is no need for it.
I would think most Rubyists expect `gem update --system` to update RubyGems and nothing else, as it always was before this change.

Whatever our point of view, Bundler is a gem, with possibly multiple versions installed, and using `site_ruby` to install Bundl

[2020-08-31 11:34] eregon commented on #2671
To clarify the last point, on a fresh Ruby 2.6 install:
[code]

[2020-08-31 11:52] deivid-rodriguez commented on #2671
Repro steps are already posted in the [linked PR](https://github.com/rubygems/rubygems/pull/3045#issuecomment-568219655). But thanks.

[2020-08-31 17:18] schneems commented on #3879
This conversation is a bit muddy for me. I want to get context over where we're at.

I spoke with Andre and Coby at RubyConf last year and my understanding was that going forwards the existing failure/error behavior was going to be removed and that any incompatibility in the lock file would be solved by maintaining multiple lock file parsers internally in Bundler. I.e. bundler version 9000 that sh

[2020-08-31 23:43] zenspider opened #3920 "Latest RC bundled with ruby3.0 (trunk) raises exception on `gem outdated`"
probably just missing the `require "fileutils"`

[code]
[code]

[2020-08-31 23:58] hsbt commented on #3920
It was fixed at https://github.com/rubygems/rubygems/pull/3911

[2020-08-31 23:58] #3920 closed

[2020-09-01 12:34] deivid-rodriguez commented on #3874
Your investigation about this issue was very helpful. Just two notes to clarify from what I found:

The culprit was not actually related to local bundling, but to freezing. In other words, `bundle config set --local path foo` was not the culprit, but `bundle config set --local frozen true`. The reason is that on regular mode, the current platform is always added to the definition, but that does no

[2020-09-01 12:57] deivid-rodriguez commented on #3641
We have an open PR to implement our own version of [happy eyeballs](https://en.wikipedia.org/wiki/Happy_Eyeballs) to make `rubygems` use whatever protocol performs better. That should hopefully fix this and other ipv6 related tickets.

[2020-09-01 13:00] deivid-rodriguez commented on #2939
Could this be related to the ipv6 issues?

[2020-09-01 13:06] deivid-rodriguez commented on #3463
Just updating this issue with the new findings. We have identified one case where the fallback is still incorrectly happening thanks to @pirj. See https://github.com/rspec/rspec-rails/pull/2366#issuecomment-667741176.

The logs there show some `Net::OpenTimeout: execution expired` errors that could maybe be related to the ipv6 problem we want to fix in https://github.com/rubygems/rubygems/pull/266

[2020-09-01 13:10] deivid-rodriguez commented on #3226
Anyone who participated in this thread is using ipv6? You can check https://ipv6-test.com/, for example. I'm doing some triaging for issues that could get solved by #2662.

[2020-09-01 13:24] #3705 closed

[2020-09-01 13:25] deivid-rodriguez commented on #3705
@Edouard-chin Just realized that I was somewhat waiting for you to double check the attached PR, but I forgot and went ahead and merge it :sweat_smile:. Anyways, feel free to try it and let us know if you run into any issues :+1:.

[2020-09-01 13:35] Edouard-chin commented on #3705
My apologies for not answering on time :(. Thanks so much @rreinhardt9 for taking care of this ❤️ . I'll give it a try and post back if I find other issues.

[2020-09-01 14:27] sonalkr132 commented on #3463
Branch: https://github.com/eregon/ffi/tree/debug-bundler

Is this still the main issue? If so, I ran the same build here https://github.com/sonalkr132/ffi/runs/1056729819 and it seems to be passing.

[2020-09-01 15:10] deivid-rodriguez commented on #3463
I guess it's intermittent right now?

[2020-09-01 17:48] duckinator commented on #3879
I talked with @deivid-rodriguez, @indirect, and @segiddins and I think I now have enough information to clear things up here:

1. Further discussion has clarified that the lockfile versioning and BundlerVersionFinder things are distinct problems, as evidenced by the behavior of the same lockfiles sometimes changing between Bundler versions. For the purpose of this discussion, let's set everything

[2020-09-01 18:05] eregon commented on #3463
Yes I think it was transient although fairly frequent on 2.3, and less frequent on 2.4.

[2020-09-01 18:16] sonalkr132 commented on #3463
Would it be possible to share a link to the failed build which ran after 17 Aug? It would really helpful for us to confirm if this is still an issue. We have made two fixes related to this on the service side for this, first was of [removing unnecessary dependencies](https://github.com/rubygems/rubygems.org/issues/19060) and second was of [backfilling missing required_ruby_version](https://github.

[2020-09-01 21:07] pirj commented on #3463
Thanks for tackling those nasty issues!

Removed all workarounds https://github.com/rspec/rspec-rails/pull/2379. This pull removes all workarounds from the `3-9-maintenance` branch. That branch supports and builds on CI for as low as Ruby 1.8.7 and all the older gem versions, starting from Rails 3.0, up to Rails 6 with Ruby 2.6.
It may fail at first if I've removed something necessary. I'm going t

[2020-09-02 12:51] deivid-rodriguez commented on #3896
@hatkyinc2 This should be fixed by https://github.com/rubygems/rubygems/pull/3914, in case you want to give that a try.

[2020-09-02 12:54] deivid-rodriguez commented on #3598
I finally went with:

* Restore the CLI flag, but deprecate it in favor of `bundle config set --local cache_all true`, since that's what we've been doing with all the other flags that rely on silently being persisted as configuration after they are run for the first time.

* The option to cache git and path gems, or not, is still there, and can be configured with `bundle config set --local cache_a

[2020-09-02 15:10] #3916 closed

[2020-09-02 18:51] deivid-rodriguez commented on #3863
Hello @captn3m0!

I had a look at your issue. As far as I could see, there's three problems:

* The first problem is specific to using a global gem cache. When you use a global gem cache, the `.gem` file in the global gem cache is first copied to the local cache, and the copied file is used. I'm not sure why this is necessary, if we used the file in the global cache directly, the error message wou

[2020-09-02 19:07] dennisvandehoef opened #3925 "Bundle lock requires correct ruby version"
## Describe the problem as clearly as you can

I want to do a massive update on multiple projects, therefore I would like to run `bundle lock --patch --update [GEM]` on multiple (>20) projects. The machine executing this will not have all possible ruby versions installed. The workflow I tend to automate is the following:

1.  Random platform maintainer starts the script.
1.  Script: Checkout the p

[2020-09-02 19:38] captn3m0 commented on #3863
Hmm, on (3) - looks like the empty files are anyway getting noticed and deleted from the local copied version - so I guess that behaviour doesn't need changing.

I guess solving (1) solves everything here? I don't really use bundler that much these days, but I've often been annoyed by this. From my understanding:

1. If I have a corrupt gem in my global cache.
2. It gets copied to the local cache.

[2020-09-02 20:04] deivid-rodriguez commented on #3863
I see. So essentially the problem here is again cache pollution like in https://github.com/rubygems/bundler/pull/6010, and as long as we also delete the corrupt file in the global cache, it should be fine and work upon retry. At least, it wouldn't be any worse than not using local cache. In both case the error message will still point to a deleted file, but retrying the download should work.

I'm

[2020-09-02 20:22] captn3m0 commented on #3863
Hmm, on (3) - looks like the empty files are anyway getting noticed and deleted from the local copied version - so I guess that behaviour doesn't need changing.

I guess solving (1) solves everything here? I don't really use bundler that much these days, but I've often been annoyed by this. From my understanding:

1. If I have a corrupt gem in my global cache.
2. It gets copied to the local cache.

[2020-09-02 20:26] deivid-rodriguez commented on #3863
Did you mean to post the same message again?

[2020-09-02 20:32] eregon commented on #3916
Could we reopen to track changing the default? Or should I file a new issue?

[2020-09-02 20:34] deivid-rodriguez commented on #3916
I prefer a new ticket referencing this one.

[2020-09-02 20:36] eregon opened #3926 "Changing the default of `bundle config set` to be --local instead of --global"
### Describe the problem as clearly as you can

`bundle config set key value` is currently `--global` by default (stored in `~/.bundle/config`), while I think most usages would benefit from being local.

For instance, typical mistakes are `bundle config path vendor/bundle`, `bundle config without db`, etc.

Note also that the very similar command `git config key value` defaults to `--local`.

I th

[2020-09-02 20:36] eregon commented on #3916
OK, https://github.com/rubygems/rubygems/issues/3926

[2020-09-02 20:37] deivid-rodriguez commented on #3916
Thanks, I also edited the title of this ticket to reflect what we fixed in the PR that closed this.

[2020-09-02 20:39] eregon commented on #3926
I think the user's expectation is that running pretty much any `bundle` command in a project with a Gemfile only affects that project, and nothing else.
I think system-wide changes such as global config should always be explicit, as otherwise they can be very confusing.

[2020-09-02 20:46] deivid-rodriguez commented on #3267
Closing due to lack of feedback.

[2020-09-02 20:46] #3267 closed

[2020-09-02 20:47] #3302 closed

[2020-09-02 21:59] captn3m0 commented on #3863
No, GitHub wasn't showing it to me even after a few refreshes. Deleted now.

[2020-09-03 09:45] #3866 closed

[2020-09-03 09:47] #3600 closed

[2020-09-03 19:57] deivid-rodriguez commented on #3374
I'm guessing this is essentially closed by https://github.com/rubygems/bundler-site/pull/517?

I'm not really sure about the CVE and the fix that we shipped at the time, but if this causes further confusion or there's still some edge cases that need resolving, I guess it's better to track those as separate tickets?

[2020-09-03 20:00] deivid-rodriguez commented on #3502
We haven't received any further feedback or a way to reproduce this issue, so I'll close this for now.

[2020-09-03 20:00] #3502 closed

[2020-09-03 20:01] deivid-rodriguez commented on #3520
Would it be possibel to get a repro for this ticket?

[2020-09-03 20:02] deivid-rodriguez commented on #3640
Is this still an issue?

[2020-09-03 20:12] deivid-rodriguez commented on #3362
I tried reproducing this issue by running `bundle install` on the original Gemfile (using bundler 1.17.3, since one of the dependencies, rails 4.2, does not support a newer bundler), and everything went fine.

So I'll tentatively close this ticket. If you can provide a repro, feel free to reopen or open a new ticket. Thanks!

[2020-09-03 20:12] #3362 closed

[2020-09-03 20:14] deivid-rodriguez commented on #3346
This is related to the ongoing discussion about the version switcher, so I'll close this ticket in favor of those.

[2020-09-03 20:18] deivid-rodriguez commented on #3347
Is this still reproducible?

[2020-09-03 20:21] deivid-rodriguez commented on #3337
Updated the title to reflect what would need to be done here.

[2020-09-03 20:26] deivid-rodriguez commented on #3323
I think this is a duplicate of https://github.com/rubygems/rubygems/issues/3318.

The referenced issue is newer, and has a very nice explanation, so I'll close this ticket in favor of that one.

[2020-09-03 20:29] deivid-rodriguez commented on #3292
I believe this was fixed by https://github.com/rubygems/rubygems/pull/2344. If you can reproduce this with the latest version of rubygems, feel free to reopen!

[2020-09-03 20:29] #3292 closed

[2020-09-03 20:35] deivid-rodriguez commented on #3295
Hi! I'm sorry we never gave any feedback here.

I tried your repro steps, but unfortunately the command to "create a property file" is incorrect. If you can post corrected steps, I'm happy to have a look if this is still relevant.

[2020-09-03 20:37] deivid-rodriguez commented on #3287
Is this still an issue?

[2020-09-03 20:38] deivid-rodriguez commented on #3273
This should've been fixed by recent updates in rubygems & bundler. If it's not, please reopen!

[2020-09-03 20:38] #3273 closed

[2020-09-03 20:40] deivid-rodriguez commented on #3265
We never got any feedback here, so I'll go ahead and close this.

[2020-09-03 20:40] #3265 closed

[2020-09-03 20:43] deivid-rodriguez commented on #3264
@duckinator Txt man pages are going away in https://github.com/rubygems/rubygems/pull/3921, so you should be unblocked now.

[2020-09-03 20:47] deivid-rodriguez commented on #3247
I agree this would be quite complicated to introduce and maintain, but I also don't see the use case. What's the use case?

[2020-09-03 20:51] deivid-rodriguez commented on #3218
This sounds like a different issue where you were getting a bad download for some reason. I think this should be fixed in newer versions of bundler and rubygems, but if you still have problems, feel free to open a new ticket.

[2020-09-03 20:51] #3218 closed

[2020-09-03 20:57] deivid-rodriguez commented on #3193
I'm planning to ditch the txt man pages in https://github.com/rubygems/rubygems/pull/3921, so merging that PR should close this ticket as a side effect.

[2020-09-03 21:00] deivid-rodriguez commented on #3187
This was fixed by https://github.com/rubygems/rubygems/pull/3482.

[2020-09-03 21:00] #3187 closed

[2020-09-03 21:02] deivid-rodriguez commented on #3169
This is very likely a misconfiguration in the client in your machine, so I'll close this. If you still have issues, feel free to reach for help!

[2020-09-03 21:02] #3169 closed

[2020-09-03 21:04] thedanbob commented on #3323
I don't think these are actually duplicates. The other issue happens when you don't have a `Gemfile.lock` while this one occurs because bundler is ignoring the `BUNDLED WITH` line in `Gemfile.lock`. Unless specifying a bundler version in the `Gemfile` has the same effect as the `BUNDLED WITH` line, I suppose.

But since ruby 2.3 and 2.4 are both EOL now and this bug doesn't affect newer rubies, I

[2020-09-03 21:05] deivid-rodriguez commented on #3044
Closing since the original issue was fixed, and the new issue is being tracked separately.

[2020-09-03 21:05] #3044 closed

[2020-09-03 21:07] deivid-rodriguez commented on #2762
This turned out to be an issue with ruby's require, which is being tracked in ruby-core repository, so I'll close this. @lamont-granquist Please reopen if I misunderstood this.

[2020-09-03 21:07] #2762 closed

[2020-09-03 21:10] deivid-rodriguez commented on #1888
This issue was fixed by https://github.com/rubygems/bundler/commit/c7ac5b38012051379fb87d40e31e0887833dca98, and now the `rubygems/config_file` is not required when it may conflict with user chosen gem activation (`bundler/setup`). We still have some issues with some default gems, but this particular problem is no longer an issue, so closing!

[2020-09-03 21:10] #1888 closed

[2020-09-03 21:14] deivid-rodriguez commented on #968
This is an unfortunate long standing issue which we have never managed to fix yet. Solving this is still in the roadmap, and there's a [newer ticket](https://github.com/rubygems/rubygems/issues/3089) tracking this very same problem, so I'll close this old ticket in favour of that one, since it should contain more up to date information.

[2020-09-03 21:14] #968 closed

[2020-09-03 21:18] deivid-rodriguez commented on #3323
Oh, I see, you're right. I thought it was the same case because https://github.com/rubygems/rubygems/issues/3323#issuecomment-505893412 repro instructions included "delete Gemfile.lock". Reopening!

[2020-09-03 21:22] #3874 closed

[2020-09-04 10:54] #3193 closed

[2020-09-04 10:54] #3918 closed

[2020-09-04 19:22] Jens-G opened #3929 "Ownership transfer possible?"
My current problem is that the gems under https://rubygems.org/gems/thrift are published in the name of the Apache Thrift Developers. Problem now is, that this is both right and wrong.

It is correct that the current owner is t least technically still a member of the Thrift PMC (e.g. compare here http://thrift.apache.org/about or here https://people.apache.org/phonebook.html?unix=thrift).

It is w

[2020-09-05 02:29] TheEvilSkeleton opened #3930 "`bundle install` shows incorrect resolver error and hides the real culprit: a conflict with the `bundler` dependency"
### Describe the problem as clearly as you can

`bundle install` tells me that it uses an incompatible version of `middleman-sprockets`. I'm trying to test the website: [flatpak/flatpak.github.io](https://github.com/flatpak/flatpak.github.io)

### Post system independent steps to reproduce the problem

(I looked through the examples but I honestly have no idea what they mean)

### Which command di

[2020-09-05 09:47] deivid-rodriguez commented on #3930
Hi @TheEvilSkeleton! I'm sorry you run into this issue.

In this case, after closer inspection in debugging mode, I found out that the culprit is all possible resolutions for `middleman-core`  require `bundler ~> 1.1`, but you're using `bundler 2`. The error message is obviously really bad. :(

We have a workaround for this issue as a setting called `allow_bundler_dependency_conflicts` where if th

[2020-09-05 13:37] TheEvilSkeleton commented on #3930
Alright, `BUNDLE_ALLOW_BUNDLER_DEPENDENCY_CONFLICTS=true bundle install` has fixed my problem, but now I have another problem:

[code]

I ran this command, and then it gives me this:

[code]

I tried to install zlib, but it's already installed:

[code]

[2020-09-05 16:42] deivid-rodriguez commented on #3930
You probably need `zlib-dev` instead: https://nokogiri.org/tutorials/installing_nokogiri.html#fedora-red-hat-and-centos.

[2020-09-05 17:05] TheEvilSkeleton commented on #3930
We're progressing!

I've installed `zlib-devel` and now the command worked!

[code]

But now, when I run `bundle exec middleman server`, it still doesn't work:

[code]

[2020-09-05 21:01] ikngtty opened #3931 "How can I override `path` to the default path (Gem.dir)?"
### Describe the problem as clearly as you can

My global config, `~/.bundle/config`, is:

[code]

but locally I want to cancel it and install it to the default path, "Gem.dir".

I set a local config, `./.bundle/config`, as:

[code]

but it doesn't work. I try `bundle install` or `bundle update` and gems are installed to `./vendor/bundle`.

### If not included with the output of your command, run

[2020-09-06 04:03] duckinator commented on #3264
@deivid-rodriguez good to know! I also just realized that it got merged into the rubygems/rubygems repo since this issue was opened, so URLs may need to be updated again. :sweat_smile:

[2020-09-06 09:43] deivid-rodriguez commented on #3931
Thanks for the report @ikngtty. This, in principle, looks unexpected to me. I'll have a look.

[2020-09-06 09:44] deivid-rodriguez commented on #3264
Indeed, I think most stuff is done by now though. From your table in https://github.com/rubygems/rubygems/issues/3264#issuecomment-576051611, I think the changelog can be skipped, since references to PRs don't really translate accross repos.

[2020-09-06 10:08] #3598 closed

[2020-09-06 10:15] sonalkr132 commented on #2253
Hi, we are trying to verify the rubygems.org IPv6 connection issue at Fastly's (our CDN provider) end.
It would be very helpful if anyone here who has this issue can confirm that `wget -6 www.google.com` works but **`wget -6 rubygems.org` timesout**. Please [open a support ticket at our help site](https://help.rubygems.org/discussion/new) if you have this specific issue.

[2020-09-06 10:22] deivid-rodriguez commented on #3930
Ok, the seems unexpected, I'll try to have a look at that.

[2020-09-06 10:40] sonalkr132 commented on #3641
We have verified all of the AWS regions which have Ipv6 support to make sure that IPv6 connection is not an issue on any of them. You can verify if you have this issue by running the following commands on your host:
[code]

does this work when you are getting the timeout from `gem` cli?

[2020-09-06 11:20] AlexWayfer commented on #2253
<details><summary>A little off-topic, sorry.</summary>

I've created a discussion there about another problem, question: https://help.rubygems.org/discussions/questions/31631-i-want-to-get-multitool-name?unresolve=true

As you can see, it was created at Oct 28, 2019. And there is still no any attention, no responses. It even looks not-published at all: I don't see it in search neither in my profil

[2020-09-06 11:46] sonalkr132 commented on #2253
sorry, your ticket was marked spam. tender sometimes messes this up, unfortunately, it what we are using at the moment. we will migrate to zendesk soon.

[2020-09-07 10:55] whitingjr commented on #3295
@deivid-rodriguez hi, I've abandoned the work on this project. Plus the working directory that I was using. Making it very difficult to recreate this issue myself.
 I'm happy for this issue to be closed.

[2020-09-07 10:59] deivid-rodriguez commented on #3295
Thanks for getting back and sorry we got to this too late. If you ever run into any issues in the future, please keep reporting them to us! :+1:

[2020-09-07 10:59] #3295 closed

[2020-09-07 13:54] iamunadike commented on #3549
What you need to do is to know that a gem lock existing for a rails repo created and that ties a bond or say a connection between the active gems and the project at the time of creation.
to stop this error,
1. simply remove the former gemfile.lock
2. update the gemfile. this file contains your active gems to be used for your system including the ruby version for the case of compatability
3. finall

[2020-09-07 13:55] iamunadike commented on #3549
the above is a typical solution for a rails project

[2020-09-08 09:00] barabb opened #3934 "Debian 10 with redmine - Bundler (2.1.4) not working - no plugin install (bundler needed)"
I'm new to redmine and ruby.
Redmine works smoothly but i'm unable to install any plugin or to use bundler in any way;  tried (several times and ways) but with  quite the same results (perhaps the debian bundler version is up to date or not allined but is very annoying to be without chances of tuning anything) and i'm not able to figure where the trick is. By the way, a lot of problems with Gemfil

[2020-09-08 09:26] deivid-rodriguez commented on #3934
Hi @barabb!

This one is tricky. I think it's related to the fact that the `Gemfile` requires `yaml` (the `require "yaml"` line), which activates the `psych` default gem under the hood. Then `bundler` itself requires `psych` and activates the latest version instead. And that causes a conflict.

Can you run `gem list psych` and show the output?

[2020-09-08 09:27] barabb commented on #3934
Hi, I partially solved now (but why it didn't go earlier ? I actually already tried earlier this solution).
So, despite having already installed bundler (2.1.4) with debian packages, I did a new
# gem install bundler
I got the 2.1.4 version  again , but now  bundler works.
I close the issue in hope to help  someone with a save of time.
Sorry for having filed a bug - issue
Regards, David

[2020-09-08 09:27] #3934 closed

[2020-09-08 09:31] deivid-rodriguez commented on #3447
Hi @btoconnor, this might be too late but, did you manage to fix your issue?

[2020-09-08 09:34] deivid-rodriguez commented on #3511
I'm sorry I never replied to this. Does running `bundle clean` remove all this stuff? If yes, can you try setting the `BUNDLE_AUTO_CLEAN_WITHOUT_PATH` environment variable to see if that fixes your problem permanently?

[2020-09-08 09:35] deivid-rodriguez commented on #3744
Does modifying the `Gemfile` as suggested fix the issue for you though?

[2020-09-08 09:36] deivid-rodriguez commented on #3934
No problem at all, I'm glad you fixed your issue.

[2020-09-08 09:39] barabb commented on #3934
Hi, deivid-rodriguez ,
sorry I was writing and didn't see your answer. Thanks for your kind an quick answer.
By the way I' put down here what you asked.

# gem list psych

*** LOCAL GEMS ***

psych (3.2.0)

Now I'm able to install some redmine plugin (others obviously not)
So I  think it can remain closed.
Thanks again, David

[2020-09-08 09:45] deivid-rodriguez commented on #3934
I think this is a problem with debian's ruby where the `psych` default library code is not shipped as a default gem when it should. Fedora has the same issue actually. Out of curiosity, could you run `gem list |grep default` and post the output?

[2020-09-08 15:01] ain commented on #665
Reinstalling Ruby worked for me:

1. `rvm uninstall 2.7.1`
2. `rvm install 2.7.1`

[2020-09-08 19:55] deivid-rodriguez commented on #3741
Closing due to lack of feedback.

[2020-09-08 19:55] #3741 closed

[2020-09-08 19:56] deivid-rodriguez commented on #3644
Closing due to lack of feedback.

[2020-09-08 19:56] #3644 closed

[2020-09-08 20:51] chrisseaton commented on #3744
That works.

[2020-09-09 08:42] deivid-rodriguez commented on #3744
Ok, so to "resolve" this issue I would propose to deprecate `gemspec` loading multiple gemspecs and instead make it load only the gemspec in the same folder as the `Gemfile`. As an alternative for the current behavior we could:

* Require an explicit glob if you want to load multiple gemspecs.
* Introduce a new `gemspecs` DSL method to load multiple gemspecs.

[2020-09-09 11:49] deivid-rodriguez commented on #2910
Even if we got no further feedback, it sounds like this issue is still present, and that @duckinator's suggestion would be the way to go. So I'll set this as ready.

[2020-09-09 11:50] deivid-rodriguez commented on #3693
Closing due to lack of feedback.

[2020-09-09 11:50] #3693 closed

[2020-09-09 11:51] deivid-rodriguez commented on #3806
We haven't received any further feedback, so I'll close this for the moment.

I still would like to figure out what's going on here, so feel free to reopen this and post more information so we can try figure this out!

[2020-09-09 11:53] deivid-rodriguez commented on #3126
I _think_ we might have improved some extension building issues in recent versions. Could you try to reproduce this against the latest prerelease (`gem update --system --pre` will install it for you).

[2020-09-09 11:59] deivid-rodriguez commented on #1965
Even though we should've shipped this default change with rubygems 3.0, it's now obviously too late.

I tried to move forward this default change for the next _minor_ release, but I couldn't get @hsbt to agree. So we decided to change this for rubygems 4.0.

I'll set this as ready now.

[2020-09-09 12:05] hsbt commented on #1965
My concern is "This is not only performance and usage feature; this is Ruby's philosophy about documentation."  We shouldn't decide this change only one side.

[2020-09-09 12:10] deivid-rodriguez commented on #1965
I don't think it's worth spending time arguing about this, I'm just doing some old issue triaging and thought it'd be good to post the conclusions of what we discussed privately.

You still agree to change this for 4.0, right?

[2020-09-09 12:13] hsbt commented on #1965
RubyGems 4.0 is minimum requirements for this change. I'm going to ask matz, rdoc maintainers and other ruby core members about this change.

[2020-09-09 12:23] deivid-rodriguez commented on #705
I believe the last issue mentioned here might've been fixed by the same change that closed https://github.com/rubygems/rubygems/issues/2017 (shipped with rubygems 3.0). So I don't think we have too long gaps without any output anymore.-

So I think this can be closed now?

[2020-09-09 12:43] deivid-rodriguez commented on #1965
I'm confused since I thought we had already agreed on this, and the only concern mentioned so far was backwards compatibility.

[2020-09-09 12:46] deivid-rodriguez commented on #1965
I changed the status to "blocked" since this is now waiting on external people's approval.

[2020-09-09 12:48] hsbt commented on #1965
Thanks.

https://github.com/rubygems/rubygems/issues/1965#issuecomment-404376163 is 2 years ago. and I said the only compatible status. So, I introduced https://github.com/rubygems/rubygems/issues/1965#issuecomment-689518062 at first time now.

[2020-09-09 12:55] deivid-rodriguez commented on #1965
I see, well, it's good to find out that there are new concerns :)

[2020-09-09 18:40] simi commented on #1965
:thinking: Is there any way to make it default only for new installations not for upgraded ones?

[2020-09-09 22:01] ljharb commented on #3806
@deivid-rodriguez unfortunately i'm unable to share it, but i have a long gist of log output. Since we're using a gem bucket from S3, i don't think we can take advantage of any new APIs :-/

[2020-09-10 11:01] halfbyte opened #3935 "When a gem is yanked, bundler does not always show the correct error message"
### Describe the problem as clearly as you can

If the lockfile during a bundler run is in "unlocked" state, bundler resolves all gems from scratch. This leads to an interesting edge case where a yanked gem can have dependencies that can not be resolved from the index, as all non-yanked versions of the gem do not contain said dependencies.

The compact index implementation looks up all dependencie

[2020-09-10 11:41] deivid-rodriguez commented on #3935
Thanks @halfbyte! Looks definitely like a bug, and definitely hard to fix. But I will try to find some time to at least have a look at it and see what we can do.

[2020-09-10 12:08] deivid-rodriguez commented on #1965
I guess we could change the default, and put `gem: --document` in the `.gemrc` file (if documentation generation is not explicitly configured) when `gem update --system` is run.

But if there are concerns unrelated to compatibility about doing this at all, it seems pointless to make any efforts towards better compatibility at this point  :man_shrugging:.

[2020-09-10 12:23] deivid-rodriguez commented on #3806
Could you at least share the gist, with any "private stuff" masked or removed or something?

So... You're using a private gem source using [gemstash](https://github.com/rubygems/gemstash)? I think that would make sense since, it seems [it doesn't yet support the new Compact Index API](https://github.com/rubygems/gemstash/blob/872ccae8e3abb65a226e3d33715865c2fa6b1beb/lib/gemstash/gem_source/private

[2020-09-10 12:46] deivid-rodriguez opened #3939 "Handle promotion of `tsort` to a default gem"
### Describe the problem as clearly as you can

Tsort was promoted as a default gem in https://github.com/ruby/ruby/commit/01828a955a2d776263bda84ee12d9ea922bbfa01. Since `bundler` uses `tsort`, it will now load the default version of `tsort` very early and applications won't be able to choose any version of set via the Gemfile. We should fix this issue because otherwise the promotion is quite poi

[2020-09-10 12:50] deivid-rodriguez commented on #3875
Closing due to lack of feedback.

[2020-09-10 12:50] #3875 closed

[2020-09-10 12:52] deivid-rodriguez commented on #3806
If I'm right, we should move this ticket to `gemstash`, but for now, just to make sure we don't forget about this, I'm reopening.

[2020-09-11 09:13] iMacTia commented on #3092
Gentle bump on this one. Still an issue for me. Is there a working solution for this now?

[2020-09-11 09:57] deivid-rodriguez commented on #3882
Closing due to lack of feedback.

[2020-09-11 09:57] #3882 closed

[2020-09-11 10:00] deivid-rodriguez commented on #3293
Hi @ajvondrak, are you still interested in fixing this or should we take it over?

[2020-09-11 10:03] deivid-rodriguez commented on #3291
Since nobody answered, I'll go ahead and making this improvement and once it's done, enable this feature by default.

[2020-09-11 10:05] deivid-rodriguez commented on #3290
Never gave feedback here, but this is a very nice suggestion :+1:.

[2020-09-11 10:06] deivid-rodriguez commented on #3289
I'll close this since we never received further feedback about this.

[2020-09-11 10:06] #3289 closed

[2020-09-11 10:40] deivid-rodriguez commented on #3281
Closing due to lack of feedback.

[2020-09-11 10:40] #3281 closed

[2020-09-11 10:43] deivid-rodriguez commented on #3286
Hi @hadmut. Could you share a docker image that reproduces this error? It seems quite weird.

[2020-09-11 10:52] deivid-rodriguez commented on #3285
@tubbo Can you reproduce with the latest rubocop? This correction might've been a false positive.

[2020-09-11 10:55] deivid-rodriguez commented on #3271
Closing due to lack of feedback.

[2020-09-11 10:55] #3271 closed

[2020-09-11 10:56] deivid-rodriguez commented on #3268
Is this still an issue? Could you share steps to reproduce it?

[2020-09-11 10:59] deivid-rodriguez commented on #3258
Alternatively, you can install the `gem` file and remove the `path:` source specification.