[2022-06-22 07:49] #5641 closed

[2022-06-22 07:51] deivid-rodriguez commented on #5640
I don't know. Feel free to investigate.

[2022-06-22 08:22] 64kramsystem commented on #5276
As far as I've read, it's not an environment variable that the user can set, but it's used internally by make. The portability should also be verified - GNU Make and Nmake do support it, but I don't know about the rest :)

[2022-06-22 08:32] 64kramsystem commented on #5276
I have the suspicion that there is some complexity in this case.

Based on my understanding, this should not be a CPU problem due to the GIL. Bundler jobs are I/O constrainted (downloading, unpacking/copying etc.) so parallelism has a chance to occur, but extension compilation is (mostly) CPU bound, so there shouldn't be, at a point in time, more than one gem compiilng.

On the other hand, the com

[2022-06-22 08:42] pboling commented on #5636
@simi Separately - it is interesting that the search did not return the gem that actually caused the "name conflict".
[code]

It doesn't show `gem_ver`.  I think if it had it would have helped me discover the problem on my own.  I realize it is no longer a simple text match search if you start including "sounds like"-type results, so that may be a non-starter, but interesting nonetheless.

[2022-06-22 09:50] deivid-rodriguez commented on #5635
Thank you!

[2022-06-22 10:22] deivid-rodriguez commented on #5635
@graywolf-at-work Interestingly, I can't reproduce the issue running the commands you posted on my system. Can you provide a `Dockerfile` that reproduces this independently? Also, can you try upgrading RubyGems just in case? I don't recall any fixes related to this, but just in case.

[2022-06-22 11:13] djberg96 commented on #5637
@deivid-rodriguez Ok, I like the --no-executables option.

I'm wondering if this could be done as a plugin. Can you strip out spec contents in a `Gem.pre_install`?

[2022-06-22 11:15] djberg96 commented on #5637
@deivid-rodriguez Oh, forgot to ask, is the fact that it's not uninstalling the executable when I do `gem uninstall` a bug? Or am I not understanding something there as well?

[2022-06-22 11:26] deivid-rodriguez commented on #5637
Not sure.

I think that would be a Rbenv issue, that's not rehashing shims after `gem uninstall`. I think you could workaround it by running `rbenv rehash` manually.

[2022-06-22 11:40] djberg96 commented on #5637
Oh, wow, you're right: https://github.com/rbenv/rbenv/issues/548.

In my case I had a `tilt` install in a different version of Ruby that I had installed, so it repointed to that, yikes. I don't like that behavior, but at least now I know what's happening.

Alright, closing this one one since the first issue is expected behavior, and the second is an rbenv issue. Thanks for your time!

[2022-06-22 11:40] #5637 closed

[2022-06-22 11:50] deivid-rodriguez commented on #5635
Thanks @graywolf-at-work!

I couldn't repro the issue because my system has a different default temp folder that's not `/tmp`. Anyways, I think you're right. I think you can double check by manually adding the rescue clause to `update_index` and see if that fixes the issue. If yes, I'm happy to take a PR :)

[2022-06-22 12:27] deivid-rodriguez commented on #5366
This is support already, although some stuff was missing that I implemented at #5644.

Please read `gem env --help`.

[2022-06-22 12:31] deivid-rodriguez commented on #5635
You don't explicitly need to sign any CLA. By contributing you implicitly agree to our license, code of conduct, and so on. Is that ok for you?

[2022-06-22 12:36] deivid-rodriguez commented on #5640
In all these years, nobody has ever needed or wanted to ship a file with a name 100 characters long inside a gem, so I doubt this will ever be implemented (if even possible) unless you implement it yourself. I'm going to move this to discussion since we're not even sure it's a valid (acceptable) feature request.

[2022-06-22 12:37] #5640 closed, assigned to nobody

[2022-06-22 12:44] simi commented on #5636
@pboling that's actually good idea. If I remember well the logic lives at https://github.com/rubygems/rubygems.org/blob/master/app/models/gem_typo.rb. We can use similar patterns to search for gems.

[2022-06-22 13:30] tnir opened #5646 "Push bundler-v2.0.2 and bundler-v2.1.4 tags to GitHub"
### Describe the problem as clearly as you can

We cannot find bundler-v2.0.2 and bundler-v2.1.4 tags in https://github.com/rubygems/rubygems/tags unlike [bundler-v2.2.33](https://github.com/rubygems/rubygems/releases/tag/bundler-v2.2.33) (and later) and [bundler-v1.17.3](https://github.com/rubygems/rubygems/releases/tag/bundler-v1.17.3) (and earlier).

Full list of missing version tag on Git repo

[2022-06-22 13:42] djberg96 commented on #5637
For anyone following, this one-liner seems to do the trick. You can put this directly in your Gemfile:

[code]

[2022-06-22 14:02] deivid-rodriguez commented on #5646
The Bundler tags have been" migrated" from the old repository, but I don't really know how this migration was done, and I'm not even sure they are correct. If somewhere we need to point to old tags, we should use the ones in https://github.com/rubygems/bundler. If anything, I would remove old `bundler-v*` tags from this repository.

[2022-06-22 14:14] acouprie commented on #5619
Sure, here you go :
[code]

[2022-06-22 14:48] deivid-rodriguez commented on #5619
There's no `/usr/share/gems/gems/digest-3.1.0/lib/digest/loader.rb` file? Does `ruby --disable-gems -e"require 'digest'"` work?

[2022-06-22 15:11] acouprie commented on #5619
Indeed, there is not this file :
[code]

`ruby --disable-gems -e"require 'digest'"` execute succesfully and return nothing.

[2022-06-22 15:15] acouprie commented on #5619
`loader.rb` does not exist either on the digest repo : https://github.com/ruby/digest/tree/master/lib/digest

[2022-06-22 15:24] acouprie commented on #5619
I made it works by adding the file : `/usr/share/gems/gems/digest-3.1.0/lib/digest/loader.rb` with the content :
[code]

I found this answer in this commit history : https://github.com/ruby/digest/commit/8d7496c3be3b3476510d92a40443965102398da5

[2022-06-22 15:33] tnir opened #5647 "Update Bundler Policies (as Bundler 1.x, 2.1, and 2.2 are not supported)"
[Bundler Policies](https://github.com/rubygems/rubygems/blob/master/bundler/doc/POLICIES.md) says:

I would read Bundler 1 is eligible for bugfixes only as Bundler 2 is the current version as of writing (2022-06).

Does the team support all 1.x versions (including 1.0) or only 1.17 and 1.16?

Permalink: https://github.com/rubygems/rubygems/blob/e77e18d7b7662788cb28d68a1d873e886827c0dc/bundler/doc/

[2022-06-22 15:40] tnir commented on #5646
Yes, the migration looks perfect to me except for these missing tags only in 2.0.x and 2.1.x. As my use case is "editable" as shown in https://github.com/rubygems/bundler-site/pull/615, links to archived repo is nonsense to me.

[2022-06-23 02:40] pawandubey opened #5648 "Adding documentation for Rust/Cargo extensions"
Hello,

The support for building Rust extensions added in https://github.com/rubygems/rubygems/pull/5175 is great! But we are lacking documentation on the proper way to use it. https://guides.rubygems.org/gems-with-extensions/ only talks about C extensions as well.

After trying to publish a gem with a Rust extension built with rutie, it seems like the ruby library has to require the `<gemname.so>

[2022-06-23 08:01] deivid-rodriguez commented on #5648
I think @ianks will most likely have some answers here :)

[2022-06-23 08:37] deivid-rodriguez commented on #5646
I replied over at https://github.com/rubygems/bundler-site/pull/615. Since tags are not editable either, it's not useful to push these tags for your use case either.

The only reason to fix this would be for consistency, and in my opinion it's best to delete old tags from this repository, because the real source of truth of these old tags is the old repository.

[2022-06-23 08:43] deivid-rodriguez commented on #5647
No, not at all.

The current policy is actually some plan for the future, but it doesn't apply retroactively to old major releases. In practice, we only support the latest 2.x series at a given time, and release one new 2.y every year, at which point that becomes the supported series.

I think once we release Bundler 3 we'll be able to start applying that policy and keep supporting the latest 2.x

[2022-06-23 08:43] tnir commented on #5647
@deivid-rodriguez Would you say the maintainers maintain Bundler 2.2.x now?

The latest Bundler 2.2.x release was on December 07, 2021: https://rubygems.org/gems/bundler/versions/2.2.33

[2022-06-23 08:46] deivid-rodriguez commented on #5647
No, we may backport some fix exceptionally to v2.2 if requested (@hsbt has done something like this in the past, but it's not guaranteed at all).

[2022-06-23 09:16] deivid-rodriguez commented on #5619
Not sure what happened either, it sounds like your default gems are not properly installed, according to the warnings you were getting at the beginning of your command. I'll close this since the original issue is gone now, and it doesn't seem like a problem in RubyGems. On top of that, newer RubyGems versions don't use the `digest` gem anymore,  only `openssl`, so this should not reproduce in newe

[2022-06-23 09:16] #5619 closed

[2022-06-23 09:21] hsbt commented on #5647
I only request or backport the critical security issues for Bundler 2.2 and 2.1. They are bundled at Ruby 3.0 and Ruby 2.7.

Bundler 2.3 is compatible with Ruby 3.0 and 2.7. I think the users can upgrade bundler easily with `gem update` when the vulnerability was discovered.

[2022-06-23 09:29] deivid-rodriguez commented on #5647
That makes sense. We can also mention that in the updated policy.

[2022-06-23 11:59] tnir commented on #5646
Per https://github.com/rubygems/bundler-site/pull/615, I got it.

As an end-user of Bundler, the code origin of gem looks important to me. For example, ruby/ruby has stable branches https://github.com/ruby/ruby/branches.
The Bundler project can follow it to have 2.1, 2.2, 2.3 branches instead of deleting **tags** in rubygems/rubygems repo apart from RubyGems. I would be more reasonable if the Bund

[2022-06-23 12:07] deivid-rodriguez commented on #5646
Yes, absolutely, but note that, for example, the code origin for Bundler 1.17.3 is NOT https://github.com/rubygems/rubygems/tree/bundler-v1.17.3, it's https://github.com/rubygems/bundler/tree/v1.17.3. The former tag was created a long time after Bundler 1.17.3 was released.

The RubyGems & Bundler project has stable branches. The currently maintained stable branch is https://github.com/rubygems/ru

[2022-06-23 13:50] tnir commented on #5646
Incorrect. Both are the identical on GitHub, that is `rubygems/rubygems@bundler-v1.17.3` = rubygems/rubygems@d7089abb6a3c922bfe74199c103e745bb11bd46f = rubygems/bundler@d7089abb6a3c922bfe74199c103e745bb11bd46f = `rubygems/bundler@v1.17.3`. I think with care you pushed all tags from rubygems/bundler to rubygems/rubygems for all Git history to work perfectly!

---

And even if both RubyGems and Bund

[2022-06-23 14:08] deivid-rodriguez commented on #5646
I'm not saying they don't have the same contents, I'm saying the real tag that was created when Bundler 1.17.3 was released is https://github.com/rubygems/bundler/tree/v1.17.3.

I think there might be a reason why the migration did not work for the missing tags, and the benefit of investigating and potentially fixing it seems very small to me. In any case, you're free to investigate whatever you w

[2022-06-23 14:28] ianks commented on #5648
I recommend using the [rb_sys](https://github.com/oxidize-rb/rb-sys/tree/main/gem) for developing a gem locally. It handles all of that stuff, and more. As far as starting a new gem, #5613 will make getting started a lot easier.

I've started a bit on writing docs for it [in this Cargo book](https://oxidize-rb.github.io/rb-sys/). Although I consider Rust in Ruby to have feature parity with C at th

[2022-06-23 14:43] tnir commented on #5646
Thanks for explanation. As I found Bundler 2.0 and 2.1 look like obsolete just now, let me close this 🙏

[2022-06-23 14:43] #5646 closed

[2022-06-24 01:48] johnnyshields commented on #5269
@deivid-rodriguez @larskanis fix is here: https://github.com/rubygems/rubygems/pull/5649

[2022-06-24 07:17] graywolf-at-work opened #5652 "Failing test on alpine linux"
### Describe the problem as clearly as you can

When running tests from current master, one test is failing on alpine linux:

[code]

I plan to look into this and provide a patch, creating the issue mostly for record keeping.

### Did you try upgrading RubyGems?

No

### Post steps to reproduce the problem

[code]

### Which command did you run?

[code]

### What were you expecting to happen?

I w

[2022-06-24 07:20] deivid-rodriguez commented on #5652
Sounds great, thank you!

[2022-06-25 01:04] pawandubey commented on #5648
Thanks @deivid-rodriguez and @ianks! I will check out the links. Looks like things are already moving in the right direction, which is exciting! I will join the Slack and connect there. I am happy to leave this issue open for now, and close it once we have some documentation (even links to resources) rolled into the Rubygems guides, but no objection to closing it either.

[2022-06-25 15:57] deivid-rodriguez commented on #5605
Closing due to lack of feedback.

[2022-06-25 15:57] #5605 closed

[2022-06-26 02:15] #5635 closed

[2022-06-26 16:05] pravi opened #5657 "Add an option for satisfying a subset of dependencies from local system"
Currently `bundle install --local` expect all dependencies to be available locally. In Debian, we try to package as much rubygems as possible but for big packages like gitlab we are sometimes not able to package all dependencies in time. So we want a hybrid approach where gems not available locally only needs to be fetched from rubygems.org. So please add an option like --prefer-local which will t

[2022-06-27 08:03] #5334 closed

[2022-06-28 11:55] appuraj-philips opened #5664 "gem install octokit"
ERROR:  SSL verification error at depth 2: unable to get local issuer certificate (20)
ERROR:  You must add /O=Cisco/CN=Cisco Umbrella Root CA to your local trusted store
ERROR:  SSL verification error at depth 2: unable to get local issuer certificate (20)
ERROR:  You must add /O=Cisco/CN=Cisco Umbrella Root CA to your local trusted store
ERROR:  SSL verification error at depth 2: unable to get l

[2022-06-28 12:34] deivid-rodriguez commented on #5664
Usually @sonalkr132 is able to triage this kind of issue better than me. @sonalkr132 can you help if you are not too busy?

[2022-06-28 13:31] benidias opened #5665 "im not able to run the rails server command. it's tell me that permission denied"
### Describe the problem as clearly as you can

### Did you try upgrading rubygems & bundler?

### Post steps to reproduce the problem

### Which command did you run?

### What were you expecting to happen?

### What actually happened?

### If not included with the output of your command, run `bundle env` and paste the output below

[2022-06-28 13:32] benidias commented on #5665
<img width="1440" alt="Capture d’écran, le 2022-06-28 à 09 31 52" src="https://user-images.githubusercontent.com/106104759/176191470-11ef4c16-99f7-4a40-b2da-cb02dfc0b2cc.png">

[2022-06-28 13:42] appuraj-philips commented on #5664
@sonalkr132 can you please help me on this

[2022-06-28 13:47] simi commented on #5664
@appuraj-philips please ensure you're running latest rubygems (https://rubygems.org/pages/download) and follow https://bundler.io/v2.3/guides/rubygems_tls_ssl_troubleshooting_guide.html first.

[2022-06-28 13:59] deivid-rodriguez commented on #5665
I'll close this because it doesn't include enough information, a screenshot where we can't even see the full content of the error is not enough.

Please follow the bug report template if you want your issue to be looked at.

[2022-06-28 13:59] #5665 closed

[2022-06-28 14:31] #5652 closed

[2022-06-28 17:20] Ikaberry202 opened #5666 "Good"
### Describe the problem as clearly as you can

### Did you try upgrading RubyGems?

### Post steps to reproduce the problem

### Which command did you run?

### What were you expecting to happen?

### What actually happened?

### Run `gem env` and paste the output below

[2022-06-28 17:49] #5666 closed, assigned to nobody

[2022-06-28 18:26] #5422 closed

[2022-06-29 08:09] deivid-rodriguez commented on #5617
Closing since there was no answer and the related PR was closed.

[2022-06-29 08:09] #5617 closed

[2022-06-29 21:15] no-itsbackpack opened #5675 "Bundler 2.3.16 and 2.3.17 raises an error when updating vendor/cache"
### Describe the problem as clearly as you can
`bundle install` and `bundle cache` throws an error when updating the `vendor/cache` after upgrading bundler to `2.3.16`. `bundle install --local` still works and I am guessing it does because it does not call out to `rubygems.org`

### Did you try upgrading rubygems & bundler?

Yes, the bug occurs on `2.3.16` and `2.3.17`

### Post steps to reproduce

[2022-06-29 21:17] no-itsbackpack commented on #5675
I did some extra snooping around and found these changes might be causing the bug https://github.com/rubygems/rubygems/pull/5614/files#diff-cae021dce97344756b9347e262ca14ff32d50fdc3b48930398f37a68515afe2eL462-L463. version `2.3.15` had an early return if `spec.remote` was false but that line seems to have been removed in `2.3.16+`

[2022-06-30 05:04] 4-Eyes commented on #5675
I'm seeing the exact same error when running `bundle update` on `2.3.16+`. It similarly throws the error when it gets to updating the `vendor/cache`.

[2022-06-30 08:00] deivid-rodriguez commented on #5675
Uggh, thanks for the report. I overlooked something. Let me fix this.

[2022-06-30 11:04] deivid-rodriguez commented on #5675
#5679 should fix this!

[2022-07-01 00:10] duckinator commented on #1664
Looks like this is still a problem.

Ran a similar testcase, on Windows 10.

[code]

[2022-07-01 00:43] duckinator commented on #1664
Opened a PR for this: #5681.

[2022-07-01 01:49] duckinator opened #5682 "Have Bundler respect RubyGems' `--user-install`"
### Describe the problem as clearly as you can

Bundler should respect RubyGems installation directory unless explicitly overwritten.

E.g., putting `install: --user-install` in `~/.gemrc` should affect `bundle install`, unless Bundler's install path was overridden.

I don't have a great understanding of the nuance, since this frequently gets brought up as a side-discussion for other things. I'm h

[2022-07-01 01:51] duckinator commented on #5682
cc @deivid-rodriguez @indirect, since y'all previously had input on how this should be approached.

Feel free to ping anyone else you think would have some good input on this.

[2022-07-01 01:58] duckinator commented on #4031
I opened #5682 for discussing how to specifically handle having Bundler respect `--user-install`, since that seems to be what's _preventing_ removing auto-sudo (or restricting it to macOS, if that's still needed).

[2022-07-01 06:16] deivid-rodriguez commented on #5682
This sounds good to me, but regardless of `--user-install` being configured in RubyGems, I think we should also implement the same behavior in #5327, but for Bundler. Namely, if the default `GEM_HOME` is not writable, default to installing somewhere else that's writable. It could be `Gem.user_dir` like `--user-install` does, but I'd rather make it `vendor/bundle`, since that's what the `sudo` prom

[2022-07-01 06:17] indirect commented on #5682
Personally I'm a big fan of `.bundle` (and I actually set `bundle config path .bundle` globally myself). It keeps the gems in the application directory, but puts them somewhere that everyone is already ignoring in git.

[2022-07-01 06:21] deivid-rodriguez commented on #5682
Oh yeah, we already discussed `.bundle` vs `vendor/bundle` at https://github.com/rubygems/rubygems/issues/4534.

I'm good with `.bundle` too to fix this particular issue, and that's the current plan for Bundler 3 default anyways, so makes sense to unify that here too.

[2022-07-01 23:11] smsohan opened #5683 "bundle lock --add-platform overrides the BUNDLED WITH"
As per bundler [documentation](https://bundler.io/blog/2022/01/23/bundler-v2-3.html)

However, when bundle lock is used, instead of using the version of bundler as per Gemfile.lock, it uses the default bundler version and overrides the Gemfile.lock `BUNDLED WITH`. The documentation says the auto switch works for `bundle install`, but it'd be helpful to auto switch for the `lock` command as well. H

[2022-07-02 00:05] duckinator commented on #5682
I like `.bundle`, too -- I see `vendor/` used a lot actually-vendored projects, and using `.bundle` avoids trampling that.

But now I'm wondering if having Bundler default to `.bundle` all the time might be a good option. I've personally never _wanted_ Bundler to install things globally -- it's always for specific projects. It also makes the need to respect `--user-install` irrelevant, and avoids

[2022-07-02 10:18] deivid-rodriguez commented on #5682
It was already decided a long time that `.bundle` will be the default for Bundler 3. But it needs to be Bundler 3 given that changing this default is not backwards compatible. For this specific case though, it seems fine to switch to `.bundle` right away.

[2022-07-02 10:22] deivid-rodriguez commented on #5683
Yes, what specific problem is this causing you?

In my opinion, the new behavior is more accurate because previously, even if Bundler 2.3.7 would have generated your `Gemfile.lock` file, the `BUNDLED WITH` section would still say `2.1.4`, which is not really true.

[2022-07-02 10:39] #5597 closed

[2022-07-02 10:40] #5675 closed

[2022-07-02 13:35] leoplct commented on #5542
I am having the same issue. Did you solve it?
It's caused by upgrading to Rails 7.0.3

` The application encountered the following error: You have already activated strscan 3.0.0, but your Gemfile requires strscan 3.0.3. Since strscan is a default gem, you can either remove your dependency on it or try updating to a newer version of bundler that supports strscan as a default gem. (Gem::LoadError)`

[2022-07-02 16:39] duckinator commented on #5682
@deivid-rodriguez so, just to confirm I'm understanding correctly, you're thinking basically this, right?

1. for 2.x, switch to `.bundle` if RubyGems is using `--user-install`
2. with Bundler 3, switch to `.bundle` for everything by default

If so, I like this approach a lot.

[2022-07-03 13:14] deivid-rodriguez commented on #5682
Not exactly, my thinking is:

1. for 2.x, switch to install to `.bundle` if GEM_HOME is not writable.
2. with Bundler 3, switch to `.bundle` for everything by default.

[2022-07-03 20:29] daBee commented on #5108
Sorry, guys, but it's back.  `stringio` is not in my `Gemfile' however in my `Gemfile.lock` I find `stringio (0.1.4)`.  This error came back on a `bundle update` then a `gem update`.  `gem list`:

`stringio (default: 3.0.1, 0.1.4)`

Hence the mismatch again.  Is this a `passenger` or `rubygems` issue?

[2022-07-03 21:30] daBee commented on #5108
And now it's working.   `stringio (default: 3.0.1, 0.1.4)`

I'll close this and reopen it if it comes back.  Strange.

[2022-07-03 21:30] #5108 closed

[2022-07-04 06:20] deivid-rodriguez commented on #5108
If it happens again, please open a new ticket with as much information as possible for us to reproduce the issue (follow the issue template). Feel free to link to this issue but please create a new ticket that can be triaged without reading this whole thread. Thank you!

[2022-07-04 15:46] n-rodriguez opened #5685 "NoMethodError: undefined method `name' for nil:NilClass"
Hi there!

I'm working on [rest-client](https://github.com/jbox-web/rest-client) maintenance ([remember me?](https://github.com/rest-client/rest-client/pull/719#issuecomment-772039811) ^^) and I struggle to manage the Windows version of this gem :

[code]

I don't know why bundler picks `rest-client.windows.gemspec` in the first place as it should be dynamic : https://github.com/jbox-web/rest-clie

[2022-07-04 16:32] n-rodriguez commented on #5685
I prepare you a branch ;)

[2022-07-04 19:39] n-rodriguez commented on #5685
here we are : https://github.com/jbox-web/rest-client/tree/wip/bundler_bug

https://github.com/jbox-web/rest-client/runs/7186046801?check_suite_focus=true#step:3:59

[2022-07-04 19:43] n-rodriguez commented on #5685
To workaround this bug and make CI pass on master branch I've duplicated `rest-client.gemspec` in `rest-client.windows.gemspec` and I mv the file before calling bundler : https://github.com/jbox-web/rest-client/blob/master/.github/workflows/ci.yml#L53

[2022-07-04 21:07] eregon commented on #4534
IMHO `vendor/bundle` as default is better, because it's already established (it is what `--deployment` deploys to by default) and less breaking.
I personally don't see sufficient advantages for `.bundle` to deserve that additional breakage.

`vendor/` seems established as vendored stuff, and having a copy of dependencies certainly feels like vendored software, no? (although automatically installed

[2022-07-05 05:16] emmahsax opened #5688 "`bundle package --all-platforms` breaks with Nokogiri installed"
### Describe the problem as clearly as you can

With Bundler version 2.3.17 and Ruby 3.1.2, I am now getting an error running `bundle package --all-platforms`. I have tried it with multiple different `Gemfile`s, and they all react the same way, **as long as Nokogiri (specifically version 1.13.6) is installed**.

[code]

### Did you try upgrading rubygems & bundler?

Yes, I am on the latest version

[2022-07-05 09:15] deivid-rodriguez commented on #5688
@emmahsax I'm pretty sure this is the same underlying issue as #5675, which is already fixed in the main branch. Can you try cloning the repository, switching to the `bundler/` folder and running `bin/rake install` from there to install the development version 2.4.0.dev? I think it should fix the issue for you.

[2022-07-05 17:59] #4306 closed

[2022-07-06 07:11] cmhe opened #5689 "Very slow dependency resolving"
### Describe the problem as clearly as you can

The step to resolve the project dependencies with bundler takes multiple hours.

### Did you try upgrading rubygems & bundler?

I tried it with 2.3.17 and a couple of other older releases of bundler:

[code]

### Post steps to reproduce the problem

With this Gemfile:

[code]

I also tried it inside a Docker container:

[code]

The build inside the D

[2022-07-06 08:35] indirect commented on #5689
Wow, congratulations on finding such a pathological resolver case! It's been years since I've seen one this bad. 😁

I suspect it will take some time to fix this, so in the meantime, here is a workaround you can use to get a complete resolution and a working Gemfile.lock:

Start with this Gemfile:

[code]

Then run:
- `bundle add puppet-module-posix-default-r2.7`
- `bundle add puppet-module-posix-d

[2022-07-06 15:08] eregon opened #5691 "Bundler 2.3.17 installs precompiled CRuby gems on TruffleRuby"
### Describe the problem as clearly as you can

[code]

With the latest truffleruby-dev (from ruby-build):
[code]
That is incorrect, it must not be `Using nokogiri 1.13.6 (x86_64-linux)`, it must be `Installing nokogiri 1.13.6 with native extensions` (i.e., compiling from source).
Trying to use it results in errors (expected since it's using the CRuby-precompiled gem):
[code]

2.3.16 and 2.2.32 wo

[2022-07-06 15:11] eregon commented on #5691
FWIW the `Gem Path` shown by `bundle env` seems incorrect, compare it to `gem env`:
[code]

[2022-07-06 15:17] eregon commented on #5691
I'd guess it's caused by https://github.com/rubygems/rubygems/pull/5495 from the release notes of 2.3.17: https://github.com/rubygems/rubygems/releases/tag/bundler-v2.3.17

[2022-07-06 15:18] deivid-rodriguez commented on #5691
Yes, I was figuring that's the culprit too. I'll have a look.

[2022-07-06 18:02] deivid-rodriguez commented on #5691
Ok, so this particular case works again after #4049, so this will be fixed in 2.3.18.

[2022-07-06 18:03] drstrangelooker opened #5693 "Bundler "fatal: Needed a single revision" error getting a tag"
I don't think this requires any fixes, but I could not find any documentation. This might be good to add to that documentation.

I ran into this issue in an internal project. We did a workaround so I can't test, but I just traced some bundler source code. It was failing in our automated test environment but not on the desktop.

This failed:
[code]

The error looked like this...
[code]

We discover

[2022-07-06 19:04] eregon commented on #5691
Great, looking forward to that release.
Do you have an ETA? I'd prefer not have to workaround Bundler 2.3.17 e.g. in setup-ruby.

I think we should probably try a similar integration for RubyGems, changing `Gem.platforms` has its own problems and notably I noticed I couldn't `gem uninstall nokogiri` when it installed the wrong CRuby-precompiled version, which might be caused by that.

[2022-07-06 19:28] deivid-rodriguez commented on #5691
Next Wednesday.

[2022-07-07 08:34] mathieujobin commented on #4191
things have changed and openssl is mandatory...

why ruby installs itself without openssl support on ubuntu 22.04 LTS ?

[2022-07-07 08:53] deivid-rodriguez commented on #4191
I guess you want to track https://bugs.ruby-lang.org/issues/18658.

[2022-07-07 13:54] emmahsax commented on #5688
I got an error running the `bin/rake` file:
[code]

But I think you are right that the next release of Bundler will fix my issue. Thank you!

[2022-07-07 13:54] #5688 closed

[2022-07-07 14:24] deivid-rodriguez commented on #5688
Oh, `bin/rake` is a ruby script, you can't run it using bash! Run `bin/rake install` directly if your system supports shebangs, otherwise run `ruby bin/rake install`.

[2022-07-07 19:02] sled opened #5697 "Bundler doesn't install to vendor/bundle if gem is installed globally"
We're currently having an issue where bundler is using a globally installed gem instead of taking it from `vendor/cache` and moving it to `vendor/bundle`. This leads to a problem as soon as the ruby script requires the bundle and exits with:

[code]

Here's a simple setup to reproduce the problem with the `stringio` gem:

### Files
**Gemfile**
[code]
**Gemfile.lock**
[code]
**test.rb**
[code]

###

[2022-07-07 20:01] deivid-rodriguez commented on #5697
Are you using the latest RubyGems? If not, can you upgrade RubyGems with `gem update --system` and try again? I tried myself and while I run into issues with older RubyGems, they disappeared after upgrading.

[2022-07-07 20:36] sled commented on #5697
Hei @deivid-rodriguez, thanks for the hint - I have the default RubyGems version installed that shipped with Ubuntu 20.04.3 LTS or Ruby 2.7.6

[code]

I tested different RubyGems versions and it looks like it works properly from 3.2.0.rc.1 onwards.

[2022-07-07 22:02] #5697 closed

[2022-07-08 08:55] deivid-rodriguez commented on #4539
#5698 should fix this, both the original case and the simplified case provided by @duckinator. I'm not sure about @justin808's case because I used the `Gemfile` at the referenced commit and it bundled just fine with Bundler 2.3.17.

[2022-07-09 14:24] emmahsax commented on #5688
@deivid-rodriguez Yes, you're right! The dev version of Bundler fixed the issue. Hopefully a new version will be released to RubyGems soon. Thank you!

[2022-07-09 14:30] deivid-rodriguez commented on #5688
I will release a new version next Wednesday!

[2022-07-09 20:30] deivid-rodriguez commented on #4269
https://github.com/rubygems/rubygems/pull/5700 should fix this issue, feel free to give it a try!

[2022-07-09 20:31] deivid-rodriguez commented on #5338
Finally got around to working on this, feel free to give https://github.com/rubygems/rubygems/pull/5700 a try!

[2022-07-09 20:32] deivid-rodriguez commented on #4280
Given that we have Bundler version locking since Bundler 2.3, this now just works and should no longer be an issue, so I'll close this. Thanks!

[2022-07-09 20:32] #4280 closed

[2022-07-10 08:48] deivid-rodriguez commented on #4370
Is this still reproducible?

[2022-07-10 10:33] Hombre2014 opened #5701 "Unexpected error occurred, and Bundler cannot continue"
### Describe the problem as clearly as you can

--- ERROR REPORT TEMPLATE -------------------------------------------------------
# Error Report

## Questions

Please fill out answers to these questions, it'll help us figure out
why things are going wrong.

- **What did you do?**

  I ran the command `/usr/bin/bundle install`

- **What did you expect to happen?**

  I expected Bundler to... instal

[2022-07-10 11:58] sanguliwet opened #5702 "Bundle install error instaling"
### Describe the problem as clearly as you can

### Did you try upgrading rubygems & bundler?

### Post steps to reproduce the problem

### Which command did you run?

### What were you expecting to happen?

### What actually happened?

### If not included with the output of your command, run `bundle env` and paste the output below

[2022-07-10 23:43] #5702 closed

[2022-07-11 01:41] mathieujobin commented on #4191
is it just me? I've been trying to visit this issue mentioned above for the last 4 days, but I'm always getting a 500 error ...

[2022-07-11 09:46] deivid-rodriguez commented on #4191
The bugs.ruby-lang.org ticket I linked to? Works fine for me... 🤔.

[2022-07-11 15:39] #5701 closed

[2022-07-11 22:05] stanhu opened #5707 "Bundler gives misleading permission denied error if source file cannot be copied"
### Describe the problem as clearly as you can

Suppose `~/.bundle/cache/compact_index/rubygems.org.*` directory can only be read by root:

[code]

`bundle install` fails with a misleading error message:

[code]

`bundle install --verbose` shows:

<details>
<pre>
$ bundle install --verbose
  /usr/local/lib/ruby/site_ruby/2.7.0/bundler/shared_helpers.rb:105:in `rescue in filesystem_access'
  /usr/l

[2022-07-11 22:16] ZookieSwag opened #5708 "Permissions error Iqvoc. bundle install"
### Describe the problem as clearly as you can
I was trying to install the iqvoc skos demo/repo

### Did you try upgrading rubygems & bundler?
i installed everything today

### Post steps to reproduce the problem

### Which command did you run?
bundle install

### What were you expecting to happen?
first time using bundle but i was following the iqvoc readme instructions

### What actually happene

[2022-07-12 10:48] deivid-rodriguez commented on #5708
You're using Bundler 2.3.7 but the latest version is Bundler 2.3.17. Can you upgrade and see if you still get an error? If you do, please post the updated error. Thanks!!

[2022-07-12 10:49] deivid-rodriguez commented on #5664
Closing due to lack of feedback.

[2022-07-12 10:49] #5664 closed

[2022-07-12 11:02] sonalkr132 commented on #5664
Sorry, didn't notice this sooner.

This is not the correct certificate info for rubygems.org. most likely you are using a proxy to access rubygems.org or your network has override the dns resolution of rubygems.org. you can use openssl s_client connect command from the network you are having the issue and an unrelated network (with no proxy), you will get different certificates.
As of how to fix t

[2022-07-12 14:00] ZookieSwag commented on #5708
Hi! I appreciate the help! Here is the new error:

--- ERROR REPORT TEMPLATE -------------------------------------------------------

[code]

## Environment

[code]

## Bundler Build Metadata

[code]

## Gemfile

### Gemfile

[code]

### Gemfile.lock

[code]

--- TEMPLATE END ----------------------------------------------------------------

[2022-07-12 15:43] ZookieSwag commented on #5708
Thank you, that fixed my problem. Sorry, this is unrelated but when I try to bundle rake, I keep on getting: tried to create Proc object without a block. Do you know any solutions?

[2022-07-12 16:04] deivid-rodriguez commented on #5708
Great, I'll close this then!

For your other issue, maybe you can try look for help at StackOverflow or something.

[2022-07-12 16:04] #5708 closed

[2022-07-12 16:58] ansonhoyt commented on #5689
The workaround helped. 🙏

`bundle add rails --version '~> 7.0.3'` quickly showed `Bundler could not find compatible versions`:

[code]

After I allowed Rails 7.0 in `populate`'s gemspec (my private gem), upgrading with`bundle update` worked normally/quickly. 🎉

[2022-07-12 17:32] nvasilevski commented on #5689
Hey folks, sorry for chiming in 🙇
I was wondering if @ansonhoyt could run bundler with `--verbose` flag to see if anything specific is taking the most of the time. We are looking into some dependency resolution slowness and in our case bundler tries to fetch every available `gemspec.rz` of a particular gem, like:
<img width="147" alt="image" src="https://user-images.githubusercontent.com/5512772/1

[2022-07-12 17:38] deivid-rodriguez commented on #5689
I think you're running into #5385.

[2022-07-13 09:03] coremuscle254 opened #5712 "bundler: command not found: rails"
`bundle exec rails c production` on my server returns:

[code]
`bundle install` always runs successfully but everytime I retry any rails command it fails with the error above.

Even starting my `puma server` is an issue:

[code]

My ruby is installed using `rvm`

`rvm -v` returns `rvm 1.29.12 (latest) by Michal Papis, Piotr Kuczynski, Wayne E. Seguin [https://rvm.io]`

`rvm list` returns

[code]

[2022-07-13 09:07] deivid-rodriguez commented on #5712
Nothing seems obviously wrong to me. Can you run `bundle update --bundler`, and try again?

[2022-07-13 09:12] deivid-rodriguez commented on #5712
And `bundle -v` says 2.3.17, correct?

What's the full output of `bundle install`?

[2022-07-13 09:15] deivid-rodriguez commented on #5712
Also, what does `bundle exec ruby -v` report?

[2022-07-13 09:17] coremuscle254 commented on #5712
`bundle -v` returns

[code]

While I have `2.3.17` installed, it seems to default to the older bundler version

`bundle exec ruby -v` returns

[code]

`bundle install` returns:

[code]

[2022-07-13 09:19] deivid-rodriguez commented on #5712
Ok, now there's something strange. `bundle update --bundler` should've updated your `Gemfile.lock` file to include

[code]

But it doesn't seem the case. Can you confirm that the `Gemfile.lock` file still includes

[code]

And can you post the full output of `bundle update --bundler`?

[2022-07-13 09:30] coremuscle254 commented on #5712
`bundle update --bundler` output:

[code]

[2022-07-13 09:33] deivid-rodriguez commented on #5712
Something seems wrong with your installed gems, including bundler 2.3.17. What does `bundle _2.3.17_ -v` report?

[2022-07-13 09:40] deivid-rodriguez commented on #5712
Ok, let's also update RubyGems, it might fix the bundler switching issue. Run `gem update --system` and retry.

[2022-07-13 10:10] coremuscle254 commented on #5712
This has resolved my conflicting `bundler` versions issue and `bundle exec rails c production` runs perfectly.

 However both

 ` /home/ubuntu/.rvm/bin/rvm default do bundle exec --keep-file-descriptors puma -C /var/www/tuma_mizigo/shared/puma.rb` and ` bundle exec puma -C /var/www/tuma_mizigo/shared/puma.rb` return my original puma error:

[code]

I can confirm that my `Gemfile` and `Gemfile.lock

[2022-07-13 10:19] deivid-rodriguez commented on #5712
Try `bundle install --redownload` to force reinstalling everything and let's see if that fixes things.

[2022-07-13 10:40] deivid-rodriguez commented on #5712
Great! Next time please make sure you anwser all issue template questions. In particular, the one asking whether you have upgraded RubyGems and Bundler, and telling you to run `gem update --system` before reporting issues.

[2022-07-13 11:52] ianks opened #5715 "Do not consider platform gems as candidates when `required_ruby_version` is incompatible"
### Describe the problem as clearly as you can

When selecting a spec to use when a platform spec is available, currently Bundler will choose the platform matching gem even when it is not compatible with the `required_ruby_version`.

The consequences of this means that it's impossible to publish precompiled gems that fallback to compiling from source code on newer Ruby versions. At Shopify, this m

[2022-07-13 12:07] deivid-rodriguez commented on #5715
Right, yeah. I'll fix this.

[2022-07-14 01:05] DaveEOS opened #5717 "outdated --strict is not filtering results"
### Describe the problem as clearly as you can

The --strict option for the outdated command does not restrict the results to only those allowed by the Gemfile. It returns the same set as without it.

### Did you try upgrading rubygems & bundler?

Yes, to rubygems 3.3.17 and bundler 2.3.17.

### Post steps to reproduce the problem

You can probably try this on any available project, but here's the

[2022-07-14 06:06] #5707 closed

[2022-07-14 17:56] flavorjones commented on #5715
Some prior context on related/same issue: https://github.com/rubygems/rubygems/issues/4012

[2022-07-14 18:01] deivid-rodriguez commented on #5715
Yes, I believe they are very similar issues but in that case it was a "resolution from scratch" issue, while in this case it's a "lockfile issue".

[2022-07-14 22:01] dareosK opened #5721 "Issue while running bundle install. Permission denied websocket-driver-0.7.5"
# Error Report

## Questions

Please fill out answers to these questions, it'll help us figure out
why things are going wrong.

- **What did you do?**

  I ran the command `/Users/dareosk/.gem/ruby/2.6.0/bin/bundle install`

- **What did you expect to happen?**

  I expected Bundler to install the dependencies

- **What happened instead?**

I got the following error

- **Have you read our issues d

[2022-07-15 08:09] svoop opened #5724 "Binstubs hardcoding Gemfile variant"
The template for binstubs hardcode the Gemfile variant to either `Gemfile` or `gems.rb` (based on the currently used variant):

https://github.com/rubygems/rubygems/blob/db374bc25bbe024d02787336e557d9e31efc9f6d/bundler/lib/bundler/templates/Executable#L11

This comes with a nasty downside best explained with an example:

The [Bridgetown SSG](https://rubygems.org/gems/bridgetown) creates a binstub

[2022-07-15 10:21] dareosK commented on #5721
Reinstalled everything, rbenv, ruby, rails and it worked

[2022-07-15 10:29] deivid-rodriguez commented on #5721
Ok, let me leave this opened though, because I have an idea of what the issue is and I want to verify it.

[2022-07-15 12:00] dareosK commented on #5721
Of course :) looking forward to your reply

[2022-07-15 14:15] owst commented on #4370
Hi @deivid-rodriguez - in short: yes.

I've updated my Mac since I reported this, and now starting with:
[code]
starting with the original `Gemfile.lock` and running `bundle lock --add-platform x86_64-darwin` gives a diff of
[code]
So against my original report it is now picking up `libv8 (3.16.14.19-x86_64-darwin-18)` but still not `libv8 (3.16.14.19-x86_64-darwin-19)` or `libv8 (3.16.14.19-x86_6

[2022-07-15 14:41] ngan opened #5725 "`force_ruby_platform` option in Gemfile breaks Bundler auto-updating, sort of"
### Describe the problem as clearly as you can

After bundler 2.3.18 was released, we made use of the new `force_ruby_platform` option for `gem`:
https://github.com/rubygems/rubygems/pull/4049

However, a problem arises if you have a version of `Bundler` installed that is below 2.3.18. Recent versions of bundler normally attempts to upgrade Bundler for you to the version specified in the lockfile

[2022-07-15 14:41] deivid-rodriguez commented on #4370
@owst That seems expected because there's no `libv8 (3.16.14.19-x86_64-darwin-19)` nor `libv8 (3.16.14.19-x86_64-darwin-20)`.

[2022-07-15 14:42] ngan commented on #5725
Nevermind! We're only see this problem when bundle is locked.

[2022-07-15 14:42] #5725 closed

[2022-07-15 14:43] deivid-rodriguez commented on #5725
Oooops, really? I was expecting it to just work, because when don't do normal Gemfile/lokfile parsing for this, just look at `BUNDLED WITH` directly.

[2022-07-15 14:44] deivid-rodriguez commented on #5725
You mean frozen? Still unexpected to me...

[2022-07-15 14:53] ngan commented on #5725
Hey @deivid-rodriguez sorry for the confusion.

I believe the error surfaces for `require 'bundler/setup'` and not from any of the `bundle` CLI commands. Which...I think makes sense?

[2022-07-15 14:57] deivid-rodriguez commented on #5725
Oh, I see. Yes, you'd need to run `bundle install` first so that the locked version gets installed. Otherwise it will indeed run into an error, yes. But I think it's pretty much expected that you need to run `bundle install` after changing your `Gemfile`.

[2022-07-15 14:58] ngan commented on #5725
Agree. Sorry for the noise!

[2022-07-15 17:06] deivid-rodriguez commented on #5721
Yay, confirmed, it's indeed a permissions issue. Let me open a PR so that we report a proper error instead of the bug report template.

[2022-07-15 17:47] owst commented on #4370
🤦 Sorry @deivid-rodriguez you're right - I clearly wasn't paying attention, I think I read my diff/comment in https://github.com/rubygems/rubygems/issues/4370#issuecomment-780709228 and took the darwin versions from there without realising it was a different gem

Given that `libv8 (3.16.14.19-x86_64-darwin-18)` _is_ now added, I think the originally reported issue has been resolved - thank you!

[2022-07-15 17:58] deivid-rodriguez commented on #4370
Thanks @owst. I guess the situation is not exactly the same since now you're at darwin-20, not darwin-18 anymore. Anyways, I wrote a quick test simulating being on darwin-18 and everything including the darwin-18 variant was added to the lockfile. So whatever this was, I think it was fixed at some point.

In any case, let me know if something similar comes up in the future!

[2022-07-15 17:58] #4370 closed

[2022-07-16 01:27] kk-ds-000 opened #5727 "RubyGems 3.3.18 removes default bundler gemspec on system update (behavior change)"
### Describe the problem as clearly as you can

RubyGems 3.3.18 removes the default bundler gemspec from `/usr/lib/ruby/gems/2.6.0/specifications/default/` when running `gem update --system`, which causes the `bundle` command to fail.

RubyGems 3.3.17 does not exhibit the same behavior.

### Did you try upgrading RubyGems?
Yes, the issue started happening with the latest version (3.3.18).

### Pos

[2022-07-16 08:53] deivid-rodriguez commented on #5721
It will be fixed by #5726. From now on you will get a more helpful error that reads like this

<img width="819" alt="Captura de Pantalla 2022-07-16 a las 10 52 06" src="https://user-images.githubusercontent.com/2887858/179347943-65dcdb45-0ac0-48cc-9e14-9bde7f8f46e7.png">

[2022-07-16 12:26] deivid-rodriguez commented on #5727
As you mentioned, what you are doing is NOT supported. If you're using a Ruby installation provided by your OS, then you should also let the OS package manager manage the RubyGems installation. Some distributions now explicitly prevent doing this.

However, fixing this is not hard, and allows to simplify some code for us (and also let me discover some other issues which I'll be fixing next), so #5

[2022-07-16 18:17] deivid-rodriguez commented on #5683
Closing due to lack of feedback.

[2022-07-16 18:17] #5683 closed

[2022-07-16 20:15] smsohan commented on #5683
Here's the context. We build user code that gets submitted to Google Cloud serverless products. We want to add the Platform, but use the user specified bundler for the actual bundle install. Since this overrides the bundler version, we end up bundling with a different version of bundler than the one specified in the user's Gemfile.lock.

I see the reason this bug was fixed. But it seems like it co

[2022-07-17 00:45] markeissler commented on #4269
Maybe I'm missing something completely here but...

Why are the proposed fixes centered around changing the `Gemfile.lock` file directly? That file is derived from specifications in the `Gemfile`. That would indicate to me there should be the ability to specify target platforms from within the `Gemfile` itself so if you remove the `Gemfile.lock` (which you should be able to do) then just running `

[2022-07-17 08:46] deivid-rodriguez commented on #5683
I understand, and I'm not sure what's best.

On the one hand, `bundle lock --add-platform` is telling Bundler to add a platform to the lockfile, so I can see how it could be surprising that it changes the `BUNDLED WITH` section.

On the other hand, the `BUNDLED WITH` section is saying what version of Bundler last wrote the lockfile, so I can see how it could be surprising that bundling a lockfile

[2022-07-17 08:47] #5721 closed

[2022-07-17 09:03] deivid-rodriguez commented on #5724
I always wonder why we set `BUNDLE_GEMFILE` at all in binstubs. Bundler has its own logic for selecting the proper Gemfile, so why not let it run?

[2022-07-17 12:52] dareosK commented on #5721
Thank you very much 🌸 👋

[2022-07-17 17:14] Akash-RoR-dev opened #5733 "there is no bundle version comes automatic in application."
### Describe the problem as clearly as you can

### Did you try upgrading rubygems & bundler?

### Post steps to reproduce the problem

### Which command did you run?

### What were you expecting to happen?

### What actually happened?

### If not included with the output of your command, run `bundle env` and paste the output below

[2022-07-18 04:27] tnir opened #5734 "Large rubygems-update in package file size since 2.6.5"
### Describe the problem as clearly as you can

`rubygems-update` in gem package file size has been 250 to 400kB larger since 2.6.5 compared with RubyGems 2.6.4 or earlier.

from https://rubygems.org/gems/rubygems-update/versions

### Did you try upgrading RubyGems?

n/a

### Post steps to reproduce the problem

Take a look at https://rubygems.org/gems/rubygems-update/versions.

### Which command

[2022-07-18 10:07] #5727 closed

[2022-07-18 23:55] hsbt commented on #5734
It's intentional changes. see https://github.com/rubygems/rubygems/blob/master/lib/rubygems/commands/setup_command.rb#L362

We need to install bundler as the default gems with `gem update --system`.

[2022-07-18 23:55] #5734 closed

[2022-07-19 15:08] ianks commented on #3958
Going to add a +1 on this. The size of these artifacts can become significant (one Rust Gem we have has 1g+ of artifacts).

Ideally we would perform a `distclean`

[2022-07-19 18:22] aericson opened #5743 "Platform specific gems not being found by bundler"
### Describe the problem as clearly as you can

Bundler not able to find platform-specific gem after upgrading to 2.3.17 with existing an Gemfile.lock. Getting the same results both on Mac and on linux.

Maybe related to https://github.com/rubygems/rubygems/issues/5715
Maybe introduced by https://github.com/rubygems/rubygems/pull/5495

I'm very new to ruby, please let me know if there is anything

[2022-07-19 18:29] deivid-rodriguez commented on #5743
Interesting. I just tried this with Bundler 2.3.18 and everything worked as expected, and I'm using the exact same platform and ruby version you are using. Can you upgrade RubyGems too, since that's the only difference I can see between our environments?

[2022-07-19 19:49] aericson commented on #5743
@deivid-rodriguez thanks for trying, that's really odd. I just tried with the updated gems and the same issue:

[code]
I'm only able to test this on a Mac M1 right now.

Something interesting I just found out, if I manually edit the Gemfile.lock and remove the `ruby` from the platform list it started to work again. Seems that somehow the ruby one is taking priority and failing.
[code]

[2022-07-19 20:04] deivid-rodriguez commented on #5743
I reproduced it now. Not sure why it didn't reproduce before. I had some development version of Rubygems + Bundler installed, my optimistic theory is that I had some WIP work to fix #5715 and that's also fixing this one 😅.

Anwyays, I agree this might be caused by #5495.

I'll work on this.

[2022-07-19 20:39] nevans opened #5744 "Suggestion: Add Ruby Association and Ruby Together to "bundle fund""
Suggestion: "bundle fund" should mention the important non-profit organizations that fund maintenance and development of critical ruby libraries and infrastructure.

Perhaps this means adding metadata to the right gems.  But even without any specific gems being marked, perhaps "bundle fund" should still mention that https://www.ruby.or.jp and https://rubytogether.org/ fund vital work in the ruby e

[2022-07-20 09:04] eregon commented on #5691
This is still an error with Bundler 2.3.18.
Found in https://github.com/sinatra/sinatra/issues/1798#issuecomment-1190013828

To repro:
[code]

Could you reopen and investigate @deivid-rodriguez ?

[2022-07-20 09:06] ubisoft-gne opened #5745 "bundle exec omnibus build <project> gets certificate verify failed"
### Describe the problem as clearly as you can

When I ran command 'bundle exec omnibus build myproject' to create a .rpm package, but the command always returns:

`[root@60dbbeb15a34 omnibus-cmdbci-agent]# bundle exec omnibus build cmdbci-agent
                    [CLI] I | 2022-07-20T08:49:09+00:00 | Using config from 'omnibus.rb'
[2022-07-20T08:49:09+00:00] WARN: Plugin Network: unable to detec

[2022-07-20 09:06] eregon commented on #5691
And my simple reproduction in the description also reproduces the error:
[code]

[2022-07-20 10:28] deivid-rodriguez commented on #5745
Hello!

This command is indeed using Bundler though `bundle exec`, but `bundle exec` simply delegates to the `omnibus` command and there's nothing in the error suggesting that this is a Bundler bug I believe. Why do you think this is a Bundler issue?

[2022-07-20 12:56] #5745 closed

[2022-07-21 06:28] deivid-rodriguez commented on #5743
Hei, so I had a look at this yesterday and... I'm pretty sure this is indeed #5495 and what's worse, it's somehow expected. The rationale is that the `Gemfile.lock` is invalid for the "ruby" platform, because "ruby" essentially means that no platform specific gems should be used, and that's not possible for sorbet-static (in other words, the lockfile can't be used with `force_ruby_platform`).

How

[2022-07-21 08:28] aericson commented on #5743
Thanks for looking into this so quick! That is indeed unfortunate, we have quite a few places where we have this issue. I understand that this was an unintended consequence of the other fix.

I'm not sure if it's a good idea, but is it worth reverting #5495 and reintroducing it on a non-patch version or if a way is found to introduce this as a warning? The reason I bring this up is that I see more

[2022-07-21 09:57] deivid-rodriguez commented on #5743
No problem!

#5495 was not a very important fix, but it introduced some simplifications that I think unblock fixing other issues, like #4488. So I'd like to not revert it.

I'll try to figure out a why to keep existing lockfiles working and either print a warning in this case, or directly remove the "ruby" platform from them.

[2022-07-21 10:55] tnir opened #5749 "Deprecation notice in bundle-viz(1)"
### Describe the problem as clearly as you can

Deprecation notice of `bundle viz` does not exist in `bundle-viz(1)` or `https://bundler.io/man/bundle-viz.1.html`.

### Resources
- https://github.com/rubygems/bundler/pull/5964
- #5083
- https://github.com/rubygems/bundler-site/issues/722

[2022-07-22 07:54] tnir opened #5752 "Update man/Web for bundle show on undeprecation"
### Describe the problem as clearly as you can

While #4586 undeprecated `bundle show` subcommand, man page (and [corresponding Web site](https://bundler.io/v2.3/man/bundle.1.html)) says you should no longer be used:

[2022-07-22 10:15] #5691 closed

[2022-07-22 11:44] 7dr1v3 opened #5755 "gem info don't work with flag version"
RUBYGEMS VERSION: 3.3.7

I trying to get information from rubygems about author license etc.

[code]

why 7.0.3.1? where are the information about 7.0.2.2 ?

[2022-07-22 11:59] deivid-rodriguez commented on #5755
I don't know, it seems like a bug. Want to try fix it? :)

[2022-07-22 12:01] #5752 closed

[2022-07-22 12:03] 7dr1v3 commented on #5755
I don't know too. Maybe bug with version format or etc.

[2022-07-22 15:19] ashkulz commented on #5743
@deivid-rodriguez Dependabot seems to have upgraded the bundler version they use internally and all our repositories which use sorbet now fail with this error :disappointed:

[2022-07-22 15:22] aericson commented on #5743
@ashkulz yea, that was pretty much how we found out about this too. Removing `ruby` from the platforms list should fix it though.

[2022-07-22 15:23] deivid-rodriguez commented on #5743
Sorry about that. As I said before I'll try to figure this out. At least you have a workaround, that's something.

[2022-07-22 15:32] ashkulz commented on #5743
@aericson yeah, I found that workaround too. Not sure if it's safe to use it, though ... will have to QA it properly on Monday before merging.

[2022-07-22 17:18] duckinator commented on #3333
As a note: @tnir pointed out that https://github.com/duckinator/bundler-viz is one of the top results for "bundler viz", even though it's not the correct thing. I updated it to only contain a README that points to https://github.com/rubygems/bundler-graph , and then archived the repo. Hopefully when Google picks up that change it'll start pointing people in the right direction.

[2022-07-22 22:50] jesse-shopify commented on #5689
I'm using Bundler 2.3.4 until #5385 is resolved.

[2022-07-23 14:09] deivid-rodriguez commented on #5689
If you're using a gemstash based server, I recommend you check out https://github.com/geminabox/geminabox/pull/435!

[2022-07-24 23:16] MrWormHole commented on #5691
can confirm still happening with 2.3.17 and 2.3.18, had to install 2.3.16 to be able to run my poor rails 7 new app command

[2022-07-25 08:10] deivid-rodriguez commented on #5691
Bundler is part of official Ruby! Anyways, the fix for this will be released in a couple of days.

[2022-07-25 08:13] #5067 closed

[2022-07-25 08:55] geanboegman opened #5763 "AWS IMDS v2 support for s3_uri_signer IMDS calls"
### Discussed in https://github.com/rubygems/rubygems/discussions/5757

<div type='discussions-op-text'>

<sup>Originally posted by **geanboegman** July 22, 2022</sup>
Is there any plan to update the [s3_uri_signer](https://github.com/rubygems/rubygems/blob/4802a99bbf43a6600eeda4344d9d5460e660d6ae/lib/rubygems/s3_uri_signer.rb#L152) to use session tokens as defined in the more secure [IMDSv2](http

[2022-07-25 09:01] simi commented on #5763
related code - https://github.com/rubygems/rubygems/blob/master/lib/rubygems/s3_uri_signer.rb

[2022-07-25 10:48] m-o-e opened #5764 "Funding message can not be disabled"
### Describe the problem as clearly as you can

Bundler prints this after each run:
[code]

There seems to be no way to disable it.
In npm the message can be suppressed by
putting `fund=false` in `~/.npmrc`, bundler
should have an equivalent option.

### Did you try upgrading rubygems & bundler?

Yes.

[code]

### Post steps to reproduce the problem

1. Run `bundle`

### Which command did you run?

[2022-07-25 10:52] deivid-rodriguez commented on #5744
This makes sense to me! And I don't think we need to do anything other than filling the proper metadata, and the `bundle fund` feature will do its thing.

Do you think this is a good idea, @indirect?

[2022-07-25 10:53] simi commented on #5764
In theory you can open `bundle fund` and fund the project, so it will not be looking for funding anymore and the message will disappear within next version. :smile:

Alternatively feel free to submit PR with bundle config for this output.

We can return early (similar to post install messages)

https://github.com/rubygems/rubygems/blob/773fc2b9287ef06b5674dcac9b704aaba73481d6/bundler/lib/bundler/c

[2022-07-25 11:05] indirect commented on #5744
Sure! We should probably check with each org before we add them. I can check with Ruby Central and report back—I know they are working on a membership site that will replace rubytogether.org when it’s done.

[2022-07-25 11:15] deivid-rodriguez commented on #5764
Hahaha fantastic, that's a great fix for this issue 🤣.

[2022-07-25 12:11] arjunrdesai opened #5768 "Errno::EACCES: Permission denied @ rb_file_s_symlink - (spec/support/../../.mod/drivers-evergreen-tools/.evergreen/ocsp, C:/Ruby27-x64/lib/ruby/gems/2.7.0/gems/mongo-2.17.2/spec/support/ocsp)"
[code]

## Environment

[code]

## Bundler Build Metadata

[code]

## Gemfile

### Gemfile

[code]

### ../server/Gemfile

[code]

### Gemfile.lock

[code]

[2022-07-25 12:14] m-o-e commented on #5764
Unfortunately in practice that won't make the message go away.

But thanks a lot for the code pointers!
I've tried a PR here: https://github.com/rubygems/rubygems/pull/5767

[2022-07-25 12:17] deivid-rodriguez commented on #5768
Thanks for your report @arjunrdesai. Could you set up Github Actions on a Windows environment that reproduces this issue and share the logs?

[2022-07-25 12:37] #5749 closed

[2022-07-25 14:59] Dhruva23 opened #5770 "While running gradle build"
Bundler::GemNotFound

Your RubyGems version (2.6.14.4)) has a bug that prevents `required_ruby_version` from working for Bundler. Any scripts that use `gem install bundler` will break as soon as Bundler drops support for your Ruby version. Please upgrade RubyGems to avoid future breakage and silence this warning by running `gem update --system 3.2.3`

[2022-07-25 15:15] deivid-rodriguez commented on #5770
Please follow the issue template if you want your issue looked at. Thanks!

[2022-07-25 15:15] #5770 closed

[2022-07-25 17:01] cmirnow commented on #5380
I got this problem after upgrading from Fedora 35 to Fedora 36. Can anyone advise how to solve the problem? I really don't know what to do.
My [question](https://stackoverflow.com/questions/73001063/ruby-on-rails-unable-to-satisfy-the-following-requirements) is on SO.

[2022-07-25 17:13] deivid-rodriguez commented on #5380
I guess you're using a Fedora managed Ruby, because ruby version managers like rbenv don't reuse gem installations across Ruby versions. I think you probably need to reinstall the package corresponding to the gem that's causing issues but I suggest to report this to Fedora.

[2022-07-25 21:28] indirect commented on #5744
Ruby Central told me they're happy to do this, and to use rubytogether.org as the URL for now while they finish putting up the new RC membership site. Thanks for suggesting this!

Next, maybe we can ask @hsbt to check with the Ruby Association?

[2022-07-25 21:34] cmirnow commented on #5380
No. I`m use rbenv:

[code]
or

[code]

[2022-07-26 14:12] deivid-rodriguez commented on #5380
Ah ok, then we need more information about why your gems are shared between Ruby upgrades.

[2022-07-26 15:57] tnir opened #5777 "Bundler: revisit why bundle console was deprecated"
Actually I was thinking about un-deprecating this command since I'm using it often. It suggest to be replaced by `bin/console` generated by the `bundle gem`, but that is not often available and `bundle console` is the only way to open console quickly.

Usually my usecase is to quickly prototype some code starting with `Gemfile` to fetch deps and opening the console via `bundle console`.

_Original

[2022-07-26 15:59] tnir commented on #5777
@simi What case do you mention? This mush be a kind of bikeshedding discussion 😁

[2022-07-26 16:05] simi commented on #5777
I'm not sure what's `bikeshedding` in here. `bin/console` is only available when created manually or by `bundle gem`. There are valid usecases (as the one I have mentioned) when `bin/console` is not present and `bundle console` is still elegant way to jump in into console with deps loaded.

[2022-07-26 19:20] deivid-rodriguez commented on #5777
I think bikeshedding in this context means that people would request many features to `bundle console` that can be easily added to a `bin/console` script, but impose a maintenance overhead if added to the builtin command. This is what I recall from when I wrote the UPGRADING.md document. When I wrote that document I went through all deprecations, read the relevant Github issues and tried to summar

[2022-07-26 19:22] deivid-rodriguez commented on #5657
@pravi Please give #5761 a try!

[2022-07-26 20:39] #5764 closed

[2022-07-26 22:08] kuahyeow commented on #3379
I am interested in potentially contributing, though I have few questions about Bundler lockfiles.

For context, we at GitLab are working on hardening the checksum process by tracking the checksums stored in a committed file. A draft is present at https://gitlab.com/gitlab-org/gitlab/-/merge_requests/92633. For the purposes of the initial solution, we are monkey-patching Bundler, and using a separa

[2022-07-27 05:47] #4048 closed

[2022-07-27 06:02] deivid-rodriguez commented on #3379
Hello @kuahyeow!

1) How does Gemfile.lock PLATFORMS work ? Does Bundler calculate the relevant local platform that matches the list of PLATFORMS and then install the gem for that platform ?

Yes. Multiplatform Gemfiles keep a resolution valid for multiple platforms. When `bundle install` or `bundle exec` are run, Bundler will select only the gems relevant for the current platform.

2) Yes, "ruby"

[2022-07-27 09:15] Ilushkanama opened #5780 "Serving gem with multiple platforms from s3 bucket doesn't work"
### Describe the problem as clearly as you can

Using s3 bucket to serve gem with multiple platforms leads to "Could not find a valid gem" error.

### Did you try upgrading RubyGems?

Yes

### Post steps to reproduce the problem

1. Build multiple gem versions for different platforms (`mygem-0.0.1-x86_64-linux.gem`, `mygem-0.0.1-x86_64-darwin.gem`, `mygem-0.0.1-arm64-darwin.gem` in my case)
4. Cre

[2022-07-27 13:30] andreybakanovsky commented on #3269
Ubuntu 20.04 too.
It’s not safe, but I've tried. As result I've received replies to **each** request `$ gem -v`, `$ sudo gem update --system 3.1.4`
, `$ bundler -v` ... and so one:
`undefined method rubyforge_project= for class Gem::Specification' (NameError)`

How i fixed it, [from there](https://pacman97.blogspot.com/2020/08/muncul-error-undefined-method.html) :
`$ sudo gedit /usr/lib/ruby/vendo

[2022-07-27 14:49] simi commented on #5777
Actually let's deprecate that. I have other idea, I can try to contribute `require 'bundler/setup';Bundler.require` to irb as a CLI argument. Since ruby is distributed with bundler currently, it should be no problem :pray:.

[2022-07-27 14:49] #5777 closed

[2022-07-27 18:26] cmirnow commented on #5380
The procedure to install rbenv on Fedora:

`sudo dnf install git-core zlib zlib-devel gcc-c++ patch readline readline-devel libyaml-devel libffi-devel openssl-devel make bzip2 autoconf automake libtool bison curl sqlite-devel`

[code]
[code]

I would be happy to provide any other information to solve this problem.

[2022-07-27 18:30] deivid-rodriguez commented on #5380
That seems all normal, can you share the output of `gem env`?

[2022-07-27 22:41] cmirnow commented on #5380
[code]

[2022-07-27 22:55] deivid-rodriguez commented on #5380
I don't get it, in your stack overflow question, the stack trace suggests that your Ruby is installed at `/usr/share`. There's something weird going on there.

[2022-07-28 00:50] tnir opened #5781 "Miss bundle-package(1)"
### Describe the problem as clearly as you can

bundle-package(1) is no more available after #7249

cf. https://github.com/rubygems/bundler-site/issues/783

### Did you try upgrading rubygems & bundler?

Yes.

### Post steps to reproduce the problem

- Bundler 2.2 (bundler-2.2.33)
- or Bundler 2.3 (bundler-2.3.19)

### Which command did you run?

- `open https://bundler.io/v2.3/man/bundle-package.

[2022-07-28 07:41] hsbt commented on #5744
Thanks for rising this. It's great idea for me.

But I asked @shugo who are director of Ruby Association similar idea in the past. Ruby Association are hard to receive money from foreign countries.

@shugo How do you think about this?

[2022-07-28 07:51] tnir commented on #5781
Note: per https://github.com/rubygems/rubygems/pull/5782#issuecomment-1197697009, `bundle package` has been available as an alias of `bundle cache` since Bundler 2.2.

[2022-07-28 08:31] indirect commented on #5744
Ahh, that makes sense. Maybe we can suggest Japanese developers support Ruby Association, and other developers support Ruby Central?

[2022-07-28 10:00] shugo commented on #5744
It sounds fine.

[2022-07-28 17:04] technicalpickles commented on #5743
I'm actually running into this issue, even though we do not have `ruby` in the platforms. It was in our monolith, but I was able to extract just enough to reproduce: https://github.com/technicalpickles/bundler-platform-test

We are not getting the platform-specific version of grpc for linux specifically, and that's been causing some performance hits during CI and other places we bundle install fro

[2022-07-28 17:39] issa0617 opened #5786 "Ruby Gems"

[2022-07-28 19:11] #5786 closed

[2022-07-28 19:13] deivid-rodriguez commented on #5743
Can you confirm it's also a regression from #5495? If it is, what was the previous behavior, exactly?

[2022-07-28 19:26] deivid-rodriguez commented on #4445
@voxik I made this work at #5762. I think there's room for improvement but at least now it does something useful I believe. Feel free to check it out.

[2022-07-28 22:39] #5657 closed

[2022-07-29 00:38] ngan commented on #5499
Closing this out because after all the improvements made, we’re seeing very fast `require ‘bundler/setup’` time now! 🎉 Great work, @deivid-rodriguez and @technicalpickles! I’ve archived `subbundle`.

[2022-07-29 00:38] #5499 closed

[2022-07-29 06:14] deivid-rodriguez commented on #5499
That's great to hear!! 🎉

[2022-07-29 06:28] deivid-rodriguez commented on #5545
All relevant PRs have been either merged or close. I still have further speed ups coming up, but I think this one can be closed now anyways!

[2022-07-29 06:28] #5545 closed

[2022-07-29 07:31] #5781 closed

[2022-07-29 15:11] technicalpickles commented on #5545
Agreed! Wanted to let y'all know we were able to remove the `subbundle` gem we made over in https://github.com/rubygems/rubygems/issues/5499

[2022-07-29 18:14] deivid-rodriguez commented on #5545
Great to hear! Hopefully we'll make things even faster 💪

[2022-07-29 19:24] #4445 closed

[2022-07-31 02:58] glennposadas commented on #4539
2022, I experienced this issue. I remember my Bundler version was `2.3.7`. My bundle install for my very first rails app never progressed even after leaving my mac of 5 hours. Until I decided to do `gem install bundler` to update my Bundler.
Finally, run `bundle install --verbose` again. Voila!

[2022-07-31 08:05] deivid-rodriguez commented on #5715
#5784 should fix this!

[2022-07-31 08:13] deivid-rodriguez commented on #5435
As a note, #5784 will further improve this. Now, instead of raising an error in this case, Bundler will re-resolve and update the lockfile with the newest version that supports the running Ruby. In this case, it will automatically update the lockfile to use parallel_tests 3.7.0.

[2022-07-31 11:43] tnir opened #5790 "bundle platform --ruby is unstable (sometimes includes RUBY_PATCHLEVEL)"
### Describe the problem as clearly as you can

Results from `bundle platform --ruby` (and Ruby version in `bundle platform`) is different whether `Gemfile.lock` exists and it has `RUBY VERSION: ruby 3.1.2p20` or not.

#### If `Gemfile.lock` does not exist (and so no `RUBY VERSION` is specified in "`Gemfile.lock`"
[code]

#### If `Gemfile.lock`exists and `RUBY VERSION` is specified in it
[code]

#

[2022-07-31 11:50] deivid-rodriguez commented on #5790
Yep, I've been gradually removing references to `RUBY_PATCHLEVEL` and migrating code that depends on it, but this is a leftover inconsistency.

[2022-07-31 12:14] MrWormHole commented on #5691
bundler 2.3.19 fixed nokogiri native installation but the same issue persists with pg installation now

![image](https://user-images.githubusercontent.com/22800416/182025862-fd5f9a3f-990a-455c-8fd6-a0351c1f85a2.png)

[2022-07-31 12:18] deivid-rodriguez commented on #5691
That screen capture suggests that Bundler is trying to build fully extensions for the `pg` gem, which is fully expected on TruffleRuby.

[2022-07-31 12:27] MrWormHole commented on #5691
no it is not, why would I need Ruby MRI pre-compiled binary?

[2022-07-31 12:30] deivid-rodriguez commented on #5691
As you can observe at https://rubygems.org/gems/pg/versions/1.4.2, pg-1.4.2 does not have any precompiled versions, except for Windows. So, except for Windows, Bundler never tries to install a precompiled gem, it always tries to compile it at installation time for you current platform.

[2022-07-31 12:44] MrWormHole commented on #5691
ok, makes sense now, installing postgresql-devel solved it. Got confused with nokogiri error that we had before where it was using ruby MRI in its native extensions. pg is working with native extensions since it doesn't have the same issue

[2022-07-31 18:35] hut8 opened #5791 "Bundle command should be able to display messages from gem server"
### Describe the problem as clearly as you can

I maintain rails-assets.org, which is a gem server that serves gems generated from bower packages (obviously, this is a legacy service, but a lot of people still use it). We need a way to display messages to the user that are similar to those which can already be displayed for "post-install" or "funding", but those are gem-specific and are not displa

[2022-07-31 20:21] bkuhlmann opened #5792 "Fix gem specification undefined method `prerelease?' for nil class"
## Steps to Reproduce

Run the following code to reproduce in IRB:

[code]

## Expected Behavior

This behavior is surprising because a setter shouldn't error when a `nil` value is given. I believe the setter should gracefully handle `nil` as a value or raise a more informative error.

## Current Behavior

Running the above code will result in a no method error:

[code]

## Possible Solution

I th

[2022-08-01 04:36] tnir commented on #5777
Is https://github.com/kddnewton/bundler-console a good replacement of `bundle console`? cc @simi

[2022-08-01 07:15] deivid-rodriguez commented on #5791
@hut8 Since the discussion at Slack indicates that there are probably better alternatives, let me close this for the time being. We can always reopen if a different conclusion is reached in the end.

[2022-08-01 07:15] #5791 closed

[2022-08-01 08:59] Ilushkanama commented on #5780
@deivid-rodriguez sure, please see #5795

[2022-08-01 10:46] deivid-rodriguez commented on #5792
https://github.com/rubygems/rubygems/pull/5794 should fix this!

[2022-08-01 10:47] deivid-rodriguez commented on #5790
#5793 should fix this!

[2022-08-01 13:36] mifrazmify opened #5797 "Bundle command should be able to display messages from Nexus server"
### Describe the problem as clearly as you can
We are trying to integrate RubyGems support in our plugin which we developed for Nexus server. Our goal is to get the gems from Nexus when the `bundler install --redownload` command is initiated and send a custom message back to the terminal based on our back-end logic of the plugin.

However we have run into some issue when using the latest versions

[2022-08-01 13:48] deivid-rodriguez commented on #5797
Thanks for the report, and for isolating the Bundler version that does not work. Unfortunately, I'm going to need a way to reproduce this in order to help you. Never used a Nexus server myself, so not sure how to set that up.

[2022-08-01 14:32] bkuhlmann commented on #5792
Thanks! :bow:

[2022-08-01 14:59] deivid-rodriguez commented on #3188
I'll close since there was no further feedback.

[2022-08-01 14:59] #3188 closed

[2022-08-01 17:16] deivid-rodriguez commented on #5717
#5798 should fix this!

[2022-08-01 18:45] deivid-rodriguez commented on #5768
Milestone added because the keyboard on my WIndows machine is broken :rofl:. I managed to repro this, will try to fix it!

[2022-08-01 19:26] deivid-rodriguez commented on #5768
OK, so I think this is not about the symlink being broken, which is something we could warn about in any case. But about symlinks not being enabled on some Windows. For example, I can reproduce locally on my WIndows VM, but this does not reproduce on GIthub Actions.

@MSP-Greg Am I on the right track? Is there an easy command that can be run to enable symlink support? If there is, I think a good r

[2022-08-01 19:59] cjmendoza opened #5802 "NoMethodError: undefined method `unsafe_load' for Gem::SafeYAML:Module"
### Describe the problem as clearly as you can

--- ERROR REPORT TEMPLATE -------------------------------------------------------

[code]

## Environment

[code]

## Bundler Build Metadata

[code]

## Gemfile

### Gemfile

[code]

### Gemfile.lock

[code]

### Did you try upgrading rubygems & bundler? Trying to update bundler I get the error

### Post steps to reproduce the problem

### Which comm

[2022-08-01 20:42] deivid-rodriguez commented on #5802
This is confusing.

I checked git history and I don't think the line of code

[code]

has ever existed in RubyGems.

Did you edit sources manually by any chance? Does `gem update --system` fix the problem?

[2022-08-01 21:28] MSP-Greg commented on #5768
Yes.  The GitHub Actions servers are setup like many servers, in that they run as a full admin.  Most desktops run as what might be considered a 'partial' admin.

Or, when working on my desktop, anytime I need a symlink, I have to open a terminal using 'Run as Administrator'.

When I was writing a lot of Windows desktop code (a long time ago), I configured my user account as a standard user, since

[2022-08-01 21:49] kbarrette commented on #5743
I have just a single platform `ruby` in my `Gemfile.lock`, and neither leaving it in nor removing it allows me to update from bundler `2.3.16` to `.19` - bundler complains about not being able to resolve `sorbet-static` and I can't continue.

[2022-08-01 22:01] hut8 commented on #5791
I concur, @deivid-rodriguez . Thanks for the guidance 🙇🏻

[2022-08-02 05:24] tnir opened #5803 "bundle config unset accepts only 1 argument"
### Describe the problem as clearly as you can

`bundle config unset` accepts only 1 argument but doc says it does 2 args.

### Post steps to reproduce the problem

1. `bundle config unset --local path y` as per 2fae44f or https://github.com/rubygems/bundler/pull/7045

### Which command did you run?

`bundle config unset --local path x`

### What were you expecting to happen?

Document should be c

[2022-08-02 07:08] deivid-rodriguez commented on #5743
I'll work on this soon. To workaround your case I think you can regenerate your lockfile, so it uses your current platform instead of "ruby".

[2022-08-02 07:09] deivid-rodriguez commented on #5768
I see, thanks for the insights!

[2022-08-02 07:10] #5715 closed

[2022-08-02 09:35] #5803 closed

[2022-08-02 11:38] deivid-rodriguez commented on #5768
Alright, so #5801 is not a general fix for this, we'd need to rescue the error a print a proper message. But will fix this particular problem when the symlink is broken but not attempting to install it at all.

[2022-08-02 11:59] cjmendoza commented on #5802
Believe me I could not make this up if I wanted to. That is exactly what
came out.
Here is what happens when I try gem update --system:

/home/cmendoza/.rbenv/versions/3.1.2/lib/ruby/3.1.0/psych.rb:276:in
`singleton class': undefined method `unsafe_load' for class
`#<Class:Psych>' (NameError)
from /home/cmendoza/.rbenv/versions/3.1.2/lib/ruby/3.1.0/psych.rb:276:in
`<module:Psych>'
from /home/cmend

[2022-08-02 12:06] deivid-rodriguez commented on #5802
So weird, can you open /home/cmendoza/.rbenv/versions/3.1.2/lib/ruby/3.1.0/rubygems/package.rb and show the code around line 536?

[2022-08-02 12:59] deivid-rodriguez commented on #5802
Also show the code around /home/cmendoza/.rbenv/versions/3.1.2/lib/ruby/3.1.0/psych.rb:276

[2022-08-02 13:10] kbarrette commented on #5743
Removing `Gemfile.lock` and running `bundle install` just gives me the same error message

[2022-08-02 13:12] deivid-rodriguez commented on #5743
Oh, this might be a different issue then. Can you show your `Gemfile`?

[2022-08-02 13:22] kbarrette commented on #5743
[code]

[2022-08-02 13:30] deivid-rodriguez commented on #5743
Yeah, it's a different issue, but I guess also caused by #5495. Which gem do you expect to get installed, and which gem did you get installed before? It should be `sorbet-static-0.5.9519-universal-darwin-20` I guess?

[2022-08-02 13:32] deivid-rodriguez commented on #5743
Actually, can you show the result of `bundle config`? I suspect you might have `force_ruby_platform` set. In that case, that would be expected and precisely the bug fixed by #5495. And you can fix it by unsetting `force_ruby_platform`.

[2022-08-02 13:42] kbarrette commented on #5743
Yep, I do have `force_ruby_platform` set. No idea when or why I set it, but I'll experiment with turning it off. Thanks!

[2022-08-02 13:46] tnir opened #5806 "bundle-version: Prints Bundler's version information"
[code]

How about this? Or, does the wording "the bundler" convey anything else than "Bundler itself"?

_Originally posted by @olleolleolle in https://github.com/rubygems/bundler-site/pull/840#discussion_r934760841_

This wording is used in the help text of Bundler itself, too, so this is now a Bundler issue report.

[2022-08-02 14:19] luke-hill commented on #4319
Around the time this went in was around the time I was switching jobs / on holiday. So forgot to say thanks / well done. :) Top work!

[2022-08-02 14:39] cjmendoza commented on #5802
Here is 528 thru 539

  ##
  # Reads and loads checksums.yaml.gz from the tar file +gem+

  def read_checksums(gem)
    Gem.load_yaml

    @checksums = gem.seek 'checksums.yaml.gz' do |entry|
      Zlib::GzipReader.wrap entry do |gz_io|
        Gem::SafeYAML.unsafe_load gz_io.read
      end
    end
  end

On Tue, Aug 2, 2022 at 8:06 AM David Rodríguez ***@***.***>
wrote:

--

Claudio J. Mendoza
mo

[2022-08-02 14:47] deivid-rodriguez commented on #5802
This is the original RubyGems 3.3.7 code: https://github.com/rubygems/rubygems/blob/bafe43c59332cd37d464e03b666233827e7704c3/lib/rubygems/package.rb#L534-L539

As you can observe, the code you have installed is not the real RubyGems code.

If you yourself don't have any context on how this happened, it's unlikely that we'll be able to figure out.

To fix this, you can try correcting the offending

[2022-08-02 14:47] cjmendoza commented on #5802
Here is 238-276:
###
  # Load +yaml+ in to a Ruby data structure.  If multiple documents are
  # provided, the object contained in the first document will be returned.
  # +filename+ will be used in the exception message if any exception
  # is raised while parsing.  If +yaml+ is empty, it returns
  # the specified +fallback+ return value, which defaults to +false+.
  #
  # Raises a Psych::SyntaxE

[2022-08-02 14:47] MSP-Greg commented on #5768
I can also repo locally (native Windows 11) with `gem install mongo`.

If I run it in a admin terminal/console, mongo installs, but the symlink's realpath doesn't exist.  Or:

[code]

[2022-08-02 14:52] deivid-rodriguez commented on #5802
That code is also not the original, since most references to `load` should actually read `unsafe_load`.

It seems like your whole Ruby installation is messed up. Maybe some bad search and replace command, not sure. I suggest you reinstall Ruby.

In any case, this is definitely not a RubyGems issue.

Good luck!

[2022-08-02 14:52] #5802 closed

[2022-08-02 15:34] cjmendoza commented on #5802
I fixed the code to get through: by the way the change you suggested still
didn't work because in the code for Psych.rb the line 276
should read:
class << self; alias :unsafe_load :load; end
instead of
class << self; alias :load :unsafe_load; end

So it went through and then I got a new error:
gem update --system
Updating rubygems-update
Exception while verifying
/home/cmendoza/.rbenv/versions/3.1

[2022-08-02 15:43] cjmendoza commented on #5802
Will do, thanks!

On Tue, Aug 2, 2022 at 11:40 AM David Rodríguez ***@***.***>
wrote:

--

Claudio J. Mendoza
mobile: 305.606.1126
office: 786.408.5580
www.vidaguard.com

[2022-08-02 15:54] deivid-rodriguez commented on #5797
I see, this sounds like https://github.com/rubygems/rubygems/issues/5385. Since 2.3.5, Bundler fetches all gemspecs for custom servers not implementing the modern dependency APIs. Not sure what your RubyGems server uses under the hood, but if it's using geminabox, this will get fixed after https://github.com/geminabox/geminabox/pull/435 is merged and released.

[2022-08-02 16:04] mifrazmify commented on #5797
@alzafacon: Is there a way that we can display custom http error message for `gemspec` ? or may be a compatible error code which will not override the custom http error message.

[2022-08-02 21:55] #5790 closed

[2022-08-02 21:56] #5792 closed

[2022-08-02 21:56] #5780 closed

[2022-08-02 22:47] kuahyeow commented on #3379
Thanks @deivid-rodriguez  !

I have opened a draft PR in https://github.com/rubygems/rubygems/pull/5808. It's DRAFT because there is a lot of work in adding a new lockfile section, and I want to get some early feedback.

[2022-08-03 01:05] jaykilleen commented on #5542
I had this problem a while ago and had to manually change the `Gemfile.lock` to revert `strscan` from `strscan (3.0.3)`back to `strscan (3.0.1)`.

Today I updated my Gemfile and am now running `rails (7.0.3.1)`. `strscan` is now `3.0.4` but the server still blew up (Passenger 'We're sorry, but something went wrong screen').

Once again, manually changing my `Gemfile.lock` to `strscan (3.0.1)` and

[2022-08-03 02:26] ngan opened #5809 "Gemfile force_ruby_platform inconsistency"
### Describe the problem as clearly as you can

We have this in our Gemfile:
[code]
and our platforms are:
[code]

We need to do this because the `grpc` gem doesn't work on Apple M1 Macbooks unless you compile the gem yourself (hence the `force_ruby_platform`. Additionally, we do this so that our peers on Apple Intel Macbooks don't have to compile the gem since it can take a very long time to comp

[2022-08-03 05:08] spohlenz opened #5810 "Git source fails to update when default branch is renamed"
### Describe the problem as clearly as you can

I have recently changed the default branch in a number of my gem repositories from `master` to `main`. In doing so, this seems to have broken updates from dependent projects which use a git source (with no explicit branch) in their Gemfiles.

### Post steps to reproduce the problem

1. Create a new gem (using `bundle gem`) and push to GitHub. I've us

[2022-08-03 07:33] #5717 closed

[2022-08-03 07:48] deivid-rodriguez commented on #5809
Thanks for the report @ngan.

As you suspected, this is expected behavior. The `force_ruby_platform` option is meant to be either `false` or `true`, but not to change depending on the local platform.

When you have all three `grpc` variants in the `Gemfile.lock` file and you run `bundle update` on M1, then `force_ruby_platform` evaluates to `true`, and since you're running `bundle update`, all gem

[2022-08-03 08:21] sdwolfz commented on #3379
@deivid-rodriguez @kuahyeow Can you please clarify one thing?

Say I develop on a macbook, installing a platform specific gem, that means the lockfile will contain a hash for `arm64-darwin` gem only. I commit and deploy to a Linux server, so when `bundle install` runs, it will only check the hash if it installs `arm64-darwin` again. But since it's actually `x86_64-linux` now, it won't actually che

[2022-08-03 08:39] Bertg commented on #3379
Just dropping in my 2 cents, this is way over my pay grade, but I was the one originally suggesting this feature...

I think, as the purpose here is to increase safety in case of a supply chain attack, that each "flavour" that could be resolved, should be covered by this feature. If that means downloading, creating and storing hashes, so be it.

I think the impact will not be that huge, as not tha

[2022-08-03 08:39] deivid-rodriguez commented on #3379
I think this connects with #5700. The idea is that you should generate your `Gemfile.lock` for your deployment platform before you actually deploy. This is already like that, #5700 is just trying to make that more user friendly.

With that in mind, I think you should be able to generate your `Gemfile.lock` file for both `arm64-darwin` and `x86_64-linux` locally without installing anything and get

[2022-08-03 08:43] Vucius commented on #5124
maybe [it](https://qiita.com/KONTA2019/items/1d2fc90b5020486b0504) can help u

[2022-08-03 09:54] deivid-rodriguez commented on #5542
I finally had a look at this using the repro instructions posted by @hurricup at https://github.com/rubygems/rubygems/issues/5542#issuecomment-1203368066. The reason why installing latest psych does not fix the issue is that `bundle install --path <path>` changes the path to look for gems to `<path>`, so even if you installed `psych-4.0.4` globally before running `bundle install --path`, it won't

[2022-08-03 09:54] #5542 closed

[2022-08-03 11:51] deivid-rodriguez commented on #5810
Hi @spohlenz. This sounds indeed be tricky to implement, I think we might need to add a `git remote set-head origin --auto` on the bare clone, but I doubt it's as simple as that.

I think the cache folder you're looking for is at `Users/sam/.rvm/gems/ruby-2.7.5/cache/bundler/test-gem-*`. Removing that and rerunning `bundle update` may fix things.

[2022-08-03 11:56] deivid-rodriguez commented on #5797
Other than hoping (possibly helping too) geminabox and gemstash to move forward and implement new APIs, I don't think we can do much here. Since that's already tracked at #5385, I'll close this.

For the time being, t sounds like you should implement your plugin for gemspec endpoints too, and that would fix things for you..

[2022-08-03 11:56] #5797 closed

[2022-08-03 11:59] deivid-rodriguez commented on #5693
Could we replace `--tags` with `refs/tags/*:refs/tags/*` to fetch all tags?

[2022-08-03 12:00] deivid-rodriguez commented on #5693
Ideally I would like things to just work and potentially remove the explicit `refs/` trick in the future.

[2022-08-03 12:34] simi commented on #5810
:thinking: We can also improve `bundle pristine` to clone again git sources from scratch.

[2022-08-03 12:44] deivid-rodriguez commented on #5810
I think that's a very good idea!

[2022-08-03 18:27] brianyee-drizly commented on #5249
Was a solution ever found? Or @Herdinger do you mind sharing what your workaround was? I'm seeing a similar problem when I try to use the `red-parquet` gem.
[code]

[2022-08-03 18:37] deivid-rodriguez commented on #5743
https://github.com/rubygems/rubygems/pull/5807 should fix this!

[2022-08-03 18:45] deivid-rodriguez commented on #5249
Nope, and this is a limitation that seems hard to fix, honestly.

[2022-08-04 04:36] #5768 closed

[2022-08-04 07:25] deivid-rodriguez commented on #5685
Hi!

I can't reproduce the original error in this ticket, but judging from the `[/home/nicolas/.asdf/installs/ruby/3.1.2/lib/ruby/gems/3.1.0/bundler/gems/rest-client-f40a0631faa5/rest-client.windows.gemspec] isn't a Gem::Specification (NilClass instead).` message, I guess there was an error in the gemspec file.

Later you provided a repro at https://github.com/jbox-web/rest-client/runs/7186046801?

[2022-08-04 07:25] #5685 closed

[2022-08-04 13:11] #5647 closed

[2022-08-04 14:33] #5323 closed

[2022-08-04 17:35] ianks commented on #5715
@deivid-rodriguez thank you so much! when do you think this patch will make it in a release?

[2022-08-04 17:39] deivid-rodriguez commented on #5715
No problem, next week!

[2022-08-04 21:37] n-rodriguez commented on #5685
@deivid-rodriguez  thank you!

[2022-08-05 07:36] #5743 closed

[2022-08-05 09:01] deivid-rodriguez commented on #5508
Can someone verify that #4488 fixes this problem? My Linux laptop decided to not boot anymore today, so I can't try this myself easily.

[2022-08-05 13:29] Daoudia opened #5816 "Kompromitiert"
### Describe the problem as clearly as you can

### Did you try upgrading rubygems & bundler?

### Post steps to reproduce the problem

### Which command did you run?

### What were you expecting to happen?

### What actually happened?

### If not included with the output of your command, run `bundle env` and paste the output below

[2022-08-05 13:35] #5816 closed

[2022-08-06 10:18] eregon commented on #5508
I can repro with bundler 2.3.19 and the instructions above.
And indeed with that PR it's fixed:
[code]

[2022-08-06 11:00] tejas-ebizz commented on #5418
i am also getting same error.

My gem file is as below

`# frozen_string_literal: true

source "https://rubygems.org"

gem "rails"
gem "fastlane"`

error
`
<No /Users/tl-1/Desktop/FIrstFastlaneProject/Gemfile.lock found>

Unfortunately, an unexpected error occurred, and Bundler cannot continue.
`

[2022-08-06 11:02] deivid-rodriguez commented on #5418
Please report a separate issue with as much information as possible, ideally with steps that we can run on our laptop to see the error for ourselves. Thanks!

[2022-08-06 11:31] deivid-rodriguez commented on #3272
Hi again @joehorsnell. I had another look at this and I believe using a scoped path source, like this

[code]

would give you the same result and address the deprecation?

[2022-08-06 19:07] deivid-rodriguez commented on #4510
This will be fixed by #5820.

[2022-08-06 20:27] deivid-rodriguez commented on #5393
#5821 should fix this!

[2022-08-09 09:25] Shyam2798sam opened #5825 "Unfortunately, an unexpected error occurred, and Bundler cannot continue."
-------------------------------------
      railties (>= 5.2)
      semantic_range (>= 2.3.0)
    websocket (1.2.9)
    websocket-driver (0.7.5)
      websocket-extensions (>= 0.1.0)
    websocket-extensions (0.1.5)
    wicked_pdf (2.6.3)
      activesupport
    wkhtmltopdf-binary (0.12.6.5)
    xpath (3.2.0)
      nokogiri (~> 1.8)
    zeitwerk (2.6.0)

PLATFORMS
  ruby

DEPENDENCIES
  activereco

[2022-08-09 11:53] #5825 closed

[2022-08-10 09:47] Ragavan996 opened #5829 "Unfortunately, an unexpected error occurred, and Bundler cannot continue."
--- ERROR REPORT TEMPLATE -------------------------------------------------------

[code]

## Environment

[code]

## Bundler Build Metadata

[code]

## Gemfile

### Gemfile

[code]

### Gemfile.lock

[code]

## Gemspecs

### metasploit-framework.gemspec

[code]

--- TEMPLATE END ----------------------------------------------------------------

[2022-08-10 10:18] deivid-rodriguez commented on #5829
Hello @Ragavan996, could you explain how you end up running into this error a bit? The error is helpful, but not enough. Thanks!!

[2022-08-10 12:33] Ragavan996 commented on #5829
I can't understand! ,which is not enough?

[2022-08-10 12:45] deivid-rodriguez commented on #5829
The information that you have provided is not enough for me to figure out what's wrong. I need more information about how you end up running into this error so that I can try to reproduce the error for myself. That way it will be more likely that I can fix it.

[2022-08-10 15:21] skipkayhil commented on #5393
I can confirm that this is fixed in the new release, thank you so much!

[2022-08-10 15:43] deivid-rodriguez commented on #5393
Great to hear, no problem, sorry it took so long!

[2022-08-10 17:23] voxik commented on #5768
I don't think this is good change. If the symlink is dangling after installation of gem A, it does not mean that gem B is not fixing the symlink. I am not Windows expert, but the original scenario was perfectly fine for Linux.

You can argue, that gems have to be installable on every platform, but I don't think this is to be decided by RubyGems. And if it should be, then the dangling symlinks coul

[2022-08-10 17:26] deivid-rodriguez commented on #5768
I see, so some packagers may be intentionally including dangling symlinks with their gems for some reason?

I actually thought you would fancy this change because you yourself contributed the same kind of change, but for gem executables, a while ago.

[2022-08-10 17:35] voxik commented on #5768
Previously, AFAIR, RubyGems did some assumptions and I tried to remove as much assumptions as possible. [This](1393e7ccc5f3e5f3c3a02362c69de65e38a3e9f5) is the commit in question I believe. The comment says: "don't touch symlink references. If they are wrong, it is upstream failure."

[2022-08-10 17:45] deivid-rodriguez commented on #5768
You're right, yours was a packaging change, not an installation change. We were already warning dangling symlink executables before https://github.com/rubygems/rubygems/pull/2836.

So, I'm re-reading your first comment and what you are saying is that some gem A might intentionally install a dangling symlink to a gem B, which will no longer be dangling once B is installed? Uggh.

[2022-08-10 18:55] voxik commented on #5768
Yes. However, I am not aware of any real life example. But why not? It might even not be gem B, but some other package/file/whatever. Symlinks are very handy way to tweak system in very interesting ways and I'd be unhappy see such cases go away. But if this is desired after all, then this should have been caught during packaging already (ignoring the backward compatibility for the moment).

[2022-08-10 19:03] deivid-rodriguez commented on #5768
The good thing about catching this at install time is that we avoid it regardless of which version of RubyGems packaged the gem (with this change, or not). Also we can't change existing gems, so doing this here helps with the problem reported here of making this gem installable on Windows.

I guess we'll just wait for someone to want to do what you mentioned and then decide whether it's a valid us

[2022-08-10 19:49] luizkowalski opened #5830 "`bundle update` removing `ruby` platform"
### Describe the problem as clearly as you can

After updating to 2.3.20 I noticed that when I run `bundle update`, it removes the `ruby` platform and only keeps `arm64-darwin-21`, deleting gems that are needed in production.

Here is the output of the `bundle update` command:

[code]

and this is the git diff:

<img width="384" alt="image" src="https://user-images.githubusercontent.com/112706/184

[2022-08-10 19:58] deivid-rodriguez commented on #5830
Oh no, I don't think this should've applied to this case 😮. Sorry. I'll have a look tomorrow and possibly get a quick release out fixing this.

[2022-08-10 19:59] luizkowalski commented on #5830
no worries, thanks for the quick reply!

[2022-08-10 20:06] dunghenry opened #5831 "I not understanding 😢"
### Describe the problem as clearly as you can

### Did you try upgrading rubygems & bundler?

### Post steps to reproduce the problem

### Which command did you run?

### What were you expecting to happen?

### What actually happened?

### If not included with the output of your command, run `bundle env` and paste the output below

[2022-08-10 20:09] #5831 closed

[2022-08-10 23:18] deivid-rodriguez commented on #5830
I always have to miss an edge case! 😠

It's because of the `gem "tzinfo-data", platforms: %i[mingw mswin x64_mingw jruby]` dependency. If you're not using Windows or JRuby, you can remove that line from the `Gemfile` and then `bundle update` should behave as expected. And if you are, your probably want to add those to the `Gemfile.lock` file.

Anyways, this should be an easy fix, I'll open a PR to

[2022-08-11 06:06] dunghenry commented on #5831
Use chocolatey in PowerShell
choco install ruby -y
refreshenv
gem install bundler
😂

[2022-08-11 12:29] kingdonb commented on #5830
I have just run into this (at the end of a list of issues) on my Debian Sid system, when I tried to reinstall rubies because of probably unrelated OpenSSL issues that you likely only get when you're on Debian Sid, (*not relevant here). The error:

[code]

Solved with:

[code]

Just posting this for visibility since the default install of the latest version is broken right now in latest, and it too

[2022-08-11 12:57] deivid-rodriguez commented on #5830
Looks completely unrelated to me @kingdonb. Why do you think it's related?

[2022-08-11 13:03] kingdonb commented on #5830
Because the subject of the bug report was about removing os packages, and this line:

[code]

It's either the same issue, or a big coincidence that 3.3.19 works for me but 3.3.20 does not

[2022-08-11 13:06] deivid-rodriguez commented on #5830
Oh, nono, it's about some stuff getting removed from the `Gemfile.lock` file (a Bundler specific file). In your case, it sounds that you're not even using Bundler!

[2022-08-11 13:31] kingdonb commented on #5830
I just used `rvm install 3.1.2` on my Linux machine four different times with different incantations of openssl, either adding or removing `--with-openssl-dir=$HOME/.rvm/usr` each time, since I can never tell if I need the latest openssl or if I already have it... I'm still not sure which it is that I landed on. I think it's working with the openssl that is in the base distro of Debian sid... at l

[2022-08-11 18:09] luizkowalski commented on #5830
@deivid-rodriguez confirming that removing the tzinfo-data gem is a valid workaround

[2022-08-11 18:46] jrochkind commented on #5289
I'm getting this error on running `bundle exec` (anything I think?) in a gem source dir. Although the gem release seems to have happened succesfully anyway?

But there is something weird going on. I use chruby (not rvm) to manage ruby versions. bundler 2.3.14, rake 13.0.6, rubygems 3.2.33.

Oddly `bundle exec gem --version` also prints out the error. But not just any `bundle exec` will.

So there

[2022-08-11 18:53] deivid-rodriguez commented on #5289
You can start by upgrading all the things and see if it still reproduces!

[2022-08-11 18:59] jrochkind commented on #5289
So I'm not ready to update ruby (and after all ruby 3.0 is still supported, yes?).  Looks like rake is already latest. But let's look at the others...

after a `gem update --system` and a `gem install bundler`, and `bundle update --bundler`, I am at:

ruby 3.0.4, bundler 2.3.20, rubygems 3.3.20, rake 13.0.6.

Somehow the problem has gotten even worse, now it reports the error twice?

[code]

[2022-08-11 19:03] jrochkind commented on #5289
The contents of those files I see are a require relative, pointing to... this one seems to be there too:

[code]

[2022-08-11 19:11] jrochkind commented on #5289
Looking back at the discussion... I'm confused about what the `gem-release` gem _is_.  I have not intentionally installed it at any point, as far as I know, I am not familiar with it.

I have been using the `bundle exec rake release` for years, with `require 'bundler/gem_tasks'` in my Rakefile.  I am not sure how these things are related, or what's going on. Before reading this thread, I was not a

[2022-08-11 19:21] jrochkind commented on #5289
I tried `gem uninstall gem-release` followed by `gem install gem-release`. No change, still the same output with two errors on `bundle exec gem --version`.

[2022-08-11 22:33] deivid-rodriguez commented on #5830
#5832 should fix this!

[2022-08-12 04:16] Vikas2488 opened #5833 "how to fix?"
### Describe the problem as clearly as you can

### Did you try upgrading rubygems & bundler?

### Post steps to reproduce the problem

### Which command did you run?

### What were you expecting to happen?

### What actually happened?

### If not included with the output of your command, run `bundle env` and paste the output below

[2022-08-12 07:09] #5833 closed

[2022-08-13 19:35] 0980567018Aa opened #5835 "9.0"
### Describe the problem as clearly as you can

### Did you try upgrading rubygems & bundler?

### Post steps to reproduce the problem

### Which command did you run?

### What were you expecting to happen?

### What actually happened?

### If not included with the output of your command, run `bundle env` and paste the output below

[2022-08-13 19:37] 0980567018Aa opened #5836 "P"
#5824 s!--

Thank you for contributing to the
[rubygems](https://github.com/rubygems/rubygems) repository, and specifically to
[RubyGems](https://guides.rubygems.org/).

-->

### Describe the problem as clearly as you can

### Did you try upgrading RubyGems?

### Post steps to reproduce the problem

### Which command did you run?

### What were you expecting to happen?

### What actually happened?

[2022-08-13 20:07] #5836 closed

[2022-08-13 20:07] #5835 closed

[2022-08-14 07:08] varungandhi-src opened #5838 "Discrepancy between paths used by bundle install and bundle exec"
### Describe the problem as clearly as you can

If I add a binary dependency (e.g. `sorbet`), running `bundle exec` after `bundle install` fails. This is because the path fragment added by `bundle exec` is incorrect. See [repo with minimal reproduction](https://github.com/varungandhi-src/bundle_exec_bug).

I've copied the information from the README here to fit the template.

### Did you try upgra

[2022-08-15 04:38] alexmlcc opened #5839 "gem 'public_activity Permission denied"
### Describe the problem as clearly as you can

RUBY VERSION
   ruby 3.1.2p20

BUNDLED WITH
   2.3.20
[code]

[2022-08-15 08:25] deivid-rodriguez commented on #5839
Hi! Could you please copy the full error, including the backtrace? Thanks!

[2022-08-15 08:42] #5830 closed

[2022-08-15 14:33] tonyaraujop commented on #5364
Hello there @ngan have you started to work on this? If not, I would like to help.

[2022-08-15 19:06] katrkatcloud opened #5841 "Let origanal error be added"
Let origanal error be added

__Originally posted by @katrkatcloud in https://github.com/rubygems/rubygems/pull/5110#issuecomment-985299092__

__Originally posted by @katrkatcloud in https://github.com/rubygems/rubygems/issues/5131__

__Originally posted by @katrkatcloud in https://github.com/katrkatcloud/katr-kat-cloud/issues/1__

__Originally posted by @katrkatcloud in https://github.com/rubygems

[2022-08-15 19:09] #5841 closed

[2022-08-16 02:26] ngan commented on #5364
Hey @tonyaraujop I started this but didn't have time to finish. It's fairly straightforward. I think where I got stuck was how to how to show the deprecation message. Summer distract me 😓

Feel free to have a go at it!

[2022-08-16 05:15] superscott opened #5842 "bundler update --conservative downgrades gem from 1.0.19 to 0.1.9"
### Describe the problem as clearly as you can

We had [`quickbooks-ruby`](https://github.com/ruckus/quickbooks-ruby) installed at `1.0.19` without the version pinned, I ran `bundle update --conservative` which changed the version to be used to `0.1.19`, which is an extraordinarily old version.

So while I understand this might be an extremely specific use-case, the fact that this is something tha

[2022-08-16 11:49] deivid-rodriguez commented on #5842
Reproduced, except that plain `bundle update` does not work for me either because it leaves all gems untouched (no updates). This is a simple but tricky case, so it's a very good example to use to try fix things. I'll investigate this, thanks!

[2022-08-16 12:24] tonyaraujop commented on #5364
Thanks.

[2022-08-16 14:42] Keltz-dev commented on #5351
`rm -rf Gemfile.lock
bundle install`

[2022-08-16 18:07] tonyaraujop commented on #5364
Hey @ngan I looked in files and found `deprecate.rb` under `lib/rubygems` that has a method `rubygems_deprecate` which `Indicate something will be removed in the next major RubyGems version, and (optionally) a replacement for it.` So I just added this line `rubygems_deprecate(install)` just under the line `definition.validate_runtime!`. Do you think this is enough? I tried to test in `inline_spec.

[2022-08-17 01:26] alexmlcc commented on #5839
I haven't save it. I tried many things, and everytime same error. i took
gem out

Thanks,
Alex

On Mon, Aug 15, 2022 at 1:25 AM David Rodríguez ***@***.***>
wrote:

[2022-08-17 15:10] electrofelix opened #5843 "Rubygems resolver appears to have an issue when large possibilities set"
### Describe the problem as clearly as you can

On Arch linux vagrant is using rubygems to perform dependency resolving to install plugins. It calls into rubygems code /usr/lib/ruby/3.0.0/rubygems/resolver when performing plugin installs and ultimately fails with a conflict trying to resolve dependency versions.

There appears to be an issue when there is a large number of dependency possibilities

[2022-08-17 15:12] electrofelix commented on #5843
Copying debug efforts originally posted at https://github.com/hashicorp/vagrant/issues/12837#issuecomment-1216826334

---

It doesn't appear to be an issue with the rc2 suffix, I did some digging and it appears to be able to correctly resolve 6.2.0.rc2 as satisfying the dependency, but still rejects it.

I couldn't pin it down exactly what is going on, but the resolver appears to do something a li

[2022-08-17 15:13] electrofelix commented on #5843
Copying debug effort originally posted at https://github.com/hashicorp/vagrant/issues/12837#issuecomment-1216985386

---
The lowest number I could modify that dependency range to and have it work is `3.2.0`, going to `3.1.0` fails with a slightly different message:
[code]

going to `2.6.0` as the lower range also works.

Enabling `DEBUG_RESOLVER=1` dumps the following for net-ssh when the constrai

[2022-08-17 15:20] electrofelix commented on #5843
When making the same change with the vendored bundle:
[code]

And subsequently running:
[code]
it succeeds:
[code]

Which should allow reproducing how to workaround locally.

What exactly is going on in the resolver is not clear. Given that simply modifying the gem constraint is enough to allow a resolution subsequently, it does not appear to be how vagrant is calling bundler/rubygems that is the

[2022-08-17 23:33] #3312 closed

[2022-08-18 18:52] tnir opened #5845 "bundle plugin accepts two exclusive options --branch and --ref"
### Describe the problem as clearly as you can

`bundle plugin` sub-command accepts two exclusive options `--branch` and `--ref`, but the last `--ref` value is applied.

_Originally posted by @tnir in https://github.com/rubygems/bundler-site/pull/860#discussion_r949482257_

### Did you try upgrading rubygems & bundler?

### Post steps to reproduce the problem

1. `bundle plugin install --local_git

[2022-08-19 05:46] Madhanagopal-Nagarajan opened #5846 "Errno::EPERM: Operation not permitted - /Library/Application Support/com.apple.TCC"

[2022-08-19 06:46] #5846 closed

[2022-08-19 10:39] deivid-rodriguez commented on #5842
#5847 should fix this!

[2022-08-19 10:59] deivid-rodriguez commented on #5843
I don't have a linux machine available right now (it's being repaired), I'll look at this when I do. But for now I think I do understand the issue and I'm confident to label it as an issue in RubyGems. You only used Bundler to provide the environment necessary to reproduce the bug but vagrant's plugin manager uses RubyGems stuff under the hood (at least the error seems to be coming from RubyGems n

[2022-08-19 16:33] TeldridgeLDN opened #5849 "undefined method 'version' - @name="libv8-node"
### Describe the problem as clearly as you can

Looking to install Jekyll Theme template https://github.com/TeldridgeLDN/TeldridgeLDN.github.io

Mac OSx Monterey

Step 1. installed Ruby 3.1.0 using home-brew
Step 2. cd TeldridgeLDN.github.io
Step 2. installed latest rubygems using gem update --system
Step 3. Error when running bundle install

### Did you try upgrading rubygems & bundler?

Yes ruby

[2022-08-19 17:13] deivid-rodriguez commented on #5849
Hi!

If you install latest master (clone the repo, cd to the bundler folder, and run `bin/rake install`), does `bundle install` work? I suspect https://github.com/rubygems/rubygems/pull/5840 may fix this, although the error is not the same.

[2022-08-19 17:20] #5385 closed

[2022-08-19 17:30] deivid-rodriguez commented on #5849
I tried this myself but could not reproduce with Bundler 2.3.20, I would need more machine independent and specific instructions to reproduce. For example, the repository your pointed out does not include a `Gemfile.lock` file while yours includes it. Anyways, I tried with your `Gemfile.lock` and without and everything worked.

[2022-08-19 17:41] deivid-rodriguez commented on #5385
Performance should be now restored in master. We should encourage custom server migrating to the compact index API, but we're not there yet. Happily I think I managed to restore performance and keep the resolution cases fixed earlier still working.

[2022-08-19 17:42] eregon commented on #5849
FWIW, also observed on https://github.com/Shopify/yjit-bench/pull/108#issue-1343744966

[2022-08-19 17:43] aaronjensen commented on #5385
That’s great, thank you!

[2022-08-19 17:45] deivid-rodriguez commented on #5849
Yes, I saw that and also tried to reproduce by installing Ruby's master branch and running `bundle install` over a revision of the repo before that PR. But it all worked too. I guess it's because I'm on `arm-darwin-21` which neither of the two repros are using. I can hopefully try linux in a few days/weeks, but for now if someone experiencing the issue can verify our current master branch, that wo

[2022-08-19 18:15] TeldridgeLDN commented on #5849
This seemed to work. What's really strange is that the bin/rake install command returned a zsh: no such file or directory: bin/rake

but when I ran bundle install again it worked.

[2022-08-19 18:23] deivid-rodriguez commented on #5849
mmm that sounds like you did not install the master branch the. What does `bundle -v` report?

[2022-08-19 20:36] iarunpaul opened #5851 "Bundler error while trying to bundle jekyll site Gemfile for Github pages"
# Error Report

## Questions

Please fill out answers to these questions, it'll help us figure out
why things are going wrong.

- **What did you do?**

  I ran the command `/usr/share/rvm/rubies/ruby-3.0.0/bin/bundle install` for jekyll site for github pages

- **What did you expect to happen?**

  I expected Bundler to finish without errors

- **What happened instead?**

  Instead, what happened

[2022-08-20 09:38] TeldridgeLDN commented on #5849
Bundler version 2.3.20

[2022-08-20 09:51] deivid-rodriguez commented on #5849
Right, so the update did not happen. Did you switch to the `bundler/` subfolder before trying to run the `bin/rake` script? Note that it's located at `bundler/bin/rake`.

Anyways, it seems like even without the update, `bundle install` worked the second time, so this is no longer reproducible?

[2022-08-20 09:55] deivid-rodriguez commented on #5851
Hello! 👋

It seems that you are using out of date Bundler, RubyGems and Ruby versions. So it's likely that this problem is already fixed in the latest versions.

I will close this, but feel free to reopen with updated error messages if this is still happening after you upgrade.

Thanks!!

[2022-08-20 09:55] #5851 closed

[2022-08-20 09:56] deivid-rodriguez commented on #3272
I will go ahead and close this, but let me know if you have any issues!

[2022-08-20 09:56] #3272 closed

[2022-08-20 10:08] TeldridgeLDN commented on #5849
Ah I see where I went wrong. I hadn't switched to the bundler subfolder.

Bu everything is working as it should now

[2022-08-20 10:08] #5849 closed

[2022-08-20 10:13] deivid-rodriguez commented on #5849
Alright, let me know if you run into issues again!

[2022-08-20 21:00] Aksandrsmirnov commented on #3256
![IMG-20220815-WA0008](https://user-images.githubusercontent.com/98289100/185765862-526b68d6-eca6-48b7-951a-e0fc028fb5c8.jpg)

[2022-08-21 04:48] wilsoncelyCUC commented on #5351
Thanks Guys. I just encountered the same issue

[2022-08-21 08:54] #5842 closed

[2022-08-21 09:32] deivid-rodriguez commented on #3174
This will be fixed by #5852, sorry it took so long!

[2022-08-21 18:52] deivid-rodriguez commented on #5845
So, you're saying we could unify everything into the `--ref` argument that can take a revision, a branch, or a tag? That sounds good to me!

[2022-08-22 06:11] tnir commented on #5845
Yes, my proposal looks more natural to me. Or we can disallow commit-ish value for `--branch` and branch for `--ref` instead. Anyway while I found this in bundle plugin, we should consider it for [`git:` option in Gemfile](https://bundler.io/guides/git.html) and [bundle-add](https://bundler.io/v2.3/man/bundle-add.1.html), shouldn't we?

For starters, should we simply prohibit users from specifying

[2022-08-22 06:44] deivid-rodriguez commented on #5845
That sounds like a good start, yeah!

[2022-08-22 10:21] #4924 closed

[2022-08-22 20:56] deivid-rodriguez commented on #5508
Closed by #5852!

[2022-08-22 20:56] #5508 closed

[2022-08-23 03:00] tnir opened #5859 "Bundler technical writing: avoid use of `can not`"
### Describe the problem as clearly as you can

Avoid use of `can not` in UI, comments, manual pages, and docs since that expression can be unclear to readers. We should use `cannot` (or `do not have to` in some rare cases).

/label content/cleanup

- cf. https://github.com/rubygems/rubygems/pull/5855#discussion_r952059682

## TODO

- [x] #5861
- [x] #5862

## Definition of done

`git grep -i 'can

[2022-08-23 03:32] tnir opened #5860 "Bundler UI: rm_rf shows deprecated Ruby document"
https://github.com/rubygems/rubygems/blob/9dc737d679a7062250c9ee2eff451d5f0b6ff5c0/bundler/lib/bundler.rb#L330-L338 shows a link to deprecated document included in EOL'd Ruby version (2.1) as follows:

- https://ruby-doc.org/stdlib-2.1.2/libdoc/fileutils/rdoc/FileUtils.html#method-c-remove_entry_secure

Code was originally introduced in https://github.com/rubygems/bundler/pull/4738 and has been un

[2022-08-23 05:27] #5845 closed

[2022-08-23 05:28] #5860 closed

[2022-08-23 06:09] tnir opened #5863 "bundle plugin install accepts --branch twice or more"
### Describe the problem as clearly as you can

`bundle plugin install` command allows users to pass `--branch` (or `--ref`) twice or more as below:

[code]

### Which command did you run?

1. `bundle plugin install --git https://github.com/rubygems/bundler-graph.git bundler-graph --branch v0.2.0 --branch v0.2.1`
1. Same thing with `--ref`: `bundle plugin install --git https://github.com/rubygems/

[2022-08-23 06:09] tnir commented on #5845
An issue allowing users to specify `--branch` (or `--ref`) twice is deferred to #5863.

[2022-08-23 09:04] tnir opened #5865 "UI broken in bundle-plugin and bundle-config on Docs"
### Describe the problem as clearly as you can

#5853 and #5854 introduced multiple command usages in their synopses, which will cause broken representations on HTML-rendered:

![broken](https://user-images.githubusercontent.com/10229505/186117975-f0a58d70-59ad-44e4-8928-ab27d0609b54.png)

But it should be at least like:

![to-be](https://user-images.githubusercontent.com/10229505/186117959-2e0dae

[2022-08-23 13:01] #5865 closed

[2022-08-23 13:27] tonyaraujop commented on #5755
Hey @deivid-rodriguez can I try to fix it? I'm happy to contribute.

[2022-08-23 13:40] deivid-rodriguez commented on #5755
Of course!

[2022-08-23 18:57] electrofelix commented on #5843
The issue with vagrant on arch has been resolved by having the distro package built without using a pre-release gem. A workaround has also been described, however it doesn't fully explain why modifying the allowed range could change the result of the resolutions.

I think either it should have failed for either the original range and the modified range, or succeeded for both.
Possibly less importa

[2022-08-24 05:35] deivid-rodriguez commented on #5829
Closing since I can't fix this without more information and I have not gotten any more feedback.

[2022-08-24 05:35] #5829 closed

[2022-08-24 05:37] deivid-rodriguez commented on #5843
Thanks, so the repro instructions will no longer make the issue happen by default, correct? Is it still possible to reproduce is some other way?

[2022-08-24 07:25] maddy10s opened #5867 "ERROR: SSL verification error at depth 1: self signed certificate in certificate chain on gem install"
gem install/ update command fives below error

I tried all steps mentioned at [ubygems_tls_ssl_troubleshooting_guide](https://bundler.io/guides/rubygems_tls_ssl_troubleshooting_guide.html )but nothing seems working.

**output of `gem env`:**

  - RUBYGEMS VERSION: 3.3.20
  - RUBY VERSION: 3.1.1 (2022-02-18 patchlevel 18) [x86_64-darwin20]
  - INSTALLATION DIRECTORY: /Users/ec2-user/.rvm/gems/ruby-

[2022-08-24 07:34] deivid-rodriguez commented on #5867
Could you post the results of the different tests in the troubleshooting guide?

[2022-08-24 10:41] maddy10s commented on #5867
I am using aws mac1.metal ec2 instance with **Big Sur** OS. The system has preinstalled ruby version 2.6.0, but when I try installing something I get below error.

I tried installing latest version of ruby with rvm, installing downloaded gem file and brew.  All of them are successful.

After installing latest ruby  and updating certs as mentioned [here](https://bundler.io/guides/rubygems_tls_ssl_t

[2022-08-24 10:52] deivid-rodriguez commented on #5867
Honestly, I'm not sure what's going on, I think your network might be misconfigured somehow.

But in any case, the report is confusing because initially you were using an RVM ruby and now you seem to be using a brew Ruby. I would start from scratch by completely removing the one Ruby installed by brew, and the one installed by RVM, and reinstall Ruby using [rbenv](https://github.com/rbenv/rbenv).

[2022-08-24 12:05] electrofelix commented on #5843
The repro instructions still work, the fix just impacted how the arch distribution package of vagrant was built, so it no longer includes the 6.2.0.rc2 release candidate of net-ssh and instead will use 6.1.0. This prevents the issue from occurring when using the distribution package. Since the Gemfile uses net-ssh 6.2.0.rc2 and vendoring it is still able to reproduce the behaviour.

Latest version

[2022-08-24 13:32] maddy10s commented on #5867
removed everything and reinstalled using rbenv but still getting the same error

`curl -Lks 'https://git.io/rg-ssl' | ruby
`

[2022-08-24 14:06] maddy10s commented on #5867
yes, same error even after adding the cert

`gem update --system`

[2022-08-24 14:29] deivid-rodriguez commented on #5867
It seems like some network configuration issue, where rubygems.org is not trusting your root certificate. Are you behind a proxy? I'm not network expert at all, do you have a network administrator you can talk to?

[2022-08-24 14:54] maddy10s commented on #5867
I am using a mac ec2 instance on our vpc

[2022-08-24 16:18] tonyaraujop commented on #5755
Hey @deivid-rodriguez is there any way to debug tests? I looked on the contribution page but didn't find any information related to this. I still haven't been able to identify the source of the problem, I believe it is in the `version_option.rb` file, but I would like to debug it to know which values ​​are being used. Also, I tried to use `pry`, but it doesn't work =/

[2022-08-24 16:18] slhck opened #5871 "Bundler hangs at resolving dependencies on Alpine"
### Describe the problem as clearly as you can

Bundler v2.3.21 does not resolve dependencies.

v2.3.20 installs everything just fine.

### Did you try upgrading rubygems & bundler?

Yes, this is apparently only with the latest version.

### Post steps to reproduce the problem

I am using the `ruby:3.0.4-alpine3.15` Docker image.

### Which command did you run?

[code]

### What were you expecting

[2022-08-24 16:50] deivid-rodriguez commented on #5871
Thank you, I will try to reproduce this.

[2022-08-24 16:53] deivid-rodriguez commented on #5871
Does it work if you upgrade Rubygems with `gem update --system`?

[2022-08-24 16:56] deivid-rodriguez commented on #5871
I can reproduce this on alpine, I'll try to figure it out, thanks for reporting so fast.

[2022-08-24 17:03] slhck commented on #5871
Thanks for confirming! I was suspecting a platform issue. CI caught these issues fast enough :) (But I'll learn to _freeze all the things_ now.)

[2022-08-24 17:13] deivid-rodriguez commented on #5755
You can try using `irb`, or `puts`, but better ask this kind of things on Slack!

[2022-08-24 18:28] deivid-rodriguez commented on #5755
I meant Slack for questions like "how to debug tests?", but for questions specific to PRs or issues, GitHub is fine, sorry for confusing you 😅. Can you open a WIP PR with what you've tried so far, so that we can also see the errors you're getting?

[2022-08-24 18:35] tonyaraujop commented on #5755
Sorry for that. I used `puts` to see if the version and it seems that there are nothing wrong with the `version_option.rb`. So far, I'm trying to reproduce this bug in the test, but I'm not getting anywhere =/ this is the test:

[code]
  and this is the diff I'm getting:

![image](https://user-images.githubusercontent.com/92229784/186496521-93a64861-7930-41fa-9147-5b465cf7ead8.png)

[2022-08-24 19:22] loveo commented on #5871
Having the same issue (and fix) running bundler in `ruby:3.0.1-alpine` Docker image.

[2022-08-24 19:31] deivid-rodriguez commented on #5871
That's too bad. It seems to have been caused by https://github.com/rubygems/rubygems/pull/4488. I'll try hard to fix this so that we don't have to revert this (again).

[2022-08-24 19:45] deivid-rodriguez commented on #5755
I think you may need to create a different version that you don't want displayed (like 7.0.3.1 in the issue body) to potentially confuse `gem info`?

[2022-08-24 20:19] CodingAnarchy opened #5873 "Bundler fails to find valid Sorbet versions"
### Describe the problem as clearly as you can

Attempting to update `sorbet-static` on my M1 Mac is producing an error that compatible versions cannot be found. Attempting to install it after updating Bundler is producing an error that crashes the process.

### Did you try upgrading rubygems & bundler?

Both are on the current latest version.

### Post steps to reproduce the problem

Add `sorbet`

[2022-08-24 20:34] deivid-rodriguez commented on #5873
Oh man, again?? 😠 This is hard.

I can reproduce this, will try to fix it. Sorry for the regression.

[2022-08-25 06:33] deivid-rodriguez commented on #5873
So I'm sad it happened but we regressed again in almost the same thing. Anyways, #5874 should fix this, and a workaround until the fix is released is to add your current platform manually to the lockfile. In your case, `bundle lock --add-platform arm64-darwin-21` should get you back on track.

[2022-08-25 08:08] jackorp commented on #5454
I did some digging around and found that the problem is that the certificates use SHA1 in the Signature Algorithm.

I have regenerated the certificates using this file: https://github.com/rubygems/rubygems/blob/master/util/create_certs.rb
with the modification of [Line 69](https://github.com/rubygems/rubygems/blob/master/util/create_certs.rb#L69) replacing `SHA1` with SHA256.

The state is better,

[2022-08-25 08:16] deivid-rodriguez commented on #5454
Thanks for digging!

[2022-08-25 09:50] deivid-rodriguez commented on #5867
It seems that you're using an [outboud vac proxy](https://aws.amazon.com/es/blogs/security/how-to-set-up-an-outbound-vpc-proxy-with-domain-whitelisting-and-content-filtering/)? Perhaps you need to whitelist rubygems.org?

[2022-08-25 12:25] tonyaraujop commented on #5755
Yes, I tried something like that.

[code]

The output the version `4.1.2`, but if uncomment the line with the version `4.1.3` the output would be that version (4.1.3).

[2022-08-25 12:28] deivid-rodriguez commented on #5755
There you go, you now have a failing test to start with!

Ok, so you have one failing test there. If 4.1.3 does not exist, the command should show an error, not show 4.1.2 information instead. How about if you pass `--version 4.1.1`, does it show it properly?

[2022-08-25 12:33] tonyaraujop commented on #5755
No...it expect version `4.2.2`

[2022-08-25 13:24] deivid-rodriguez commented on #5755
Ok, so you have two failing tests now that your fix should get green :)

[2022-08-25 13:39] deivid-rodriguez commented on #5871
#5875 should fix this!

[2022-08-25 14:38] #5873 closed

[2022-08-25 18:24] tonyaraujop commented on #5755
Hey @deivid-rodriguez I used `puts` to see the @options that are being used in the `handle_options` method and I've noticed this:
[code]
Also, the @options[:version] is the one that is being used which is what I expected, what do you think, this make sense?

[2022-08-25 18:41] deivid-rodriguez commented on #5755
That means that the CLI flag with the version is being correctly passed to the command. So the fact that it's being ignored lives in the command logic.

Looking at the command, it's logic must be shared with some other command, because it all lives in the `QueryUtils` mixin.

https://github.com/rubygems/rubygems/blob/e5d979d31409a35443a24bf57ac9d1b438aa0f35/lib/rubygems/commands/info_command.rb#L7

[2022-08-25 18:42] deivid-rodriguez commented on #5755
By the way, be careful to add quotes when you write instance variables like `@options`, otherwise you're mentioning random people at GitHub 😆.

[2022-08-25 18:49] tonyaraujop commented on #5755
OMG I miss that.

[2022-08-25 19:00] tonyaraujop commented on #5755
Ok, I'm working on it

[2022-08-25 19:20] tonyaraujop commented on #5755
Hey @deivid-rodriguez I've noticed that the method `spec_type` looks for `options[:all]`, but the key `[:all]` doesn't exist in the `options` hash, as I showed early, so always will return `:latest`, ignoring the version that are being passed. This key is generated by something else?

[2022-08-25 21:06] rubyFeedback opened #5876 "[Feature suggestion] Fancypants colours + colour bars on the commandline output, similar to python's pypi"
I just installed a package via "pip install buku".

The following image shows how this is on the commandline:

https://i.imgur.com/89FA3Iz.png

I like the colours a lot. In particular, the colours don't stay the same, but instead
the bar changes colours as it grows. This indicates percentage I assume; it is
visually nice.

I would like to have that for "gem install bla" too.

Now! Before anyone wh

[2022-08-26 14:48] matt-marino opened #5879 "Bundler fails to find valid sorbet versions"
### Describe the problem as clearly as you can
Attempting to update `sorbet-static` on my M1 Mac is producing an error that compatible versions cannot be found. Attempting to install it after updating Bundler is producing an error that crashes the process.
[code]

Seems to be a similar version to [#5873](https://github.com/rubygems/rubygems/issues/5873) issue with a different sorbet version.

###

[2022-08-26 14:53] simi commented on #5879
Would you mind to try latest bundler `2.3.21`? There were some potential fixes included in latest releases.

[2022-08-26 14:54] simi commented on #5879
Btw. @matt-marino since your Gemfile has private gem source, it is impossible to reproduce without access in there. I suggest to redact that one and provide example without private gem source if possible.

[2022-08-26 14:58] matt-marino commented on #5879
Thank you I have edited it to be redacted. Looking into the bundler update.

[2022-08-26 15:01] simi commented on #5879
`bundle update --bundler` could be your friend in here.

[2022-08-26 15:08] matt-marino commented on #5879
ran `bundle update --bundler` it and gave the following error:
[code]

also tried manually doing an install by running `gem install bundler -v "~>2.0"` which said:
[code]

[2022-08-26 15:15] deivid-rodriguez commented on #5879
Just to make sure, if you edit the `Gemfile.lock` file and change the `BUNDLED WITH` section from 2.3.9 to 2.3.21, and then rerun `bundle install`, does it still show the same error? It could also be the same issue as #5873, although that would be very unexpected to me, because that was only supposed to affect `Gemfile.lock` files including "ruby" in the list of platforms.

[2022-08-26 15:19] matt-marino commented on #5879
hey @deivid-rodriguez that's exactly it, I updated the `gemfile.lock` and changed the `BUNDLED WITH` section from 2.3.9 to 2.3.21 and reran `bundle install` it still shows the same thing.

[2022-08-26 15:32] deivid-rodriguez commented on #5879
Ok, can you now try to clone this repository, go to the repo root, `cd bundler`, and then run `bin/rake install` to install the current master branch and verify whether this was fixed by #5873? As I said, I'm not very confident, but if you can try before I have a closer look, I appreciate it.

[2022-08-26 15:50] matt-marino commented on #5879
still didn't work unfortunately, I was able to manually roll back sorbet to `0.5.10346` which includes `sorbet-static (0.5.10346-universal-darwin-21)` to get my project back up and running for now.

[2022-08-26 16:06] deivid-rodriguez commented on #5879
Oh wait! I see now that the latest `sorbet-static` versions do not publish gems for darwin! Then I think the result is expected (not the original crash, but that was for using an old Bundler). Now you're trying to use version 0.5.10377 of sorbet-static on Darwin, but sorbet-static-0.5.10377 does not support Darwin!

[2022-08-26 16:07] deivid-rodriguez commented on #5879
There's something weird about your lockfile though, since it already has sorbet-static 0.5.10377 locked, and arm64-darwin-21 in the list of platforms. That's unexpected, did you maybe edit it directly to try to get this working?

[2022-08-26 16:09] matt-marino commented on #5879
yeah I tried to use the fix you mentioned in the other issue #5873.

[2022-08-26 16:24] deivid-rodriguez commented on #5879
But you added the platform manually or run `bundle lock --add-platform arm64-darwin-21`. Because I would expect the latter to fail.

[2022-08-26 18:16] matt-marino commented on #5879
I ran `bundle lock --add-platform arm64-darwin-21` I should have expected the same, was worth a shot

[2022-08-26 18:25] deivid-rodriguez commented on #5879
What I don't understand is you said, "I'm trying to update sorbet" and it didn't work.

However, the Gemfile and Gemfile.lock files you presented already include the latest sorbet.

Also, if I remove the `arm64-darwin-21` platform from the `Gemfile.lock` file, and then run `bundle lock --add-platform arm64-darwin-21`, I get the expected error.

So I don't know what's going wrong here, and I can't

[2022-08-26 18:35] matt-marino commented on #5879
My apologies for the confusion here, let me attempt to clarify. My project was previously running sorbet version `0.5.10346` I attempted to run `bundle update` which attempted to update to sorbet `0.5.10377` which is why you see it in my `Gemfile.lock`. It was my misunderstanding as I thought that all new `sorbet-static` versions included gems for Darwin. I apologize for making you dig into someth

[2022-08-26 18:35] #5879 closed

[2022-08-26 18:39] deivid-rodriguez commented on #5879
It's absolutely no problem, I'm happy to help! Still confused though 😆

But that failed, right? So I don't understand how 0.5.10377 ended up in your `Gemfile.lock` file.

[2022-08-26 18:47] matt-marino commented on #5879
I manually updated the lock file in my attempts to troubleshoot why it wasn't working/updating, as I was informed that a new version of sorbet was available (although obviously an incompatible version in this case).

[2022-08-26 18:55] deivid-rodriguez commented on #5879
Aaaaaah ok! That squares now. Never do that, since even if Bundler is usually able to recover properly from a corrupted lockfile, that's not always the case.

By the way, my prior advice to change the `BUNDLED WITH` section directly is also wrong. If you want to force using a specific version rather than the one in the `BUNDLED WITH` section, you should use the `BUNDLER_VERSION` environment variab

[2022-08-26 23:07] Andriamanitra opened #5880 "Unsafe string interpolation in Bundler.mkdir_p"
https://github.com/rubygems/rubygems/blob/2eb760499af60a6f37d28e43b4fe65fbf206496a/bundler/lib/bundler.rb#L521

Under the right conditions it is possible to hit this line with a path that looks something like `"/what/ever' && do_bad_stuff'"`. So far I've only been able to exploit it by calling `Bundler.mkdir_p` directly, but I haven't taken the time to take a closer look at all of the call sites.

[2022-08-27 08:34] deivid-rodriguez commented on #5880
I'm tempted to go ahead and once and for all remove this, but could you provide the quick fix in the mean time? Thanks!

[2022-08-27 11:50] deivid-rodriguez commented on #5460
I'm actively working on improving the resolver and I expect to make it more reliable soon.

Also, as I explained before, sometimes the right solution to do what the user has requested is to downgrade indirect dependencies to find a proper resolution. So I won't be implementing this for now, but if you find any cases where the current behavior is definitely undesirable, please let us know! Thanks!

[2022-08-27 11:50] #5460 closed

[2022-08-27 11:52] deivid-rodriguez commented on #3219
I just noticed that I duplicated this issue at #5463. This one is older, but mine has more discussion so I'll keep the newer one. Hopefully we'll implement this soon!

[2022-08-27 11:52] #3219 closed

[2022-08-27 12:02] deivid-rodriguez commented on #3288
This will be fixed by #5881! 🎉

With that PR, Bundler will happily upgrade Rails, generating the following diff in the `Gemfile.lock` file

[code]

[2022-08-27 12:41] deivid-rodriguez commented on #5755
Aha! So you may need to start returning complete indexes at

https://github.com/rubygems/rubygems/blob/e5d979d31409a35443a24bf57ac9d1b438aa0f35/lib/rubygems/query_utils.rb#L161-L173

when `--version` is passed too, but then you'll need to do further filtering, of course!

[2022-08-27 12:54] deivid-rodriguez commented on #5559
This will be fixed by #5559!

[2022-08-27 15:11] Andriamanitra commented on #5880
Here's my proposed fix: https://github.com/Andriamanitra/rubygems/commit/9fa3b4c6919c7e6caa660187f1441c1bacf53bee

Unfortunately I have not been able to write a spec that would trigger the issue. The problem I ran into is that the spec would need to get sudo privileges for the test to ever fail.

[2022-08-28 14:24] Jimreed91 opened #5882 "Bundle failing during capistrano deployment"
I recently deployed my application to an aws ubuntu server with no issues but after adding pdfkit and wkhtmltopdf gems my deployment fails and I can't quite figure out why. I've updated rubygems and bundler but the result is the same...

Unfortunately, an unexpected error occurred, and Bundler cannot continue.

First, try this link to see if there are any existing issue reports for this error:
htt

[2022-08-29 10:02] #3288 closed

[2022-08-29 18:57] tonyaraujop commented on #5755
I will open a draft PR, so we can discuss.

[2022-08-30 19:10] takashiatzendesk opened #5887 "Bundler 2.3.X does not respect BUNDLED WITH in Gemfile.lock"
### Describe the problem as clearly as you can

According to https://bundler.io/blog/2022/01/23/bundler-v2-3.html, bundler 2.3.X should respect the BUNDLED WITH section of Gemfile.lock, but it does not.

### Did you try upgrading rubygems & bundler?

Yes.

### Post steps to reproduce the problem

My Gemfile does not pin the bundler version, so it looks like this:

[code]

To replicate the issue, I

[2022-08-30 22:03] deivid-rodriguez commented on #5887
What's your RubyGems version, can you show the result of `gem env`?

[2022-08-30 22:12] deivid-rodriguez commented on #5882
I think this could be related to https://github.com/rubygems/rubygems/pull/5681, maybe your disk is full and a corrupt `.gem` file was written due to lack of space?

[2022-08-30 22:13] deivid-rodriguez commented on #5880
We do have some `sudo` specs, but they are really hacky...

[2022-08-31 07:17] deivid-rodriguez commented on #5839
Closing since there was no further interest.

[2022-08-31 07:17] #5839 closed

[2022-08-31 16:12] johnnyshields opened #5891 "Some JRuby specs might not be running properly in the CI"
For example this one: https://github.com/rubygems/rubygems/runs/8116674238?check_suite_focus=true

![image](https://user-images.githubusercontent.com/27655/187727207-5f56da09-203e-456c-865d-ce2128755a77.png)

[2022-08-31 16:16] deivid-rodriguez commented on #5891
This is intended! We actually only run a few specs on JRuby, and only on Linux. On Windows, all we make sure so far is that the development environment can be actually setup (the "install dependencies" step), which somehow at least exercises a bit our code on JRuby because we use HEAD bundler to install our own dependencies.

[2022-08-31 19:54] lyricsboy opened #5893 "Bundler 2.3.21 attempts to update PLATFORMS in Gemfile.lock on bundle exec, fails on read-only filesystem"
### Describe the problem as clearly as you can

We run our apps with a read-only filesystem in a Docker container.

In many of our apps' Gemfile.lock, we have a `PLATFORMS` section that lists various platforms we use for development and deployment; we do not typically maintain this list ourselves. Example:

[code]

As of Bundler 2.3.21, when we run our app using `bundle exec`, it attempts to write

[2022-08-31 21:16] dentarg commented on #4534
I'm not really following... will it be a folder like `node_modules` with all the gems code? By default or only if you use `deployment`? Is there another issue with more info?

[2022-08-31 21:39] deivid-rodriguez commented on #4534
By default, exactly like `node_modules`. This is what I could find for you: https://github.com/rubygems/bundler/pull/3784.

[2022-09-01 06:08] #5871 closed

[2022-09-01 23:36] deivid-rodriguez commented on #5887
As you can read in the excerpt of the blog post you copied, you need at least RubyGems 3.3 for this feature to work as advertised, and you're using RubyGems 3.0. Upgrade Rubygems with `gem update --system` and it should work after that.

Thanks!

[2022-09-01 23:36] #5887 closed

[2022-09-02 06:53] #5880 closed

[2022-09-02 06:53] #2475 closed

[2022-09-02 06:53] #3224 closed

[2022-09-02 06:53] #3316 closed

[2022-09-02 06:53] #3513 closed

[2022-09-02 06:54] #3214 closed

[2022-09-02 06:54] #3228 closed

[2022-09-02 06:54] #3970 closed

[2022-09-02 06:54] #3206 closed

[2022-09-02 07:41] deivid-rodriguez commented on #5891
I'll close this since the current situation is intended. Happy to accept improvements in this area!

[2022-09-02 07:41] #5891 closed

[2022-09-02 11:01] deivid-rodriguez commented on #5246
This one was most likely fixed by #5881, closing! :)

[2022-09-02 11:01] #5246 closed

[2022-09-02 12:36] takashiatzendesk commented on #5887
Works as advertised after the rubygems upgrade, thank you!

[2022-09-02 17:13] zenspider commented on #5887
I'm using rubygems 3.3.3 with bundler 2.3.20 and it still doesn't work. Please reopen.

[2022-09-02 18:08] deivid-rodriguez commented on #5887
H @zenspider! Please open a separate issue with reproducible steps, thanks!

[2022-09-02 18:42] zenspider commented on #5887
Literally exact same codebase and same scenario...

[2022-09-02 21:16] lyricsboy commented on #5893
Mysteriously, in another of our apps, we had the `ruby` platform in Gemfile.lock, but it failed to find a proper version of a native gem dependency at runtime; I used `bundle lock --add-platform x86_84-linux` to add the runtime platform to the list, and that resolved the gems to include the proper native versions. It also *removed* ruby from the list of platforms. But when I deployed the app, ever

[2022-09-03 05:06] deivid-rodriguez commented on #5893
Hei!

This is more or less expected. When you run `bundle exec`, Bundler will try to find anything missing locally and if it's there, it happily continues and updates the lockfile with anything that was missing, so that next time it can skip all these extra checks to find and add the missing pieces. That's what's happening this time with the local platform.

The solution on your side is to add the

[2022-09-06 07:36] tnir opened #5904 "bundle-add exits ambiguously with a pair of disallowed options"
### Describe the problem as clearly as you can

`bundle-add` exits ambiguously with a pair of disallowed options around `--git`/`--github`.

### Did you try upgrading rubygems & bundler?

Yes.

### Post steps to reproduce the problem

1. Run the following command in CLI:
[code]

2. Run the following command in CLI:
[code]

### Which command did you run?

See above.

### What were you expecting to

[2022-09-06 21:18] #5755 closed

[2022-09-07 02:31] liwson opened #5907 "Rubygems"
### Describe the problem as clearly as you can

### Did you try upgrading rubygems & bundler?

### Post steps to reproduce the problem

### Which command did you run?

### What were you expecting to happen?

### What actually happened?

### If not included with the output of your command, run `bundle env` and paste the output below

[2022-09-07 02:31] #5907 closed

[2022-09-07 12:40] zofrex opened #5910 "Feature proposal: Bundler: Add warning to the lockfile contents warning not to hand-edit it"
I see beginners (and some non-beginners) make this mistake quite frequently of hand-editing the lockfile to make changes. I think a warning message in the lockfile itself to not do this could be extremely effective in pointing people in the right direction.

This might look something like this:

[code]

[2022-09-07 14:46] zofrex opened #5913 "Feature proposal: Summary of which Gems were updated by a `bundle update`"
### Summary

Feature proposal: Additional output from `bundle update` that provides a useful summary of which gems were updated, categorised between major and non-major, and top level and implicit dependencies.

### Describe the problem as clearly as you can

When you run `bundle update` it isn't very obvious from the output which gems updated, because the update messages are mixed in with the ins

[2022-09-07 20:34] flavorjones opened #5914 "`gem install` on musl systems no longer choosing native platform when available"
### Describe the problem as clearly as you can

On a `x86_64-linux-musl` system, with Rubygems version 3.3.20 or earlier, `gem install nokogiri` chooses the `x86_64-linux` native gem:

[code]

But with  Rubygems version 3.3.21 or 3.3.22, it no longer selects this platform gem, and falls back to the vanilla ruby gem:

[code]

### Did you try upgrading RubyGems?

Yes, this behavior exists with 3.3.2

[2022-09-07 21:03] deivid-rodriguez commented on #5914
Oh boy, will I ever get this right?! Hopefully https://github.com/rubygems/rubygems/pull/5915 will fix this.

[2022-09-08 00:26] alex-tan opened #5916 "Bundler appears to be trying to install despite `install_if`"
### Describe the problem as clearly as you can

Our Gemfile contains the following:

[code]

The lockfile contains:

[code]

This works fine except in `aarch64-linux` where you get this error:

[code]

### Did you try upgrading rubygems & bundler?

Yes.

### Post steps to reproduce the problem

On an M1 Mac trying bundling with the snippet above.

MacOS 12.5.1
Docker 4.12.0
Bundler 2.3.22

### Whi

[2022-09-08 04:58] kunalvashistordway opened #5917 "Bundler Issue"
### Describe the problem as clearly as you can

### Did you try upgrading rubygems & bundler?

### Post steps to reproduce the problem

### Which command did you run?

### What were you expecting to happen?

### What actually happened?

### If not included with the output of your command, run `bundle env` and paste the output below

[2022-09-08 04:58] #5917 closed

[2022-09-08 05:18] deivid-rodriguez commented on #5916
Hi @alex-tan!

Unfortunately the way the `:install_if` option works is that while it prevents installation if its condition does not evaluate to `true`, it stills needs to resolve _all_ gems together. This is similar to how `:group` works.

In this case, the sorbet gem is not compatible with the `aarch-linux` platform, so this can't possibly work.

An alternative for you would be to completely omi

[2022-09-08 05:22] alex-tan commented on #5916
@deivid-rodriguez ah interesting. I was hoping I might gain same hidden insight because somehow I was able to get this to work in two other projects and despite this configuration seemingly being exactly the same it fails in the third project.

I’ll close this for now and maybe use two Gemfiles instead.

[2022-09-08 05:22] #5916 closed

[2022-09-08 05:27] deivid-rodriguez commented on #5916
We had some platform matching bugs that most likely made this work by chance on some Bundler versions. I tried Bundler 2.3.7 and Bundler 2.3.22 and none of them worked.

Yeah that should work too.

[2022-09-09 09:31] hurricup opened #5919 "Problems validating 3.2.0.preview2"
I'm not quite sure who to blame here, is it rais or bundler. Anyway, when bundler runs after creating a new rails app we get:

[code]

Did not have the problem with `preview1` irr.

[2022-09-09 10:02] deivid-rodriguez commented on #5919
Hello @hurricup!

It's a change on our side where the `ruby` DSL has been made more strict (and correct) that has introduced this problem: https://github.com/rubygems/rubygems/pull/5766.

Ideally Rails should adapt its template here: https://github.com/rails/rails/blob/fcac1c4c07ec0846e0c6c08a7a4d0021333f51d6/railties/lib/rails/generators/rails/app/templates/Gemfile.tt#L4 to play nice with this ch

[2022-09-09 10:09] hurricup commented on #5919
Should I fill an issue for rails?

[2022-09-09 10:12] deivid-rodriguez commented on #5919
It's already done, and it was a clear bug, since `ruby "3.2.0"` means match `ruby "3.2.0"` exactly, and Ruby 3.2.0.preview2 does not match that. Also, it affects only Ruby prereleases of Ruby. I think it's fine.

[2022-09-09 10:12] deivid-rodriguez commented on #5919
I'd go with a PR directly.

[2022-09-09 10:34] deivid-rodriguez commented on #5919
I created a PR: https://github.com/rails/rails/pull/45979.

Sorry for the trouble, I figured it was ok given the limited scope. I should've probably checked with Rails first to make sure that the change I'm proposing now was in place _before_ there was a Ruby prerelease including the "offending" Bundler version, but I didn't realize.

[2022-09-09 10:38] #5914 closed

[2022-09-09 21:15] ric2b opened #5921 "Bundler fails to find valid Sorbet versions"
### Describe the problem as clearly as you can

Basically a dupe of https://github.com/rubygems/rubygems/issues/5873 but on the latest version of bundler (2.3.22).

Attempting to update `sorbet-static` on my x64 Mac is producing an error that compatible versions cannot be found:

[code]

Attempting to install it manually with ` gem install sorbet-static -v 0.5.10413` works as expected.

Running `b

[2022-09-10 12:15] AlbertPotter commented on #5234
How about 'bundle update --verbose'?

[2022-09-12 09:12] deivid-rodriguez commented on #5921
Hello! 👋

The problem here is that you're using the `force_ruby_platform` setting (telling Bundler, use only gems that are NOT platform specific) and on the other hand, depending on `sorbet-static` which ONLY has platform specific versions. Bundler can't handle this conflicting situation.

We should probably unset the `force_ruby_platform` setting in this situation, since it will never be intended

[2022-09-12 09:22] deivid-rodriguez commented on #5919
PR to Rails was merged, although a Rails will be needed for this to work again.

I'll close this regardless, since I think there's not much else we can do at this point! Happy to discuss more though.

[2022-09-12 09:22] #5919 closed

[2022-09-12 11:12] ric2b commented on #5921
Oh, thank you! :) Sorry for bothering you with this

[2022-09-12 11:12] #5921 closed

[2022-09-12 12:45] deivid-rodriguez commented on #5921
No problem at al!!

[2022-09-12 13:48] deivid-rodriguez commented on #5913
In `bundle outdated` we have a table output, maybe we could use some inspiration from there. An option would be to add the proper columns for dependency type & update type, and sort the table according to those, so we don't need "explicit slicing".

Gems in the group 'production' were not updated.

[code]

Regarding primary/implicit terminology, we're definitely not consistent here, so I guess thi

[2022-09-12 16:20] Schwad commented on #5515
Hello from September 2022: @deivid-rodriguez that fix worked for me. Thank you! ❤️

[2022-09-12 19:49] jrochkind opened #5925 "bundle config set gemfile results in broken future `bundle config` for observing and unsetting"
Ruby 3.1, rubygems 3.3.22, bundler 2.3.22.

All of this can be reproduced in an empty directory after just running `bundle init` in it.

Let's say I then set an alternate gemfile with:

    bundle config set gemfile foo/bar_gemfile

OK great, this works. Now I go about my business, I go work on other projects maybe, and some time later I come back to this, and I'm confused what's going on.  This g

[2022-09-12 21:19] deivid-rodriguez commented on #5925
Thanks!

This is related to https://github.com/rubygems/rubygems/pull/3963 (a.k.a, `bundle config set gemfile` doesn't really work), which I opened a lot time ago, but never actually finished it. I'll try to bring that over the line and review whether it also fixes this issue.

[2022-09-12 22:35] jrochkind commented on #5925
Thanks! Somewhere I got the idea that `bundle config set gemfile` was the *recommended* way to set an alternate Gemfile location... if in fact it "doesn't really work", I may have gotten the wrong idea!

I'm not sure where I got that idea, but at some point I was reading things that were like "guys, bundle config set gemfile is the new way to do it, start using that, it's preferable to say ENV BUN

[2022-09-13 05:47] hsbt commented on #1296
I and @kou discussed this feature.

rubygems already have [msys2_mingw_dependencies](https://github.com/ruby/openssl/blob/master/openssl.gemspec#L20) feature for installing external dependencies like libssl.

@kou propose expand these feature to yum/dnf and apt and etc for Linux distribution.

[2022-09-13 07:59] zofrex commented on #5913
Good idea, I think it makes a lot of sense for these two commands to match. `outdated` produces a table that looks like this, for the record:

[code]

I think we should probably match the formatting between the two commands, so we'd have a table without borders for update as well. Something like:

[code]

The `outdated` command has options to filter by minor/major, but I don't think that filtering

[2022-09-13 08:38] deivid-rodriguez commented on #5925
Not sure 😅... As far as I recall, it doesn't yet work because of a chicken-and-egg issue, since the location of the Gemfile is currently used to resolve the location of the configuration file.

[2022-09-13 12:04] jrochkind commented on #5925
Cool cool, thanks for the info. If it can't be fixed, another option might be deprecating it to remove it for just using `BUNDLE_GEMFILE` env alone. It can be confusing for me keeping up with the "right" way to do things with bundler as ways keep changing, but keeping a known broken method around makes things more confusing for me personally, rather than less.

Either way, I appreciate your respon

[2022-09-13 13:13] deivid-rodriguez commented on #5925
No problem, I think it can be fixed, at least that PR looked good last time I rebased it :)

[2022-09-13 16:48] ric2b commented on #5921
Hey @deivid-rodriguez, sorry for bothering you but I remember why I had `force_ruby_platform` set and maybe you know a better solution.

If I don't force it, bundler keeps trying to change the `PLATFORMS` section on the lockfile from `ruby` to `x86_64-darwin-21` and removing all the `sorbet-static` versions that aren't `sorbet-static (0.5.10417-universal-darwin-21)`.

Trying to re-add `ruby` as a

[2022-09-13 16:49] deivid-rodriguez commented on #5921
Yes!

[2022-09-13 19:10] headius commented on #1296
I never saw this the first time through, but @mkristian covered our equivalent feature for JRuby gems with Maven-source jar dependencies. This unsurprisingly uses the jar-dependencies library we ship with JRuby to supplement RubyGems logic.

JRuby usually considers our "OS" to be Java, and so os-release would look like java-19...

HOWEVER... we have long wished we could track *both* the "java" pla

[2022-09-14 03:07] kou commented on #1296
Thanks for sharing a JRuby side opinion.

I'll care about JRuby too for this feature.

[2022-09-14 03:08] kou commented on #1296
FYI: There is another discussion this feature: https://gist.github.com/postmodern/4c0cbccc0c7eda4585db0fc5267cdd57

But there is no consensus in the discussion yet.

[2022-09-14 07:53] zofrex commented on #5910
Based on [the PoC](https://github.com/rubygems/rubygems/pull/5911) the smoothest way to add this was as a new section in the lockfile, which would look something like this:

[code]

Questions:

1. Are we happy with it being a regular lockfile section? (Constraints: The first line cannot start with whitespace and needs to be constant over time, i.e. probably shouldn't contain any part of the messag

[2022-09-14 10:25] deivid-rodriguez commented on #5910
I feel a bit hesitant to add this, because the section feels artificial and adds complexity, backwards compatibility concerns and that kind of thing.

I think a better course of action would be:

* Document more prominently that this is not recommended.
* Keep getting Bundler smarter. Many times we are able to recover from these bad edits by discarding the incorrect lockfile information. And when

[2022-09-14 10:59] voxik opened #5926 "Bundler::BuildMetadata test filures"
Trying to update Bundler package for Fedora and running the test suite during build, I observe two test failures:

[code]

I was trying to wrap my head around just to finally realize, that the released file has different content then the upstream code:

[code]

And now I wonder, is there a chance to make this less surprising? E.g. use some filter for the test. Or even don't make such code changes

[2022-09-14 15:29] sephethus commented on #3250
What if I don't have username as email and it still throws this stupid error? I am using just the username:token format. No at symbol.

[2022-09-14 19:51] zofrex commented on #5910
Thank you for your comments!

Agreed! It doesn't actually _have_ to match the other sections in style, it could look like this for example:

[code]

Or whatever else we want, really.

If the presentation is the serious blocker, I'd be open to suggestions that would be acceptable, ignoring the parsing concerns for the time being, and then try to work out how to implement them (could be gated behind

[2022-09-14 20:16] simi commented on #5910
ℹ️ few examples of warning in other lockfiles

- yarn.lock

[code]

- Cargo.lock

[code]

- composer.lock

[code]

- gradle.lockfile

[code]

[2022-09-14 20:56] alex-tan opened #5927 "bundle produces different Gemfile.locks"
### Describe the problem as clearly as you can

Using the same version of bundler, the Gemfile.lock is different for unknown reasons.

[code]

### Did you try upgrading rubygems & bundler?

No the version is `Bundler version 2.3.20 (2022-08-10 commit 4fd2813f54)`

### Post steps to reproduce the problem

Unclear because the same version of bundler leads to different results on different machines.

[2022-09-14 23:31] deivid-rodriguez commented on #5927
This is not expected, recent Bundler versions always split sources when generating a `Gemfile.lock` file from scratch. They should also update existing `Gemfile.lock` files to split sections, unless frozen mode is configured, in which case Bundler will print a warning.

Please verify the above, you must be using an older Bundler version than you think on some machine.

[2022-09-14 23:49] alex-tan commented on #5927
@deivid-rodriguez I checked that the versions match on both machines. If it was using a different version and changing the lockfile wouldn't it update the `BUNDLED WITH` section? I'm asking the people who are having issues to see if there's any output about a bundler version mismatch when they run bundle.

[2022-09-15 21:47] soulcutter opened #5930 "Exponential growth in bundle resolution steps"
### Describe the problem as clearly as you can

Ran into a strange issue at work where resolving gems in a bundle (not installing) was taking 3-5 minutes. It was not always this way, and it's unclear what is going on, but we did find a way to fix it that you'd never expect!

[code]

this was a gem, and had a dev dependency on rack AND a non-dev dependency on rails. Seems like rails will include ra

[2022-09-17 01:03] beatak opened #5932 "Man page for `--keep-file-descriptors` flag of `bundle exec` is not clear"
### Describe the problem as clearly as you can

It seems this PR https://github.com/rubygems/rubygems/pull/4812 made `--keep-file-descriptors` as default `true`. According to [CHANGELOG](https://github.com/rubygems/rubygems/blob/master/bundler/CHANGELOG.md#2226-august-17-2021), with `bundler` version `2.2.26` and forward, `bundle exec` keeps file descriptors, but it doesn't say that on the man doc

[2022-09-17 03:41] soulcutter commented on #5930
I notice https://github.com/rubygems/rubygems/issues/5843 has similarity. In my case a valid set of gems was resolved, but it was doing a LOT of work to get there, with many of the same debug messages about unmet stuff and unwinding resolution.

[2022-09-17 08:36] deivid-rodriguez commented on #5932
Hi, indeed!

Could you open a pull request clarifying this?

[2022-09-17 08:59] deivid-rodriguez commented on #5930
Thanks for reporting this @soulcutter. Coincidentally I've been working recently on migrating our resolver internally to PubGrub which is a better resolution engine that does not have these issues. [This branch](https://github.com/rubygems/rubygems/tree/pub_grub) is still in beta state, but should fix this problem, can you try it?

[2022-09-18 00:30] khalid-Hake opened #5933 "تعذر التثبيت"
Could not find loofah-2.18.0 in any of the sources

[2022-09-18 00:45] simi commented on #5933
Can you provide steps to reproduce? I can't reproduce using `https://rubygems.org` source.

[code]

[2022-09-18 01:28] khalid-Hake commented on #5933
.../opt/metasploit-framework $ msfconsole
Could not find factory_bot_rails-6.2.0, rspec-rails-5.1.2, actionpack-6.1.7, metasploit-concern-4.0.5, metasploit-credential-5.0.9, metasploit_data_models-5.0.5, metasploit-model-4.0.6, metasploit-payloads-2.0.94, railties-6.1.7, recog-2.3.23, actionview-6.1.7 in locally installed gems
Run `bundle install` to install missing gems.
![Uploading Screenshot_٢٠

[2022-09-18 17:33] hoitomt commented on #5234
Another possible solution for those that have recently upgraded to Ruby 3.1 and are on Rails 6

https://stackoverflow.com/a/70802052/589248

[2022-09-19 06:09] pboling commented on #2498
This would be a good step forward.

The docs are slightly at odds with the `rake build:checksum` task though, so perhaps that should be aligned as part off this effort.  Not sure if it should be a separate issue.

### Discrepancies

1. Docs say to put the `checksum` files in a `checksum` directory, but the `build:checksum` task puts them in a `checksums` (plural) directory.
2. Docs say to use a sc

[2022-09-19 13:09] flavorjones commented on #5933
Without more information, I can't be sure, but I suspect you may be running into issues installing nokogiri on termux (nokogiri is a dependency of loofah).

If that's the case, please check out
- https://nokogiri.org/tutorials/installing_nokogiri.html#termux_2

[2022-09-19 14:54] khalid-Hake opened #5936 "Unable to install"
Could not find nokogiri-1.8.0 in any of the sources

[2022-09-19 14:55] khalid-Hake opened #5937 "Unable to install"
Could not find nokogiri-1.8.0 in any of the sources

[2022-09-19 17:44] flavorjones opened #5938 "Gem::Platform.match no longer behaves properly with a String argument"
### Describe the problem as clearly as you can

When passing a string to `Gem::Platform.match`, the behavior of the method is the same as before 1b9f7f5 introduced a fix for musl platforms.

Although `Gem::Platform#=~` properly coerces the `other` argument, the `#match` method, when passed a `String`, will instead invoke `String#=~`.

The interesting bit can be seen in the docstring for `String#=~

[2022-09-19 19:45] flavorjones commented on #5938
I've submitted a PR with a test and a fix at https://github.com/rubygems/rubygems/pull/5939

[2022-09-19 20:25] flavorjones opened #5940 "`arm-linux` gem platform no longer matches `arm-linux-*` runtimes"
### Describe the problem as clearly as you can

In Rubygems 3.3.20 and earlier, a gem with platform "arm-linux" would match a runtime platform "arm-linux-eabi" (and others). In Rubygems 3.3.21 and later, it does not.

[code]

vs

[code]

As a result, `gem install nokogiri` on an arm system does not select the `arm-linux` platform gem. With rubygems < 3.3.21 this command will select the `arm-linux`

[2022-09-19 20:55] flavorjones commented on #5933
Recommend closing this, I've asked for more information upstream at https://github.com/sparklemotion/nokogiri/issues/2651

[2022-09-19 20:55] flavorjones commented on #5937
Recommend closing this, I've asked for more information upstream at https://github.com/sparklemotion/nokogiri/issues/2651

[2022-09-19 20:55] flavorjones commented on #5936
Recommend closing this, I've asked for more information upstream at https://github.com/sparklemotion/nokogiri/issues/2651

[2022-09-19 21:03] indirect commented on #5940
Are you proposing that RubyGems ought to accept `arm-linux-eabi` gems on `arm-linux` machines, even though it is not acceptable for `x86_64-linux-musl` to install onto `x86_64-linux` machines? Or is your point that it should try for the most specific option and fail back to a less specific option if a more specific one is not available?

Phrased a different way, what do you think should actually h

[2022-09-19 21:04] flavorjones commented on #5940
No, I'm saying that a `arm-linux` gem should be acceptable on `arm-linux-eabi` machines. This is what previously was matched and gems like nokogiri are relying on that behavior for precompiled native gems.

[2022-09-19 21:06] flavorjones commented on #5940
If I am on a `arm-linux-eabi` machine, then `gem install nokogiri` should select the `arm-linux` gem as in all version prior to rubygems 3.3.21.

First, I'm filing this bug under the belief that this was not a deliberate change, but an oversight.

I've filed a series of bugs and submitted a few fixes around the precompiled native gem platform support and I was hoping that we all had some shared co

[2022-09-19 21:07] flavorjones commented on #5940
cc @deivid-rodriguez who I've been working with on these issues.

[2022-09-19 21:08] indirect commented on #5940
You have my trust! But David is on vacation, and I don't have enough immediate context available to know what you want changed, and how, and why. I also want to make sure that we don't break things for the musl folks at the same time.

[2022-09-19 21:10] flavorjones commented on #5940
Got it. I don't think this is urgent -- the behavior changed a few weeks ago and nobody has complained (yet), this is something that started happening in CI, and the fallback behavior is to build from source (which although slow, will still work for most folks).

[2022-09-19 21:22] WolfAHeidrich opened #5941 "RuntimeError: failed to get urandom"
### Describe the problem as clearly as you can
Tried to install Redmine following the steps on https://www.redmine.org/projects/redmine/wiki/RedmineInstall.

### Did you try upgrading rubygems & bundler?
Yes. "gem update --system" went fine. "bundle update --bundler" returned "This Bundle hasn't been installed yet. Run `bundle install` to update and install the bundled gems."

### Post steps to re

[2022-09-19 21:41] flavorjones commented on #5940
I've updated the description with a bit more description concrete impact of this behavior (i.e., precompiled native gems).

[2022-09-19 21:55] flavorjones commented on #5940
And I've added the specific assertions (in the form of a patch) that I believe reflect the intended behavior post-#5852.

[2022-09-19 22:43] #5937 closed

[2022-09-19 22:43] #5936 closed

[2022-09-19 22:43] #5933 closed

[2022-09-20 05:54] pboling opened #5942 "Security discrepancies between rake task and documentation"
### Describe the problem as clearly as you can

The documentation on Security for Rubygems is not congruent with the rake task for `rake build:checksum`, indeed the documentation doesn't seem to be aware of the `checksum` task at all.

#### Discrepancies

When I mention "Docs" I am referring to this article: https://guides.rubygems.org/security/

1. Docs say to put the `checksum` files in a `check

[2022-09-20 07:16] Shailajarapolu95 commented on #5542
while checking version of ruby and rails in the cmd this error is showing(Ignoring strscan-3.0.4 because its extensions are not built. Try: gem pristine strscan --version 3.0.4) what can i do

[2022-09-20 09:49] FSuhas commented on #5351
Merci les gas :)

[2022-09-20 16:20] GermanDZ commented on #5927
I'm suffering the same problem (with Sidekiq too) since a while ago (at least since Bundler 2.3.18).

Even doing a simple `bundle update xxxx --no-conservative` will update only the xxxx gem, but at the same time will move some specs from the _main_  gem section to the Sidekiq section, producing later an error in CI because some gems (like `actioncable`) are not hosted in Sidekiq repo.

[2022-09-20 18:40] soulcutter commented on #5930
It was better. The debug output was not available via that `DEBUG_RESOLVER=1` flag, so I ran it with `time`:

[code]

[2022-09-20 19:17] alex-tan commented on #5927
Yeah I confirmed there's no bundler version mismatch warning for those that are having issues.

[2022-09-21 13:45] annaborn opened #5945 "bundler misses the definition to itself by resolving remotly"
Hello!
I am using ruby 2.7 and bundler 2.3.22.
In my case the Gemfile lists bundler among other gems. The definition of gems are resolved remotely. However, remote resolver returns the definition of each gem except bundler. In previous bundler version 2.3.18 the remote resolver returned the list of gems included bundler.

For test purposes Gemfile and test script were created.

**Gemfile**
[code]

[2022-09-21 14:18] #5930 closed

[2022-09-21 18:09] katrkatcloud opened #5946 "Blunder"
### Describe the problem as clearly as you can

### Did you try upgrading rubygems & bundler?

### Post steps to reproduce the problem

### Which command did you run?

### What were you expecting to happen?

### What actually happened?

### If not included with the output of your command, run `bundle env` and paste the output below

[2022-09-21 21:48] #5946 closed

[2022-09-21 22:46] noraj commented on #5941
[code]

## Environment

[code]

## Bundler Build Metadata

[code]

## Bundler settings

[code]

## Gemfile

### Gemfile

[code]

### Gemfile.lock

[code]

## Gemspecs

### cms_scanner.gemspec

[code]

[2022-09-22 12:37] flavorjones commented on #5941
This does not appear to be a bundler issue. You may want to google a bit, and some more information is available at https://bugs.ruby-lang.org/issues/14716

[2022-09-22 17:03] jhottenstein commented on #4539
We are running into this issue for one of our private gems.  I can probably extract a public repo that can reproduce this if it would help (or test potential fixes).

Using a --conservative flag definitely helped, as did removing the `ruby` platform in the Gemfile.lock

[2022-09-22 20:58] elysonian opened #5948 "Gem::Package::SymlinkError: installing symlink '.mutant.yml' pointing to parent path"
### Describe the problem as clearly as you can

I encountered an unknown issue upon running `bundle update`:

[code]

### Did you try upgrading rubygems & bundler?

I have updated both.

### Which command did you run?

`bin/bundle update` && `bin/bundle install`

### What were you expecting to happen?

I attempted to update a Rails app with a NextJS frontend from Ruby 2.7.2 -> 3.0.4, so I updated

[2022-09-23 00:29] lirossarvet commented on #5927
Yeah, we're also getting the same changes using an older version of Bundler (2.2.32) around this same thing. It doesn't happen every time, though. Once it happened for a single transitive dependency of something else entirely unrelated to Sidekiq and still tried to pull from that rubygems repo.

[2022-09-23 08:39] simi commented on #5948
@elysonian this is expected behaviour (to not allow gem reach files outside of its install directory) and it seems it was problem on the gem side fixed by https://github.com/RailsEventStore/rails_event_store/commit/91608868e07243cf3263e0af309d7badef5f21cb. Can you try to upgrade to gem version 2.1.0+ to ensure it is fixed for you?

[2022-09-23 10:22] Slah266 opened #5949 "https://github.com/rubygems/rubygems/issues/new؟labels=Bundler&template=bundler-related-issue.md"
### Describe the problem as clearly as you can

### Did you try upgrading rubygems & bundler?

### Post steps to reproduce the problem

### Which command did you run?

### What were you expecting to happen?

### What actually happened?

### If not included with the output of your command, run `bundle env` and paste the output below

[2022-09-23 10:53] #5949 closed

[2022-09-23 14:53] ahmedissaothman opened #5950 "Unfortunately, an unexpected error occurred, and Bundler cannot continue"
### Describe the problem as clearly as you can

### Did you try upgrading rubygems & bundler?

### Post steps to reproduce the problem

### Which command did you run?

### What were you expecting to happen?

### What actually happened?

### If not included with the output of your command, run `bundle env` and paste the output below

[2022-09-23 18:33] yasonrails commented on #1589
https://github.com/athityakumar/colorls/issues/398

[2022-09-23 20:36] #5950 closed

[2022-09-25 17:14] Segaja opened #5951 "rubygems test fail with latest dependencies"
Running `rake test` on version `v3.3.21` I get this result:

[code]

[2022-09-25 21:36] simi commented on #5951
@segaja is there more info about your env? Is there any way to share steps to reproduce in in isolated environment like docker? I can't reproduce locally.

[code]

[2022-09-25 21:42] Segaja commented on #5951
it is a clean chroot in a ruby 3.0.4 setup. (sorry i just realize that is not "latest" :)

[2022-09-26 01:00] simi commented on #5951
same with 3.0.4

[code]

[2022-09-26 06:26] Segaja commented on #5951
Is there any command I can run in the chroot before the tests to give you more informations?

[2022-09-26 08:31] simi commented on #5951
@Segaja not sure. You'll need to check why the test is failing on your own or share steps to reproduce in some isolated environment like docker to make it easy to reproduce for me (or other maintainers).

[2022-09-26 13:16] elysonian commented on #5948
Thank you for the insight @simi , I've upgraded RailsEventStrore (`'rails_event_store', '~> 2.1'`), and version 2.5.1 is being used.

In order to install properly, I had to lock rails_event_store-rspec to an older version (`1.2.0`) to avoid a similar error: `Gem::Package::SymlinkError: installing symlink '.mutant.yml' pointing to parent path /Users/elysonian/.rbenv/versions/3.0.4/lib/ruby/gems/3.0

[2022-09-26 13:16] #5948 closed

[2022-09-27 06:04] marwin1991 commented on #5498
I think I have something similar:

when using:
[code]
 eveything was okey untill in the scope there was defined variables:

[code]

And then this happend:

[code]
[code]

[2022-09-27 13:01] deivid-rodriguez commented on #4539
Yes, please, we're actively working on fixing slow resolving issues right now, so a public repo that reproduces slow resolutions would be 💯

[2022-09-27 17:39] Gurpreet7732 opened #5953 "Bundle is not working"
Unfortunately, an unexpected error occurred, and Bundler cannot continue.
![Screenshot_20220927_230759](https://user-images.githubusercontent.com/94563315/192597378-ec121102-cf32-46c7-b58e-359e20426f26.jpg)

[2022-09-27 18:50] deivid-rodriguez commented on #5953
Sorry, but an incomplete screenshot is not enough for us to figure out what's wrong. Please copy at least the full error report.

[2022-09-27 20:55] #5938 closed

[2022-09-27 20:57] deivid-rodriguez commented on #5942
It sounds like we need to document the `build:checksum` task then, for points 1 and 2.

For 3 and 4, happy to take fixes too!

[2022-09-27 20:59] deivid-rodriguez commented on #5498
That sounds like an issue with the `--no-proxy` flag, but does not seem related to this particular issue (this one is with `bundle install`). Can you open a separate ticket to track your issue?

[2022-09-27 21:15] deivid-rodriguez commented on #5927
I have no idea what's going on :( Lock files with merged GEM sources should not be generated by any Bundler version higher than [2.2.18](https://github.com/rubygems/rubygems/blob/master/bundler/CHANGELOG.md#security-fixes-2). If some higher version of Bundler is somehow generating these lockfiles, then I'd need some help with reproducing that because I have no clue of how that would happen.

[2022-09-27 21:21] deivid-rodriguez commented on #5941
Could you follow that line of investigation and bisect which Bundler version (if any) introduced this? Also, does this also happen if you lazily load `securerandom`:

[code]

[2022-09-27 21:22] deivid-rodriguez commented on #5940
I'm back now, I'll have a look at this tomorrow! 👍

[2022-09-28 14:59] LondonAtlas commented on #5953
I am seeing the same issue as well. Here are the logs but it looks like a server timeout.

[code]

[2022-09-28 15:12] LondonAtlas commented on #5953
Thanks! I think my issue might be a rubygems problem as this command is also timing out.

[2022-09-28 15:24] deivid-rodriguez commented on #5953
Yeah, looks like a server side issue, can you copy the logs of `gem update --system` then?

[2022-09-28 15:37] LondonAtlas commented on #5953
turns out it's my local wifi. Connecting via hotspot worked immediately.

[2022-09-28 22:17] deivid-rodriguez commented on #5940
#5957 should fix this!

@flavorjones Note that from the tests you proposed, for the last one (uclibc) my PR expects actually the opposite. It's true that things worked differently before 3.3.21, but I think that particular case was an intentional change.

#5852 introduced the following assertion:

[code]

Then #5889 introduced:

[code]

So expecting the arm-linux-uclibceabi runtime platform to NOT

[2022-09-29 08:56] #4458 closed

[2022-09-29 09:07] deivid-rodriguez commented on #3324
We have recently shipped many improvements regarding permission issues, and I'm pretty sure this one is fixed now. Let me close this, but feel free to reopen if you're still experiencing this with the latest Bundler & RubyGems versions.

[2022-09-29 09:07] #3324 closed

[2022-09-29 09:26] deivid-rodriguez commented on #5867
Closing since we got no further feedback.

[2022-09-29 09:26] #5867 closed

[2022-09-29 14:51] technicalpickles commented on #3231
I've just run into this issue (or maybe a similar, related one) on bundler 2.3.22. In my case, I'm running `bundler install`, and it hangs at:

[code]

With --verbose, I get more detail which is what lead me here:

[code]

The Gemfile.lock has:

[code]

I _think_ it's trying to add `ruby` as a platform, because I saw other bundler oddities on a different project where it was adding `ruby` to the G

[2022-09-29 15:42] flavorjones commented on #5940
I've posted a question at #5957 about the expected behavior on systems that use `arm-linux-eabihf`.

[2022-09-29 22:17] pond commented on #5338
@deivid-rodriguez

Uuuh - but - I just updated to Bundler 2.3.22 and found the behaviour has become even worse! When I do `bundle update`, it's now _forcibly overwriting anything I do_ in `PLATFORMS`. I cannot put `ruby` in there, even in addition to `x86_64-darwin-21` (or the Apple Silicon equivalent) as the entire thing is thrown away and replaced.

This makes it impossible for us to move our co

[2022-09-29 22:23] pond commented on #5338
@deivid-rodriguez

Uuuh - but - I just updated Ruby Gems and this forced me up to Bundler 2.3.22, where I found the behaviour not fixed at all - it has become even worse! When I do `bundle update`, it's now _forcibly overwriting anything I do_ in `PLATFORMS`. I cannot put `ruby` in there, even in addition to `x86_64-darwin-21` (or the Apple Silicon equivalent) as the entire thing is thrown away an

[2022-09-29 22:37] pond commented on #5338
...as a followup, CI tells me that we were using Bundler 2.3.13, which the Bundler change log says is May 4th. The RubyGems version history shows *3*.3.13 on May 4th, so I guess that this must be the corresponding release. I had to follow https://stackoverflow.com/a/62125382 to get rid of all stray defaults, `gem uninstall bundler` to remove anything installed on top of Ruby Gems, `gem update --sy

[2022-09-30 02:05] mame opened #5959 "rubygems prints "warning: method redefined" in rubyci.org"
The test of rubygems prints noisy warnings in rubyci.org

http://rubyci.s3.amazonaws.com/ubuntu2004-arm/ruby-master/log/20220930T003003Z.log.html.gz
[code]

@deivid-rodriguez https://github.com/rubygems/rubygems/commit/2e05dadbc5dec1e87b807eca32cb6f68439f1542 caused this issue. I cannot repro this issue on rake on rubygems repository. But this code seems necessary at least for rubyci.org. I confir

[2022-09-30 06:51] deivid-rodriguez commented on #5959
Sorry @mame, I can revert https://github.com/rubygems/rubygems/commit/2e05dadbc5dec1e87b807eca32cb6f68439f1542, no problem.

[2022-09-30 08:44] mame commented on #5959
Don't be sorry, I think it is reasonable to remove the dirty code. But I don't know how to make it better.

[2022-09-30 14:31] djberg96 commented on #3093
I don't think that's true:

[code]
So, it looks to me like it's mandatory.

Yes, seems like this should either be handled (or documented).

[2022-09-30 20:13] ddoherty03 commented on #3551
If it helps anyone, I was still getting this error after upgrading gem on ruby 2.7.2 on ubuntu 22.04, but was finally able to get it to work after removing the Gemfile.lock in my project.

[2022-09-30 20:39] flavorjones commented on #5338
@pond I can sense that you're frustrated, and I'd like to try to help.

I've tried to reproduce what you're describing above (your most recent two comments) and I cannot with bundler v2.3.22. I'm using a Gemfile from a vanilla Rails 7 app, I'm adding platforms with `bundle lock --add-platform`, and then I change the Gemfile and `bundle update`. In this case, the `PLATFORMS` behave as expected and

[2022-09-30 20:46] #5940 closed

[2022-10-01 14:24] Segaja commented on #5951
@simi maybe this information helps:

[code]

[2022-10-01 14:41] simi commented on #5951
The only unusual thingie I see is `"gem" => "--user-install"`. Can you try to run tests without this config? Maybe we rely on some default configuration not present thanks to this option.

[2022-10-01 15:13] Segaja commented on #5951
i found a way to reproduce it in docker. Here is the `Dockerfile`:

[code]

[2022-10-01 15:34] Segaja commented on #5951
I guess the last error from my initial report is because I don't run `rake update_manifest` before the tests. But I can't really run it as it requires to be build from a git checkout which I don't do.

[2022-10-03 02:42] mame commented on #5959
@deivid-rodriguez It will take a while to look up a good way to handle this, so can you please revert the commit once?

[2022-10-03 10:54] #5959 closed

[2022-10-03 11:00] deivid-rodriguez commented on #5959
I reverted it @mame, sorry for the delay.

[2022-10-04 07:53] casperisfine commented on #5307
So I keep running into this problem on various CI system where getting the log file is either complicated or impossible.

I also very frequently see people report compilation failures with no relevant information at all since everything is in the log file.

A "verbose" option would be nice, and I understand that printing everything might not be desirable given that some extensions might have gigan

[2022-10-04 09:12] deivid-rodriguez commented on #5307
That sounds good to me.

[2022-10-04 09:40] simi commented on #5307
@casperisfine do you have any details for your failures? I tried to reproduce C compilation time error, and it reports back all the details.

[code]

[code]

[2022-10-04 09:44] casperisfine commented on #5307
🤦 I think you're right, not sure why I didn't see it maybe it changed recently.

The last occurence that prompted me to comment happens to be public: https://buildkite.com/rails/rails/builds/90069#0183a201-ac81-43d6-8476-bc7568f8d63a/2727-3141

[code]

Which actually isn't too bad, but I guess I've been somehow trained to not even look at that error anymore and directly reach to the log file.

My

[2022-10-04 10:20] simi commented on #5307
@casperisfine it is still hiding the info from log actually (even providing more friendly error).

[code]

What about to print out the log for non-interactive environments as part of the error and keep it the same (stored in file) for interactive ones? That way you can see CI logs with all the details, but user will be facing the same output as today. Would that work for you @voxik @casperisfine?

[2022-10-04 10:57] Gauravpurohit409 opened #5966 "google-cloud-text_to_speech gem is not supported in ruby 2.5"
### Describe the problem as clearly as you can

google-cloud-text_to_speech gem describes RUBY VERSION: >= 2.5 in https://rubygems.org/gems/google-cloud-text_to_speech/versions/1.2.2 but when I tried to install it, there is one dependent gem gRPC which requires ruby version >= 2.6

### Did you try upgrading RubyGems?

yes

The system setup is as follows:
-  MAC OS,
-  Ruby 2.5,
-  Rails 6.0.3.6

#

[2022-10-04 10:59] simi commented on #5966
Hello, please report to https://github.com/googleapis/google-cloud-ruby. Anyway Ruby 2.5 is EOL and is not supported anymore.

[2022-10-04 10:59] #5966 closed

[2022-10-04 11:40] casperisfine commented on #5307
That would work for me, even though I'm always a bit suspicious of checking `$stderr.tty?` as some CI system tend to create a TTY to get colors and such. But worst case that means no change.

[2022-10-06 09:58] mx-psi opened #5969 "Bundler v2.3.23 does not install dependencies that v2.3.22 did"
### Describe the problem as clearly as you can

We use bundler to install the gems on [this Gemfile](https://github.com/DataDog/datadog-agent/blob/e0d771b881189e74d9f928840850758fb864658f/omnibus/Gemfile). On v2.3.22, this Gemfile installs the `win32-process` gem, while on v2.3.23 it does not, breaking our build.

We have temporarily fixed this by pinning bundler DataDog/datadog-agent-buildimages/

[2022-10-06 09:59] deivid-rodriguez commented on #5969
Hello @mx-psi, sorry about that :(

I will have a look at this and try to fix it.

[2022-10-06 10:00] mx-psi commented on #5969
Thanks! Happy to provide more context if necessary :)

[2022-10-06 10:24] deivid-rodriguez commented on #5969
Thank you! Given you've shared an open source repo, I think this should be easy to reproduce. I'll ask for clarifications if needed later.

[2022-10-06 15:43] tvo commented on #5969
In case it helps, I found a likely related issue with bundler 2.3.23 where it fails to install `grpc` on CentOS 7.

On bundler 2.3.22, it shows `Fetching grpc 1.36.0 (x86_64-linux)` and succeeds.

On bundler 2.3.23, it shows `Fetching grpc 1.36.0` and then fails with the following C++ compile error:
[code]

I don't think the specific error is super relevant but I do suspect that the lack of mentio

[2022-10-07 12:03] deivid-rodriguez commented on #5969
@mx-psi Can you share a link to the failing CI? I tried to reproduce this on my Windows VM and I couldn't, I got win32-process with both versions.

[2022-10-07 13:25] shifat-aivalabs commented on #5515
Same issue for bundler 2.3.23

[2022-10-07 13:37] deivid-rodriguez commented on #5515
Please report a new issue with instructions to reproduce the problem. Thank you!

[2022-10-07 16:23] mx-psi commented on #5969
Hey, unfortunately I can't share the CI link, but I can give you the logs and a (admitedly huge) Docker for Windows image where we have been able to reproduce this outside of CI.

<details>
<summary>Logs when using bundler 2.3.22, win32-process is installed (click to expand)</summary>

[code]

</details>

<details>
<summary>Same Docker for Windows image, but now using 2.3.23, win32-process is not

[2022-10-07 16:43] deivid-rodriguez commented on #5969
Nice, thank you. I'll try to reproduce it 👍.

[2022-10-07 18:08] Chrissiku opened #5970 "NoMethodError: undefined method `full_name' for nil:NilClass ! Rails 7"
### Describe the problem as clearly as you can

When running `rails new app-name or `bundle install` in facing the following problem.

it's starts from `Installing nokogiri 1.13.8 with native extensions` what is raising an error ` ERROR REPORT TEMPLATE`

then it's displays on the console `NoMethodError: undefined method `full_name' for nil:NilClass`

I already read all provided solutions from http

[2022-10-07 19:13] kiwidude68 opened #5971 "NoMethodError: undefined method `full_name' for nil:NilClass"
### Describe the problem as clearly as you can

Trying to setup a GitHub Pages website, following the instructions on this page on my Windows 10 machine:
https://docs.github.com/en/pages/setting-up-a-github-pages-site-with-jekyll/creating-a-github-pages-site-with-jekyll

Never used Ruby/Bundler etc before so these were all first time installs from a few hours ago. However things went wrong at step

[2022-10-08 04:50] stanhu opened #5972 "bundle config build.<gem> can't pass multiple arguments to `--with-ldflags` delimited by a space"
### Describe the problem as clearly as you can

I have one instance where I'd like to configure `--with-ldflags` with multiple arguments delimited by a space. For example:

[code]

However, due to the use of `Shellwords.shellsplit` here:

https://github.com/rubygems/rubygems/blob/629e08d34d14f60fe3398e40fc72f4f171ffc582/bundler/lib/bundler/installer/gem_installer.rb#L49

...the space between `-Wl,

[2022-10-08 10:51] kikoooooooo opened #5973 "NoMethodError: undefined method `full_name' for nil:NilClass"
### Describe the problem as clearly as you can

I am trying to create a new app (`rails new blog --webpack=react`)

### Did you try upgrading rubygems & bundler?

Yes: I've run `gem update bundler`, `gem install rubygems-update`, `update_rubygems` & `gem update --system`.

### Post steps to reproduce the problem

I'm on Windows 10 Pro I downloaded [Ruby+Devkit 3.1.2-1 (x64)](https://github.com/one

[2022-10-08 13:08] Segaja commented on #5951
@simi any more ideas about this?

[2022-10-08 13:44] Segaja commented on #5951
I tried it without that setting but had no effect on the result.

I also noticed that both tests are working with the `json` gem. Maybe somehow that is the problem. In my environment json is in 2.6.2 and not 2.5.1. Can this cause issues?

[2022-10-08 16:25] Bo98 commented on #4234
I don't think #5888 fixes this. #4238 should however (though arm64e should be mapped to arm64).

[2022-10-08 16:47] simi commented on #5951
[code]

Is there anything I do wrong?

[2022-10-08 16:49] Segaja commented on #5951
Sorry. Small changes:

[code]

[2022-10-08 17:47] simi commented on #5951
It seems the problem is somewhere in the ruby packaged by archlinux.

This is expected to return specification.

[code]

But on archlinux's Ruby (in your Dockerfile) it returns nil.

[2022-10-08 17:49] Segaja commented on #5951
Yeah I also noticed that one, but so far I can't find any issue in the json gem in ruby. Do you happen to have any idea what could be wrong?

[2022-10-08 18:02] simi commented on #5951
That seems not related to Ruby or RubyGems or JSON gem itself. It is
something in Ruby package of archlinux. Can you check you can reproduce
this by installing original Ruby (using ruby-install for example) and try
the code above on archlinux?

so 8. 10. 2022 v 19:49 odesílatel Andreas Schleifer <
***@***.***> napsal:

[2022-10-08 23:46] Danni96 opened #5974 "Unfortunately, an unexpected error occurred, and Bundler cannot continue."
First, try this link to see if there are any existing issue reports for this error:
https://github.com/rubygems/rubygems/search?q=Permission+denied+%40+rb_file_s_symlink+-+%28spec%2Fsupport%2F..%2F..%2F.mod%2Fdrivers-evergreen-tools%2F.evergreen%2Focsp%2C+C+%2FRuby31-x64%2Flib%2Fruby%2Fgems%2F3.1.0%2Fgems%2Fmongo-2.18.1%2Fspec%2Fsupport%2Focsp%29&type=Issues

[2022-10-09 10:25] muazek commented on #4981
facing the same issue and unable to resolve

[2022-10-09 11:34] Guikube commented on #5971
Same exact situation, same exact versions and same exact problem.

[2022-10-10 06:19] foosp8 commented on #5973
I have same issue here when doing rails new blog

Windows 11 [Ruby+Devkit 3.1.2-1 (x64)  with rails 7.04

After add bcrypt gem and bundle install, it will show same error

I have removed the bundler directory & default bundler -v in specification directory and then reinstall "gem install --default bundler -v 2.3.23". It still result in the same error as per kikoooooooo mentioned except i have Gemf

[2022-10-10 10:31] deivid-rodriguez commented on #5951
In addition I suggest to check the contents of the `defaults/operating_system.rb` file in the Ruby (or RubyGems) archlinux pacakge. I think that's most likely the culprit.

[2022-10-10 10:48] deivid-rodriguez commented on #5969
I haven't been able to reproduce this due to not being able to properly get docker to work inside my Windows VM. I guess I need to install Windows for real, but I'm not sure when I'll be able to do that.

I'm going to try to reproduce other issues opened about problem with the latest release on Windows. Hopefully some of the reproduces more easily and the culprit ends up being the same as this iss

[2022-10-10 10:50] deivid-rodriguez commented on #5970
I can reproduce this! Too bad that we regressed in such a simple case, but Windows support is still getting settled.

Let me try figure this out.

[2022-10-10 10:57] mx-psi commented on #5969
Per https://github.com/rubygems/rubygems/issues/5969#issuecomment-1270296862, it sounds like the underlying issue can be reproduced on CentOS 7 too? Maybe that's easier

[2022-10-10 13:47] deivid-rodriguez commented on #4234
Thanks for the heads up, can you share steps to reproduce the problem?

[2022-10-10 13:53] HaukeCornell commented on #5973
Same issue on Windows 11 with fresh install.

[2022-10-10 14:13] jim-liu commented on #5971
Setting bundler version to 2.3.22 works for me.

[2022-10-10 15:28] deivid-rodriguez commented on #5971
Closing in favour of #5970, please subscribe to that one!

[2022-10-10 15:29] deivid-rodriguez commented on #5973
Closing in favour of #5970, please subscribe to that one!

[2022-10-10 15:29] #5973 closed

[2022-10-10 15:43] deivid-rodriguez commented on #5972
If you change the contents of `.bundle/config` and add quotes at the proper place, does it work?

[2022-10-10 15:45] deivid-rodriguez commented on #4981
Are you using the latest versions of Bundler & RubyGems?

[2022-10-10 17:50] Segaja commented on #5951
This file doesn't exist on archlinux and we also don't remove it from the ruby package.

[2022-10-10 18:05] Segaja commented on #5951
Yes we ship them separately. So far we had no problem with it. This is the first time it doesn't work and I don't understand why.

[2022-10-10 18:35] Segaja commented on #5951
running this with a ruby installation from `ruby-install` i get different errors but not the json related errors.

[2022-10-10 19:05] Segaja commented on #5951
[code]

But I guess this doesn't explain what happened to the `json` gem.

[2022-10-10 19:10] hydaryali466gmailcom opened #5976 "Alirezahyd@outlook.com"
### Describe the problem as clearly as you can

### Did you try upgrading rubygems & bundler?

### Post steps to reproduce the problem

### Which command did you run?

### What were you expecting to happen?

### What actually happened?

### If not included with the output of your command, run `bundle env` and paste the output below

[2022-10-10 19:13] deivid-rodriguez commented on #5951
My guess is that `json` is not a default gem in archlinux, so those realworld tests can´t possibly pass since they rely on json being a default gem (and thus get automatically upgraded if a higher version of itself is also installed).

[2022-10-10 19:20] #5976 closed

[2022-10-10 19:23] deivid-rodriguez commented on #5951
That seems a defect of the packaging process to me. Even if `ruby-json` is shipped as a separate package, the `ruby` package should still come with its own copy installed as a default gem that gets activated when `json is required. I guess you could look at how other distributions handle this, but in any case, this does not seem like an upstream issue.

Regarding the last failures copied, maybe up

[2022-10-10 19:26] Segaja commented on #5951
Well Arch is one of the first distributions who does this. And `ruby-json` copies the files into the same structure as the default `ruby` package has (or in arch case had) them.

I'm going to diff the json changes from `ruby-json` with the ones from ruby upstream.

[2022-10-10 19:34] deivid-rodriguez commented on #5951
What does `gem list json` print? It should say

[code]

as per https://stdgems.org/json/.

[2022-10-10 19:39] Segaja commented on #5951
[code]

[2022-10-10 19:45] deivid-rodriguez commented on #5951
So that's not it :thinking:.

[2022-10-10 19:49] deivid-rodriguez commented on #5951
Something else you may want to check is whether the `json`gem is being properly registered here: https://github.com/rubygems/rubygems/blob/629e08d34d14f60fe3398e40fc72f4f171ffc582/lib/rubygems.rb#L1191-L1211.

In order for `json` to be properly activated as a gem when required, that `@path_to_default_spec_map` should have a  key named ¨json".

[2022-10-10 20:00] Segaja commented on #5951
how do i see what is in this field? just `puts` it?

[2022-10-10 20:17] deivid-rodriguez commented on #5951
Yeah you can `puts it!

[2022-10-10 20:18] Segaja commented on #5951
[code]
no output from `puts @path_to_default_spec_map` in `ruby -e`.

[2022-10-10 20:47] deivid-rodriguez commented on #5951
It's an instance variable in the `Gem` module. Try `Gem.instance_variable_get(:@path_to_default_spec_map)["json"]`

[2022-10-10 20:50] Segaja commented on #5951
in `ruby -e` i see no output.

In irb I see an output for `puts Gem.instance_variable_get(:@path_to_default_spec_map)` but not for `puts Gem.instance_variable_get(:@path_to_default_spec_map)["json"]`

[2022-10-10 21:10] deivid-rodriguez commented on #5951
Well that would confirm that while other default gems are being properly registered as default gems, the json gem is not. The code that uses that method to register default gems is here:

https://github.com/rubygems/rubygems/blob/629e08d34d14f60fe3398e40fc72f4f171ffc582/lib/rubygems/specification.rb#L874-L884

So probably a `json` gemspec is missing at `Gem.default_specifications_dir`?

[2022-10-10 21:16] Segaja commented on #5951
[code]

[code]

[2022-10-10 21:21] Segaja commented on #5951
This is the content of the file:

[code]

strange enough sometimes it registeres as binary and the second `# stub: ...` line has some binary chars in it. but even if i remove the stub lines it doesn't work.

[2022-10-10 21:33] deivid-rodriguez commented on #5951
Oh, that's the problem right there, there's no "json.rb" assigned to `files=`, only extension files and README in there. See what the file in my ruby installation looks like:

[code]

or see the source file here: https://github.com/flori/json/blob/572c9994648fca172a19026f9a665e92500864ba/json.gemspec.