[2022-01-31 13:16] deivid-rodriguez commented on #5317
Yes, it is the root cause. That fix was released with 2.2.26, that's why you're getting the issue on 2.2.29. Try downgrading to 2.2.25 and the issue will disappear.

Yep, this is the reason why you got this wrong.

[2022-01-31 13:46] deivid-rodriguez commented on #5323
This is unfortunate. It seems like some incompatibility between JRuby 9.1 and the CRuby version it tracks (Ruby 2.3). We didn't detect this because we only test the latest JRuby. Since we run very few specs on JRuby at the moment, it wouldn't be too costly to run the same thing against the oldest JRuby supporting our older supported CRuby. I guess we should do something about this since we don't p

[2022-01-31 15:19] #5320 closed

[2022-01-31 21:40] daemonsy opened #5325 "Running bundle check causes the lockfile to change to a platform specific version of google-protobuf"
### Describe the problem as clearly as you can
On a gem I'm helping to maintain, we have `google-protobuf` as a dependency. Our bundler platform is set to `ruby`.

The `Gemfile.lock` has this entry.

[code]

But when our semantic-bot releases a new version, it gets changed to

[code]

After some investigation, it seems that `bundle check` is the one changing the `Gemfile.lock` to the platform spec

[2022-01-31 22:05] deivid-rodriguez commented on #5325
Thanks for the very helpful report, it does seem like a bug.

[2022-01-31 22:06] deivid-rodriguez commented on #5325
I will have a look.

[2022-01-31 22:32] duckinator commented on #4031
@hlovdal thank you for the gentle nudge here. This issue is, frankly, intimidating and seems to get put off for a lot because of that. I agree this functionality should be removed, and multiple other maintainers have also explicitly voiced support for this change earlier in this very issue. You don't need to convince us it's a problem &mdash; it's just been hard to make the change happen, for vari

[2022-01-31 22:48] jnetRepo commented on #4880
I solved my issue by adding (bundle install) again before called (bundle exec) as in here:
cd android && sudo chmod +x gradlew && bundle install && bundle exec fastlane alpha

[2022-02-01 00:37] prakhunov commented on #5317
Makes sense, I'll hopefully take a look this week and see if I can get a patch going.

[2022-02-01 03:26] duckinator opened #5326 "Failing spec for RubyGems on FreeBSD"
My current problem is there is a failing test on FreeBSD when running `rake setup` then `rake test` from the root of the directory.

The failing test is `test_operating_system_customizing_default_dir`: https://github.com/rubygems/rubygems/blob/2067b7aa69d5178c49ba0939d168fc21e90cedd0/test/rubygems/test_rubygems.rb#L25-L46

<details>
<summary>output of failed test</summary>

[code]

</details>

Thi

[2022-02-01 03:30] duckinator commented on #5326
I'm likely going to look into this myself, but wanted to document it before digging in.

There's a chance updating to latest 3.0.x or 3.1.x might fix it. Trying that before doing any more-significant digging.

[2022-02-01 03:44] duckinator commented on #5326
Ruby 3.0.3 and 3.1.0 both complain about `test/rubygems/test_gem_remote_fetcher.rb` requiring webrick: https://github.com/rubygems/rubygems/blob/2067b7aa69d5178c49ba0939d168fc21e90cedd0/test/rubygems/test_gem_remote_fetcher.rb#L4-L5

3.0.1 doesn't, however.

Installing webrick results in 3.0.3 and 3.1.0 having the same behavior as 3.0.1 (what's in the original issue), so it's not specific to certa

[2022-02-01 11:07] #3336 closed

[2022-02-01 11:26] hsbt commented on #5326
I add the workaround for this at ruby-core. see https://github.com/rubygems/rubygems/pull/5329

I wonder why it's happed only chkbuild environment or FreeBSD.

[2022-02-02 09:39] schr0edinger opened #5330 "help!"
### Describe the problem as clearly as you can

### Did you try upgrading rubygems & bundler?

### Post steps to reproduce the problem

### Which command did you run?

### What were you expecting to happen?

### What actually happened?

### If not included with the output of your command, run `bundle env` and paste the output below

[2022-02-02 09:40] #5330 closed

[2022-02-02 15:47] deivid-rodriguez commented on #5326
For what it's worth, there's been some movement on the FreeBSD packaging side and they will likely be packaging latest RubyGems soon: https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=258108.

So maybe it's worth asking them whether they faced this issue during packaging, whether they investigated it and what they did about it.

[2022-02-03 18:29] eregon commented on #3799
Ref: https://bugs.ruby-lang.org/issues/18568

[2022-02-04 06:37] duckinator commented on #4031
Hi, sorry, I forgot to post the update here like I said. I did start work over on #5327 since it seems to be the first step of this process. Will attempt to wrap it up next week.

[2022-02-04 11:21] deivid-rodriguez opened #5332 "Flaky test failure in `bundle check` specs against old RubyGems"
### Describe the problem as clearly as you can

I thought we had race conditions inside bundler specs completely sorted out, but another one came up: https://github.com/rubygems/rubygems/runs/5039978113?check_suite_focus=true.

[code]
       NoMethodError: undefined method `platform' for nil:NilClass
         /home/runner/work/rubygems/rubygems/bundler/tmp/rubygems/lib/rubygems/specification.rb:10

[2022-02-04 12:59] s2k opened #5333 "'gem server' causes NameError when loading command 'server'"
# Environment

[code]

[code]

# Behaviour

Trying to start the Rubygems server causes an error:

[code]

# Further observation

* The command works nicely in Ruby 2.7.5 (which I also installed via `asdf`)
* It causes the same error message, when using Ruby 3.0.3 (after additionally running `gem install rubygems-server`

Since it worked in 2.7.5, I expect the command to also work in Ruby 3.1.0.

[2022-02-04 13:06] deivid-rodriguez commented on #5333
I think this is because `RubyGems` no longer loads `optparse` by default since #4881. You can verify this by downgrading to RubyGems 3.2.30 (`gem update --system 3.2.30`). The `rubygems-server` plugin should be updated to load `opt parse` explicitly.

[2022-02-04 13:17] s2k commented on #5333
Thanks @deivid-rodriguez.
You're right: The command works, when using rubygems 3.2.20.

[2022-02-04 17:06] deivid-rodriguez commented on #3708
I had to revert the fix to this bug, but I never reopened it.

[2022-02-06 11:31] matkoniecz opened #5334 ""This file is owned by your OS, not by rubygems upstream" is not specifying file location with absolute path but only relative path with unclear base"
I'm having a problem or would like to suggest a feature.

My current problem is that rubygems update crashes with unclear error

Running `gem update --system` results in:

It is not specifying actual file location, but some relative path, relative to base unknown to me.

This error should specify absolute path to make easier to track down offending file and fix it.

(
[code]
)

This issue is relat

[2022-02-07 10:34] deivid-rodriguez commented on #5334
@matkoniecz I'm happy to accept such a change, and also an enhancement to the documentation to point to [manual upgrade instructions](https://rubygems.org/pages/download) if it's `gem update --system` itself that's failing.

[2022-02-07 10:39] #3926 closed

[2022-02-07 10:55] simi commented on #5334
@matkoniecz the error you mention is happening at:

https://github.com/rubygems/rubygems/blob/7c774fbc8497979e119465e7020620f1c3464763/lib/rubygems.rb#L1320-L1335

This file is not loaded relatively, but in classic gem load file paths. It could be in theory in all those GEM_PATH folders if I understand it well.

You, as an user, should not be messing with this file and report problem back to upstr

[2022-02-07 10:58] deivid-rodriguez commented on #5334
Yes, I agree, that's our idea and we should try to communicate this as best as possible.

But once this load error happens, we do know the exact file that failed to load, so I don't think there's any harm on using an absolute path here, and let the user inspect the file and better understand what's going on and maybe even add a direct quick fix while the issue is fixed on the OS side.

[2022-02-07 11:20] matkoniecz commented on #5334
I know, but ideally such bug report would include location of such file.

It is also possible that I screwed something up and file is actually located in `~/install/terrible_temporary_hack/rubygems/defaults/operating_system.rb` that I created year ago and forgot in meantime. In such case reporting problem to OS authors would be a waste of time.

And I bet that the first question asked back will be

[2022-02-07 11:24] eregon commented on #3926
Thanks for fixing this!

[2022-02-07 11:31] simi commented on #5334
@matkoniecz reporting full path is ok for me as well. Would you mind to contribute this? I can take a look as well.

[2022-02-07 11:34] matkoniecz commented on #5334
@simi

feel free! It would be really welcome!

I am not expecting to do it within predictable future - I would need to setup development, familiarize with new codebase and do something new to me.

In near term I plan to review some pull requests on projects already familiar to me and where I can merge them

[2022-02-07 11:49] #5165 closed

[2022-02-07 14:43] deivid-rodriguez commented on #3708
@mokagio We'll be finally addressing this at #5335. Sorry for taking this long!

[2022-02-08 15:44] ShockwaveNN commented on #5289
I've remove RVM and reinstalled it anew and seems problem is gone

So thanks for your help, I think it was some specific for my configuration

[2022-02-08 15:44] #5289 closed

[2022-02-09 00:49] pond opened #5338 "Bundler platform locking causes problems out-of-box, on CI, on Heroku etc."
### Describe the problem as clearly as you can

I'm hopeful we can come up with a compromise to a significant pain point that's worsening over time, not getting better.

In Bundler 2.2, `PLATFORMS` in `Gemfile.lock` only includes the local machine's architecture when that machine causes a `Gemfile.lock` to be built (but confusingly, not if it is merely updated). Bundler lockfiles cease to become a

[2022-02-09 01:19] indirect commented on #5338
There is no such thing as “gem compatible with the platform”. As soon as gems _have_ a platform (beyond “ruby”) they are entirely different code bases. Historically, there are extremely popular gems like Nokogiri that have completely different dependencies for the exact same version on a different platform. On a new platform, Bundler literally has to start the resolution over again from scratch, f

[2022-02-09 01:54] pond commented on #5338
But they are not different gems, don't have different APIs and don't have different major, minor or patch versions. The gem is honour-bound by contract of its API to behave the same on whatever platforms it _can_ build on.

The workflow I'd like is the one where Bundler <= 2.1 did all this just fine and nobody had to run "bundle lock" ever.

[2022-02-09 01:56] pond commented on #5338
Oh, and also:

Oh and - CI. It's impossible for CI to do that. The developers have to remember to 'bundle lock' not just for whatever arch their local machine is, but also include the arch that CI uses.

[2022-02-09 04:31] whithajess commented on #5338
@indirect In terms of workflow won't this always be the case? ->

1. Developer runs `bundle install` - Generates lock file with _Local Architecture_
2. CI / CD picks up the lock file to try install the gems specified (Often specifically specifying frozen to intentionally fail and catch something that doesn't line up in the Gemfile with Gemfile.lock)
3. Fails every time unless the _CI/CD Architectu

[2022-02-09 06:13] ZimbiX opened #5339 "`bundle check` corrupts gem's Gemfile.lock by moving gems between sources"
### Describe the problem as clearly as you can

We have a private gem that depends on other gems: some public, some private.

We use a Dockerised development environment, and in the repo for this gem, as part of our Docker entrypoint, we have it install the bundle, but first run `bundle check` for a performant check to see if we need to do so:

[code]

Unfortunately, it seems that Bundler now corr

[2022-02-09 06:24] ZimbiX commented on #5339
To clarify a little, in our project, it only moves about a quarter of the gems from `https://rubygems.org/` in the `Gemfile.lock`. I haven't determined what makes a gem stay vs move.

[2022-02-09 07:00] dibir-magomedsaygitov commented on #5235
Hello @deivid-rodriguez and @mikehardy. We are observing the same error message even with the latest version of CLAide on the image. Could you please take a look at the issue one more time.

[2022-02-09 08:59] deivid-rodriguez commented on #5235
Please do some research yourself. As I stated above, if you're getting the exact same error, that certainly means you're still using the old CLAide version.

[2022-02-09 09:14] deivid-rodriguez commented on #5289
Glad you sorted it out!

[2022-02-09 09:15] #3708 closed

[2022-02-09 09:15] #4835 closed

[2022-02-09 09:17] ShockwaveNN commented on #5289
And after that i've moved to `rbenv`

Maybe it's really good idea to let go of `rvm` )))

[2022-02-09 11:12] saschpe commented on #3250
It remains an issue with Ruby-2.7. We can't move to Ruby-3.x because of CocoaPods for iOS projects.

[2022-02-09 11:38] mikehardy commented on #5235
That was quite clever, the errormessage change. Going to have to remember that strategy for the future myself to help offer certainty in situations like this.

[2022-02-09 15:50] izenk opened #5343 "bundle install ignore config 'with' option"
### Describe the problem as clearly as you can

[code]

[code]

'bundle install' - installs all gems from Gemfile from all groups, ignoring 'with' setting.
If I set 'without' setting, e.g.
[code]
and then run bundle install - only gems from production group will be installed as expected

[2022-02-09 15:59] deivid-rodriguez commented on #5343
Hello @izenk. This might be surprising, but works as designed.

Bundler installs all groups, except for optional groups by default. Optional groups can be specified with the `:optional` parameter to the `group` DSL. For example,

[code]

The `with` option makes Bundler also install selected optional groups, while the `without` option makes Bundler skip installing selected non optional groups.

Hop

[2022-02-09 15:59] #5343 closed

[2022-02-09 16:51] ngan opened #5345 "Potentially cache `resolve`"
### Describe the problem as clearly as you can

I work in a very large monolith with many gems (about 292 direct dependencies and 587 gems). I've been tinkering around the idea of loading a subtree of those dependencies. As in, I'd like to load a handful of those direct dependencies and have bundler resolve whatever other indirect dependencies it needs. The only way I found to do this given what b

[2022-02-09 23:06] luilver opened #5347 "Update TROUBLESHOOTING link to avoid 404"
### Describe the problem as clearly as you can

TROUBLESHOOTING link is getting a 404 page.

### Did you try upgrading rubygems & bundler?

N/A

### Post steps to reproduce the problem

Open a new issue -> Copy TROUBLESHOOTING link -> Paste it in a new tab -> Enjoy 404

### Which command did you run?
N/A

### What were you expecting to happen?

Getting this link instead: https://github.com/rubygem

[2022-02-09 23:11] simi commented on #5347
@luilver Thanks for the report. Indeed nobody is enjoying 404s. Would you mind to contribute this change? If I understand it well this file should be changed.

https://github.com/rubygems/rubygems/blob/dac8c02b37ff077aa66ba0e218058146d02dfea5/.github/ISSUE_TEMPLATE/bundler-related-issue.md?plain=1#L18

[2022-02-10 01:04] luilver commented on #5347
Yes, you're right; I will make a PR with that. Thanks @simi.

[2022-02-10 01:33] luilver commented on #5347
It is done: https://github.com/rubygems/rubygems/pull/5348

[2022-02-10 02:30] zh1-hust opened #5349 "Construction error reporting"
(base) ➜  thrift-0.15.0 make
/Applications/Xcode.app/Contents/Developer/usr/bin/make  all-recursive
Making all in compiler/cpp
Making all in src
/Applications/Xcode.app/Contents/Developer/usr/bin/make  all-am
make[4]: Nothing to be done for `all-am'.
Making all in .
make[3]: Nothing to be done for `all-am'.
Making all in test
make[3]: Nothing to be done for `all'.
Making all in lib
Making all in j

[2022-02-10 09:18] #5347 closed

[2022-02-10 20:16] jordan-brough opened #5350 "Issue with "bundle config" change in Bundler 2.3.7"
@deivid-rodriguez this is maybe just a point of feedback, but the change in https://github.com/rubygems/rubygems/pull/4152 (I think) caused problems for us.

We're using Docker and in our Dockerfile we're using multi-stage builds to first compile dependencies and then copy those dependencies into the final target stage.

In our build stage we did something like this: (simplified)
[code]
We then la

[2022-02-11 08:47] deivid-rodriguez commented on #5350
Yes, this is a side effect of fixing these bugs, I'm sorry it caught you. We normally release one minor version per year, perhaps I should've waited till that to fix this, but I didn't want to hold the fix anymore and decided to go ahead.

Normally you will run `bundle config`, in particular, `bundle config set without <groups>` when you have some `Gemfile` with some groups. But in your case you w

[2022-02-11 08:47] #5350 closed

[2022-02-11 09:20] #5339 closed

[2022-02-11 11:57] deivid-rodriguez commented on #5325
Hei @daemonsy, I tried to reproduce this but I couldn't.

I used the provided Dockerfile except that I mounted the CWD manually though docker `--mount` option, instead of manually copying inside the `Dockerfile`, because in the latter case files would get inadequate permissions and I would get errors when trying to write a lockfile. Anyways, running the mentioned commands did not generate any unex

[2022-02-11 15:59] timsutton opened #5351 "Bundler 2.3.7 causing uninitialized constant Gem::Source and CRITICAL: RUBYGEMS_ACTIVATION_MONITOR.owned?: before false -> after true errors"
### Describe the problem as clearly as you can

I've observed that when we have `gem installed` the latest bundler 2.3.7 version, that it causes a rubygems crash when I attempt to invoke a bin exe of a small internal gem. We aren't using bundler to invoke the gem, however I guessed that this is at least in some way related to Bundler as I can't reproduce it when 2.3.6 is installed.

### Did you tr

[2022-02-11 16:20] deivid-rodriguez commented on #5351
Also you can try upgrading RubyGems through `gem update --system`.

[2022-02-11 16:34] timsutton commented on #5351
@deivid-rodriguez Thank you for identifying that so quickly. I have long-wondered whether `executable-hooks` is something we even rely on at all, we recently stopped installing it on our new machines, but I suspect either RVM or perhaps some other gems we have maybe implicitly pull in rubygems-bundler which pulls that in.

Does `rubygems-bundler` strike you as being a somewhat risky dependency? I

[2022-02-11 16:48] deivid-rodriguez commented on #5351
`rubygems-bundler` is some initial work from the RVM team on removing the need to prefix commands with `bundle exec <gem-executable>`, but still getting the version of `<gem-executable>` in your `Gemfile.lock` file used automatically.

We have been working on providing this functionality inside RubyGems/Bundler, specifically by setting the `RUBYGEMS_GEMDEPS=-` environment variable. However there a

[2022-02-11 17:10] timsutton commented on #5351
Thanks for that context, I've been wondering for a while what was the original use-case for some of those gems especially as they seemed dated (while at the same time being part of RVM's install).

To answer your earlier point, indeed once I uninstall rubygems-bundler and executable-hooks:
[code]
things work again. I'll plan to look to see if we can remove those gems as part of our RVM installatio

[2022-02-11 17:19] deivid-rodriguez commented on #5351
If you have to be able to provide a small example to reproduce this, I'd be happy to have a closer look. Unfortunately all RVM users get these gems by default, so we should probably revert the change but it'd be nice to cover the revert with some test to ensure that I don't cause the same trouble again in the future.

[2022-02-11 20:30] indirect commented on #5338
@deivid-rodriguez I like that idea! I worry a little bit that this might lead to locking a lot of platforms, but I’d be interested to try it out in a prerelease.

[2022-02-13 22:21] aprilmintacpineda commented on #5338
I'm having a similar error with GIthub Actions. This used to work last time I tried it (months ago), I don't know why I have to do this now.

[code]

- What benefit does this add?
- What if you can't control the architecture that your CI will run on? Should you then add all possible architectures that the CI is using to `Gemfile.lock`? Is that a good idea because at that point the whole thing no l

[2022-02-14 06:34] Deepa-Nav opened #5356 "Bundler related issue"
### Describe the problem as clearly as you can

### Did you try upgrading rubygems & bundler?

### Post steps to reproduce the problem

### Which command did you run?

### What were you expecting to happen?

### What actually happened?

### If not included with the output of your command, run `bundle env` and paste the output below

[2022-02-14 06:36] Deepa-Nav commented on #5356
## Environment

[code]

## Bundler Build Metadata

[code]

[2022-02-14 06:40] #5356 closed

[2022-02-14 12:03] deivid-rodriguez commented on #5338
@indirect Yes, I have the same concern only it doesn't seem like a big deal in principle I think. We could, however, start by doing this only for Linux and see how it goes.

[2022-02-14 21:02] Thomascountz opened #5357 "Multiple invocations of `bundle lock` `--add-platform` option fail silently"
### Describe the problem as clearly as you can

Originally inspired by [Heroku's Getting Started on Heroku with Rails 7.x](https://devcenter.heroku.com/articles/getting-started-with-rails7#create-a-new-or-upgrade-an-existing-rails-app) documentation:

Multiple invocations of `bundle lock`'s `--add-platform` argument, as in

[code]

will result in only the latter invocation being executed and the f

[2022-02-15 07:49] ioquatix opened #5358 "Allow authors to be empty?"
https://github.com/rubygems/rubygems/blob/4b0d970cd31a7a34016bb6668f9756466070d6aa/lib/rubygems/specification_policy.rb#L346-L350

In some cases, it may not be possible to list all authors. So a subset is given. We would like to encourage people in this case to refer to an external file (e.g. LICENSE) to list all authors/contributors. Whether this is in scope for the gem spec, I don't know. Howeve

[2022-02-15 07:51] ioquatix commented on #5358
To give a specific example, if `rails` listed all authors, (4000+) it could add several 10s of KiB to the gem specification just in strings alone.

[2022-02-15 08:29] eamonn-webster commented on #5351
`lib/bundler/rubygems_ext.rb` explicitly references `Gem::Source::Installed` on line 19 but does not require it.
adding `require "rubygems/source"` "fixes" the problem.
I don't have a reproduceable case case.

[2022-02-15 09:14] simi commented on #5358
I'm not sure this is really issue. Anyway "authors" field is not "contributors" field in my mind. But I don't see any problem write a note to the authors field like "Rails team".

[2022-02-15 10:03] ioquatix commented on #5358
What is the difference between an author and a contributor?

[2022-02-15 11:15] deivid-rodriguez commented on #5351
Yes, we already identified the change that removed the require and caused this issue. But I don't fully understand why it happened because RubyGems should be autoloading `Gem::Source`. I'm now guessing that this usage is happening while loading a RubyGems plugin provided by RVM, and at that point the autoload is not already setup.

I will have a closer look to find a reproducible case, and regardl

[2022-02-15 13:27] simi commented on #5358
I'm not going to explain on this since it is highly subjective.

---

Anyway feel free to check if removing author presence would cause any troubles. I can imagine there is some code relying on presence of author and removing the validation could broke it (even outside of RubyGems). As I mentioned before, you're free to put anything generic in there like following.

[code]

We can improve https://

[2022-02-16 11:46] SivaSai232 opened #5359 "bundler issue"
### Describe the problem as clearly as you can

### Did you try upgrading rubygems & bundler?

### Post steps to reproduce the problem

### Which command did you run?

### What were you expecting to happen?

### What actually happened?

### If not included with the output of your command, run `bundle env` and paste the output below

[2022-02-16 11:48] #5359 closed

[2022-02-16 19:48] arc113 opened #5360 "gem source -a fails when username contains an '@'"
I'm having a problem.

My current problem is that `gem source -a https://username:password@site.com` doesn't work when the username contains an @ symbol. The error is

ERROR:  While executing gem ... (URI::InvalidURIError)
    bad URI(is not URI?):

I'm reporting this because a lot of websites like Jfrog can have emails as the username.

This issue is related to:

  - [y ] Installing a library

He

[2022-02-16 21:19] hakanai commented on #2246
I get similar issues. The network seems to be randomly dropping packets, and gem doesn't seem to retry fetch operations. Maybe there's a way to tell it to retry, but I haven't found it yet.

[2022-02-16 22:24] hakanai opened #5361 "Bundler should back off exponentially when retrying"
### Describe the problem as clearly as you can

We're experiencing random network outages, DNS outages, etc. which are out of our control because we didn't set up the network. So `bundle install` frequently fails. This is reasonably workable when developing locally because I can just run it again and it won't re-fetch the gems it already has. When building a Docker image, however, it has to start

[2022-02-16 22:37] hakanai commented on #5361
Additionally some failures don't seem to be retried, but I haven't yet figured out why. For example, `Gem::RemoteFetcher::UnknownHostError` seems to immediately terminate the install, but that exception isn't in the list of exceptions which are treated as immediate failures, either in current master, or in the tag for the version we're using. Maybe these ones are the ones where bundler is just tel

[2022-02-17 10:33] deivid-rodriguez commented on #5361
I already proposed exponential backoff for retries at https://github.com/rubygems/rubygems/issues/5161, but I think it deserves its own issue, so thanks for reporting this, I will keep it open.

Regarding the other issue you mention, please do investigate. I guess the block of code where this exception happens is not wrapped by a `Bundler::Retry` block?

Finally, maybe rubygems.org had some issues

[2022-02-17 10:47] deivid-rodriguez commented on #5360
This seems like a `URI` issue?

[code]

The addressable gem handles it just fine though

[code]

Can you report this at https://github.com/ruby/uri?

[2022-02-17 11:00] deivid-rodriguez commented on #5358
I'm also now sure this is a problem.

Is someone listing too many authors in this field, so that we need to take any actions to prevent it?

[2022-02-17 11:36] taozuhong opened #5363 "Missing vala compiler"
https://gitlab.gnome.org/GNOME/vala

[2022-02-17 11:46] hsbt commented on #5363
What you want?

Can you show the your usecase?

[2022-02-17 11:50] taozuhong commented on #5363
https://github.com/taozuhong/arrow/actions

Want to make [Apache Arrow](https://github.com/apache/arrow) to community;

[2022-02-18 07:12] ioquatix commented on #5358
Well, since you asked, Rails has 4000+ authors/contributors, so it's too much for the field IMHO :)

I'd personally prefer to remove author from my gem (i.e. empty field). Otherwise I can just add a place holder e.g. `spec.author = "No-one"` or `spec.author = "My Team"` but my preference is to just avoid it entirely.

An empty array should be okay, IMHO most use cases would be something like `spec

[2022-02-18 09:20] simi commented on #5358
@ioquatix But that's totally made up scenario. Rails doesn't do that and RubyGems doesn't suggest do anything like that (list everyone contributing to the project in the gemspec). In general the same problem is present for all array values like `files`. We can provide warning when there is more than x values in `validate_array_attribute` in `SpecificationPolicy` to prevent this. We can also in gen

[2022-02-18 09:40] deivid-rodriguez commented on #5358
Exactly, I was asking for a real scenario, not scenario, not something made up. Obviously someone could actually do this, but it hasn't happened in like 15 years, or if it has actually happened, nobody has reported any issues associated with doing it. To me, this feels like fixing a non issue. If we want to improve this, any of the more generic improvements suggested by @simi feels better.

If you

[2022-02-18 15:48] deivid-rodriguez commented on #5290
Thanks @hosamaly. Unfortunately without a way to reproduce it's hard for me to look into it. If you can provide me with some repro steps, even if they only fail 5% of the times, that's definitely a great start.

[2022-02-18 16:17] ngan opened #5364 "Bundler's inline `install` option misdocumented"
According to the [source documentation](https://github.com/rubygems/rubygems/blob/master/bundler/lib/bundler/inline.rb#L11-L13), the `install` argument specifies whether or not installation of missing gems should happen or not. However, looking at the code, it looks like installation will [_always_ happen for missing gems](https://github.com/rubygems/rubygems/blob/master/bundler/lib/bundler/inline

[2022-02-18 19:48] ioquatix commented on #5358
I'm less interested in the 4000 authors case, but if you check Rails, they do actually have 4000+ contributors and in theory they are all authors so that wouldn't be unreasonable to have a list of authors 4000 long, it would be easy to automate that via `git log` etc.

The alternative is you choose one of the following:

1. Use the first person who created the gem as the author and ignore everyone

[2022-02-18 19:55] ioquatix commented on #5358
I'd be interested to take a look at gems with long lists of authors, I believe bundler appears to follow (2), e.g. https://rubygems.org/gems/bundler has a long list of authors but I'm not sure if it's complete, I assume not. Who decides who is an author or not?

[2022-02-18 21:23] simi commented on #5358
@ioquatix I think you're looking for problems where actually no problems are present. There are no rules how authors gemspec metadata attribute works. You put something in there and it will appear at https://rubygems.org/gems/rails at authors section and also it is visible at gem info output. That's it.

The one filling in gemspec data.

[2022-02-18 21:28] ioquatix commented on #5358
Right, but in my gem specs I don't want to list any author.

[2022-02-18 21:32] simi commented on #5358
Than I suggest to build gem using `--force` option and distribute it outside of the rubygems.org.

[2022-02-18 21:50] ioquatix commented on #5358
What are the technical reason why `authors` cannot be an empty array?

[2022-02-18 22:12] simi commented on #5358
There are mostly no technical reasons. You can probably bypass the validation using `--force`. There are some validations on rubygems.org side, feel free to check if gem with missing authors will be accepted in there. Anyway I don't see any real reason to make author empty and you have not provided any real use-case. We can in theory make almost whole gemspec optional (except name and files). But

[2022-02-18 22:38] ioquatix commented on #5358
I'm experimenting with setting the authors field to be the list of all authors from `git log`.

https://github.com/ioquatix/bake-modernize/blob/63bd3811b8c64b44dafefbb482d69bec2f744a31/bake/modernize/gemspec.rb#L194-L211

I'm okay with this approach and I think it's the most logical given that if we want to present authors, it should be a complete list.

I tested out RubyGems.org and found there i

[2022-02-18 22:44] ioquatix commented on #5358
I checked https://github.com/rubygems/rubygems.org/blob/1b269fbb37f45a9769952d0f17b6656ff53e5473/app/views/rubygems/_gem_members.html.erb#L44-L51 and it already looks like it should be okay, since it checks whether authors is present before displaying that entire section.

[2022-02-19 11:29] Grandv12 opened #5365 "Fix"
### Describe the problem as clearly as you can

### Did you try upgrading rubygems & bundler?

### Post steps to reproduce the problem

### Which command did you run?

### What were you expecting to happen?

### What actually happened?

### If not included with the output of your command, run `bundle env` and paste the output below

[2022-02-19 15:16] faizzed commented on #2956
I was getting the same error in maybe different context. I wanted to install a rails project.

The problem was, my ruby version was 2.6 and rails version was 7.0.2.2.

I switched to ruby 3.1.0 using `rvm use ruby-3.1.0 ` and this fixed the issue for me.

[2022-02-19 22:29] rubyFeedback opened #5366 "Support: "gem env NAME" such as "gem env INSTALLATION_DIRECTORY""
First my proposed syntax:

    gem env INSTALLATION_DIRECTORY
    gem env installation_directory

In other words, you can use ALL CAPS or without caps.

The above command would then output this:

    /root/.gem

Or whatever else is at that, e. g. the user home dir + .gem.

Why do I propose this? After all we could use "gem env"
and parse the output. This is what I am doing right now,
so I don't ha

[2022-02-19 22:55] daBee opened #5367 "Cannot Load net/smtp"
### Describe the problem as clearly as you can

I am getting an error on `Bundler.require` which loads some mail `gems` that need `net/smtp`.  Because that is part of the core `ruby`, I've assumed this is a `Bundler` load issue and not a `gem` issue.

[code]

### Did you try upgrading rubygems & bundler?

Yes.

### Post steps to reproduce the problem

Using `rbenv` `ruby 3.1.0`.  See the `env` rep

[2022-02-19 23:38] hsbt commented on #5367
You need to add `net-smtp` into your Gemfile explicitly. see https://github.com/mikel/mail/pull/1439

[2022-02-19 23:38] #5367 closed

[2022-02-19 23:56] caponecicero opened #5368 "Bundler 2.3.7 crashes for unexplained reason"
I have 3 or 4 apps that use some combination of these gems.  However, this is the only one where the target of the `bundle install` is a symlink to another location.  If I run `bundle install` again right after this failure (changing nothing), it works as expected.

### Which command did you run?

bundle install

### What were you expecting to happen?

bundle would run normally and complete succes

[2022-02-21 10:50] hsbt opened #5369 "SHA256 checksum mismatch with Ruby 3.2 and RubyGems master"
I'm not sure what is the root cause of this issue.

I always faced `SHA256 checksum mismatch` when I invoked `gem i [gemname]` with Ruby master and RubyGems master. like this.

[code]

This issue may happen with M1 Apple Silicon. Does anyone happen same issue?

I will abide by the [code of conduct](https://github.com/rubygems/rubygems/blob/master/CODE_OF_CONDUCT.md).

[2022-02-21 11:08] haristudent2021 opened #5370 "Gem::Ext::BuildError: ERROR: Failed to build gem native extension."
current directory: /var/canvas/vendor/bundle/ruby/2.6.0/gems/pg-1.2.3/ext
/usr/bin/ruby2.6 -I /usr/local/lib/site_ruby/2.6.0 -r ./siteconf20220221-8781-kkhq4w.rb extconf.rb

Gem files will remain installed in /var/canvas/vendor/bundle/ruby/2.6.0/gems/pg-1.2.3 for inspection.
Results logged to /var/canvas/vendor/bundle/ruby/2.6.0/extensions/x86_64-linux/2.6.0/pg-1.2.3/gem_make.out

An error occurre

[2022-02-21 12:30] eregon opened #5371 "RubyGems mutates RbConfig and sets it to incorrect values"
RubyGems [mutates](https://github.com/rubygems/rubygems/blob/4b0d970cd31a7a34016bb6668f9756466070d6aa/lib/rubygems/ext/ext_conf_builder.rb#L30-L31) RbConfig `sitearchdir` and `sitelibdir` when building a C extension gem.

RbConfig should never be mutated, as it can lead to various issues.
One of them is actually RubyGems no longer being able to find where to insert in `$LOAD_PATH`:
https://github.

[2022-02-21 12:41] simi commented on #5370
Can you check what's in the `/var/canvas/vendor/bundle/ruby/2.6.0/extensions/x86_64-linux/2.6.0/pg-1.2.3/gem_make.out`? You're most likely missing some of the gem dependency which could be installed using system package manager (like apt, dnf, pacman, brew, ...).

[2022-02-23 18:04] javierav commented on #5351
I have the same problem after upgrade rubygems to latest using `gem update --system`.

* Ruby 3.0.2p107 on Apple M1.
* Bundler upgraded from 2.2.29 to  2.3.7
* Using asdf-ruby as version manager.

[2022-02-23 21:20] deivid-rodriguez commented on #5351
Sorry I forgot about this, I will ship this revert with the next version.

[2022-02-24 06:06] camertron opened #5375 ""Synthetic" gem constraints"
### Describe the problem as clearly as you can

This isn't a bug or a problem per se. I'm hoping to have a discussion about a feature I've been thinking about, but I haven't yet convinced myself it's a good idea.

For a while now, bundler has shipped with a feature that lets you specify the version(s) of Ruby your project supports. I seem to recall reading somewhere that the Ruby version constrain

[2022-02-24 06:35] IrisLiu001 opened #5376 "Get error "undefined method `tags' for nil:NilClass (NoMethodError)" on ubuntu when run command:cucumber BROWSER='chrome-desktop-headless'"
Hi there,
I use cucumber-ruby setup my automation, and the command: cucumber BROWSER='chrome-desktop-headless'
runs well on my local terminal.
But the command keeps get error when run on ubuntu.
![image](https://user-images.githubusercontent.com/89027578/155471359-9819f71f-cc02-41e8-9c8a-ce2a4c420bdc.png)

Gemfile of the versions:
gem 'allure-cucumber', '2.13.6'
gem 'allure-ruby-commons'
gem 'brow

[2022-02-24 06:53] hsbt commented on #5376
It seems not RubyGems/Bundler issues. So, `tags` means your DOM objects created by Cucumber.

[2022-02-24 07:36] IrisLiu001 commented on #5376
so this should be a cucumber issue?
This command runs good on my local terminal. Guess the cucumber-ruby related package installed on ubuntu missing something.

[2022-02-24 08:39] hsbt commented on #5376
At least, It's not RubyGems issues. It may tty or headless environment problem. You should ask it to cucumber or https://stackoverflow.com/

[2022-02-24 08:39] #5376 closed

[2022-02-26 23:33] duckinator commented on #4031
Some unexpected things came up on my end the last few weeks, but I'm finally digging back into this again!

I started by rebasing #5327 off master, and am now trying to figure out [why some tests can't find the `bundle` executable](https://github.com/rubygems/rubygems/pull/5327#issuecomment-1026501516).

[2022-02-27 23:33] Ahmed607u opened #5377 "https://github.com/rubygems/rubygems/issues/new?labels=Bundler&template=bundler-related-issue.md"
### Describe the problem as clearly as you can

### Did you try upgrading rubygems & bundler?

### Post steps to reproduce the problem

### Which command did you run?

### What were you expecting to happen?

### What actually happened?

### If not included with the output of your command, run `bundle env` and paste the output below

[2022-02-28 00:07] #5377 closed

[2022-02-28 01:02] duckinator commented on #4031
As mentioned in #5327, I'm having trouble making progress on that PR because there's CI problems I can't reproduce locally.

[2022-03-01 12:09] deivid-rodriguez commented on #3360
Hello! Can someone send an up to date reproduction? The repository in the original repo does not exist anymore.

[2022-03-01 12:15] attenzione commented on #3360
add any gem to `Gemfile` with `source:` to github

[2022-03-01 12:26] deivid-rodriguez commented on #3360
I did read this issue and tried that, but did not observe any particular unexpected behavior, that's why I'm asking for help.

[2022-03-01 12:47] attenzione commented on #3360
I tried to reproduce it now and it works as expected with `Bundler 2.3.4`

[2022-03-01 12:55] deivid-rodriguez commented on #3360
Alright, I will close this then. If someone is still seeing issues, please post a reproduction and I will reopen!

[2022-03-01 12:55] #3360 closed

[2022-03-01 12:57] deivid-rodriguez commented on #3188
At some point I added the `status: confirmed` flag, I guess because I confirmed this myself, but I can no longer see any issues here. @chrismo Do you have a reproducible example?

[2022-03-02 09:38] mensfeld commented on #3379
In regards to performance that should not be a problem. Majority of packages are small. Computing all the 446 gems checksums on my average PC took (107MB) took less than 0.2s:

[code]

even with sha256:

[code]

on top of that this could be cached alongside the other metadata so only the first run would need to do it. Unless we want to also ensure consistency of packages present after install to m

[2022-03-02 17:01] jackorp opened #5380 "RubyGems fails with a confusing exception on Ruby 3.1 when gemspec has required_ruby_version."
I'm having a problem or would like to suggest a feature.

My current problem:
RubyGems fails with a confusing exception when the system Ruby version is not within the range of `required_ruby_version` in gemspec.

AFAICT this is a problem of line `load Gem.activate_bin_path('ruby_crash', 'ruby_crash_thing', version)` present in RubyGems generated bin files after installing a gem.

Description of th

[2022-03-02 17:05] deivid-rodriguez commented on #5380
Most likely a duplicate of https://github.com/rubygems/rubygems/issues/4338.

[2022-03-02 17:08] jackorp commented on #5380
Here I am talking about an already installed gem on a system that upgraded Ruby in between.

That linked issue seems to deal with an installation.

[2022-03-02 17:21] jackorp commented on #5380
I see.

Then my question is if the requirement resolving will throw a reasonable exception even on the `load Gem.activate_bin_path('ruby_crash', 'ruby_crash_thing', version)`? I am not that versed in the RubyGems internals.

[2022-03-02 17:26] deivid-rodriguez commented on #5380
Yes. When you use an installed gem, there's a small local dependency resolution that takes place in order to make sure that correct versions if the installed gem dependencies are activated. So when we fix #4338, this resolution should also be correct and you should get a friendly error message like the one you suggested.

[2022-03-02 17:26] #5380 closed

[2022-03-03 04:08] ProsperousHeart commented on #5334
I have the same issue. Windows 11, fresh install. Using Windows Terminal with Ubuntu WSL.

[2022-03-03 13:39] Bertg commented on #3379
Honestly, I think this would be preferable. An attack could also happen agains the local copies of any gem, or the cached values for that matter.

Adding the caching logic would be more work, and the performance is acceptable. So I woud just do the full check each time it is possible.

[2022-03-03 15:07] jume-dev commented on #5269
Hello there,
this is an extremely important feature for me and it halts my migration to ruby 3.1. Any timeline for when this will be implemented?
If not prioritized right now, maybe I can contribute a bit. Can anybody point me in a direction?

[2022-03-04 17:38] sew025 opened #5382 "bundle exec rails server failing :/"
### Describe the problem as clearly as you can

I am getting the error below when I run "bundle exec rails server." I successfully ran all of the preceding steps including bundle rake db:create, bundle rake db:migrate, and RAILS_ENV=test bundle exec rake db:create db:migrate.

#<Thread:0x000000010f8cd858 lib/discourse.rb:988 run> terminated with exception (report_on_exception is true):
/Users/usr/

[2022-03-04 17:43] sew025 commented on #5382
Here are the steps I used that got me there:

Steps I used to get here:

bash <(curl -s https://raw.githubusercontent.com/techAPJ/install-rails/master/mac)

git clone https://github.com/discourse/discourse.git ~/discourse

(bundle install in cd ~/discourse wasn't working so had to update ruby)

brew install ruby

brew link --overwrite ruby (now running ruby 3.1.0)

cd ~discourse

export GEM_PATH=$

[2022-03-04 20:59] shawnacscott commented on #5351
It appears this issue has a resolution already, but I didn't see the requested small reproduction case. I am able to reproduce this issue with this script:

[code]

Notably, I do not use RVM. Instead, I rely on Rbenv.

Here is my `bundle env`:

## Environment

[code]

## Bundler Build Metadata

[code]

## Bundler settings

[code]

[2022-03-04 21:01] deivid-rodriguez commented on #5351
Thank you, no not yet, we know the culprit and I will revert the offending commit for 2.3.9, but having a reproducible case is very useful so that we can cover the fix with a regression spec. Thanks so much!

[2022-03-04 21:02] deivid-rodriguez commented on #5382
This does not seem related to rubygems, why did you report the issue here?

[2022-03-05 06:52] eureka7000 opened #5384 "Permission errors when running `bundle install`"
Unfortunately, an unexpected error occurred, and Bundler cannot continue.

First, try this link to see if there are any existing issue reports for this error:
https://github.com/rubygems/rubygems/search?q=Permission+denied+%40+dir_s_mkdir+-+%2FUsers%2Feureka7000%2F.rbenv%2Fversions%2F2.7.0%2Flib%2Fruby%2Fgems%2F2.7.0%2Fextensions%2Fx86_64-darwin-21%2F2.7.0%2Fracc-1.6.0&type=Issues

[2022-03-05 07:35] eureka7000 commented on #5384
--- ERROR REPORT TEMPLATE -------------------------------------------------------

[code]

## Environment

[code]

## Bundler Build Metadata

[code]

## Bundler settings

[code]

## Gemfile

### Gemfile

[code]

### Gemfile.lock

[code]

--- TEMPLATE END ----------------------------------------------------------------

Unfortunately, an unexpected error occurred, and Bundler cannot continue.

Firs

[2022-03-05 11:02] deivid-rodriguez commented on #5351
@shawnacscott I can not reproduce the issue using the same Ruby, RubyGems and Bundler version that you are using. Can you share the list of gems you have installed locally? (`gem list`)

[2022-03-07 11:42] aaronjensen opened #5385 "Bundler fetches gemspec for every version of every private gem when using github as a source as of 2.3.5"
### Describe the problem as clearly as you can

Bundler fetches gemspec for every valid version of gem that uses github has a source as of bundler 2.3.5. Version 2.3.4 does not exhibit this problem.

### Did you try upgrading rubygems & bundler?

Yes

### Post steps to reproduce the problem

Ruby 3.1.1
Bundler 2.3.8

[code]

### Which command did you run?

[code]

### What were you expecting to ha

[2022-03-07 11:53] aaronjensen commented on #5385
This looks like it could be the cause: https://github.com/rubygems/rubygems/pull/5256

[2022-03-07 14:41] deivid-rodriguez commented on #5385
Oh, that's right.. ;(

In order to fix the related issue and have a correct resolution in general in these cases, we made things slower.

I see no good solution here other than custom servers like gemstash or geminabox implementing the latest dependency API which includes providing `required_ruby_version` and `required_rubygems_version` information (I have no idea what GitHub packages use under th

[2022-03-07 14:54] aaronjensen commented on #5385
@deivid-rodriguez that is very unfortunate. It essentially makes these versions of bundler unusable for us. We delete Gemfile.lock every time we install and do not pin unless we must. In one of our projects it takes about 5 minutes to bundle install.

Is it possible to make this configurable in some way or get the versions one at a time (latest first) and only get older versions if resolution cant

[2022-03-07 15:23] deivid-rodriguez commented on #5385
I would personally prefer things to move forward in the way I suggested: custom servers implementing the proper APIs to get correct and fast resolution. I would rather put dedicate effort to that over anything else, the new API has been there for a long time and it's very well established now, so it should be implemented by custom servers.

In the mean time, I would suggest to stick to older Bundl

[2022-03-07 15:27] aaronjensen commented on #5385
I opened a support ticket against GitHub since it's the only one that matter to us at the moment.

I won't get into why we delete Gemfile.lock, but even if we didn't, we'd still have the initial slow install and every upgrade we do would be impacted (we do this several times a day often).

Do you know how I can prefer an old version of bundler even when the newer is installed as a default gem (as

[2022-03-07 15:30] aaronjensen commented on #5385
Found it: `gem update --system 3.3.4`

[2022-03-07 15:30] deivid-rodriguez commented on #5385
If you used a `Gemfile.lock` file, Bundler would respect automatically the version you have under the `BUNDLED WITH` section there. Since you don't, you can run `bundle _<desired_version>_ <command>`.

[2022-03-07 15:38] deivid-rodriguez commented on #5385
Yep, that will downgrade both RubyGems and Bundler and do the trick too.

Keep us posted on GitHub's response, it would be great that they implemented this, or at least know more about their infrastructure so that we know where we need to focus our effort to move this forward.

Sure, I was only mentioning that because you mentioning it in the first place :) depending on how you do upgrades, someti

[2022-03-07 15:40] aaronjensen commented on #5385
Will do, thank you.

[2022-03-07 19:02] deivid-rodriguez commented on #5351
Alright, I managed to reproduce this locally using

[code]

I'll try to reproduce this error in CI, so that it fails without the revert.

[2022-03-07 20:21] pond commented on #5338
Any further progress or more thoughts on this?

[2022-03-07 20:39] deivid-rodriguez commented on #5338
No, just that I plan to work on this soon.

[2022-03-07 21:39] deivid-rodriguez commented on #5351
Alright I managed to reproduce this error in CI: https://github.com/rubygems/rubygems/runs/5455765474?check_suite_focus=true. Tomorrow I will get the fix ready!

[2022-03-07 22:46] tanelsuurhans commented on #5351
Getting this error on bundler 2.3.8 and rubygems 3.3.8 - no RVM etc, Ruby 2.5.8 compiled straight from source. Happens in `from /usr/lib/ruby/site_ruby/2.5.0/rubygems/core_ext/kernel_require.rb:167:in `require'`

[2022-03-09 08:20] POLILAN opened #5387 "BUNDLE INTALL PROBLEM"
### Describe the problem as clearly as you can

### Did you try upgrading rubygems & bundler?

### Post steps to reproduce the problem

### Which command did you run?

### What were you expecting to happen?

### What actually happened?

### If not included with the output of your command, run `bundle env` and paste the output below

[2022-03-09 08:21] #5387 closed

[2022-03-09 11:01] #5351 closed

[2022-03-09 19:01] lstrojny opened #5391 "Regression in bundler v2.3.9 with local installation"
Installing dependencies like this too keep things local:

[code]

With v2.3.8 this works just fine, with v2.3.8 we get this:

[code]

Skimming through the diff I suspect https://github.com/rubygems/rubygems/pull/5386 but I could of course be wrong.

[2022-03-09 19:46] ddufordithaka2 commented on #5290
I have stumbled across this error using Bundler 2.3.7, It does happen consistency for me and I am downgrading Bundler to get past it, but that is only a temporary fix.  Unfortunately I am not really able to give step to reproduce as of yet, but let me know any more information you would like and I will see what I can get.
`^^^^^^^^^^^^^^
  /usr/local/bundle/gems/bundler-2.3.7/lib/bundler/lazy_spec

[2022-03-09 19:46] deivid-rodriguez commented on #5391
Oh no, did I mess this up again 🙈?? I can't imagine anything other than #5386 to be the cause. If you change bundler sources to revert https://github.com/rubygems/rubygems/pull/5386/commits/690f2d54c5c884ebd0608e76d0174003aeaf9ae0, does it work again?

[2022-03-09 19:50] deivid-rodriguez commented on #5290
I see this is under an alpine docker image? I guess that should make it easier to reproduce. Can you try upgrading to bundler 2.3.9 just in case?

[2022-03-09 19:57] ddufordithaka2 commented on #5290
Ok Bundler 2.3.9 does not seem to other a solution.

^^^^^^^^^^^^^^
  /usr/local/bundle/gems/bundler-2.3.9/lib/bundler/lazy_specification.rb:95:in `block in __materialize__'
  /usr/local/bundle/gems/bundler-2.3.9/lib/bundler/lazy_specification.rb:92:in `select'
  /usr/local/bundle/gems/bundler-2.3.9/lib/bundler/lazy_specification.rb:92:in `__materialize__'
  /usr/local/bundle/gems/bundler-2.3.9/li

[2022-03-09 20:01] deivid-rodriguez commented on #5290
Ok, then as I replied to the previous person that run into this, I'd need a way to reproduce the issue in order to help. At least now we know that this is still happening with the latest Ruby, RubyGems and Bundler, which is something we didn't know before.

[2022-03-09 23:12] octaviosml opened #5392 "error while executing gem"
I'm having a problem or would like to suggest a feature.

My current problem is ___ERROR:  While executing gem ... (Gem::RemoteFetcher::FetchError)______

This issue is related to:

  - [ ] Network problems
  - [ ] Installing a library
  - [ ] Publishing a library
  - [ ] The command line `gem`
  - [ ] Other

Here are my current environment details:

[code]

I will abide by the [code of conduct](h

[2022-03-10 01:46] hsbt commented on #5392
Ruby 2.2 is EOL status now. Can you try the latest version of [RubyInstaller](https://rubyinstaller.org/downloads/)?

[2022-03-10 01:46] #5392 closed

[2022-03-10 13:37] aaronjensen commented on #5385
From GitHub:

[2022-03-10 13:41] deivid-rodriguez commented on #5385
That's great, thanks!

[2022-03-10 14:50] deivid-rodriguez commented on #5391
I'm also really at loss. The diff between versions is very small: https://github.com/rubygems/rubygems/compare/v3.3.8...v3.3.9, I can't think of anything else that could affect this.

Let me know if you find the culprit.

[2022-03-10 17:21] lstrojny commented on #5391
Closing this, I am too much of a noob. So turns out my rubygems version is so old, that it still requires the bundler version in  the Gemfile.lock to match the bundler version installed. That’s the culprit, so basically what is described [here](https://bundler.io/blog/2019/05/14/solutions-for-cant-find-gem-bundler-with-executable-bundle.html).

Closing this.

[2022-03-10 17:21] #5391 closed

[2022-03-10 18:51] SkipKayhil opened #5393 "Confusing dependency resolution error"
I'm having a problem or would like to suggest a feature.

My current problem is I'm getting a confusing error when trying to install edge rails locally:

[code]

I would expect `7.1.0.alpha >= 4.2.0` to be true, and I tried this with `Gem::Version`s and got the result I expected:
[code]

This issue is related to:

  - [ ] Network problems
  - [x] Installing a library
  - [ ] Publishing a library

[2022-03-10 19:34] SkipKayhil commented on #5393
[code]

Looking at the resolver logs, it looks like the local `activesupport-7.1.0.alpha` doesn't end up in the list of possibilities for `activesupport >= 4.2.0` (from `rails-dom-testing`) but it is in the list of possibilities for `activesupport = 7.1.0.alpha` (from `actionview`)

[2022-03-10 21:10] deivid-rodriguez commented on #5391
Oh, right, I'm glad you sorted it out!

[2022-03-10 21:18] deivid-rodriguez commented on #5393
It seems like a bug. It appears that the `activesupport >= 4.2.0` requirement is not considering prereleases when it should.  I'll have a look.

[2022-03-11 01:30] timsutton commented on #5351
Thank you so much for addressing this issue, even though the underlying issue is caused by an older gem and not part of Rubygems's own distribution!

[2022-03-11 07:41] deivid-rodriguez commented on #5351
No problem @timsutton! In the end the issue turned out to be more widespread and reproducible without this RVM old gem. That made it more clear that we needed to address this :)

[2022-03-11 18:03] deivid-rodriguez commented on #5332
Never seen again, will close for now.

[2022-03-11 18:03] #5332 closed

[2022-03-12 15:49] smaranh opened #5395 "Error was thrown when I ran `rails new new-app`"
--- ERROR REPORT TEMPLATE -------------------------------------------------------

[code]

## Environment

[code]

## Bundler Build Metadata

[code]

## Bundler settings

[code]

## Gemfile

### Gemfile

[code]

### Gemfile.lock

[code]

--- TEMPLATE END ----------------------------------------------------------------

[2022-03-12 16:05] smaranh commented on #5395
Maybe this issue is resolved in the latest ruby version 3.1.1. I didn't have to run `sudo gem install rails`, which I had to with ruby version 3.0.3. With version 3.1.1 I can run `gem install rails`.

[2022-03-12 16:05] #5395 closed

[2022-03-13 13:06] mhnaufal commented on #5334
In Windows, use command prompt (cmd) don't Windows Terminal

[2022-03-13 15:01] jsierles commented on #3379
I'd also like this for Nix support. Tools like [dream2nix](https://github.com/nix-community/dream2nix) would benefit greatly from having this information up front.

[2022-03-15 07:22] hackexgamers opened #5402 "rubygems installing issue"
### Describe the problem as clearly as you can

### Did you try upgrading rubygems & bundler?

### Post steps to reproduce the problem

### Which command did you run?

### What were you expecting to happen?

### What actually happened?

### If not included with the output of your command, run `bundle env` and paste the output below

[2022-03-15 07:24] #5402 closed

[2022-03-15 16:58] beornborn commented on #4615
`sudo xcode-select --switch /` helped me

[2022-03-16 13:34] mdancho84 commented on #4615
For the win!

[2022-03-17 12:26] rlaunemacedo commented on #3068
Resolvi com o comando:
sudo gem update --system 3.0.6

[2022-03-17 12:35] Akel135 opened #5403 "EROR permission denied"
[code]

## Environment

[code]

## Bundler Build Metadata

[code]

## Gemfile

### Gemfile

[code]

### Gemfile.lock

[code]

--- TEMPLATE END ----------------------------------------------------------------

[2022-03-18 20:24] jessebs opened #5405 "Unable to marshal gemspecs with YAML"
### Describe the problem as clearly as you can

This is a doozy and I'm not exactly sure what caused this to pop up - it could be bundler 2.3.9 or there could have been a change on our build stack that brought this to light.

When dependency resolution is done through a full index (downloading gemspec.rz files), there is a condition within the published gemspecs that prevents parsing and prevents

[2022-03-18 23:04] julio336 opened #5407 "Operation not permitted - getcwd (Errno::EPERM)"
I'm having a problem or would like to suggest a feature.

My current problem is _________

After trying to configure a simple cron job with the Whenever Gem, I get this error:

Users/<username>/.rvm/rubies/ruby-3.0.0/lib/ruby/site_ruby/3.0.0/rubygems/bundler_version_finder.rb:54:in `pwd': Operation not permitted - getcwd (Errno::EPERM)
    from /Users/<username>/.rvm/rubies/ruby-3.0.0/lib/ruby/sit

[2022-03-19 12:36] deivid-rodriguez commented on #5405
This is my bad, I most likely introduced this with https://github.com/rubygems/rubygems/pull/5277. Will fix!

[2022-03-19 17:06] jessebs commented on #5405
It sounds like that’s probably the problem. Thanks for addressing this so quickly.

[2022-03-20 08:41] mister-vrionz opened #5408 "When I run msfconsole I get this error"
/data/data/com.termux/files/usr/lib/ruby/gems/3.1.0/gems/zeitwerk-2.5.1/lib/zeitwerk/kernel.rb:35:in `require': cannot load such file -- net/ftp (LoadError)
        from /data/data/com.termux/files/usr/lib/ruby/gems/3.1.0/gems/zeitwerk-2.5.1/lib/zeitwerk/kernel.rb:35:in `require'
        from /data/data/com.termux/files/usr/lib/ruby/gems/3.1.0/gems/dnsruby-1.61.7/lib/dnsruby/dnssec.rb:17:in `<top

[2022-03-20 10:27] deivid-rodriguez commented on #5408
Hello, I don't see any traces of RubyGems or Bundler here. Why are you reporting this to our repository? Thanks.

[2022-03-20 10:32] mister-vrionz commented on #5408
Cuz I don't know where to report it. :((

[2022-03-20 10:39] deivid-rodriguez commented on #5408
Oh I see that you completely edited the issue now 🤣

Since it's msfconsole commands that is giving you trouble, I suggest reporting it to msfconsole project. Even if it's not their issue, they might be able to guide you better.

[2022-03-21 10:37] kukicivan opened #5409 "Unfortunately, an unexpected error occurred, and Bundler cannot continue."
RUBY VERSION
   ruby 2.7.5p203

BUNDLED WITH
   2.2.15
[code]

[2022-03-21 10:42] simi commented on #5409
@kukicivan hello, It seems you have pasted only end of the template. There is not enough info to help you. Can you please copy and paste here the whole error template block (starting with `--- ERROR REPORT TEMPLATE -------------------------------------------------------` ending with `--- TEMPLATE END ----------------------------------------------------------------`?

[2022-03-21 17:44] junaruga opened #5411 "The test/rubygems/test_gem_ext_cargo_builder trigger the errors when cargo is not installed"
I'm having a problem.

My current problem is the `test/rubygems/test_gem_ext_cargo_builder.rb` finishes with error when the `cargo` command is not installed. I think the pending is ok, but the error is problem.

[code]

This error doesn't happen when the `cargo` is installed and running the following commands.

[code]

This issue is related to:

  - [ ] Network problems
  - [ ] Installing a librar

[2022-03-21 18:43] junaruga commented on #5411
Sorry I am not interested in contributing this.

[2022-03-21 21:23] junaruga commented on #5411
I changed my mind. I will take a look at it later.

[2022-03-22 00:07] rquant commented on #2157
Thanks this was very helpful. I had a similar trying to update bundler gem from 2.1.4 to 2.3.9.

Running `gem info bundler` produces
[code]

The [above solution](https://github.com/rubygems/rubygems/issues/2157#issuecomment-361848548) worked for me, but required one additional step (I use rbenv as my ruby manager):

[code]

I had to reinstall _after_ removing the gemspec for the outdated version.

[2022-03-22 07:38] Madow92 opened #5412 "Rubygems"

[2022-03-22 07:40] Madow92 opened #5413 "Rubygems"
https://github.com/rubygems/rubygems/releases/tag/v3.3.9

[2022-03-22 08:01] #5413 closed

[2022-03-22 08:01] #5412 closed

[2022-03-22 08:44] shantanupatilp commented on #5409
--- ERROR REPORT TEMPLATE -------------------------------------------------------
[code]

## Environment

[code]

## Bundler Build Metadata

[code]

## Bundler settings

[code]

## Gemfile

### Gemfile

[code]

### Gemfile.lock

[code]
                                                                            ## Gemspecs

### metasploit-framework.gemspec
[code]

[2022-03-22 08:49] simi commented on #5409
@shantanupatilp this seems unrelated to the original problem. In your case stacktrace is missing the main part, but looking at the `https://github.com/rubygems/rubygems/search?q=could+not+find+a+temporary+directory&type=Issues` part of your problem, it seems there was problem finding writable temporary directory. Are you running the code at read-only filesystem?

[2022-03-22 08:50] shantanupatilp opened #5414 "Unfortunately,An unexpected error occurred , and Bundler cannot continue"
--- ERROR REPORT TEMPLATE -------------------------------------------------------
[code]

## Environment

[code]

## Bundler Build Metadata

[code]

## Bundler settings

[code]

## Gemfile

### Gemfile

[code]

### Gemfile.lock

[code]
                                                                            ## Gemspecs

### metasploit-framework.gemspec
[code]

[2022-03-22 08:52] shantanupatilp commented on #5409
I dont know my file system is read only or writable 😅

[2022-03-22 09:00] simi commented on #5414
I have replied to this problem at https://github.com/rubygems/rubygems/issues/5409#issuecomment-1074892448.

Can you try this simple code to confirm? If I understand it well, it returns error on your side.

[code]

You can fix this by providing temp dir location manually using `TMPDIR` env variable. Just point it out to any place you can write to.

[code]

Once this code is happy about the TMPDIR,

[2022-03-22 09:05] shantanupatilp commented on #5414
@simi this came out

 system temporary path is world-writable: /data/data/com.termux/files/usr/tmp
. is world-writable: /data/data/com.termux/files/home
/data/data/com.termux/files/usr/lib/ruby/gems/3.1.0/gems/bundler-2.3.9/lib/bundler/vendor/tmpdir/lib/tmpdir.rb:39:in `tmpdir': could not find a temporary directory (ArgumentError)
        from -e:1:in `<main>'
bash: /home/retro: No such file or di

[2022-03-22 09:07] simi commented on #5414
@shantanupatilp you need to use `/data/data/com.termux/files/usr/tmp` instead of `/home/retro`. That was just an example from my system.

[code]

[2022-03-22 12:42] shantanupatilp commented on #5414
Thank You It Fixed The Issue ☺️

[2022-03-22 12:43] simi commented on #5414
@shantanupatilp my honor. Feel free to close this issue if your problem got fixed.

[2022-03-22 12:44] shantanupatilp commented on #5414
Yup

[2022-03-22 12:44] #5414 closed

[2022-03-22 17:29] jenshenny opened #5417 "Add the ability to push multiple gems"
Part of the [MFA RFC](https://github.com/rubygems/rfcs/pull/36/files#diff-3d5cc3acc06fe7e9150fdbfc43399c5ad42572c122187774bfc3a4857df524f1R42-R44).

Adding the ability to push multiple gems on `gem push` reduces friction for gem owners that own and publish many gems at a time. Instead of entering an OTP code for each gem for those who have MFA enabled, an owner can run `gem push` with multiple gem

[2022-03-23 10:11] goldenprovider opened #5418 "Unfortunately, an unexpected error occurred, and Bundler cannot continue."
--- ERROR REPORT TEMPLATE -------------------------------------------------------

[code]

## Environment

[code]

## Bundler Build Metadata

[code]

## Gemfile

### Gemfile

[code]

### Gemfile.lock

[code]

--- TEMPLATE END ----------------------------------------------------------------

[2022-03-23 10:40] belabonga opened #5421 "Error found"
[code]

## Environment

[code]

## Bundler Build Metadata

[code]

## Gemfile

### Gemfile

[code]

### Gemfile.lock

[code]

[2022-03-23 15:53] jugdx opened #5422 "NoMethodError: undefined method `full_name' for nil:NilClass bug that should have been fixed"
Hello there 👋🏼 ,

### Context

I post here an error that should have been fixed since December last year, but it seems that we can still have it.
[Here](https://github.com/rubygems/rubygems/pull/5092) is the fix I'm talking about.
This should have been integrated in the [2.2.33](https://github.com/rubygems/rubygems/releases/tag/bundler-v2.2.33) version. We are using the [2.3.9](https://github.com/

[2022-03-23 16:02] deivid-rodriguez commented on #5422
Thanks, can you post steps to reproduce the issue?

[2022-03-23 16:33] Undo1 commented on #5422
I just saw this on a common Rails webapp, on bundle install after adding the Stripe gem. Same traceback, bundler v2.3.6.

Apple Silicon / macOS 12.3; everything worked yesterday. Private project so I won't just paste the error report, but I'll grab anything specific out of it you want.

[2022-03-24 09:13] jugdx commented on #5422
@deivid-rodriguez : I'm very sorry but I can't do any repo with that content as this repo is owned by my company and the content is private!
And Yes, this is only reproductible under Github Actions...

@Undo1 : I'm gonna test your solution and let you know if it worked and fixed the issue. 🙏🏼

[2022-03-24 09:32] deivid-rodriguez commented on #5422
@jugdx I'm not asking you to make your private repo public, but you have already published your `Gemfile` and configuration, I'm asking you to extract that (and anything else needed) to a minimal repository that reproduces the issue.

[2022-03-24 09:56] jugdx commented on #5422
Ok sorry! I got it.
I won't have time until this week-end but I'll try to do it asap.
Thanks for your help.

[2022-03-24 11:52] hsbt commented on #5411
I got the similar errors with ruby/ruby repo.

https://github.com/ruby/ruby/pull/5669/checks?check_run_id=5675458282

[2022-03-24 12:11] deivid-rodriguez commented on #5409
It sounds like this is a duplicate of #5422, so I'll close in favor of that one.

Regarding @shantanupatilp's issue, a workaround has been provided and #5423 should completely fix the problem since if we don't depend on `tmpdir`, we can't fail to find a tmpdir.

[2022-03-24 12:11] #5409 closed

[2022-03-24 14:03] hit3612 opened #5430 "Unfortunately, an unexpected error occurred, and Bundler cannot continue."
### Describe the problem as clearly as you can

### Did you try upgrading rubygems & bundler?

### Post steps to reproduce the problem

### Which command did you run?

### What were you expecting to happen?

### What actually happened?

### If not included with the output of your command, run `bundle env` and paste the output below

[2022-03-24 14:08] #5430 closed

[2022-03-24 14:14] deivid-rodriguez commented on #5407
Ni idea what's going on here. Can you reproduce this consistently?

[2022-03-24 14:15] deivid-rodriguez commented on #5403
I think the RubyGems upgrade should fix this, so I'll close this. If you upgrade and still have issues, please reopen!

[2022-03-24 14:15] #5403 closed

[2022-03-24 14:17] #5382 closed, assigned to nobody

[2022-03-24 14:20] deivid-rodriguez commented on #5421
Seems the same as #5384, I'll centralize the fix there.

[2022-03-24 14:21] deivid-rodriguez commented on #5370
Closing due to lack of feedback.

[2022-03-24 14:21] #5370 closed

[2022-03-25 11:25] jugdx commented on #5422
We have a workaround ( @Undo1 ) you put us on the way.

[code]
We set the `bundler-cache` to false!
But it didn't fixed everything! By doing so, the `bundle install` command is not called anymore.
So I just called it in the following `_setup.sh`

[code]

(CC: @deivid-rodriguez ! Do you still need a fake repo with the minimu if I end up to the same error or these steps to fix/have a workaround are

[2022-03-25 12:35] deivid-rodriguez commented on #5422
Thanks @jugdx!

It does provide some clues but definitely some machine independent repro steps, or a minimal public repository where the issue can be seen would be best.

Something that can be done right now is provide a better error message when this issue happens that doesn't end up calling a method on `nil` but instead informs of the specific gem name & version that failed to be materialized. I

[2022-03-26 12:52] okuramasafumi opened #5431 "Creating CAPITAL_NAME gem should produce warning"
### Describe the problem as clearly as you can

https://guides.rubygems.org/name-your-gem/
Here in the guide, it says:

However, we CAN generate capital-named gem with `bundle gem CAPITAL_NAME` command.

### Did you try upgrading rubygems & bundler?

I confirmed the problem with `Bundler version 2.3.10`

### Post steps to reproduce the problem

`bundle gem CAPITAL_NAME`

### Which command did you

[2022-03-26 14:12] bkuhlmann commented on #5417
:bulb: You might want to consider using [Gemsmith](https://www.alchemists.io/projects/gemsmith) since automatic 2FA auth is built in by default. I write about this in [detail here](https://www.alchemists.io/articles/ruby_gems_multi_factor_authentication).

[2022-03-27 12:37] simi commented on #5431
Would you mind to contribute this? I think this can be handled as part of `ensure_safe_gem_name` method in `gem` command. Warning (using `Bundler.ui.warn`) would be ok IMHO.

https://github.com/rubygems/rubygems/blob/a61b3611554db41022dd7f75907213ccbf2c06f9/bundler/lib/bundler/cli/gem.rb#L391

[2022-03-27 14:25] okuramasafumi commented on #5431
@simi Thanks, I opened a PR!
https://github.com/rubygems/rubygems/pull/5432

[2022-03-27 22:57] sangam14 opened #5433 "issue with jeklly"
sudo gem install rake && bundle install  3m 10s
Password:
Fetching rake-13.0.6.gem
Successfully installed rake-13.0.6
Parsing documentation for rake-13.0.6
Installing ri documentation for rake-13.0.6
Done installing documentation for rake after 1 seconds
1 gem installed
Fetching gem metadata from https://rubygems.org/.........
Resolving dependencies...
Your lockfile was created by an old Bundler t

[2022-03-28 00:41] hsbt commented on #5417
This is better than nothing.

But I have over the 50+ gems and the general publish tool is `rake release` with bundler task each project dir, not push the multiple gems with `gem push`.

[2022-03-28 15:57] junaruga commented on #5411
I think we need to create the fixture directory `test/rubygems/test_gem_ext_cargo_builder/rust_ruby_example` directory path not from `__FILE__` but from a common directory variables. Is there a variable such as in `test/rubygems/helper.rb` to refer?

[2022-03-28 16:01] junaruga commented on #5411
The command below with the full path for `__FILE__` works.

[code]

[2022-03-28 16:14] ShockwaveNN opened #5435 "Add more details to error if gem version in `Gemfile.lock` is not compatible with current ruby version"
### Describe the problem as clearly as you can

This issue is a result of https://github.com/grosser/parallel_tests/issues/846#issuecomment-1080782798

`parallel_tests` dropped support of `ruby-2.6` in `parallel_tests-2.8.0`
But if you Gemfile.lock frozen on newer version error message for `bundler install` looks like this version is `yanked`, not like `your ruby is not supporting this version of

[2022-03-28 16:22] junaruga commented on #5411
Do you like changing the document below like this?

[code]

You may find other test errors by a command below.

[code]

[2022-03-28 17:48] deivid-rodriguez commented on #5435
Thank you, that's such an unfortunate error indeed, I will try to fix this.

[2022-03-28 17:55] deivid-rodriguez commented on #5435
Also, in non frozen mode, I would actually expect this to just work and update the `Gemfile.lock` to use an older version of `parallel_tests` that does work with Ruby 2.6.

[2022-03-29 06:49] ShockwaveNN commented on #5435
I think it will be a correct behavior but still some warning still be shown

Something like

[code]

[2022-03-29 14:09] junaruga commented on #5411
My idea is maybe that the rubygems needs a file to manage static paths used in tests such as `bundler/spec/support/path.rb` in Bundler. Then we can get a patch such as `test/rubygems/test_gem_ext_cargo_builder/rust_ruby_example` without `__FILE__`.

[2022-03-29 14:10] junaruga commented on #5411
Note the following test files are failed running the script below.

[code]

[code]

[2022-03-29 14:21] simi commented on #5411
Hello @junaruga thanks for the details. I can confirm I can reproduce those and I was wondering recently what's the problem. I was able to trace it down to `__FILE__` change per different executing of tests, but I wasn't able to collect more details.

As you mentioned bundler spec path helper...

https://github.com/rubygems/rubygems/blob/a61b3611554db41022dd7f75907213ccbf2c06f9/bundler/spec/suppor

[2022-03-29 17:49] joe-sharp opened #5436 "`bundle remove` does not run install, with or without deprecated flag"
### Describe the problem as clearly as you can

During my testing I have found that `bundle remove` does not change lockfiles. Not sure if it worked for a while or not, but I did find the [merged PR](https://github.com/rubygems/rubygems/pull/4889) and [closed issue](https://github.com/rubygems/rubygems/pull/4891) where the `--install` flag was deprecated. I think I have tested on most Bundler vers

[2022-03-29 18:19] junaruga commented on #5411
@simi , sure. I only fixed the issue in `test/rubygems/test_gem_ext_cargo_builder.rb` by the way you suggested. Here is the PR, https://github.com/rubygems/rubygems/pull/5437 . If you are ok with the way, I will try to fix other test files too.

[2022-03-29 19:32] #5433 closed

[2022-03-29 22:56] bkuhlmann opened #5438 "Fix gem push when using private gem server and custom gemspec metadata"
## Overview

Hello. :wave: I'm experiencing an issue where publishing to a private gem server (i.e. [GitHub Packages](https://docs.github.com/en/packages/working-with-a-github-packages-registry/working-with-the-rubygems-registry)) doesn't work when leveraging the `allowed_push_key` and `allowed_push_host` metadata keys. I'd like to do the following and let my gemspec metadata supply what is missin

[2022-03-29 22:56] camilo-Grability commented on #2956
I had the same problem and it was solved when I looked at where my files were located, you must be in the base directory so that it can be installed correctly

[2022-03-29 23:15] simi commented on #5438
Why do you think `allowed_push_key` metadata works? I'm can't find anything related. You can create key having same name as the host and it will be selected be default.

That means in your case to have this content in credentials file.

[code]

Anyway I think it will make sense to get this somehow configured only once instead of current 3 places (gem sources, credentials and bundler via settings o

[2022-03-29 23:41] bkuhlmann commented on #5438
:bow: Ah, drat, your response jogged my memory. A very long time ago, I supported the use of `allowed_push_key` via my [Gemsmith](https://www.alchemists.io/projects/gemsmith/#_gem_specification_metadata) gem which automates the publishing of gems. Now, many years later, I'm back to working on private gems again and totally forgot these docs are out of sync.

I'll update my gem documentation shortl

[2022-03-29 23:45] simi commented on #5438
I just found out recently looking into codebase.

https://github.com/rubygems/rubygems/blob/a61b3611554db41022dd7f75907213ccbf2c06f9/lib/rubygems/gemcutter_utilities.rb#L43-L53

Also selecting key based on gem metadata could be dangerous. Host is unified and everyone should push to the same host (important usually for private gems). But key name is somehow unique per used and should not be enforce

[2022-03-30 00:00] bkuhlmann commented on #5438
Ah, yes, that's a nice find....and noted about the security risks of gemspec metadata (good to know). OK, I'm going to update the docs on my side as well. I'll close this issue since it's user error on my part. Thanks!

[2022-03-30 06:59] mpcoulib opened #5439 "access denied"
### Describe the problem as clearly as you can

### Did you try upgrading rubygems & bundler?

### Post steps to reproduce the problem

### Which command did you run?

### What were you expecting to happen?

### What actually happened?

### If not included with the output of your command, run `bundle env` and paste the output below

[2022-03-30 07:04] #5439 closed

[2022-03-30 09:30] deivid-rodriguez commented on #5433
Sorry for not looking into this before, I think this might be a duplicate of https://github.com/rubygems/rubygems/issues/5422, although I cannot yet reproduce it. The setup of this issue seems simpler though, is it reproducible? Did you manage to fix this on your end, and that's why you closed this?

[2022-03-30 13:47] sangam14 commented on #5433
@deivid-rodriguez I did fixed it ! and then closed

[2022-03-30 18:34] deniseli opened #5440 "Unexpected Bundler error"
--- ERROR REPORT TEMPLATE -------------------------------------------------------
# Error Report

## Questions

Please fill out answers to these questions, it'll help us figure out
why things are going wrong.

- **What did you do?**

  I tried to run the proto build step of my service and it failed.

- **What did you expect to happen?**

  I expected Bundler to build my protos.

- **What happened

[2022-03-30 18:38] deniseli commented on #5440
Updating to a newer version of Bundler fixed the issue

[2022-03-30 18:38] #5440 closed

[2022-03-30 19:02] duckinator commented on #5436
hey, thanks for bringing this to our attention!

I did some digging and determined:

- #4891 _does_ look like the correct fix for this.
- According to [CHANGELOG.md](https://github.com/rubygems/rubygems/blob/master/bundler/CHANGELOG.md#2228-september-23-2021), this fix was added in Bundler v2.2.28.
- It [survived into Bundler v2.3.10](https://github.com/rubygems/rubygems/blob/bundler-v2.3.10/bundl

[2022-03-30 20:56] duckinator commented on #5436
Reproduced on Ubuntu 20.04.4 LTS with:

- RubyGems v3.1.6 + Bundler v2.3.8
- RubyGems v3.3.10 + Bundler v2.3.8
- RubyGems v3.3.10 + Bundler v2.3.10

[2022-03-31 18:56] rubyFeedback opened #5442 "[Enhancement / Proposal to `gem` on the commandline] Change the format output of "gem list""
When you currently do issue this:

    gem list

You get output like that:

    yaml (default: 0.2.0)
    zeitwerk (2.5.4)
    zlib (default: 2.1.1)

First, I think it is confusing that some gems are listed via "default:" and others not. Only the version number should be displayed, but this is an aside.

If you use python pip and do "pip list", you get something similar:

    Package     Version

[2022-03-31 18:59] rubyFeedback commented on #5417
This may be a useful change. It could also allow for both "styles", e. g. "continue, even after failure", as well as the other style being "only do it if all gems are pushed", so users could decide on their own.

Personally I don't really need this though. I am very much in the oldschool camp where I upload one gem at a time; takes more time but fewer issues in the long run. (I use ruby scripts to

[2022-03-31 19:20] ariccio commented on #5269
@jume-dev in the meantime just add a plain `gem 'tzinfo-data'` to your gemfile.

[2022-03-31 23:12] duckinator commented on #5436
Still digging into this, still kinda baffled honestly.

I have this setup:

[code]

<details>
<summary>First, I do a <code>bundle install</code></summary>

[code]
</details>

<details>
<summary>Second, I do <code>bundle add a-test-gem</code></summary>

[code]
</details>

So far, so good, right?

<details>
<summary>Third, I run <code>bundle remove a-test-gem</code></summary>

[code]
</details>

But

[2022-03-31 23:15] duckinator commented on #5436
I changed `Bundler::CLI::Remove#run` to this:

[code]

But, interestingly, it confirms that it _was_ removed on disk. I'm not sure what to make of this.

[code]

[2022-03-31 23:23] duckinator commented on #5436
Part of what `bundle install` runs is this:

[code]

which _is_ different than what `bundle remove` does, although it uses the same function:

[code]

Unsure if this is significant.

[2022-03-31 23:30] duckinator commented on #5436
I think I determined the problem:

`Bundler::Injector.inject(...)`, used by `bundle add ...`, explicitly updates the lockfile.

`Bundler::Injector.remove(...)`, used by `bundle remove ...`, does NOT appear to update the lockfile.

In theory, I have an idea to test this &mdash; but if it works more work will need to be done another day to make a proper fix, write tests, etc.

[2022-03-31 23:37] duckinator commented on #5436
I WAS ON THE RIGHT TRACK, THOUGH! I have a fix!

Working on cleaning it up and at least starting a WIP PR; will need to add tests and such, though, and not sure I can get to that today.

[2022-03-31 23:43] duckinator commented on #5436
It works:

[code]

[2022-04-01 00:00] duckinator commented on #5436
@joe-sharp this should be resolved by #5443. That PR still needs tests, so it won't be ready just yet, however.

In the meantime, a workaround is to run `bundle install` after you use `bundle remove ...`.

[2022-04-01 11:23] #5411 closed

[2022-04-01 20:30] carlwiedemann commented on #2731
We were having quite a few problems with this, as we had private gem `foo` which depended on private gem `bar`, but private gem `bar` happened to have a name conflict with a public gem (yes, the name conflict was an oversight on our part).

The fix from https://github.com/rubygems/rubygems/pull/4609 which went in [2.2.18](https://github.com/rubygems/rubygems/blob/master/bundler/CHANGELOG.md#2218-m

[2022-04-02 10:21] junaruga commented on #5411
I think this proposal to make the tests requiring cargo enforceable is not fixed, right?

[2022-04-02 10:24] simi commented on #5411
Not yet, I'm going to move forward in my cargo backlog now since it is unlocked again. Anyway if you're interested in this, feel free to open PR.

[2022-04-04 10:47] elthariel commented on #5276
One way to achieve this is to use the `MAKE` env var:

`MAKE="make -j4" bundle install`

[2022-04-04 11:08] simi commented on #5276
@elthariel that seems related to this line:

https://github.com/rubygems/rubygems/blob/62461d6ab69a12806bf3ee84a454747a7cd3f1e1/lib/rubygems/ext/builder.rb#L27

The problem with "parallel gem install" combined with "parallel make" is (in theory) it can install 4 gem extensions at the same time using `make -j4` which will "utilise" 16 "cores" when only 4 were originally requested.

[code]

[2022-04-04 13:27] dudarenko-io opened #5446 "Bundle install with nexus source crash: "NoMethodError: undefined method `satisfied_by?'""
### Describe the problem as clearly as you can

I've got a crash on bundle install only when using Nexus proxy for gemspecs. If I use Gemfile with rubygems source everything  is fine.
I reduced the scope of a problem to only one gem 'escape'. It seems like the absence of rubygems_requirement in gemspec is the issue.

### Did you try upgrading rubygems & bundler?

Rybugems 3.3.10
Bundler 2.3.10

##

[2022-04-05 12:30] dvodvo opened #5449 "misleading error message regarding the listen gem"
This issue was raised first with `listen` gem and discussed here:

https://github.com/guard/listen/issues/530

It points to an imporvement in error messaging for this particular instance.

[2022-04-05 17:23] ThomasKoppensteiner opened #5450 "Unnecessary Warning about a Gem Listed More than Once"
### Describe the problem as clearly as you can

Bundler shows an unnecessary warning about a gem listed more than once.

You should probably keep only one of them.
Remove any duplicate entries and specify the gem only once.
While it's not a problem now, it could cause errors if you change the version of one of them later.

### Did you try upgrading rubygems & bundler?

[code]

### Post steps to re

[2022-04-05 18:06] hosamaly commented on #5290
I noticed something that may be related: I got this error message before today's failure:
[code]

[2022-04-06 10:02] hurricup opened #5451 "rails `bin/bundle install`: NameError: uninitialized constant Gem::Source"
- OS: Ubuntu 20.04
- Version manager: `chruby`
- Ruby version: `ruby 3.1.1p18 (2022-02-18 revision 53f5fc4236) [x86_64-linux]`
- Bundler version: `2.3.7`
- Gem environment:
[code]

The issue: Unable to run `bundle install` in new rails application

Reproduction steps:
1. Install most recent rails with `gem install rails` (7.0.2.3) is installed
2. Create a new application with `rails _7.0.2.3_ new

[2022-04-06 10:28] hsbt commented on #5451
Can you try with bundler-2.3.10?

[2022-04-06 10:35] hurricup commented on #5451
Yep, it works fine

[2022-04-06 13:30] deivid-rodriguez commented on #5451
Great, closing then!

[2022-04-06 13:30] #5451 closed

[2022-04-06 15:43] jackorp opened #5454 "Security features tests are failing on RHEL 9 / c9s"
Tests related to security features of RubyGems are currently failing during Ruby build in RHEL 9 / CentOS 9 stream.

RHEL 9 / c9s have introduced stricter crypto policies and with that, the SHA1 is disabled by default.
The following tests are failing in this environment, setting the crypto policies to LEGACY instead of DEFAULT makes the tests pass.

What I found the failures have in common are loa

[2022-04-07 08:22] hsbt commented on #5451
I will backport bundler-2.3.11 into Ruby 3.1.2.

[2022-04-10 20:59] grosser opened #5460 "bundler: add option to not allow downgrades"
### Issues
- doing a `bundler update` for a large gemfile takes long even if almost everything is already updated to latest, because bundler goes through all combination of old gems instead of giving up early and complaining
- doing `bundle update` can surface old version of gems that did not declare their dependencies (for example having just `activerecord` instead of a specific version) leading

[2022-04-10 21:04] deivid-rodriguez commented on #5460
Bundler should already be doing this by default under the hood. Can you share your example, so that I can investigate why that's making Bundler faster?

[2022-04-10 21:07] grosser opened #5461 "bundler update stuck in `Resolving dependencies`"
[code]

already ran with `--verbose` but there is nothing showing, just endless dots
(normally bundling takes ~9s)

there needs to be some `--debug` flag or `hey I'm going to look at 1 million combinations now` or maybe some loop detection, but the current state is not debuggable without having to open up bundler source code :(

my current loop was caused by having `gem 'rails', '~> 7.0.0'` and `g

[2022-04-10 21:26] thegreatdayne opened #5462 "bundle install error report generated"
I was having the same issue as this thread [https://github.com/beefproject/beef/issues/2377](url) . The output looked exactly the same. I tried the remedy of commands listed but received a generated error report after executing the final `bundle install` command. I will attach screenshots of the generated report but I warn you there are 14 of them as they include `bundle env` output.

![Uploading

[2022-04-10 21:30] grosser commented on #5460
How can it be doing that by default when I just saw it downgrade my dependencies ?
[code]
... sadly can't share the Gemfile since it's private repo :(

[2022-04-10 21:34] grosser commented on #5460
was able to reproduce: https://gist.github.com/grosser/a8a7bb622325f2484d29b232c8de123e

[2022-04-10 22:19] deivid-rodriguez commented on #5460
Is Bundler downgrading a top level dependency? That shouldn't happen. We do allow downgrading transitive dependencies is necessary to upgrade a top level dependency.

[2022-04-10 22:21] deivid-rodriguez commented on #5461
We should definitely fix this, and your feedback about logging is noticed. Let me centralize this issue at https://github.com/rubygems/rubygems/issues/4539 if you don't mind, since they seem duplicates.

[2022-04-10 22:21] #5461 closed

[2022-04-10 22:22] deivid-rodriguez commented on #5462
Link goes nowhere and you posted no logs either, I'll close this but feel free to edit the issue with more information and reopen.

[2022-04-10 22:24] grosser commented on #5460
that's what I meant though, I want nothing to be downgraded, tell me "could not find a match without downgrading"

[2022-04-10 22:27] thegreatdayne commented on #5462
I don't understand why the link goes nowhere but I'll re-add it. I also am not sure what you mean about there being no logs... Did the screenshots not show?

https://github.com/beefproject/beef/issues/2377

[2022-04-10 22:31] thegreatdayne commented on #5462
Here is a copy and pasted direct from the error report;

-

[code]

## Environment

[code]

## Bundler Build Metadata

[code]

## Bundler settings

[code]

## Gemfile

### Gemfile

[code]

### Gemfile.lock

[code]

--- TEMPLATE END ----------------------------------------------------------------

Unfortunately, an unexpected error occurred, and Bundler cannot continue.

First, try this link to see

[2022-04-10 22:34] simi commented on #5462
It seems it you're trying to install gems to system directory (probably because of using Ruby installed by the system). You need to run `bundle install` using sudo or specify custom path for gems. For example `bundle install --path vendor/bundle` to install gems to `vendor/bundle` directory.

[2022-04-10 22:38] deivid-rodriguez commented on #5460
I see. I'm not clear on the motivation though.

If you want to update some gem `foo`, and tell bundler to do so through `bundle update foo`, we should prioritize updating `foo` since that's what you asked for. `foo` may have detected an incorrect requirement on `bar` that was too loose, and released a new version that disallows the latest `bar`, resulting in downgrading `bar` being needed for upda

[2022-04-10 22:57] thegreatdayne commented on #5462
@simi
The `bundle install --path vendor/bundle` command worked for doing the gems install. It ran without error, thank you.
Unfortunately I still have the same problem as was in the linked thread https://github.com/beefproject/beef/issues/2377
I'll re-post the output here so no one has to go back and forth (everything that happens to be in the above link).
This is the output from using `./install`

[2022-04-10 22:58] deivid-rodriguez opened #5463 "Allow easier upgrade of Rails components (and transitive dependencies in general)"
### Describe the problem as clearly as you can

When Rails release a security fix in, say, `activerecord`, Bundler users are not able to pickup the fix by doing `bundle update activerecord`, if they have a `Gemfile.lock` file locked to an insecure version.

This is because `bundle update activerecord` only "unlocks" (ignores locked version in the `Gemfile.lock` file) the `activerecord` gem and its

[2022-04-10 23:03] deivid-rodriguez commented on #5460
I can see how this option could help troubleshooting slow/infinite resolution issues. However, I believe we should aim to fix these issues, not adding options to workaround them. So I think a first class CLI flag is not a good fit for this, but I would be fine with introducing this behind an environment variable documenting it's there only to help debugging slow resolutions?

[2022-04-10 23:08] thegreatdayne commented on #5462
I am still fairly new to Linux but I think if I get into the installer script and change it somehow.... I think the problem is due to the machine being a Raspberry Pi 4b and possibly the installer script needs a path/directory change.
If I go into the install script and make it recognize that RubyGems is installed, I think the bug will be fixed. I'm just not sure where to look and what portion to

[2022-04-10 23:33] thegreatdayne commented on #5462
It seems that it does not see that I have RubyGems installed. To make it known, I think I need to change the code in the installer due to the machine being a Raspberry Pi 4b but I'm not sure what to change for it to recognize that RubyGems is in fact installed. I can get into the installer script using VIM. Any idea which portion of and what to change in the script?

[2022-04-10 23:41] simi commented on #5462
@thegreatdayne I think you can skip that updated. Install script seems to be part of https://github.com/beefproject/beef/blob/1c395a315305e9e83a2826ece5625a5f11073703/install#L195. Feel free to open an issue in there. It is problem not related to RubyGems. I think we can close this issue since your original problem was solved.

[2022-04-10 23:54] thegreatdayne commented on #5462
Alright, thank you for your help in fixing the issue which was relevant here.
I'll start another thread in the link you provided.
Thanks again and I hope you have a great day!

[2022-04-11 00:23] #5462 closed

[2022-04-11 01:30] simi commented on #5463
Doesn't rails release all gems together? `bundle update rails` should work if I understand it well when new activerecord is released (since also the rails meta gem is updated).

[2022-04-11 05:15] deivid-rodriguez commented on #5463
Yes, of course, `bundle update rails` works, but a user new to Ruby/Rails might not know this detail, I just want to make things easier for people. Rails is just an example to illustrate it, but the idea is generic: if I tell Bundler to upgrade a specific transitive dependency, Bundler should be able to figure things out for me and not force me to analyze the dependency tree myself to figure out w

[2022-04-11 15:21] grosser commented on #5460
env var would also work to have a tool to give to someone that is stuck
I still think a CLI flag could be useful for usecases where someone wants a bot that auto-updates certain gem(s) without accidentally downgrading others

[2022-04-11 21:10] NirinaTanjona commented on #5351
Hi guys, I'm new in ROR and I'm facing this issue too when I run this command
[code]
[code]
here is my bundler env:
## Environment

[code]

## Bundler Build Metadata

[code]

[2022-04-15 02:55] ponessa opened #5471 "Bundle install failure - macOS Monterey v12.2.1"
# Error Report

## Questions

Please fill out answers to these questions, it'll help us figure out
why things are going wrong.

- **What did you do?**

  I ran the command `/usr/local/bin/bundle install`

- **What did you expect to happen?**

  I expected Bundler to re-install.  Originally ran `bundle exec jekyll serve`, which I routinely do but I received the following error:
[code]
  Therefore,

[2022-04-15 13:36] SolaWing commented on #4048
I paste following snippet at end of Gemfile to implement only feature:

[code]
this convert all group except only group to optional groups. so only the `only group` will be required

[2022-04-18 15:27] joeadcock commented on #5414
On the off chance it helps anyone else, I have encountered this problem in a workspace that was shared with Docker, presumably due to permissions.  Renaming/deleting the .bundle folder and running `bundle install` again resolves the issue.

[2022-04-19 03:24] briteming opened #5476 "'gem install json' failed"
I'm having a problem or would like to suggest a feature.
My current problem is:

yudeMacBook-Air:asciidoctor ym$ sudo gem install json -v '2.6.1' --source 'https://rubygems.org/'
Password:
Building native extensions.  This could take a while...
ERROR:  Error installing json:
	ERROR: Failed to build gem native extension.

    current directory: /Library/Ruby/Gems/2.3.0/gems/json-2.6.1/ext/json/ext/

[2022-04-20 02:18] josmhv opened #5478 "error executing rbprettier"
[code]

## Environment

[code]

## Bundler Build Metadata

[code]

## Gemfile

### Gemfile

[code]

### Gemfile.lock

[code]

[2022-04-20 17:02] coldnebo commented on #5435
I just ran into a similar issue with ruby 2.6.8 and bundler 2.3.11 under Debian 11:

[code]

I know for a fact this isn't true.  actioncable 5.1.6.1 exists and has not been yanked.

AFAIK, there is no ruby version constraint for this gem under ruby 2.6.8, can you help me where this error is coming from?  Is there a way to debug or interrogate the constraints?

The devilish thing is that if I go th

[2022-04-20 17:20] deivid-rodriguez commented on #5435
Can you show your `Gemfile.lock` file? Note that the error message says **from locally installed gems**, not form `https://rubygems.org`, so there's chances that your `Gemfile.lock` file is somehow corrupted and the actionable gem is not under the proper section.

This one could be similar to https://github.com/rubygems/rubygems/issues/5067.

[2022-04-20 17:26] coldnebo commented on #5435
Oh! Indeed, the lock file is structured in a weird way... all these gems aren't listed with a source.  Is that something that could happen from an old copy of bundler?  This is old code being updated.  Interesting, I'm removing the lock file and regenerating it just to see what the structure should be and then restoring the original versions.

Sorry, not the same issue at all then! Thanks!

[2022-04-20 17:31] deivid-rodriguez commented on #5435
I'm not sure what the cause could be... In #5067 there's a similar situation created by Bundler itself, after a specific edit to the `Gemfile`, I still need to wrap up the fix for that.

[2022-04-21 08:10] Abid0987 opened #5482 "Doesn't installed"
Bundler 2.3.12 is running, but your lockfile was generated with 2.1.4. Installing Bundler 2.1.4 and restarting using that version.
Fetching gem metadata from https://rubygems.org/.
Fetching bundler 2.1.4
Installing bundler 2.1.4
Calling `DidYouMean::SPELL_CHECKERS.merge!(error_name => spell_checker)' has been deprecated. Please call `DidYouMean.correct_error(error_name, spell_checker)' instead.

H

[2022-04-21 08:13] Abid0987 opened #5483 "Dose not installed"
The gemspec at
/data/data/com.termux/files/home/metasploit-framework/metasploit-framework.gemspec is
not valid. Please fix this gemspec.
The validation error was 'duplicate dependency on net-smtp (>= 0), (>= 0) use:
    add_runtime_dependency 'net-smtp', '>= 0', '>= 0'
'
Fetching gem metadata from https://rubygems.org/.

You have one or more invalid gemspecs that need to be fixed.
The gemspec at
/

[2022-04-21 08:14] hsbt commented on #5482
It's not an error, only warnings. You can ignore it with `bundle update --bundler` maybe.

[2022-04-21 08:14] #5482 closed

[2022-04-21 08:18] Abid0987 commented on #5482
This is not a problem?

On Thu, 21 Apr 2022, 2:14 pm Hiroshi SHIBATA, ***@***.***>
wrote:

[2022-04-21 17:02] tjchambers opened #5484 "Bundler should adhere to Semantic Versioning"
### Describe the problem as clearly as you can

Given that Rubygems recommends that gem owners follow Semantic Versioning guidelines, Bundler should be a good OSS citizen and follow those same guidelines.

### Did you try upgrading rubygems & bundler?

Yes - which led to failures due to public API methods removed in a PATCH release.

### Post steps to reproduce the problem

- install the `bootboot

[2022-04-21 17:19] deivid-rodriguez commented on #5484
Sorry I didn't consider the `RubyVersion` class as a public API.

Basically I only consider the CLI (flags, commands, etc), documented methods in the `Bundler` namespace like `Bundler.with_original_env` and things like that, and actual APIs meant to be used by other libraries (like the plugin API) as official as public API. Internal classes and their methods (public or private) are not considered

[2022-04-21 17:29] tjchambers commented on #5484
I don't personally maintain `bootboot` but have put an issue in there to capture the impact. Note: https://github.com/Shopify/bootboot/issues/40

IMHO it should be clear (either by coding as private or documentation indicating privacy what is subject to change without notice or adherence to Semantic Versioning. In this case it was unclear to me looking at docs and code.

I would prefer bootboot to

[2022-04-21 17:42] deivid-rodriguez commented on #5484
Thanks for the feedback, we should make things more clear in this regard, and note that any method not explicitly documented as public API is not public API. I will provide a PR to bootboot to fix this and will try to be more careful with this in the future in any case.

[2022-04-22 11:45] Eusebius1920 commented on #5422
Fix should be fairly easy:

[In file `lib/bundler/installer/parallel_installer.rb:114`](https://github.com/rubygems/rubygems/blob/2a79490729d6f81d3fe6dc4bf6cddcaa2d4f203b/bundler/lib/bundler/installer/parallel_installer.rb#L124)

it should be:

[code]

Now:
[code]

It can happen that the lockfile is corrupt (which is already checked before in `def check_for_corrupt_lockfile` and thus a dependency

[2022-04-22 11:55] deivid-rodriguez commented on #5422
Thanks, yes, that's what I meant in my previous message. Please provide a PR :)

[2022-04-22 11:59] Stex commented on #5422
Having a better error message will be great and would have saved me a few hours of confusion.

I ran into the same issue when installing gems in a linux docker image on an M1 mac (arm64).

Through local monkeypatching of bundler I finally found out that there simply was no linux-arm64 gem version for one dependency (in my case: `sorbet-static`).

[2022-04-22 12:04] Eusebius1920 commented on #5422
I opened a PR, give me a few minutes to polish it out

https://github.com/rubygems/rubygems/pull/5490

[2022-04-22 12:10] deivid-rodriguez commented on #5422
Thanks @Eusebius1920!

@Stex Can you share the lockfile that was causing this? It would be useful to add a spec for this.

[2022-04-22 12:37] Eusebius1920 commented on #5422
If I run the bundler-spec in master branch (with ruby-3.1.2), I already get a failing test:

[code]

[2022-04-22 12:37] Stex commented on #5422
@deivid-rodriguez I built a small example project: https://github.com/Stex/rubygems-no-method-error-example

The error can be reproduced by building the `Dockerfile` on an M1 machine as there is no matching gem version.

[2022-04-22 12:38] deivid-rodriguez commented on #5422
Both comments are very useful, thanks! I'll have a look at this now.

[2022-04-22 12:59] Eusebius1920 commented on #5422
If you need something, where I can help, drop me a note.

[2022-04-22 14:25] elthariel commented on #5276
@simi You are totally right. In my case, I don't really care saturating the running machine beyond what was request, I'm caring about NOT saturating it :)

But one should be aware of this behavior when deciding to use my tiny hack, so I thank you for that :)

[2022-04-22 15:53] andrewbelu opened #5492 "Issue running bundle install in v2.3.12 - undefined method none? for nil:NilClass"
The following commit seems to have broken my build: https://github.com/rubygems/rubygems/commit/616c866bde964b963044cffdc7bc1444521e6c15

Running bundle install now fails in my build. I am guessing some of my gems don't have the required_ruby_version or required_rubygems_version set. Works as intended in bundle version 2.3.11.

Error is below:
[code]

[2022-04-22 16:22] andrewbelu commented on #5492
I cannot share my Gemfile, I'll just say that I am running my own gem server, and the gems in question are custom ones that do not seem to specify a `required_ruby_version` and `required_rubygems_version`. These are said to be optional in the documentation (https://guides.rubygems.org/specification-reference).

 ## Environment

[code]

 ## Bundler Build Metadata

[code]

[2022-04-22 16:29] deivid-rodriguez commented on #5492
Yes, they are absolutely optional. What I mean is that rubygems sets them to an empty requirement by default when they are not set:

https://github.com/rubygems/rubygems/blob/0061c26db8b3b6c24956bde44cd0b1f834b09009/lib/rubygems/specification.rb#L148-L149

Just to make sure. Can you try upgrading Ruby and/or RubyGems?

[2022-04-22 16:40] andrewbelu commented on #5492
Same issue using Ruby v3.1.2 and RubyGems v3.3.12, which seem to be the latest stable releases of both.

 ## Environment

[code]

 ## Bundler Build Metadata

[code]

[2022-04-22 18:17] Jim-Robbins commented on #5492
The same error started occurring for several of our projects, where we pull from both the public rubygems server as well as an internal `gem-in-a-box` server.

--- ERROR REPORT TEMPLATE -------------------------------------------------------
[code]
## Environment
[code]
## Bundler Build Metadata
[code]
## Bundler settings
[code]
## Gemfile
### Gemfile
[code]
### Gemfile.lock
[code]
--- TEMPLATE EN

[2022-04-22 20:28] Lancelittle commented on #5492
Same issue with `2.3.12` in jruby 9.3.4.0.

No issue's with `2.3.11` though.

[2022-04-23 03:10] hsbt commented on #5492
@andrewbelu Can you reproduce this without `x86_64-linux-musl`? alpine linux is not surppoted by the Ruby language officially.

[2022-04-23 09:36] lifejwang11 commented on #5471
我也遇到同样的问题，这个问题是因为macos自带的Ruby环境导致的，所以需要使用[homebrew](https://brew.sh/)安装一个新的Ruby，然后需要把环境变量设制成新的Ruby和gem，具体操作如下：
1，打开命令行使用homebrew安装Ruby
2，修改`/etc/profile`把ruby路径放入地一行（homebrew安装完成后ruby路径为`/usr/local/opt/ruby/bin`）,gem使用`gem env`查看路径也需要放入其中
3.使用`source /etc/profile`刷新环境变量

I also have the same problem. This problem is caused by the ruby environment of MacOS, so I need to use [homebrew](https://brew.

[2022-04-23 13:26] deivid-rodriguez commented on #5492
It's somehow related to private rubygems servers using gemstash or geminabox, and it's 100% created by https://github.com/rubygems/rubygems/commit/616c866bde964b963044cffdc7bc1444521e6c15. It also seems related to another recent regression: https://github.com/rubygems/rubygems/pull/5447.

I will revert https://github.com/rubygems/rubygems/commit/616c866bde964b963044cffdc7bc1444521e6c15 and further

[2022-04-23 16:15] citrusmoose opened #5493 "weird behavior with stdlib gems and `bundle install --standalone`"
### Describe the problem as clearly as you can

I'm not sure how bundler is supposed to behave with stdlib gems, but I do notice that bundler will flip back and forth between using the stdlib path and using a downloaded version in `setup.rb`.  It was hard to reproduce the exact behavior I'm seeing in my simplified case, but I think it's close enough.

### Did you try upgrading rubygems & bundler?

[2022-04-24 17:24] release-fk opened #5494 "Bundler error with rubygems"
Bundler exiting with non zero code exception

Gem::RemoteFetcher::FetchError: SSL_connect returned=1 errno=0 state=error: certificate verify failed (certificate rejected) (https://oregon.production.s3.rubygems.org.s3-us-west-2.amazonaws.com/gems/rack-1.6.13.gem)

[2022-04-24 17:47] sonalkr132 commented on #5494
Hi. can you please share the command you ran, Gemfile and output of bundle env?

[2022-04-24 20:19] release-fk commented on #5494
[eb-activity.log](https://github.com/rubygems/rubygems/files/8550438/eb-activity.log)

[2022-04-24 21:45] aldent95 commented on #5494
Same issue here.

Looks like some sort of SSL issue.
https://oregon.production.s3.rubygems.org.s3-us-west-2.amazonaws.com/gems/semantic_range-3.0.0.gem
![image](https://user-images.githubusercontent.com/8398954/164997942-4ddc95b4-693f-45d6-9cac-e6882295e083.png)

[2022-04-25 00:26] WilliamDenniss commented on #5494
Same issue.

My browser has the same issue when visiting https://oregon.production.s3.rubygems.org.s3-us-west-2.amazonaws.com/gems/nio4r-2.5.8.gem

`bundle install` will work on the same Gemfile when SSL verification is disabled via
[code]

[2022-04-25 01:28] gtd commented on #5494
I can confirm this problem started in the last week or so.  I ran a `bundle install` that worked on Wednesday.  I uninstalled one gem from the bundle on the same server which hasn't been touched and now I get this error.  Looks like a problem with the bucket name since wildcard certs don't cover nested subdomains, if you use the bucket name as first segment of the path instead of as subdomain then

[2022-04-25 01:38] aldent95 commented on #5494
It's been within the last 24 hours I think. I was running builds fine last night (GMT+12) but today it was broken.

[2022-04-25 02:15] sonalkr132 commented on #5494
Hi, we have deployed a fix for this. Can you please confirm that issue was resolved? Also, please confirm that you are using "http://rubygems.org" as source (not https).

[2022-04-25 03:11] aldent95 commented on #5494
@sonalkr132 Yep, working for me again now, cheers!

[2022-04-25 03:22] appsan commented on #5494
Same for us, thank you @sonalkr132!

[2022-04-25 03:23] release-fk commented on #5494
Same for us Thanks you @sonalkr132

[2022-04-25 10:39] Eusebius1920 commented on #5422
So you updated the CI to ruby-3.1.2 and did **not** get the specific error I posted above in the test suite. Any ideas why I am getting the error in my local dev-env for bundler?

[2022-04-25 16:23] deivid-rodriguez commented on #5422
I don't know, it's very strange, maybe it's actually the same reason why you're also getting this error "in real life" in the first place. Can you share more info about your environment, like `gem env` and `bundle env` output?

[2022-04-25 19:42] Mahmoud4m commented on #3549
Traceback (most recent call last):
        2: from /data/data/com.termux/files/usr/bin/lolcat:25:in `<main>'
        1: from /data/data/com.termux/files/usr/lib/ruby/2.7.0/rubygems.rb:296:in `activate_bin_path'
/data/data/com.termux/files/usr/lib/ruby/2.7.0/rubygems.rb:277:in `find_spec_for_exe': can't find gem lolcat (>= 0.a) with executable lolcat (Gem::GemNotFoundException)

[2022-04-25 20:16] pawan-parashar commented on #5492
Still seeing the issue with latest saw branch.. do we have a solution for this issue.

![image](https://user-images.githubusercontent.com/104378564/165167735-c0f62004-b43c-4ed6-b0f7-ab8021d22468.png)

[2022-04-25 21:30] deivid-rodriguez commented on #5492
Please have some patience, I will fix this in the next days.

[2022-04-25 22:37] filipedelimabrito commented on #5471
I was facing the same issue, and it can get fixed by installing a new Ruby indeed.

This [link](https://mac.install.guide/ruby/13.html) contains easy and detailed instructions on how to install and make it take priority over the one already installed on macOS.

[2022-04-26 13:09] deivid-rodriguez commented on #5492
#5496 will fix this, please give it a try to confirm!

[2022-04-26 14:40] #5494 closed

[2022-04-26 14:54] deivid-rodriguez commented on #5478
This seems the same issue as https://githubhot.com/repo/prettier/plugin-ruby/issues/920. This is not a bundler issue, so we should handle this gracefully, and avoid printing the bug report template.

[2022-04-26 19:29] dudarenko-io opened #5498 "Bundler uses rubygems.org to install itself ignoring remote sources configuration"
### Describe the problem as clearly as you can

Bundler always use rubygems.org to install itself. After bundler 2.3 was released with locking the bundler version we encountered an issue with running `bundle install`.

Our environment forbids use of rubygems source, we use Nexus repo server instead. Because of [this issue #5446](https://github.com/rubygems/rubygems/issues/5446) we now locked bundl

[2022-04-26 20:21] deivid-rodriguez commented on #5498
Yes, this is a known issue, thanks for reporting it because I forgot to do it when we added bundler version locking. We should probably use the default source in the `Gemfile`, rather than what's in `Gem.sources`, I think?

And yes, any exact selection of the bundler version through `BUNDLER_VERSION=<version>` or `bundle _<version>_` completely disables the locking mechanism for the Bundler versio

[2022-04-26 20:42] ngan opened #5499 "Introduce the concept of subbundles"
We have a very large monolith with 600-ish gem dependencies in our lockfile. Running a binstub to run commands that don't require the entire bundle (eg `rubocop`) takes a considerable amount of time. (I'm on a fast Macbook Pro M1)

[code]

I created a concept of a "subbundle" wherein my binstub only loads a part of my entire bundle. I've written a gem that does this and we are using it to great ef

[2022-04-26 21:52] deivid-rodriguez commented on #5499
Hei! I think the [`--only` feature request](https://github.com/rubygems/rubygems/issues/4048) satisfies this request. It'd be a matter of putting the gems that you want isolated into their own group, and then set `BUNDLE_ONLY=<group_name>` in the binstub.

I proposed other alternatives in that issue but they are more complicated. I tend to think we should accept adding `--only`.

[2022-04-26 23:07] ngan commented on #5499
So I think there is a difference between what's proposed in this PR and what I'm trying to do here (please correct me if I'm wrong). The problem is that in a large Gemfile(.lock), the mere act of resolving the bundle (ie `Bundle.setup`) is time consuming. We're not even talking about requiring gems, just resolving and adding to load paths.

[code]

The performance gains comes from not resolving al

[2022-04-27 05:45] monicakochofar opened #5501 "Error when running 'bundle gem tzinfo' or bundle gem tzinfo-data on Windows"
My terminal generated the below error report when i ran the above command, this was basically on a fresh install, already ran "gem update --system" as well.

Reason why this command is relevant, is because when i run "rails s" command i also get this error which mentions tzinfo:

C:/Ruby31-x64/lib/ruby/gems/3.1.0/gems/tzinfo-2.0.4/lib/tzinfo/data_source.rb:159:in 'rescue in create_default_data_sou

[2022-04-27 05:52] monicakochofar commented on #5501
So luckily a few seconds after I posted this, was sent this issue: https://github.com/rubygems/rubygems/issues/5269

issue was actually resolved by doing the below, closing this one now.

in Gemfile, locate the following line:
`gem "tzinfo-data", platforms: %i[ mingw mswin x64_mingw jruby ]`

remove platforms so it looks like so:
`gem "tzinfo-data"`

run bundle update,

try again!

[2022-04-27 05:52] #5501 closed

[2022-04-27 09:05] deivid-rodriguez commented on #5499
I see, but I don't understand why you need to re-resolve every time. The `Gemfile.lock` is essentially a cached resolve, so you shouldn't be having to resolve every time if you use a `Gemfile.lock` file.

[2022-04-27 13:23] ngan commented on #5499
I don’t think it’s doing a full resolve every time. I think the time comes from `last_resolve = converge_locked_spec` that’s called inside the resolve method. That’s why I suggested caching that (in the [other issue](https://github.com/rubygems/rubygems/issues/5345)).

Let me know if you need something on my end to reproduce this. Like I mentioned, we have 570ish gems in our lockfile. 😅

[2022-04-27 21:39] deivid-rodriguez commented on #5499
@ngan If that's where most of the time comes from, can you try applying this patch and setting `BUNDLE_FROZEN` at the beginning of your binstub, and post the results?

[code]

[2022-04-28 03:36] viraptor opened #5502 "Bundler 2.3.12 fails in `normalize_uri`"
### Describe the problem as clearly as you can

When running `bundle install` for an internal project using rails, I get the following exception:

[code]

Same gemfile works fine with `2.3.11`.
I don't understand where the `rails-assets.org` entry comes from - it's not mentioned explicitly in the `Gemfile`

### Did you try upgrading rubygems & bundler?

There's no more recent bundler at this point

[2022-04-28 06:41] deivid-rodriguez commented on #5502
Hi @viraptor!

You're getting two crashes.

The first one is due to an issue introduced with Bundler 2.3.12 where I accidentally removed an internal method that the booboot plugin was using. Bootboot has released 0.2.1 that fixes this and I'm still considering reverting the change anyways.

Then you're getting another crash when reporting the Bundler environment. I think this is due to a bad setti

[2022-04-28 06:43] #5446 closed

[2022-04-28 06:43] #5492 closed

[2022-04-28 06:48] viraptor commented on #5502
Ah, I think I see it now - I missed it before because of the uppercase. In my `.bundle/config` I've got a commented out line:
[code]
This worked ok in previous versions (the setting was ignored) but in `2.3.12` it looks like the whole line is being parsed?

[2022-04-28 06:56] deivid-rodriguez commented on #5502
I think nothing has changed regarding parsing settings.

The culprit of your error is what I mentioned first. Upgrade bootboot to 0.2.1 and the error should go away.

The second crash happens because Bundler tries to read the environment in order to print a nicer bug report with helpful information for the first error, but crashes while doing so due to this commented out setting. In Bundler 2.3.11

[2022-04-28 07:03] deivid-rodriguez commented on #5502
I tried the setting issues all the way back to Bundler 2.0 and every version crashed. Perhaps it was some change in the underlying `uri` library 🤷.

[2022-04-28 11:33] deivid-rodriguez commented on #5499
I proposed a similar patch at #5503 that should hopefully give you similar speed up without having to set `BUNDLE_FROZEN`. It's not going to match the speed up of your approach but it should hopefully improve things!

[2022-04-28 19:05] nrowegt opened #5505 "Errno::ENAMETOOLONG when running bundle install with non-rubygems source"
### Describe the problem as clearly as you can

Bundle install fails with `Errno::ENAMETOOLONG: File name too long` on Github Actions.

[code]

Using JFrog's artifactory rather than RubyGems on GithubActions, it fails with `Errno::ENAMETOOLONG: File name too long`

[code]

I tried setting `BUNDLE_GLOBAL_GEM_CACHE=true` to see if that would bypass the gem source specific filenames/directories, but

[2022-04-29 11:15] deivid-rodriguez commented on #5492
Next Wednesday at the latest.

[2022-04-29 23:38] duckinator commented on #5505
Hi! I have a suspicion you're running into a filesystem or operating system limitation.

The two that seem most likely to me on Linux (which your `gem env` output says you're using) are:

1. The _entire path_ being too long. (The limit is often 4096 bytes/4KB on Linux.)
2. A single item in the path being too long. (The limit is often 255 bytes on Linux.)

The path in question, with redactions, is:

[2022-04-30 01:13] duckinator commented on #5483
If it you did not edit the file directly, information about which operating system (including version) you're using would be helpful.

[2022-04-30 03:24] duckinator commented on #5287
I think in practice this would be something like this in your `gemspec` file:

[code]

(the metadata hash can have any keys you want)

[2022-04-30 03:25] deepj commented on #5463
Personally, I always customize my Rails stack, so I don't use the meta `rails` gem at all

[code]

So this feature helps with upgrading some gems and `Gemfile.lock`. Sometimes I need to run e.g. `bundle update activerecord someother_gem` to solve the problems with locked gems in `Gemfile.lock`

[2022-04-30 08:48] simi commented on #5287
Isn't this a kind of chicken-egg problem? You should be able to push the commit, tag and release the gem, but you don't know the SHA before the final commit.

[2022-04-30 09:06] indirect commented on #5287
To answer the original question, if a gem uses Bundler's gem management tools, the repo will have a git tag for each version. That is the closest thing RubyGems currently has that matches this request.

RubyGems does not require gems come from a git repository, and there is absolutely no requirement that any version of any gem have a corresponding git commit sha.

If you wanted to track this infor

[2022-05-01 16:40] fxn commented on #5263
I have found a new way to hit this.

1. Gem dependency uses `path`.
2. Bundler executes the local gemspec.
3. The gemspec loads the library to set the version.
4. The library loads Zeitwerk as a side-effect.
5. RubyGems erases Zeitwerk's `Kernel#require` decoration later.

There are two things worth mentioning here:

1. Idiomatically, step (3) cherry-picks the version file without loading the libr

[2022-05-01 21:47] omokehinde commented on #5269
Change gem "tzinfo-data", platforms: %i[ mingw mswin x64_mingw jruby ] to gem "tzinfo-data" and I it should work. It is similar to this issue here: https://github.com/rails/rails/issues/44952

[2022-05-02 12:08] collimarco opened #5506 "License value 'LicenseRef-SSAL-LICENSE' is invalid"
Hello,

We have a gem with a custom license:

[code]

Then we have a file `SSAL-LICENSE` in the repository.

This is the approach recommended here for custom licenses:
https://guides.rubygems.org/specification-reference/

However we get:

[code]

That contradicts your documentation. Can you please remove / fix this warning?

[2022-05-02 12:45] simi commented on #5506
Hello. Please can you update your post to follow issue template? Have you tried latest RubyGems (as suggested in top of the issue template)?

This seems to be fixed in https://github.com/rubygems/rubygems/commit/6a9b62811d0acecbd4b5ec5d1649fc184e95af17 and being released in RubyGems 3.3.0. Since you have not provided `gem env` as requested in issue template, it is hard to find out what's the cause

[2022-05-02 12:59] collimarco commented on #5506
@simi Yes, sorry, I had a previous version. In the most recent version of `gem` I don't get the warning. Great, thanks!

[2022-05-02 12:59] #5506 closed

[2022-05-02 18:36] bjfish opened #5508 "Incorrect gem installed for platform"
### Describe the problem as clearly as you can

During `bundle install`, the `musl` version of a gem is installed instead of the expected platform version.

Output:
[code]

### Did you try upgrading rubygems & bundler?

### Post steps to reproduce the problem

Gemfile
[code]

With the above `Gemfile`,
1. run `bundle install`
3. `bundle lock --add-platform ruby`
4. `bundle lock --remove-platform x8

[2022-05-02 18:46] bjfish commented on #5508
This may be related to: https://github.com/rubyjs/libv8-node/issues/5

[2022-05-02 18:50] bjfish commented on #5508
Feel free to close this as duplicate. I assume it is a duplicate of the above mentioned issue which links to this PR: https://github.com/rubygems/rubygems/pull/4488

[2022-05-02 19:10] emersonxinay opened #5509 "Error bundle template end"
### Describe the problem as clearly as you can

### Did you try upgrading rubygems & bundler?

### Post steps to reproduce the problem

### Which command did you run?

### What were you expecting to happen?

### What actually happened?

### If not included with the output of your command, run `bundle env` and paste the output below

[2022-05-03 01:22] duckinator commented on #5287
@simi good catch.

@indirect if this is something that's added, that seems like a decent option.

A potential edge-case to look out for would be releasing uncommitted changes &mdash; I don't know how Bundler's gem management tools react when you try that, but if it pulls the SHA from the repo before the code is committed, it will inherently be wrong.

[2022-05-03 08:00] #5509 closed

[2022-05-03 09:43] eregon commented on #5508
Also related, this issue: https://github.com/rubygems/rubygems/issues/3174 which had a PR which got reverted (https://github.com/rubygems/rubygems/pull/4082).
@deivid-rodriguez How can we solve this?
Note this issue applies to CRuby and TruffleRuby, it's not TruffleRuby-specific.

[2022-05-03 09:47] eregon commented on #3174
Yes, this still happens: https://github.com/rubygems/rubygems/issues/5508
Incorrectly using `linux-muslc` on glibc systems (the current situation) seems worse than not using `-linux` gems on Alpine which uses musl (#4434).

Maybe we can do a quick fix that just always prevents `-linux-musl` to be used on a `-linux` system? That's always wrong.

[2022-05-03 11:11] rgaufman opened #5510 "Could not find bootsnap-1.11.1, mysql2-0.5.3, oj-3.1..."
### Describe the problem as clearly as you can

For some reason bundle exec rspec complains I need to run bundle install, even though I already ran it.

### Did you try upgrading rubygems & bundler?

[code]

### Post steps to reproduce the problem

[code]

* Ruby is 3.1.2 installed with brew install ruby on MacOS 12.3.1
* Bundler was installed with gem install bundler

### Which command did you ru

[2022-05-04 06:30] deivid-rodriguez commented on #5510
Hei @rgaufman, there was a couple of nasty regressions in the previous batch of releases. Can you try RubyGems 3.3.13 and Bundler 2.3.13 and see if it fixes things?

[2022-05-04 10:06] dudarenko-io commented on #5498
Yes, I think bundler should use source from Gemfile if it is defined.

If source is not defined in Gemfile, bundler produce this warning:
[code]

[2022-05-04 11:33] rgaufman commented on #5510
Yes:

[code]

After that, normal spec output is showed, but the warning is still there.

[2022-05-04 11:53] deivid-rodriguez commented on #5510
Alright!

This is very weird because it this ever happens, it should be a hard error, not a soft one, and it should definitely never happen after a successful `bundle install`.

My guess is that this is related to using Ruby installed by home-brew, since I couldn't reproduce using Rbenv. Will dig more following that hypothesis.

[2022-05-04 12:40] rgaufman commented on #5510
Ah, I figured out what was causing this!

I had this in an initialiser:

[code]

And that had PATH specified. But strange that all tests will pass and all is working correctly, except for that error. Closing.

[2022-05-05 23:18] alvigilegner opened #5515 "Undefined method: 'full_name' for nil:NilClass"
I am running this command under Ubuntu on a Windows 11 laptop

bundle update --conservative ohai --conservative commonmarker --conservative nokogiri --conservative ruby-magic --conservative tanuki_emoji --conservative gitlab-labkit --conservative letter_opener_web --conservative gitlab-styles --conservative gitlab-experiment

Below is the Error Template:

[Error Template.txt](https://github.com/ru

[2022-05-06 06:03] deivid-rodriguez commented on #5515
Could you please upgrade to Bundler 2.3.13 and try again?

[2022-05-07 14:34] rubyFeedback opened #5517 "Small error: "Must provide a directory path here." - could the message be improved?"
I just had this failure:

"gem build *.gemspec

Invalid gemspec in [multimedia_paradise.gemspec]: Must provide a directory path here.
ERROR:  Error loading gemspec. Aborting."

I found out why; I was using another gem, and somehow I conflicted with Gem::Specification.
But this report is not so much about my problem, but more with this message here:

"Must provide a directory path here."

Would it

[2022-05-09 09:45] headius opened #5523 "On-demand install of specific bundler version does not honor shebang settings"
JRuby on MacOS request the shebang for installed Ruby binscripts to use the "env shebang" due to the way that script executables get resolved. However, when Bundler installs the correct version for a given Gemfile.lock  on demand, it does not honor our default behavior of using env shebangs. This results in it breaking the `bundle` executable, due to the shebang line pointing directly at the bin/j

[2022-05-09 17:46] BrianHawley opened #5526 "Bundler is treating a "~> 1" constraint like "~> 1.0""
### Describe the problem as clearly as you can

I have a gem indirect dependency, which declares this dependency: `faraday (~> 1)`

According to all the documented rules about `~>` that should include any version after 1.0.0, because it doesn't specify any point value in the spec. However, it doesn't allow faraday to be updated to 2.x, and I would expect that it would.

### Did you try upgrading r

[2022-05-09 18:19] BrianHawley commented on #5526
Also tested with ruby 3.0.3, bundler 2.2.32, same result.

[2022-05-09 18:21] deivid-rodriguez commented on #5526
Hi @BrianHawley, where did you read this documentation you are mentioning?

The `~>` operator is somewhat undefined for single digit version specifications, since it's definition to figure out the exclusive upper bound would be something like "omit the last version segment and bump the previous to last segment by one". So `~> x.y.z` would mean `< x.y+1`, and `~> x.y` would mean `< x+1`, but it's u

[2022-05-09 18:32] BrianHawley commented on #5526
Well, I've seen many gems that seem to expect the same behavior I do, so it came as a surprise to me.

In any case, I'll make a PR to opensearch-transport to relax its restriction.

[2022-05-09 18:37] deivid-rodriguez commented on #5526
To be honest, I was also surprised by this the first time I found about it. On a fresh new world, I would choose our initial  interpretation. But I'm not sure this is worth changing now.

It's also documented here: https://docs.ruby-lang.org/en/3.1/Gem/Version.html#class-Gem::Version-label-Preventing+Version+Catastrophe-3A.

[2022-05-09 18:39] BrianHawley commented on #5526
It's a "feature" I guess.

[2022-05-09 18:39] #5526 closed

[2022-05-09 18:41] deivid-rodriguez commented on #5526
Yes, definitely, the person who implemented this originally thought of this as a feature.

[2022-05-09 18:42] deivid-rodriguez commented on #5523
@headius I made some testing with JRuby on my Mac and I couldn't reproduce this. Can you share steps so that I can reproduce this and fix it?

[2022-05-09 18:44] headius commented on #5523
@deivid-rodriguez I will try to come up with a simple scenario, but I believe it is when attempting to bundle install a Gemfile where the Gemfile.lock references an earlier (or just different?) bundler version.

[2022-05-09 18:49] deivid-rodriguez commented on #5523
I did try that, also making sure that `--env-shebang` setting was in place, but everything worked fine.

[2022-05-09 18:50] deivid-rodriguez commented on #5435
#5525 should fix this!

[2022-05-09 18:51] headius commented on #5523
Gemfile:

[code]

Bundle using an earlier version (2.2.29 in this case):

[code]

Rebundle with an env that only has a newer Bundler installed:

[code]

The `bundle` command is now broken because it has been installed with a shebang pointing at the JRuby shell script:

[code]

[2022-05-09 18:52] headius commented on #5523
Of course this is on JRuby, without the jruby-launcher native executable installed. rvm installs jruby-launcher by default, I believe, so you may not be able to reproduce that way. And of course, this is a MacOS problem.

[2022-05-09 18:55] deivid-rodriguez commented on #5523
Yes, I explicitly removed `jruby-launcher` to try get this to reproduce. I use `rbenv` but I think it also installs `jruby-launcher` by default.

[2022-05-09 18:58] headius commented on #5523
Reinstalling bundler fixes the shebang, so I know my local setup is using env-shebangs:

[code]

[2022-05-09 19:08] deivid-rodriguez commented on #5523
Yeah, I understand. If you can't share steps to reproduce, can you share the result of `gem env` and `gem list` to see if it sparks some ideas.

[2022-05-09 19:45] deivid-rodriguez commented on #5435
This turned out to be a regression introduced by https://github.com/rubygems/rubygems/commit/565549260be50a84a801093ba44e399f2fafb559. Now you will get the good old message one would get before the bug was introduced, something like

[code]

[2022-05-09 20:38] joyboy67 opened #5528 "Fail to install/compile Puma gem"
Hello I have some troubles with the installation of Puma for rails app, I'm on OpenBSD 7.1 and ruby 3.1

### Did you try upgrading rubygems & bundler?

yes

### Which command did you run?

doas rails31 new . --database=mysql

### What actually happened?
[code]

### If not included with the output of your command, run `bundle env` and paste the output below

[code]

[2022-05-09 20:46] deivid-rodriguez commented on #5528
Have a look at https://github.com/puma/puma/issues/2863. Closing since it's not a RubyGems issue.

[2022-05-09 20:46] #5528 closed

[2022-05-09 20:56] MSP-Greg commented on #5528
@deivid-rodriguez Nice.  You're fast...

[2022-05-09 20:59] deivid-rodriguez commented on #5528
Fast at googling errors 😆.

[2022-05-10 00:22] indirect commented on #5499
I am a big fan of the idea of upstreaming this, or something like it. I noticed that subbundle errors if the gem is a dependency of one of your gems, and we probably need a solution of some kind for that: https://github.com/bigrails/subbundle/issues/2.

If we put subbundle inside the `bin/bundle` shared binstub, maybe the solution is to tell people they need to add the gem to their gemfile directl

[2022-05-10 07:39] ShockwaveNN commented on #5435
Thanks, I'll recheck as soon as fixed version is released

[2022-05-10 07:39] headius commented on #5523
Didn't I share steps to reproduce above?

[2022-05-10 07:51] deivid-rodriguez commented on #5523
Yes, you did, what I meant is that the steps you have shared so far seem very dependent on your environment, since I can't reproduce the issue on my machine by following them.

I'm guessing I need to install JRuby from source instead of using a version manager to mimic your environment so that the JRuby executable is a shell script? Is there any other way to run into this that does not involve ins

[2022-05-10 08:15] headius commented on #5523
Oh I understand. I will show a session from downloading JRuby to reproduction.

[2022-05-10 09:00] deivid-rodriguez commented on #5523
No worries, I'm glad it's fixed! I'll close this then!

[2022-05-10 09:00] #5523 closed

[2022-05-10 09:23] deivid-rodriguez commented on #5517
@rubyFeedback Can you share steps to reproduce the error? Right now we're just logging the original exception when loading the gemspec, which is indeed not very informative. If I can reproduce the error, I can look into how to make this kind of situation better.

[2022-05-10 10:30] headius commented on #5523
Looks like this was something fixed on the bundler side, FYI. After upgrading JRuby's rubygems to 3.3.13 but leaving Bundler at 3.3.3 I still have the problem, but upgrading both fixes it.

[2022-05-10 10:34] deivid-rodriguez commented on #5523
Thanks! Makes sense.

[2022-05-10 11:19] #5483 closed

[2022-05-11 07:55] #5435 closed

[2022-05-12 01:35] briancolfer commented on #5351
For me renaming the Gemfile.lock to Gemfile.lock.copy,  running bundle install and then removing the Gemfile.lock.copy
resolved the problem for me.

[2022-05-12 10:26] #5325 closed

[2022-05-12 21:52] ngan commented on #5364
@deivid-rodriguez does this make sense? Would be happy to open PR.

[2022-05-13 06:11] deivid-rodriguez commented on #5364
@ngan Sorry I never left feedback here.

Since `gemfile(&gemfile)` already behaves essentially the same as `gemfile(true, &gemfile)`, wouldn't it make more sense to deprecate the `install` parameter, since `bundler/inline` installs what's necessary regardless?

The patch you suggest changes (misdocumented, that's true) behavior because people used to `gemfile(&gemfile)` auto-installing as necessar

[2022-05-13 11:10] hurricup commented on #5274
we have this problem again

[2022-05-13 12:49] hurricup commented on #5274
Checked process list in case some hanged ruby process holds the `so` file, but doesn't looks like it.
We have something like:
[code]
or less. Hard  to catch exact failure moment. And the fact that I can't reproduce this manually bothers me very much.

[2022-05-13 13:37] technicalpickles commented on #5499
@ngan and I paired a bit on this yesterday, including benchmarking and looking at flamegraphs. I shared how I was generating this, and an example flamegraph over on https://github.com/rubygems/rubygems/pull/5534#issuecomment-1126045896

We found that `SpecSet#for` was the span in the graph, so is the place to start looking. I stuck a `binding.pry` in there, and found out that it seems to be called

[2022-05-13 13:41] deivid-rodriguez commented on #5499
Thanks! Yeah, indeed, my further work on this involves reducing `SpecSet#for` calls at `bundler/setup` time to 1 or 2.

[2022-05-13 23:43] ngan opened #5538 "Unable to bundle install from scratch on bundler >= 2.3.13"
### Describe the problem as clearly as you can

As mentioned [here](https://github.com/rubygems/rubygems/pull/5532#issuecomment-1126099133), we are no longer able to bundle install from scratch on bundler 2.3.13. My hunch is that this is from the [performance changes](https://github.com/rubygems/rubygems/pull/5503).

### Post steps to reproduce the problem

Our very large Gemfile.lock (550+ gems).

[2022-05-14 04:31] ngan commented on #5538
@deivid-rodriguez actually, I misspoke. Bundle install is fine. However, we’re unable to boot the bundle for rails or even do a simple bundle clean command:

[code]

Still, something is weird about the “Using timeout” to me (in description). Could this be a side affect from the expand_dependencies change?

[2022-05-14 05:43] deivid-rodriguez commented on #5538
This is strange, I don't see how this could be related to the performance improvements. What output do you see with Bundler 2.3.11? The problem seems that somehow Bundler is failing to find default gems for some reason, not sure why, and most confusingly, why now. Maybe some release of some default gem could be influencing this.

[2022-05-14 09:38] johnnyshields opened #5540 "Rubygems gem command very slow on Windows Ruby 3.1 x64-mingw-ucrt"
I am running Ruby 3.1 on x64-mingw-ucrt using RubyInstaller 3.1.1-1. (Note that x64-mingw-ucrt is the new platform which is now the standard for Windows as of Ruby 3.1.)

Running `gem install` is drastically slower than on Ruby 3.0 and other versions; it takes several minutes before any log lines print at all. It does eventually work correctly, i.e. installs the gems.

Doing `gem update --system`

[2022-05-14 09:57] deivid-rodriguez commented on #5540
I'd definitely like to figure this one out, although it seems something to do with Ruby/RubyInstaller rather than RubyGems, since we don't really have code specific to any rubies.

Would you be able to run some benchmarks to figure out where RubyGems updater is spending the most time? Also, is it equally slow if you use `--no-document`?

[2022-05-14 10:05] johnnyshields commented on #5540
OK, I've determined that its due to HTTPS being slow. Added comment on https://github.com/oneclick/rubyinstaller2/issues/264. I think this is not related to Rubygems itself, so closing issue.

[2022-05-14 10:05] #5540 closed

[2022-05-14 10:27] deivid-rodriguez commented on #5540
I'll subscribe to that ticket!

[2022-05-14 11:33] deivid-rodriguez commented on #5540
By the way, I doubt it's related to ipv6, but you may want to try setting the `IPV4_FALLBACK_ENABLED` environment variable just in case!

[2022-05-14 16:03] ngan commented on #5538
Whoops! The problem was on our end. We were using an old version of rubygems.

[2022-05-14 16:03] #5538 closed

[2022-05-15 05:44] JackDinn opened #5541 "gem update --system ERROR: While executing gem ... (Errno::ENOENT)"
I just wanted to take a look at a piece of software that uses ruby, I followed their instructions, it fails, obviously over my head. Before i give up, I just thought I'd ask here.

[code]

I see a thread from 5 years ago, so tried that https://github.com/rubygems/rubygems/issues/2375

The workaround was
```gem update --system --install-dir=/usr/local/share/gems --bindir /usr/local/bin```
[code]
[c

[2022-05-16 05:09] hurricup opened #5542 "Permissions issue with strscan and rails 7.0.3 while running bundle install on windows"
most likely we have this problem again when running bundle install. (started 9 of May)

Environment:
[code]

Gemfile is:
[code]

Gemfile.lock:
[code]

Reproduced on CI but can't reproduce this locally:
[code]

When watching this from the CI agent we run on, i see the strscan directory with `so` file in it.
Presume it caused by rails 7.0.3 release

_Originally posted by @hurricup in https://github.

[2022-05-16 05:11] hurricup commented on #5542
Wasn't sure if you check closed issue, so posting as a new one. Also, looks like there is no additonal processes, besides extconf: https://github.com/rubygems/rubygems/issues/5274#issuecomment-1126021420

[2022-05-16 08:18] deivid-rodriguez commented on #5542
Thanks, yeah, better a new issue. Too bad we can't yet reproduce it reliably.

[2022-05-16 08:31] deivid-rodriguez commented on #5542
Something I want to improve here that might shed some light is that the error message might not really be accurate here. Any exception might've been raised while trying to remove the folder, the permissions issue is just a guess. The better fix here IMO would be that `fileutils` wouldn't swallow any exceptions while trying to remove the file, so that we can actually see the real culprit here. I pr

[2022-05-16 08:32] hurricup commented on #5542
I inspected the server when problem happened. All i see is a directory with `so` file in it.

[2022-05-16 08:53] deivid-rodriguez commented on #5542
Oh, this is indeed probably the same as #5274, sorry I missed that. `bundle install` opens the `.so` file at some point, and a later time it tries to reinstall the library again (which completely removes any existing installation as a first step). Since the `.so` file is opened, Windows won't let you delete it. I guess we should detect if the library is currently loaded while installing it, and co

[2022-05-16 09:21] hurricup commented on #5542
The thing is that i can't even reproduce it on CI server.
Tried the same `Gemfile` but used different `--path` for bundle install. And worked like a charm.
The thing is - I'm not quite understand why bundler or rubygems need to remove anything while installing gems. Feels strange. Shouldn't it just use the gem if it is already installed?

[2022-05-16 09:27] deivid-rodriguez commented on #5542
Yes, if it's already installed, it uses it. But if it doesn't detect a "valid installation" and decides it needs to reinstall, it still makes sure the target folder is empty before installing anything. I guess this is to heal and bad previous installation, or something like that.

I think the fact that it can't be reproduced in CI might be because of a race condition, is it reproducible reliable w

[2022-05-16 09:29] hurricup commented on #5542
I'll try. But I was thinking that by default bundler do not parallelize installation (and jobs is 1).

[2022-05-16 09:36] deivid-rodriguez commented on #5542
Oh, you're correct, on Windows we still default to 1 job. Than I'm not sure why it can't be reproduced every time 😭.

[2022-05-16 09:43] hurricup commented on #5542
Ideally would be nice to see smart diagnostic here, like `unable to remove file.xxx held by proces pid: 123, command ....` but not sure if it's possible.

[2022-05-16 10:53] deivid-rodriguez commented on #5542
Yeah, that would be ideal! By the way, psych 4.0.4 is out, so you should also be able to get rid of the error by upgrading that.

[2022-05-16 11:03] hurricup commented on #5542
Yep, running tests already. Fingers crossed.

[2022-05-16 12:59] deivid-rodriguez commented on #5542
Interesting, then I have no idea what's holding the `strscan.so` file. One idea to debug this would be to create a `strscan.rb` file that logs what's requiring it and then loads the `.so` file, so that we can figure out where this comes from.

[2022-05-16 13:01] hurricup commented on #5542
Ok, seems I found the problem.
There are multiple tests running.
1. Looks like previous test unable to uninstall `strscan` and keeps this `so` file.
2. When  `bundler` attempts to install for the next test it loads this `so` file (this is strange, because there is no gem, only `so` file). And then fails to remove the directory.

One thing for sure, in previous test I see:
[code]

[2022-05-16 13:01] hurricup commented on #5542
I'll try to reproduce this. case.

[2022-05-16 16:02] deivid-rodriguez commented on #5540
So, was it indeed an ipv6 related issue that `IPV4_FALLBACK_ENABLED` did not fix?

[2022-05-16 16:56] johnnyshields commented on #5540
IPV4_FALLBACK_ENABLED didn't seem to fix it. Issue is still open on RubyInstaller side.

[2022-05-16 17:13] deivid-rodriguez commented on #5540
Ok!

[2022-05-16 23:08] JustLukes opened #5543 "Bundle Install Error"
https://github.com/rubygems/rubygems/search?q=Permission+denied+%40+rb_file_s_symlink+-+%28spec%2Fsupport%2F..%2F..%2F.mod%2Fdrivers-evergreen-tools%2F.evergreen%2Focsp%2C+C+%2FRuby31-x64%2Flib%2Fruby%2Fgems%2F3.1.0%2Fgems%2Fmongo-2.17.1%2Fspec%2Fsupport%2Focsp%29&type=Issues

[2022-05-16 23:14] #5543 closed

[2022-05-17 13:25] DarkChefCZ opened #5544 "Pls help me. Idk what happend."
--- ERROR REPORT TEMPLATE -------------------------------------------------------

[code]

## Environment

[code]

## Bundler Build Metadata

[code]

## Gemfile

### Gemfile

[code]

### Gemfile.lock

[code]

## Gemspecs

### metasploit-framework.gemspec

[code]

[2022-05-17 16:08] technicalpickles opened #5545 "require 'bundler/setup' slow for large Gemfile (600ish gems)"
### Describe the problem as clearly as you can

@ngan described the problem over in https://github.com/rubygems/rubygems/issues/5499

@ngan, @deivid-rodriguez and myself have made a handful of PRs to try to address this, but wanted to describe the problem in a central spot instead of spread out across PRs.

- https://github.com/rubygems/rubygems/pull/5503
- https://github.com/rubygems/rubygems/pul

[2022-05-17 17:50] technicalpickles commented on #5545
I was chatting with @ngan about why we saw a difference between our monolith and the big-gemfile, and the main difference we could figure was one of the removed parts was:

[code]

And @ngan tracked this down:

https://github.com/rubygems/rubygems/blob/773fc2b9287ef06b5674dcac9b704aaba73481d6/bundler/lib/bundler/source/path.rb#L68-L70

This is quite a few objects just to hash. I think that is the

[2022-05-17 20:57] #5544 closed

[2022-05-17 21:10] deivid-rodriguez commented on #5545
Thnaks for opening this @technicalpickles 👍. I can't access your sample repository though.

[2022-05-17 21:50] technicalpickles commented on #5545
@deivid-rodriguez oops, forgot to hit submit on making it public 🤦🏻‍♂️

[2022-05-18 00:42] ngan commented on #5545
One other slight performance hit for us is that path’d gems load the gemspec file and we currently us Dir globbing to set the `files` directive. Since we’re not publishing the gem, this was unnecessary. I’m going to put up a PR to remove them.

[2022-05-18 05:39] hurricup opened #5547 "[fixed] psych 4.0.4 breaks rubygems on ruby 2.5 on windows (with default rubygems version 2.7.6.3)"
Not sure if this is a psych or rubygems issue, but after installing most recent `psych` attempt to install gem with any additional options causes:
[code]
1. Removed `psych`
2. Was able to run `gem update`
3. Installed `psych` back
4. ~~Problem is still there, with something like `gem install gemname --user-install`~~ (Upd: it works. Not sure why failed first time. Feel free to close then, consider

[2022-05-18 06:58] deivid-rodriguez commented on #5547
Hi, yes, `Psych.load` completed removed the interface based on positional arguments, in favor of keyword parameters. And RubyGems 2.7.6.3 was using the old Psych 3 way. This was fixed in [RubyGems 3.1](https://github.com/rubygems/rubygems/commit/b7995ca4ea8452b4511f4afa7eddd5374fca21fc).

[2022-05-18 07:56] deivid-rodriguez commented on #5547
I will close this, it was a bit of an unfortunate situation but it's been fixed for a while. Updating RubyGems and/or Ruby should do the trick!

[2022-05-18 07:56] #5547 closed

[2022-05-18 08:43] trungdinh98 opened #5550 "Bundler related issue"
### Describe the problem as clearly as you can

### Did you try upgrading rubygems & bundler?

### Post steps to reproduce the problem

### Which command did you run?

### What were you expecting to happen?

### What actually happened?

### If not included with the output of your command, run `bundle env` and paste the output below

[2022-05-18 08:43] #5550 closed

[2022-05-19 04:52] johnnyshields opened #5552 "Suggestion: Native compilation should have option to use Rake compiler"
Many gems today are using [Rake Compiler Dock](https://github.com/rake-compiler/rake-compiler-dock) to build their native gems; it seems to be becoming a de-facto standard. Since it uses Docker, it guarantees the correct libraries, etc. are present to build the gem.

It would be very nice if Rubygems provided a way that native compilation could be done with Rake Compiler Dock, perhaps by adding so

[2022-05-19 07:12] ShockwaveNN commented on #5435
Can confirm fix in bundle 2.3.15

Now error is clear:
[code]

[2022-05-19 16:54] Tschrock opened #5555 "`bundle update` suggests running `bundle update` to resolve dependency conflict"
### Describe the problem as clearly as you can

I had some dependency issues, and `bundle update` suggests running `bundle update` to fix them.

Obviously this won't fix them since that's what I just ran...

I don't know enough about bundler to know if the update command should have fixed the dependency issues or not, but deleting `Gemfile.lock` does fix the issue. The output seems to indicate tha

[2022-05-19 17:18] beniza opened #5556 "asciidoctor installation issue: Directory not empty"
[code]

## Environment

[code]

## Bundler Build Metadata

[code]

## Gemfile

### Gemfile

[code]

### Gemfile.lock

[code]

## Gemspecs

### asciidoctor-epub3.gemspec

[code]

[2022-05-19 20:25] deivid-rodriguez commented on #5555
Yes, the message should definitely be ignored when running `bundle update` itself.

And also, yes, the message is not fully accurate anyways, since `bundle update` does not fully ignore the lockfile, it still sets some lower bound requirements on the versions in the lockfile, to avoid actually downgrading any dependencies, so the conflicts might be coming from there. This is why `bundle install` w

[2022-05-19 23:40] simi commented on #5556
I tried same gemspec/Gemfile resolution locally and it was resolved and installed without any problems. Can you check what's in given folder?

[2022-05-20 20:52] ragnarkon commented on #5405
excon v0.7.7 is another example of a gem with a gemspec that cannot be loaded.

----------------------------------------------------------

excon-0.7.7.gemspec.rz

[code]
## Environment

[code]

## Bundler Build Metadata

[code]

[2022-05-20 22:24] zofrex commented on #5555
Should `bundle update` emit a warning if "updating" ends up downgrading some dependencies to resolve conflicts? That seems like a counter-intuitive result that's possibly worth mentioning to the user.

[2022-05-20 23:07] deivid-rodriguez commented on #5555
Yes, it already prints a note like this when it happens:

But it currently only ever does that with indirect dependencies.

My proposal would be to also allow it as a last resort for direct dependencies too when:

* Running `bundle install` after a change in the `Gemfile`, like here.
* Running `bundle update <specific_dependency>`.

I don't think it makes sense to allow it for `bundle update` with

[2022-05-20 23:08] deivid-rodriguez commented on #5405
Oh, thanks for reminding me about this. #5415 is mostly ready, I will try to ship it with the next release!

[2022-05-22 08:33] lacostej opened #5558 "RUBYOPT still present in with_unbundled_env context in ruby 2.5/2.6"
### Describe the problem as clearly as you can

I am hitting what looks like #3705 on Circle CI with ruby 2.5 and 2.6 (not with 2.7/3.0)
[code]
fails with bundler kicking in and failing as no deps have been installed yet.

The environment contains
[code]

Supposedly ruby came with bundler 2.3.13.

[code]

### Did you try upgrading rubygems & bundler?

Yes

### Post steps to reproduce the problem

[2022-05-22 08:48] indirect commented on #5558
That's working as intended—if you set RUBYOPT and then call `with_original_env`, you're going to still get the RUBYOPT you had before. Remove `bundler/setup` from your RUBYOPT if you want to be able to run `bundle install`.

[2022-05-22 08:48] #5558 closed

[2022-05-22 09:14] deivid-rodriguez commented on #5558
@indirect This issue is with `with_unbundled_env`, which is supposed to remove everything, not with `with_original_env` (remember we splitted `with_clean_env` into these two helpers to allow and clarify both use cases). So I think this bug is legit, although maybe not worth fixing since it only happens on old rubies.

[2022-05-22 09:16] indirect commented on #5558
@deivid-rodriguez I also thought that at first! but then I read the code again and this issue is claiming a bug in `Bundler.with_original_env`... so I think we are on the same page, and that isn't a bug. 😄

[2022-05-22 09:21] deivid-rodriguez commented on #5558
Oh, you're right, I missed that!

Then this indeed sounds like a user code issue after all, and user wants `Bundler.with_unbundled_env` instead.

Maybe `Bundler.with_original_env` only works on newer Rubies because the Ruby 2.5/2.6 setup in CircleCI sets some `RUBYOPT` by default, but others don't? Not sure, but that's some tip for you @lacostej if you want to to keep digging 😃

[2022-05-22 10:42] lacostej commented on #5558
Oh well, I complain about `with_original_env` but I used `with_clean_env`. 🤦

Don't work at 3AM...

Sorry for that.

[2022-05-22 17:27] ylecuyer opened #5559 "Update rails with --conservative"
### Describe the problem as clearly as you can

On our team we instructed people to use `--conservative` when upgrading gem to avoid unexpected upgrades. When upgrading rails however, as it is a bundling gem installing other gems, the fail to get the expected result with `bundle update --conservative rails`.

The proper command should be `bundle update --conservative rails activesupport actionpack

[2022-05-23 08:27] deivid-rodriguez commented on #5559
I think this should be fixed by #5520!

[2022-05-23 16:54] ylecuyer commented on #5559
Indeed, thanks for the information, I'll close in favor of #5520 then

[2022-05-23 17:30] deivid-rodriguez commented on #5559
Well, while I initially thought the same change would fix this, #5250 would need further tweaks for this to work, so I'll reopen.

[2022-05-24 08:54] pboling opened #5561 "NoMethodError: undefined method `name' for nil:NilClass"
### Describe the problem as clearly as you can

`bundle install` does not work in a given scenario, which I have reproduced in this [repository](https://github.com/rubocop-lts/bundler-required_ruby_version-bug).

### Did you try upgrading rubygems & bundler?

Yes.  I installed latest rubygems from source as well, and it exhibits the same behavior.  The error is present in all versions of Ruby back

[2022-05-24 09:02] deivid-rodriguez commented on #5561
Thanks @pboling, I bisected it to https://github.com/rubygems/rubygems/pull/5474, released with Bundler 2.3.12. I'll fix it.

[2022-05-24 09:08] pboling commented on #5561
Not sure if you noticed but there was one combination of ruby + bundler that did work, which is where I got the "expected result" from.  Maybe that's how you bisected it... :)

Only `ruby 3.2.0-preview1` and the default bundler it ships with worked.  If bundler is updated from source with `ruby setup.rb` it breaks again.

[2022-05-24 09:16] deivid-rodriguez commented on #5561
I bisected it by running `bundle _<version>_ update` over your example until one version worked. That was 2.3.11. Then I looked at 2.3.12 changelog and realized #5474 was the culprit. ruby 3.2.0-preview1 probably comes with a version older that 2.3.12.

[2022-05-25 11:50] makecoinfree opened #5567 "ddfdsfdsf"
### Describe the problem as clearly as you can

### Did you try upgrading rubygems & bundler?

### Post steps to reproduce the problem

### Which command did you run?

### What were you expecting to happen?

### What actually happened?

### If not included with the output of your command, run `bundle env` and paste the output below

[2022-05-25 11:55] #5567 closed

[2022-05-26 13:21] deivid-rodriguez commented on #5541
#5566 should fix this, thanks for reporting!

[2022-05-26 13:26] deivid-rodriguez commented on #5556
We'll be adding some changes to the next version so that this kind of error is more helpful. We would appreciate if you can upgrade and report the new error once we release.

[2022-05-26 13:27] deivid-rodriguez commented on #5517
Closing due to lack of feedback, feel free to reopen if still interested.

[2022-05-26 13:27] #5517 closed

[2022-05-26 13:27] #5515 closed

[2022-05-26 13:31] deivid-rodriguez commented on #5442
"Default" means it's a default gem, this is definitely useful.

I agree that a table format is more helpful, I'm happy to change the format, I don't think we need a CLI flag for this.

[2022-05-26 13:48] deivid-rodriguez commented on #5449
This is not an error raised by Bundler, but by Rails. It was removed at https://github.com/rails/rails/pull/36163, released with Rails 6.1. So updating Rails will probably give you a better (or at least different :)) error.

Closing!

[2022-05-26 13:48] #5449 closed

[2022-05-26 13:49] dirtyharrycallahan commented on #5442
That's potentially a breaking change for anyone consuming the output as we do to identify non-default outdated gems. Perhaps there is a better way.

[2022-05-26 13:53] deivid-rodriguez commented on #5442
I don't consider the output of any command "consumable", unless it has a specific `--parseable` or `--porcelain` flags. But I'm happy to release this with the next major just in case. I'm not planning to work on this anyways, but I definitely don't want to bikeshed CLI output via CLI flags.

[2022-05-26 15:57] JackDinn commented on #5541
Thank you for taking a look and fixing.

[2022-05-26 15:57] #5541 closed

[2022-05-26 19:41] ShepFc3 commented on #3174
I'm experiencing this on the latest ruby alpine image. Are there any workarounds to get this working properly? I've followed all the linked cases and it appears this is still an issue.

[2022-05-27 02:47] Shylock-Hg opened #5569 "Can't install `gems` by `gem` command"
I'm having a problem or would like to suggest a feature.

My current problem is connecting to gem libraries failed:
Detail as:
[code]
I checked some methods in https://bundler.io/v2.0/guides/rubygems_tls_ssl_troubleshooting_guide.html#how-to-troubleshoot-rubygems-and-bundler-tlsssl-issues , but seems don't work.

This issue is related to:

  - [x] Network problems
  - [x] Installing a library
  -

[2022-05-27 08:23] deivid-rodriguez commented on #5569
Hi!

Could you follow the [manual upgrade instructions here](https://bundler.io/v2.3/guides/rubygems_tls_ssl_troubleshooting_guide.html#updating-rubygems) and post the error message if they don't work, or the error message when trying to install gems and the new `gem env` if the upgrade works?

[2022-05-27 08:35] Shylock-Hg commented on #5569
Thanks, it works for me.

[2022-05-27 08:35] #5569 closed

[2022-05-27 08:43] deivid-rodriguez commented on #5569
Great! 💪

[2022-05-27 11:43] deivid-rodriguez commented on #5418
Hello!

Sorry I have no idea how this error could end up happening? Did you get the error consistently? Did you try upgrading RubyGems and Bundler?

[2022-05-27 11:44] deivid-rodriguez commented on #5407
Closing due to lack of feedback.

[2022-05-27 11:44] #5407 closed

[2022-05-27 11:49] deivid-rodriguez commented on #5345
Closed by https://github.com/rubygems/rubygems/pull/5503.

[2022-05-27 11:49] #5345 closed

[2022-05-27 15:43] deivid-rodriguez commented on #5369
@hsbt I've been using M1 Apple Silicon and never saw this error. Maybe something specific to your environment. Did you dig further into this? Should we close it?

[2022-05-27 23:18] hsbt commented on #5369
@deivid-rodriguez Thanks for your remind. I tried this with the current master branch of `ruby/ruby` and macOS 12.4. But I couldn't repro this.

So, I close this.

[2022-05-27 23:18] #5369 closed

[2022-05-28 05:16] alilland opened #5571 "Permission denied @ rb_sysopen - /home/ubuntu/.rvm/gems/ruby-2.6.5/wrappers/rackup"
When trying to run bundle install in our production server i received the following error

[code]

## Environment

[code]

## Bundler Build Metadata

[code]

## Gemfile

### Gemfile

[code]

### Gemfile.lock

[code]

[2022-05-28 05:32] shaunakv1 commented on #4776
This now breaks with version 2.3.9 ? I just ran a bundle update to go from rails 5.1 to 5.2 and bundler is stuck on resolving dependencies forever

[2022-05-28 10:15] deivid-rodriguez commented on #4776
Hi, I don't think we regressed here, it may be a similar issue. Does removing the lockfile and running bundle install work?

[2022-05-28 10:16] deivid-rodriguez commented on #4776
Also, can you try with 2.3.14 (the latest version)?

[2022-05-28 10:16] deivid-rodriguez commented on #5571
Hi! Does it work if you uninstall the `gem-wrappers` gem? If yes, can you report this to the `gem-wrappers` gem? Thanks!

[2022-05-28 10:21] deivid-rodriguez commented on #5368
#5570 should fix this!

[2022-05-28 10:27] deivid-rodriguez commented on #4776
One last thing. Can you explain confirm whether you changed the `Gemfile` before running `bundle update`, and if yes, does it work if you run `bundle install` instead of `bundle update` after changing the `Gemfile`?

[2022-05-28 11:21] deivid-rodriguez commented on #5505
Only tangentially related to this, but I'm wondering why we use an MD5 digest at all for this folder name? I search in git history and it comes from the original implementation of the compact index client at https://github.com/rubygems/bundler/pull/3556, but I didn't see any explanation for it.

Removing it would reduce this folder name by 33 characters, making this less likely to happen, and woul

[2022-05-28 13:16] devYuMinKim opened #5575 "incompatible character encodings CP949 and UTF-8"
### Describe the problem as clearly as you can

### Did you try upgrading rubygems & bundler?

### Post steps to reproduce the problem

### Which command did you run?

### What were you expecting to happen?

### What actually happened?

### If not included with the output of your command, run `bundle env` and paste the output below

[2022-05-28 13:26] #5575 closed

[2022-05-28 22:28] pvilk opened #5577 "issue"
### Describe the problem as clearly as you can

### Did you try upgrading rubygems & bundler?

### Post steps to reproduce the problem

### Which command did you run?

### What were you expecting to happen?

### What actually happened?

### If not included with the output of your command, run `bundle env` and paste the output below

[2022-05-28 22:32] #5577 closed

[2022-05-29 11:24] deivid-rodriguez commented on #5505
Alright, I figured out why a digest is used by more closely looking at the code. It's the "path part" of the uri that causes issues, because it may contain slashes, which are forbidden inside a component inside a full path name.

Anyways, #5578 should fix this!

[2022-05-29 11:29] deivid-rodriguez commented on #5240
#5557 should fix this! @alexeevit Can you try it?

[2022-05-29 12:21] deivid-rodriguez commented on #5471
#5579 will fix this, thanks for reporting!

In any case, any of the advice above of installing and using a different Ruby installation from the one shipped with MacOS will definitely lead to a better overall experience.

[2022-05-29 12:22] deivid-rodriguez commented on #5454
@jackorp Would you be able to provide a PR to fix this?

[2022-05-29 13:19] #5471 closed

[2022-05-29 13:35] deivid-rodriguez commented on #5349
#5580 should fix this!

[2022-05-29 15:05] deivid-rodriguez commented on #5555
#5581 will fix this!

[2022-05-29 15:20] deivid-rodriguez commented on #5476
Hello! 👋

This is not a Bundler issue, but an issue with your Ruby installation. You can check Stackoverflow to try fix it: https://stackoverflow.com/questions/46377667/docker-for-mac-mkmf-rb-cant-find-header-files-for-ruby.

Good luck!

[2022-05-29 15:20] #5476 closed

[2022-05-29 15:27] #5349 closed

[2022-05-29 16:47] jackorp commented on #5454
I can try that, but cannot promise a concrete deadline as of now as I have other higher priority work.

I will have to investigate if it actually is that those certificates are using the SHA1 somewhere under the hood (in which case it would be better if upstream regenerated those instead of us) or if the problem is elsewhere.

[2022-05-30 08:42] #5368 closed

[2022-05-30 15:14] alexeevit commented on #5240
Sure, I'll check it soon. I stopped using asdf because of this error so I need to reproduce the environment :)

[2022-05-30 15:56] voxik opened #5585 "--install-dir vs --only_install_dir"
[code]

Sorry fo

[2022-05-30 16:08] voxik commented on #5585
BTW even if `--only_install_dir` was explicitly enabled on the command line, I would expect that a command such as `gem install nokogiri:1.6.7.1 rake:0.9.6 rack:1.6.13 i18n:0.9.0 activesupport:4.2.7` is always resolved as a single transaction, i.e. the `activesupport` installation should respect and use the previously installed `i18n:0.9.0`

[2022-05-30 16:09] deivid-rodriguez commented on #5585
Thanks for the report! Feel free to provide a PR to fix this 👍.

[2022-05-30 16:21] voxik commented on #5585
Just for the context, we have hit this discrepancy just by accident due to Fedora/RHEL using these overrides:

https://src.fedoraproject.org/rpms/ruby/blob/5bf57b1504871230600103083d77ff3502255e2e/f/operating_system.rb#_98-110

Where the behavior under root was different to regular user. We will switch the test case to use regular user, so it has not high priority for me. There are probably workar

[2022-05-30 16:54] deivid-rodriguez commented on #5585
Cool, thanks for the context.

[2022-05-30 21:16] deivid-rodriguez commented on #5493
#5586 should fix this!

[2022-05-31 07:13] #5555 closed

[2022-05-31 09:25] deivid-rodriguez commented on #5450
#5587 should fix this!

[2022-05-31 15:14] #5450 closed

[2022-05-31 16:26] deivid-rodriguez commented on #5360
I created an issue at the `uri` repo: https://github.com/ruby/uri/issues/42.

[2022-06-01 00:32] benjaminv commented on #5234
Thank you guys so much I was on an old project with newer bundler (version: 2.3.11) and `bundle _2.3.11_ update --bundler` worked for me too!

[2022-06-01 08:06] #5405 closed

[2022-06-01 08:18] deivid-rodriguez commented on #5326
The FreeBSD port seems in very good shape now, kept up to date with the latest upstream version: https://www.freshports.org/devel/ruby-gems/.

@duckinator Are you still having this issue?

[2022-06-01 10:01] #5436 closed

[2022-06-01 13:16] deivid-rodriguez commented on #5351
I guess people are having issues to upgrade bundler when they run into this issue. Does `bundle update --bundler` also runs into the same error?

[2022-06-02 00:49] nobu opened #5591 "As `+` is higher precedence than `&`, this equals `SHA1_MASK & (SHA1_MASK & (rotate(a, 5) + f + e + k + w[I]))`."
As `+` is higher precedence than `&`, this equals `SHA1_MASK & (SHA1_MASK & (rotate(a, 5) + f + e + k + w[I]))`.
I don't think bit-and with the same value twice has meaning.
Maybe `SHA1_MASK & ((SHA1_MASK & rotate(a, 5)) + f + e + k + w[I])` is intended?

_Originally posted by @nobu in https://github.com/rubygems/rubygems/pull/4989#discussion_r887406201_

[2022-06-02 05:24] IBRAHIMA8 opened #5593 "https://github.com/rubygems/rubygems/search?q=No+space+left+on+device+%40+rb_sysopen+-+%2Fhome%2Fibrahima%2F.rbenv%2Fversions%2F3.0.1%2Flib%2Fruby%2Fgems%2F3.0.0%2Fbundler.lock&type=Issues"
### Describe the problem as clearly as you can

### Did you try upgrading rubygems & bundler?

### Post steps to reproduce the problem

### Which command did you run?

### What were you expecting to happen?

### What actually happened?

### If not included with the output of your command, run `bundle env` and paste the output below

[2022-06-02 05:29] #5593 closed

[2022-06-02 13:23] #5591 closed

[2022-06-02 21:54] rcaught commented on #5351
Running this fixed it for me @deivid-rodriguez

[2022-06-03 12:50] djberg96 opened #5597 "Unresolved or ambiguous specs during Gem::Specification.reset warning with plugin"
ruby 3.1.1p18 on Mac, rubygems 3.3.15 (full env below)

I'm seeing a bunch of warnings when I try to use a local rubygems plugin. There is nothing special about the plugin, it's just a clock skew checker that you can see at https://github.com/djberg96/skew_guard/blob/main/lib/rubygems_plugin.rb. A regular `gem install` does not emit any warnings:

[code]

I tried uninstalling and/or cleaning first

[2022-06-03 13:51] leonp opened #5598 "Unexpected error when running `bundle` in a Jekyll project"
# Error Report

## Questions

Please fill out answers to these questions, it'll help us figure out
why things are going wrong.

- **What did you do?**

  I ran the command `bundle`

- **What did you expect to happen?**

  I expected Bundler to install and update gems for a Jekyll website.

- **What happened instead?**

  Instead, I got an `unexpected error`.

- **Have you tried any solutions poste

[2022-06-03 14:22] deivid-rodriguez commented on #5598
Please upgrade Bundler to the latest version and try again.

[2022-06-03 14:55] leonp commented on #5598
Thanks for responding, and so quickly!

I upgraded Bundler to 2.3.15. Unfortunately, I get the same error – and it still says `BUNDLED WITH 2.2.19` (`bundle -v` returns `Bundler version 2.3.15`)

I expect there’s a problem somewhere between my version of Ruby gems, Macos and/or xcode, and I wouldn’t expect anyone to troubleshoot that for me :-) I was hoping it would be a Ruby Gems problem with a r

[2022-06-03 23:25] djberg96 commented on #5597
Unrelated, but looking at specification.rb, line 1245, I see this:
[code]
Someone's gonna have to explain the point of `w = "W" + "ARN"` to me.

[2022-06-03 23:39] djberg96 commented on #5597
Inspecting `unresolved_deps` I see `{"rspec"=><Gem::Dependency type=:runtime name="rspec" requirements="~> 3.9">}`, which is the declaration for the sys-admin gem, but I have rspec 3.11.0 installed, which should match `~> 3.9`, right?

`Gem::Dependency.new('rspec', '~> 3.9').match?('rspec', '3.11') # => true`

[2022-06-04 06:05] norikokono opened #5599 "Unfortunately, an unexpected error occurred, and Bundler cannot continue."
We couldn’t find any issues matching 'No space left on device @ rb_sysopen - /usr/share/rvm/gems/ruby-3.0.1/bundler.lock' in [rubygems/rubygems](https://github.com/rubygems/rubygems)
You could [search all of GitHub](https://github.com/search?q=No+space+left+on+device+%40+rb_sysopen+-+%2Fusr%2Fshare%2Frvm%2Fgems%2Fruby-3.0.1%2Fbundler.lock) or try an [advanced search](https://github.com/search/adva

[2022-06-04 06:15] indirect commented on #5599
Your hard drive is out of space.

[2022-06-04 06:15] #5599 closed

[2022-06-04 07:35] norikokono commented on #5599
Hello indirect, Thank you so much for your quick response. I found somehow I created another copy file inside of the file. This was my learning material when I was attending Bootcamp last year. I was trying to fix the security issue of repos today and I tried to fix the wrong file. I didn't know I made such a disorganized error. Thank you so much for your time and for offering me your input.

[2022-06-04 13:33] Merovex commented on #5234
I had 2.3.3 installed. I had to remove prior versions of Bundler for it to latch on. Thanks for the help in this thread.

[2022-06-04 17:16] prismz opened #5600 "Gentoo ebuild error"
The Gentoo ebuild seems to call "rdoc" instead of "rdoc-2", and doesn't register `dev-ruby/rdoc` as a dependency. After installing `dev-ruby/rdoc` and creating a shell script in `/usr/local/bin` (effectively aliasing rdoc as rdoc-2), the package builds as normal.

[2022-06-05 13:24] sonalkr132 commented on #5494
Hi, we have renabled the change which led to this issue. This time we have ensured that we handle oregon.production.s3.rubygems.org.s3-us-west-2.amazonaws.com correctly. Please let us know if you face any issues.

FYI, you would have hit this issue only if you had "http" source in your Gemfile. Updating that to https is good practice in general.

[2022-06-05 17:13] deivid-rodriguez commented on #5600
This seems like a gentoo specific issue to me. Can you report this at https://bugs.gentoo.org/?

I'll close this but let me know if this is not correct.

[2022-06-05 17:13] #5600 closed

[2022-06-05 17:35] deivid-rodriguez commented on #5598
Hello!

If Bundler prints the bug report template, that's always a bug, so your report is legit. Sometimes the error is expected, so we need to handle it gracefully but explaining what's wrong and not telling our users to report a bug to us. Other times the problem is a real issue that needs fixing, but in any case, the bug report template should be reported so thanks :)

You said the problem is t

[2022-06-05 17:48] deivid-rodriguez commented on #5597
I have no idea what's the point of that either, feel free to dig further into git history :)

Regarding your issue, I'll have a look!

[2022-06-05 18:03] djberg96 commented on #5597
@deivid-rodriguez https://github.com/rubygems/rubygems/commit/1146b29c07961fb866d469d2515af238e7357825

Short answer: it was written 11 years ago that way to avoid editor highlighting, lol.

[2022-06-05 20:17] leonp commented on #5598
Sorry @deivid-rodriguez, I should have done that and closed the ticket, rather than just dumping the problem in here.

I ended up reinstalling Macos (more drastic than it sounds – there wasn’t a huge amount there), and everything’s fine.

Once again, thanks for your time.

[2022-06-05 20:17] #5598 closed

[2022-06-06 19:53] slondr opened #5605 "`bundle install' fails on 2.3.15; succeeds on 2.3.13"
### Describe the problem as clearly as you can

I ran `bundle install` in my project which has a dependency on mini_racer 0.6.2. It failed with an error saying that it couldn't find an archive file in a directory referencing musl (my system uses glibc), followed by a series of errors about missing symbols (presumably defined in that archive).

It's the exact same error someone else posted here: ht

[2022-06-07 10:32] deivid-rodriguez commented on #5605
Thanks for the report @slondr. So this is reproducible with a `Gemfile` including only `mini_racer-0.6.2` on Linux, or does it need something more complicated? Also, can you bisect the exact change that caused this? Thanks!

[2022-06-07 14:36] ragnarkon opened #5608 "Unable to marshal Gemspecs with YAML::Syck"
This looks to be another variant similar to #5405.  It's hitting the new rescue block but bombing out again since it can't find `YAML::Syck`.

Gem:  `excon v0.7.7`

[code]

## Environment

[code]

## Bundler Build Metadata

[code]

[2022-06-07 17:08] kenaitian opened #5609 "Unfortunately, an unexpected error occurred, and Bundler cannot continue."
--- ERROR REPORT TEMPLATE -------------------------------------------------------

[code]

## Environment

[code]

## Bundler Build Metadata

[code]

## Gemfile

### Gemfile

[code]

### Gemfile.lock

[code]

--- TEMPLATE END ----------------------------------------------------------------

Unfortunately, an unexpected error occurred, and Bundler cannot continue.

[2022-06-07 20:39] deivid-rodriguez commented on #5609
Hi @kenaitian, could you copy, not only the error but also the full command that you run, and the full output you got?

[2022-06-08 13:48] kenaitian commented on #5609
@deivid-rodriguez, you should find the steps taken before the error report template:

1. This was the GitHub Action log:
https://github.com/lessimp/lessimp_logs/blob/main/github_action_log

2. lintOption seems to have suppressed ':app:validateSigningRelease' following the ':app:lintVitalRelease' problem.
3. running the validate_play_store_json_key json_key has confirmed that there may be a ruby/bu

[2022-06-08 16:26] deivid-rodriguez commented on #5609
Thank you @kenaitian, any chance you can share a public GitHub actions log where I can see the problem? That way I can clone the repo and play around to try to fix this.

[2022-06-08 16:46] kenaitian commented on #5609
@deivid-rodriguez I can VS Live Share the github code (private) and I'm not sure how many components you'd need that since I'm also on a macbook pro. I suspect that the issue lies with the dev environment where it's look for gemfile while ruby and bundle is also affecting fastlane.

The scripts/decrypt_android_secrets.sh and the YAML file on GitHub Actions are already posted here if those two file

[2022-06-08 16:49] deivid-rodriguez commented on #5609
Where are you seeing the problem, locally or in GitHub actions?

[2022-06-08 16:55] kenaitian commented on #5609
Locally since the yml file run on GitHub Action is supposed to run Fastlane along with the gemfile, ruby and bundle. I thought my macOS would be corrupted and factory reset but still the same issue.

[2022-06-08 17:19] deivid-rodriguez commented on #5609
None of those errors match the one you reported here, no?

The one in Github Actions seems completely unrelated to RubyGems and Bundler. The one you're getting locally means your Ruby installation (Default Ruby that comes with MacOS) has its home configured to be `/System/Library/Frameworks/Ruby.framework/Versions/2.6/usr/lib/ruby/gems/2.6.0`, but that directory (`/System`) in particular is protec

[2022-06-08 17:58] kenaitian commented on #5609
@deivid-rodriguez ill keep you posted when I use ruby-build & rbenv or asdf the GitHub Action error is related when I executed what the command posted previously as “validate_play_store_json_key json_key:/Users/DevAccount/StudioProjects/lessimp/android/service_account_key.json”

[2022-06-08 18:29] deivid-rodriguez commented on #5609
I have no idea what all that issue, definitely things completely unrelated to RubyGems. So, yes, it might be related to your issue, but not to our software.

I'll close this for now, but if you still have issues after switching away from your system Ruby let me know.

[2022-06-08 18:29] #5609 closed

[2022-06-09 10:53] hurricup opened #5616 "Bundler fails on travis ci on ruby 2.6.1"
Here is the output I have:
[code]
Other versions working well

[2022-06-09 10:58] deivid-rodriguez commented on #5616
Can you link to a public travis CI log?

[2022-06-09 10:59] hurricup commented on #5616
Unfortunately it's close sourced test. What part do you need?

[2022-06-09 11:12] deivid-rodriguez commented on #5616
I need a way to reproduce locally, so anything relevant, `Gemfile`, `Gemfile.lock`, `bundle env`, definition of `rake test` task... Ideally a public repository where the issue reproduces.

I suspect this Ruby version includes a very old version of Bundler that used to vendor an old version of Thor where the `Thor::Command` class inherited from a different struct. And somehow both incompatible defi

[2022-06-09 11:20] deivid-rodriguez commented on #5616
No problem, thanks to you for reporting the issues you find 👍.

[2022-06-09 11:59] #5616 closed

[2022-06-09 14:51] DocX opened #5617 "export `bundler/setup` as method in `bundler` to allow customizing groups"
### Describe the problem as clearly as you can

Using

[code]

gives the nice UI when any dependency is missing.

However it is hardcoded to setup all groups.

If I want to setup only `:default` group but keep the nice UI for the bundler errors, I would need to rip-off the code from `bundler/setup` file:

[code]

Could we export the `bundler/setup` code to e.g. `Bundler.friendly_setup(*groups)`. S

[2022-06-09 14:59] simi commented on #5617
I'm not sure about the method name, but I do agree we can wrap all `bundle/setup` logic into method on `Bundler` and call it with `:default` group in there also exposing `Bundler.some_name_setup(groups)` for custom usage.

Would you mind to contribute this @DocX?

[2022-06-09 15:21] DocX commented on #5617
Let me try

[2022-06-09 15:22] simi commented on #5617
@DocX feel free to join us at bundler slack if help is needed.

[2022-06-10 07:42] deivid-rodriguez commented on #5418
Closing due to lack of feedback.

[2022-06-10 07:42] #5418 closed

[2022-06-10 07:42] deivid-rodriguez commented on #5384
Closing due to lack of feedback.

[2022-06-10 07:42] #5384 closed

[2022-06-10 17:18] acouprie opened #5619 "Cannot install gems: 'undefined method `deprecated?' for nil:NilClass'"
Hello,

I'm having a problem.
I cannot install any gems, nor update `gem update --system`.

This issue is related to:

  - [ ] Network problems
  - [x] Installing a library
  - [ ] Publishing a library
  - [x] The command line `gem`
  - [ ] Other

Here are my current environment details:

[code]
[code]

I tried `gem install bundler`, `gem update --system`, `gem pristine --all --no-extensions`, but

[2022-06-10 18:22] bronzdoc commented on #5442
@deivid-rodriguez @rubyFeedback What should be the output of a table format to display multiple versions of the same gem?

[2022-06-10 18:41] slondr commented on #5605
Yeah, I can reproduce this in a fresh ruby-2.7 docker image with the following gemfile:
[code]

Running `bundle install` fails as it tries to install musl dependencies instead of glibc dependencies

[2022-06-11 09:40] deivid-rodriguez commented on #5442
I guess a comma separated list of versions, like the current output?

[2022-06-11 09:41] deivid-rodriguez commented on #5619
Can you show the output of `gem update --system --backtrace`?

[2022-06-11 09:41] deivid-rodriguez commented on #5571
Closing due to lack of feedback.

[2022-06-11 09:41] #5571 closed

[2022-06-11 09:42] deivid-rodriguez commented on #5556
Closing due to lack of feedback.

[2022-06-11 09:42] #5556 closed

[2022-06-11 11:06] #5608 closed

[2022-06-11 14:00] deivid-rodriguez commented on #5605
I tried with official ruby:2.7.5 docker image and the `Gemfile` you posted and everything worked correctly. Can you share docker commands and/or Dockerfiles to reproduce this? Thanks!

[2022-06-11 17:14] #5442 closed, assigned to bronzdoc

[2022-06-12 01:51] duerst commented on #5360
What about using  ruby `-ruri -e 'URI.parse("https://u%40u.com:p@example.com")'` ?

[2022-06-12 19:52] dorianmariefr commented on #1933
On rubygems `3.3.13` I have `gem logout` / `gem login` but there is no `~/.gem/credentials` file, has it changed?

[2022-06-12 19:55] simi commented on #1933
@dorianmariefr check ` Gem.configuration.credentials_path` in IRB.

[2022-06-12 19:56] dorianmariefr commented on #1933
thanks @simi, for reference it's `~/.local/share/gem/credentials` on my machine

[2022-06-13 09:28] DocX commented on #5617
From my experiment it does not. I was trying to look at the code and I also could not find where would it read the ENV var. The `Bundler.setup` indirectly calls this in the `Runtime`:

https://github.com/rubygems/rubygems/blob/2491b5905776979ad407b0922302a6966530d4a2/bundler/lib/bundler/definition.rb#L239

where the `groups` is passed from `Bundler.setup` arguments. So if I read it correctly, it i

[2022-06-13 09:29] deivid-rodriguez commented on #5617
You're totally right, I think we should fix it.

[2022-06-13 09:38] DocX commented on #5617
It does not look to work properly 🤔

With this code:

[code]

Running
[code]

Prints
[code]

[2022-06-13 17:32] deivid-rodriguez commented on #5360
By the way, I [fixed two uri redaction bugs](https://github.com/rubygems/rubygems/pull/5623) that I saw in the screenshots you posted :)

[2022-06-13 20:58] arc113 commented on #5360
Thanks! Good to know. @deivid-rodriguez

[2022-06-14 07:59] deivid-rodriguez commented on #5240
@alexeevit Any news? I think I will probably merge it since it's a test only change and it worked under my testing.

[2022-06-14 13:00] lucaspiller commented on #5338
@deivid-rodriguez We are working on a platform that is developed on macOS running either Intel or Apple Silicon CPUs and Linux laptops, and run on Linux servers with Intel CPUs.

What's not clear is what problem this is trying to solve. The example you gave of nokogiri being different on different hosts/architectures makes sense, but I don't see how adding an extra flag to the `Gemfile.lock` would

[2022-06-14 15:09] deivid-rodriguez commented on #5338
Not sure which example you mean, but locking the specific platform in the `Gemfile.lock` file did fix platform issues as already explained. Anyways, I already admitted that this is inconvenient and that I will work on solving it, not sure what it is that you expect to get from your message.

[2022-06-14 21:39] alexeevit commented on #5240
@deivid-rodriguez sorry for that, I checked, everything seems to be fine now. Thanks for your efforts!

[2022-06-15 08:25] #5326 closed

[2022-06-15 09:14] #5240 closed

[2022-06-15 11:40] deivid-rodriguez commented on #5371
I tried the approach suggested at https://github.com/rake-compiler/rake-compiler/issues/202 and it seems to work and make things simpler, so I'm good with doing this.

[2022-06-15 11:56] eregon commented on #5371
Great!

[2022-06-15 12:39] citrusmoose commented on #3186
I'm running into the same problem, except with the ruby version as the previous comment mentions.  Is there any updated thoughts on how to fix this?  We're in the process of upgrading ruby in our various environments, and it would be nice to simply deploy one package that contains the old and new version gems rather than trying to deploy our code at the same time as the new ruby.

[2022-06-15 13:09] deivid-rodriguez commented on #3186
The latter issue should be easy to fix I believe? It should be a matter of making the replacement a bit smarter, right?

[2022-06-16 21:19] iuriguilherme commented on #4031
When I issued `gem install --user-install bundler` in a Ubuntu system, `~/.local/share/gem` was created.

So because I expected the `bundle` command to use that instead of what I would get if I did `sudo gem install bundler` instead, I made this:

`bundle config set --global ~/.local/share/gem`

As a many years Python developer and a newbie to Ruby, I managed to figure that one after as little as

[2022-06-17 07:02] ARIEnergy opened #5633 "Bundle install is okay, but it always showed install missing gems"
### Describe the problem as clearly as you can

### Did you try upgrading rubygems & bundler?
Nope , I use the latest bundler and then run it on Mac

### Post steps to reproduce the problem

### Which command did you run?

bundle exec pod install

### What were you expecting to happen?
I truly hope it worked well

### What actually happened?
It failed, showed missing gem

## Environment

[code]

#

[2022-06-17 07:06] ARIEnergy commented on #5633
@hsbt  Why close this issue? It has relationship with bundle , so hope you can check it ,thank you so much!

[2022-06-17 07:13] hsbt commented on #5633
@ARIEnergy Sorry, I didn't fill out the issue report when you opened this. We always faced the empty report.

[2022-06-17 07:14] ARIEnergy commented on #5633
`Could not find fastlane-2.206.2, cocoapods-pod-merge-0.0.4, artifactory-3.0.15, aws-sdk-s3-1.114.0, babosa-1.0.4, colored-1.2, commander-4.6.0, dotenv-2.7.6, emoji_regex-3.2.3, excon-0.92.3, faraday-1.10.0, faraday-cookie_jar-0.0.7, faraday_middleware-1.2.0, fastimage-2.2.6, google-apis-androidpublisher_v3-0.22.0, google-apis-playcustomapp_v1-0.8.0, google-cloud-storage-1.36.2, highline-2.0.3, js

[2022-06-17 07:48] deivid-rodriguez commented on #5633
@ARIEnergy Please make sure you upgrade Bundler and RubyGems. Latest version of Bundler is 2.3.16 but you are using 1.17.2. Similarly, latest version of RubyGems is 3.3.16, but you are using 3.0.3.1. It's likely that this has been fixed in the latest versions. If you are still experiencing this issue after upgrading, please reopen this ticket posting the new output of the error and the result of `

[2022-06-17 07:48] #5633 closed

[2022-06-17 08:05] #5371 closed

[2022-06-17 08:38] deivid-rodriguez commented on #5240
@alexeevit Unfortunately I had to revert the fix because it broke some tests when ported to the ruby repo. I will keep this closed for now though because I'm unsure where the fix for this should be implemented, but I'll investigate anyways. By the way, I recommend to use asdf in combination with direnv with https://github.com/asdf-community/asdf-direnv. I doesn't use shims so it's not affected by

[2022-06-17 11:30] hurricup opened #5634 "pacman is locked if multiple packages need to be installed"
- OS: Windows 10
- Ruby: 2.4. (most recent)
- Bundler: 2.3.15

Scenario:
- rails app created with `--database=sqlite3 --skip-bundle`
- then run `bundle install`

In the bundler verbose log i can see:
[code]

As in most cases, happens every time on CI. And looks like first installation didn't finish (at all or correctly).
Unfortunately there is no additional information in the log from `pacman` inv

[2022-06-17 11:43] hurricup commented on #5634
I can't remove openssl package in my msys2, because of tons of reverse dependencies :)

[2022-06-17 13:02] MSP-Greg commented on #5634
@hurricup

What CI is being used?  You may need to update MSYS2 before `bundle install`.  Also, Windows Ruby 2.4.x builds use OpenSSL 1.0.2, and the current MSYS2 package is OpenSSL 1.1.1 (discussions have started about updating to OpenSSL 3.0.x).  The current MSYS2 MinGW64 build tools have gone thru several version updates, and may cause issues.

So, if you have to use Ruby 2.4, you'll need to lo

[2022-06-17 13:16] hurricup commented on #5634
@MSP-Greg i disagree. We have no compilation error or missing library error.
We have a pacman locked error. This means:

1. `openssl` installation failed and was not properly reported by the bundler so user could perform appropriate action to fix it.
2. `openssl` installation was not finished when bundler attempted to install another msys2 package.

Maybe `rubygems` responsible for some of theese,

[2022-06-17 13:36] MSP-Greg commented on #5634
@hurricup

Bundler and/or RubyGems do not install packages needed to compile extension gems.  All the code that is causing the issue is contained in the RubyInstaller2 runtime.

The reason the packages are being installed is due to the gemspec metadata key `msys2_mingw_dependencies`, which exists in the two extension gems (puma & sqlite3) that being installed.  The metadata key `msys2_mingw_depend

[2022-06-17 13:39] MSP-Greg commented on #5634
There have been many changes in the last year with MSYS2, including the download servers and signing keys.  Also, zst packages are now being used, previously they were 7z.

If your MSYS2 install is as old as Ruby 2.4, it may need a full update.

[2022-06-17 13:42] hurricup commented on #5634
@MSP-Greg oh, thank you for the clarification. May be I should address this issue to the rubyinstaller2 then.

I believe it's up to date. We have all rubies 2.4+ installed on  the system with the same msys installation.

Anyway, i can install `sqlite3` with `gem install` from the command line without any problems. will try with puma and see what will happen.

[2022-06-17 13:54] hurricup commented on #5634
Yes, that was my initial assumption:

Would be nice if `bundler` wrote in `verbose` log how many workers are used. Is there way to check how many of them and why? I was thinking it should be explicitly configured somewhere.

[2022-06-17 13:59] deivid-rodriguez commented on #5634
Bundler defaults to using as many workers as available processors (`Etc.nprocessors`) _unless_ jobs is explicitly configured.

[2022-06-17 14:01] deivid-rodriguez commented on #5634
I'm fine with adding this information in verbose mode 👍.

[2022-06-17 14:07] hurricup commented on #5634
Then I'm sure that's it. And because of this case, probably it's not so good idea for Windows (irr this auto-dependencies installation works only for windows, for others we have just  compilation error)

Or this `pacman` lock error could be handled somehow , with like helpful message (if `bundler` have an access to it).

As usual - thank for your help!!!

[2022-06-17 14:08] MSP-Greg commented on #5634
Re Puma, I don't think it will work.  If you don't need ssl connections, set ENV['DISABLE_SSL'], which will compile Puma without OpenSSL support.

If you do need ssl connections, you need to upgrade to Ruby 2.5 or later.  From the log, you're compiling with OpenSSL 1.1.1, but Ruby's OpenSSL is compiled with 1.0.2, and 1.0.2 dll's are included in its install.  Bad idea, with unknown consequences...

[2022-06-17 14:16] deivid-rodriguez commented on #5634
I just recalled that we skipped this behaviour on Windows for a while because it was causing other issues, but we ended up enabling it in the end: https://github.com/rubygems/rubygems/pull/4822. Maybe that was premature after all.

[2022-06-17 14:20] hurricup commented on #5634
Well, if it is a first report in almost a year and for ancient ruby version, guess it's just fine.
These old rubies always giving a headache with something.

[2022-06-17 14:22] deivid-rodriguez commented on #5634
Yeah, but I did see the flaky CI failure that I thought was fixed again. Although just a couple of times in a very long time, and end users have not reported anything (apart from this one issue).

[2022-06-17 14:25] hurricup commented on #5634
Well, now we found at least one case and it's symptom :D

[2022-06-17 14:29] MSP-Greg commented on #5634
The complexity blows up quick with extension gems, std-lib extensions, etc.  Build/compile dependencies (like the mingw64 packages) vary quite a bit in how they're handled by various OS's.  Old gems/Rubies may have been released before current package versions existed.

For instance, with MSYS2, there can only be one install of OpenSSL.  Other OS's allow one to install (and link to) multiple OpenS

[2022-06-20 12:55] graywolf-at-work opened #5635 "Running gem generate_index --update does not clean up temporary directories"
I'm having a problem or would like to suggest a feature.

My current problem is that running gem generate_index --update does not clean up temporary directories after itself.

This issue is related to:

  - [ ] Network problems
  - [ ] Installing a library
  - [ ] Publishing a library
  - [x] The command line `gem`
  - [ ] Other

Here are my current environment details:

[code]

I will abide by th

[2022-06-20 21:15] pboling opened #5636 "Invisible gems?"
I published a new gem via the cli, but it is not found by bundler, and is not listed on rubygems.org.

This issue is related to:

  - [ ] Network problems
  - [ ] Installing a library
  - [x] Publishing a library
  - [ ] The command line `gem`
  - [ ] Other

I can't understand how this is possible, as other gems are being published.

The gem source is at https://github.com/pboling/gem_ver.

The ge

[2022-06-20 21:19] simi commented on #5636
@pboling hello. I have seen your support request as well. Let's continue in here. Are you 100% sure you have pushed this to rubygems.org? Can you paste the push output (please redact any private info in there).

[2022-06-20 23:03] pboling commented on #5636
Aha!  I did get an error.
[code]
I use the gem `gem-release` to bump / release / tag, and it didn't surface the issue in a way that I noticed, so that is a bug.  I guess I will have to rename my project. :(

[2022-06-20 23:03] #5636 closed

[2022-06-21 12:06] djberg96 opened #5637 "The --format-executable option doesn't seem to work"
* ruby 3.1.1p18 (2022-02-18 revision 53f5fc4236) [x86_64-darwin21]
* rbenv 1.2.0

Quick backstory, we have a minor conflict between the `tilt` gem (which installs a `tilt` executable) and the unrelated `tilt` microservices command line tool (https://docs.tilt.dev/cli/tilt.html). To work around it, I thought I would use the `--format-executable` option so that it installed the gem exectuable as `ti

[2022-06-21 18:01] deivid-rodriguez commented on #5637
@djberg96 `--format-executable` makes RubyGems respect the format in `RbConfig::CONFIG["ruby_install_name"]`. So if your ruby was installed as `ruby3.1`, then executables installed by RubyGems will match that convention and get installed as `tilt3.1`. But it sounds like you Ruby installation is standard and your Ruby executable is named just `ruby`, so your idea is not going to work I'm afraid. I'

[2022-06-21 20:19] rubyFeedback opened #5640 "Too long names for packaging: is this still a valid restriction?"
Today I kind of created a new file for my gem called "studium".

When trying to package it I got this error:

    ERROR:  While executing gem ... (Gem::Package::TooLongFileName)
        File

"lib/studium/yaml/curricula/outdated/bachelor_bioinformatik_und_molekulare_biotechnologie_unter_berücksichtigung_medizinisch_immunologischer_aspekte.yml"

    has a too long name (should be 100 or less)
    #

[2022-06-21 21:17] 64kramsystem opened #5641 "Allow make options, to make extensions compilation considerably faster (2x/3x)"
Currently, extensions are compiled (by make) in a single thread; due to "GIL and stuff", increasing the number of jobs doesn't help (extension compilation is largely CPU-bound).

As an effect of this, on projects with a large number of dependencies (assuming the the number of C extensions is correlated to the number of gems used), installing gems is very inefficient.

It's actually trivial to cons

[2022-06-22 02:31] djberg96 commented on #5637
@deivid-rodriguez Hm, how would you feel about falling back to appending a stringified `RbConfig::CONFIG['ruby_version']` if there's no digit found in `RbConfig::CONFIG['ruby_install_name']`?

Maybe as a subcommand option? Something like:

`gem install --format-executable --force-version tilt`

Another idea I had was to disallow installing rubygem executables completely.

`gem install --no-executa

[2022-06-22 07:47] deivid-rodriguez commented on #5637
From the suggestions you propose, I guess I'd go with `--no-executables`? I don't want to change `--format-executables`  behavior because the current one makes sense to me and I could image people depending on it.

[2022-06-22 07:49] deivid-rodriguez commented on #5641
Thanks for reporting this. I'll close  in favor of #5276 though since I think this is a duplicate of it. Feel free to post your comments there!