[2020-12-08 21:07] deivid-rodriguez commented on #4111
Hi, thanks for the issue.

This warning has been removed from bundler 2.2.0 which will be released this week, so I'll close this ticket so this is no longer an issue.

We might be unintentionally printing other warnings to STDOUT, but let's get that reported separately if it's actually happening.

[2020-12-08 21:07] #4111 closed

[2020-12-08 21:08] #4107 closed

[2020-12-09 04:06] igaiga opened #4112 "gem command neglects --pre option"
I'm having a problem or would like to suggest a feature.

My current problem is "gem command neglects --pre option".

---
I've run `gem i rails --pre` command on Ruby 3.0.0preview2 and gem v.3.2.0, gem command installed rails-6.0.3.4 (not rails 6.1.0.rc2).
It looks that gem command neglect --pre option.

[code]

- Ruby: 3.0.0preview2
  - rbenv, ruby-build
- gem: 3.2.0
- OS: MacOS 10.15.7

In Ruby

[2020-12-09 04:17] MSP-Greg commented on #4112
Maybe `--prerelease` ?

[2020-12-09 06:38] igaiga commented on #4112
`gem install rails --prerelease` didn't work. 😢
It works same as `--pre` option.

[2020-12-09 07:57] deivid-rodriguez commented on #4112
I can reproduce this issue. This is an unintended regression from the upgrade to molinillo 0.7.0 in #3388. I will have a look and revert the upgrade if I can't figure it out.

[2020-12-09 15:51] deivid-rodriguez commented on #4112
@igaiga #4113 should fix this in case you want to give it a try.

[2020-12-10 00:01] igaiga commented on #4112
@deivid-rodriguez Thanks! 😃
I've tryed your PR, but rails gem is released 6.1.0 final version a few hours ago, so I couldn't try the case to work --pre option...

[2020-12-10 00:18] nateww commented on #3251
FYI, the docs on the bundle website still don't document the `--all` flags.

See https://bundler.io/v2.1/man/bundle-binstubs.1.html

[2020-12-10 09:44] deivid-rodriguez commented on #3251
Right, these docs will be present in bundler 2.2 docs.

[2020-12-10 09:58] #4112 closed

[2020-12-10 11:50] deivid-rodriguez commented on #3251
Docs are live now: https://bundler.io/v2.2/man/bundle-binstubs.1.html.

[2020-12-10 15:03] tarbayev opened #4122 "`bundle install` does not respect lock file"
### Describe the problem as clearly as you can

After installing bundler 2.2.0 it stopped respecting `Gemfile.lock` because of platform mismatching platforms.
This leads to unexpected failure in our CI.

### Post steps to reproduce the problem

Run `gem install bundler`
Ensure that `bundle --version` prints 2.2.0

### Which command did you run?

`bundle install` contains the following message:
`Fo

[2020-12-10 15:10] diasjorge opened #4123 "Bundler does not find platform specific gem"
Today we started having some problems with our deployments, Bundler would refuse to find the google-protobuf gem.

We we're seeing this error:

[code]

Even though I could see it in the file system in this path: `vendor/bundle/ruby/2.5.0/gems/google-protobuf-3.9.1-x86_64-linux`

The Gemfile.lock was generated by bundler 2.1.4 but our system had upgraded to use bundler 2.2.0 automatically.

[2020-12-10 15:13] diasjorge commented on #4123
Update: I downgraded our systems to use bundler 2.1.4 and we no longer have the issue

[2020-12-10 15:25] deivid-rodriguez commented on #4122
Thanks for the ticket and I'm sorry the release caused you trouble. I'll come back tomorrow to investigate what happened.

[2020-12-10 15:25] nateww commented on #3251
Thanks

[2020-12-10 15:27] deivid-rodriguez commented on #4123
Thanks for reporting this @diasjorge, I'll investigate what happened here because the main point of this release is better platform support :sweat_smile:.

I'll get back to this tomorrow but in the mean time if you (or someone else) can provide a repro or point me to a public CI that broke because of the release, I really appreciate it.

[2020-12-10 16:28] diasjorge commented on #4123
@deivid-rodriguez I made this repository with instructions how to reproduce the bug https://github.com/diasjorge/rubygems-platform-bug

There's some missing information needed for bundle 2.2.0 in the gemfile.lock generated by a previous version. If that's the case I think it would be better for bundler to print an error about the breaking change and needing to update the Gemfile.lock file

[2020-12-10 16:32] diasjorge commented on #4123
Here's a diff I see from the Gemfile.lock between versions:

[code]

[2020-12-10 17:20] thedanbob commented on #3204
I was wrong, even with the patch `bundle install` doesn't work as expected if the git gem is already cached.

This appears to be correct, if vendor/cache doesn't exist the git gem is installed in the correct location and also appears in the cache. But if it's already present in vendor/cache it doesn't get installed in vendor/bundle.

[2020-12-10 19:29] pboling commented on #3976
This error began happening for us immediately when the new versions dropped.
<img width="485" alt="screen_shot_2020-12-11_at_2 25 13_am" src="https://user-images.githubusercontent.com/19505/101819843-5b4f0c00-3b58-11eb-97f5-fac4aa2b3f60.png">

Here's the error:
[code]

More data that may help:
[code]

and
[code]

[2020-12-10 20:34] bf4 commented on #3379
I believe this may be closed as completed

[2020-12-10 21:13] brettwgreen commented on #4123
Having similar issue on a different gem... what's the correct way to 'update the Gemfile.lock'. I tried reinstalling all my gems but that did not fix the issue.

[2020-12-10 21:26] pboling commented on #3976
@deivid-rodriguez is this a regression?  Should I open a new issue?

[2020-12-10 22:41] diasjorge commented on #4123
@brettwgreen to update the Gemfile.lock you'd need to update the bundler version first and then perform a bundle install

[2020-12-10 22:47] brettwgreen commented on #4123
Yeah, I did that but had issues running a rails app. Same exact error as yours but with the bindex gem running inside a docker container. I thought maybe there was a way to rebuild the lock file to add whatever info it may have been missing. For now, I've locked to bundler 2.1.4.

[2020-12-10 23:04] hsbt commented on #4123
FYI: https://github.com/rubyjs/libv8/issues/310

[2020-12-10 23:53] Dantemss commented on #4123
What are the expected settings/workflow in bundler 2.2 for devs who develop/create a lockfile on one platform and need to install platform-specific gems on a server running on a different platform? I looked but couldn't find anything...

We have devs who prefer to develop on OS X and need to deploy to a linux server. The server is not able to build libv8 from source (nor do we want to spend time d

[2020-12-11 03:23] hsbt commented on #3976
@pboling It's not regression, another issues. I created the patch for this.

https://github.com/rubygems/rubygems/pull/4124

[2020-12-11 07:23] deivid-rodriguez commented on #3976
Thanks for reporting and fixing this, both!

[2020-12-11 08:24] deivid-rodriguez commented on #4123
Hi @diasjorge!

I'm really sorry about this issue. I failed to predict this kind of trouble. Let me explain what's going on.

In this case, bundler 2.1.4 behaviour is to lock the pure ruby alternative in the lock file, but then at installation time choose the platform specific alternative for installation. In this particular case, it works, but it's still error prone because, for example, a platfo

[2020-12-11 08:30] deivid-rodriguez commented on #3379
Could you clarify @bf4? We don't keep checksum information in the lockfile at the moment which I believe is what this issue is suggesting.

[2020-12-11 08:32] deivid-rodriguez commented on #3204
Thanks for reporting your testing about current behaviour @thedanbob, hopefully I'll be able to return to this ticket soon!

[2020-12-11 08:36] deivid-rodriguez commented on #4123
@brettwgreen Could you point me to instructions or public repo where I can see your issue for myself? Maybe it's same issue, maybe it's not.

[2020-12-11 09:22] deivid-rodriguez commented on #4122
Hello! :wave:

Thanks for reporting this issue and sorry for the trouble :pray:.

This has a lot of similarities with #4123.

Proper version selection of bundler should have worked here but unfortunately it needs https://github.com/rubygems/rubygems/pull/2583, which was released with rubygems 3.1, but you're using rubygems 3.0.

As per your CI failure in particular, the specific issue is that you'

[2020-12-11 09:30] deivid-rodriguez commented on #4123
Hi @Dantemss!

Bundler 2.2 is supposed to keep track of all platforms in the lock file and give you the best gem variant for your platform, so if you're running under a platform where a proper precompiled version is available, you should get that, otherwise you should fallback to the standard version (which might need to compile extensions on the fly).

Essentially the above scenario is what you n

[2020-12-11 11:02] haines opened #4125 "Surprising interaction between force_ruby_platform and bundle lock --add-platform"
### Describe the problem as clearly as you can

We're running macOS locally and Alpine Linux in production, so when we upgraded to Bundler 2.2.0 I wanted to include both `x86_64-darwin-19` and `x86_64-linux` in the `PLATFORMS` section of the lockfile, and platform-specific gems for both platforms in the `GEM.specs` section.

When I ran `bundle lock --add-platform x86_64-linux`, it correctly added

[2020-12-11 11:06] deivid-rodriguez commented on #4125
Hi @haines, thanks for reporting this. That's definitely an interesting interaction... What should we do there, though? Maybe warn when `bundle lock --add-platform` is run and the `force_ruby_platform` is set?

[2020-12-11 11:07] deivid-rodriguez commented on #4125
Oh, I just saw that you updated the expected behaviour with throwing an error. That makes sense to me I think.

[2020-12-11 11:24] haines commented on #4125
Yep, I think successfully adding the platform to the lockfile (even with a warning) in this case would be wrong, because next time `bundle install` updates the lockfile it'll remove the extra platforms anyway.

By setting `force_ruby_platform` I've told Bundler "don't install platform-specific gems" but by then running `bundle lock --add-platform` I'm telling Bundler "install platform-specific gem

[2020-12-11 11:29] deivid-rodriguez commented on #4125
Absolutely, I fully agree with you :+1:.

[2020-12-11 11:36] deivid-rodriguez commented on #4125
What about the reverse?

Having specific platforms locked in your lockfile, and trying to set `force_ruby_platform`? I guess we should also fail and tell users to run `bundle lock --remove-platform <non_ruby_platforms>` first if that's what they really want to do?

[2020-12-11 11:54] haines commented on #4125
I think it'd have to be a check during `bundle install`, right? In case someone sets `force_ruby_platform` via an environment variable, for example.

I think in this case Bundler could either fail and tell the user how to fix the situation (as you suggest), or proceed with the install and remove the other platforms, but print a warning like

[code]

[2020-12-11 12:04] deivid-rodriguez commented on #4125
Well, you're totally right again!

[2020-12-11 12:06] deivid-rodriguez commented on #4125
I think plain error might be easier. We try to move to better supported platform specific gems, so I expect `force_ruby_platform` to be less used over time, so this should be a rare case.

[2020-12-11 13:00] diasjorge commented on #4123
@deivid-rodriguez I updated the repo with instructions to run with different ruby versions and being able to update rubygems. You could take a look at the readme.

The bug did not manifest with ruby 2.7 which ships with rubygems 3.1.4

With ruby 2.5 using the latest rubygems it does not manifest itself either, so your diagnosis is correct.

Another related question, is there a way to have the gem

[2020-12-11 13:46] deivid-rodriguez commented on #4123
Currenly we don't have such thing, although we should. My plan for the next version would be to make `bundle install` automatically manage the bundler version itselft, meaning:

* Read the `BUNDLED WITH` section.
* If installed, go on, to install the bundle.
* If not install, install that version, and `Kernel.exec` the original `bundle install` command to the version we just installed.

Regarding

[2020-12-11 13:53] eregon commented on #4123
I'm not sure I understood https://github.com/rubygems/rubygems/issues/4123#issuecomment-743049519 very well, but so this bug is caused by locking with one version of Bundler and installing with another version of Bundler? So some old RubyGems actually picks the Bundler version non-deterministically, or is it because the lockfile needs to be generated on some other machine?

Maybe Bundler should ha

[2020-12-11 13:56] deivid-rodriguez commented on #4123
Yes, I think I'm going to check the "BUNDLED WITH" version, revert to the previous behaviour if pre-2.2.0, and release a patch-level version of bundler.

[2020-12-11 14:03] deivid-rodriguez commented on #4123
I'm not sure I understood #4123 (comment) very well, but so this bug is caused by locking with one version of Bundler and installing with another version of Bundler? So some old RubyGems actually picks the Bundler version non-deterministically, or is it because the lockfile needs to be generated on some other machine?

This particular bug is caused by locking and installing with a particular versi

[2020-12-11 14:14] deivid-rodriguez commented on #4123
I have to leave my laptop now but I'll come in ~6h and try to get this thing fixed.

[2020-12-11 14:36] diasjorge commented on #4123
Just to clarify the example case uses `bundle list` because it's easy to demonstrate the problem but trying to run an app that uses bundler fails the same way.

[2020-12-11 14:45] deivid-rodriguez commented on #4123
Yep, yep, `bundle exec` would have the same issue.

[2020-12-11 17:23] haines commented on #4125
I started on a PR (#4126) and might have come across an alternative option to throwing an error when installing from a multiplatform lockfile with `force_ruby_platform` set.

I think we can just remove the behaviour that strips the non-ruby-platform dependencies from the lockfile when running with `force_ruby_platform`? That's a small change to remove this conditional, so that we always start with

[2020-12-11 20:53] deivid-rodriguez commented on #4125
Hei @haines, thanks for the help!

While a change that removes code and fixes an issue seems very appealing, I think we should carefully think about that since it changes the specification for the option after all. Your other proposal seems a no-brainer, so I'd go with that now and then give the other idea some more calmed thought.

[2020-12-11 21:09] bf4 commented on #3379
if the intention is to have the checksum available, I just mean it is. If the intention is to have it be automated, I don't believe it is.  Putting in the Gemfile.lock might possibly be useful for some 3rd party tool to validate against what's known via rubygems.org.  So, depends if the issue is 'keep track of checksum' vs 'keep a checksum in the Gemfile.lock' or 'have gem command which validates

[2020-12-11 21:29] haines commented on #4125
Fair enough! I've marked the PR as ready for review with only the first change included.

What's potentially worth considering, though, is that removing the behaviour that strips the extra platforms might actually eliminate the need to throw the error when attempting to add a platform!

Based on the suggested semantics that the config option should only affect which platforms are selected for inst

[2020-12-11 22:01] deivid-rodriguez commented on #4125
Actually, the config option affects resolution. Basically it tells the resolver to disregard any platform specific gems. Then installation installs what was resolved. So basically with `force_ruby_platform` you'll never get any platform specific gems in the lockfile at all, so no platform specific gems get ever installed.

So, I don't see how you'd want platforms in your lockfile and ignore platfo

[2020-12-11 23:00] deivid-rodriguez commented on #4123
Hei, I created a fix https://github.com/rubygems/rubygems/pull/4127. I'm fighting with the spec that covers the regression locally for me but fails in CI. If you have time to try it, I appreciate.

[2020-12-11 23:06] FireFart commented on #4123
We have the same issue with our docker image too.

We do the following in the Dockerfile during build time:

[code]

This config forces the platform to always be ruby. In our update script to update the gems we had the following commands implemented:

[code]

This always worked, but with bundler 2.2.0 it added a new plattform (alongside the ruby platform) to the `Gemfile.lock`.

We fixed this on o

[2020-12-11 23:10] brettwgreen commented on #4123
Yep, same as us. The gem it hits first probably depends on your particular init process. Workaround, for now, is to lock bundler using `gem install bundler - v 2.1.4`.

[2020-12-11 23:26] deivid-rodriguez commented on #4123
Could you try the fix?

[2020-12-11 23:45] nesrual opened #4128 "Infinite loop when bundling gems"
[code]

Bundler version 2.2.0 (rc1 and rc2 works fine)

Sample gemfile:

[code]

Bundle will never finish / infinite loop.

[code]

The RC versions works fine - the issue appeared in 2.2.0

The issue is the same for macOS (Big Sur) and for docker images (Ubuntu)

[2020-12-12 00:36] brettwgreen commented on #4123
I'm kind of fried after this week, but I'll see if i can try it tomorrow. Thanks for your work.

[2020-12-12 00:53] haines commented on #4125
I think this would no longer be the case if we removed the check for `force_ruby_platform` in the definition.

Please feel free to correct me here because I'm not super familiar with the codebase, but here's my understanding!

`force_ruby_platform` is currently used in three places:

1. It sets `Bundler.local_platform` to `ruby` [here](https://github.com/rubygems/rubygems/blob/a6db700eab4d750aed63

[2020-12-12 01:52] kwent commented on #4128
I can experience the same issue but in my case rollbacking to `rc1 or rc2` didn't work.

[2020-12-12 10:27] deivid-rodriguez commented on #4125
I think you're probably right. Just not 100% sure if the new behaviour will be more useful for people than plain incompatibility between the setting and multiple platforms. I mean, in your use case, wasn't the `force_ruby_setting` just a left over but you _do_ want platform specific gems installed in your machine?

[2020-12-12 10:46] deivid-rodriguez commented on #4128
Thank you for reporting this @kwent, both the good behaviour on rc2 and the issue on the final version. I'll try to figure it out.

[2020-12-12 11:29] deivid-rodriguez commented on #4128
This is also due to enabling the `platform_specific` setting functionality by default, just like all the other regressions in bundler 2.2.0. I made a bad call there :disappointed:.

I'll probably proceed with a revert of that change and release a patch level versions on Monday, and then start working on getting ready for enabling the functionality again once we figure out all of these issues.

[2020-12-12 12:52] haines commented on #4125
Yeah, absolutely, I did want platform-specific gems, so I'd have been totally happy if Bundler just threw an error and told me not to do that 🙂

I guess the question we need to answer is "for two different users/machines using the same Gemfile.lock, is there ever a valid reason for one to want platform-specific gems and the other not to?"

If there's no reason to allow that, then making the settin

[2020-12-12 13:31] eregon opened #4129 "Bundler 2.2.0 fails on JRuby 9.2 on Windows"
See https://github.com/ruby/setup-ruby/runs/1542347124
Happens with both JRuby 9.2.14.0 and 9.2.13.0 on both windows-2016/2019 in GitHub Actions.

I'm not sure if it's an issue of JRuby or Bundler (or both), but AFAIK it did not happen with Bundler 2.1.4, so I guessed it's a Bundler issue.
cc @headius

[code]
[code]

  # Error Report

  ## Questions

  - **What did you do?**

    I ran the command

[2020-12-12 17:10] jasnow opened #4130 "Got "NoMethodError: undefined method `version' for nil:NilClass" when running "bundle outdated --strict""
--- ERROR REPORT TEMPLATE -------------------------------------------------------
# Error Report

## Questions

Please fill out answers to these questions, it'll help us figure out
why things are going wrong.

- **What did you do?**

  I ran the command `/Users/USER/.rvm/rubies/ruby-2.7.2/bin/bundle outdated --strict`
  This command has been is a script I have been using for a LONG time.

- **What

[2020-12-12 18:27] MaxLap opened #4131 "Bundler 2.2.0 installs a gem then "Could not find ... in any of the sources""
### Describe the problem as clearly as you can

There seems to be a problem in the interaction of the configs for `gemfile` and `path`.

Right now, I `bundle install`, then use `bundle exec rake test` and I get told that `Could not find tzinfo-1.2.8 in any of the sources`.

If I scroll up, I can see that this exact version of the gem just got installed.

The specific gem is not always the same one

[2020-12-12 18:37] simi commented on #4130
:thinking: I think this seems related to 2.2.0 platform changes (https://github.com/rubygems/rubygems/pull/4015) as well. Jasmine is not installed (since it is not enabled for Ruby 2.7 platform) and thus spec is missing, which is not handled in outdated script. Currently there's plan to revert this change (https://github.com/rubygems/rubygems/pull/4127#issuecomment-743756276) which should fix this

[2020-12-12 18:46] simi commented on #4131
@MaxLap hello. I tried to follow your script to reproduce this locally, but without luck. Can you reproduce that constantly?

[2020-12-12 18:53] MaxLap commented on #4131
Yes, everytime, unless I remove one of the two config that are set in the code. I just delete the directory and run the whole thing and get the problem.

I wonder if there is a problem where it is actually looking inside a different directory for the gems. Maybe try a different ruby which you wouldn't have any gems installed?

[2020-12-12 19:00] simi commented on #4131
@MaxLap I have tried to uninstall all gems on Ruby 2.6. Still not able to reproduce. :thinking:

[2020-12-12 19:10] MaxLap commented on #4131
Really can't say... I use rvm, my friend on Mac uses rbenv... Other than saying "Are you sure you are using bundle 2.2.0 and have no other versions installed, I don't know.

Hopefully someone else can manage to reproduce?

[2020-12-12 19:13] marcandre commented on #4131
I get "Could not find rake-13.0.1 in any of the sources", both in `ruby 2.7.2p137` and `ruby 3.0.0dev (2020-12-10T09:55:03Z master 658b4ff609) [x86_64-darwin18]`. Both are pretty fresh installs (just switched to rbenv) and all gems had to be installed (including rake-13.0.1). Sorry I don't have time to investigate this weekend

[2020-12-12 19:14] simi commented on #4131
I'm using ruby-install + chruby. I'll take a additional look.

[2020-12-12 21:19] jasnow opened #4132 "Getting "illegal option" from ctags when running "bundle install""
### Describe the problem as clearly as you can

When I use bundle 2.2.0 on a repo with Ruby 6.2.alpha (only 6.2.alpha),
I get these new messages (26 times):
[code]

Yes messages when "bundle which" is:
  * /Users/USER/.rvm/gems/ruby-2.7.2@ruby2.7-rails6.2/bin/bundle

No messages when "bundle which" is:
  * /Users/USER/.rvm/rubies/ruby-2.7.2/bin/bundle

Note(1) that $? is still zero at the end.

No

[2020-12-12 23:05] simi commented on #4132
Is that related to any rubygems/bundler plugin actually? I'm not aware of any official support of ctags baked in rubygems/bundler directly.

[2020-12-13 01:36] jasnow commented on #4132
Unclear how to answer your question, but here is a gist when I run "bundle --verbose":

https://gist.github.com/jasnow/7524300f280c62e1103dbc11da30e1f8

Thanks for your help.

[2020-12-13 02:19] deivid-rodriguez commented on #4132
Hi @jasnow!

Apparently you're using the `gem-ctags` gem. I tried to repro this issue by installing it and running `bundle install` but couldn't. Can you find [this line](https://github.com/tpope/gem-ctags/blob/f9d9dd24a3b2120dbe4682a31f68e5b0322a917d/lib/rubygems/commands/ctags_command.rb#L19) and add some debugging prints on top of it?

[2020-12-13 03:04] headius commented on #4129
This was caused by updating the vendored version of net-http-persistent, which pulled in this commit: 6532dbecf36d1f24dab1f2143afd171e0b7699eb

The old use of `Gem.win_platform?` was likely never returning true on JRuby since it uses `RUBY_PLATFORM` instead of the RbConfig `host_os` value. With the change to checking for `RLIMIT_NOFILE` the condition now is true on JRuby and exposes a bug in our i

[2020-12-13 05:47] deivid-rodriguez commented on #4128
I spent a double digits number of hours trying to figure this out, and I think I succeeded :tada:.

The Gemfile given in this issue resolves fast again for me with #4134 (but please double check @nesrual). And if @kwent could test that PR on your slow Gemfiles, that would be :100: too.

[2020-12-13 06:18] deivid-rodriguez commented on #4132
Does this issue happen if you uninstall the `rubygems-bundler` gem?

[2020-12-13 09:32] velisahin opened #4136 "I can't create new rails website"
I'm having a problem or would like to suggest a feature.

I wanna create new rails website with `rails new myblog` but i always see error

`Fetching source index from https://rubygems.org/

Retrying fetcher due to error (2/4): Bundler::Fetcher::CertificateFailureError Could not verify the SSL certificate for https://rubygems.org/.
There is a chance you are experiencing a man-in-the-middle attack,

[2020-12-13 10:43] velisahin commented on #4136
Please help me

[2020-12-13 11:57] deivid-rodriguez commented on #4136
You could run `gem update --system` and try again see if that fixes things for you.

[2020-12-13 12:00] deivid-rodriguez commented on #4129
Thanks for figuring this out @headius!

Is there any thing we can do on our side (or net-http-persistent's) to alleviate the issue?

[2020-12-13 12:17] velisahin commented on #4136
I run that  but ı saw the error again

`ERROR:  While executing gem ... (Gem::RemoteFetcher::FetchError)
    SSL_connect returned=1 errno=0 state=error: certificate verify failed (https://api.rubygems.org/specs.4.8.gz)`

[2020-12-13 12:23] simi commented on #4136
@velisahin have you seen https://guides.rubygems.org/ssl-certificate-update/?

[2020-12-13 12:35] eregon commented on #4129
Another issue reported for this: https://github.com/ruby/setup-ruby/issues/129
A JRuby 9.2.14.1 or 9.2.15.0 release seems the best way to address this.

[2020-12-13 13:27] slonopotamus commented on #4129
I wonder how it passed through rubygems CI. It doesn't test against JRuby on Windows?

As I understand, there will soon be a new release of Ruby with a fix. Are any actions going to be made on rubygems side to fix Bundler on current JRuby releases?

[2020-12-13 13:37] deivid-rodriguez commented on #4131
Hei! I looked at this and I'm completely lost since I can't seem to find a way to repro locally :(

Some feedback I have is that the `gemfile` configuration setting is know to have issues. As a matter of fact, I'm really surprised it's working for you. The reason is that the location of configuration is inferred from the Gemfile, so inferring the location of the Gemfile from the configuration can

[2020-12-13 13:42] deivid-rodriguez commented on #4129
Not at the moment, we have some jruby testing in place, but not on Windows. Even if we had it, bugs still happen, although I agree this kind of thing should've been very easily caught by CI.

If you read just a bit up, you'll find that I have just asked about this.

[2020-12-13 14:19] jasnow commented on #4132
I ran "gem unintall gem-ctags" and reran a couple Rails 6.2 repos and got
no errors so I'm going to close this issue. I will reopen it if it reappears.
THANKS for the help.

[2020-12-13 14:19] #4132 closed

[2020-12-13 14:20] deivid-rodriguez commented on #4132
No problem @jasnow, thanks for the report!

[2020-12-13 14:21] dvodvo commented on #3068
ruby 2.6.1
rails 6.0
MAC OSX 10.9.5
Bundler version 2.1.4
gem -v 3.0.8

After running `gem update --system 3.0.8` the `warning: already initialized constant` message disappeared from tests (where it is truly annoying!).  But not out of the woods yet.  When creating scaffolds, migrating, those errors appear.

So my conclusion, since rails testing essentially recreates the database then destroys it,

[2020-12-13 14:53] deivid-rodriguez commented on #4129
I added a naive workaround at #4138.

[2020-12-13 15:14] jasnow commented on #4132
FYI: If you type "/usr/bin/ctags --help", you get:
[code]
If you type "/usr/bin/ctags --", you get:
[code]
Now I will watch for the trigger to reappear.

[2020-12-13 15:18] #4130 closed

[2020-12-13 15:27] jasnow commented on #4130
How will I know that a new version of rubygems has been released?

[2020-12-13 15:33] deivid-rodriguez commented on #4130
I'm aiming for releasing tomorrow.

[2020-12-13 15:41] MaxLap commented on #4131
I wonder if you guys have some default bundler config in your home directory which are changing the behavior. I'm not familiar with Docker, so I'm sorry but I don't feel like investing hours into it just to provide a bug report.

About using the variables, indeed, using
[code]
makes the tests pass locally, and I could setup my github actions to use those instead.

I just noticed something:

Bundle

[2020-12-13 15:42] deivid-rodriguez commented on #4131
Yes, it's super confusing and it's a behaviour I'm aiming to change, this is the bug & pull request I linked to before.

[2020-12-13 15:45] deivid-rodriguez commented on #4131
Actually, it's not the exact same issue but a similar confusion. Base location for things given relatively should be inferred from the current directory, not from the directory of the current Gemfile.

[2020-12-13 15:52] brettwgreen commented on #4123
Could not reproduce on my local development environment for some reason. Deploying in a broken state on my QA environment is not something I can do right now. I did dig in to find something interesting.

I am running rails under a docker image using phusion passenger as the base docker image and application server. The gem I hit an issue on was `bindex` which is used by `web-console` which is unde

[2020-12-13 16:16] deivid-rodriguez commented on #4131
I can repro now, will keep you posted!

[2020-12-13 16:41] brettwgreen commented on #4123
In any case, we have a PR to upgrade shortly to Ruby 2.7 that will probably get merged this week. I'll change it to use bundler 2.2.0 and let you know. If you are correct, it should fix the problem.

[2020-12-13 17:24] deivid-rodriguez commented on #4131
I created https://github.com/rubygems/rubygems/pull/4140 to fix this regression.

[2020-12-13 17:40] deivid-rodriguez commented on #4125
Hei!

Although generally one of the main goals of bundler is to provide a consistent and deterministic environment for all users and environments of an application and we try to deviate from these machine/user/environment discrepancies, what you present sounds like a plausible reason to allow that, indeed?

I've actually have reworked how this works due to several issues we've created with this re

[2020-12-13 17:42] haines commented on #4125
Sounds like a plan 👍

[2020-12-13 23:48] headius commented on #4129
The proper JRuby fix will be in the next release, but no releases will happen until January.

Even then, that release will do nothing to help users on JRuby 9.2.14.0 and earlier, and there are many production JRuby apps out there that will break the next time Bundler is updated.

Without a workaround, it will be impossible to use latest Bundler on **any currently released version of JRuby**. That

[2020-12-14 05:41] kwent commented on #4128
I can test but i'm unsure how i install from a branch.

[2020-12-14 07:10] dentarg commented on #4128
@kwent You can see how I tested #4134 using Docker and the [GitHub CLI (`gh`)](https://github.com/cli/cli) at https://github.com/ruby/setup-ruby/issues/123#issuecomment-743992529 (if using those tools would be an option for you) (tl;dr: checkout rubygems/rubygems, switch branch, `rake install` to build and install the gem from source)

[2020-12-14 09:31] simi commented on #4128
@kwent you can follow https://github.com/rubygems/rubygems/blob/master/bundler/doc/development/SETUP.md#bundler-development-setup as well to get locally installed "devel" bundler.

[2020-12-14 09:36] #4128 closed

[2020-12-14 09:40] deivid-rodriguez commented on #4128
Yes, although to build & install bundler, you only need `rake`. Actually not even `rake`, if you run `ruby setup.rb` from the root of the cloned repository, that installs both rubygems & bundler.

[2020-12-14 09:41] deivid-rodriguez commented on #4128
I merged the fix so you can just clone the repo and test the master branch @kwent.

[2020-12-14 10:49] #4131 closed

[2020-12-14 10:51] #4129 closed

[2020-12-14 11:52] #4122 closed

[2020-12-14 11:52] #4123 closed

[2020-12-14 12:19] kaspergrubbe opened #4142 "Issue with running Rails application using Bundler 2.2.0"
### Describe the problem as clearly as you can

When I bundle and run Rails application in the production environment (configured with: `bundle config set without 'development test'`) I get the following error:

[code]

### Post steps to reproduce the problem

I've created a Docker setup over here that reproduces the problem: https://github.com/kaspergrubbe/bundler220 it consists of 3 scripts:

-

[2020-12-14 12:38] simi commented on #4142
Seems similar to https://github.com/rubygems/rubygems/issues/4131. Fix should be present in master https://github.com/rubygems/rubygems/pull/4140 and released soon (https://github.com/rubygems/rubygems/pull/4141).

Can you check with master bundler?

[2020-12-14 12:47] kaspergrubbe commented on #4142
@simi I can most certainly give that a go, can you tell me how I install bundler from master?

[2020-12-14 12:49] simi commented on #4142
@kaspergrubbe you can find some suggestion at https://github.com/rubygems/rubygems/issues/4128#issuecomment-744224478 and following comments.

[2020-12-14 12:53] deivid-rodriguez commented on #4142
I did try to repro this by modifying the given Dockerfile to install the master branch and it _does not_ seem fixed for me :disappointed:.

[2020-12-14 12:55] kaspergrubbe commented on #4142
@deivid-rodriguez Thanks for testing it out, it's above my bundler knowledge to get Bundler from master running.

[2020-12-14 13:01] deivid-rodriguez commented on #4142
I changed the Dockerfile like this:

[code]

[2020-12-14 13:32] deivid-rodriguez commented on #4142
Oh, so without having actually verified it, I'm pretty sure this is a regression from https://github.com/rubygems/rubygems/pull/3666.

In your `Dockerfile`, you first run `bundle config without 'development test'`, and then create a user and make the application run under that user.

Before the bug fix I'm referencing, bundler would unintentionally copy the `global` configuration being set by your

[2020-12-14 13:43] kaspergrubbe commented on #4142
@deivid-rodriguez Thank you so much for your detailed explanation, it makes total sense now. Using `--local` works for me, and I've just tested it.

I agree with your assesment that users assume bundle config were local by default, but I don't know about the implications, and I am a mere user, and changing things around bundler must be a daunting task that I don't envy!

[2020-12-14 13:43] deivid-rodriguez commented on #4142
Another possibility is that maybe my "bug fix" was just removing a feature, the feature being that you can have a global "without" configuration and `bundle install` will automatically apply that to each particular application if nothing else is set locally. It kind of makes sense, and it sounds that I didn't think through that "bug fix" properly, but if we make the change to make configuration lo

[2020-12-14 13:44] deivid-rodriguez commented on #4142
Absolutely :sweat_smile:

[2020-12-14 13:58] deivid-rodriguez commented on #4142
Actually in https://github.com/rubygems/rubygems/issues/3926 @eregon suggestion works just fine for all settings I believe.

If run on an application context, local should be the default. If run outside of an application context, then global should be the default since there's no other alternative really :smiley:.

[2020-12-14 16:53] kwent commented on #4128
Fixes it FYI ! Thanks folks

[2020-12-14 16:57] deivid-rodriguez commented on #4128
Niiiiiiice!

[2020-12-14 19:51] headius commented on #4129
The JRuby fixes have been merged and will be in 9.2.15.0 or 9.3, whichever comes first.

[2020-12-14 20:07] pyrr opened #4148 "Force user installation under a specific path"
Hello. I would like to have everything which is locally installed be installed under a directory I specify. Is there any way I can do this ?
For example in ${HOME}/ruby

Allow me to expand a little on this.
By default "gem install" installs gems locally so I can't use: "gem install --install-dir". Even after configuring the GEM_HOME and GEM_PATH environment variables there is are still files being

[2020-12-14 20:16] deivid-rodriguez commented on #4129
Great, bundler 2.2.1 is out too!

[2020-12-14 20:17] slonopotamus commented on #4129
I've analyzed current situation a bit more to understand why we ended where we are:

- Bundler doesn't run tests on JRuby + Windows
- Bundler vendored net-http-persistent that doesn't run CI on Windows
- This vendoring happened between 2.2.0.rc.1 and 2.2.0
- net-http-persistent uses Hoe that doesn't have CI *at all*

Making conclusion from all of this is left as an excercise to the reader.

[2020-12-14 20:43] deivid-rodriguez commented on #4129
If by this you mean that rc versions and final versions should only differ in bug fixes, you are right, and that's my fault. The rc name was definitely wrong. Anyways, virtually nobody installs pre-releases of bundler. I tried to use them to get some extra feedback before final releases, and I even "cheated" by calling them "rc", but it doesn't work so I'm going to propose to the team to stop pre-

[2020-12-14 21:00] slonopotamus commented on #4129
**I** tested rc.1 during https://github.com/rubygems/rubygems/issues/3256 and it worked perfectly. This is exactly the kind of feedback you've looked for "rc" releases.

[2020-12-14 21:08] deivid-rodriguez commented on #4129
Not really, you installed it because I told you to. Had I suspected the fix was in master, not on 2.2.0.rc.1, I would've told you to install the master version.

The kind of feedback I was looking for is people opting into testing out rcs and discovering issues, but in both bundler 2.1 and bundler 2.2 that has been really weird.

[2020-12-14 21:39] deivid-rodriguez opened #4149 "`bundle install` without a lockfile should install the latest bundler and use that to install dependencies"
I think that would get the best behaviour available for `bundle install`, encourage upgrading and reduce bug reports for things that have already been fixed.

[2020-12-14 21:39] deivid-rodriguez commented on #4149
Similarly `bundle update` could update `bundler` and then use that to update the rest of the dependencies.

[2020-12-14 21:41] deivid-rodriguez commented on #4149
And relatedly, `bundle install` with a lockfile should install the version in the `BUNDLED WITH` section of the lockfile, and then use that to install dependencies. This is what #4076 is trying to implement.

[2020-12-14 22:29] armensuri opened #4150 "SSL Handshake issue with logstash container"
I see this error in logstash container and the container reboots every 30+ seconds

Error Bundler::HTTPError, retrying 9/10
Could not fetch specs from https://rubygems.org/
Error Bundler::HTTPError, retrying 10/10
Could not fetch specs from https://rubygems.org/
Too many retries, aborting, caused by Bundler::HTTPError
ERROR: Updated Aborted, message: Could not fetch specs from https://rubygems.org

[2020-12-14 23:09] FireFart commented on #4123
@deivid-rodriguez thanks for you fix but unfortunately the error persists with bundler 2.2.1:

Sidekiq:
[code]

Rake:
[code]

The `Gemfile.lock` now also contains `bundler-2.2.1` and under platforms there is only `ruby`

[2020-12-15 00:57] diasjorge commented on #4123
@deivid-rodriguez thanks for the fix, I can confirm the bug doesn't happen anymore with the new version of bundler in my test repository.

[2020-12-15 05:53] headius commented on #4129
@deivid-rodriguez I feel your pain... people rarely test RCs, which is why we also stopped releasing them even for gigantic releases. I guess the safest assumption for all folks involve is that "dot zero" releases are basically the only RCs people will test, and we should just be prepared to put out a "dot one" soon after.

Thanks again for the quick flip on this.

[2020-12-15 08:44] deivid-rodriguez commented on #4129
Yay, `.0` is the new `rc` :)

[2020-12-15 08:46] deivid-rodriguez commented on #4123
No @diasjorge, I'm happy things are fixed for you :)

@FireFart The error is the same but I think the root cause of your issue might be #4142 which I'm planning to fix now.

[2020-12-15 08:48] deivid-rodriguez commented on #4150
@armensuri You're running a very old rubygems version. As a matter of fact, the oldest version that can be installed from any supported ruby. Can you update `rubygems` and see if the issue if fixed? Change the

[code]

with

[code]

[2020-12-15 10:09] deivid-rodriguez commented on #4125
Hi @haines! Bundler 2.2.1 is out now, we can proceed with this.

I think your idea makes of allowing `--add-platform` to be used with `force_ruby_platform` makese sense, can you get it ready?

[2020-12-15 10:54] deivid-rodriguez commented on #4098
Hi @ayanko, thanks for the report. It looks like a bug to me!

[2020-12-15 10:55] deivid-rodriguez commented on #4094
@bronzdoc I think you handled introducing this feature. Could you have a look at this if/when you get some time?

[2020-12-15 11:27] simi commented on #4148
Hello @pyrr. Can you share which files are still in `~/.gem` after setting GEM_HOME and GEM_PATH?

You can see source of various paths used (as you mentioned) using `gem env`. Unfortunately there is no clear documentation on all env. variables useful for this.

Source of `gem env` [command](https://github.com/rubygems/rubygems/blob/0e2a52c943749fa5f717a8aa1b95937bd3ba2ed0/lib/rubygems/commands/env

[2020-12-15 11:36] simi commented on #4148
[code]

[2020-12-15 11:44] armensuri commented on #4150
@deivid-rodriguez  Thanks for the quick reply. I changed 2.5.2 to 3.2.1 and the result is the same 👍
Updating rubygems-update
Successfully installed rubygems-update-3.2.1
Parsing documentation for rubygems-update-3.2.1
Installing ri documentation for rubygems-update-3.2.1
Installing darkfish documentation for rubygems-update-3.2.1
Done installing documentation for rubygems-update after 90 seconds

[2020-12-15 11:52] deivid-rodriguez commented on #4088
Hi @fzakaria!

I'll try to find some time to install nix and repro this, but in the mean time these are my thoughts.

I think the problem in this case is not that the specification at hand is a `StubSpecification`. All of the specifications at this point are stub specifications I believe. The problem is that the underlying specification doesn't have a remote, because it's not created from the Gemf

[2020-12-15 11:59] deivid-rodriguez commented on #4150
Well, not really the same. In this case, it's the upgrade process of rubygems that's failing. You're using ruby provided by your OS, so upgrading rubygems like you're doing is not really supported.

I'm not sure what's going on, honestly. I guess upgrading ruby is not under your control? The latest ruby is 2.7 and the ruby installed by your OS is 2.3.

One thing I'd do is completely remove the `ge

[2020-12-15 11:59] brettwgreen commented on #4123
This is almost certainly the problem I am having... My deployment was seeking dev gems unnecessarily also. Deceiving that the error looks the same!

[2020-12-15 11:59] haines commented on #4125
Will do!

[2020-12-15 12:27] deivid-rodriguez commented on #4125
By the way, I noticed what I think it's a bug with `force_ruby_platform` at the moment, and I think it could be related to this.

Right now the `RUBY` platform is no longer recorded in the lockfile. You can force it to be recorded though by using either `force_ruby_platform` and running `bundle install` or by using `bundle lock --add-platform ruby`.

However, if you already have a lockfile generat

[2020-12-15 12:27] armensuri commented on #4150
removed "gem update --system " and pinned bundler to 2.14
handshake error to Rubygems still exists.

Successfully installed bundler-2.1.4
Parsing documentation for bundler-2.1.4
Installing ri documentation for bundler-2.1.4
Done installing documentation for bundler after 10 seconds
1 gem installed
Error Bundler::HTTPError, retrying 1/10
Could not fetch specs from https://rubygems.org/
Error Bundle

[2020-12-15 12:32] deivid-rodriguez commented on #4150
Not sure if it could be related to server side changes, do you have data about which day these errors started happening?

Maybe it could be an issue with openssl fixed in newer rubies, you could also try `gem install openssl` to update that :man_shrugging:.

[2020-12-15 12:34] armensuri commented on #4150
We started noticing this around Dec 5. I think that was when the fastly certificate was updated on rubygems.

[2020-12-15 12:38] deivid-rodriguez commented on #4150
Ok, then I think you need to upgrade to a version of rubygems that got the certifcate updates. Can you try `gem update --system 2.7.10`?

[2020-12-15 12:54] armensuri commented on #4150
I'll add gem pristine rake to get this  error out. and see. This does have the new certificate as the PR suggests.

Updating rubygems-update
Successfully installed rubygems-update-2.7.11
Parsing documentation for rubygems-update-2.7.11
Installing ri documentation for rubygems-update-2.7.11
Installing darkfish documentation for rubygems-update-2.7.11
Done installing documentation for rubygems-updat

[2020-12-15 13:41] armensuri commented on #4150
Still seeing the same error after applying 2.7.11 and 2.7.10
Error Bundler::HTTPError, retrying 10/10
Could not fetch specs from https://rubygems.org/
Too many retries, aborting, caused by Bundler::HTTPError
ERROR: Updated Aborted, message: Could not fetch specs from https://rubygems.org/
Validating logstash-filter-translate-3.1.0
Unable to download data from https://rubygems.org - Received fatal

[2020-12-15 13:56] jrochkind commented on #4142
I had assumed `bundle config` was local and project-specific (regardless of user) by default, and am surprised to hear it was not! So I could see it being a bugfix to make it so.

With the deprecation (/removal?) of flags like `--deployment` and `--path` for using `bundle config`, a lot more people have been and are going to start using `bundle config`.  It seems wrong to me to suggest `bundle con

[2020-12-15 14:01] deivid-rodriguez commented on #4150
The certs should be inside your rubygems installation. Look for `.pem` files there.

It's also weird that the troubleshooting script says that you can connect to rubygems.org using both bundler and rubygems, maybe the script should do something more realistic to catch this.

[2020-12-15 14:02] deivid-rodriguez commented on #4142
We already fixed the deprecation message, did it not make it to bundler 2.2?

[2020-12-15 14:08] deivid-rodriguez commented on #4142
I think many of us have been surprised similarly, yeah :sob:. I did check git history and the current default is intentional although it's not explained why.

[2020-12-15 16:01] sterankin opened #4153 "Bundler 2.2.1 - bundle package fails"
Our CI build broke today with the below error.  Its seems the Docker image is install bundler 2.2.1 and when we run docker package, it generates the following error report:

I was able to fix by installing bundler 2.1.4 and using that in my CI build, but I am hoping someone can help with the below.

Ruby 2.5.8

**What did you do?**

I ran the command `/usr/local/bundle/bin/bundle package`

**What

[2020-12-15 16:47] iain commented on #4142
Just to chiming with what this unexpected change meant for me, so if other people see

[code]

I had to add the second line of `bundle config set without development test` with this new Bundler version that ran as the app user.

Honestly it is becoming increasingly confusing on what config options are available when, since `bundle install --without` is also deprecated. Maybe that's just a function

[2020-12-15 17:34] pyrr commented on #4148
Here is the command I executed.
`GEM_HOME=/home/pun/dl GEM_PATH=/home/pun/dl GEM_SPEC_CACHE=/home/pun/dl gem install solargraph`
And here's what's inside ${HOME}/.gem
http://sprunge.us/tyFSDm
and in /home/pun/dl
http://sprunge.us/ehWOEe

[2020-12-15 17:57] armensuri commented on #4150
I think logstash-plugin is using jruby to  get the plugins.
[root@ip-161-32-32-161 ~]# docker exec logstash bash -c "cat /opt/logstash/bin/logstash-plugin"
#!/bin/sh

unset CDPATH
. "$(cd `dirname $0`/..; pwd)/bin/logstash.lib.sh"
setup

# bin/plugin is a short lived ruby script thus we can use aggressive "faster starting JRuby options"
# see https://github.com/jruby/jruby/wiki/Improving-startup-t

[2020-12-15 18:04] LuiGiovanni commented on #3386
Hello, @svoop @deivid-rodriguez I would love to contribute, I haven't done an issue here before so I feel this would be perfect for me!

[2020-12-15 19:40] deivid-rodriguez commented on #3386
Thank you @LuiGiovanni, your help will be greatly appreciated :smile:

[2020-12-15 19:42] deivid-rodriguez commented on #4150
I'm confused @armensuri :disappointed:. Now you're showing me an error that uses a different ruby implementation and a different rubygems version, both 100% unsupported.

Also, could you please format your messages a bit? They are really hard to read. Here's a guide for you: https://guides.github.com/features/mastering-markdown/ :+1:.

[2020-12-15 19:44] deivid-rodriguez commented on #4142
Hi @iain, it sounds like this thread slightly deviating from the original issue has created some confusion for you. I'll try to clarify it. This is a regression introduced in bundler 2.2.0. I'll fix this regression and release a new patch level version so that you can upgrade and your `Dockerfile` can still work without any changes.

[2020-12-15 19:47] deivid-rodriguez commented on #4153
Hi @sterankin! Could you trim all the timestamps and add some formatting to the error, please? It's very hard to read. Here's a markdown guide: https://guides.github.com/features/mastering-markdown/.

Also, could you provide me with a set of steps I can run on my computer in order to reproduce the error?

Thanks.

[2020-12-15 19:53] armensuri commented on #4150
I'm trying to figure out this error for a very old logstash container that we are using. I narrowed it down by looking into logstash-plugin code that is calling jruby. I was trying to fix ruby install and that looks ok, and the tool was showing the connections were ok. Now, I realized that its the jruby that is causing the issues and tried running that same tool using jruby and expectedly, seeing

[2020-12-15 20:11] deivid-rodriguez commented on #4142
I created #4154 to restore the previous behaviour for the time being. I'll try to release it tomorrow.

[2020-12-15 20:20] deivid-rodriguez commented on #4150
I'm sorry I'm not able to help you there. I've never used logstash.

But from what I understand you original error was fixed and now you're having a jruby issue. Unfortunately, the other problem is out of our hands, the jruby & rubygems versions being used are just too old for us to provide any support. I'm sorry, but it was a matter of time that something would break there :(

In case upgrading i

[2020-12-15 20:22] deivid-rodriguez commented on #4142
If someone can install https://github.com/rubygems/rubygems/issues/4142 and verify it fixes the problem on your `Dockerfile`, I'd appreciate it.

[2020-12-15 20:24] armensuri commented on #4150
Thanks David for your time, it did really help me navigate through the issues and pin point at what is causing the problem. I will keep looking for the jruby solution.

[2020-12-15 20:26] deivid-rodriguez commented on #4150
No problem, I hope you find a solution. I'll close this ticket now since we can't really do much I believe.

[2020-12-15 20:26] #4150 closed

[2020-12-15 20:31] svoop commented on #3386
Cool, dig in @LuiGiovanni !

[2020-12-15 21:10] btalbot opened #4155 "2.2.x forces writable lockfile when running app"
### Describe the problem as clearly as you can

`bundle check` or `bundle exec` should not attempt to update an existing Gemfile.lock and die with an error when that fails.

### Post steps to reproduce the problem

Start with Gemfile.lock created using pre-2.2 bundler; in this case 2.1.4

[code]

### Which command did you run?

Ensure lockfile is not-writable which is expected when docker app is r

[2020-12-15 22:27] bronzdoc commented on #4094
I will take a look @deivid-rodriguez!

[2020-12-15 23:33] simi commented on #4148
@pyrr running the same command as you did will not affect my `~/.gem` directory. Can you reproduce that in some isolated environment?

For example using docker:

[code]

Nothing is installed in ~/.gem (or any other gem path listed in `gem env`).

[2020-12-16 01:31] mah-sanjay opened #4157 "Execution of target "compass:config" failed"

[2020-12-16 01:41] #4157 closed

[2020-12-16 06:58] upinetree opened #4158 "`bundle update` fails with NoMethodError when I updated bundler to 2.2.1 from 2.1.4"
# Error Report

## Questions

Please fill out answers to these questions, it'll help us figure out
why things are going wrong.

- **What did you do?**

  I updated bundler to 2.2.1 from 2.1.4 and ran the command `/Users/USER/.rbenv/versions/2.6.5/bin/bundle update`

- **What did you expect to happen?**

  I expected Bundler to successfully update the gems using `bundle update`.

- **What happened

[2020-12-16 07:10] upinetree commented on #4158
Ruby 2.7.2 also reproduces this error.

[code]

[2020-12-16 09:28] deivid-rodriguez commented on #4158
Hi @upinetree. I'm unable to reproduce this :(

Could you prepare an isolated environment where this can be reproduced? Like with a `Dockerfile` or something? That might not be possible though since I have the feeling this might be specific to MacOS.

If you fail to reproduce under docker, could you please post the `Gemfile.lock` file created after each step?

[2020-12-16 09:51] deivid-rodriguez commented on #4142
I did try the initial Dockerfile given in this issue and the problem seems fixed :+1:. I'll get it ready for a release now.

I'm also wondering about your issue @iain, because I would have assumesd the workarounds given in this thread would've worked for you (like changing `bundle config set without development test` to `bundle config set --local without development test`). However, you applied a

[2020-12-16 11:55] deivid-rodriguez commented on #4087
@CoralineAda To make sure I got you correctly, are you ok with the proposed solution? Or did you have something else in mind when you offered a PR?

[2020-12-16 12:05] deivid-rodriguez commented on #4078
Hi @rubyFeedback.

So, you said you opened an issue at rubygems.org and that got closed or something? I guess the feature you're asking for was rejected? I completely fail to see how this could be related to rubygems (the client)?

I made some research and I think the source for the rubydoc.info site is https://github.com/docmeta/rubydoc.info. Could you please open an issue there with whatever iss

[2020-12-16 13:02] deivid-rodriguez commented on #4155
Hi @btalbot!

This behaviour has always existed. If `bundle exec` or `bundle check` need to re-resolve, and resolution succeeds, they will rewrite the new resolution they ended up using in the lockfile (actually they writes what's internally call "definition", meaning the resolution but also a set of other things, like the platforms considered and the sources each dependency should be installed fr

[2020-12-16 13:08] RamyDexels opened #4159 "Unfortunately, an unexpected error occurred, and Bundler cannot continue"
I ran the command `/Users/dexels/.rbenv/versions/2.6.3/bin/bundle install --gemfile=Gemfile`, but it failed with this error:

`--- ERROR REPORT TEMPLATE -------------------------------------------------------
# Error Report

## Questions

Please fill out answers to these questions, it'll help us figure out
why things are going wrong.

- **What did you do?**

  I ran the command `/Users/dexels/.rbe

[2020-12-16 13:20] deivid-rodriguez commented on #4159
Hi @RamyDexels.

Thanks for opening this ticket. Is there a way you can isolate this error using a `Dockerfile`? I tried to reproduce it but I couldn't. This seems the same as #4153. I'm missing something here that makes your environments different from mine, but I don't know what it is :/

[2020-12-16 14:15] #4142 closed

[2020-12-16 14:16] deivid-rodriguez commented on #4142
Pull request is merged and I will release it later today.

[2020-12-16 14:46] upinetree commented on #4158
Thank you for your comment :)
I prepared an isolated environment with a `Dockerfile` but it couldn't be reproduced like below. So it might be specific to macOS as expected.

[code]

And on the macOS, `Gemfile.lock` after each steps are created like below.

[code]

[2020-12-16 14:48] deivid-rodriguez commented on #4158
Thanks! I had another idea. Can you prepare a github actions workflow that runs under MacOS, and reproduces the error?

[2020-12-16 14:51] deivid-rodriguez commented on #4158
I couldn't figure out what's wrong for the intermediate lockfiles.

Another question. Once the command fails, if fails again in the same way if you rerun it. Correct? How about `bundle _2.2.1_ lock --update`? Does it fail similarly?

[2020-12-16 15:00] upinetree commented on #4158
OK, I will try it! (It might be tomorrow)

Yes, it fails again.

Yes. It fails with same error ``NoMethodError: undefined method `activated_platforms' for nil:NilClass``

[2020-12-16 15:05] deivid-rodriguez commented on #4158
Ok, so, tecnically, the first `bundle install` commands shouldn't be needed since `bundle lock` only uses the lockfile.

[2020-12-16 15:12] deivid-rodriguez commented on #4158
Yay! https://github.com/rubygems/rubygems/runs/1564552145?check_suite_focus=true

[2020-12-16 15:30] deivid-rodriguez commented on #4158
I'm currently investigating the issue, it shouldn't be too hard to fix. I can take it from here, thanks for letting me know about this!

[2020-12-16 15:34] iain commented on #4142
@deivid-rodriguez  Setting the `--local` option works too, I just found my workaround before I found this ticket. Sorry that I wasn't clearer on that.

[2020-12-16 15:37] CoralineAda commented on #4087
My suggestion was to simply add the HL as an alternative to the default MIT license, to encourage and support the Ruby community in adopting ethical licensing.

[2020-12-16 15:43] simi commented on #4087
I'm also against adding additional special licence. Making it more general would be more useful as mentioned by @hsbt.

Bundler can help normalize custom license selection actually. That would be the best IMHO.

[2020-12-16 16:16] deivid-rodriguez commented on #4087
The way I see it, if we add a special CLI flag for the hippocratic license in order to promote ethical licensing, then I believe people will start requesting their favourite open source license to be added too. And when that happens, we can do two things:

* Reject those, since as more flags are added, the ethical license would start getting more hidden between other flags to the point where it wo

[2020-12-16 16:33] deivid-rodriguez commented on #4087
Another way to promote it would be to mention Hippocractic license explicit in the CLI help, like:

[code]

and the prompt, like:

[code]

[2020-12-16 16:34] kaspergrubbe commented on #4142
Thank you for your time and explanations @deivid-rodriguez !

[2020-12-16 16:40] deivid-rodriguez commented on #4087
I think my suggestion would be more powerful than an explicit CLI flag, since the text would be read by all first time users of the `--license` flag whereas an explicitly flag would require you to find the option an use it first.

[2020-12-16 16:59] kirtigiripunje opened #4160 "/Library/Ruby/Site/2.6.0/rubygems.rb:281:in `find_spec_for_exe':"
I need to uninstall ruby from Mac but I am not able to do that so please help me for same I got following error like

/Library/Ruby/Site/2.6.0/rubygems.rb:281:in `find_spec_for_exe': can't find gem twine (>= 0.a) with executable twine (Gem::GemNotFoundException)
	from /Library/Ruby/Site/2.6.0/rubygems.rb:300:in `activate_bin_path'
	from /usr/local/bin/twine:23:in `<main>'

[2020-12-16 17:25] bquorning opened #4161 ""uninitialized constant OpenURI::OpenSSL" when installing rdkafka gem using rubygems 3.2.1"
I'm having a problem:

My current problem is that I cannot install the `rdkafka` gem using rubygems 3.2.1. I get an error that seems related to resolving the `::OpenSSL` module.

This issue is related to:

  - [ ] Network problems
  - [x] Installing a library
  - [ ] Publishing a library
  - [ ] The command line `gem`
  - [ ] Other

<details>
<summary>Installation output using rubygems 3.1.4</summ

[2020-12-16 17:51] pyrr commented on #4148
You're right.
It's probably this isn't it ?
https://github.com/archlinux/svntogit-packages/blob/packages/rubygems/trunk/gemrc

[2020-12-16 18:36] deivid-rodriguez commented on #4087
Sorry, I don't know a lot about licensing so my wording above is completely incorrect since the hippocratic license is not a copyleft license in the FSF sense, since it restricts usage. We could still recommend it as our preferred non-free license :)

[2020-12-16 18:50] deivid-rodriguez commented on #4158
@upinetree I figured it out, #4163 should fix it!

[2020-12-16 19:47] duckinator commented on #4078
Nothing is forcing anyone to use rubydoc.info for their documentation. It's a free service provided by different people than RubyGems.

Just talk to _the people who actually maintain it_ about the problems you're having, or host your documentation elsewhere.

[2020-12-16 19:56] duckinator commented on #4078
It looks like this may be how you can change what URL the "Documentation" link on the rubygems.org page would link to, but I've not confirmed that: https://guides.rubygems.org/specification-reference/#metadata

[2020-12-16 21:15] #4155 closed

[2020-12-16 21:19] deivid-rodriguez commented on #4161
Thanks for reporting, #4165 should fix this!

[2020-12-16 21:22] deivid-rodriguez commented on #4155
No problem!

[2020-12-16 21:23] deivid-rodriguez commented on #4160
@kirtigiripunje Could you at least say the command you're running? It's very hard to help you with such a poor bug report.

[2020-12-16 21:26] deivid-rodriguez commented on #4142
Sorry I couldn't make it to release today in the end. Tomorrow it will be out for sure.

[2020-12-16 22:25] bquorning commented on #4161
Thank you David. I’ll be looking forward to the next release. 🙏🏼

[2020-12-16 22:36] deivid-rodriguez commented on #4074
Hi @justin808!

I assume you're running your release tasks in a bundler context (with `bundle exec`) and from the root directory of your repository, correct? And then inside the `rake` task you invoke all those `cd` and subcommands.

If this is the case, I believe you need to wrap your commands with a `Bundle.with_original_env` block. By default `bundler` saves its own environment in environment v

[2020-12-16 22:37] deivid-rodriguez commented on #4161
Tomorrow!

[2020-12-16 22:39] deivid-rodriguez commented on #4058
Let's add it for `gem install` only to fix the referenced issue.

[2020-12-16 22:39] #4058 closed

[2020-12-17 01:40] reyesm93 commented on #3324
This is an odd solution but it worked for me:

I moved the bundle/cache directory in Finder to desktop (or any other folder, just make sure you have a copy of it) so I left the bundle directory empty. Then moved it back again and I was asked to authenticate with my user password. I re-tried the operation in the terminal and it asked to authenticate again. Then I was able to write on it.

[2020-12-17 01:49] upinetree commented on #4158
@deivid-rodriguez Wow, that's great! Thanks for the fix!

[2020-12-17 05:25] knu opened #4166 "Bundler 2.2.1, multiple platforms and bundle install --frozen"
### Describe the problem as clearly as you can

Bundler 2.2+ started to output platform-specific gem entries to Gemfile.lock, and it seems `bundle install --frozen` installs gems for the specified platform regardless of the running platform, if the lock file does not include entries for their variants appropriate for the running platform.

We have a project targeted to x86_64 Linux where the major

[2020-12-17 10:17] deivid-rodriguez commented on #4166
Hello @knu! :wave: :wave:

Your expectation is the same as mine, and that's how I thought bundler behaved, actually. I'll try to fix it and throw an error in this situation :+1:.

Something I didn't understand though is this:

Does this mean that running `bundle lock --add-platform x86_64-linux` and committing the resulting lock file is not an option for you?

[2020-12-17 10:18] #4158 closed

[2020-12-17 10:19] #4161 closed

[2020-12-17 10:21] knu commented on #4166
Great, and thanks for the nice piece of information!  I’ll see if it works for our workflow and report back.

[2020-12-17 11:17] sterankin commented on #4153
I have been trying to replicate this locally using Docker in the same manner as our CI build and I am not having any luck replicating the issue.

Put this on hold until I can recreate.

[2020-12-17 11:35] deivid-rodriguez commented on #4153
Can you also share the `Gemfile` and `Gemfile.lock`?

[2020-12-17 12:02] sterankin commented on #4153
Gemfile:

[code]

Gemfile lock

[code]

[2020-12-17 13:13] deivid-rodriguez opened #4171 "Investigate performance regressions on Windows CI"
### Describe the problem as clearly as you can

This is most likely a third party issue, but it'd be nice to do some research so a proper issue can be reported to ruby-core.

Since we added a Windows CI for bundler, it's been the bottleneck of our CI since it's quite slow.

I can live with that for the moment, but a first observation is that CI seems consistently 50% slower on Windows 2.5-2.7 that

[2020-12-17 14:21] deivid-rodriguez commented on #4166
@knu I still need to add a spec, but #4172 should fix this!

[2020-12-17 14:45] djberg96 commented on #4171
Do we have a general benchmarking suite for rubygems? Should we add one?

[2020-12-17 15:13] deivid-rodriguez commented on #4171
Any improvements you feel worth adding are welcome :man_shrugging:. I just noticed this issue because I know windows is inherently slow when it comes to launching processes from ruby, but it could certainly be faster, since ruby 2.4 was.

[2020-12-17 18:35] deivid-rodriguez commented on #4153
As expected, I can't repro this. I'll put this on hold until you can recreate it!

[2020-12-17 19:50] pyrr commented on #4148
Ok so I removed the /etc/gemrc file. I still cannot install locally.

`
#!/bin/bash

ge() {
        local NIX_GEM="/home/pun/.nix/gem"
        mkdir -p "$NIX_GEM"
        local GEM_HOME="$NIX_GEM"
        local GEM_PATH="$NIX_GEM"
        local GEM_SPEC_CACHE="$NIX_GEM"
        OPT=$1
        shift
        case $OPT in
        install)
                echo $GEM_HOME
                echo $GEM_PATH

[2020-12-17 19:53] deivid-rodriguez commented on #4148
Can you rerun with `--backtrace` and `--verbose` flags?

[2020-12-17 19:58] pyrr commented on #4148
Ran:
`gem install solargraph --backtrace --verbose
`
http://sprunge.us/FFPKHK +
[code]

[2020-12-17 20:26] deivid-rodriguez commented on #4148
Sorry, but don't you need to export environment variables so that they are inherited by `exec`? :thinking:

[2020-12-17 20:41] pyrr commented on #4148
You're right. Thank you. I was honestly unsure. Thanks for all the help.

[2020-12-17 20:41] #4148 closed

[2020-12-17 22:08] jeremy-ebler-vineti commented on #4153
Sorry I don't have bandwidth to help debug, but I hit the same issue with `2.2.1`. Rolling back to `2.1.4` worked for me. I didn't test `2.2.0`

[2020-12-17 22:14] gradybarrett commented on #4153
@deivid-rodriguez @sterankin I think we can chalk this one up to the Dockerfile implementation.

tl/dr: Keep your versions of bundler in sync in your lock file and image.

It's probably not a good idea to rely on the image build to upgrade the lock file. If you wanted to get fancy you could take extra steps to preserve the updated lock file when copying in app code, but I don't think that's desira

[2020-12-18 03:37] knu commented on #4166
@deivid-rodriguez Thanks for working hard on this!

I tried `bundle lock --add-platform` and it almost did the trick, and I got a relatively minor issue.

I ran `bundle add libv8 && bundle lock --add-flatform x86_64-linux universal-darwin x86_64-darwin`, and I got the following entries for the [libv8](https://rubygems.org/gems/libv8/versions) gem:

[code]

So, bundler seems to only pick the least

[2020-12-18 03:39] apinstein commented on #3324
Wow ok so I had the same problem and simply did `rm -rf ~/.bundle` to start over from scratch and it worked... hopefully that will save someone else hours of pain.

[2020-12-18 09:25] deivid-rodriguez commented on #4166
Hi @knu! That seems unexpected, right? Maybe yet another bug :rofl:. Oh god. I'll have a look.

[2020-12-18 09:35] deivid-rodriguez commented on #4153
@gradybarrett Thanks!

That's very useful information, I think I might find a way to repro with that information. Maybe things should be done differently in the `Dockerfile`, what you explain sounds most likely like not a good idea, indeed.

However, even if we can't autoremediate things on the fly, and consider an error fine for this situation, in my opinion the current error being thrown is unac

[2020-12-18 09:39] deivid-rodriguez commented on #4148
No problem @pyrr, I'm glad we sorted it out :)

[2020-12-18 10:26] deivid-rodriguez commented on #4153
Unfortunately I still can't repro... :(

I tried building a container using 2.2.2, but keeping the old lockfile so that when it runs it uses that, but bundler will automatically update it on `bundle exec` when running the container and run the `bundle package` command properly. There's something more to this that we're missing.

I'm totally up for getting to the bottom of this, but I need some hel

[2020-12-18 11:07] sterankin commented on #4153
I was able to reproduce just now, its a bit convoluted - so bear with me.

1. Have a rails app and ensure the gems are bundled with bundler 2.1.4.  Ensure the rails app has a Docker file in the root dir from the comments above.
2. In the root directory of your rails app, create a subfolder, e.g. call it _myapp_temp_dir_ This is to mimic what is actually happening in our CI build.  Copy the **entir

[2020-12-18 11:11] deivid-rodriguez commented on #4153
Nice, are you able to publish a sample repository with these setup? Just to save me recreating everything? :)

[2020-12-18 11:30] sterankin commented on #4153
Here you go, clone this project.

https://github.com/sterankin/test-rails-docker-bundler

Notice that is has a subfolder called test_app which is a copy of the top level rails app, this mimics what is happening on our CI build.

To reproduce the error:

1. Ensure docker is running
2. Open a terminal and `cd` into the root folder
3. Run `docker build --force-rm=true --no-cache -t test_app  ${PWD}/t

[2020-12-18 11:47] deivid-rodriguez commented on #4153
Woooooow, nice, thanks so much! That's half of the way of fixing this!

I can't pull the base image though, `repo.forge.lmig.com` seems inaccessible for me.

[2020-12-18 11:58] sterankin commented on #4153
Oops, change the Dockerfile to:

`FROM ruby:2.5.8`

And you should be all set

[2020-12-18 12:01] deivid-rodriguez commented on #4153
And reproduced!!! Thanks! I'll work on this on Monday.

[2020-12-18 12:55] deivid-rodriguez commented on #4159
Hei again @RamyDexels! Since this seems to be the same as #4153, and that issue now has a repro, I'll close this ticket in favor of that one. Make sure you subscribe to that one to track the resolution. If this ends up being a different issue for some reason, I'll reopen.

[2020-12-18 12:55] #4159 closed

[2020-12-18 17:51] gradybarrett commented on #4153
For what it's worth, this doesn't appear to happen when using ruby 2.7.1.

Here's a simpler repro in case it's useful for comparison. It uses only a Gemfile and lock file with a single dependency.

https://github.com/gradybarrett/bundler-error-repro

[2020-12-18 18:14] djberg96 commented on #4171
Maybe we could use something like this? https://github.com/nmeans/minitest-profile

[2020-12-18 20:13] MSP-Greg commented on #4171
Having experienced this before, and also having just switched to a new desktop, tried locally.  Installing gems runs an endless loop?  Was on current master...

I've also got Ubuntu 20.04 running, so busy with that...

[2020-12-18 21:45] duckinator commented on #4090
I don't have a strong opinion either way on adding this feature, but looking at the code, it does seem like registering one command twice should be a workaround for it. If that's not the case, lmk what issue(s) you run into and I can dig into it some more.

[2020-12-18 22:35] duckinator commented on #4047
Any solution we use would need to be included with RubyGems, and we would need an if/else check in the generated gemspecs to keep it from breaking on older RubyGems.

Looking at @robotdana's code, it all looks pretty good, and I would definitely be interested in it being added to Bundler so we can lose the git dependency! :+1:

Also, @simi suggested using a version check (`if rubygems_version >= '

[2020-12-18 22:55] deivid-rodriguez commented on #4153
Thank you everyone for the repros! I created #4175 that should fix this.

By the way, may I ask why you're running `bundle exec bundle`? It seems unnecessary, `bundle` should be enough. Is it to get the version of `bundler` locked in the lockfile? It's that's the reason, this should be the default if the version is installed, and we plan to make `bundle install` install that automatically.

[2020-12-19 02:36] CoralineAda commented on #4087
@deivid-rodriguez Should I open a PR with your implementation suggestions?

[2020-12-19 21:19] brandonhilkert opened #4176 "Deployment to AWS Lambda - clarifications and recommendations"
First off, thank you for `bundler` and thank you for aiding the terrific ecosystem it helps make a Ruby a joy to work with.

We have a handful of functions deployed to AWS Lambda. We deploy to them using the serverless framework (not super important, but it's the thing doing the zipping of all the packages and uploading to S3). Because Lambda doesn't have a "build" step, everything has to be ready

[2020-12-19 22:31] juancortesparra commented on #2956
I try to install rails under rosetta by (M1 issue) and this error happened.

 gem install rails
ERROR:  While executing gem ... (Errno::EPERM)
    Operation not permitted @ apply2files

[2020-12-21 07:58] iboB commented on #88
@deivid-rodriguez  it's been over a month

any news? :)

[2020-12-21 08:17] #4153 closed

[2020-12-21 08:18] deivid-rodriguez commented on #88
No, sorry @iboB, I didn't have time yet.

[2020-12-21 08:55] deivid-rodriguez commented on #4176
Hi @brandonhilkert, thanks for the ticket, and sorry for the issues :pray:.

I think this is similar to other issues the recent 2.2.0 release has caused. I'm currently working on smoothing out those issues, so this might get fixed in the next patch level releases. In any case, I'll try to answer your questions so you can get this fixed now on your side.

Yes, the reason for your problem is most li

[2020-12-21 09:13] deivid-rodriguez commented on #4087
Hei @CoralineAda.

I think there's consensus on adding a generic `--license` flag, so we'd definitely accept a PR adding that. Regarding my more recent comment about recommending the hippocratic license in help and CLI messages, I think that requires more consensus and discussion at this point.

[2020-12-21 09:27] #4166 closed

[2020-12-21 09:43] deivid-rodriguez commented on #4091
Closing since we didn't receive any more feedback.

[2020-12-21 09:43] #4091 closed

[2020-12-21 15:35] #2575 closed

[2020-12-21 15:35] #2900 closed

[2020-12-21 15:35] #3089 closed

[2020-12-21 21:37] deivid-rodriguez commented on #4166
Hi @knu!

I created #4179 that I think should fix your issue. Now the lockfile generated for you should look like this:

[code]

And when each developer uses it on here specific platform, they should get no source control changes whatsoever, and the best variant for their platform should get installed.

Note that technically unless you lock all the specific platforms that you want to support, you'

[2020-12-21 22:54] brandonhilkert commented on #4176
Hey @deivid-rodriguez. Thanks so much for the thoughtful, I appreciate it.

I dug in a little more today and here is some more information and things I've learned. We use CircleCI's ruby 2.7 image. Since it's public, we can inspect the bundler version there:

[code]

This matches our working version locally. What I'm not sure of is the bundler version in the container runtime of AWS Lambda.

I thi

[2020-12-21 23:27] deivid-rodriguez commented on #4176
Regarding your errors about writing to the lockfile, they should be gone after we release #4179 and the container runtime of AWS lambda upgrades. It seems that you're no longer seeing them, but just in case.

Regarding your findings about the need of `bundler/setup`, well that explains things indeed. It sounds like the `GEM_PATH` environment variable in your container might be set to `<whatever_th

[2020-12-21 23:45] brandonhilkert commented on #4176
Got it. Thanks for the info. I learned something today 👍

[2020-12-22 06:01] #2903 closed

[2020-12-22 13:51] knu commented on #4166
@deivid-rodriguez Unfortunately I have no idea how to test 2.3.0.dev, but I totally agree with your points and the result seems to be what I exactly wanted.  Thanks for all the hard work!

[2020-12-22 13:54] deivid-rodriguez commented on #4166
@knu You can clone the repository, and running `ruby setup.rb` from the root of the repo will install the latest rubygems & bundler. To "undo" the change after your tests, you can run `gem update --system <previous_rubygems_version>` to revert everything back to the previous state.

[2020-12-22 14:05] #4176 closed

[2020-12-22 19:27] vinicius0197 commented on #3321
Hello @deivid-rodriguez , I'm looking forwards to start contributinging to rubygems and would love to get started with this issue :)

[2020-12-22 19:32] deivid-rodriguez commented on #3321
Hello @vinicius0197, please go ahead! :+1:

[2020-12-23 05:13] StephanHarrer opened #4184 "Please integrate SHA3 version 1.0.2 with Raspberry support"
### Describe the problem as clearly as you can

Hello it seems Bundler is still using sha3 1.0.1. 1.0.1 is without support for Raspberry Pi, this is added with version 1.0.2.
Please integrate this new version (https://rubygems.org/gems/sha3/versions/1.0.2).

### Post steps to reproduce the problem

[2020-12-23 08:00] kannannadarajan commented on #1736
This worked me too in MacOs BigSur

Thank you all!!

[2020-12-23 10:27] deivid-rodriguez commented on #4184
Hi @StephanHarrer, could you point exactly where we're using this outdated code, and how you found about this issue? Thanks.

[2020-12-23 10:47] StephanHarrer commented on #4184
Hello Deivid,

I do the following on an raspberry. As far as I understand I run into an error because sha3 -v '1.0.1' is not installed. However, there are problems with version 1.0.1 on a Raspberry. Therefore Johanns Gregorian has fortunately released a version 1.0.2 (https://rubygems.org/gems/sha3/versions/1.0.1) which runs on the Raspberry.

However, the error does not disappear when I install t

[2020-12-23 10:51] deivid-rodriguez commented on #4184
If you delete your `Gemfile.lock` file and try again, it should pickup the latest version of the gem.

[2020-12-23 11:26] StephanHarrer commented on #4184
Hello Deivid,

I can't see any difference.

[2020-12-23 11:32] deivid-rodriguez commented on #4184
Can you post the `Gemfile`? Can you also run `bundle lock` and post the generated `Gemfile.lock` file?

[2020-12-23 12:46] StephanHarrer commented on #4184
Gemfile:
# Gemfile
# By Ron Bowes
#
# See LICENSE.md

source 'https://rubygems.org'

gem 'trollop' # Commandline parsing
gem 'salsa20' # Encrypted connections
gem 'sha3'    # Message signing + key derivation
gem 'ecdsa'   # Used for ECDH key exchange

#############################################
Gemfile.lock
GEM
  remote: https://rubygems.org/
  specs:
    ecdsa (1.2.0)
    salsa20 (0.1.1)
    sh

[2020-12-23 12:58] pierre-pretorius opened #4186 "sudo gem update --system fails on fresh Ubuntu 18.04.5 LTS"
On a fresh new Ubuntu server 18.04.5 LTS system created from default AWS ami:

[code]

[code]

[code]

This issue is related to:

  - [ ] Network problems
  - [x] Installing a library
  - [ ] Publishing a library
  - [x] The command line `gem`
  - [ ] Other

Here are my current environment details:
[code]

I also tried install rubygems-update-3.2.2 and rubygesm-update-3.2.1 and it gave the same er

[2020-12-23 13:03] deivid-rodriguez commented on #4184
@StephanHarrer I can't reproduce your issue. This is the lockfile I get:

[code]

Can you post your environment details, i.e., the result of `gem env` and `bundle env`?

Please use markdown to format your messages nicely. Here's a guide: https://guides.github.com/features/mastering-markdown/.

[2020-12-23 13:17] deivid-rodriguez commented on #4186
Hello @pierre-pretorius!

Unfortunately, updating rubygems of a ruby installation provided by Debian is not supported. Debian packages provide custom code that they can change at any time and it's hard for us to make sure that everything they do works all the time. The custom code is that `operating_system.rb` file that's causing the error for you. In particular, they removed the reference to the

[2020-12-23 13:20] simi commented on #4186
We should probably move https://github.com/rubygems/rubygems/pull/3720 forward on this kind of Ruby distributions.

@pierre-pretorius You should use your system to update system Ruby/RubyGems/Bundler. Instead of doing `gem update --system` you should use `apt` to got supported Ruby version.

Alternatively you should install custom Ruby distribution and maintain it manually by `gem`.

You do mix bo

[2020-12-23 13:23] glebsonik opened #4187 "No such file or directory error while installing dependencies in Docker"
I tried to install gems with Bundler in Docker container using a bash script inside of CircleCI configuration file. Usually it works perfectly fine, but since yesterday in about 5% of containers installation fails (average number of concurrent containers is 60). I tried to use previous release (2.1.4), and it worked just as expected.
## Backtrace

[code]

## Environment

[code]

## Bundler Build M

[2020-12-23 13:37] StephanHarrer commented on #4184
stephan@rasp4:~/dnscat2/server$ gem env
RubyGems Environment:
  \- RUBYGEMS VERSION: 3.1.2
  \- RUBY VERSION: 2.7.1 (2020-03-31 patchlevel 83) [aarch64-linux-gnu]
  \- INSTALLATION DIRECTORY: /var/lib/gems/2.7.0
  \- USER INSTALLATION DIRECTORY: /home/stephan/.gem/ruby/2.7.0
  \- RUBY EXECUTABLE: /usr/bin/ruby2.7
  \- GIT EXECUTABLE: /usr/bin/git
  \- EXECUTABLE DIRECTORY: /usr/local/bin
  \- SPEC

[2020-12-23 13:39] deivid-rodriguez commented on #4187
@glebsonik I think the reason for this is that on bundler 2.2 we enabled parallel installation by default, but old rubygems installer versions used to not be thread safe. If this is the culprit, you should be able to fix it by upgrading rubygems `gem update --system`, or by running bundle install with a single job (`bundle install --jobs 1`).

[2020-12-23 13:41] deivid-rodriguez commented on #4184
Please don't ignore the parts of my messages that help me, but attend to the parts that help you, and properly format your command results using markdown. Thanks.

[2020-12-23 13:46] StephanHarrer commented on #4184
Sorry Deivid, I used markdown and the printout is exactly like in the CLI of my system.

[2020-12-23 13:55] deivid-rodriguez commented on #4184
Wrap each command with triple backquotes, so that it's nicely formatted.

Anyways, if you're really deleting the `Gemfile.lock` file before running `bundle lock`, and that's what you're getting, and completely lost on what the problem is. If you can build a Dockerfile that demonstrates this behaviour I'm happy to have a look, otherwise there's nothing I can do to help, sorry.

[2020-12-23 13:59] deivid-rodriguez commented on #4186
Yay! We also plan to add all this information to the error message you get when you do this, so that you don't need to open an issue to find out :smiley:. b

[2020-12-23 14:00] deivid-rodriguez commented on #4186
My cat :laughing:.

[2020-12-23 14:44] StephanHarrer commented on #4184
Hello Deivid,

I have found the problem. The installation creates not only the Gemfile but also the Gemfile.lock.
After I have deleted the Gemfile.lock as suggested by you, I have run the installation completely again. Then the Gemfile.lock was created again and in the SSH 1.0.1 is in it.

Now I have edited the file manually and entered the version 1.0.2. With that it works. Thanks for your help a

[2020-12-23 14:57] #4184 closed

[2020-12-23 14:59] glebsonik commented on #4187
@deivid-rodriguez This was totally the case, thanks. Several hundred of installations performed without any issues.

[2020-12-23 15:04] deivid-rodriguez commented on #4187
Great! I'll look into restoring the old default for installations running old rubygems. Just curious, which workaround did you use?

[2020-12-23 16:18] glebsonik commented on #4187
Actually, we didn't use any workarounds for current version. As a part of our investigation, we added random wait for every container, so threads did not conflict with each other and it worked! Then we switched to a previous version to see if it is exactly a Bundler issue and it helped as well

[2020-12-23 16:20] deivid-rodriguez commented on #4187
Aaaah I see.

[2020-12-23 17:55] deivid-rodriguez commented on #4187
Would you be able to verify if upgrading rubygems also fixes the issue? I'd like to make sure that the culprit lies in rubygems, not bundler.

[2020-12-23 21:00] marcandre opened #4191 "OpenSSL should not be mandatory"
[code]

Should run without OpenSSL but does not.

[2020-12-23 21:24] fzakaria commented on #4088
Sorry for the late response; I was battling COVID :(
Is that specific to `rake` @deivid-rodriguez  ?

I was able to offset the issue with https://github.com/NixOS/nixpkgs/pull/104977 being accepted; I hope it's idiomatic.
The issue was that the GEM_PATH setup by the Nix system had the gems but does not maintain the cached file.
(Which makes sense since the rationale is this creates a Ruby environm

[2020-12-23 21:24] deivid-rodriguez commented on #4191
@marcandre I added a fix in #4192, let's see CI. How do you feel about printing a warning though?

[2020-12-23 21:30] deivid-rodriguez commented on #4088
Hope feel better now :muscle:.

No, not at all.

I understood the issue, yeah. My preferred fix as I tried to explain would be to treat this "default gemset" locations the same way as we treat default gems: they're not cached, they are not reinstalled, they are only "used" when needed.

Changing that would essentially involve adding a similar trick to this:

https://github.com/rubygems/rubygems/bl

[2020-12-23 21:38] marcandre commented on #4191
Wow, that's quick 💪

What would the warning read?

[2020-12-23 21:41] deivid-rodriguez commented on #4191
I was thinking of something along the lines of "Using non-https gem sources is not recommended".

[2020-12-23 21:48] marcandre commented on #4191
I have no informed opinion.

This is only tangentially related though, as the `gem install benchmark-ips --clear-sources --source 'http://rubygems.org'` works currently without a warning (when openssl is installed that is).

[2020-12-23 21:48] fzakaria commented on #4088
I see -- they become a _no-op_ for the redownload operation then ?

How would Bundler distinguish it as a "default gemset" though? It's only specified via the GEM_PATH argument so it just looks like any gem installation? (curious)

Seems like you have a good handle on the "issue" opened by me.
Feel free to to close this issue then since it sounds like a feature request instead; I also understand i

[2020-12-23 22:02] deivid-rodriguez commented on #4191
Yeah.

The reason as far as I understand is rubygems.org redirects all http requests to the equivalent `https://` targets, so even if you specify `http://rubygems.org` as the source, https gets used in the end.

However, if you don't have have OpenSSL, all requests to the new API will fail since it doesn't work through http at all, and you will end up using the old index, which does seem served ov

[2020-12-23 22:05] deivid-rodriguez commented on #4191
I guess we might want to stop serving the old index over http in the future too, so not only warning about it being insecure, but about it potentially breaking in future versions sounds nice to me.

[2020-12-23 22:09] deivid-rodriguez commented on #4088
It would always exit early from the method you pointed out earlier as being already installed with a "Using hello-world" message:

https://github.com/rubygems/rubygems/blob/cf06c729453f34b5778866a072abb093584d3c6d/bundler/lib/bundler/source/rubygems.rb#L107-L112

If on the other hand, you _do_ specifiy it in the `Gemfile`, then it will be treated as a regular gem and installed where bundler puts g

[2020-12-23 22:13] marcandre commented on #4191
I can understand if the behavior for `http://rubygems.org` and other non-https sources is different.
I think it is best for non-https sources to function without `openssl`.
I don't have an informed opinion on if `rubygems.org` should serve a non-https index or not.
In all cases, error message should reflect the situation.

[2020-12-23 22:18] deivid-rodriguez commented on #4191
So, maybe:

* Add a warning to my PR saying that the ability to `gem install` without OpenSSL might be removed in the future.
* Consider adding another warning when non-https sources are used at all, without or without OpenSSL installed.

Thoughts about this @sonalkr132?

[2020-12-23 22:53] deivid-rodriguez opened #4193 "Make `gem install` fallback to the old dependency API if the new one is not available"
In #4110, I fixed the issue by changing the previous `APISet` to use the new dependency API (compact index) instead of the old one.

While that fixed the issue for rubygems.org, people using custom gem sources that do not yet implement the new dependency API are no longer be able to use the `APISset` for resolving dependencies and now fallback to the full marshalled index. Notoriously, `gemstash`-

[2020-12-24 04:37] ybiquitous commented on #3333
Hi, I found <https://github.com/bundler/bundler-viz> is 404 not found in the deprecation warning message with bundler 2.2.3:

https://github.com/rubygems/rubygems/blob/cf06c729453f34b5778866a072abb093584d3c6d/bundler/lib/bundler/cli.rb#L574

[2020-12-24 10:18] glebsonik commented on #4187
Unfortunately, updating rubygems did not resolve the issue.

[2020-12-24 11:08] deivid-rodriguez commented on #4187
That's too bad, thanks for trying.

Could you post an updated backtrace of the error?

[2020-12-24 11:19] deivid-rodriguez commented on #3333
Thanks for bringing this up @ybiquitous.

Can we get an agreement of what do to here, @hsbt and @duckinator? As far as I understand, code was extracted to kerrizor's fork, then updated by @fatkodima, and then adapted again by @duckinator. Keeping the history of these changes sounds like a nightmare. How about using a section in the readme of the new repo to explain the history of the different rep

[2020-12-24 11:41] hsbt commented on #3333
It's good to transfer https://github.com/duckinator/bundle-viz-wip to rubygems/bundler-vis repo. And re-create the skelton template for gem release.

@duckinator Can you try it? If you don't have a permission for this. you can transfer to me like hsbt/bundler-vis-wip. After that, I rename and transfer rubygems org.

[2020-12-24 14:52] glebsonik commented on #4187
Of course, here you go

## Backtrace

[code]

## Environment

[code]

## Bundler Build Metadata

[code]

## Bundler settings

[code]

## Gemfile

### Gemfile

[code]

### Gemfile.lock

[code]

[2020-12-24 14:53] emilebosch commented on #3466
My thumbs for up on this. A lot of times I make gems just to separate my code logically never wanting to push to any gems server, a lot of these "helpful" checks should only be applied when actually pushing to ruby gems. And not bother me with it when I am generating a thousand gems.

[2020-12-24 15:19] deivid-rodriguez commented on #4187
It says rubygems 3.0.3, but it should say 3.2.3, is it correct?

[2020-12-24 15:46] slonopotamus opened #4195 "[Regression] bundle 2.2.x fails to install dependencies from Git on JRuby + Windows"
### Describe the problem as clearly as you can

If user tries to `bundle install` on a Gemfile that has Git-repository dependency, bundler fails with `The source does not contain any versions of '<dependency>'`:

### Steps to reproduce the problem

Assuming that you use Windows, have JRuby as default Ruby and have Bundler 2.2.x (2.2.3 still has this bug):

1. Create an empty project with the follo

[2020-12-24 19:06] deivid-rodriguez commented on #4195
Thanks for the report and the repro! I made a few experiments and it seems #4196 fixes this. I will make sure to add some coverage before merging.

[2020-12-24 20:11] slonopotamus commented on #4195
BTW, error message `Could not find gem 'prawn-table' in https://github.com/prawnpdf/prawn-table (at` looks like it is missing some letters at the end?

[2020-12-25 10:11] deivid-rodriguez commented on #4195
Yeah, I've seen that issue in the past. It's a multithread output sync issue specific to Windows, but I don't know the root cause. I thought it didn't happen when using a single thread, but it sounds like it can happen too with a single thread.

[2020-12-25 10:21] Irakaj93 opened #4197 "Error occurs everytime i try to create a new rails app"
`-
# Error Report

## Questions

Please fill out answers to these questions, it'll help us figure out
why things are going wrong.

- **What did you do?**

  I ran the command `/Users/jakari/.rbenv/versions/2.7.2/lib/ruby/gems/2.7.0/gems/bundler-2.2.3/exe/bundle install`

- **What did you expect to happen?**

  I expected Bundler to finish installing the necessary gems for my rails app. But it stop

[2020-12-25 10:33] deivid-rodriguez commented on #4197
Oh wow, this is unexpected. Can you upgrade rubygems with `gem update --system` and try again?

[2020-12-26 01:37] Irakaj93 commented on #4197
``jakari@Jakaris-MacBook-Pro ~ % gem update --system
Updating rubygems-update
Fetching rubygems-update-3.2.3.gem
Successfully installed rubygems-update-3.2.3
Parsing documentation for rubygems-update-3.2.3
Installing ri documentation for rubygems-update-3.2.3
Installing darkfish documentation for rubygems-update-3.2.3
Done installing documentation for rubygems-update after 48 seconds
Parsing docum

[2020-12-26 01:38] deivid-rodriguez commented on #4197
You need to run `bundle install` from the same folder as before. Are you doing that?

[2020-12-26 01:47] Irakaj93 commented on #4197
I think it worked!!!!

`Bundle complete! 17 Gemfile dependencies, 74 gems now installed.
Bundled gems are installed into `./path`
Post-install message from i18n:

HEADS UP! i18n 1.1 changed fallbacks to exclude default locale.
But that may break your application.

If you are upgrading your Rails application from an older version of Rails:

Please check your Rails app for 'config.i18n.fallbacks = t

[2020-12-26 01:49] Irakaj93 commented on #4197
`jakari@Jakaris-MacBook-Pro friends % bin/ rails server
zsh: permission denied: bin/
jakari@Jakaris-MacBook-Pro friends % `
This seems to be my only problem now.

[2020-12-26 01:54] Irakaj93 commented on #4197
I think I messed up by putting a space between the bin/ and rails.
But when I put in
`bin/rails server`
I got this at the end:
`/Users/jakari/friends/PATH/ruby/2.7.0/gems/webpacker-5.2.1/lib/webpacker/configuration.rb:99:in `rescue in load': Webpacker configuration file not found /Users/jakari/friends/config/webpacker.yml. Please run rails webpacker:install Error: No such file or directory @ rb_sy

[2020-12-26 02:05] deivid-rodriguez commented on #4197
Yeah! It seems to be working. Regarding the webpacker error, try to regenerate the app from scratch, maybe the first time some stuff couldn't run because of the error.

But it doesn't seem like a problem in rubygems.

Also, when you copy-paste commands in here, could you wrap them in backquotes so that they are rendered nicely and they are  easy to read? Here's a markdown guide:  https://guides.gi

[2020-12-26 12:35] jrfhack opened #4200 "Z"

[2020-12-26 12:55] #4200 closed

[2020-12-26 14:54] MichaelOdumosu57 opened #4203 "Dependency Issue puffing billy bundler told me to report"
# Error Report

## Questions

Please fill out answers to these questions, it'll help us figure out
why things are going wrong.

- **What did you do?**

A dependency for puffing_billy was not installing so I deleted Gemfile.lock to see if I can get things to work
  I ran the command `c:/Users/oluod/.gem/ruby/2.7.0/bin/bundle install --redownload --path=C:\Users\oluod\My_Notebook\cases\FinancialUpwa

[2020-12-26 15:16] deivid-rodriguez commented on #4203
Hi @MichaelOdumosu57! Thanks for reporting this. I think this is the same report as #4197. Does it still happen if you upgrade rubygems using `gem update --system`?

[2020-12-26 16:47] MichaelOdumosu57 commented on #4203
Lemme attempt, the difference there was the dev end user was not permitted

[2020-12-26 17:00] MichaelOdumosu57 commented on #4203
Still came up with the same error

[2020-12-26 17:04] deivid-rodriguez commented on #4203
Could you copy the new error?

[2020-12-26 17:10] MSP-Greg commented on #4203
@MichaelOdumosu57

You're trying to install eventmachine, and Bundler is using eventmachine-1.2.7-x64-mingw32.gem.  That gem was not built correctly, as it has no upper Ruby version limit.  It only includes binaries for Ruby versions 2.0 thru 2.3.

You need to force bundler to use the equivalent of RubyGem's `--platform=ruby`, and have a correctly installed DevKit.  I just switched to a new deskto

[2020-12-26 17:28] MichaelOdumosu57 commented on #4203
@deivid-rodriguez
@ MSP-Greg, not to sure about the advanced bundler configuration
# Error Report

## Questions

Please fill out answers to these questions, it'll help us figure out
why things are going wrong.

- **What did you do?**

  I ran the command `c:/Users/oluod/.gem/ruby/2.7.0/bin/bundler install --redownload --path=C:\Users\oluod\My_Notebook\cases\FinancialUpwardCase\Youtube\codequickie\

[2020-12-26 18:05] pedrofurtado opened #4204 "Rubygems v3.2.3 bug in command 'gem wrappers regenerate'"
I'm having a problem.

My current problem is:

When I install ruby 3.0.0 + rubygem v3.2.3 and execute `gem wrappers regenerate`, the following error occurs in terminal:

[code]

This issue is related to:

  - [ ] Network problems
  - [ ] Installing a library
  - [ ] Publishing a library
  - [x] The command line `gem`
  - [ ] Other

Here are my current environment details:

[code]

[code]

[code]

[2020-12-26 18:14] pedrofurtado commented on #4204
A workaround for a while is to downgrade the version to 3.2.2, as below:

[code]

And then execute the command `gem wrappers regenerate`:

[code]

[2020-12-26 18:41] deivid-rodriguez commented on #4204
Not sure what's going on, I installed the `gem-wrappers` gem on my system using 3.2.3 and the command worked.

[2020-12-26 18:43] deivid-rodriguez commented on #4203
@MichaelOdumosu57 Does it also happen if you run `bundle install --jobs 1`?

[2020-12-26 18:54] MSP-Greg commented on #4203
@MichaelOdumosu57

I tried this locally.  The only way I found to do it was:

1. Run `bundle install`, as I think you've done
2. Open `Gemfile.lock` and change `eventmachine (1.2.7-x64-mingw32)` to `eventmachine (1.2.7)`
3. Run `bundle install` again
4. Run `bundle clean`

[2020-12-26 18:55] pedrofurtado commented on #4204
@deivid-rodriguez Thanks for feedback! Maybe this can be related: I installed ruby 3.0 + rubygems with RVM 👍

[2020-12-26 18:56] pedrofurtado commented on #4204
But, @deivid-rodriguez , I don't know how to debug to find root cause 🙈  Is there any "verbose mode" for command `gem wrappers regenerate`?

[2020-12-26 18:58] deivid-rodriguez commented on #4203
Yeah, I think this is due to now having correct platform specific variant selection :rofl:. This essentially surfaces a bug in the platform specific gem that should specificy an upper bound on ruby 3 if it's broken on it. A way to alleviate this issue is: #4049. I'll look into revisiting that.

Still, the error seems weird, why is it failing on install? Shouldn't if fail at runtime? That's why I w

[2020-12-26 18:59] deivid-rodriguez commented on #4204
I don't know, I don't really use `RVM` and don't know much about that command. If you can provide me with a `Dockerfile` reproducing the error I can try look into it.

[2020-12-26 19:14] pedrofurtado commented on #4204
I will provide a minimal Vagrantfile 🤝

[2020-12-26 19:28] pedrofurtado commented on #4204
@deivid-rodriguez If you have Vagrant+Virtualbox in your PC, you can use this Vagrantfile as example to reproduce the error:

[code]

In a terminal, execute these commands:

[code]

[2020-12-26 19:57] MichaelOdumosu57 commented on #4203
I use bundle install --path="path/to/project", since I dont want to corrupt the per user or system installation.
If the bundle install step fails, the Gemfile.lock is not created

[2020-12-27 10:03] deivid-rodriguez commented on #4203
Sure, I understand. Did you try with the `--jobs` flag and it still failed?

[2020-12-27 10:57] MichaelOdumosu57 commented on #4203
still failed
Unfortunately, an unexpected error occurred, and Bundler cannot continue.

First, try this link to see if there are any existing issue reports for this error:
https://github.com/rubygems/rubygems/search?q=No+such+file+or+directory+%40+rb_sysopen+-+C+%2FUsers%2Foluod%2FMy_Notebook%2Fcases%2FFinancialUpwardCase%2FYoutube%2Fcodequickie%2Fvids%2Fcapybara_and_puffing_billy%2FAngularApp%2Ft

[2020-12-27 11:02] MichaelOdumosu57 commented on #4203
something is getting notciable worse, mabye I should have listened to the path deprecation
how corrupted is my ruby instaallation now
[code]

[2020-12-27 11:05] deivid-rodriguez commented on #4203
And does it work if you configure `force_ruby_platform` with `bundle config set --local force_ruby_platform` true?

[2020-12-27 11:21] MichaelOdumosu57 commented on #4203
It would try to overwrite, nokogiri and other dependencies, depended on x64-mingw32, I'll try to do seperte for each

[2020-12-27 11:26] MichaelOdumosu57 commented on #4203
it did not try ton install the x64-mingw32 platform however it falied
# Error Report

## Questions

Please fill out answers to these questions, it'll help us figure out
why things are going wrong.

- **What did you do?**

  I ran the command `c:/Users/oluod/.gem/ruby/2.7.0/bin/bundle install --jobs 1`

- **What did you expect to happen?**

  I expected Bundler to...

- **What happened instead?**

[2020-12-27 11:33] deivid-rodriguez commented on #4203
That sounds like an issue, yeah. If you unset the path configuration with `bundle config unset path`, and then set it again with the proper value. Does it work?

[2020-12-27 11:36] MichaelOdumosu57 commented on #4203
It still adds those slashes

[2020-12-27 14:35] pedrofurtado commented on #4204
@deivid-rodriguez Could you reproduce the error? 🤝

[2020-12-27 21:08] wintersolutions commented on #4204
This seems not to be a issue in `rubygems`. I believe the issue is in the project https://github.com/rvm/gem-wrappers which seems to act as a plugin to `rubygems` and provides the `gem wrappers regenerate` command.

[2020-12-28 00:39] hsbt commented on #4204
It seems the 3rd party issue.

[2020-12-28 07:14] tonobo commented on #4193
Can confirm this, there is actually no way to install dependencies from a private mirror

[2020-12-28 07:52] deivid-rodriguez commented on #4193
Hi @tonobo.

We actually discussed this privately with @indirect and the current situation might be actually want we want, since we prefer to first get rid to the old dependencies API, but keep an full marshalled index as a fallback instead, since it's easier on servers.

The way I was expecting this to affect people is that rubygems defaults to using the old full marshalled index of specification

[2020-12-28 07:57] deivid-rodriguez commented on #4204
@pedrofurtado I didn't try to repro the error yet, but I will try to find some time. If you could prepare a `Dockerfile` though, it'd be easier for me :+1:.

[2020-12-28 08:09] tonobo commented on #4193
We're just running a geminabox behind, which isn't working anymore. Can you show me a link for what you actually expect and i try to add this to geminabox

[2020-12-28 08:12] deivid-rodriguez commented on #4193
I don't have a geminabox setup. I was expecting to be able to see the error for myself on my machine, so that I can fix it.

[2020-12-28 08:14] deivid-rodriguez commented on #4193
Also, some more details about your issue would help. You say "it isn't working anymore", but you don't specify the kind of problem: timeout, crash, incorrect result :man_shrugging:.

[2020-12-28 08:20] tonobo commented on #4193
Sorry, please take a look at the following command:

[code]

It seems to query `/info` which isn't available yet. I just scrolled over the related MR and it looks like you're now actively fetching further information instead of guessing by the name. At least it was my first impression.

[2020-12-28 08:44] deivid-rodriguez commented on #4193
Can you run that with `--backtrace`?

[2020-12-28 09:04] tonobo commented on #4193
[code]

[2020-12-28 09:13] deivid-rodriguez commented on #4193
I see, I will check this. I think the code _wants to_ fallback to the old index in case the compact index API is not implemented, but we're missing a `rescue` clause somewhere to properly apply the fallback.

[2020-12-28 09:15] tonobo commented on #4193
ah cool, thanks!

[2020-12-28 09:56] deivid-rodriguez commented on #4193
Weird, I tried to simulate what you're seeing but manually raising the same error at the place that's happening for you and the fallback happened smoothly. Can you give me the result of running `gem sources`?

[2020-12-28 10:29] tonobo commented on #4193
Hmm, strange thing. Sources list below. I could run the command as well with `--clear-sources` which skips the configured ones and ends up in the same issue.  Just want to mention, rubygems 3.2.3 is uesd, 3.2.2 works without any issues.

[code]

[2020-12-28 10:39] deivid-rodriguez commented on #4193
Sure, yeah, I'm aware of the change that broke this, it's #4110 as mentioned in the initial report. I just don't know why :sweat_smile:.

Can you add the following patch to your rubygems sources:

[code]

and post the results of rerunning the command with the patch?

[2020-12-28 10:43] tonobo commented on #4193
Result:

[code]

[2020-12-28 10:50] deivid-rodriguez commented on #4193
Ok, I think I get it now. Our credential redaction is making an uri comparison that shouldn't fail, fail. I'll keep you posted on the fix :+1:.

[2020-12-28 10:56] tonobo commented on #4193
Nice, thanks.

[2020-12-28 14:05] pedrofurtado commented on #4204
Thanks for explanation @wintersolutions ! I will provide this information to RVM team 🤝

Anyway, If you could help us @deivid-rodriguez , it will be awesome for debugging (using your expertise in rubygems codebase 🔍 🕵️).

I will create asap a Dockerfile 👍

[2020-12-28 14:52] #4195 closed

[2020-12-28 15:10] pedrofurtado commented on #4204
@hsbt Could you please reopen the issue for a while? 🤝

[2020-12-28 15:15] pedrofurtado commented on #4204
@deivid-rodriguez

Dockerfile to reproduce the error:

[code]

And then, the commands required for it:

[code]

[2020-12-28 15:16] deivid-rodriguez commented on #4204
@pedrofurtado This issue was probably caused by a recent rubygems release, but whatever broke might be completely unsupported and not an actual issue in rubygems, we don't know what happened yet :man_shrugging:. Even if unsupported, we might still choose to ship a workaround, but we don't need to reopen the issue unless we confirm this is a problem in rubygems.

[2020-12-28 15:16] deivid-rodriguez commented on #4204
Thanks, the `Dockerfile` is helpful :+1:.

[2020-12-28 15:22] pedrofurtado commented on #4204
Hmmm, thank you so much for your feedback @deivid-rodriguez 🤝 ! Now it is more clear the situation 🤔

[2020-12-28 16:37] deivid-rodriguez commented on #4193
@tonobo Can you apply the following patch and tell me if it fixes things?

[code]

[2020-12-28 17:25] deivid-rodriguez commented on #4136
Closing since we got no further feedback here.

[2020-12-28 17:25] #4136 closed

[2020-12-28 17:31] deivid-rodriguez commented on #4203
Hei!

Just to clarify, the PR I pointed to implements `force_ruby_platform` but has not been merged yet, so you would need to clone the repository and install from source if you want to try it.

In addition, I had an idea about what's going on that I think makes sense. If I recall correctly, some Windows had issues with paths longer than 260 characters, and I measured the one giving trouble and it

[2020-12-28 17:58] tonobo commented on #4193
Nop does not help, the uri in best set still keeps the REDACTED one.

[2020-12-28 17:59] tonobo commented on #4193
`@original_uri = uri.dup` does the trick

[2020-12-28 18:09] deivid-rodriguez commented on #4193
Oh, sorry, yeah! I had done that change locally but forgot to post it! So with that it works fine?

[2020-12-28 18:30] tonobo commented on #4193
yep, works!

Am 28. Dezember 2020 19:09:27 MEZ schrieb "David Rodríguez" <notifications@github.com>:

--
Diese Nachricht wurde von meinem Android-Gerät mit K-9 Mail gesendet.

[2020-12-28 18:32] deivid-rodriguez commented on #4193
Great, thanks! I'll try to prepare a PR with a test tomorrow :+1:.

[2020-12-28 18:55] MichaelOdumosu57 commented on #4203
absolutely Python talks about this on installation. That must be the issue
will follow around this time tmr , I'll try to deal with the path limit,
then install from source, is that the C+, themed configure , make logic?

On Mon, Dec 28, 2020 at 12:31 PM David Rodríguez <notifications@github.com>
wrote:

--
Michael Odumosu
Clerical Office Associate and Fullstack Freelance Software Developer

*Info

[2020-12-28 19:01] deivid-rodriguez commented on #4203
First fix the path thing, and then we can see what the other errors look like.

Not sure if we can do something in bundler to make this kind of thing easier to spot :thinking:.

[2020-12-28 19:03] deivid-rodriguez commented on #4203
To install from source, you would need to run the following:

[code]

[2020-12-28 22:33] pixel8383 opened #4210 "Bundle install fails"
# Error Report

## Questions

Please fill out answers to these questions, it'll help us figure out
why things are going wrong.

- **What did you do?**

  I ran the command `/home/mastodon/.rbenv/versions/2.7.2/bin/bundle install`

- **What did you expect to happen?**

  I expected Bundler to install all the gems

- **What happened instead?**

  Instead, what happened was an error as on this report

[2020-12-29 04:55] MichaelOdumosu57 commented on #4203
[modify the application manifest](https://docs.microsoft.com/en-us/windows/win32/fileio/maximum-file-path-limitation#enable-long-paths-in-windows-10-version-1607-and-later), I have checked the registry and in the ruby_builtin_dlls.manifest, I feel like I need to edit this system ruby file, however I just dont know this type of thing I wish I learned more of desktop instead of mobile apps  anyway h

[2020-12-29 07:49] YaEvan commented on #4186
If you install ruby by `apt install ruby2.5 ruby2.5-dev`, only exec `gem install bundler`, then print gem list `gem list`, the bundler now is bundler2.

[2020-12-29 08:35] JK0369 opened #4211 "bundle exec cocoa pod error"
`$ bundle exec pod install` occur error such as under text

Unfortunately, an unexpected error occurred, and Bundler cannot continue.

First, try this link to see if there are any existing issue reports for this error:
https://github.com/rubygems/rubygems/search?q=Could+not+find+%27bundler%27+%281.17.2%29+required+by+your+%2FUsers%2Fjongkwon-kim%2FDesktop%2Fnew_origin%2FGemfile.lock.&type=Issues

[2020-12-29 08:54] deivid-rodriguez commented on #4211
Hi @JK0369. If you're on a recent ruby `bundle update --bundler` should do the trick for you.

[2020-12-29 09:00] deivid-rodriguez commented on #4203
@MichaelOdumosu57 I thought you were going to change the bundler configuration to use a shorter path :sweat_smile:. If you can do that to skip the error for now (and also to confirm that's the culprit), then we can move on to the next error.

I agree though that the proper fix would be to change your Windows configuration, but unfortunately I don't use Windows so I'm not able to help there. But I

[2020-12-29 09:14] JK0369 commented on #4211
thanks for response but still error occurred,

[code]

[2020-12-29 09:32] deivid-rodriguez commented on #4211
That's two issues now:

* You're missing permissions to install in your default gem home folder. I plan to improve this in the near future so that it detects the absence of permissions and installs to a better place in that case. But for now you can follow the instructions in the error message to get going.

* You're missing some libraries some gems need to compile the native extensions. You proba

[2020-12-29 09:48] wintersolutions commented on #4204
I tried to fix this last evening but the tests are almost killing my old laptop I have on the road.

I believe the error happens in https://github.com/rvm/rvm/blob/master/scripts/functions/installer#L1420

The error can be solved with a call to `gem pristine gem-wrappers --only-plugins` which is available since `rubygems` v 3.2.

So I tried the following:

But the tests don't go trough on branches

[2020-12-29 10:28] deivid-rodriguez commented on #4210
Hi @pixel8383, thanks for the report.

I managed to reproduce this error by doing the following inside the directory of a "toy Gemfile":

[code]

Is this your situation? Do you have an empty `/home/mastodon/live/vendor/bundle/ruby/2.7.0/cache/` folder without write permissions?

If that's your case, then granting write permissions to this folder should do the trick for you.

In any case, I'll fix

[2020-12-29 11:17] pierre-pretorius commented on #4186
Thank you for the quick response and detailed explanation of the issue.

Our server provisioning is automated and follows a process that usually completes without issues, but this time it ran into the error below where the suggested solution was to update system gems:

https://bundler.io/blog/2019/05/14/solutions-for-cant-find-gem-bundler-with-executable-bundle.html

Our current solution is to ins

[2020-12-29 12:01] deivid-rodriguez commented on #4186
Oh, I see! That post should clarify that if it is an OS installation, `gem update --system` is not supported, so the solution is to do what you did there and install bundler 1.

In any case, rubygems is still picky when choosing the bundler version if the "BUNDLED WITH" version and the running version are different major versions of bundler, so `gem update --system` wouldn't have helped there.

I'

[2020-12-29 12:30] deivid-rodriguez commented on #4204
Ok, I had a look at this and yeah, @wintersolutions is correct that this is due to the new plugins layout introduction in #3108.

I don't know much about how `rvm` works, but I think something like this reproduces the situation well:

[code]

Rubygems should look for plugin files in all `GEM_PATH` locations, not only in `GEM_HOME`. I'll try to fix this.

[2020-12-29 12:55] pedrofurtado commented on #4204
@deivid-rodriguez 🎉 🤩

[2020-12-29 13:14] MichaelOdumosu57 commented on #4203
Seemed to solve many problmes now we have a make issue
[moved_to_shorter_path_make_failed.zip](https://github.com/rubygems/rubygems/files/5750783/moved_to_shorter_path_make_failed.zip)

[2020-12-29 13:26] deivid-rodriguez commented on #4203
I'm happy it fixed things. Can you delete the `Gemfile.lock` file and run `bundle install` again? It should pick up the precompiled version like it did in the begining.

[2020-12-29 13:30] MichaelOdumosu57 commented on #4203
[moved_to_shorter_path_make_failed.zip](https://github.com/rubygems/rubygems/files/5750840/moved_to_shorter_path_make_failed.zip)
done without  bundle_force_ruby_platform

[2020-12-29 13:45] deivid-rodriguez commented on #4203
I think you need to use the [master branch eventmachine_httpserver](https://github.com/eventmachine/evma_httpserver/pull/33) to fix that error. You can add the following to the `Gemfile`:

[code]

In any case, it has become super clear now that this is not an issue in bundler, so I'll close this!

[2020-12-29 13:45] #4203 closed

[2020-12-29 15:32] JK0369 commented on #4211
Thanks. i solved it!

[2020-12-29 15:33] #4211 closed

[2020-12-29 17:55] Syntaf commented on #4187
👋 dropping in to note that I also ran into this same issue though my specific error was

[code]

Full backtrace output (formatted as markdown): https://gist.github.com/Syntaf/7dc04f1b58f73188c58907aedb389089

Changing my Dockerfile to use a single job fixed this issue, but it was quite confusing debugging this issue I'll say lol.

[code]

[2020-12-29 19:35] deivid-rodriguez commented on #4187
Thanks for the confirmation @Syntaf!

Sin I can't repro this error, can you help me out figure it out? Do you get the issue all the time or just randomly? Does the issue get also fixed if you upgrade rubygems? Finally, could you edit bundler's code at the exact line that it's causing the error and add a debug print that shows the CWD when the error happens? Something like `puts "CWD: #{Dir.pwd}"`

[2020-12-30 03:39] bronzdoc commented on #4160
Closing due to lack of response, but will reopen if you provide steps to reproduce @kirtigiripunje. Thanks

[2020-12-30 03:39] #4160 closed

[2020-12-30 09:12] mosab3482 opened #4214 "Error in installing metasplate in Termux"
dpkg: error processing package metasploit (--configure):                                             installed metasploit package post-installation script subprocess returned error exit status 1      Errors were encountered while processing:          metasploit                                       E: Sub-process /data/data/com.termux/files/usr/bin/dpkg returned an error code (1)

[2020-12-30 09:13] mosab3482 commented on #4214
curl: (56) OpenSSL SSL_read: Software caused connection abort, errno 103
dpkg: error processing package metasploit (--configure):
 installed metasploit package post-installation script subprocess returned error exit status 56
Errors were encountered while processing:          metasploit
E: Sub-process /data/data/com.termux/files/usr/bin/dpkg returned an error code (1)
Reading package lists... Done

[2020-12-30 10:17] deivid-rodriguez commented on #4214
Sorry @mosab3482 but from the information you have given I'm unable to spot any problems in rubygems or bundler. Feel free to follow up if you can offer more information :+1:.

[2020-12-30 10:17] #4214 closed

[2020-12-30 10:26] deivid-rodriguez commented on #4078
No response, so closing. It doesn't seem like a problem in rubygems.

[2020-12-30 10:26] #4078 closed

[2020-12-30 10:26] deivid-rodriguez commented on #4074
I'll close this since there hasn't been any recent feedback here, but let me know if you run into issues when you get to it.

[2020-12-30 10:26] #4074 closed

[2020-12-30 12:18] mosab3482 commented on #4214
Welcome to Termux!

Wiki:            https://wiki.termux.com
Community forum: https://termux.com/community
Gitter chat:     https://gitter.im/termux/termux
IRC channel:     #termux on freenode

Working with packages:

 * Search packages:   pkg search <query>
 * Install a package: pkg install <package>
 * Upgrade packages:  pkg upgrade

Subscribing to additional repositories:

 * Root:     pkg inst

[2020-12-30 16:34] sanjioh opened #4217 "Upgrading to RubyGems 3.2.3 breaks "bundler" executable"
### Describe the problem as clearly as you can

Upgrading to RubyGems 3.2.3 breaks `bundler` executable (`bundle` executable works fine).

### Post steps to reproduce the problem

[code]
### Which command did you run?

`bundler version`

### What were you expecting to happen?

Print the actual version of `bundler` gem installed.

### What actually happened?

I got an error.

### If not included wi

[2020-12-30 16:46] schneems opened #4218 "`rake release` not working with Bundler 2.2.3"
### Describe the problem as clearly as you can

### Post steps to reproduce the problem

Trying to release a gem fails with Bundler 2.2.3 with Ruby 3.0.0

[code]

Debugging

[code]

Works with Bundler 2.1.4 just fine:

[code]

### Which command did you run?

[code]

### What were you expecting to happen?

To release the gem

### What actually happened?

Error instructing me to run a command for de

[2020-12-30 16:54] deivid-rodriguez commented on #4218
Thanks @schneems for this ticket.

This is my bad, I thought `git branch --get branch.<name>.remote` returned an successful empty status if the branch doesn't have a remote. But it turns out it returns a failure status. Not sure how I missed this since the latter sounds more reasonable...

Anyways, sorry, let me fix it.

[2020-12-30 18:47] deivid-rodriguez commented on #4218
It turned out to be much trickier than I expected but I believe https://github.com/rubygems/rubygems/pull/4219 should fix this.

@schneems Can you confirm that you release from a git branch with the same name as the git tag being pushed?

[2020-12-30 21:12] deivid-rodriguez commented on #4217
Thanks for your report @sanjioh!

I can confirm this although I think this issue is not specific to rubygems 3.2.3 (you can reproduce it with `gem update --system 3.1.5` too). It has existed since https://github.com/rubygems/rubygems/commit/19a4b103b941571fe8fac9717754be285724f4eb, although I have no idea why we did that :man_shrugging:.

Anwyays, I'll be pushing a PR now to fix it.

[2020-12-30 23:02] sanjioh commented on #4217
@deivid-rodriguez thanks for the quick fix, very much appreciated! 🎉

[2020-12-31 08:47] HarriMaatta opened #4222 "Unable to downgrade from 3.0.0 to 2.x.0"
I'm having a problem or would like to suggest a feature.

My current problem is that I can't downgrade gems from 3.0.0 to 2.7.0 or 2.8.0. ATM tool fastlane doesn't work with 3.0.0 so that is why I need to downgrade this. More about fastlane issue https://github.com/fastlane/fastlane/issues/17884

This issue is related to:

  - [ ] Network problems
  - [ ] Installing a library
  - [ ] Publishing a

[2020-12-31 09:35] hsbt commented on #4222
What’s`3.0.0`? Your report seems Ruby ABI version, not RubyGems version.

[2020-12-31 10:14] MichaelOdumosu57 commented on #4203
I put together a youtube video and github resource on how to install puffing billy and deal with the eventmachine [here](https://github.com/codequickie123/custom_vids/tree/master/capybara_and_puffing_billy)

[2020-12-31 11:39] deivid-rodriguez commented on #4222
Yeah, I think you're confusing `ruby` (the programing language) with `rubygems` (its package manager). What you want is to downgrade ruby, not rubygems.

[2020-12-31 13:57] HarriMaatta commented on #4222
Yep. Messed up things. I can close this and say sorry for everyone :)

[2020-12-31 13:57] #4222 closed

[2020-12-31 14:04] deivid-rodriguez commented on #4222
Not a problem, and happy new year!

[2020-12-31 17:15] leimao commented on #3269
We still got similar problems for 3.2.4. @simi

[code]

[2021-01-01 11:56] #4218 closed

[2021-01-01 11:57] #4210 closed

[2021-01-01 11:57] #4217 closed

[2021-01-01 11:58] deivid-rodriguez commented on #4090
I'll close since we received no further feedback, happy to reopen and keep the discussion open if we do though :+1:.

[2021-01-01 11:58] #4090 closed

[2021-01-01 14:10] rgaufman opened #4226 "bundle install --local is trying to run git clone"
### Describe the problem as clearly as you can

[code]

### Post steps to reproduce the problem

Ruby compiled from source:

[code]

Ubuntu 20.04

[code]

Bundler

[code]

### Which command did you run?

[code]

### What were you expecting to happen?

I was expecting it to use the source in ./vendor/cache/private-e45b9xxx1ba8

### What actually happened?

It is trying to do a git clone, but this h

[2021-01-01 14:28] pedrofurtado commented on #4204
Happy new Year for all! 🍻 📅

Let us know, @deivid-rodriguez , when you have any news about it. I will be glad to help with testing 🤝

[2021-01-01 14:59] deivid-rodriguez commented on #4204
I had a look yesterday, but it turns out it's a bit more complicated than I thought. I will post an update soon.

[2021-01-02 01:36] jzhao2004 opened #4227 "multiple default bundler"
Hello All:
i have issue for default bundler

gem list | grep "bundle"

bundler (default: 2.1.4, default: 2.1.2, default: 1.17.3)

Thank you

Joseph

[2021-01-02 03:04] duckinator commented on #3333
@hsbt I transferred duckinator/bundler-viz-wip to you.

(As an aside, I'm going to be mostly-unavailable until around 2021-01-11 &mdash; focusing on finding a new apartment.)

[2021-01-02 03:32] hsbt commented on #3333
Thanks! I also transferred it to https://github.com/rubygems/bundler-viz.

[2021-01-02 17:25] JonRowe opened #4228 "SSL issue with legacy Rubies and 2.7.11"
Hello!

Thank you for your hard work maintaining Rubygems, it is especially appreciated you've taken the time to back port new SSL certs to older versions of Rubygems, e.g. 2.7.11

I'm trying to use this to build some CI for legacy (pre 2.0) Rubies as RSpec still supports these until we release 4.0.0 (and we'd like the sanity check for some of our extension gems and transition work toward that, wh

[2021-01-04 09:27] deivid-rodriguez commented on #4228
Hello! :wave:

Unfortunately I have no idea about what the problem could be here, sorry. Can you stick to that older rubygems that installs bundler fine? :grimacing:

[2021-01-04 09:39] deivid-rodriguez commented on #3333
Thanks, although I don't quite get the plan... :thinking:. That repo has a single folder, I think it should include more stuff like a gemspec, and a `plugins.rb` file. Will you just copy those from https://github.com/duckinator/bundler-viz? Isn't it simpler to transfer https://github.com/duckinator/bundler-viz directly?

[2021-01-04 09:55] deivid-rodriguez commented on #4227
Hi @jzhao2004!

I'm not sure the specific issues this is causing for you, although I agree it's weird.

It sounds like you used the `--default` flag of `gem install` at some point, which messed things up.

We should probably get rid of this flag without deprecation, since it doesn't really work as expected. It only installs a default gemspec in the default gemspecs folder, but it doesn't install a

[2021-01-04 17:08] jmartin-r7 opened #4229 "Git checkout fails when using older versions of git"
Version 2.2.4 release fails git checkout if system has an older version of `git`.   This looks to have been introduced by #4196.

[code]

### Post steps to reproduce the problem

install a git version prior to `1.8.5`

In this case:
`git version 1.7.10.4`

setup a project with following spec and gemfile
foo.gemspec:
[code]

Gemfile:
[code]

Attempt to `bundle install`

### Which command did you ru

[2021-01-04 18:02] deivid-rodriguez commented on #4229
Hi! Yeah, sorry.

I honestly thought this flag was added to git ages ago and nobody would notice this. More than 7 years is a long time, but not as long as I thought.

I guess I'll restore the previous way for old gits, and schedule dropping support for ancient gits for the next major.

[2021-01-04 18:04] simi commented on #4229
@jmartin-r7 what is the reason for you to use that old git?

[2021-01-04 18:37] jmartin-r7 commented on #4229
@deivid-rodriguez, that sounds good, the primary concern is related to this creating a breaking change on a `patch` version.

@simi, this was identified due to usage of purposely older docker containers to compile some gems against an older version of glibc. Updating the `git` version on the container is possible and will likely be implemented.

The primary issue is a `patch` version changing the

[2021-01-04 23:50] joshbranham commented on #4193
We are running into this issue I believe with Artifactory self hosted, any interim solutions?

[code]

[2021-01-05 03:17] hsbt commented on #4229
I'm not sure RubyGems/Bundler have a responsibility to support the old platform. In my understanding, We don't have a supported version of `git` and OS platform like CentOS, Ubuntu.

So, It's out of scope for SemVer policy.

[2021-01-05 04:26] marcandre opened #4230 "Template for github actions recommendations"
1)
[code]

Should be using a matrix, even if you only want a single version, as it makes it easier to add versions.
Morevover, I feel that just the current stable ruby version is not the best default. My recommendation would be current and two preceding, but I leave that up to the maintainers.
More importantly, I believe that `ruby-head` should be there by default. This encourages people to report

[2021-01-05 05:06] marcandre opened #4231 "`bundle gem` and Gemfile template"
It's not clear to me why provide versions in the Gemfile, pessimistic at that. I always remove them entirely.

If the maintainers won't consider removing them, please use a recent version for `RuboCop`.  Bundler 2.2.4 uses `~0.80`. Current major version is `1` and should be used. FYI, version 0.80.0 was released almost a year ago and is 35 versions behind current stable...

[2021-01-05 07:07] tonobo commented on #4193
@joshbranham I think this has been fixed by merging https://github.com/rubygems/rubygems/pull/4213

[2021-01-05 08:40] evgeni commented on #4229
FWIW, this also happens on CentOS 7 which has git-1.8.3.1.

[2021-01-05 09:17] deivid-rodriguez commented on #4193
Yes, the fix was released with rubygems 3.2.4.

[2021-01-05 12:12] deivid-rodriguez commented on #4193
Closing this as per https://github.com/rubygems/rubygems/issues/4193#issuecomment-751620354.

[2021-01-05 12:12] #4193 closed

[2021-01-05 12:59] deivid-rodriguez commented on #4229
@jmartin-r7 I fixed this because it was easy and because I really thought this flag was introduced much longer ago.

However I agree with @hsbt that we have no responsibility in supporting 7 year old versions of git. The fact that bundler worked when used with very old dependent software doesn't mean it's supported. We had no tests whatsoever testing old git versions and we have never claimed that

[2021-01-05 13:37] flavorjones opened #4234 "MacOS system ruby (universal.x86_64-darwin19) chooses to install arm64-darwin native gem"
:wave: I'm a maintainer of Nokogiri, and we recently started shipping native gems for darwin:

- https://rubygems.org/gems/nokogiri/versions/1.11.0-x86_64-darwin
- https://rubygems.org/gems/nokogiri/versions/1.11.0-arm64-darwin

We received a bug report yesterday (https://github.com/sparklemotion/nokogiri/issues/2165) from @rgoldberg that I'm not sure how to address, and I'm hoping someone from th

[2021-01-05 13:50] rgoldberg commented on #4234
I was the reporter of sparklemotion/nokogiri#2165.

I'm running Big Sur 11.1 on an Intel Mac Mini 2014, which seems to be Darwin 20.2.0.

So the issue affects both Catalina & Big Sur.

[2021-01-05 14:01] joshbranham commented on #4193
Alright thank you. Bit confusing when 3.2.3 is installed (I presume coming from/with `ruby-build`) and we need to drop our artifactory source from `~/.gemrc` to get `gem update --system` to succeed and install 3.2.4

[code]

[2021-01-05 14:52] #4229 closed

[2021-01-05 14:58] simi commented on #4229
On the other side I have seen more projects to support CentOS 7 (even legacy) library versions since it is widely used system in production conservative environments.

for example https://github.com/brianmario/mysql2/blob/e2503dc6e8ad02f8c2f4fc71006f9840694e319c/.travis.yml#L80-L84

_:pray: for Bundler 3 and faster release, deprecation cycles._

[2021-01-05 17:51] deivid-rodriguez commented on #4234
@flavorjones Something I don't understand is that I believe your local platform should be reported as `universal.x86_64-darwin-19`, not as `universal-darwin-19`. And samething for @rgoldberg. Not sure why it's not reported like that... :grimacing:.

What's the result of `Gem::Platform.local` and `RbConfig::CONFIG["arch"]`?

[2021-01-05 18:21] flavorjones commented on #4234
Here's what it is on my system:

[code]

[2021-01-05 18:44] deivid-rodriguez commented on #4234
Well that explains things, since `rubygems` uses information from `RbConfig::CONFIG["arch"]` to setup its local platform, and there's nothing about intel vs arm in there. I guess we should use `RUBY_PLATFORM` instead?

[2021-01-05 19:09] flavorjones commented on #4234
¯\\\_(ツ)\_/¯  I'm not sure what the right thing to do is. I can say that `RUBY_PLATFORM` does seem like a better choice in this particular instance:

[code]

and that this value matches the value of `RbConfig::CONFIG['arch']` in all my other ruby installations across Linux and Darwin.

[2021-01-05 19:12] flavorjones commented on #4234
Although, if we used `RUBY_PLATFORM` then neither of the native gems would match for this ruby (and maybe that's OK):

[code]

[2021-01-05 19:23] deivid-rodriguez commented on #4234
In principle I would say `universal.x86_64-darwin19` should match `x86_64-darwin` and not match `arm64-darwin`, so we should fix platform matching for this case too. But I'm not fully sure.

@nobu Can you help us?

[2021-01-05 23:09] hsbt commented on #4234
System Ruby of Apple applied the custom patch, and the ruby core team couldn't handle it.

[2021-01-06 00:29] deivid-rodriguez commented on #4234
Thanks @indirect, that's helpful.

So that means we don't want https://github.com/rubygems/rubygems/pull/4238/commits/27d34081f5f30a5e25dda48b9c532caa16a02ae4, since it's incorrect, but instead what @flavorjones demostraded in https://github.com/rubygems/rubygems/issues/4234#issuecomment-754840599 is the correct behaviour where we will fallback to the standard ruby variant since nothing else will

[2021-01-06 00:46] indirect commented on #4234
I believe that's correct—my understanding is that Apple's term "universal" means that the fat binary contains both an x86 and an ARM compiled binary, and can run natively on either architecture. That said, it might be up to every individual gem to adjust their extconf compilation steps to support universal builds vs just building a binary for only the arch that is running the `gem install` 😬

[2021-01-06 00:49] indirect commented on #4234
(and I just realized that this is probably even more complicated than what I just said here... I think compiled gem extensions that link against other installed .sos would also need those other .so files to also be universal, but Homebrew (for example) does not provide universal builds of things like mysql. So maybe universal gems is not possible in a practical way. :/

Does that mean RubyGems sho

[2021-01-06 00:51] rgoldberg commented on #4234
Is `universal.x86_64-darwin` output when the file is universal but the current CPU is x86_64?

If so, I assume the problem is that the same Ruby distribution could be shared between multiple computers (or used as an install template for both x86 & arm machines), so the same universal file (or a copy thereof) could also be run by a arm64 CPU, which would presumably output `universal.arm64-Darwin`.

[2021-01-06 00:52] hsbt commented on #4234
`universal` means the different feature in M1 chip. In M1 environment, `universal` will pick `x86_64` arch with Rosetta2 or `arch -x86_64` command. But It will pick `arm64` in natively.

I'm not sure what the correct arch in M1 chip yet. So, We need to investigate it.

[2021-01-06 01:43] indirect commented on #4234
No. As far as I know, is output when the file is universal and the current CPU is not considered—it could be x86, it could be ARM, and it could be ARM transpiling the current binary to from x86 via Rosetta.

Further complicating things, Apple Silicon machines like the M1 can run _both_ the x86 and ARM binaries, at any point. Universal gems would need to also contain both x86 and ARM binaries to wo

[2021-01-06 03:02] rgoldberg commented on #4234
Why would Apple output `universal.x86_64` when the current CPU isn't considered? Why wouldn't they just output `universal` when they don't know the architecture?

I can't think of any reasonable reason for them to do that. I'm not saying they don't do that, but if anyone knows a good reason why they'd do that (other than Apple having terrible software policies), please let me know so I can learn t

[2021-01-06 03:06] rgoldberg commented on #4234
I don't know how `gem` interacts with gems, but is there any way you could force gems to provide 100% universal binaries for Big Sur & later?

Maybe at first just warn if any non-universal files are created. Then later output an error that can be overridden with an option. Then later output a non-overrideable error.

Why would someone not provide universal binaries, other than laziness or dependen

[2021-01-06 03:12] rgoldberg commented on #4234
I guess there are a few issues here:

1. Whether to allow non-universal binaries for Big Sur & later

If no:

2. How to enforce universal-only binaries

If yes:

2. How to automatically select the correct architecture if non-universal are allowed

3. Whether (& how) to allow allow manual override of architecture selection (x86_64, arm64, or universal)

[2021-01-06 03:44] hsbt commented on #4234
Because Apple didn't disclose its build instructions for RubyGems.

[2021-01-06 04:42] sonalkr132 opened #4240 "bundle install does not complete"
### Describe the problem as clearly as you can

bundle install gets stuck on `Resolving dependencies.....` step.

### Post steps to reproduce the problem

* ruby: 2.5.8p224
* gem: 3.2.4
* bundler: 2.2.4

<details><summary>Gemfile</summary>

[code]
</details>

### Which command did you run?

`DEBUG_RESOLVER=1 bundle install --verbose --without system_tests`

### What were you expecting to happen?

[2021-01-06 13:41] WillRadi commented on #4204
@deivid-rodriguez :
Is there any news? :)

Thanks, man! Happy new year!

[2021-01-06 13:52] deivid-rodriguez commented on #4204
No, sorry! I couldn't look again yet.

To explain the problem, now rubygems keeps tracks of a list of enabled rubygems plugins in a `plugins` folder inside the ruby installation layout. Only the plugin for the latest version of each gem installed is kept there, so if I have foo-1.0 and foo-1.1, the plugin for foo 1.1 is kept there but if I uninstall foo-1.1, then the plugin for the remaining foo-1

[2021-01-06 14:06] AmalIdriss opened #4244 "The issue"
### Describe the problem as clearly as you can

### Post steps to reproduce the problem

### Which command did you run?

### What were you expecting to happen?

### What actually happened?

### If not included with the output of your command, run `bundle env` and paste the output below

[2021-01-06 14:09] #4244 closed

[2021-01-06 14:38] deivid-rodriguez commented on #4229
@simi Are you suggesting that we add a deprecation warning for old git?

[2021-01-06 14:41] deivid-rodriguez commented on #4240
Thanks for redirecting this to us @sonalkr132, it should get fixed by #4243.

[2021-01-06 14:44] simi commented on #4229
IMHO think it is not needed for now. Supporting CentOS 7 is nice to have without deprecations.

[2021-01-06 22:27] sophieyfang opened #4249 "bundler v2.2.4 failed on installing on centos 6 and 7"
## Platform: centos6 and centos7

## Command that has the trouble

Run ` bundle install --binstubs`

Error msg:

[code]

[2021-01-06 23:23] hsbt commented on #4249
Duplicated with https://github.com/rubygems/rubygems/issues/4229

[2021-01-06 23:23] #4249 closed

[2021-01-07 00:34] mullermp opened #4251 "Discussion: Namespaced Gems?"
I wanted to open a discussion about supporting gem namespaces. Between this repo and the RubyGems.org repo, I wasn't sure where to start this discussion. If this was opened in the wrong place, I apologize, and feel free to close it.

Regarding the issue, though: currently, anyone can go and claim any gem they want, and it is difficult for organizations with a large number of gems (such as rails, a

[2021-01-07 05:55] wintersolutions commented on #4204
@deivid-rodriguez I'm trying to get this fixed on the `rvm` side https://github.com/rvm/rvm/pull/5027 now. Thanks for the input! I'll keep you updated.

[2021-01-07 10:15] simi commented on #4251
Great to bring this in here, I was thinking about this for really long time. The best place would be to prepare rfc in nhttps://github.com/rubygems/rfcs. Feel free to kick of, I'll join you with my ideas (and usecases which could be solved by this).

[2021-01-07 10:27] Dan33l commented on #4240
thank you so much @sonalkr132 you made my day happier !
I was able to downgrade `bundler` to 2.1.4 and now it works.

And also thank you to author of this blog post :
https://dev.to/st0012/completely-remove-the-default-bundler-from-ci-environment-j0c

[2021-01-07 10:33] #4009 closed

[2021-01-07 11:52] #4240 closed

[2021-01-07 12:56] owst opened #4253 "Change/bug in behaviour of `find_all_by_name` in 3.2.0?"
When using a Gemfile that doesn't list a particular gem (that _is_ however already installed on the system), with 3.1.4, `Gem::Specification.find_all_by_name(gem_name)` is empty, however, with 3.2.0, the installed version(s) are returned. With both versions, `Gem::Specification.all_names` does _not_ list the gem.

When using bundler/a Gemfile, should the results of various methods on `Gem::Specifi

[2021-01-07 13:23] #4231 closed

[2021-01-07 14:09] agrobbin opened #4254 "Bundle caching running multiple times"
### Describe the problem as clearly as you can

When running `bundle cache`, it appears the cache is actually being updated multiple times, resulting in much slower performance when dealing with particularly large bundles.

### Post steps to reproduce the problem

Consider the `Gemfile` included in the `bundle env` output below ...

The first time `bundle cache` is run, this is the output:

[code]

[2021-01-07 14:12] deivid-rodriguez commented on #4254
Thanks @agrobbin, I'll have a look!

[2021-01-07 15:26] #3860 closed

[2021-01-07 15:26] rocketraman commented on #3204
Just ran into this with Ruby 2.7.0 and Puma 5.0.0. I've read through the above but not being a Ruby guy, I don't really understand what the correct workaround is. Can anyone ELI5?

[2021-01-07 15:51] rocketraman commented on #3204
Solved it by updating my Gemfile to Puma 5.1.1.

[2021-01-07 19:07] mullermp commented on #4251
Thanks @simi for jumping in on this. I'll certainly kick start that process shortly. I don't have any formal experience writing RFC but I'll fill it in with some starter information and it can grow over time with some prototyping. I'm mainly unfamiliar with what packages will need to be touched - do you know the scope/breadth of this feature and could point to me what libraries you think would nee

[2021-01-07 19:18] simi commented on #4251
@mullermp just follow the readme (https://github.com/rubygems/rfcs#rubygems--bundler-rfcs). Feel free to describe it from higher level to start, I can help you pointing to the code once needed. Also feel free to skip parts not clear for now.

Good start would be to:
1. Take a look at naming rules to prepare concept not breaking current naming (I'm not sure if / is allowed to be in gem name, but if

[2021-01-07 21:54] deivid-rodriguez opened #4258 "Flaky test failure"
### Describe the problem as clearly as you can

We have this recurring [flaky failure](https://github.com/rubygems/rubygems/pull/4257/checks?check_run_id=1665069101):

[code]

It seems some race condition during `bundle install`.

### Post steps to reproduce the problem

No steps, it's flaky!

### Which command did you run?

CI.

### What were you expecting to happen?

Green.

### What actually ha

[2021-01-07 22:49] JonRowe commented on #4228
Ok so I've been able to update the newer (but still EOL I know) Rubies to use the latest version, which makes me suspect this is an open ssl issue. (As manually downloading gems works fine, so the docker images their self must be able to validate Rubygems certs).

However I cannot disable SSL verification via the `gemrc` trick, nor does bundler config seem to respect the flag, which may be related

[2021-01-07 22:50] JonRowe commented on #4228
Strangely JRuby 1.7 works fine, but if I run it in 1.8 mode that breaks, which makes me feel very much like its emulating something, if the TLS version was the issue would the script highlight that?

[2021-01-08 03:21] grosser commented on #2907
plz reopen, still happening `gem update --silent --system 3.2.4`

[2021-01-08 09:18] ANUSKAPANT opened #4259 "gem install pg"

[2021-01-08 09:18] #4259 closed

[2021-01-08 10:55] deivid-rodriguez commented on #2907
Yeah, I think the setup command is still not respecting `--silent`.

[2021-01-08 13:25] darix opened #4261 "new plugins support broken when using buildroot"
using the following install commandline

[code]

leads to

[code]

The generated file should not contain the buildroot.

[code]

I will abide by the [code of conduct](https://github.com/rubygems/rubygems/blob/master/CODE_OF_CONDUCT.md).

[2021-01-08 14:34] deivid-rodriguez commented on #4253
Hello, thanks for the report.

This was broken by https://github.com/rubygems/rubygems/pull/2711. That PR made sense to me but only brought the benefit on "more correct code", but it turns out it broke things. I'll try to refactor further to unbreak your case, or just revert the offending PR if I can't figure it out.

[2021-01-08 15:00] deivid-rodriguez commented on #4253
Yeah, giving it some more thought, that PR was just incorrect.

We only want to lazily load stubs from the standard rubygems locations if we don't yet have a fully loaded "gem set". Once the full world of gems is setup, either by reading available gemspecs from the standard system locations, or [by bundler setting them directly](https://github.com/rubygems/rubygems/blob/275d5a386b11005a4c1eb04e945

[2021-01-08 15:26] owst commented on #4253
Thanks for the quick response @deivid-rodriguez 👍

[2021-01-08 17:21] deivid-rodriguez commented on #4253
https://github.com/rubygems/rubygems/pull/4262/ should fix this!

[2021-01-08 17:26] deivid-rodriguez commented on #4261
Thanks for the report @darix, PR appreciated!

[2021-01-08 18:08] darix commented on #4261
in a related note ... for other directories `Gem::Specification` had methods to query the paths like extensions dir. there is no such thing for plugins_dir.  was that intentional or an oversight?

what happens if you install multiple versions of the same gem. which version will be required in the generated file? this might affect how we have to handle the files in packaging for distros.

[2021-01-08 19:42] duckinator commented on #2907
My understanding is you have to be upgrading _from_ a version with the fix from #3789 in order for it to work.

It looks like the fix landed in 3.2.0, so if the version you're updating from is older than 3.2.0, it won't work.

@grosser do you know what RubyGems version you were updating from?

[2021-01-08 23:41] pedrofurtado commented on #4204
@deivid-rodriguez Feedback: The hotfix provided by @wintersolutions is available inside rvm codebase (https://github.com/rvm/rvm/pull/5027 merged ✅ ). Thanks a lot, @deivid-rodriguez , of your help in debugging with us.

Now, we just have to wait an official release of rvm to upgrade to ruby 3 in our systems here 🎉 🍻

[2021-01-08 23:41] #4204 closed

[2021-01-09 00:57] wintersolutions commented on #4204
@deivid-rodriguez yep its merged...

Thanks to everybody involved!

[2021-01-09 14:52] enkessler opened #4263 "Respect Ruby Version when determining dependencies"
### Describe the problem as clearly as you can
Bundler does not take into account the version of Ruby that is running it when it resolves dependencies, often resulting in it selecting dependencies that are not compatible with the running version of Ruby.

My problem is essentially this very old issue: https://github.com/rubygems/bundler/issues/2721

Since it has been over half a decade, is this fu

[2021-01-10 18:19] svoop opened #4264 "Feature: `bundle install --bundler` to install version required by Gemfile.lock/gems.locked"
Dockerizing my pet project apps on top of Ruby images, I'm often seeing this while building images:

This mostly is no big deal, at least if the Ruby image is based on the same Ruby version as where the gems.locked/Gemfile.lock was created. However, it would be nice to install the correct version of Bundler before the actual bundle.

Currently, the Bundler version has to be extracted from gems.loc

[2021-01-10 18:22] jauharvp commented on #3068
worked on kali

[2021-01-10 19:26] rubyFeedback commented on #4251
I remember having expressed a similar idea years ago.

I am not sure it should be called "namespace"; perhaps ownership or something would be better.

But let's ignore the name for the moment.

I think a reason why this would be nice to have, would be so that we can more easily
install gems even when a name is "owned" by someone else.

An example is the "configuration" gem. I have such a gem too.

[2021-01-11 00:01] grosser commented on #2907
Did this and works as expected ... can close I guess since this will then solve itself in a few months time :)
[code]

[2021-01-11 01:50] duckinator commented on #2907
Sounds good! :+1:

[2021-01-11 01:50] #2907 closed

[2021-01-11 02:12] isikyus commented on #4228
I believe I'm seeing the same issue as @JonRowe .
Output from https://github.com/rubygems/ruby-ssl-check/blob/master/check.rb :

[code]

The source of that script in turn recommends https://github.com/mislav/ssl-tools/blob/8b3dec4/doctor.rb, which tells me this:

[code]

It looks like `/home/linuxbrew/.linuxbrew/etc/openssl/certs/` doesn't exist at all on my machine — I suspect I may have messed u

[2021-01-11 04:38] isikyus commented on #4228
I've traced the request in Wireshark and it looks like the hostname actually is wrong.
RubyGems isn't sending the SNI extension, so Fastly isn't returning the correct rubygems.org certificate.

By contrast, CURL (which works) is sending a `server_name` extension in the client handshake.

[2021-01-11 04:43] isikyus commented on #4228
It appears the issue is actually in `net/https`, not rubygems. The `doctor.rb` script doesn't use RubyGems, and it reproduces the failure in the old Ruby I'm using, but not in 2.6.3.

Both Rubies are built against the same OpenSSL:

[code]

[code]

[2021-01-11 04:52] MSP-Greg commented on #4228
Ruby's SSL uses either the cert file shown in:
[code]
or it will load individual files from:
[code]

I don't know if there's any easy way to update either.  Windows Ruby builds have one bundled with them, but they're 7zip (`.7z`) files...

[2021-01-11 06:34] crunh opened #4265 "在进行bundle install时出现以下错误"
Unfortunately, an unexpected error occurred, and Bundler cannot continue.

First, try this link to see if there are any existing issue reports for this error:
https://github.com/rubygems/rubygems/search?q=undefined+method+%60size%27+for+nil+NilClass&type=Issues

If there aren't any reports for this error yet, please create copy and paste the report template above into a new issue. Don't forget to

[2021-01-11 07:24] peter-parkerr opened #4266 "Project ERROR: No QtWebKit installation found. QtWebKit is no longer included with Qt 5.6, so you may need to install it separately."
### Describe the problem as clearly as you can

Hi I'm facing an error when I run this command. **bundle install**
Can you please help me to resolve this.

### Post steps to reproduce the problem

### Which command did you run?

bundle install

### What were you expecting to happen?

installed bundle package successfully.

### What actually happened?

Project ERROR: No QtWebKit installation found.

[2021-01-11 07:56] deivid-rodriguez commented on #4265
Hi @crunh.

We need better information in order to be able to provide any help. Please reopen a separate issue properly filling up the questions our bug report template.

Thanks!

[2021-01-11 07:56] #4265 closed

[2021-01-11 07:59] deivid-rodriguez commented on #4266
Hi!

This sounds like an issue with installing the `capybara-webkit` dependency. You most likely need to install some OS package in order to use it. I recommend you google the error message for solutions,or look in the [`capybara-webkit` project](https://github.com/thoughtbot/capybara-webkit). Development has been suspended but you might find some help in the issue tracker.

Closing since this is

[2021-01-11 07:59] #4266 closed

[2021-01-11 08:03] deivid-rodriguez commented on #4264
Hello @svoop! Thanks for the suggestion.

In few words, that's how I think `bundle install` should work by default, I don't think we even need a special flag.

I plan to get this and other related issues sorted out for the next minor bundler release. For the moment we have this WIP PR: https://github.com/rubygems/rubygems/pull/4076.

[2021-01-11 08:16] deivid-rodriguez commented on #4263
Hello @enkessler, thanks for the report.

I can confirm to you that this feature was added to bundler a long time ago and that the first statement in your issue is false in general. Since you explicitly stated that this isn't a bug report, I'll close this.

Please report a separate ticket with whatever problems you're having. Make sure you include a way to reproduce the issue, and if you can't, at

[2021-01-11 08:16] #4263 closed

[2021-01-11 08:22] deivid-rodriguez commented on #4261
I'm not sure I understand your question. What do you need exactly? I assume `Gem.plugindir` is not enough?

Only the latest version of each gem with plugins will be kept there.

[2021-01-11 08:27] deivid-rodriguez commented on #4228
Nice investigation @isikyus! I love how you redacted your EOL'd ruby version :rofl:.

Maybe you could try updating `net/http`. This library [is gemified](https://github.com/ruby/net-http) and it doesn't support your ruby version, but I'm not sure if it was bumped due to a real incompatibility or just for maintenance convinience :man_shrugging:.

[2021-01-11 08:28] deivid-rodriguez commented on #2907
Nice, thanks for the clarification @duckinator!

[2021-01-11 08:34] deivid-rodriguez commented on #4197
Closing due to lack of feedback.

[2021-01-11 08:34] #4197 closed

[2021-01-11 09:02] deivid-rodriguez commented on #4186
I proposed an update to the blog post that's causing this constant flow of upcoming bug reports: https://github.com/rubygems/bundler-site/pull/547.

I also plan to make a proposal to deprecate `operating_system.rb` in favor of coordinating with OS-packagers to provide everything they need through configuration so that they don't need to add any ruby code on top of rubygems.

For the rest I'll clos

[2021-01-11 09:02] #4186 closed

[2021-01-11 09:06] deivid-rodriguez commented on #4204
Thanks so much @wintersolutions and @pedrofurtado for stepping in to help here. I'll try to make the next release smoother for `RVM` users.

[2021-01-11 09:15] #4253 closed

[2021-01-11 11:56] deivid-rodriguez commented on #4258
It happened again: https://github.com/rubygems/rubygems/runs/1680778781.

I have a theory, I'll research on it later today.

[2021-01-11 14:19] deivid-rodriguez commented on #4228
I found this link that might help you track this down: https://github.com/drbrain/net-http-persistent/issues/62. From there you can get to the ruby-core issue and the patch that got eventually merged to `net/http`.

[2021-01-11 16:49] schneems opened #4269 "Bundler 2.2.3 generated Gemfile.lock on a mac cannot be used on linux out of the box"
### Describe the problem as clearly as you can

Here's an example repo: https://github.com/schneems/bundler_223_fails_deploy. It has one dependency `rake` and the Gemfile.lock was generated by running `bundle install` on my mac. When I try to use this Gemfile/Gemfile.lock combo it fails:

[code]

Then

[code]

### What were you expecting to happen?

I expect that a Gemfile.lock produced on mac can

[2021-01-11 16:59] deivid-rodriguez commented on #4269
Yes, this is correct.

Sorry, I've been going back and forth here trying to get a correct (and as fast as previously) resolution, while keeping this thing usable, but yeah right now if you want to develop under a platform and deploy to a different one, you'd need to run `bundle lock --add-platform x86_64-linux` and commit the resulting lockfile.

I could try restoring the RUBY platform as a fallba

[2021-01-11 17:28] schneems commented on #4269
Thanks for the ultra fast response!

## Workaround

I think in the short term I'm going to try to upgrade Heroku customers to Bundler 2.2.3 which provides a warning for this out of the box.

[code]

Then customers will be unblocked in the short term (provided I don't have to rollback due to a yet-to-be-found regression).

## Future musings

As a feature of bundler, I want to be able to either have

[2021-01-11 17:45] deivid-rodriguez commented on #4269
Right, I think I can probably restore the old behaviour as a last resort without losing any of the good stuff of locking the specific platform in the lockfile. I'll work on it tomorrow and keep you posted.

[2021-01-11 19:58] schneems commented on #4269
Thanks! We have code on the Heroku buildpack that deletes the Gemfile.lock if we see it's locked to the windows platform. It would be exciting to get rid of that functionality and get deterministic deploys for devs using windows. I appreciate you working on this area.

[2021-01-12 10:34] deivid-rodriguez commented on #4269
Hi @schneems!

So, I've been sleeping on this issue, and I think what we have now is quite good to be honest. Let me try to explain why we did this, and why I believe it's a good thing.

### Context

In previous bundler versions, bundler didn't consider platforms for resolution at all. What bundler would previously do is to resolve dependencies without considering platforms, and then at installati

[2021-01-12 11:06] haines opened #4275 "Bundler 2.2.3 introduced a significant performance regression for our bundle, not fixed in 2.2.5"
### Describe the problem as clearly as you can

Our `bundle install` (113 Gemfile dependencies, 253 gems) is very slow on recent versions of Bundler.

| Bundler version | Install time |
|---|---|
| 2.1.4 | 0.69s |
| 2.2.0 | 1.08s |
| 2.2.1 | 1.15s |
| 2.2.2 | 1.05s |
| 2.2.3 | 33.61s |
| 2.2.4 | 32.88s |
| 2.2.5 | 32.07s |

### Post steps to reproduce the problem

I don't want to disclose our full

[2021-01-12 11:06] isikyus commented on #4228
I may try that later on, thanks @deivid-rodriguez ; for the moment I've got it working through a proxy.
In the long run the plan is to use a current Ruby and avoid the issue entirely :smile:

[2021-01-12 11:10] deivid-rodriguez commented on #4275
Thanks for the report @haines, could you add me to your private repo I guess?

[2021-01-12 12:00] haines commented on #4275
Done! Thanks for looking into it @deivid-rodriguez ❤️

[2021-01-12 12:35] erlisdhima commented on #3269
I got the same error on Ubuntu 20.04.

What is happening is rubygems tries to update itself to the latest version, i.e. 3.2.4,  and it runs into the condition  on `/usr/lib/ruby/vendor_ruby/rubygems/defaults/operating_system.rb:49`
[code]

To be able to get past this issue, you need to update ruby to a later version which has removed support for `rubyforge_project` (which is currently deprecated).

[2021-01-12 13:23] deivid-rodriguez commented on #4187
Closing due to lack of feedback.

[2021-01-12 13:23] #4187 closed

[2021-01-12 17:10] simi commented on #3269
If I understand it well, it is the same problem again and again.

If you use system Ruby (installed by `apt`), don't update rubygems directly by `gem update --system`. You should rely on updated done by `apt`.

If you would like to handle your Ruby installation (including RubyGems) manually, please install Ruby in some alternative way (ruby-install, rvm, ...) and than `gem update --system` should

[2021-01-12 17:13] deivid-rodriguez commented on #3269
Yeah... I recently had the idea of deprecating `operating_system.rb` if we can coordinate with OS packagers providing everything they need through configuration. Not sure how feasible it is though.

[2021-01-12 17:32] deivid-rodriguez commented on #4275
@haines I still haven't figured out the regression, but I discovered that the regression is not in the resolution phase but in the materialization phase, and I resurrected some improvements I had done some time ago in that area in #4277.

Since I'm getting quite different timings from the ones in your chart, would you be able to verify the actual impact of the changes in your case? I expect a 4x i

[2021-01-12 18:09] haines commented on #4275
Yep, even better in fact - I tested with c858dfc7adc9b49299383e645620b5243f4e62d0 and the time dropped to ~2.5 seconds!

[2021-01-12 18:22] deivid-rodriguez commented on #4275
That's great! I'm currently working on another potential speedup on the same area that should cut another 50%, evaluating feasibility right now. Then I'll get to the actual regression :laughing:.

[2021-01-12 18:53] ayanko commented on #4098
Is it planned to be fixed?

It's pretty painful to revert manually changes each time.
Especially when you have big rails project that use a lot rails engines....

[2021-01-12 19:13] deivid-rodriguez commented on #4098
Yes. When? :man_shrugging: I'm currently stuck with other things.

@mtsmfm just pinging you so that you are aware, maybe it's an easy one for you since you fixed the previous issue. If you're just not interested or don't have the time, please ignore me and sorry for the ping :pray:.

[2021-01-12 21:06] deivid-rodriguez commented on #4275
Ok @haines, I figured out the regression. Could you try the latest commit in #4277 now? I've still pending the extra 50% improvement that I was evaluating but it's tricky. Let's see how this works for you.

[2021-01-12 21:09] JonRowe commented on #4228
Is there a proxy or similar we can use that doesn't use SNI certificates?

[2021-01-12 21:15] deivid-rodriguez commented on #4228
I have no idea, honestly, but if I had to guess I'd say no. Maybe @sonalkr132 has more insights.

[2021-01-12 22:26] schneems commented on #4269
I think that's reasonable to keep this in there. As you mentioned it's more specific and safer. I am interested though in polishing the "out of the box" experience.

I'm thinking to how bundler was added to Ruby by default so the annoyance of hitting the `no such command "bundle"` doesn't get hit. It's a relatively small improvement as it only needs to be installed once per ruby version, but the "

[2021-01-12 23:15] loox opened #4278 "Bundler unexpected error while using Bundler under macOS Big Sur to generate my Octopress-made blog"
# Error Report

## Questions

Please fill out answers to these questions, it'll help us figure out
why things are going wrong.

- **What did you do?**

  I ran the command `/usr/bin/bundle exec rake generate`

- **What did you expect to happen?**

  I expected Bundler to generate my Octopress-made blog in macOS 11.1 (Big Sur)

- **What happened instead?**

  Instead, what happened was an *unexpect

[2021-01-13 00:54] mtsmfm commented on #4098
I'll have a look at it

[2021-01-13 07:56] voxik commented on #3269
Although I am skeptical, do you have any ticket tracking this?

[2021-01-13 08:51] haines commented on #4275
Yup, with 9c12e5f8c4da1089ecdf4b9ea8bbce9385c053c9 we're back down to 0.68s, the same as 2.1.4 🎉

[2021-01-13 09:15] deivid-rodriguez commented on #3269
Nope, it's just an idea that I had a few days ago, I'm skeptical too :laughing:.

[2021-01-13 12:08] deivid-rodriguez commented on #4275
That's awesome @haines! I'll split the regression fix and the extra speed up into separate PR and try to add some specs :+1:.

[2021-01-13 15:25] terceiro commented on #3269
@simi yes, I have the required change staged and should upload it to the repository Soon™.

[2021-01-13 15:29] simi commented on #3269
@terceiro cool, one of the ideas behind `operating_system.rb` was to rescue exceptions happening in there and provide friendly info to the client what's the problem instead of the stacktrace and possibly point to system issue tracker for example to report the issue. Maybe we can also add option to bypass load of `operating_system.rb` at all. :thinking:

[2021-01-13 17:11] schneems commented on #4269
Also some feedback from a customer who develops on Linux already.

I asked if this fixed their issue:

[code]

They responded:

[code]

[code]

[2021-01-13 17:21] deivid-rodriguez commented on #4269
@schneems I'll respond to your comments as soon as I can, but if you can report that issue separately in the mean time, I appreciate it.

[2021-01-13 17:23] schneems commented on #4269
Can do. Thanks!

[2021-01-13 17:55] sknilose opened #4279 "ERROR: SSL verification error at depth 2: unable to get local issuer certificate (20)"
I'm having a problem or would like to suggest a feature.

I was getting ```ERROR:  SSL verification error at depth 2: unable to get local issuer certificate (20)``` while installing rails. Tried instructions provided here but didn't help:
https://bundler.io/v1.16/guides/rubygems_tls_ssl_troubleshooting_guide.html#what-are-these-certificates

**Later I came to know that some security systems (like

[2021-01-13 19:42] schneems opened #4280 "Bundler 2.2.5 does not include `ruby` as a platform by default in the Gemfile.lock"
Moving the issue mentioned in this comment to it's own issue with a docker reproduction https://github.com/rubygems/rubygems/issues/4269#issuecomment-759597060

## Repro

[code]

This generates a diff:

[code]

Now if you try to install that Gemfile.lock on a Linux machine:

[code]

It will fail when you try to use rake:

[code]

This can be fixed by running

[code]

[2021-01-13 22:05] marlinpierce opened #4281 "Bundler 2.1.4 cannot find system gems"
### Problem Description

The gems `sassc` and `rmagick` are installed locally as system gems, via FreeBSD packages.
Running `bundle` there is an error that it cannot find these gems.
Setting `bundle config local.sassc` worked for `sassc` but it did not work to set `bundle config local.rmagick`.

This worked when we uninstalled bundler `2.1.4` and installed bundler `2.0.2`.
This has been working fi

[2021-01-14 10:00] casperisfine opened #4282 "Bundler 2.2.5 still doesn't fallback to source gem when platform specific gem is unusable"
Ref: https://github.com/rubygems/bundler/pull/7522

From what I understood, bundler 2.2.x was supposed to fallback to compiling gems if the precompiled binaries can't be used.

But from what I experienced it still doesn't work:

Using bundler 2.2.5
[code]

[2021-01-14 10:10] deivid-rodriguez commented on #4282
Yes, definitely. This should work.

I suspect bundler resolution is sometimes falling back to the old gem dependency API which didn't have `required_ruby_version` information so even if the resolver is now correct, it's lacking some information.

I don't know why this is happening, but we have received two reports about this in the last 2 days, hence my suspicion. It could be a server side issue t

[2021-01-14 10:15] casperisfine commented on #4282
Our gemfile is huge and contains lots of private gems. I'll try to better reproduce in isolation and provide logs.

Yes. I'm trying to pinpoint it exactly, but it isn't quite trivial. I'll try to come back with a repro script.

[2021-01-14 10:24] casperisfine commented on #4282
Ok, I think I figured it out:

[code]

Ruby 2.7.2: `bundle install`, generates the following `Gemfile.lock`

[code]

Then `chruby 3.0.0`:
[code]

[code]

So the problem seem to be that our `Gemfile.lock` was generated with Ruby 2.7, so it recorded the precompiled gem as usable. Then when we switch to 3.0 (because we aren't fully migrated yet) it tries to use the same version.

I'll see if I can fi

[2021-01-14 10:27] deivid-rodriguez commented on #4282
Oh, I see... But, how can we solve that?

In this case two different ruby versions have two different resolutions. I think if you want to reuse the same lockfile for both rubies you could use #4049, making the compromise of giving up on platform specific variants for this gem.

I'm open to suggestions.

[2021-01-14 10:33] casperisfine commented on #4282
There might be more to it though, because in our app I don't see the compiled gem being listed in Gemfile.lock:

[code]

I'm afraid I'm not familiar enough with bundler internal to offer much help on this.

Couldn't bundler always list the source gem even when it select the platform specific one? Or list all variants?

I haven't dug much yet, but that `Gemfile.lock` I posted above looks fishy to m

[2021-01-14 10:34] casperisfine commented on #4282
I've wished for this feature for a while. It wouldn't be perfect, but at least it would unblock me I think.

[2021-01-14 10:36] deivid-rodriguez commented on #4282
Can you try `bundle lock --add-platform ruby`. That should also keep generic variants in the lockfile and I think should fix things.

[2021-01-14 10:40] casperisfine commented on #4282
It did:
[code]

I'm afraid not:

[code]

[2021-01-14 10:41] casperisfine commented on #4282
More logs:
[code]

[2021-01-14 10:45] deivid-rodriguez commented on #4282
That's unexpected, I would expect `bundle lock --add-platform ruby` to add only generic variants to the lockfile. That's a bug I'd say, I'll look into it.

Sorry for the issues you're having, a correct multiplatform resolution turned out to be much harder than I was expecting :pray:.

[2021-01-14 10:48] casperisfine commented on #4282
No worries, I mostly blame `grpc` and `google-protobuf` to be honest :p, they're a huge pain to work with.

And lots of thanks for trying to make this work, I'll try to figure a workaround in the meantime. I used to have a shitty monkey patch to force these gems be source gems, but it no longer works on `2.2.x`, I'll have to figure out something:

[code]

[2021-01-14 11:44] casperisfine commented on #4282
So I don't quite understand how or why, but but looking at the diffs better I saw that 2.7 had `PLATFORMS ruby` and if I were to re-bundle from scratch `3.0` would have `PLATFORMS x86_64-darwin-19`.

So I manually edited the `Gemfile.lock` such as:

[code]

And it now install properly on 3.0. That's really puzzling to me though.

[2021-01-14 20:02] marlinpierce opened #4283 "bundle package argument as keyword parameters deprecated"
The "bundle package" command for bundler 2.1.4 gives a deprecation warning using ruby 2.7.

/usr/local/lib/ruby/site_ruby/2.7/rubygems/package.rb:509: warning: Using the last argument as keyword parameters is deprecated

[2021-01-14 20:02] marlinpierce opened #4284 "bundle package gives last argument as keyword parameters is deprecated"
The "bundle package" command for bundler 2.1.4 gives a deprecation warning using ruby 2.7.

/usr/local/lib/ruby/site_ruby/2.7/rubygems/package.rb:509: warning: Using the last argument as keyword parameters is deprecated

[2021-01-14 20:54] simi commented on #4284
seems like dupe of https://github.com/rubygems/rubygems/issues/4284, let's discuss in there

[2021-01-14 20:54] #4284 closed

[2021-01-14 20:56] simi commented on #4283
Can you provide more info about your environment, for example output of `bundle env`?

[2021-01-15 00:34] mohamedhafez opened #4285 "Feature Request: git verify-commit"
It would be great if in our Gemfile when we specify a gem from a git source, if we could have an option to have bundler run `git verify-commit <commit version>` on the revision pulled in, as a safeguard against [this type of exploit](https://github.blog/2012-03-04-public-key-security-vulnerability-and-mitigation/).

[2021-01-15 01:19] simi commented on #4285
@mohamedhafez hello, can you elaborate a little more how this should work? For example what about unverified commits? Feel free to open RFC (https://github.com/rubygems/rfcs) with more info added as well.

[2021-01-15 01:25] simi commented on #4283
I tried with bundler 2.1.4 and I got some deprecation warning (different ones), but all seems to be fixed with latest bundler (2.2.5). Can you check with latest bundler as well @marlinpierce?

You can use following commands to get current bundler and ensure it is running the package command.

[code]

[2021-01-15 02:04] mohamedhafez commented on #4285
I was thinking when you have a line like
[code]

*if* you know that only certain people are responsible for publishing that gem, and you know they always sign their commits or releases with their GPG keys, and you have their public keys, then in that situation you could have the option add a `verify_commit: true` option to the end of that line. Then, anything that failed `git verify-commit <revisi

[2021-01-15 02:11] simi commented on #4285
@mohamedhafez I don't understand where to get all the info needed to verify the commits. Would you like to keep this responsibility on the client side as you mentioned (`and you have their public keys`)?

PS: Regarding GitHub breach - at that time it would be probably possible to do the same even with signed commits since attacker would be possible able to add also keys to another users due to tha

[2021-01-15 02:20] mohamedhafez commented on #4285
@simi, yes definitely keep the responsibility on the client side, as in they have added the author's public keys to their gpg keyring and trusted them. The client would be responsible for making `git verify-commit` pass for authors they wanted to accept.

In this case, we'd be safe in the case of a Github breach - even if the the attacker adds GPG keys to user's Github profile, they won't be on ou

[2021-01-15 02:34] simi commented on #4285
Clear, maybe it can start as a plugin introducing new commang `bundler git-verify`. Feel free to take a look at https://bundler.io/guides/bundler_plugins.html.

Ahh, thanks for clarity. You're right.

[2021-01-15 04:45] mokagio commented on #3708
Hey @deivid-rodriguez 👋

I just tried this with Bundler 2.2.5, experienced the issue again.

I think I tracked it down to #4154. I run `BUNDLE_WITH=group bundle _"$VERSION"_ install` with `VERSION` values going from 2.2.0 to 2.2.5. Prior to 2.2.2, where #4154 landed, it behaves as I'd expect. That is, the given `group` is installed but the configuration is _not_ persisted in either the local (`./.

[2021-01-15 10:13] sonalkr132 commented on #4228
Hi, sorry about the delay in reply here.

Fastly endpoints are the only ingress endpoints for us, so if it needs SNI I doubt there is going to be an option to work around it serverside.

You have an option to avoid this error by disabling the certificate check. You can set `:ssl_verify_mode: 0` in your `.gemrc` file [[1](https://github.com/rubygems/rubygems/blob/a969c0f16aa56cdb69e2a051f2b09342701

[2021-01-15 10:16] sonalkr132 commented on #4279
bundler-site repo https://github.com/rubygems/bundler-site would be a more appropriate place for this issue. You are also welcome to update the doc and send PR to the repo directly.

[2021-01-15 13:54] deivid-rodriguez commented on #3241
I just noticed that the sample `Gemfile` you gave resolves in 3-4 seconds and 232 steps on 2.2.5, so it seems like this issue is solved! :tada:

[2021-01-15 13:54] #3241 closed

[2021-01-15 14:04] deivid-rodriguez commented on #3208
This seems to have been fixed :tada:.

Resolving this Gemfile is now fast in both bundler 2 and bundler 3, and in both the git checkout given at https://github.com/rubygems/rubygems/issues/3208#issuecomment-373061907, and current master branch of the decidim repo.

[2021-01-15 14:04] #3208 closed

[2021-01-16 17:00] brandonhilkert opened #4292 "Docker build recommendations with private gems"
Apologies if this is the wrong place for this...

We have an app that we'd like to run on containers that includes a private gem that we have on github. In our Gemfile, we have:

[code]

We'd typically used:
[code]
for our other apps, which was fine, except when the private gem referenced from github is involved, it doesn't package it in the same way as a `*.gem` file in `vendor/bundle`. Because o

[2021-01-16 17:20] terceiro commented on #3269
FWIW I just uploaded this change to Debian and it will be part of the next release

[code]

[2021-01-16 17:23] simi commented on #3269
That is amazing @terceiro!!!

[2021-01-17 03:42] mtsmfm commented on #4098
@deivid-rodriguez cc @ayanko

I sent a PR.

https://github.com/rubygems/rubygems/pull/4293

I've confirmed the PR fixes this issue but may cause another problem.
Please review it carefully. Thanks.

[2021-01-17 03:46] rromanchuk commented on #4282
@casperisfine i just manually added `+  x86_64-darwin-19` to my lockfile and it finally worked. I didn't even get as far as figuring out it was from grpc. Luckily your `google-protobuf` got indexed and you just saved me many hours. Any luck on figuring out the "why" yet?

[2021-01-17 03:56] aaronjensen opened #4294 "Bundle standalone should un-monkey patch Kernel.require"
### Describe the problem as clearly as you can

When using `bundle --standalone` you get a `setup.rb` that sets your load path with all of the gems you need in it, similar to `Bundler.setup`.

It does not, however reverse the rubygems Kernel require mixin ([like `Bunder.setup` does](https://github.com/rubygems/rubygems/blob/8db564d88af0081e1bd7f9f9a063646b75e863fd/bundler/lib/bundler/rubygems_inte

[2021-01-17 11:21] Roald87 commented on #2253
On Windows 10 I disabled Ipv6 via (translated from Dutch, so menus might be called differently):

1. Go to **Control Panel > Network and Internet > Network connections**
2. Select the network connection you're currently using
3. Right click on it and choose **Properties**
4. Remove check mark for Internet Protocol version 6 (TCP/IPv6)
5. Click OK
6. Run your gem command again

[2021-01-18 06:10] sonalkr132 commented on #4228
I have reached out to fastly support to get a dedicated IP address for our service, which won't need SNI. I will update if that comes throught.

[2021-01-18 06:16] Blaise122 opened #4295 "Issue with downloading bundler"
https://github.com/rubygems/rubygems/search?q=Permission+denied+%40+dir_s_mkdir+-+%2FUsers%2Fblaisetshitenga%2F.rbenv%2Fversions%2F2.7.1%2Flib%2Fruby%2Fgems%2F2.7.0%2Fextensions%2Fx86_64-darwin-20%2F2.7.0%2Fracc-1.5.2&type=Issues

[2021-01-18 06:54] #4295 closed

[2021-01-18 08:15] casperisfine commented on #4282
You mean why bundler doesn't fallback to source? No not yet.

[2021-01-18 09:03] LiranLast opened #4296 "Regression - Bundler v2.2.3 and above ignores target platform"
### Describe the problem as clearly as you can

When using Bundler version 2.2.3 and above the platform setting is ignored.

For our specific use-case, this happened when installing the Rookout gem using bundler on the Alpine Linux operating system, but we have seen similar behaviors in other envioremnts.

### Post steps to reproduce the problem

0. Create a proper runtime environment (optional) :

[2021-01-18 09:19] deivid-rodriguez commented on #4296
Ugg, sorry, I think I messed something with target platforms in the last releases since we have received several reports about it. I'll have a look in the next days.

[2021-01-18 09:20] deivid-rodriguez commented on #4282
I'll try to get this fixed this week.

[2021-01-18 09:54] ayanko commented on #4098
@mtsmfm Thx. Works for me.

[2021-01-18 10:04] deivid-rodriguez commented on #2253
Hi @Roald87, thanks for reporting your findings! So, if I understand correctly, you're able to reliably reproduce this problem by going to your network configuration and checking the box for IPv6 again, correct? If this is the case, would you be willing to help us testing out some potential fixes?

[2021-01-18 10:05] deivid-rodriguez commented on #4294
I agree @aaronjensen, feel free to send us a PR!

[2021-01-18 12:16] #4098 closed

[2021-01-18 12:17] deivid-rodriguez commented on #4227
Closing due to lack of feedback.

[2021-01-18 12:17] #4227 closed

[2021-01-18 12:18] deivid-rodriguez commented on #4281
Can you repro this with the latest bundler?

[2021-01-18 13:13] ayanko commented on #4098
Thx for fix!
When I should expect new bundler release?

[2021-01-18 13:15] deivid-rodriguez commented on #4098
Today or tomorrow.

[2021-01-18 13:16] ayanko commented on #4098
👍

[2021-01-18 15:39] aaronjensen commented on #4294
@deivid-rodriguez okay, submitted #4299

[2021-01-18 18:27] deivid-rodriguez commented on #4282
Ok, so there's a few related issues here.

* One is sharing a lockfile between different rubies. That's something that was never really supported, nothing has changed there.

Try for example running `bundle _2.1.4_ install` under ruby 2.7

[code]

And then switch to ruby 2.4 and run `bundle _2.1.4_ install` with the generated lockfile. You'll get:

[code]

* The second one is a change in bundler 2

[2021-01-18 19:00] deivid-rodriguez commented on #4296
I created #4302 to fix this.

[2021-01-18 19:02] deivid-rodriguez commented on #3912
@hsbt I created #4297 to fix this by removing our dependency on `set`.

[2021-01-19 10:30] casperisfine commented on #4282
Ok TIL. This had worked for us until now, it was very convenient for Ruby upgrades. We'll figure out a new strategy then.

It's pretty much what I posted above:

Start with this Gemfile:

[code]

using ruby 2.7.2:

[code]

[2021-01-19 10:43] deivid-rodriguez commented on #4282
I'd like to support re-resolving if the current ruby can't satisfy the lockfile, but it's tricky because we don't currently record `required_ruby_version` constraints in the lockfile, so I think this would need a new section in the lockfile with those requirements, so that bundler can figure out whether it needs to re-resolve because the lockfile doesn't satisfy the running ruby.

Regarding the is

[2021-01-19 12:10] deivid-rodriguez commented on #4269
Hi @schneems.

I'm not opposed to adding some configuration so that users can specify the set of platforms they want to support. I had the idea of adding a `platforms` DSL in the `Gemfile` where people can specify the target platforms they want to support.

We currently have the issue though that the resolver can handle platforms correctly, but at the same time, resolving for multiple platforms by

[2021-01-19 12:12] deivid-rodriguez commented on #4278
Hello @loox!

Any chance you can help us out reproducing this? Which commands do I need to run on my machine to reproduce the error?

[2021-01-19 16:26] brandonhilkert commented on #4292
After some more experimentation, I think the part I might have been missing is `bundle package` won't use cache like bundle installing using `bundle config path vendor/bundle`. My solution was to use the following prior to doing the `package` command:

[code]

I can then lean on caching the `vendor/bundle` directory in the GH action and then `package` will use that cache to produce the `vendor/cac

[2021-01-19 16:26] #4292 closed

[2021-01-19 19:05] schneems commented on #4269
That's do-able. We've got some deploy freezes right now, but I can work something up. My concern is that a temporary workaround ends up being permanent. Like the same way we have to strip out `BUNDLE WITH` information from the `Gemfile.lock`.

I think adding this platform on our end defeats the security and resolution-correctness purpose you mentioned before as they can get different versions in p

[2021-01-19 20:57] deivid-rodriguez commented on #4254
@agrobbin I created a fix for this at #4304 :+1:.

[2021-01-19 23:57] agrobbin commented on #4254
Awesome, thanks @deivid-rodriguez!

[2021-01-20 04:22] apolloroid opened #4305 "Rails not being able to bundle"
--- ERROR REPORT TEMPLATE -------------------------------------------------------
# Error Report

## Questions

Please fill out answers to these questions, it'll help us figure out
why things are going wrong.

- **What did you do?**

  I ran the command `/Users/christopher/.rbenv/versions/3.0.0/bin/bundle install`

- **What did you expect to happen?**

  I expected Bundler to...

- **What happened

[2021-01-20 07:10] ayanko commented on #4098
@deivid-rodriguez release postponed?

[2021-01-20 07:12] mtsmfm commented on #4098
@ayanko already released

https://github.com/rubygems/rubygems/releases/tag/bundler-v2.2.6

[2021-01-20 08:02] #4296 closed

[2021-01-20 08:03] #4294 closed

[2021-01-20 08:31] deivid-rodriguez commented on #4305
Thanks for the report @apolloroid!

Can you reproduce this every time? Can you show the permissions and contents of ` /Users/christopher/.rbenv/versions/3.0.0/lib/ruby/gems/3.0.0`?

[2021-01-20 11:25] ayanko commented on #4275
@deivid-rodriguez

I also can confirm that since **2.2.3** simple `bundle install` (even with lock file) is VERY VERY slow (at least 5 times).
And **2.2.6** release does NOT fix this issue.

But it works again FAST when I apply this commit https://github.com/rubygems/rubygems/commit/9c12e5f8c4da1089ecdf4b9ea8bbce9385c053c9

[2021-01-20 15:29] marlinpierce commented on #4281
The latest bundler version with a package in FreeBSD on the FreshPorts website is 2.1.4.

[2021-01-20 15:46] deivid-rodriguez commented on #4281
Well my suggestion for you then would be that you try to package the latest bundler yourself to see if this has been fixed or it's still an issue. Or to report this to someone who can upgrade the package.

Even if this was a problem on current master, you'd need a new packaged version to be able to use it, right?

[2021-01-20 15:54] ayanko commented on #4098
@mtsmfm @deivid-rodriguez Could you backport this fix to `1.17.x`?

[2021-01-20 15:59] deivid-rodriguez commented on #4098
No, sorry, 1.17 is no longer maintained.

[2021-01-20 16:03] ayanko commented on #4098
Heh. 1.7 is not maintained and 2.2 has performance and multiplatform (mac/linux) deploy issues. Kind of trap 😉

[2021-01-21 00:51] deivid-rodriguez commented on #4275
@haines I finally managed to figure out the extra 50% speed up I was working on. Can you try #4289? In my case it reduces `bundle install` time from 28s to 1s.

[2021-01-21 04:14] dogweather opened #4306 "Opt-in descriptive error messages"
I'd like to suggest a feature. **I'm happy to submit a PR.** Is the project open to the idea?

### Use Case

As a developer switching among the many versions of Ruby I have installed, I want to make sure my [Sorbet](https://sorbet.org/) and Rubocop gems are the latest versions. I use their CLI apps outside of projects, and so in this case I use the `gem` CLI, not `bundle`.

### Current Behavior

S

[2021-01-21 09:54] rubyFeedback commented on #4306
I think it's a fine suggestion, but we need to keep in mind that users may prefer
a less verbose variant at all times. So perhaps the --verbose and --explain
output should be improved. If I understand you suggested for --verbose to
provide more information by default, yes? If that is the case I think this seems
to make sense; I assume the messages are sparse because whoever wrote
them doesn't like

[2021-01-21 09:58] simi commented on #4306
@dogweather hello. Any improvement on UX side is more than welcome. I like your proposal. I would just suggest to not use "numbers as words".

original

suggested

Also it is subject of discussing to make this output default, since it seems more user-friendly than the current one.

[2021-01-21 10:32] dogweather commented on #4306
@simi Excellent - I like working on UX improvements like this. I'll get started.

Makes perfect sense.

[2021-01-21 12:01] deivid-rodriguez commented on #4306
In my opinion, everything in this proposal is better than the current error so I'd say let's replace the old output with the new output, no opt-in, no opt-out.

[2021-01-21 12:01] #4254 closed

[2021-01-21 12:11] rgoldberg commented on #4234
@eregon What are the hard parts about producing a universal binary?

I develop for the JVM, so I haven't looked into it, but wouldn't it just be ensuring that a project's dependencies are available as universal binaries, then changing a few build options?

Is it much more involved than that?

[2021-01-21 16:30] eregon commented on #4234
For starters, one would need an M1 mac, and I'd think most CIs or many devs don't have that.

Then it seems to need extra options and even extra commands and steps (e.g., https://developer.apple.com/documentation/xcode/building_a_universal_macos_binary seems quite involved).
From looking at a few extconf.rb, the darwin platform already needs extra flags/hacks, and this would only make it worse and

[2021-01-21 17:40] marlinpierce commented on #4281
If there is a fix is in a later version or if you made a fix yes I'd have to go to a later version.  If there is a reasonable idea that is the case then having that knowledge would close the case as I'd have to form a plan from that.

[2021-01-21 17:42] marlinpierce commented on #4281
Our configuration management is based on FreeBSD packages.  Server images can be rebuilt without installation steps.  For bundled gems we can run bundler.  However for installing the bundler gem we need to get that from a package install.

[2021-01-21 18:40] rgoldberg commented on #4234
@eregon From what I've read, you can build universal binaries on either Apple Silicon or on Intel.

System Ruby versus other Ruby installs has nothing to do with building a universal binary.

At least some of the extra steps in the article to which you linked would also have to be done to handle building separate binaries for the architectures, not just to build universal binaries. So those are ex

[2021-01-21 19:05] flavorjones commented on #4234
@rgoldberg I appreciate your enthusiasm for this topic, but I want you to understand that as a gem maintainer I have a toolchain (rake-compiler) that can build architecture-specific native gems, and I do not have a toolchain for building universal binaries. If you're interested in helping extend rake-compiler to support this workflow, please do -- but it is off-topic here and I'd like to suggest w

[2021-01-21 20:52] ttilberg commented on #4306
I encourage changing the default output to the suggested output. The existing output is surprisingly misleading given the reporter’s example above. Meanwhile, the suggested output is still extremely concise, but informative. Subjectively, I don’t think it’s anywhere near verbose. I think this is a very Ruby thing to do: least surprise, and developer friendly.

[2021-01-21 21:16] marlinpierce commented on #4281
I don't think I have a way to build a FreeBSD package for bundler.

[2021-01-21 21:40] schneems commented on #4218
Sorry for the radio silence here. I'm still seeing the error with bundler 2.2.6:

[code]

Can we re-open or you want me to make another issue? It's slightly different as it's not the same branch name as the version number.

[2021-01-21 22:07] deivid-rodriguez opened #4307 "Sometimes `rake release` misdetects the current branch"
Sorry for the radio silence here. I'm still seeing the error with bundler 2.2.6:

[code]

Can we re-open or you want me to make another issue? It's slightly different as it's not the same branch name as the version number.

_Originally posted by @schneems in https://github.com/rubygems/rubygems/issues/4218#issuecomment-764958526_

[2021-01-21 22:08] deivid-rodriguez commented on #4307
Sorry @schneems :disappointed:.

I'm guessing we're misdetecting your current branch for some reason. What's your current branch, I assume it's not "module_function"?

[2021-01-21 22:18] schneems commented on #4307
It is named `module_function` in this case as it's a one line fix (https://github.com/zombocom/dead_end/tree/module_function). Note that I updated my bundler version and did a rebase of main but didn't push to github:

[code]

Maybe that was weird and is causing the issues. I'm going to see if I can repro the problem with a new gem (with a random name)

[2021-01-21 22:29] deivid-rodriguez commented on #4307
Oh I get it now. The problem is actually what I suspected initially: https://github.com/rubygems/rubygems/issues/4218#issuecomment-752688856.

Your current branch doesn't have a remote. In that case, I was expecting `git config --get branch.<branch_name>.remote` to return a succesful status and empty output. Instead, it has a failure status.

I'll fix this tommorrow.

[2021-01-21 22:29] schneems commented on #4307
It might be git config related if it's only on my machine:

[code]

[2021-01-21 22:29] schneems commented on #4307
Oh, great. Thanks for checking!

[2021-01-21 23:25] drbrain commented on #4234
Here are the [platform matching rules](https://github.com/rubygems/rubygems/blob/41142062b26f82599d074a519431b072e0e277db/lib/rubygems/commands/help_command.rb#L237-L243)

Since a given ruby installation supports exactly one CPU architecture at a time, I think having a `universal` included `Gem.platforms` doesn't make sense, it should only list the CPU architecture running.  For a `RUBY_PLATFORM`

[2021-01-22 09:33] JonRowe commented on #4228
I tried that, it didn't seem to work at an environment level, we're building docker containers so I thought it needed to be for the whole system not a user, although possibly we could try to set it for the root user.

This works for now 👏  thank you! I just have to hope we manage to release RSpec 4 before it ceases to work 😂

[2021-01-22 09:34] JonRowe commented on #4228
@sonalkr132 Can you share any progress with Fastly? It'd be nice to know if its worth reaching out myself to see if they'd "sponsor" RSpec with an endpoint 😂

[2021-01-22 10:28] deivid-rodriguez commented on #4228
Since there won't be any actions taken in the client library, and a workaround has been provided, I'll close this. Feel free to use this issue though to post updates about the Fastly request :)

[2021-01-22 10:28] #4228 closed

[2021-01-22 12:07] deivid-rodriguez commented on #4307
@schneems #4309 should fix this. Give it a try if you can.

[2021-01-22 13:46] haines commented on #4275
Yep, I get a similar reduction from 5c312ddc37128e2af96c5171b1a61b7e15db0646 👏

[2021-01-22 14:18] deivid-rodriguez commented on #4275
Grea, thanks @haines! I'm sorry this is taking way more than I was expecting. I just don't want to cause more regressions :sweat_smile:.

Hopefully next week.

[2021-01-23 13:41] sonalkr132 commented on #4228
I followed up on my support ticket after your reply. Only received a reply today that they have pinged people to check why there were no updates. I hope this coming week we will some action. I doubt a separate ticket from your side would speed things up, you are welcome to try.

Fastly planned retirement of that interfaces was 31 Dec, however, it is clearly still working. I am not sure what is the

[2021-01-24 03:19] Fumiya2116 opened #4312 "rubygems"
the terminal in my mac PC(M1) could not find gem "rails(6.1.1)" in any of the gem sources listed in my Gemfile even if i have already installed rails. And I want to know what gemfile is.

[2021-01-24 09:42] sunwei415 commented on #542
`rails` CLI maps to `railties`.
This is a misleading design!

[2021-01-25 07:06] #4307 closed

[2021-01-25 07:15] deivid-rodriguez opened #4314 "`rake release` will fail to infer the correct remote sometimes"
Since bundler 2.2, we stop running `git push --tags`  by default on `rake release`. Doing this was very inefficient and also error prone since in some situations, you might have local tags that are not supposed to be pushed. This is a typical situation with default gems, where it's handy to add "ruby-core" as a remote for easier backporting and forwarporting patches. I had this situation and it re

[2021-01-25 07:23] deivid-rodriguez commented on #542
Feel free to reach out to the Rails project so that they impovel their documentation for uninstalling Rails. I don't think there's anything we can do about it ourselves. The `rails` executable is provided by the `railties` gem and that's a choice of the gem author that rubygems should respect.

[2021-01-25 07:27] deivid-rodriguez commented on #4312
Hi @Fumiya2116!

Unfortunately this issue doesn't provide enough information for us to be able to help you.

Please reopen a new issue explaining the problem you are having, you didn't even say the command you're trying to run! Make sure you read the tips that appear in the text box when you try to open an issue.

[2021-01-25 07:27] #4312 closed

[2021-01-25 07:48] deivid-rodriguez commented on #4281
Well, I'm really not sure but bundler 2.2 represents one year of work and we have fixed many many bugs in this series.

If you don't have the know-how to try this for yourself, I'd recommend that you report this to the maintainer of the freebsd package. They will probably know best how to try it, or to triage this issue. I see that there's already a proposal to upgrade bundler: https://bugs.freebs

[2021-01-25 08:43] deivid-rodriguez commented on #4281
@marlinpierce In case it rings any bells though, can you copy the output of `bundle install`?

[2021-01-25 10:28] #3930 closed

[2021-01-25 13:21] #3788 closed

[2021-01-25 14:32] deivid-rodriguez commented on #4261
Hi again @darix. I was quickly looking at this issue and I'm not sure what the expectation is. You would like that generated file to include a relative require instead?

[2021-01-25 14:39] vinicius0197 commented on #3321
@deivid-rodriguez Took a long time to start working on this, but I've been digging on the codebase lately and found that those error messages are generated by the `gem_install_message` method [here](https://github.com/rubygems/rubygems/blob/a969c0f16aa56cdb69e2a051f2b093427010e1d9/bundler/lib/bundler/installer/gem_installer.rb#L48-L57). I'm trying to run my local repository of RubyGems with `bundl

[2021-01-25 14:58] darix commented on #4261
the path can be absolute but it should not contain the buildroot parameter.

[2021-01-25 15:08] deivid-rodriguez commented on #4261
Ok, so stripping off the buildroot parameter from the beginning of the path if `--build-root` was passed as an option would be ok, right? Altough maybe a relative path would be simpler. I'll have a look.

[2021-01-25 15:24] deivid-rodriguez commented on #3321
Hi @vinicius0197!

I was recently thinking that I'm not sure printing this command is helpful. Even if we fix this issue, it's a different command possibly run on a different context, so we will never be able to guarantee that the command will led to the same error. And even if it was correct, it's just going to print the same error than `bundle install`.

I think I would remove this recommendatio