[2022-10-10 21:51] Segaja commented on #5951
Hm I don't get this... we use `rake compile build` ( https://github.com/archlinux/svntogit-community/blob/packages/ruby-json/trunk/PKGBUILD#L29-L30 ) and the files list gets reduced during that build. the same result when i use `gem build json.gemspec`.

[2022-10-10 21:58] deivid-rodriguez commented on #5951
You'll have to investigate what you're doing wrong when building the gem. The gem built at https://rubygems.org/gems/json has the proper file list.

[2022-10-10 22:03] deivid-rodriguez commented on #5951
I'm going to close this since this is not a RubyGems issue, but I'm still happy to help.

[2022-10-10 22:03] #5951 closed

[2022-10-10 22:09] Segaja commented on #5951
But even if I `gem install` the downloaded version from https://rubygems.org/gems/json the resulting `json-2.6.2.gemspec` does not contain all these files:

[code]

[2022-10-10 22:15] deivid-rodriguez commented on #5951
You're right, the issue is not when generating the gem package, but when installing it, since that `gemspec`file with that "stub" comment is generated at `gem install` time. To get the correct gemspec stub generated I believe you need to use `gem install` with the `--default` flag. However, that only installs the gemspec, not the rest of the gem files. So you're going to need some combination of b

[2022-10-10 22:17] Segaja commented on #5951
Hm can I then just run `gem install` twice? once with the flag and once without it? To me this sounds like a bug introduced in the json upstream code somewhere between 2.5.1 and 2.6.2

[2022-10-10 22:20] deivid-rodriguez commented on #5951
I don´t know how you're packaging things, but you need to make sure that the `gemspec` file that `gem install --default` installs is the one that ends up in the final ` Gem.default_specifications_dir` location. That file should include the full list of `json` files, so that `require` can be detect them as files belonging to a default gem, and have special behaviour for them.

[2022-10-10 22:37] Segaja commented on #5951
Running `gem install --default --install-dir="tmp/"` and then copy the gemspec file from that folder to the proper place after a normal `gem install` works.

With this fixed version of `json` the tests actually progress and now I only have this one Failure and a few pending (because of unmet dependencies which is fine):

[code]

@deivid-rodriguez thanks for all the help so far. I have reported the

[2022-10-10 22:50] deivid-rodriguez commented on #5951
I don't see think this is an issue in the json gem. Generating gemspec stub files without the `files =` attribute is expected, except for default gems. Only default gems need this attribute.

Regarding the other failures, I guess it could also be related to the same issue, since the `--default` flag also has special behaviour for the extension dir: https://github.com/rubygems/rubygems/blob/629e08d

[2022-10-11 05:56] stanhu commented on #5972
Yes, it does.

Actually, it seems that I need to escape the quotes like so:

[code]

I thought I tried various different combinations, but I guess I didn't try them all.

[2022-10-11 05:56] #5972 closed

[2022-10-11 08:17] duckinator commented on #5682
Sounds good to me. 👍

On Sun, Jul 3, 2022, at 9:14 AM, David Rodríguez wrote:

[2022-10-11 09:58] pwintz commented on #4981
For any other newbies that arrive here, the command to update RubyGems is `gem update --system`. It took several minutes to run on my machine without printing anything (just be patient!).

[2022-10-11 10:00] deivid-rodriguez commented on #4981
Was this one Windows? This command is slow on Windows sometimes indeed.

[2022-10-11 10:02] pwintz commented on #4981
Yes, it was. It took 5+ minutes to complete.

[2022-10-11 10:19] pwintz commented on #4981
Now, I have also updated Bundler via `gem install bundler`, but I am still seeing `No Gemfile.lock found` when I run `bundle install`. I have RubyGems version `3.3.23` and `bundler-2.3.23` installed.

In particular, the error occurs when I have
`gem "github-pages", "~> 227", group: :jekyll_plugins`
in the `GemFile` but not if I have
`gem "jekyll", "~> 4.2.2"`.

Let me know if it would be better if

[2022-10-11 10:33] Segaja commented on #5951
So you are saying that other gems are affected by the same issue? If so is there any way to find out which one?

[2022-10-11 10:41] deivid-rodriguez commented on #5951
Any default gem you ship separately in the same way you ship json should be affected. You can find a list of official default gems here: https://stdgems.org.

I haven't looked at what the failures about the extension dir mean, but the other failures mean that RubyGems is not able to automatically activate the latest version of default gems on require.

What that means is the following. Say you hav

[2022-10-11 10:52] Segaja commented on #5951
Hm I get the idea but the errors look like it tries to activate a gem called `a-2`. As far as I know this is not any default gem.
Does this gem have any dependencies to default gems? Can I somewhere see the definition of this `a-2` gem?

[2022-10-11 10:57] deivid-rodriguez commented on #5951
Right, default gems don't seem involved there. Sorry I don't have much bandwidth to help more, I hope you end up completely figuring this out, keep debugging!

[2022-10-11 11:31] deivid-rodriguez commented on #5953
Closing since we never got any feedback on the original issue.

[2022-10-11 11:31] #5953 closed

[2022-10-11 11:33] deivid-rodriguez commented on #5927
I'm going to close this one for now since it's still unclear to me whether this an issue in the latest version, or somehow people unintentionally using old versions that generated the old Gemfile.lock layout. If someone can provide repro instructions I'll be more than happy to reopen this and look into the issue.

[2022-10-11 11:33] #5927 closed

[2022-10-11 11:39] deivid-rodriguez commented on #5689
Just tried this reproducer against #5960 and it now resolves in 5 seconds! 🎉

[2022-10-11 11:47] deivid-rodriguez commented on #4234
Can you actually upgrade RubyGems on MacOS system install. As far as I'm aware, MacOS tries very hard to avoid users writing into privileged locations like where system Ruby is installed.

If this is the case, it seems pointless to try fix this ourselves because the fix will never reach MacOS users, since I believe MacOS developers have discontinued their version of system Ruby. Also, this is actu

[2022-10-11 12:30] deivid-rodriguez commented on #5926
Maybe a better spec failure error message would suffice?

[2022-10-11 15:12] deivid-rodriguez commented on #4234
Both actually because if I recall correctly they were precisely patching the code that got fixed. So if they upgraded the Ruby they ship, they'd need to not erase the fix 😅.

So what would work for you would be that Bundler actually fixed this I guess, right? We have a `lib/bundler/rubygems_ext.rb` in Bundler where we apply patches to RubyGems to get a consistent Bundler behavior across all RubyGe

[2022-10-11 16:00] Bo98 commented on #4234
Ah I see what one you're referring too now. I'll ask about that but it originated well before arm64 was a thing - it was patched out back in Ruby 2.0 at least. I guess no one noticed given what core Ruby was doing until recently didn't exctly work anyway unless you specified some env variables, which seems volatile.

I think so yeah.

[2022-10-11 16:31] Bo98 commented on #4234
Ok thinking into it more why, it actually does make a lot of sense why things are the way they are.

Apple ship universal binaries for everything. The same install is designed to work on _both_ x86_64 and arm64. So for example we have:

[code]

So the extension directory `universal-darwin21` makes perfect sense because of that.

For user installs, it does behave a little differently:

[code]

This

[2022-10-11 18:16] voxik commented on #5926
Funny. Looking at the issue again and trying to remember what was it about, from the understandability POV, wouldn't it be better to have different description of the first failed test case? But better error message would help as well.

BTW this is the workaround I applied to make the test suite pass:

https://src.fedoraproject.org/rpms/rubygem-bundler/blob/7f2af6f9a9a21dd739e70fc3b1ed5f498cecef02

[2022-10-11 18:36] deivid-rodriguez commented on #4234
Feel free to send us a patch to make Bundler patch `Gem.platforms` so that it gives you what you expect in this particular case!

[2022-10-11 22:35] jiashun-nci opened #5977 "gemfile"
### Describe the problem as clearly as you can

### Did you try upgrading rubygems & bundler?

### Post steps to reproduce the problem

### Which command did you run?

### What were you expecting to happen?

### What actually happened?

### If not included with the output of your command, run `bundle env` and paste the output below

[2022-10-11 22:37] #5977 closed

[2022-10-12 01:12] Bo98 commented on #4234
I'll have a look.

[2022-10-12 18:24] ethankhall opened #5980 "`with-static-linked-ext` breaks `bundler`"
### `gem update --system` and `--with-static-linked-ext` break `bundler`

When building Ruby with `--with-static-linked-ext`, bundler will work correctly. As well as running `gem update --system`. However, once `gem update --system` has run, `bundler` will bail with and error

[code]

Using the [Automated SSL Check](https://bundler.io/guides/rubygems_tls_ssl_troubleshooting_guide.html#automated-ss

[2022-10-12 19:42] noraj commented on #5941
I wasn't able to reproduce it manually in docker.

[2022-10-12 20:39] noraj commented on #5941
Entering into the nspawn container and running the commands manually works.

[code]

I encountered the same behavior with many gems that where previously building correctly (https://github.com/BlackArch/blackarch/issues/3519).

It seems to be specific to some very special environments under some special circumstances.

I found other older references of @WolfAHeidrich issue there https://github.com

[2022-10-13 02:29] devifr opened #5981 "NoMethodError: undefined method `size' for nil:NilClass"
Fetching gem metadata from https://rubygems.org/..........
Resolving dependencies...
Using rake 13.0.6
Using concurrent-ruby 1.1.10
Using minitest 5.16.3
Using zeitwerk 2.6.1
Using thread_safe 0.3.6
Using builder 3.2.4
Using racc 1.6.0
Using erubi 1.11.0
Using crass 1.0.6
Using rack 2.2.4
Using nio4r 2.5.8
Using websocket-extensions 0.1.5
Using mini_mime 1.1.2
Using public_suffix 5.0.0
Using ansi

[2022-10-13 04:46] #5970 closed

[2022-10-13 13:09] Alzubair98 opened #5983 "--- TEMPLATE END ---------------------------------------------------------------- Unfortunately, an unexpected error occurred, and Bundler cannot continue."
i tried to make new project using ruby on rails with this command

rails new test_app

everything was good until the console showed me this
--- TEMPLATE END ----------------------------------------------------------------

Unfortunately, an unexpected error occurred, and Bundler cannot continue.

-----------------------
when i try to check the project using

- rails server

it gives me this error

[2022-10-13 14:02] #5983 closed

[2022-10-13 19:36] pgundlupetvenkatesh commented on #5981
I am getting the same with `NoMethodError: undefined method 'full_name' for nil:NilClass`

Ruby v2.6.3p62 (2019-04-16 revision 67580) [x64-mingw32]

[code]
--- ERROR REPORT TEMPLATE -------------------------------------------------------

[code]

## Environment

[code]

## Bundler Build Metadata

[code]

## Gemfile

### Gemfile

[code]

### Gemfile.lock

[code]

--- TEMPLATE END ------------------

[2022-10-13 23:02] byteit101 opened #5984 "Feature discussion: true machine platform gems for JRuby (`java` platform) ffi-based extensions"
Currently, the major Ruby implementations all support FFI, but there isn't a convenient way to distribute pre-built binaries via rubygems in an engine-agnostic way. CRuby and TruffleRuby can download the correct pre-built binary gems (like `ffi-libarchive-binary`) for their host platform (ie. `x86-linux`, etc), while JRuby, has the platform of `java` being undifferentiated by the underlying platfo

[2022-10-14 00:43] alilland commented on #4981
same experience

[2022-10-14 08:44] belgoros opened #5985 "Bundle install: NoMethodError: undefined method `full_name' for nil:NilClass"
### Describe the problem as clearly as you can

Running `bundle install` fails on a Windows PC (see more details below).
#5970 didn't fix the issue.

### Did you try upgrading rubygems & bundler?
The same error before the upgrade and after upgrading RubyGems to `3.3.23` and bundler to `2.3.23`.

### Post steps to reproduce the problem

I'm using [scoop ](https://scoop.sh/) to install Ruby and mana

[2022-10-14 10:12] TheLidlMan opened #5986 "NoMethodError: undefined method `full_name' for nil:NilClass"
[code]

## Environment

[code]

## Bundler Build Metadata

[code]

## Gemfile

### Gemfile

[code]

### Gemfile.lock

[code]

[2022-10-14 12:45] eregon commented on #5984
I think option 3 is indeed the way to go, and would nicely solve this and related issues.

The mapping from existing Gem platforms would be (IIUC):
* binary platform-specific gem => `{ api: "cruby-bin", platform: "arch-os" }`
* java platform gem => `{ api: "jruby", platform: nil }` (because it's typically platform-independent), maybe `{ api: "jruby", platform: arch-os }` for some cases where a nat

[2022-10-14 12:46] deivid-rodriguez commented on #4981
Can you copy the full error?

[2022-10-14 22:33] byteit101 commented on #5984
If we want to be lazy, then yes, though if we wanted to be clever we could scan the binaries for references to the CRuby Extension API and if missing, then mark them as FFI `{api: nil, platform: "arch-os"}`, though this is likely a minority of gems today (sorbet, ffi-libarchive-binary, etc)

Yes, though I just realized that for consistency, unless they are shipping java sources to be compiled, it

[2022-10-15 10:04] ccoenen commented on #5986
exact same error here while cloning and trying to build someone's jekyll site.

[2022-10-15 10:07] TheLidlMan commented on #5986
As I was running on windows, I setup the Linux bash environment in cmd and now it all working for me. Slightly annoying it didn’t work bare metal on Win11

[2022-10-15 14:56] deivid-rodriguez commented on #5986
I'm sorry folks you're all having this issue on Windows. The fix is already committed to master and it will be released early next week.

[2022-10-15 14:57] deivid-rodriguez commented on #5985
Sorry about this @belgoros, the fix is already committed to master and it will be released early next week.

[2022-10-15 14:59] deivid-rodriguez commented on #5986
Normally I tend to close issues already fix when their fix lands on master, but in this case I think it makes sense to keep one report opened in case it may prevent duplicate reports. So I will close this one in favor of #5985, please subscribe to that other issue.

[2022-10-15 14:59] #5986 closed

[2022-10-16 05:05] ddomdel commented on #5985
Having the exact same issue

[2022-10-17 08:06] #5454 closed

[2022-10-17 12:52] deivid-rodriguez commented on #5985
Bundler 2.3.24 is out, let me know how that works, thanks!

[2022-10-17 12:52] #5985 closed

[2022-10-17 12:53] deivid-rodriguez commented on #5981
Hei @devifr!

Is this error reproducible every time?

[2022-10-17 16:25] deivid-rodriguez commented on #5926
That would probably help too, what would you suggest? These changes are easy changes, so let's do it.

[2022-10-18 13:44] dp6ai opened #5995 "Heroku deployments fail bundle with undefined method `metadata' for nil:NilClass"
### Describe the problem as clearly as you can

Heroku deployments which were working are now failing with:

[code]

Although running `bundle` and `bundle update` locally are both working.

### Did you try upgrading rubygems & bundler?

I am using the latest version of bundler locally.

### Post steps to reproduce the problem

`git push HEROKU_REMOTE main`

### Which command did you run?

`git pus

[2022-10-18 13:54] deivid-rodriguez commented on #5995
Hei! I'm sorry you're having issues.

Hard to help from our side, since the latest version of our code seems to be working for you, so it's unlikely that there's something to fix on our side that we have not already fixed.

This is what I would recommend. Try to reproduce the heroku issue locally but using the same settings and Bundler version Heroku is using. Then bump the Bundler version until t

[2022-10-18 14:10] deivid-rodriguez commented on #5969
@mx-psi I think Bundler 2.3.24 should've fixed this. Can you try it?

[2022-10-18 14:51] dp6ai commented on #5995
running `bundle lock --add-platform x86_64-linux` fixed the issue.

[2022-10-19 04:59] hsbt opened #5996 "CVE-2022-39253 break RubyGems/Bundler tests and behavior."
### Describe the problem as clearly as you can

In recent few days ago, rubygems tests were failed in my dev machine.

[code]

### What actually happened?

https://github.blog/2022-10-18-git-security-vulnerabilities-announced/#cve-2022-39253

Git 2.38.1 refuse to `git submodule add` with file protocol. We should handle cve-2022-39253 changes to RubyGems/Bundler for Git.

[2022-10-19 05:09] nobu commented on #5996
`git submodule update` too.

[2022-10-19 05:44] hsbt commented on #5996
We can pass them with `-c protocol.file.allow=always` option. But it disables the security limitation of Git.

[2022-10-19 07:23] hsbt commented on #5996
@deivid-rodriguez @simi I create the workaround for this.

https://github.com/ruby/ruby/pull/6587

[2022-10-19 07:38] RajeshKumarJena38 opened #5997 "Unfortunately, an unexpected error occurred, and Bundler cannot continue."
### Describe the problem as clearly as you can

### Did you try upgrading rubygems & bundler?

### Post steps to reproduce the problem

### Which command did you run?

### What were you expecting to happen?

### What actually happened?

### If not included with the output of your command, run `bundle env` and paste the output below

[2022-10-19 07:39] mx-psi commented on #5969
The test suite from DataDog/datadog-agent-buildimages/pull/304 passed, so it looks like the new version fixed this :) Thanks again for the prompt reply and the quick turnaround!

[2022-10-19 07:39] #5969 closed

[2022-10-19 08:38] #5997 closed

[2022-10-19 13:03] #5996 closed

[2022-10-19 14:39] RajeshKumarJena38 opened #5999 "Unfortunately, an unexpected error occurred, and Bundler cannot continue."

[2022-10-19 14:43] deivid-rodriguez commented on #5999
Can you run `gem update --system` and try again?

[2022-10-19 14:55] RajeshKumarJena38 commented on #5999
ERROR:  While executing gem ... (Gem::FilePermissionError)
    You don't have write permissions for the /usr/local/lib/ruby/gems/2.5.0
directory.
this error is coming now

On Wed, 19 Oct 2022 at 20:13, David Rodríguez ***@***.***>
wrote:

[2022-10-19 15:17] deivid-rodriguez commented on #5999
How did you install Ruby?

[2022-10-20 08:06] RajeshKumarJena38 commented on #5999
Restoring gems to pristine condition...
ERROR:  While executing gem ... (ArgumentError)
    wrong number of arguments (given 4, expected 1)
 cmd : sudo gem pristine --all is there any way solve this

On Thu, 20 Oct 2022 at 11:25, Rajesh Kumar Jena ***@***.***>
wrote:

[2022-10-21 12:31] hurricup opened #6003 "Idea: more flexible bundler config"
As far as I get it, current bundler config (above project level) is shared between all rubies I might have.
But sometimes, some options are necessary only on particular version of ruby.

E.g. I encountered an issue installing nokogiri 1.6.6.4 on macOs for ruby 2.3 and 2.4. And this may be fixed with `bundle config build.nokogiri --use-system-libraries`

I'm not sure if it will harm other versions,

[2022-10-21 13:11] hurricup commented on #6003
Or even not ruby version, but ruby path. I may have several rubies of the same version, like system and rvm one and they have their quirks

[2022-10-21 15:26] sunilravilla opened #6004 "You+don%27t+have+write+permissions+for+the+%2Fusr%2Flocal%2Frvm%2Fgems%2Fruby-3.0.4%2Fwrappers+directory.&type=Issues"
### Describe the problem as clearly as you can

### Did you try upgrading rubygems & bundler?

### Post steps to reproduce the problem

### Which command did you run?

### What were you expecting to happen?

### What actually happened?

### If not included with the output of your command, run `bundle env` and paste the output below

--- ERROR REPORT TEMPLATE ---------------------------------------

[2022-10-21 15:31] deivid-rodriguez commented on #6004
This issue should be fixed in the latest versions I believe. Please upgrade Bundler to 2.3.24 and RubyGems to 3.3.24 and reopen if it still happens 👍.

[2022-10-21 15:31] #6004 closed

[2022-10-22 01:39] ianks opened #6005 "Incorrect candidate resolution for prerelease gems when using `required_ruby_version` in v3.3.24"
When specifying a `required_ruby_version` range for a gem, Rubygems does not account for pre-releases in the gem range.

[code]

This gem was precompiled using `rake-compiler`, [which sets the end range to be `< X.X.dev`](https://github.com/rake-compiler/rake-compiler/blob/31a2b8f325001c8aa55c078e85eb054b3bff649b/lib/rake/extensiontask.rb#L284).

[code]

[2022-10-22 01:51] flavorjones commented on #6005
@ianks I'm not sure I understand -- this seems to be working as designed. "< 3.1.dev" does not include 3.1 prereleases as well as 3.1.0, 3.1.1, 3.1.2 ...

You can test this with Ruby code. Will the Ruby version "3.1.2" match the constraint "< 3.1.dev"?

[code]

[2022-10-22 02:52] ianks commented on #6005
I get the intention now. The semantics confused me a bit with the patch version not being included. Sorry for the noise!

[2022-10-22 02:52] #6005 closed

[2022-10-22 02:57] ianks commented on #6005
For more context, the issue stemmed from [this PR](https://github.com/bytecodealliance/wasmtime-rb/pull/1/files). Wondering now if the order of `RUBY_CC_VERSION` threw RCD off? I'll let you know!

[2022-10-22 04:51] hurricup opened #6006 "Platform handling for system ruby with updated rubygems on MacOS 10.15"
# Issue
System ruby has `arch` as `universal.x86_64-darwin19`
Rubygems sets platforms to:
[code]
As the result, when running `bundle install` on new rails app, it installs `sqlite3-1.5.3-arm64-darwin` instead of `sqlite3-1.5.3-x86_64-darwin`

Additionally, default gems disappeared from `gem list` after upgrading rubygems, but feels like this is a different issue and not so critical for now, just n

[2022-10-22 04:53] deivid-rodriguez commented on #6006
I think you want #5978?

[2022-10-22 04:57] hurricup commented on #6006
Oh, seems so. And this issue feels like a duplication for #4234

[2022-10-22 05:02] deivid-rodriguez commented on #6006
Indeed, I'll close this one in favor of the other then. Hopefully we can ship this soon!

[2022-10-22 05:02] #6006 closed

[2022-10-24 10:18] knarewski opened #6008 "Since 2.3.23 bundle install may prioritise building native extension over using a pre-built one"
### Describe the problem as clearly as you can
In bundler `2.3.23` and `2.3.24`, building native extension may be prioritized over using readily built gem for matching platform if the platform is not listed in `Gemfile.lock` .

That may be acceptable issue given that latest RubyGems would force using original version of bundler unless `bundle update --bundler` is explicitly called. If that's the c

[2022-10-24 10:20] deivid-rodriguez commented on #6008
Thank you @knarewski, I will look at this soon.

[2022-10-25 05:25] tnir opened #6012 "Ignore patchlevel keyword argument for ruby DSL method in Gemfile"
### Describe the problem as clearly as you can

As Bundler 2.3 (or 2.0 and higher) supports only for Ruby 2.3 or higher, we no more need `patchlevel` keyword argument in `ruby` DSL method in `Gemfile`.

https://bundler.io/v2.3/man/gemfile.5.html#PATCHLEVEL

Ruby versioning policy has been updated on Ruby 2.1.0, not to use a combination of `major.minor.teeny` with no two different patchlevels. `maj

[2022-10-25 05:26] tnir commented on #6012
@indirect @deivid-rodriguez Thoughts?

[2022-10-25 06:09] indirect commented on #6012
Seems right to me. 👍🏻

[2022-10-25 06:40] deivid-rodriguez commented on #6012
Seems right to me too!

[2022-10-25 08:01] tnir commented on #6012
Anyone knows about spefications around the patchlevel in JRuby or TruffleRuby? I know C Ruby (or MRI) has the unique patchlevel for each combination of major, minor, and teeny as described as above.

[2022-10-25 18:21] blowfishpro commented on #4495
Okay well I don't know what I was seeing before because I'm definitely still seeing the OP issue and not finding a way to avoid updating the Gemfile.lock with a partial cache.  I tried a couple of scenarios with `bundle cache`:

Scenario 1:
- Gemfile.lock is out of date
- `frozen` is false
- `vendor/cache` state does not matter
Result: `Gemfile.lock` is updated

Scenario 2:
- Gemfile.lock is up to

[2022-10-25 18:49] rosalynnas commented on #1267
Sometimes when this happens, `bundle clean/prisitine` doesn't work and I usually can't run `bundle clean --force` on a big project. I solved it by identifying the gem that depended on the problematic gem then running `bundle update <gem>` (careful with this too because you could introduce breaking changes if it was a big version bump).

[2022-10-25 20:01] blowfishpro commented on #4495
If one is running `bundle install` you have access to the `--local` or `--prefer-local` options, so it seems odd to force `local` in this case.

If one is running `bundle cache` then forcing `local` makes no sense because you're explicitly trying to update the cache directory.

[2022-10-25 20:36] dentarg opened #6016 "`bundle init` should respect `BUNDLE_GEMFILE`"
### Describe the problem as clearly as you can

[code]

I was expecting `/tmp/foo` to be created as `bundle config --help` says this about `BUNDLE_GEMFILE`

[2022-10-25 23:49] gustavothecoder commented on #6016
Can I try to resolve this problem?

[2022-10-26 07:10] dentarg commented on #6016
Feel free :)

[2022-10-26 09:07] sled opened #6017 "Enriching output of `bundle list`"
I'm working on a dependency analyzer for bundler which parses the Lockfile, however I'm missing the information in which group a certain gem belongs. Because the analyzer is written in Golang, I can't use the bundler ruby library for inspection.

`bundle list` has the option to filter the output by individual groups (`--without-group` and `--only-group`) but it would be nice if it showed the group

[2022-10-26 09:54] rud opened #6018 "bundler.io domain is not currently responding - DNS resolution fails"
Hoping this is a quick fix :)

[code]

[2022-10-26 09:59] deivid-rodriguez commented on #6018
Loading normally for me 🤔

[2022-10-26 11:16] rud commented on #6018
Better again now. No worries :)

[2022-10-26 11:16] #6018 closed

[2022-10-26 15:30] voxik opened #6020 "Remove RDoc integration from RubyGems"
Trying to improve the situation with gems documentation on Fedora, where there are [long time concerns](https://bugzilla.redhat.com/show_bug.cgi?id=1224715) about bundling fonts, code duplication etc, I am looking into the details how this integration works. This brings me to the idea of removing the RDoc integration from RubyGems. With my current level of understanding, it seems that it would be

[2022-10-26 15:36] simi commented on #6020
:thinking: Like a plugin distributed by default?

[2022-10-26 15:47] voxik commented on #6020
If that was part of RDoc, then it would be distributed by default. However, I am quite sure that the plugins are not properly supported for default gems. If it was separate gem, then this would need to be distributed via similar means as RDoc (with similar issues).

[2022-10-26 16:58] deivid-rodriguez commented on #6008
#6015 will fix this. This was another regression caused by #5868.

[2022-10-27 10:49] #6008 closed

[2022-10-27 18:03] paulino-s commented on #5234
This always happens when you update your project to other versions with which it was created. I get it quickly with:

`bundle update --bundler`

[2022-10-28 05:47] Nuttapon43 commented on #3269
@zacheryph

[2022-10-28 20:24] simi commented on #5995
Same problem has happened at rubygems.org - https://github.com/rubygems/rubygems.org/actions/runs/3250532768/jobs/5334333346. I can reproduce locally in that branch.

[2022-10-29 16:07] N0xFF commented on #5289
Adding `gem "gem-release"` to `Gemfile` should solve your problem.

[2022-10-30 00:45] madprops commented on #3206
This is still happening.

Bundler version 2.3.23

Also ctrl+c to quit it, shows something about sudo afterwards, not clean quit.

[2022-10-30 01:41] uhuntu commented on #5289
Yeah, you are smart.

[2022-10-30 14:41] rubyFeedback commented on #6017
Json output makes sense IMO.

[2022-10-31 12:31] megatux opened #6028 "`gem uninstall somegem` when multiple gem are installed: exit codes & ctrl+d handling when no selection given"
Following the notes posted on the 2 issues I reported on ruby-lang Rubymine,
[here](https://bugs.ruby-lang.org/issues/19092#note-1) and [here](https://bugs.ruby-lang.org/issues/19093#change-99875),

one related to handling ctrl+d on gem uninstall prompt,
the other related to exit return code on gem uninstall error:

### Descriptions:

Scenario: calling gem uninstall some_gem and there is more than

[2022-11-02 10:50] deivid-rodriguez opened #6038 "Consolidate ENV list for CI detection"
We currently have two different list of environment variables for CI detection. One used by Bundler to include the CI where it's running with request headers, so that we can later on extract metrics. Another one introduced in RubyGems to be able to avoid needless call for updates messages on CI environments.

Since these lists are used for the same thing (detecting whether we are running on a CI e

[2022-11-02 11:22] deivid-rodriguez commented on #3206
This will be fixed in Bundler 2.4.0, we hope to release it in about a month.

[2022-11-02 21:40] Fryguy commented on #4466
@deivid-rodriguez I know this is an old issue, but recently we upgraded our app to Ruby 3.0 and the output is painful, particularly in containers.  I assume it's because /tmp is mounted by docker as world writable, or perhaps this is specific to ubi?

Here's an example Dockerfile that only bundle installs a single gem:

[code]

[code]

and here's the output

[code]

[2022-11-03 08:15] Edilbek commented on #5414
```gem update bundler``` fixed it.

[2022-11-04 08:25] deivid-rodriguez opened #6042 "Migrate resolution engine to pub grub"
Bundler will be migrating (if all goes well) to the [pub grub](https://github.com/jhawthorn/pub_grub) resolver at #5960. However, that PR does not mess with RubyGems resolution at all.

We should eventually migrate RubyGems resolver to pub grub as well.

[2022-11-04 09:20] YYAyad opened #6043 "Error Report"
What did you do?

I ran the command /Users/.rbenv/versions/3.0.2/bin/bundle install

What did you expect to happen?

I expected Bundler to install all the required gems.

What happened instead?

Instead, what happened was that I got the following error. In the end it says there's no Gemfile.lock.

Have you tried any solutions posted on similar issues in our issue tracker, stack overflow, or google

[2022-11-04 14:46] eregon opened #6044 "rubygems-server was warned to be removed in RubyGems 4 but is already missing in RubyGems 3.3.7"
rubygems-server was warned to be removed in RubyGems 4:
[code]
but is already missing in RubyGems 3.3.7:
[code]
Any reason? It's rather confusing.

Note: it was removed in RubyGems 3.3.0: https://github.com/rubygems/rubygems/blob/master/CHANGELOG.md#330--2021-12-21

Also the rubygems-server gem works OK on 3.1.2 but is kind of broken on 3.0.2:
[code]

[2022-11-04 14:56] deivid-rodriguez commented on #6044
Yeah, I guess we missed the deprecation horizon when this was removed.

We could fix the deprecation message and backport it to old RubyGems, or restore the command. Both options seem a bit overkill to me given that nobody has cared much about this.

[2022-11-04 15:10] eregon commented on #6044
One thing which is particularly confusing is `gem server -p 0 -d gems` fails with `invalid option: -p` (see above) and not "use rubygems-server" and also there seems to have never been a message telling to use gemstash as a replacement, like discussed in https://github.com/rubygems/rubygems/pull/3868.
So basically it looks like a RubyGems bug instead of telling users what to use instead.

`gem ser

[2022-11-04 15:12] eregon commented on #6044
And https://github.com/rubygems/rubygems-server doesn't say anything about being deprecated or unmaintained or development-only or so, and no link to gemstash either.

[2022-11-04 15:15] eregon commented on #6044
Indeed. I think we should fix the error in latest RubyGems (and link to gemstash) and make it clear what's the purpose of this separate gem and what should be used instead.

[2022-11-04 15:19] deivid-rodriguez commented on #6044
Agree, even if we don't restore the command, we could print a better error.

[2022-11-05 06:30] Nivennnnn opened #6045 "Unfortunately, an unexpected error occurred, and Bundler cannot continue."
### Describe the problem as clearly as you can

### Did you try upgrading rubygems & bundler?

### Post steps to reproduce the problem

### Which command did you run?

### What were you expecting to happen?

### What actually happened?

### If not included with the output of your command, run `bundle env` and paste the output below

[2022-11-05 07:18] #6045 closed

[2022-11-07 09:05] #1620 closed

[2022-11-07 18:21] tichavskym opened #6048 "Setting a CA certificate for a mirror repository through `BUNDLE_SSL_CA_CERT` doesn't seem to work"
### Describe the problem as clearly as you can

When downloading dependencies through the mirror repository by executing `bundle install`, the execution fails on SSL "certificate verify failed (unable to get local issuer certificate)". The path to the CA certificate is configured using `BUNDLE_SSL_CA_CERT`, but it doesn't seem to work for the mirror repository.

### Did you try upgrading rubygems

[2022-11-08 19:54] gabibguti opened #6051 "Securing access to repo in workflows"
### Describe the problem as clearly as you can

The GitHub workflows are not restricting the permissions. Restricting permissions in workflows can prevent attackers, once inside your workflow, from editing files and publishing malicious versions for example. Settings least-privilege permissions for GITHUB_TOKEN in each workflow can help increase the repository's security against some supply-chain

[2022-11-08 20:44] deivid-rodriguez commented on #6051
Hi @gabibguti! Thanks for reaching out!

We don't trigger workflows on the `pull_request_target` event, so I believe we're not vulnerable to the kind of thing described at https://securitylab.github.com/research/github-actions-preventing-pwn-requests/.

That said, I guess there could be other issues and we may start reacting to that event in the future and forget to consider this.

It doesn't hurt

[2022-11-09 14:11] Fryguy commented on #4466
One last followup here - The "fix" for the ubi8/ubi9 container issue is to just add `RUN chmod +t /tmp` to your Dockerfile until such time as Red Hat fixes it.

[2022-11-09 18:10] gabibguti commented on #6051
Hi @deivid-rodriguez!

Ah yes! That's true, you are currently safe against that :) `pull_request_target` can be an entrance for an attacker indeed. Another way would be to do `uses: my-action@v1` and `my-action` is or becomes not trustable.

Anyway, as you said "it doesn't hurt to stay secure by default". I will open a PR then :)

[2022-11-10 08:24] hashtjekvik commented on #3250
any update on this issue please, I got stuck too with ruby 2.7.2

[2022-11-10 12:04] deivid-rodriguez commented on #3250
Does it work if you upgrade rubygems with `gem update --system`?

[2022-11-11 03:21] yang1105-guo opened #6053 "We couldn’t find any issues matching 'undefined method `captures' for nil NilClass' in rubygems/rubygems"
### Describe the problem as clearly as you can

### Did you try upgrading rubygems & bundler?

### Post steps to reproduce the problem

### Which command did you run?

### What were you expecting to happen?

### What actually happened?

### If not included with the output of your command, run `bundle env` and paste the output below

[2022-11-11 05:33] #6053 closed

[2022-11-11 13:25] gabibguti commented on #6051
Hi @deivid-rodriguez!

Do you have default workflow permissions set to "restrictive" in this repo?

If yes, great news! No need to do anything else on this matter.

If not, you can set it up [following this configuration](https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/enabling-features-for-your-repository/managing-github-actions-settings-for-a-repository#co

[2022-11-11 13:32] simi commented on #6051
@gabibguti, by `"restrictive" default workflow permission` do you mean `Read repository contents permission` option in `Workflow permissions` section of Actions settings?

[2022-11-11 13:39] gabibguti commented on #6051
@simi Yes! And the "Allow GitHub Actions to create and approve pull requests" can be unchecked. It should not be needed in this case.

[2022-11-11 20:48] #3296 closed

[2022-11-11 20:48] #5689 closed

[2022-11-11 20:59] ravron opened #6054 "Bundler hangs on resolving dependencies when a dependency does not support the current platform"
### Describe the problem as clearly as you can

When a dependency of a gem listed in the Gemfile does not support the current platform, bundler gets stuck in a loop attempting to re-resolve dependencies.

### Did you try upgrading rubygems & bundler?

Yes, I'm using bundler 2.3.25.

### Post steps to reproduce the problem

First, write the following files to an empty directory:

**Gemfile**
[code]

[2022-11-11 21:56] hsbt commented on #6051
I'll add `ossf/scorecards` action to this repo same as https://github.com/ruby/ruby/pull/6716

[2022-11-11 22:12] deivid-rodriguez commented on #6054
Interestingly and confusingly I just run your repro steps and I got the expected results :/

[code]

[2022-11-11 22:34] ravron commented on #6054
That's fascinating! I will try to figure out what might be different about my environment. Since it's happening inside a docker container, I'm not sure what it could be.

[2022-11-11 22:39] ravron commented on #6054
Oh, totally my mistake — I messed up the repro steps. I edited the original issue to include the correct Gemfile.lock. The key is the `PLATFORMS` section: the bug occurs if it contains `arm64-darwin-21`. If you run through the repro steps again (or just overwrite the Gemfile.lock, which is all I changed), you should be able to repro.

[2022-11-11 22:54] byteit101 opened #6056 "gem task/spec.to_ruby uses current platform, not spec.platform"
### Describe the problem as clearly as you can

This seems similar to https://github.com/rubygems/rubygems/issues/147 in that @platform and @original_platform differ, and original_platform is being used for spec.to_ruby.

When building with something that calls `spec.to_ruby`, the original platform is kept, and a gem with the suffix of the new platform is generated, but the manifest lists the inco

[2022-11-12 23:09] IND-GANG opened #6058 "Gem error"
### Describe the problem as clearly as you can

### Did you try upgrading rubygems & bundler?

### Post steps to reproduce the problem

### Which command did you run?

### What were you expecting to happen?

### What actually happened?

### If not included with the output of your command, run `bundle env` and paste the output below

[2022-11-13 08:59] #6058 closed

[2022-11-13 09:35] deivid-rodriguez commented on #6056
@byteit101 Thanks for reporting this! It seems that you digged quite a bit into this. Amazed how we can still get connections to issues from 2011 😲.

Do you have any suggestions to fix this, or even better, would you be willing to give it a try yourself?

[2022-11-13 09:37] deivid-rodriguez commented on #6056
Actually, is this as simple as changing `Gem::Specification#to_ruby` to use `#original_platform` instead of `#platform`?

[2022-11-13 11:52] byteit101 commented on #6056
I would have thought it was the reverse, as it uses original_platform today: https://github.com/rubygems/rubygems/blob/5e5aa1d6da6d1375ec2af87dadb99e23a28cba6f/lib/rubygems/specification.rb#L2478

[2022-11-15 20:31] rbrooks commented on #4234
Doesn't the `-19` suffix lock it down to Major OS ver (Catalina)? Everyone on your team will probably be experiencing unpredictable `bundle installs` on non-Catlina OSes, on Gems with native Binaries. I had to do this kind of thing in Gemfile.lock. Omit the numeric suffix:

[code]

Of course, do it via the `platform` commands; not editing Lock directly:

[code]

[2022-11-15 20:38] silverhammermba commented on #3250
I just ran into this issue on Windows, my problem was that I was quoting the credentials (thinking this was needed for my shell to interpret them correctly), but in fact it was passing the quotation marks on to the gem install. So it was telling me to CGI escape because it saw the `"` character.

So if anyone is running into this I recommend double checking how you are injecting the credentials an

[2022-11-15 20:49] Bo98 commented on #4234
Yes that's correct, and I too recommend omitting the numeric suffix in Bundler lockfiles, though that's a completely separate issue to what was discussed here.

The issue here is that the `arm64-darwin` version was _always_ used on a `universal-darwin` build of Ruby, even when running on x86_64. I made a fix for that which has been merged recently for Bundler (on `master`).

For RubyGems (`gem ins

[2022-11-17 19:04] megatux commented on #6028
If no one is working on this I can take a look 👁️ and build a PR

[2022-11-17 19:24] simi commented on #6028
feel free to @megatux, nobody is on this AFAIK

[2022-11-18 16:53] deivid-rodriguez commented on #6043
Hei! You're using an old version of Bundler, Ruby and RubyGems. It's likely that this is fixed in newer versions. I think your best chance is to upgrade Ruby, but you can also try upgrading RubyGems and Bundler (`gem update --system`). If you can still reproduce this using the latest versions, feel free to reopen this and I'll have a look. Thanks!

[2022-11-18 16:53] #6043 closed

[2022-11-18 16:55] deivid-rodriguez commented on #4234
As discussed, it's probably not worth fixing this in RubyGems, and @Bo98 provided us with a fix for Bundler, so I'm going to close this.

[2022-11-18 16:55] #4234 closed

[2022-11-18 17:43] YYAyad commented on #6043
Thank you, it worked

[2022-11-20 07:43] #6054 closed

[2022-11-20 21:08] technicalpickles commented on #3958
I was looking into https://github.com/mastodon/mastodon/issues/21151 and ran into this issue. I was looking at some other apps I have worked on, and they all do a variation of `find /usr/local/bundle/gems -name '*.o' -delete`.

I think it would be pretty beneficial to have a way to clean these. Maybe it could be an option that needs to be opted in on, and `bundle install --deployment` could do tha

[2022-11-20 22:08] simi commented on #3958
What about to make this option into mkmf somehow? That way author would be able to decide post-install actions.

[2022-11-25 09:44] Opti-kjh opened #6075 "error bundle install"
[bundle install.txt](https://github.com/rubygems/rubygems/files/10090467/bundle.install.txt)

[2022-11-25 09:48] Opti-kjh commented on #5981
The same phenomenon is happening to me.

[2022-11-25 10:00] hsbt commented on #6075
This is duplicate of https://github.com/rubygems/rubygems/issues/5981

@Opti-kjh Can you discuss about this on #5981? Thanks.

[2022-11-25 10:00] #6075 closed

[2022-11-25 12:23] 0x1eef opened #6078 "[proposal] don't inherit package's filesystem permissions when building a package"
Hello !

I would like to propose that the files belonging to a gem are created with the permissions 0644 (or 0744 for executables) rather than inheriting the permissions from a file as it exists on the packager's filesystem. The motivating reason is described [in this comment](https://github.com/rubygems/rubygems/pull/1041#issuecomment-1327114649) - in a loosely related issue.  My proposal is slig

[2022-11-26 20:09] wildaces215 opened #6079 "Having trouble with installing Rails on Ubuntu 22.10"
Fetching gem metadata from https://rubygems.org/...........
Resolving dependencies...
Following files may not be writable, so sudo is needed:
  /usr/share/rvm/gems/ruby-3.0.4
  /usr/share/rvm/gems/ruby-3.0.4/bin
  /usr/share/rvm/gems/ruby-3.0.4/bin
  /usr/share/rvm/gems/ruby-3.0.4/build_info
  /usr/share/rvm/gems/ruby-3.0.4/cache
  /usr/share/rvm/gems/ruby-3.0.4/doc
  /usr/share/rvm/gems/ruby-3.0.

[2022-11-26 20:11] synth commented on #2731
I'm building a Rails engine which has a dependency on another gem which hasn't published the latest version to rubygems. It is available on Github. How is this supposed to be handled?

[2022-11-26 20:14] simi commented on #6079
As mentioned you need to use `sudo` or install to other place (like home using `--user-install`). It seems you're using bundler (it is not clear which command you started, looking at backtrace it was kind of `bundle install`). You can specify other directory to install gems to. Feel free to try with following.

[code]

That will install gems into `vendor/bundle` directory (which is kind of unwritt

[2022-11-26 20:16] simi commented on #2731
@synth I'm not sure what problem do you face. You can make the gem listed in gemspec dependencies and then on app side you need to specify in Gemfile to use github repo `gem "abc", git: "..."`).

[2022-11-26 22:45] synth commented on #2731
@simi Thanks for your response. Ok, that sounds like a workaround, but it adds a slight burden to any application that adds the gem. If there are several such dependencies like this, the application needs to individually list them in their Gemfile. This seems to defeat the purpose of adding them as a gemspec dependency in the first place. The purpose of the gemspec dependencies is (in part) to rel

[2022-11-26 23:00] simi commented on #2731
@synth Yes, the key in here is to release the gem to be able to rely on released version.

[2022-11-26 23:16] synth commented on #2731
@simi This is sadly not always possible for a multitude of reasons. This results in either being blocked or forcing redundancy as I wrote about above.

[2022-11-27 01:00] indirect commented on #2731
I'm going to try to summarize this issue and the position of the RubyGems team here, for anyone who finds this issue later.

#### Gemspecs do not specify the the source of a dependency

In a gemspec, you can declare a gem name and version, as well as any dependencies of that gem. Dependencies can only be specified by name and version. The source could be RubyGems.org, the source could be a public

[2022-11-27 01:00] #2731 closed

[2022-11-27 10:37] deivid-rodriguez commented on #6079
I think your Ruby installation is messed up because RVM paths appear on the stack trace, but the Ruby executable lives in a Rbenv-owned path. I recommended completely removing RVM and the `gem-wrappers` gem and try again.

[2022-11-28 12:40] ianks commented on #3958
Ended up doing something similar to what @simi suggests for `rb_sys/mkmf` — https://github.com/oxidize-rb/rb-sys/blob/49f89667f3074f80381d8cd95cb0d8baec69ba00/gem/lib/rb_sys/mkmf.rb#L136

[2022-11-28 15:22] ojab opened #6082 "`bundler-2.3.26` removes `debug` gem dependecies on ruby-3.1.3"
### Describe the problem as clearly as you can

Given `Gemfile`
[code]
and generated `Gemfile.lock`
[code]
after updating ruby to 3.1.3 with corresponding `Gemfile` change, we're getting
[code]
after running `bundle`.
This shouldn't happen because `debug` has `irb` & `reline` in runtime deps and removal breaks `deployment true`:
[code]

$ bundle env
## Environment

[code]

## Bundler Build Metadat

[2022-11-28 15:44] rbclark commented on #6082
I'm running into this same issue as well. So far it seems no matter what I do it is currently impossible to get a functional lockfile on `3.1.3`. Since this is on a project that already is working fine on ruby `3.1.2`, I've tried:

- Deleting the `Gemfile.lock` and regenerating.
- Upgrading from our current bundler version `2.3.12` to `2.3.26`
- Reverting the `Gemfile.lock` to the one we currently

[2022-11-28 17:01] nickstanish commented on #6082
I found a way to manually repair Gemfile.lock to get it to work with deployment mode in 3.1.3:

- disable deployment mode temporarily: `$ bundle config unset --local deployment &&  bundle config unset --local path`
- upgrade to bundler `2.3.26`: `$ bundle update --bundler`
- include `irb` and `reline` in Gemfile and run `$ bundle install`, which should succeed
- add the missing lines under debug i

[2022-11-28 17:14] miharekar commented on #6082
This gems are now included in the system Ruby, so I don’t think this is incorrect behavior.

[2022-11-28 20:26] deivid-rodriguez commented on #6082
Hei! This issue is actually fixed in master, currently tracking down which specific change fixed it, and figuring out whether it should be backported or not.

[2022-11-28 21:02] deivid-rodriguez commented on #6082
This is actually a ruby-core issue.

The default `debug-1.6.3.gemspec` file that comes installed with Ruby 3.1.3 does not specify any dependencies. A workaround is to reinstall the debug gem manually (`gem install debug`) so that the gemspec is regenerated with the proper dependencies and Bundler can use that information.

The reason this works on master is just luck. In [this commit](https://gith

[2022-11-28 23:26] viktorianer commented on #4495
I am not sure, if I have the same issue, but in my case I am using GitHub actions, and bundle is not installing all gems I need.

In my workflow, I use `ruby/setup-ruby@v1` action, and it looks like this:

[code]

This action is installing per default all gems locally, in `vendor/cache`. As you can see in following comments, not all are happy with this https://github.com/ruby/setup-ruby/issues/153

[2022-11-29 12:41] deivid-rodriguez commented on #6082
I created #6085 to backport the fix to Bundler 2.3, together with a regression test.

I will now report the issue to ruby-core. From a quick first search for potential culprits, https://github.com/ruby/ruby/commit/a2c66f52f402cb58372e271226f3341065561e53 sounds like a likely candidate.

[2022-11-29 12:57] deivid-rodriguez commented on #6082
Reported to ruby-core as https://bugs.ruby-lang.org/issues/19158.

[2022-11-30 05:05] jdempcy commented on #5234
I still get this when e.g. doing rake db:migrate. Have tried everything in the thread here.

[code]

[2022-11-30 05:25] RULFEEN opened #6089 "Bundler Error on Windows"
--- ERROR REPORT TEMPLATE -------------------------------------------------------
# Error Report NB: I don't know if this is the right error to post.

## Questions

Please fill out answers to these questions, it'll help us figure out
why things are going wrong.

- **What did you do?**

  I ran the command `C:/Ruby31-x64/bin/bundle install`

- **What did you expect to happen?**

  I expected Bundle

[2022-11-30 07:24] hsbt commented on #6082
@deivid-rodriguez Thanks for your investigation.

[2022-11-30 11:05] deivid-rodriguez commented on #5234
What's the result of `bundle -v` and `bundle info thor`?