[2021-01-25 15:44] raulpopadineti commented on #4280
This is still failing for me after locking the `ruby` platform in my lockfile.

[Here's the gist](https://gist.github.com/raulpopadineti/a44932909c59b67aec093c212cb699f3) for my Gemfile.lock.

Any other things I could try to make the deploy work?

[2021-01-25 16:35] raulpopadineti commented on #4280
Actually, scratch my last comment. It turns out I wasn't able to deploy due to some issues with the `bootsnap` gem that was fixed once I upgraded it to the latest version.

All is good! Thanks @schneems!!  🍻

[2021-01-25 17:37] deivid-rodriguez commented on #4261
@darix Could you try #4317?

[2021-01-25 17:51] Spoutnik97 opened #4318 "Bundle install failed"
# Error Report

## Questions

Please fill out answers to these questions, it'll help us figure out
why things are going wrong.

- **What did you do?**

  I ran the command `/Users/me/.rvm/gems/ruby-2.6.6/bin/bundle install`

- **What did you expect to happen?**

  I expected Bundler to install my gems

- **What happened instead?**

  Instead, what happened was I had an error : `Unfortunately, an u

[2021-01-25 18:12] deivid-rodriguez commented on #4318
Although it doesn't seem like the same situation, this same error was fixed at https://github.com/rubygems/rubygems/pull/4175, so you might want to upgrade to the latest bundler version and see if that fixes the issue.

[2021-01-25 18:53] darix commented on #4261
So hacking on the last bits of the integration with our gem2rpm fork.

[code]

what is the correct way to find out if the current gem has a plugin?

[2021-01-25 18:57] deivid-rodriguez commented on #4261
Plugins are not registered in the gem specification explicitly, you need to look for requirable files named `rubygems_plugin.rb`.

[2021-01-25 19:02] darix commented on #4261
so why is plugins filled in your PR?

[2021-01-25 19:09] deivid-rodriguez commented on #4261
Right! I added this helper to `Gem::BasicSpecification`

https://github.com/rubygems/rubygems/blob/b5a113c040a1820a9f0fdd9a11965e695939e2be/lib/rubygems/basic_specification.rb#L278-L285

But I think it only works if the specification is installed.

[2021-01-25 19:12] deivid-rodriguez commented on #4261
I guess that could be fixed though.

[2021-01-25 19:13] darix commented on #4261
it would really be helpful :)

[2021-01-25 19:29] darix commented on #4261
[code]

would that be a good enough workaround?

[2021-01-25 20:14] deivid-rodriguez commented on #4261
I think you want

[code]

Otherwise you might mistake any file ending with `_plugin.rb` as a rubygems plugin.

[2021-01-25 20:18] darix commented on #4261
you probably mean?

[code]

[2021-01-25 20:19] deivid-rodriguez commented on #4261
Yes, that.

[2021-01-25 20:40] darix commented on #4261
as an unrelated note ... has_rdoc should have been gone since a whilte ... maybe the expiry should be merged with has_rdoc? (FWIW: one of the 2 functions is really helpful for packaging tools like gem2rpm.) has_plugins? would also be a nice way. but we can hack that in easily.

[2021-01-25 20:59] deivid-rodriguez commented on #4261
Is one of them not deprecated or something? How are those helpful to you? Note that as far as I understand, this attribute doesn't mean that the gem includes docs, but that could potentially include them, so it's always true these days.

[2021-01-25 21:19] darix commented on #4261
has_rdoc says it should have been removed in 2018 :D

and we took them as indicator that it has documentation and the we create a subpackage for documentation. it might be we put the wrong assumptions when we started using those functions.

[2021-01-25 21:20] maboelnour commented on #2475
Any updates relating this issue?

[2021-01-25 21:57] deivid-rodriguez commented on #4261
I think fixed that a while ago, now it should say that it will be removed in rubygems 4.

I see, yeah, that might be a wrong assumption, I think it's better to look for documentation files inside the gem.

[2021-01-26 11:50] vinicius0197 commented on #3321
@deivid-rodriguez Hm, got it. So we would omit the `Make sure that gem install .... succeeds before bundling.` message from the bundler output altogether?

[2021-01-26 12:01] deivid-rodriguez commented on #3321
Yes, in my option we should omit that message from the output, and also print the backtrace unconditionally by removing the `if Bundler.ui.debug?` from https://github.com/rubygems/rubygems/blob/a969c0f16aa56cdb69e2a051f2b093427010e1d9/bundler/lib/bundler/installer/gem_installer.rb#L34.

@simi How do you feel about that?

[2021-01-26 12:29] bquorning commented on #4275
In my project, `bundle check` increased from 0.55 seconds in Bundler v2.2.2 to around 7.0 seconds using Bundler v2.2.3–v2.2.6.

Using master branch (b5a113c040a1820a9f0fdd9a11965e695939e2be, after #4289 was merged) `bundle check` still takes around 7.0 seconds.

Using 9c12e5f8c4da1089ecdf4b9ea8bbce9385c053c9 I can run `bundle check` in 0.44 seconds 🎉

[2021-01-26 12:32] deivid-rodriguez commented on #4275
Yes, in the end I split out the fix for this issue from #4289, that's why this issue remained opened. The reason is that it caused some performance decrease in other cases. I'm currently working on this and hope to get this fixed by the end of the week.

[2021-01-26 15:54] darix commented on #4261
just curious what is the procedure for making sure that this PR will be also moved to 3.0.1?

[2021-01-26 16:35] luke-hill opened #4319 "bundle update --conservative performs several un-necessary updates (Including MAJORS)"
### Describe the problem as clearly as you can

Running `bundle update --conservative` on my gemfile performs an un-necessary major version update to a dependent gem.

### Post steps to reproduce the problem

Gemfile
[code]

Gemfile.lock
[code]

### Which command did you run?

`bundle update --conservative`

### What were you expecting to happen?

All gems in my gemfile to be updated, all dependen

[2021-01-26 20:23] #4261 closed

[2021-01-26 20:28] deivid-rodriguez commented on #4261
That's up to @hsbt. I'm not sure if this PR will make it though since I think we're quite close to ruby 3.0.1.

[2021-01-27 00:40] darix commented on #4261
our package already has your PR as a patch inside. so I am quite happy. and the code in our rubygems automation is done as well so now i just need all ruby packages in the distro to be 3.0 ready to drop 2.7 :D

[2021-01-27 01:14] JetForMe opened #4321 "Updating gems, got No such file or directory @ rb_sysopen - /usr/local/lib/ruby/gems/3.0.0/specifications/sass-3.7.4.gemspec"
# Error Report

## Questions

Please fill out answers to these questions, it'll help us figure out
why things are going wrong.

- **What did you do?**

  I ran the command `/usr/local/opt/ruby/bin/bundle install --force`

- **What did you expect to happen?**

  I expected Bundler to reinstall all my dependencies, because I'm getting an error
  running jekyll:

[code]

- **What happened instead?**

[2021-01-27 01:15] hsbt commented on #4321
You can fix it to add `rexml` to your Gemfile. It's the issue of kramdown dependencies.

[2021-01-27 01:15] #4321 closed

[2021-01-27 02:50] JetForMe commented on #4321
Huh. I have another jekyll site using a different template, and it also uses Kramdown, but doesn't have any issues. I added `gem 'rexml'` to my Gemfile, and now it complains about `webrick`. So I added that, and that seemed to fix it. What is this "issue of kramdown dependencies?" I couldn't find much googling it.

[2021-01-27 02:57] hsbt commented on #4321
see https://github.com/gettalong/kramdown/pull/638

At least, This is not rubygems or bundler issues.

[2021-01-27 03:11] JetForMe commented on #4321
Thanks for the help. That issue is a year old, I wish they'd fix it. Anyway, thanks, you got me going again!

[2021-01-27 10:38] deivid-rodriguez commented on #3022
We changed deprecations to no longer mention dates, and our release task will block a rubygems 4 release if we haven't dropped all these methods. That seems enough to close this ticket I guess?

[2021-01-27 10:40] deivid-rodriguez commented on #3335
Closing in favour of #4319.

[2021-01-27 10:40] #3335 closed

[2021-01-27 10:44] deivid-rodriguez commented on #4319
Hi @luke-hill! Thanks for reporting this issue!

I totally agree with your expectations. The `--conservative` option should be... well, conservative.

I looked at the `--conservative` documentation and it seems that the current behaviour is somehow _expected_? Apparently what it's supposed to do is only to avoid updating transitive dependencies if they are also transitive dependencies of another t

[2021-01-27 16:37] gitgonewithwind opened #4323 "can not install ruby gems code in yocto imx board-maaxboard(compile ruby code in board failed)"
hi all:

I think this is a yocto image in board compilation issue.

we need to run ruby code in my board, we can compile my ruby code with rake,

but we can not install it with gem.

I do not know what libs I need to add to my local.conf , I have added  something in it:

36 IMAGE_INSTALL_append +=" openssl libcrypto packagegroup-core-buildessential udev jpeg-tools jpeg \

37 kernel-devsrc kernel-m

[2021-01-27 17:40] deivid-rodriguez commented on #4323
Hi @gitgonewithwind.This issue is very hard to read, but it sounds you're missing some OS packages to be able to install `eventmachine`.Probably `sudo apt-get install ruby-dev` will do the trick for you.

If it does not, please open a separate issue making sure that you answer the all questions in the issue template and properly format the error messages using markdown so that they are easy to rea

[2021-01-27 17:40] #4323 closed

[2021-01-27 19:26] electronicbites commented on #3551
Why was this ticket closed? I am having still having big problems with this issue.

[2021-01-27 21:16] Roald87 commented on #2253
I just enabled IPv6 again and `gem install bundler` worked without issues. Maybe it cached the IPv4 address somewhere?

[2021-01-27 21:24] deivid-rodriguez commented on #2253
I don't know, maybe. Have You tried turning it off and on again? :sweat_smile:

This issue is hard to repro :( Thanks for trying anyways!

[2021-01-27 22:59] KevinColemanInc opened #4324 "FEATURE REQUEST: Fetch, but do not install (avoid RCE)"
### Describe the problem as clearly as you can

There is no way to safely fetch ruby gems and their dependencies without executing `extconf.rb`. Malicious code can be run in `extconf.rb` ([example exploit](https://github.com/KevinColemanInc/gemsploit/blob/master/ext/sploit/extconf.rb)), merely by running `bundle install.` There is no way to pull down the code, auditing it for attacks, and then ins

[2021-01-28 01:03] owst opened #4325 "Error "Could not find gem" for --without group dependency with 3.1.6"
Running `bundle install --without development test` and then `bundle exec rake` fails due to a missing dependency of a gem in a group that was excluded by `--without`.

With these versions:

Ruby 2.7.2
rubygems 3.1.6
bundler 1.17.3

and this simplified directory structure:

[code]

Where `app/Gemfile` contains:
[code]
`app/Rakefile` is trivial:
[code]

and `gems/gem_one/gem_one.gemspec` contains:

[2021-01-28 01:37] hsbt commented on #4324
I'm +1 to this feature request. But we should discuss the details of this feature. Ex. How investigate the vulnerability after `bundle fetch` in local machine?

[2021-01-28 01:51] KevinColemanInc commented on #4324
I wrote [lib-scanner](https://github.com/KevinColemanInc/lib-scanner). You can use it to generate a CSV report of suspicious code in your rubygems folder.

You can see the list of regexes here I use to search the repo:
https://github.com/KevinColemanInc/lib-scanner/blob/main/src/handle/ruby.go#L53-L89

I'm open for ideas or collaboration on how to improve it. I wrote this in golang b/c I want it t

[2021-01-28 06:45] tommeier commented on #4325
Getting this also - with bundler 2.2.7 and rubygems 3.1.6 - originally thought it was bundler related till seeing this issue - thanks 🙏

[2021-01-28 09:53] owst commented on #4325
I tried a few version combinations:

 | Ruby  | rubygems | bundler | outcome               |
 | ----- | -------- | ------- | --------------------- |
  | 2.6.6 | 3.0.9    | 1.17.3  | ✅ no failure         |
 | 2.7.2 | 3.0.9    | 1.17.3  | ❌ fails, deadlock, recursive locking on `bundle install` |
 | 2.6.6 | 3.1.6    | 1.17.3  | ❌ fails, Could not find gem |
  | 2.7.2 | 3.1.6    | 1.17.3  | ❌ fails,

[2021-01-28 09:57] deivid-rodriguez commented on #4325
Maintenance of older series is done by @hsbt on a best effort basis, but there's no guarantee whatsoever that anything will be backported to 3.1.x, and my recommendation is to upgrade to the latest version if you're having issues. That said, you're free to pinpoint the exact change that fixed this, knowing what to backport certainly increases the chances of it being backported.

In any case, closi

[2021-01-28 09:57] #4325 closed

[2021-01-28 09:58] deivid-rodriguez commented on #4325
Thanks for your always easy to repro reports, by the way!

[2021-01-28 09:59] hsbt commented on #4325
I also recommend to not downgrade rubygems and bundler versions from bundled versions of Ruby 2.7.

[2021-01-28 10:01] deivid-rodriguez commented on #4324
I think `bundle cache --no-install` does what you want?

[2021-01-28 10:06] deivid-rodriguez commented on #4283
Closing since this is fixed in recent versions and there was no further feedback.

[2021-01-28 10:06] #4283 closed

[2021-01-28 10:07] deivid-rodriguez commented on #4264
I'll close this since we plan to do this, but by default, and I got no further feedback here.

[2021-01-28 10:07] #4264 closed

[2021-01-28 10:12] owst commented on #4325
Thanks for the quick responses.

It's definitely not ideal that we're using old versions! We're in the process of upgrading from Ruby 2.6, rubygems 3.0 and Bundler 1.17 right now (hence my two recent rubygems issue reports) - we fix the various versions for consistency across our team. I was hoping to not have to do an "all in one" upgrade of the three versions just to minimise the number and size

[2021-01-28 10:34] #3912 closed

[2021-01-28 12:36] voxik opened #4326 "`gem info` output encoding issues"
It was brought to my attention that `gem info Ascii85` provides truncated output [[1]]:

[code]

The output is truncated, because there seems to be some encoding issue. Trying the same with `less`, the output contains:

[code]

It seems that this was issue for Ascii85 1.0.2, while the version 1.0.3+ provides correct output. So this looks there used to be some issue during `gem build`, which is pro

[2021-01-29 00:14] KevinColemanInc commented on #4324
Ooo I was running an old version of bundler which didn't have that feature. When I updated, it was able to download the gems without installing them, but it doesn't unpack them which is a little annoying. Thanks for your help!

[2021-01-29 00:14] #4324 closed

[2021-01-29 09:33] #4275 closed

[2021-01-29 13:32] vfonic opened #4329 "`gem help` doesn't list `gem push` as one of the available commands"
I was trying to publish a new gem to rubygems. I ran `gem help` and didn't get any relevant documentation printed.

I also tried `gem publish`, but that didn't work as it doesn't exist.

This issue is related to:

  - [x] Publishing a library

Here are my current environment details:

[code]

I will abide by the [code of conduct](https://github.com/rubygems/rubygems/blob/master/CODE_OF_CONDUCT.md)

[2021-01-29 13:47] deivid-rodriguez commented on #4329
I think gem publishing is important enough so that at least the list of examples `gem help` gives includes it :+1:. Or, alternative, show an exhaustive list of commands when `gem help` is run.

The current output includes:

[code]

and if you run that, you'll get `gem push` documented there.

But not everybody will read this as proved by this issue, so there's definitely room for improvement here.

[2021-01-29 14:02] vfonic commented on #4329
I totally missed that. :)

Now I just ran `<command> help` or `<command> --help` for all of these: `heroku`, `npm`, `yarn`, `brew`, `foreman`.

`heroku`, `npm`, `yarn`, and `foreman` list all available commands, while `brew` does something similar to `gem`.

Here's what both of them output for comparison:

<details>

<summary>
`brew help` output
</summary>

[code]

</details>

<details>

<summary>

[2021-01-29 14:06] deivid-rodriguez commented on #4329
Yeah, and it also doesn't require a whole rework of the `gem help` output :+1:

[2021-01-29 15:21] eregon opened #4330 "Bundler 2.2.7 installs binary gems on TruffleRuby, even though Gem.platforms = [Gem::Platform::RUBY]"
### Describe the problem as clearly as you can

Bundler 2.2.7 installs binary gems on TruffleRuby, even though TruffleRuby sets `Gem.platforms = [Gem::Platform::RUBY]` in https://github.com/oracle/truffleruby/blob/15ab61bd57a9e6c30b5c58ccd544e04e7e275e8d/lib/truffle/rubygems/defaults/truffleruby.rb#L20-L23

### Post steps to reproduce the problem

With Gemfile
[code]

and latest TruffleRuby (truff

[2021-01-29 15:24] deivid-rodriguez commented on #4330
Thanks for the report @eregon, I'll fix this next week.

[2021-01-29 15:28] deivid-rodriguez commented on #4330
In case you get some reports before I fix this and want to provide a workaround, `bundle config set --local force_ruby_platform true` should do the trick I believe.

[2021-01-29 15:32] eregon commented on #4330
Thank you, I can confirm the workaround works:
[code]

[2021-01-30 00:19] nerdrew opened #4331 "Bundler 2.2.7 seems to generate a broken `bundler/setup.rb` when installed with `--standalone`"
### Describe the problem as clearly as you can

`bundle install --standalone` seems to generate a broken `bundler/setup.rb` file.

### Post steps to reproduce the problem

Repo that shows the issue: https://github.com/nerdrew/bundler-require-bug

### Which command did you run?

[code]

### What were you expecting to happen?

The `bundle/bundler/setup.rb` file shouldn't break `Bundler.require`.

##

[2021-01-30 00:26] cheister commented on #4331
Seems to be caused by https://github.com/rubygems/rubygems/pull/4299

[2021-01-30 17:50] vinicius0197 commented on #3321
@deivid-rodriguez All right. To conform with the contributing guideline, I'm trying to write some tests for my changes, but I'm still a bit confused about how tests work on the RubyGems repo. How would I go about running a single test file on `bundler/spec` ? Running `rspec path/to/file` just gives me lots of errors. Don't know if there's some Rake command that I should use instead?

[2021-02-01 09:16] deivid-rodriguez commented on #4331
Right, I completely missed that the PR set the wrong visibility for `require`. @aaronjensen would you be able to fix this?

[2021-02-01 09:29] deivid-rodriguez commented on #3321
Hei @vinicius0197, right now you need to switch to the `bundler` folder to run bundler specs. We can probably improve this so that you don't need to swich folders and you can run rspec directly from the root of the repository like you tried. But for now, `cd bundler`, and then `bin/rspec path/to/file`.

[2021-02-01 11:43] deivid-rodriguez commented on #4125
@haines Are you still planning to work on this?

[2021-02-01 12:34] haines commented on #4125
Yep, I'll take a look!

[2021-02-01 13:57] haines commented on #4125
@deivid-rodriguez I've opened #4336 - from the subset of specs that I've run locally, it looks like removing the special treatment of `force_ruby_platform` in the definition is sufficient. Hopefully CI agrees 😅

[2021-02-01 14:12] aaronjensen commented on #4331
I couldn't figure out why the original code was written to be uncertain of method visibility, but it seems that the module method and the instance method have two different visibilities. I didn't catch this because I don't use `Bundler.require` with standalone.

Fixed: https://github.com/rubygems/rubygems/pull/4337

[2021-02-01 14:15] deivid-rodriguez commented on #4331
Thanks @aaronjensen!

I think this code is overly complicated. It's coded as a generic tool to monkeypatch methods where in reality it's only meant to be used as a hack to monkeypatch 2 or 3 rubygems methods. I think a more explicit approach would've avoided this bug, so I'll refactor it to do just that after I merge your fix.

Thanks so much for your work :muscle:.

[2021-02-01 14:30] aaronjensen commented on #4331
Refactor away. It was based on `Bundler::RubygemsIntegration` which is even more complicated. The version we used in our codebase was just:

[code]

That gives warnings though. I think you need all the steps. As I believe I said before, it'd be nice for rubygems to expose a method to undo its monkey patches. That way `Bundler::RubygemsIntegration` and this could use that.

[2021-02-01 14:40] deivid-rodriguez commented on #4331
Yes, I meant the `RubygemsIntegration` code that's too complicated. I know you based your code on that, that why I believe if that code had been more straightforward, the issue probably wouldn't have happened.

Agreed, but we also need bundler to backport the code so that bundler works with all rubygems versions, so in the end we may end up with more duplicated code :grimacing:. Worth a try though

[2021-02-01 14:55] aaronjensen commented on #4331
Ah, good point, though eventually you'd be able to get rid of the duplicate code. In any case, good luck w/ the refactor.

[2021-02-01 19:27] #4331 closed

[2021-02-02 08:07] codeblooded opened #4338 "Gems installing at incorrect versions: undefined method `request' for nil:NilClass"
I'm having a problem or would like to suggest a feature.

My current problem is an inability to install gems at a specific version. I am running Ruby 3.0.0 on 13" Macbook Pro (Apple Silicon, M1) using a Terminal with Rosetta. rbenv was installed with homebrew, ruby was installed with rbenv, ruby gems was updated using `gem update --system`.

This issue is related to:

  - [ ] Network problems
  -

[2021-02-02 08:11] codeblooded commented on #4338
I can confirm the installation works fine with ruby 2.7.2p137 (2020-10-01 revision 5445e04352) [x86_64-darwin20], so this appears to only be an issue with ruby gems and ruby 3.

[2021-02-02 09:21] deivid-rodriguez commented on #4338
I can confirm this issue.

The underlying error is that `cocoapods-generate` at version 2.2.1 cannot be installed on ruby 3, because it depends on `cocoapods-disable-podfile-validations ~> 0.1.1`,and the only version of `cocoapods-disable-podfile-validations` satisfying that (0.1.1) needs ruby ~> 2.1.

The problem here is that rubygems is unable to properly explain this and crashes instead.

[2021-02-02 11:47] isabellecochrane opened #4339 "Unexpected error, Bundler cannot continue"
When trying to run
$ rails new blog
it tells me there
$ conflict  .gitignore

Then continues to run but this error stops it
Could not find gem 'sqlite3 (~> 1.4)' in any of the gem sources listed in your Gemfile.

I have got sqlite 2.24.0

[2021-02-02 12:32] deivid-rodriguez commented on #4278
Closing due to lack of feedback.

[2021-02-02 12:32] #4278 closed

[2021-02-02 16:50] infa-jowoods opened #4341 "Gem triggers a Kernel Panic in macOS Catalina or Big Sur, up to 11.2."
I'm having a **problem**.

My current problem is I can trigger a Kernel Panic in macOS Catalina or Big Sur, up to 11.2, only after using gem and then *rebooting*.

i.e.

1) Boot macOS 11.2
2) Install Ruby via hombrew and run a gem command like `gem update`
3) reboot and see Kernel Panic.
4) Occurs on Intel and ARM64 (Apple Silicon)

I reported here: https://apple.stackexchange.com/questions/412584

[2021-02-02 17:14] estani opened #4342 "feture request: show Changelog of bundles"
### Describe the problem as clearly as you can

It would be great to have the option to show the `CHANGELOG` of a bundle.

### Post steps to reproduce the problem

Probably most of us call `bundle outdated --strict` on a regular basis to find what got changed.
Then go to their repo and check for `CHANGELOG*`  file and skim to see what was added since the installed version.

This could be automated

[2021-02-02 19:45] deivid-rodriguez commented on #4342
Hi @estani. That sounds like a super useful feature, indeed!

However, It sounds quite tricky to implement, with a lot of edge cases. Maybe it's better to start it off as a plugin. I think [dependabot](https://github.com/dependabot/dependabot-core) already has logic to do this, we could find it and borrow some of it

[2021-02-02 19:52] deivid-rodriguez commented on #4341
Hei @infa-jowoods, I'm sorry you're having issues :(

We got another [MacOS specific issue reported](https://github.com/rubygems/rubygems/issues/4234), not sure if it could be related. I'd say no because it only happens with system ruby as far as I recall and nobody has reported your symptoms.

Anyways, hopefully other contributors can shed some light, I don't have a MacOS machine available and ha

[2021-02-02 20:24] deivid-rodriguez commented on #4339
Hi @isabellecochrane!

Unfortunately we need more information to be able to help you. Could you copy the full logs of the error since the moment you run `rails new blog`? Use [markdown](https://guides.github.com/features/mastering-markdown/) to format it so it's easier for us to read.

Thanks!

[2021-02-02 20:24] deivid-rodriguez commented on #4305
Closing due to lack of feedback.

[2021-02-02 20:24] #4305 closed

[2021-02-02 20:29] deivid-rodriguez commented on #4338
Fixing this issue is more complicated than it seems. To show proper explanation for resolution errors like this, we need to add the current ruby (and rubygems) version as metadata dependencies to the resolution (like bundler does), so that when conflicts happen, they make sense and can explain the error to the user.

In #4110 I implemented a very basic approach of filtering out specs not matching

[2021-02-02 20:31] deivid-rodriguez commented on #4326
This one is tricky, because in general unicode characters in authors, descriptions and so on should be fine. It's just this particular character that messes things up. I guess we can special case it, so `gem info` never aborts abruptly like that.

[2021-02-02 22:19] simi commented on #4342
:information_source: It should be possible to get output of `bundle outdated` and combine with changelog finder/parser at https://github.com/dependabot/dependabot-core/tree/main/common/lib/dependabot/metadata_finders.

[2021-02-03 09:58] #4125 closed

[2021-02-04 09:57] kmeaw commented on #2374
@jief666, SSL/TLS provides not only encryption, but also authenticates the content.
If there were no integrity check, then a malicious actor could change the contents of a gem in transit you are installing from rubygems, possibly gaining remote control of your systems.

[2021-02-04 10:39] jief666 commented on #2374
Ok, right. Thanks for explanation.

[2021-02-04 12:22] #4330 closed

[2021-02-04 12:52] troy2troy opened #4345 "Thanks for opening a pull request and helping make RubyGems and Bundler better! Someone from the RubyGems team will take a look at your pull request shortly and leave any feedback. Please make sure that your pull request has tests for any changes or added functionality."
Thanks for opening a pull request and helping make RubyGems and Bundler better! Someone from the RubyGems team will take a look at your pull request shortly and leave any feedback. Please make sure that your pull request has tests for any changes or added functionality.

We use GitHub Actions to test and make sure your change works functionally and uses acceptable conventions, you can review the c

[2021-02-04 12:58] troy2troy commented on #4345
8476dc7d27cbb8100aab5a174a775427ca3b1340

I'm not sure what an email handle does. But this handle is incorrect. Someone has been stalking my job. AND THEY THINK THEY CAN TAKE MY STUFF. PAPERDOLL314 WAS MY EMAIL SHIT IT DOWN OR DISCONNECT ANYTHING TO DO W THAT HANDLE OF EMAIL PLEASE

[2021-02-04 13:00] troy2troy opened #4346 "8476dc7d27cbb8100aab5a174a775427ca3b1340"
8476dc7d27cbb8100aab5a174a775427ca3b1340

I'm not sure what an email handle does. But this handle is incorrect. Someone has been stalking my job. AND THEY THINK THEY CAN TAKE MY STUFF. PAPERDOLL314 WAS MY EMAIL SHIT IT DOWN OR DISCONNECT ANYTHING TO DO W THAT HANDLE OF EMAIL PLEASE

_Originally posted by @troy2troy in https://github.com/rubygems/rubygems/issues/4345#issuecomment-773285844_

[2021-02-04 13:01] troy2troy commented on #4346
`[](url)`https://github.com/rubygems/rubygems/issues/4345#issuecomment-773285844 paperdl314 should be cut off asap. The person who g has the handle on this email is stealing my stuff.

[2021-02-04 13:05] #4346 closed

[2021-02-04 14:49] bfeller opened #4349 "Unique SSL issue "unexpected message""
My current problem is when I try to install gems I get:
[code]

I was able to make it work with a brew install ruby. But when I try to use a ruby manager (I tried RVM and rbenv) I get the error.

I've also tried the whole LibreSSL thing
[code]

I guess the most confusing part of all this is the "unexpected message" part. I can't find any other reference to that besides the StackOverflow I created.

[2021-02-04 14:55] thuquynhpham opened #4350 "Error installing appium_lib"
I have a trouble install appium_lib: `gem install -n /usr/local/bin appium_lib`

it returns errors:
[code]

[2021-02-04 14:57] bfeller commented on #4349
Here's the SSL checker response if that helps:
[code]

[2021-02-04 15:30] simi commented on #4350
Hello @thuquynhpham, this problem seems not related to RubyGems in general, but it is more scoped to related gem which fails the installation during native extension compilation.

I would suggest to check issue tracker of https://github.com/faye/websocket-driver-ruby if not already reported (or solved) in there and consider opening new issue in there with your problem.

[2021-02-04 15:40] simi commented on #4349
@bfeller I remember there were some tweaks done recently in RG. Can you try to update to latest RubyGems (`gem update --system`) and run the ssl check again?

[2021-02-04 16:38] bfeller commented on #4349
@simi It doesn't work:
[code]

[2021-02-04 16:39] MSP-Greg commented on #4349
@bfeller

I believe that the line (and the code behind it):
[code]
indicates that Ruby cannot establish an ssl connection to RubyGems.org, and that's only using code from net/http.  So, something is amiss with the Ruby install, but I'm not sure what...

Dos the following code run?
[code]

[2021-02-04 16:41] bfeller commented on #4349
@MSP-Greg It sure does
[code]

[2021-02-04 16:43] MSP-Greg commented on #4349
Ok.  Ruby is probably ok.  What happens if you run the above with rubygems.org as an argument?

[2021-02-04 16:45] bfeller commented on #4349
@MSP-Greg
[code]

Well like I said above, it has something to do with the way the ruby managers work because if I remove RVM and use a ruby version from something like

[code]

That will work.
So I initially thought it was something to do with RVM so I switched to rbenv which should be using the brew openssl instead having its own thing like RVM. But I got the same error with rbenv.

[2021-02-04 16:52] bfeller commented on #4349
I've also done this setup more than a few times before, it's not my first rodeo. So my suspicion lies with potentially the LibreSSL or the latest version of OSX. I've upgraded other machines to this version on OSX but I've never done a clean setup on this version.

[2021-02-04 17:24] MSP-Greg commented on #4349
@bfeller

Sorry, I focused on the OpenSSL error.  I think RubyGems/Bundler loads some additional certs, but net/http just uses the system certs.  RG 3.0.9 is kind of old.  I'm not much help on particulars of macOS, rvm, certs, etc...

[2021-02-04 17:31] bfeller commented on #4349
Is there a way to manually grab the new rubygems version?

[2021-02-04 17:35] MSP-Greg commented on #4349
Yes.  Download it from the RubyGems web site with your browser, the newest version is:
https://rubygems.org/downloads/rubygems-update-3.2.8.gem

Use `gem install <path-to-download>`, then run the bin file `update_rubygems`.

I think...

[2021-02-04 17:40] bfeller commented on #4349
Whoa, the plot thickens...
[code]

[2021-02-04 17:42] simi commented on #4349
@bfeller you need to download https://rubygems.org/downloads/rubygems-update-3.2.8.gem and keep the name "rubygems-update-3.2.8.gem" (it should have gem extension).

[2021-02-04 17:44] bfeller commented on #4349
@simi
oof, derrr, but also still
[code]

[2021-02-04 17:47] simi commented on #4349
@bfeller I'm not sure what's wrong, but it should not do any request. Can you try to specify full path to the file? You can also try using `--local` flag (`gem instal --local rubygems-update-3.2.8.gem`).

[2021-02-04 17:55] bfeller commented on #4349
adding the --local flag seemed to work

[code]

but then...

[code]

and also the original error persists when trying to install gems...

This is hurting my brain.

I didn't change directories..

Thank you guys so much for your help with this, I know that its weird and may or may not even be rubygems.

[2021-02-04 17:57] simi commented on #4349
you need to run `update_rubygems` after installation

[2021-02-04 17:59] simi commented on #4349
Also you can do really manual installation as described at https://rubygems.org/pages/download if that doesn't work as well.

[2021-02-04 18:08] bfeller commented on #4349
Okay, things are fixed now:

I had done the manual installation before from [https://rubygems.org/pages/download](https://rubygems.org/pages/download) but manually downloading the gem and installing it with:

[code]
and then running the ```update_rubygems``` file fixed the issue.

Everything works now and it must've been some horrible issue between 3.0.9 and Big Sur, or I did something silly along

[2021-02-04 18:08] #4349 closed

[2021-02-04 18:16] simi commented on #4349
@bfeller glad this is fixed now. It would be great to update guide at https://guides.rubygems.org/ssl-certificate-update/ somehow, with steps to manually update to latest gem at least.

[2021-02-04 20:14] CodingAnarchy opened #4352 "JRuby use of gemspec fails"
### Describe the problem as clearly as you can

When trying to run tests on a gem we are building in-house, we discovered that the platform order we run `bundle install` on matters.

If we use local development in JRuby (setting the platform to `java` in the gemspec), `bundle install` produces this output for our local gem:

[code]

But if we run `bundle install` on the MRI-based platform, the out

[2021-02-04 20:23] deivid-rodriguez commented on #4352
Hello @CodingAnarchy :wave:!

This is essentially a duplicate of https://github.com/rubygems/rubygems/issues/3231, which as you can see in the last message, I was hoping to fix exactly as you expect, but I completely forgot :sweat_smile:.

In any case, even if I manage to fix this, you'll still get source control changes in the lockfile depending on where you bundle. This is obviously much better

[2021-02-04 20:41] CodingAnarchy commented on #4352
@deivid-rodriguez Thanks for the suggestion. Can you clarify if I would need to change the `Gemfile` for that to work?

[2021-02-04 20:50] deivid-rodriguez commented on #4352
No, I don't think you need to change your Gemfile, since the `path:` source automatically globs for `.gemspec` files in the target directory.

[2021-02-04 21:11] CodingAnarchy commented on #4352
Thanks a lot! I will go ahead and close this as the root issue is already identified in #3231, and the multiple gemspec files seems to have solved the problem we are facing. Thanks again!

[2021-02-04 21:11] #4352 closed

[2021-02-04 21:17] dbelloGitHub opened #4353 "ThreadError can't create Thread: Resource temporarily unavailable"
Same problem as Issue 3217 while creating a new site with Jekyll.
To fix, I was intent to clear all Ruby Apps from CPanel and Setup new App from scratch, entering to virtual environment from Terminal

[code]

then
[code]
no problem

[code]

Then, this command not run completely:
[code]
nor
[code]

Then create a site, but with this error:

[code]

--- ERROR REPORT TEMPLATE -------------------------

[2021-02-05 07:59] deivid-rodriguez commented on #4353
Could you remove all `Bundler:` prefixes so that the markdown of our bug report template renders fine? Thanks!

[2021-02-05 08:00] deivid-rodriguez commented on #4352
Great, thanks!

[2021-02-05 09:15] thuquynhpham commented on #4350
thanks, I have raised the issue in https://github.com/faye/websocket-driver-ruby/issues/78

[2021-02-05 09:52] simi commented on #4350
@thuquynhpham nice. Can we close this issue now? It would be still possible to reopen at any time if you'll find anything wrong in RubyGems itself later.

[2021-02-05 14:41] tijcolem commented on #2469
I just hit this as `Gem::Specification.add_spec` was removed in 2.7.2. The deprecation warning indicated 3.0, but I guess it came early or I misunderstood it.

The workaround I found was using [dirs=](https://github.com/ruby/ruby/blob/master/lib/rubygems/specification.rb#L927)  method which allows you to pass in an array of spec directories and this actions causes a reset of known gemspecs. It wor

[2021-02-06 21:20] cheister opened #4354 "Gemfile.lock with PLATFORMS set to java does not install java gems for JRuby"
### Describe the problem as clearly as you can

With bundler 2.2.8 if you use a Gemfile.lock with a PLATFORMS set to `java` then bundler will try to install the C Ruby gems.

### Post steps to reproduce the problem

With the following Gemfile
[code]

and Gemfile.lock
[code]
And using JRuby 9.2.14.0.
[code]

With bundler 2.1.4 you get
[code]

and with bundler 2.2.8 you get
[code]

You can fix this

[2021-02-07 09:35] johnnyshields opened #4355 "gem CLI: --silent, --quiet, --no-verbose, etc. should not print changelog"
This report is related to **the command line `gem`**. It may be a regression, I'm not sure.

* When running `gem update --system 3.1.4 --quiet --no-document` (also `--silent`, `--no-verbose`) the changelog is **not** printed.
* When running `gem update --system 3.2.8 --quiet --no-document` (also `--silent`, `--no-verbose`) the changelog **is** printed.

I'd like to be able to  suppress the changel

[2021-02-07 11:35] ddfreyne opened #4357 "rubygems.org resolves to non-responsive IPv6 addresses"
`gem update` fails over IPv6:

[code]

The `curl -6 rubygems.org` command times out, e.g.

[code]

The AAAA records for rubygems.org are as follows:

[code]

Any of these IP addresses fails to connect (timeout):

[code]

This issue is related to:

  - [x] Network problems
  - [ ] Installing a library
  - [ ] Publishing a library
  - [ ] The command line `gem`
  - [ ] Other

Here are my current env

[2021-02-07 11:41] simi commented on #4357
[code]

[code]

It works well here. Can you provide more info? Can you reach it by IPv4? Anything strange in `traceroute6` output?

[2021-02-07 11:53] ddfreyne commented on #4357
Looks like the entirety of Fastly (which rubygems.org uses) is inaccessible to me. Yikes. The problem might be with my ISP (Deutsche Telekom), which wouldn’t surprise me as it has continuously been having connectivity problems.

[2021-02-07 11:53] #4357 closed

[2021-02-08 03:17] aaronjensen opened #4358 "bundle cache --all-platforms removes other platform versions of gems from lockfile and does not cache them"
### Describe the problem as clearly as you can

`bundle cache --all-platforms` removes other platform versions of gems from lockfile and does not cache them

**As an aside:** Asking people to include their `bundle env` is insanely dangerous. It can have credentials in it. I'll open a separate issue for this.

### Post steps to reproduce the problem

Clone this repo:

https://github.com/aaronjensen

[2021-02-08 07:05] CAMOBAP opened #4360 "compact_index_client/updater.rb#L57 | Encoding::UndefinedConversionError: "\x8B" from ASCII-8BIT to UTF-8"
### Describe the problem as clearly as you can

But there is no stable way to reproduce it, it happens to me twice during run CI on GitHub Actions for Windows only:
 - https://github.com/metanorma/isodoc/actions/runs/546450350
 - https://github.com/metanorma/isodoc/runs/1851155177?check_suite_focus=true

For 2.4, 2.5, 2.6, 2.7, 3.0 ruby versions.

I have an assumption that it's related to shell en

[2021-02-08 09:36] deivid-rodriguez commented on #4360
Thanks for reporting this @CAMOBAP. I think this is a regression from https://github.com/rubygems/rubygems/pull/4081. With that PR, bundler started hitting this code:

https://github.com/ruby/net-http/blob/83a6b17b45f656531a708d5f3e498872fd3a5ce7/lib/net/http/response.rb#L383-L387

Which I believe is causing the issue.

[2021-02-08 09:39] CAMOBAP commented on #4360
@deivid-rodriguez thanks for the answer, anything else I can help to get it fixed?

[2021-02-08 09:58] deivid-rodriguez commented on #4358
Hi @aaronjensen, thanks for the report.

I'm not sure how or where that lockfile was generated, but I don't think `x86_86-linux` is a valid platform? In any case, when I run you repro application, I get the expected behavior: bundler adds my current platform (x86_64-linux) to the lockfile and includes linux versions in the cache.

[2021-02-08 10:17] deivid-rodriguez commented on #4357
Hi @ddfreyne!

We've actually been looking for someone with ipv6 setup, but having connectivity issues, in order to try out #2662 in real life. Basically that PR implements a friendly fallback behaviour, so that we don't timeout at all as long as either one of ipv4 or ipv6 works fine. It sounds like the fix for this might happen inside ruby itself in the end, but I still believe it would be valuab

[2021-02-08 10:50] jvelez1 opened #4361 "Gem::Package::FormatError rake-13.0.3.gem"
### Describe the problem as clearly as you can
 When deploying I'm getting this error on `bundle install` step:

[code]

## Environment
[code]

`vendor/bundle` currently empty (it is a new setup)

# What were you expecting to happen?
- should install the gems

What actually happened?
- returning the error above

Any idea?
thanks.

[2021-02-08 10:55] simi commented on #4361
Seems like old RubyGems (downgraded, Ruby 3.0 is shipped with newer one) are used, can you try with updated RubyGems?

[2021-02-08 11:24] deivid-rodriguez commented on #4360
@CAMOBAP I created #4362 to fix this issue. However, I'd like to also confirm whether this is a regression of #4081 or a problem that has always existed. Can you downgrade to 2.2.4 and confirm whether the problem still exists or not?

[2021-02-08 11:26] deivid-rodriguez commented on #4355
Thanks for reporting this @johnnyshields!

@duckinator would you be able to have a look at this?

[2021-02-08 11:54] simi commented on #4355
Looking at the options, there are two ones related:

https://github.com/rubygems/rubygems/blob/6be472bbc1c3c9f7ca559ab075514d32bd76536a/lib/rubygems/command.rb#L594-L601

Using `quite` mode seems to disable just progress meter per https://github.com/rubygems/rubygems/blob/6be472bbc1c3c9f7ca559ab075514d32bd76536a/lib/rubygems/user_interaction.rb#L374-L383

@johnnyshields can you try with `--silent`

[2021-02-08 12:29] deivid-rodriguez commented on #4281
Closing due to lack of feedback.

[2021-02-08 12:29] #4281 closed

[2021-02-08 12:29] deivid-rodriguez commented on #4318
Closing due to lack of feedback.

[2021-02-08 12:29] #4318 closed

[2021-02-08 12:32] deivid-rodriguez commented on #4354
Hi @cheister!

We did create several unintentional backwards incompatibility issues with the 2.2.0 release, but we've been adding fixes to play nice with old lockfiles. It seems like we're still missing some cases.

I'll have a look at this, thanks for reporting!

[2021-02-08 12:38] johnnyshields commented on #4355
@simi I tried silent as well, it also still showed the log lines.

[2021-02-08 12:40] simi commented on #4355
@johnnyshields ok, if @duckinator is out of time, I can fix this.

[2021-02-08 12:44] deivid-rodriguez commented on #4355
@simi I'd say go ahead. I think @duckinator is quite busy.

[2021-02-08 14:25] aaronjensen commented on #4358
Ugh, I apparently ran `bundle lock --add-platform x86_86-linux`. No idea where I copy/pasted that from or if I just brainfarted while typing it. In any case, when I use `bundle lock --add-platform x86_64-linux` it works as expected. Sorry for the noise.

[2021-02-08 14:25] #4358 closed

[2021-02-08 14:51] marlinpierce commented on #4281
Thanks so much for your attention and help on this.  I really appreciate it.

It think we are just going to stick with version 2.0.2 which is working for us until 2.2 has been out long enough to be supported on FreeBSD and heroku.

[2021-02-08 15:19] deivid-rodriguez commented on #4358
No problem!

[2021-02-08 17:12] duckinator commented on #4355
Hey, as @deivid-rodriguez pointed out I'm pretty busy atm, but some context in case it helps: #2907 is a related issue about `--silent` not working, and #3789  is where it was fixed.

It is also worth noting that, because of the nature of fixing this specific functionality, the change will [only help when updating _from_ versions with the fix](https://github.com/rubygems/rubygems/issues/2907#issue

[2021-02-08 21:42] aaronjensen opened #4366 "bundle lock --add-platform x86_64-linux fails with raygun-apm"
### Describe the problem as clearly as you can

On macOS, I cannot add the linux platform with this Gemfile:

[code]

https://github.com/aaronjensen/bundle-add-platform-bug-repro

### Post steps to reproduce the problem

Clone repo, run `bundle lock --add-platform x86_64-linux`

### Which command did you run?

[code]

### What were you expecting to happen?

No Error, platform added to lock

### Wh

[2021-02-08 21:57] deivid-rodriguez commented on #4366
Can you post the output with `DEBUG_RESOLVER=1`? This doesn't repro on Linux and I don't have a MacOS machine, so I can't repro this myself :(.

[2021-02-08 21:59] aaronjensen commented on #4366
[code]

[2021-02-08 22:02] aaronjensen commented on #4366
One thing that may be of note is that if I remove that gem from the `Gemfile`, I can add the platform, then add the gem back in and `bundle install` succeeds and the `Gemfile.lock` contains both platforms as I'd exepct.

[2021-02-08 22:04] deivid-rodriguez commented on #4366
Thanks! I'll fix this tomorrow!

[2021-02-08 22:09] aaronjensen commented on #4366
Great, thank you.

[2021-02-09 05:28] simi commented on #4355
Thanks for brief introduction @duckinator.

I did some initial work to support --silent in #4365.

The question still is how should "quiet" mode affect the output of rubygems install/update. I did a quick look and changelog is printed only when actual version updated has happened and `--quiet` doesn't affect that.

## changelog from 3.1.3 to 3.1.4 update

[code]

## no changelog from 3.1.4 to 3.1.

[2021-02-09 08:48] 42Bastian commented on #2322
Issue still exists: On win10 I had to disable IPv6 to run "gem".

[2021-02-09 09:58] jvelez1 commented on #4361
@simi it looks like that was the reason, was an Incompatibility with the instance, because RubyGems, we decided to use ruby 2.7.2 for now. thank you.

[2021-02-09 09:58] #4361 closed

[2021-02-09 10:01] deivid-rodriguez commented on #2322
Would you be able to apply #2662 and see if that fixes things for you? There's instructions in that thread to get the PR applied to your rubygems install.

[2021-02-09 10:45] sonalkr132 commented on #4228
Fastly got back to us with an update that they won't be able to provide dedicated IP until 15 March due to their own internal dependencies (dedicated IP is a beta feature). They suggested that we can roll back to the old endpoint if we want. We are not rolling back since legacy doesn't support TLS 1.3 and traffic without SNI is very small (< 0.09 perc). This does mean that the legacy endpoint will

[2021-02-09 11:23] 42Bastian commented on #2322
Works on win10!

[2021-02-09 11:44] deivid-rodriguez commented on #2322
That's great to hear @42Bastian, thanks for trying it!

[2021-02-09 12:28] ThomasKoppensteiner commented on #4354
I had a similar issue. Installing the dependencies worked with version `2.2.6`, but failed with `2.2.9`. Bundler tried to install the MRI/Ruby version not the JRuby/Java version of a gems dependency.

[2021-02-09 12:36] deivid-rodriguez commented on #4354
I'm working on a fix now :+1:

[2021-02-09 13:33] deivid-rodriguez commented on #4341
I read some follow up you made on the apple.stackexchange issues you mentioned and it seems that now you think that ruby itself is causing the issues? Could you report your findings to https://bugs.ruby-lang.org/projects/ruby-master if that's the case?

[2021-02-09 14:33] johnnyshields commented on #4355
@simi `silent` works for me. I would suggest that the other two should also suppress the changelog as it can be quite long, but that's up to you.

[2021-02-09 15:38] JonRowe commented on #4228
Thats great thanks :)

[2021-02-09 21:01] deivid-rodriguez commented on #4366
I didn't have time today, but will hopefully get to this tomorrow.

[2021-02-10 09:47] deivid-rodriguez commented on #3022
Seems fixed, so closing.

[2021-02-10 09:47] #3022 closed

[2021-02-10 12:26] deivid-rodriguez commented on #4366
Ok, so I had a look at this, and it's trickier than I expected. I managed to write a failing spec for this:

[code]
Like in other issues we've been getting, the problem is that the lockfile doesn't currently record any `required_ruby_version` information. So when the dependency information is picked up from the lockfile, it is incorrect in this particular case and assumes that the MacOS version ha

[2021-02-10 15:04] aaronjensen commented on #4366
Okay, thanks for the update. Good luck with the fix.

I wanted to add on another issue just in case it's related. If you'd like me to open a separate issue, I can, but I found it when trying to work around this issue.

When adding a dependency that has more than one platform like `raygun-apm`, if you have the platform set already in the lockfile, *and* you have an additional remote with an empty b

[2021-02-10 17:54] Bertg commented on #3379
Given the lates hype around "dependency confusion" https://medium.com/@alex.birsan/dependency-confusion-4a5d60fec610 the priority of this issue should be reconsidered?

[2021-02-10 19:39] NeimadTL commented on #3243
Hi @deivid-rodriguez, I'd like to work on this. Could elaborate on the investing part please ? also, should the `show` command work pretty much like  `show` ? happy to discuss that on slack if you'd rather do that.

[2021-02-10 22:17] duckinator commented on #4353
I went ahead and removed the `Bundler:` prefixes and wrapped a few things in code blocks for y'all so the issue is a bit easier to read. :slightly_smiling_face:

[2021-02-10 22:38] duckinator commented on #4353
It looks like, as in #3217, the problem is that the thread pool is [still hard-coded to 25 threads](https://github.com/rubygems/rubygems/blob/fb7d214/bundler/lib/bundler/fetcher/compact_index.rb#L114) and can't handle .

PR rubygems/bundler#6617 was opened to resolve it, but not merged [with the following reasoning](https://github.com/rubygems/bundler/pull/6617#issuecomment-402485316):

When Bundl

[2021-02-11 05:39] theblindguidedog opened #4369 "I got this error after this command: rails new railstest."
The system asked me to start a new issue.
[error_report.txt](https://github.com/rubygems/rubygems/files/5963304/error_report.txt)

[2021-02-11 10:15] owst opened #4370 "Adding platform without version does not add current-platform version of libv8 to specs on macOS"
We're in the process of upgrading from Bundler 1.17.2 to 2.2.9, and as part of that process, I'm attempting to use the improved platform support, but have hit a problem with macOS in that the current-platform specific gem doesn't appear to be added when adding a version-less platform to the lock file.

Starting with the following Gemfile/Gemfile.lock on my mac, with:
[code]

[code]

[code]

I firs

[2021-02-11 10:52] sonalkr132 commented on #3982
Can confirm this issue exists. [bundler doc says](https://bundler.io/man/gemfile.5.html#SOURCE-PRIORITY):

which is the expected behavior as per the issue but not observed.

[2021-02-11 10:55] deivid-rodriguez commented on #4353
I don't think an ENV variable is an appropriate fix either. Users would have to know that they need to tweak this environment variable when this error happens, and that's quite unlikely to happen.

From reading https://github.com/rubygems/bundler/issues/4367, I understand to this error can be raised by ruby when lacking memory or exhausting resource limits. Since this can always potentially happen

[2021-02-11 11:20] deivid-rodriguez commented on #4355
I just tried `--silent` and it worked just fine for me. I think the problem, as mentioned from @duckinator, is that you need to upgrade from a version that has the fix, and 3.1.x doesn't have the fix since it was released with 3.2.0.

[2021-02-11 11:21] deivid-rodriguez commented on #4355
So, I'd say we can close this ticket and the related PR. If you want `--quiet` to be more quiet, we can open a separate issue about it.

[2021-02-11 13:28] MehrshadMohammadi commented on #4153
Hi ...
this link -> https://github.com/sterankin/test-rails-docker-bundler
Only works on version 2.5.8 ?
I am using version ruby 3.0.0p0 but I have this problem I have to change the ruby version to 2.5.8. Rejected?

[2021-02-11 13:39] deivid-rodriguez commented on #4153
This issue should be independent from the ruby version in use I believe, and was fixed in bundler 2.2.3. Make sure you're using a recent enough version of bundler, and if you're still having problems, please open a separate ticket. Thanks!

[2021-02-11 21:38] billyabm commented on #3358
You can set BUNDLE_PATH (env var) and this will be fixed you can see the configuration on the [bundle documentation](https://bundler.io/man/bundle-config.1.html)

[2021-02-11 23:10] #4354 closed

[2021-02-11 23:17] deivid-rodriguez commented on #4370
Thanks for reporting this @owst. It seems like a bug, indeed, I'll have a look.

[2021-02-12 10:01] deivid-rodriguez commented on #3243
Hei @NeimadTL, that's great! :)

The investigation part consists on digging into git history to find the PR that introduced the deprecation of `bundle show` and find out the motivations for it. Once we know why `bundle show` was deprecated we can make a decision here.

[2021-02-12 10:13] deivid-rodriguez commented on #4366
Thanks for the extra report. When I get to this I'll have a look and open a separate issue if it's not related in the end.

As an update, since the fix here is not straightforward I'm postponing it for now to deal with some other issues, but I'll get to it. I think my idea should work, but requires work.

Just to leave my ideas written here, I see two ways that I think would be backwards compatibl

[2021-02-12 16:32] aaronjensen commented on #4366
Yeah, I don't like option 1 there. Could you show what the Lockfile would need to look like in this particular scenario? I'm somewhat struggling to see what the issue actually is.

[2021-02-12 16:37] aaronjensen commented on #4366
It looks like if I specify a Ruby verison in my Gemfile then add the lock, the resolver fails with this:

[code]

Are there scenarios where platform information is needed in the Ruby constraint? It looks like if the platform information wasn't considered when adding the lock, it would work just fine.

[2021-02-12 22:10] deivid-rodriguez commented on #4366
Yeah, the issue is super confusing, and the resolver logs don't help clarifying.

In the end the problem is that bundler is picking `raygun-apm-1,0.78-x86_64-darwin-19` dependency information from the lockfile and as a consequence is failing to consider the  `>= 2.5, < 2.8.dev` dependency on ruby, because it's not present in the lockfile. For the other gem, `raygun-apm-1.0.78-x86_64-linux`, the de

[2021-02-12 23:28] deivid-rodriguez commented on #4366
Well, I wasn't actually sure anymore and having a closer look, turns out that this is a regression from 1f7797a1b24b3aa5d14086415289d55b57be89e1 :grimacing:.

I'm not sure whether we can just suppress platform information from metadata dependencies and resolution candidates, maybe we actually can. I'll dig into this more tomorrow. Thanks for putting me back on the right track :sweat_smile:.

[2021-02-12 23:42] deivid-rodriguez commented on #4366
Alright, I think I got a fix! :tada:

[2021-02-13 13:05] #4366 closed

[2021-02-13 17:46] hwnnaung commented on #3068
I was getting these warning messages today. Output: Please suggest me

Traceback (most recent call last):
        5: from <internal:gem_prelude>:1:in `<internal:gem_prelude>'
        4: from <internal:gem_prelude>:1:in `require'
        3: from /usr/local/lib/site_ruby/2.7.0/rubygems.rb:1231:in `<top (required)>'
        2: from /usr/local/lib/site_ruby/2.7.0/rubygems.rb:1231:in `require'

[2021-02-13 17:48] hwnnaung commented on #3068
I was getting these warning messages today. Please suggest me . Output:

`─# gem update --system 3.0.8                                                      1 ⨯
Traceback (most recent call last):
        5: from <internal:gem_prelude>:1:in `<internal:gem_prelude>'
        4: from <internal:gem_prelude>:1:in `require'
        3: from /usr/local/lib/site_ruby/2.7.0/rubygems.rb:1231:in `<top (required

[2021-02-13 17:50] hwnnaung commented on #3068
I was getting these warning messages today. Please suggest me . Output:

 Traceback (most recent call last): 5: from <internal:gem_prelude>:1:in internal:gem_prelude'
4: from internal:gem_prelude:1:in require' 3: from /usr/local/lib/site_ruby/2.7.0/rubygems.rb:1231:in <top (required)>'
2: from /usr/local/lib/site_ruby/2.7.0/rubygems.rb:1231:in require' 1: from /usr/lib/ruby/vendor_ruby/rubygems/de

[2021-02-13 17:51] hwnnaung commented on #3068
I was getting these warning messages today. Please suggest me . Output:

4: from internal:gem_prelude:1:in require' 3: from /usr/local/lib/site_ruby/2.7.0/rubygems.rb:1231:in <top (required)>'
2: from /usr/local/lib/site_ruby/2.7.0/rubygems.rb:1231:in require' 1: from /usr/lib/ruby/vendor_ruby/rubygems/defaults/operating_system.rb:67:in <top (required)>'
/usr/lib/ruby/vendor_ruby/rubygems/defaults

[2021-02-13 17:55] hwnnaung commented on #3068
I was getting these warning messages today. Please suggest me . Output:

![Screenshot_2021-02-13_20-55-01](https://user-images.githubusercontent.com/77515799/107857165-54f83d00-6df2-11eb-8049-140788c7b14e.png)

[2021-02-13 22:35] dbelloGitHub commented on #4353
I apologize for the late reply and consequently not cleaning up the bug report.
My Hosting provider was responsible for the event by limiting the number of processes in shared hosting. So the failure results every time the maximum number of processes is reached among all users.

[2021-02-13 22:51] #4329 closed

[2021-02-14 06:43] duckinator commented on #4353
@dbelloGitHub thank you for the extra information.

Looking at rubygems/bundler#4367, the original commenter and a few other people confirmed this exists on shared hosting. It looks like at this point 6 people have confirmed it exists on multiple shared hosting providers.

---

I dug into the code involved in the backtrace a bit more, and found a complication with trying to handle the error gracef

[2021-02-14 09:35] deivid-rodriguez commented on #4353
Thanks for looking into that @duckinator. Hopefully the extra thread in `net/http` will go away with https://github.com/ruby/net-http/pull/10.

In any case, this seems like unnecessarily high number to me. We could run some performance tests with gemfiles of different sizes over a cold compact index cache to make sure the performance doesn't regress, and reduce this number. We could, for example,

[2021-02-14 11:35] deivid-rodriguez commented on #4370
I wonder whether this is a regression, and whether this might've possibly been fixed by https://github.com/rubygems/rubygems/pull/4371.

[2021-02-14 18:46] ddfreyne commented on #4357
@deivid-rodriguez It looks like my IPv6 connectivity breaks once in a while. Right now, I’m getting the same error (wrapped in a Bundler error, but probably same thing: `Bundler::HTTPError Could not fetch specs from https://rubygems.org/ due to underlying error <timed out (https://rubygems.org/specs.4.8.gz)>`).

How can I test out #2662 on my machine? I’ve attempted to clone @sonalkr132’s `ipv6-fa

[2021-02-14 19:25] jeremy commented on #3204
Discovered this while trying to use a Docker volume mount as a persistent Bundler cache with Bundler 2.2.9.

Dockerfile excerpt:
[code]

The `bundle check` fails after changing the cache path or unmounting the Docker volume. Git gems are installed using the cache dir, so removing the cache dir breaks the bundle.

Good luck y'all!

[2021-02-14 22:05] deivid-rodriguez commented on #4357
I'd say that means that the proposed solution is not working as expected, which confirms a separate report of another user who also tried it and reported the same thing. This one is tough :(

[2021-02-14 22:07] deivid-rodriguez commented on #4357
Thanks for trying it, though. I'd suggest you run `gem update --system` now to upgrade to the latest released version, which doesn't fix this issue but should be more stable :)

[2021-02-15 03:12] sonalkr132 commented on #4357
I hope you also added `:ipv4_fallback_enabled: true` to ~/.gemrc or env `IPV4_FALLBACK_ENABLED='true`. Another certain way to enforcing IPv4 is running following on your host:
[code]

If any of these work, please do reach out to us through support@rubygems.org, we will try to loop in Fastly support.

[2021-02-15 07:14] cfis opened #4375 "Incorrect Code Figuring Out Missing Extensions and Deleting Gems"
### Describe the problem as clearly as you can

Bundler is incorrectly deciding some gems have missing extensions when in fact they do not. This breaks the ability to manually install gems and then use bundler. This is a new breakage.

Let's go through an example. On mingw64, without ruby devkit installed, install the mysql2 gem:

```gem install --platform ruby mysql2```

It will fail because the

[2021-02-15 07:29] ddfreyne commented on #4357
My IPv6 connectivity is back to normal so I can’t test this (for now). I’ll revisit this once it breaks again!

[2021-02-15 09:27] deivid-rodriguez commented on #4357
Oh right @sonalkr132! Both here and in the other case when someone tested this in real life I forgot to point out that this is opt-in and needs to be explicitly enabled :disappointed:.

[2021-02-15 10:39] deivid-rodriguez commented on #4375
Hi @cfis, thanks for reporting this!

For reference, this change was introduced by https://github.com/rubygems/rubygems/pull/3635 to fix https://github.com/rubygems/rubygems/issues/3365.

I was not expecting this to change the missing extension logic, since I was expecting the previous logic: `stub.missing_extensions?` to end up running the logic in the `Gem::Specification` class, which is exactly

[2021-02-15 10:46] owst commented on #4370
Unfortunately, it doesn't look like #4371 has fixed this issue @deivid-rodriguez - `libv8 (3.16.14.19-x86_64-darwin-18)` is still not added to the lock file

[2021-02-15 10:48] deivid-rodriguez commented on #4370
Ok, thanks @owst. I figured that would be the case but I thought it was worth confirming it.

[2021-02-15 10:49] cfis commented on #4375
Hi David,

Ah, well that is an interesting question. Thanks for the pointer to #3635. I'll try with an old version of bundler and see if I can tell what's changed.

[2021-02-15 10:52] ThomasKoppensteiner commented on #4354
@deivid-rodriguez can you give us an outlook, when you fix will be released?

[2021-02-15 10:52] deivid-rodriguez commented on #4370
Can you check whether this works against any versions between 2.2.3 and 2.2.8 (2.2.3 is the one that started locking all matching platform specific variants)? Just to confirm whether this is a regression or a bug present in the original implementation.

[2021-02-15 10:53] deivid-rodriguez commented on #4354
Today.

[2021-02-15 14:45] adam12 commented on #4342
There's also [whatthegem](https://github.com/zverok/whatthegem), which might be easily adapted into a Bundler plugin with a small shim. I find the changelog support in `whatthegem` fairly good. cc @zverok

[2021-02-15 15:09] deivid-rodriguez commented on #4370
I can't immediately see what the problem is and I can't repro for mysel since I don't have a machine with `x86_64-darwin-18`. This seems specific to that darwin version somehow, since I tried this [on github actions CI](https://github.com/rubygems/rubygems/runs/1902909954?check_suite_focus=true) (which uses `x86_64-darwin-19`), and all 4 matching variants got added to the lockfile (from `x86_64-da

[2021-02-15 17:16] Fryguy opened #4380 "Confusing error messages with new security fixes"
### Describe the problem as clearly as you can

In our project we have some custom gems that are locked down to our custom gemserver using a `:source` directly in the Gemfile.  If I understand correctly, the new security fix now prefers that custom gem source for transient dependencies, and if there is an ambiguity across multiple gem sources for those transient dependencies, then bundling fails.

[2021-02-15 17:36] deivid-rodriguez commented on #4380
Thanks for the ticket @Fryguy, we've been also reported a similar issue on Slack. There's something wrong here, I'll investigate.

[2021-02-15 17:38] Fryguy commented on #4380
@deivid-rodriguez  Thanks.  I'm happy to help where needed.  Feel free to use https://rubygems.manageiq.org if it would help

[2021-02-15 17:38] deivid-rodriguez commented on #4380
The fact that the first example works is expected to me. The way I approached this is to not fallback to the "block source" for direct and transitive dependencies that are present there, but if they are not present, pick them up from the global source. But the lockfile is just wrong.

[2021-02-15 17:43] Fryguy commented on #4380
Yes, I agree that the first one working makes sense.  I think I worded that incorrectly.  I wasn't surprised it worked, I was more surprised that it worked given the lockfile is wrong.

[2021-02-15 17:47] Fryguy commented on #4380
If it helps, playing with this a little more, if I continue and add racc to the Gemfile it "works" AND the Gemfile.lock is correct

[code]

[code]

[2021-02-15 17:58] deivid-rodriguez commented on #4380
Oh, I see the issue now. Rubygems sources have this "or installed locally" fallback that's messing things up if you already have the gems installed.

[2021-02-15 18:04] Fryguy commented on #4380
@deivid-rodriguez  That's interesting, if I do a `gem uninstall nokogiri racc handsoap` before each of the 3 iterations above, each one now works AND all of the Gemfile.locks are correct.  I think you're onto something.

[2021-02-15 18:18] deivid-rodriguez commented on #4380
Yeah, I think it shouldn't be hard to fix, I'll work on it and try to push a fixed version tomorrow.

[2021-02-15 20:43] cfis commented on #4375
The default version of bundler packaged with Ruby 2.7.2 is 2.1.4. Using that version, what the old code did is:

[code]

Notice the method ends with `to_spec.missing_extensions?`. The gem spec does exist because Ruby Gems says to create it:

[code]
In contrast, the updated code returns true which is the incorrect result.

Could that change be reverted? Also, maybe this code should be entirely remo

[2021-02-15 22:04] deivid-rodriguez commented on #4375
That change was introduced to fix a bug, so a revert is not an option because then the person was hitting the bug will now hit the bug again. And even more in this case where the problem caused by the bug (some troubleshoot instructions that would now require you to `touch` an extra file) is less critical than the original issue (a stackoverflow runtime crash).

If it was that easy, I'd be happy t

[2021-02-15 22:50] cfis commented on #4375
Its different because there are two different methods in RubyGems version 3.1.4, which shipped with Ruby 2.7.2 (there still might be in later versions, I haven't checked). Bundler took the code from specification.rb but ignored the code in stub_specification:

rubygems/stub_specification.rb

[code]

rubygems/specification.rb

[code]

The mysql2 gem has a stub_specification, which was generated by

[2021-02-15 22:59] deivid-rodriguez commented on #4375
The commit specifically fixing the issue is this one: https://github.com/rubygems/rubygems/pull/3635/commits/226ec115fe503bcc93bffdf5cd3e8a668890b4d8. I understand the problem, and I'm not saying I don't want to fix it. I'm just saying it's not as easy as reverting the PR that introduced the problem.

Feel free to investigate, clone the repo, run tests, propose a solution and so on.

[2021-02-15 23:27] cfis commented on #4375
David - I definitely appreciate the help!

You obviously know the code base and I surely don't. So do you have any thoughts on a solution that could keep manually installed gems working while at the same time not breaking #3635? I don't mind pitching in, but getting up to speed on bundler will take a while and my real goal in all this is trying to fix a couple of composite primary key bugs and thi

[2021-02-15 23:30] deivid-rodriguez commented on #4375
No, sorry. Since I don't currently know why things broke, I don't know what a solution would look like. I would need to investigate but this issue is quite low priority for me compared to others.

[2021-02-15 23:32] cfis commented on #4375
Digging more, my diagnosis wasn't quite right. This was the code in rubygems/specification.rb:

  def missing_extensions?
    return false if default_gem?
    return false if extensions.empty?
    return false if installed_by_version < Gem::Version.new('2.2.0.preview.2')
    return false if File.exist? gem_build_complete_path

    true
  end

It's this line:

```  return false if installed_by_vers

[2021-02-15 23:37] deivid-rodriguez commented on #4375
Ha! That makes more sense.

Then this is a regression of 6f531673aea32d480329dd55f2feb75c4b2a7439 and it's easily fixable since that was just something I thought wasn't needed. I guess we can restore that line but checking for "0" explicit as a sign of "manually installed".

[2021-02-15 23:39] rafaelfranca opened #4382 "Bundler 2.2.10 breaks with multi-source error gems that point to themselves using path"
Using this Gemfile:

https://github.com/rails/rails/blob/907cb05dce964e4593e02f52c45924f4401a66c0/Gemfile

We get this error:

[code]

[2021-02-15 23:42] cfis commented on #4375
I have to admit I don't see why its a regression of r6f53167.

But yes, I was thinking a check against installed version of 0 is the way to go versus Gem::Version.new('2.2.0.preview.2').

So I think the patch is add this line to `def missing_extensions?`

return false if installed_by_version == Gem::Version.new(0') # Allow manually installed gems

Do you want an pull request or is this enough info

[2021-02-15 23:52] cfis commented on #4375
Yes, that does the trick. So to be clear, in bundler/stub_specificationn.rb

[code]

[2021-02-15 23:52] deivid-rodriguez commented on #4382
It's probably a duplicate of #4380?

[2021-02-15 23:54] deivid-rodriguez commented on #4375
Sorry, bad reference, I edited the commit!

[2021-02-16 00:05] cfis commented on #4375
Ah - yup I see now. So to state the obvious, the patch would be revert that commit but then update it for better clarity to use something like this:

[code]

[2021-02-16 00:38] rafaelfranca commented on #4382
Possibly. I know it is caused by bundler not knowing from which source the indirect dependency should come. This is the same problem that made `disable_multisource` config unusable. That behavior require users to specify almost every single indirect dependency in the Gemfile because bundler can't infer which source has precedence over the others.

This is the diff I had to do in a Rails app to be

[2021-02-16 08:32] deivid-rodriguez commented on #4382
Well, the feature was not designed like that, this is a bug :(. Can you try whether #4381 fixes the issue?

[2021-02-16 08:33] deivid-rodriguez commented on #4380
Hello everyone, sorry for this issue :pray:.

Can you try #4381 and verify whether it fixes your issues? Thanks!

[2021-02-16 08:34] deivid-rodriguez commented on #4375
Yes, and it'd be also nice to also add a test to cover the fix.

[2021-02-16 09:18] ThomasKoppensteiner commented on #4380
Hey, with version `2.3.0.dev` i now can bundle again our service.

What I have noticed is, that the "specs" section for `remote: http://gems.runtastic.com/` is included twice in the `Gemfile.lock`. This happens for existing `Gemfile.lock` files as well as for new created ones.

[code]

[2021-02-16 09:48] deivid-rodriguez commented on #4380
Thanks for trying that out @ThomasKoppensteiner!  So the sections are exactly the same right? That's definitely unexpected, I'll try to figure out now. I guess if I can't figure it out soon I'll still release the fix today and keep working on it after that, since it's a way smaller issue.

Any other confirmations that the fix works for usages out there are appreciated.

[2021-02-16 09:57] deivid-rodriguez commented on #4380
Just to make sure, you're not specifying `rubygems.org` both as a global and as a block source, right? Can you show the main source layout of the Gemfile?

[2021-02-16 10:09] deivid-rodriguez commented on #4380
Does this patch fix your issue @ThomasKoppensteiner?

[code]

[2021-02-16 10:10] deivid-rodriguez commented on #4382
I was able to reproduce this and confirmed that #4381 doesn't fix it. I'll have a look now.

[2021-02-16 10:10] ThomasKoppensteiner commented on #4380
Yes, the sections are exactly the same.

You are right `rubygems.org` is used twice in the `Gemfile`.

[code]

When I remove the `"rubocop_runner"` line from the test group, the section is only include once.

[2021-02-16 10:11] ddfreyne commented on #4357
I got the opportunity to test this out: https://github.com/rubygems/rubygems/pull/2662#issuecomment-779730989

[2021-02-16 10:14] sliiser commented on #4380
Had an issue with gem 'connection_pool' and sidekiq pro. Broken on 2.3.0.dev master. Works on 2.3.0.dev fix_regression_in_source_priority.

Regular bundle install did update a lot of gems though (patch version). Not sure that's intended with an existing Gemfile.lock.

[2021-02-16 10:22] ThomasKoppensteiner commented on #4380
@deivid-rodriguez the patch would fix it.

Changing the `Gemfile` as below also fixes the duplicate sections for me:
[code]

[2021-02-16 10:22] ThomasKoppensteiner commented on #4380
Same for me

[2021-02-16 10:26] deivid-rodriguez commented on #4380
That's great to hear @sliiser!

@ThomasKoppensteiner Alright! I'm unsure whether I should patch the duplication thing. It doesn't seem to create any issues and it did point out an unnecessary duplication in yout Gemfile, so I tend to believe it's better to leave as is? Maybe we could improve it to auto-fix things and print a warning, but it doesn't seem urgent.

Regarding  the unnecessary updates,

[2021-02-16 10:34] ThomasKoppensteiner commented on #4380
Using `BUNDLE_UNLOCK_SOURCE_UNLOCKS_SPEC=false` has no effect for me. I still see the gem updates.

[2021-02-16 10:44] deivid-rodriguez commented on #4380
Too bad. I'll see if I can figure that out too, but won't block this fix either of course.

[2021-02-16 10:55] deivid-rodriguez commented on #4382
In this case, I believe when you're developing code locally by using the `gemspec` or `path` sources, you always expect your local code to be used and there's no ambiguity here. So I think we can manually exclude these sources from the check. I'll update #4381 with that change.

[2021-02-16 10:56] sliiser commented on #4380
Same here

[2021-02-16 11:20] dedene commented on #4382
I also see this behavior with 2.2.10 when source from a remote private rubygems repo. 2.2.9 does not have this problem.

[2021-02-16 11:21] pirj commented on #4380
Do you think it would be possible to yank 3.2.10 from RubyGems to fix everyone's CI failures (3.2.9 will be used as the latest)?
The problem could be addressed in a less heated mode then.

[2021-02-16 11:29] deivid-rodriguez commented on #4380
I don't want to yank things, I'll just release a new version. People locking their versions didn't hit the issue, and people not locking their versions will get it automatically fixed when I release. Planning to release in a couple of hours approx.

[2021-02-16 11:39] deivid-rodriguez commented on #4382
Pushing a fix in a few minutes :+1:.

By the way, this also shows a different issue. Even if the sources could be considered ambiguous, I don't think there's any ambiguity in this particular case, because rubygems.org doesn't have `activesupport 7.0.0.alpha`. The check for ambiguity should use name + resolved version, not just name. The fix I'm pushing should fix the `path` and `gemspec` source ca

[2021-02-16 12:24] beanieboi opened #4383 "bundler 2.2.10 installs wrong gem versions"
### Describe the problem as clearly as you can

`bundle install` is installing wrong gem versions

### Post steps to reproduce the problem

[code]

### What were you expecting to happen?

`bundle install` should not modify Gemfile.lock
`bundle install` should install dependencies specified in Gemfile.lock

### What actually happened?

`bundle install` updates gems.

This behaviour is not happening

[2021-02-16 12:29] deivid-rodriguez commented on #4383
Thanks for reporting this. Can you share a reproducible example?

[2021-02-16 12:43] deivid-rodriguez commented on #4383
I _think_ I can repro, but I still appreciate an example.

[2021-02-16 12:49] beanieboi commented on #4383
Gemfile:
[code]

Gemfile.lock
[code]

with bundler 2.2.10 run:
`$ bundle config path vendor/bundle`
`$ bundle install`

after that the Gemfile.lock looks like this:
[code]

diff for better visibility
[code]

[2021-02-16 13:36] deivid-rodriguez commented on #4380
I'm sorry for the delay, it won't be two hours in the end since our CI found some issues and I'll have to leave the computer for a few hours now. But I'll get back to it as soon as I'm back and release as soon as I'm done.

[2021-02-16 13:49] Envek commented on #4380
One more use case that is broken in 2.2.10: testing against head versions of multiple gems in single source (like rails):

[code]

In 2.2.10 it will fail with following error:
[code]

I tested #4381 and it fixes this issue for me, so I'm waiting for it to be released.

[2021-02-16 13:54] deivid-rodriguez commented on #4380
Thanks for testing #4381 @Envek, I'm currently fixing some issues with it but it should be ready soon.

[2021-02-16 14:28] deivid-rodriguez commented on #4382
Our CI revealed that in the case where there's a real ambiguity, it's not really guaranteed that the `path` source will always end up being chosen. So I changed the PR to fix the case when there's no real ambiguity for now, and will follow up with preferring always path sources in the future.

I believe the current approach should work fine for most Rails cases. It might still give you trouble whe

[2021-02-16 16:55] rafaelfranca commented on #4382
Thank you for working so quickly on this.

[2021-02-16 21:28] Sunakujira1 commented on #4380
We were facing a similar issue with the latest bundler and confirmed downgrading to the previous patch version fixed the issue. Temp fix until it is addressed into new version:
[code]

[2021-02-16 22:10] deivid-rodriguez commented on #4380
Quick update from my side. I'm back in front of the computer now but it's 11pm where I live and I'm quite tired. New issues have been raised with my proposed fix. I'll have a look at it tomorrow and try to find a satisfactory solution for those issues. If I can't figure out quickly, I'll revert the PR. So either way, I'm aiming at releasing a new version tomorrow that restores a sane behaviour.

I

[2021-02-16 22:10] deivid-rodriguez commented on #4382
No problem, I'm responsible for the mess caused, so I want to fix it as soon as possible.

[2021-02-17 04:07] cfis commented on #4375
Ok, so I take it you would like a pull request then?

[2021-02-17 07:10] #4380 closed

[2021-02-17 07:10] #4382 closed

[2021-02-17 07:10] #4383 closed

[2021-02-17 08:04] deivid-rodriguez commented on #3243
@NeimadTL and I investigated this. The conclusions are:

* It all started with https://github.com/rubygems/bundler/issues/3972, which reported a problem with incorrect help output of `bundle list`. In that issue, it was proposed to deprecate `bundle list`.
* Then `bundle list` was deprecated in https://github.com/rubygems/bundler/pull/4085.
* Then a typo (I guess?) was made in the [bundler 2 RFC](

[2021-02-17 08:10] deivid-rodriguez commented on #4339
Closing due to lack of feedback.

[2021-02-17 08:10] #4339 closed

[2021-02-17 08:10] NeimadTL commented on #3243
@deivid-rodriguez, thank you very much for the investigation. I'll take care of it and make a PR very soon.

[2021-02-17 08:20] thebravoman opened #4387 "Bundler 2.2.9 breaks installation compared to bundler 2.1.4"
### Describe the problem as clearly as you can

Bundler update from
[code]

### Post steps to reproduce the problem

Call bundle install on my project . No other changes

### Which command did you run?

bundle install

### What were you expecting to happen?

Bundles to be installed

### What actually happened?

[code]

### If not included with the output of your command, run `bundle env` and paste

[2021-02-17 08:23] deivid-rodriguez commented on #4387
It should be fixed by 2.2.11 which I just released.

[2021-02-17 08:23] #4387 closed

[2021-02-17 08:26] deivid-rodriguez commented on #4382
For now I reverted the change that caused this issue in 2.2.11. I'll try to reintroduce the secure mode I wanted to introduce without breaking your use case in future releases.

[2021-02-17 08:27] deivid-rodriguez commented on #4383
For now I reverted the change that caused this issue and released that as 2.2.11. I'll try to reintroduce the secure mode I wanted to introduce without breaking this in future releases.

[2021-02-17 08:28] deivid-rodriguez commented on #4380
I ended up reverting the pull request that broke things and released it as 2.2.11. I'll try to reintroduce the more secure mode I wanted to introduce without breaking things in future releases.

[2021-02-17 08:52] thebravoman commented on #4387
Yes. It is. Perfect :beers:

[2021-02-17 15:44] rafaelfranca opened #4389 "ArgumentError: Trying to register Bundler::GemfileError for status code 4 but Bundler::GemfileError is already registered"
[code]

Rubygems: 3.1.4
Ruby: 2.7.2
Bundler: 2.2.9
Command: `bundler exec rake environment` in a new Rails app

[2021-02-17 16:40] deivid-rodriguez commented on #4389
I can't repro this @rafaelfranca. Can you provide a repro on docker?

[2021-02-17 16:47] rafaelfranca commented on #4389
Urgh. True. I also can't reproduce in another linux machine. Let me try to reproduce in the container. Will report back if I can, if not I'll close the issue.

[2021-02-17 17:00] owst commented on #4370
@deivid-rodriguez I've tried all versions from 2.2.2-2.2.11:
- 2.2.2 and 2.2.10 both only add `3.16.14.19-x86_64-darwin-18` to the lock file (not sure if this was expected for 2.2.10?)
- all other versions have the originally-reported behaviour: `3.16.14.19-x86_64-darwin-18` is _not_ added to the lock file but versions for earlier platform versions are

My bash test script (no effort here, please

[2021-02-17 17:12] owst commented on #4370
I've just come across another similar example that _does_ work, given these starting Gemfile/Gemfile.lock files:
[code]

[code]
upgrade to bundler 2.2.11 with `bundle update --bundler`, and then add the platform (without version) specific specs with `bundle lock --add-platform x86_64-darwin`, which results in a `Gemfile.lock` diff of:
[code]

n.b. that the `darwin-18` version _is_ added. Could it

[2021-02-17 17:52] deivid-rodriguez commented on #4370
Something weird with that version of `libv8` is that it includes invalid platform specific variants, like `libv8-3.16.14.19-x86-linux`, which by the way I just discovered is the result of mistyping `x86_64-linux` as `x86-64_linux`

[code]

But I can't imagine how that would end up causing this issue.

[2021-02-17 18:30] krobertson commented on #4383
Isn't there a test of like `it should install the specified versions of gems` a test case in bundler? Silently upgrading locked gems can be a serious failure, shouldn't 2.2.10 be yanked?

[2021-02-17 19:52] deivid-rodriguez commented on #4383
There are a lot of cases that test this, have a look at our test suite if you're interested. We just failed to catch this specific situation unfortunately, hopefully we'll cover it better next time.

In my experience yanking ruby gems ends up being more harmful that helpful, so I won't be yanking 2.2.10 as I already stated in https://github.com/rubygems/rubygems/issues/4380#issuecomment-779776256.

[2021-02-18 18:24] godchulo opened #4391 "This iis what i get when i am creating a payload"
### Describe the problem as clearly as you can

### Post steps to reproduce the problem

### Which command did you run?

### What were you expecting to happen?

### What actually happened?

### If not included with the output of your command, run `bundle env` and paste the output below

[2021-02-18 22:54] #4391 closed

[2021-02-18 22:54] #4350 closed

[2021-02-19 02:56] adr31 commented on #4391
bundle env

[2021-02-19 09:51] thbar opened #4392 "Feature request - Allow to set multiple config variables in one "bundle config" call"
### Describe the problem as clearly as you can

Here is my understanding:
* Since Bundler 2.1+, `--path`, `--without` and `--deployment` options are deprecated in a given `bundler install`
* This resulted in adaptation for deployment tooling (for instance https://github.com/capistrano/bundler/pull/122/files, but also other private stuff) with 3 `bundle config --local` calls
* This increases deploy

[2021-02-19 18:49] paracycle opened #4394 "Undefined method `identifier` when trying to materialize the `SpecSet` on 2.2.8+"
### Describe the problem as clearly as you can

Getting the following error when trying to programmatically load gems in the `Gemfile`:
[code]

### Post steps to reproduce the problem

1. Create the `Gemfile` as follows:
[code]

2. Run `bundle install`.
2. Create a `test.rb` as follows:
[code]

3. Run `bundle _2.2.7_ exec ruby test.rb`. No errors:
[code]
4. Run `bundle _2.2.8_ exec ruby test.rb` (

[2021-02-19 21:30] deivid-rodriguez commented on #4394
Hi!

I was really stumped by this issue because it seems like a too common case to be broken without any specs catching it. Bundler does this "dance" internally all the time. But I could perfectly repro the regression :confused:.

Turns out it was introduced by #4297, where we stopped using `set`, and a patch like this "fixes" it:

[code]

But then I realized that, although this somehow worked, th

[2021-02-19 22:14] deivid-rodriguez commented on #4394
I don't mind adding the patch above to restore working behaviour for you, I just wanted to give some explanation in case you want to do what you're doing differently.

[2021-02-19 22:16] rwmotivation opened #4397 "Prevent downgrading rubygems to versions older than the version shipping with each ruby"
--- ERROR REPORT TEMPLATE -------------------------------------------------------
# Error Report

## Questions

Please fill out answers to these questions, it'll help us figure out
why things are going wrong.

- **What did you do?**

  I ran the command `/home/rahul/.rbenv/versions/3.0.0/bin/bundle install`

- **What did you expect to happen?**

  I expected Bundler to...

- **What happened instea

[2021-02-19 22:33] paracycle commented on #4394
@deivid-rodriguez Thank you so much for the prompt response and super detailed analysis. I had suspected the `set` change being complicit when looking at the changes between 2.2.7 and 2.2.8.

I just want to give you a little more context of what we are trying to achieve in [Tapioca](https://github.com/Shopify/tapioca), to better understand how we should go from here. Tapioca is a gem that tries to

[2021-02-20 04:46] DanielDayZero opened #4398 "Unfortunately, an unexpected error occurred, and Bundler cannot continue."
I received this error:
Unfortunately, an unexpected error occurred, and Bundler cannot continue.

First, try this link to see if there are any existing issue reports for this error:
https://github.com/rubygems/rubygems/search?q=Permission+denied+%40+dir_s_mkdir+-+%2FUsers%2Fdanieldianati%2F.rbenv%2Fversions%2F3.0.0%2Flib%2Fruby%2Fgems%2F3.0.0%2Fextensions%2Fx86_64-darwin-20%2F3.0.0%2Fbindex-0.8.1&

[2021-02-20 09:31] deivid-rodriguez commented on #4398
Unfortunately this issue doesn't include helpful information for us to help you. It should for example include a backtrace which you didn't copy here.

Feel free to include more relevant information so that we can help you and reopen the ticket.

Thanks!

[2021-02-20 09:31] #4398 closed

[2021-02-20 09:34] deivid-rodriguez commented on #4397
Apparently rubygems 2.5.2 doesn't support ruby 3.0. Rubygems 2.5.2 is a very old version of rubygems, and a much higher version is installed with ruby 3.0.0. Could you explain how rubygems 2.5.2 ended up being installed on your system? Did you downgrade rubyems for some reason?

@simi Since we don't even test those combinations, should we prevent downgrading past the version that came with each ru

[2021-02-21 14:49] bleather opened #4399 "Error with Jekyll Template"
--- ERROR REPORT TEMPLATE -------------------------------------------------------
# Error Report

## Questions

Please fill out answers to these questions, it'll help us figure out
why things are going wrong.

- **What did you do?**

  I ran the command `/Users/benleather/.gem/ruby/2.7.0/bin/bundle exec jekyll serve`

- **What did you expect to happen?**

  I expected Bundler to compile the and bu

[2021-02-21 16:40] adr31 opened #4400 "mi empresa"

[2021-02-21 20:28] bleather commented on #4399
Edited Original Post.

[2021-02-22 00:25] #4400 closed

[2021-02-22 01:54] adityak74 opened #4401 "Package is corrupt rake while bundle install"
# Error Report

## Questions

Please fill out answers to these questions, it'll help us figure out
why things are going wrong.

- **What did you do?**

  I ran the command `/home/aditya/.rbenv/versions/3.0.0/bin/bundle install`

- **What did you expect to happen?**

  I expected Bundler to...

- **What happened instead?**

  Instead, what happened was...

- **Have you tried any solutions posted on

[2021-02-22 02:11] adityak74 commented on #4397
I did downgrade my rubygems as well to 2.5.2 since excon was not supported. Now I am facing the same issue as well.

[2021-02-22 02:23] hsbt commented on #4401
This version is too old. The old version of RubyGems is not support the modern Ruby.

And your environment mixed the rbenv and rvm. It causes the unexpected errors.

[2021-02-22 02:23] #4401 closed

[2021-02-22 02:29] adityak74 commented on #4401
Thanks @hsbt I removed ruby completely and installed using rvm. It works now!

[2021-02-22 05:29] redapple0 commented on #4394
I

[2021-02-22 09:58] deivid-rodriguez commented on #4394
@paracycle Yes, based on what you explain your proposed modification makes sense. And yes, I'll introduce the patch mentioned below the restore the previous behaviour. After all, a set of specifications can be seen as a set of _exact_ dependencies and that's why things previously work as you expected. I'll fix this :+1:.

[2021-02-22 10:01] deivid-rodriguez commented on #4397
Hi @adityak74 thanks for confirming your case. Could you elaborate on the excon issue? What was the issue you were facing with ` excon` and what made you downgrade rubygems to try to fix it?

[2021-02-22 10:09] deivid-rodriguez commented on #4399
Something weird about your backtrace is your ruby folder: ` usr/local/Cellar/ruby/3.0.0_1/lib/ruby/gems/3.0.0/gems/bundler-2.2.3/exe/bundle:49:in `block in <top (required)>'`, note the `3.0.0_1` name. Maybe you were having some issues and renamed it to move it out of the way and now it's getting accidentally in the middle?

[2021-02-22 16:10] adityak74 commented on #4397
After spending some time, @deivid-rodriguez I figured that I was trying to install `excon` but I had downgraded it already that's the reason the installation was failing. I am new to ruby and is just starting up so I wasn't sure of what versions are correct.

Also, `gem update --system` also starts to fail if you have ruby 3.0.0 installed and if you downgraded your `rubygems`. I just had to reinst

[2021-02-22 16:45] deivid-rodriguez commented on #4397
Thanks @adityak74!

I was thinking that if you could tell us why you downgraded rubygems (maybe it was written on a blog post, or github issue, or whatever), we could fix this at the "source". But in any case, I think the best solution is to prevent downgrading to a version of rubygems older than the one shipped with your ruby version, so you can never end up in a situation like yours at all.

[2021-02-22 18:03] adityak74 commented on #4397
@deivid-rodriguez - I was actually into a rabbit hole investigating for some issue. I will try to find out the StackOverflow answer that led me into this issue and update the thread here.

[2021-02-23 11:51] deivid-rodriguez commented on #4341
It seems most likely unrelated to rubygems as per the above comment and also further reading the tickets, it seems that there's a number of ways to reproduce the issue without even involving ruby.

So, based on that and given the lack of feedback, I'm closing this.

[2021-02-23 11:51] #4341 closed

[2021-02-23 13:14] jacobat opened #4402 "Adding `bin/console` binstub for existing gems"
I am the maintainer of a gem. When I run `bundle console` I get a deprecation warning:
[code]

Given that this is an existing gem I have no easy way to run this command for the gem. It would be nice to have something like the `bundle binstubs` command to generate the console command for an existing command.

[2021-02-23 13:52] rwmotivation commented on #4397
@adityak74 were you able to find out any way out I am going to uninstall ruby and rails completely and try again.

[2021-02-24 03:50] cfis commented on #4375
David - Is there anything else you need from me to wrap this up? Would love to get this fixed.

Thanks  - Charlie

[2021-02-24 14:01] deivid-rodriguez commented on #4389
@rafaelfranca The same issue was reported at https://github.com/rubygems/rubygems/pull/4403 and upgrading rubygems fixed the issue there, in case that helps you.

[2021-02-24 14:51] nickhammond commented on #1240
I'm sure this issue is just stale but this shouldn't be a problem that Bundler or Rubygems has to deal with. Gem Fury installation instructions have been updated with a recommended private installation approach, Sidekiq Pro offers a similar option.

https://gemfury.com/help/install-gems#keep-your-privates-private-bundler-18

[2021-02-24 14:59] johnalanwoods commented on #4341
Sorry for the delay @deivid-rodriguez  - I've all but confirmed this is a bug in macOS. Check my post here: https://github.com/Homebrew/discussions/discussions/920

[2021-02-24 23:13] headius opened #4404 "System update breaks JRuby gem shebang on Darwin"
When updating RubyGems it installs a gem binscript. However the shebang for this script attempts to reference the `jruby` executable directly:

[code]

However, by default this executable is a bash script, and on Darwin (and I think on other BSDs as well) you cannot put a bash script in the shebang of another language's script. When you do, it attempts to run the language script with bash, produci

[2021-02-25 05:59] ghbren opened #4405 "CVE for Bundler 2.2.10 because it installs wrong versions?"
Would you be able to file a CVE for bundler 2.2.10 because it installs wrong gem versions? https://github.com/rubygems/rubygems/issues/4383

That way, this issue can be added to ruby-advisory-db and then bundle audit will flag bundler 2.2.10 uses.

Thank you.

[2021-02-25 09:30] deivid-rodriguez commented on #4405
Hi, thanks for the report. I'm personally against considering that bug a security issue. The effects of it are similar to not using a lockfile at all, and while we strongly recommend that, we have never claimed that not using a lockfile is a security issue.

[2021-02-25 10:23] hsbt commented on #4405
I also against to assign CVE number. Because the attack surface of this issue is a limited environment and condition.

[2021-02-25 10:27] deivid-rodriguez commented on #4404
Hi @headius!

The rubygems upgrade process is currently very complicated, since it jumps from CLI command from CLI command too many times. Currently `gem update --system` runs the "update" command, then the "setup" command, and then the "pristine" command, which is the one responsible for regenerating binstubs. Jruby sets the proper option for this to work properly [here](https://github.com/jruby/

[2021-02-25 16:10] rwmotivation opened #4407 "package is corrupt, exception while verifying wrong number of arguments (given 2, expected 1) (ArgumentError)"
--- ERROR REPORT TEMPLATE -------------------------------------------------------
# Error Report

## Questions

Please fill out answers to these questions, it'll help us figure out
why things are going wrong.

- **What did you do?**

  I ran the command `/home/rahul/.rbenv/versions/3.0.0/bin/bundle update`

- **What did you expect to happen?**

  I expected Bundler to... install minitest minitest-

[2021-02-25 17:08] rafaelfranca commented on #4389
Yes it did! Thank you

[2021-02-25 17:08] deivid-rodriguez commented on #4407
Your issue is already being troubleshoot at https://github.com/rubygems/rubygems/issues/4397. Please don't misuse this bug tracker just to get attention. Thanks.

[2021-02-25 17:08] #4407 closed

[2021-02-25 18:19] rwmotivation commented on #4407
@deivid-rodriguez  to get the attention you really think I need your attention. I'm all straight

[2021-02-25 18:22] deivid-rodriguez commented on #4407
What I'm saying is that this is clearly the same issue as #4397, so let's get you some help in there.

[2021-02-25 18:23] deivid-rodriguez commented on #4397
@rwmotivation You need to reinstall ruby unfortunately, because due to this issue, the downgraded rubygems installation can no longer upgrade itself.

[2021-02-25 18:35] adityak74 commented on #4397
@deivid-rodriguez - After carefully assessing what I did do, I finally realized how I ended up into this issue.

1. I cleared Gemlock file
2. I did try to install a gem (I am dumb I shouldn't have)
3. Followed the error message online
4. I don't know why but I guess I misread a thread while I was trying to fix something that wasn't even an issue and ended up downgrading to 2.5.2
5. Now I do `bundl

[2021-02-25 18:40] deivid-rodriguez commented on #4397
Alright, thanks @adityak74. I'm now convinced that rubygems should avoid being downgraded to versions that we don't test at all, specially because the downgrades could result in "permanent damage" like in this case.

[2021-02-25 19:25] deivid-rodriguez commented on #4397
This is what I have in mind (versions taken from https://stdgems.org/rubygems/):

[code]

[2021-02-25 20:53] cjlarose commented on #3204
FWIW I ran into this issue when deploying a lambda function to AWS. I was packaging the `vendor/bundle` directory for distribution to the lambda function, but not the `vendor/cache` directory. The fix isn't as easy as just adding `vendor/cache` to the lambda function, though.

At first I thought the way this worked at all was that normally Bundler would add the relevant subdirectories of `vendor/c

[2021-02-26 03:31] Andrewngabriel commented on #4048
I've ran into this exact issue that @sandstrom mentioned regarding installing gems in a linting job running in github actions. While I haven't tried the approach of using a separate Gemfile specifically for linting, I was hoping there would be a way to modify the behavior of `--with` while not introducing breaking changes. I'm open to contributing to add this but just need some guidance about whic

[2021-02-26 14:53] rbjarnason commented on #4136
@deivid-rodriguez Not the first time that I have this problem happen at random and now spent hours not getting it to work until I found this. https://medium.com/@chr.nonato/retrying-fetcher-due-to-error-bundler-httperror-558315f45612 and https://stackoverflow.com/questions/49800432/gem-cannot-access-rubygems-org/50349235#50349235

So as hard it is to believe then just adding the below to my /etc/h

[2021-02-26 21:51] duckinator commented on #4402
I agree, it'd be nice to have a command to (re)generate binstubs. I've had a few cases where I basically

I'm not sure what the best approach would be for the command syntax itself, but I figured I'd get together some relevant information.

**Relevant parts of the codebase:**

It looks like, atm, all of the code related to binstubs is in [`bundler/lib/bundler/cli/gem.rb`](https://github.com/rubyge

[2021-02-26 21:59] duckinator commented on #4397
@deivid-rodriguez assuming that `oldest_supported_version` stops you from upgrading to an older version, this seems like a good approach. It's not perfect (mainly wrt adding a periodic maintenance chore), but it's significantly better than breaking people's Ruby installs imo.

[2021-02-27 00:44] headius commented on #4404
Aha... that is a good idea. I will try that on my end and confirm it works.

[2021-02-27 11:20] deivid-rodriguez commented on #4355
Got no feedback here, so closing.

[2021-02-27 11:20] #4355 closed

[2021-02-27 11:37] deivid-rodriguez commented on #4397
Yes, assuming you meant _downgrading_ rather than _upgrading_. :)

I thought of finding the rubygems version shipping with each ruby dinamically. You could for example, parse `VERSION =" in the `rubygems.rb` in `RbConfig::CONFIG["rubylibdir"]`. But to be honest, I prefer this explicit approach even if it requires updates whenever you add/remove support for new rubies.

[2021-02-28 00:23] duckinator commented on #4397
Yes, I meant downgrading. ^^

And yeah, I prefer the explicit approach as well. Anything more complex than that seems like it could be pretty fragile.

[2021-02-28 18:52] deivid-rodriguez opened #4412 "Make it easier to run bundler specs from the root of the repository"
### Describe the problem as clearly as you can

People are understandably confused by our mono repository setup. We should make it easier to run bundler specs from the root of the repository, by doing `bin/rspec` or `bin/parallel_rspec`, or specifying specific files like `bin/rspec bundler/spec/commands/new_gem_spec.rb`.

We should create `bin/rspec` and `bin/parallel_rspec` binstubs at the root o

[2021-02-28 19:06] mockdeep opened #4413 "Unable to view gem "thread" on rubygems.org"
When clicking the link to view [the gem `thread`](https://rubygems.org/gems/thread) on rubygems.org it displays the message "This namespace is reserved by rubygems.org."

I will abide by the [code of conduct](https://github.com/rubygems/rubygems/blob/master/CODE_OF_CONDUCT.md).

[2021-02-28 21:58] deivid-rodriguez opened #4414 "Redact private data from `bundle env` output"
### Describe the problem as clearly as you can

As per https://github.com/rubygems/rubygems/pull/4359, Our issue templates tells users to copy the output of `bundle env` without remembering them to anonymize any private data before doing so.

Ideally we should anonymize any private data included in `bundle env` output by default, but since that might be tricky, we should at least add a note about

[2021-02-28 22:01] deivid-rodriguez opened #4415 "Flaky test failure on truffleruby"
I'm having a problem or would like to suggest a feature.

My current problem is that I think we run into a flaky test failure on truffleruby here: https://github.com/rubygems/rubygems/pull/4378/checks?check_run_id=1999614012.

[code]

This issue is related to:

  - [ ] Network problems
  - [ ] Installing a library
  - [ ] Publishing a library
  - [ ] The command line `gem`
  - [x] Other

Here are

[2021-02-28 23:14] aaronjensen commented on #4414
Just a note: even if you succeed in redacting data (which, I would think would just be a matter of only emitting bundle configuration for named/hard-coded configuration options, which should not include credentials), you should still encourage anonymizing the data because you cannot force people to upgrade and there are already old versions in the wild that emit private data.

[2021-03-01 10:11] #4375 closed

[2021-03-01 10:19] deivid-rodriguez commented on #4414
Sure, I just added a note about this at #4416.

[2021-03-01 16:44] headius commented on #4404
You know, it occurs to me that this could be determined automatically.

From what I have read, only Linux actually supports a shebang line pointing at a script with another shebang line. Most other unixes will take the shebang of the first script and use it to run the second, ignoring the second script's shebang.

https://www.in-ulm.de/~mascheck/various/shebang/#interpreter-script

So, env shebang

[2021-03-01 16:46] headius commented on #4404
Clarification: if myscript is a shebang script pointing at executable 'foo' and yourscript is a shebang script pointing at myscript, then foo will be used when running yourscript rather than myscript.

[2021-03-01 16:52] deivid-rodriguez commented on #4404
I guess we could do that, yeah.

[2021-03-01 17:04] eregon commented on #4404
Reading and I'm not following. I've seen nested shebangs not working e.g. on macOS with a non-bash shell if the ruby executable is itself a script with a shebang.
But what does `--env-shebang` vs absolute shebang change to that? Does it solve anything?

I think the issue is that shebangs have a maximum length that the kernel will read which is pretty short on some OS, and in those cases `--env-she

[2021-03-01 17:48] deivid-rodriguez commented on #4380
I'm planning to start shipping some fixes regarding this in the next days. I added coverage for the issues raised with 2.2.10 but extra testing never hurts, so if someone wants to check that https://github.com/rubygems/rubygems/pull/4418 doesn't break anything, I appreciate that.

[2021-03-01 17:55] Fryguy commented on #4380
Thanks @deivid-rodriguez ...I'll take a look

[2021-03-01 18:08] Fryguy commented on #4380
@deivid-rodriguez I did a quick `bundle install`, `bundle update`, `bundle exec`, and everything seems to be working good.

Note that ManageIQ may not be fully representative, because we intentionally have different version numbers in rubygems.manageiq.org than rubygems.org, and in our app we use "=" to ensure we only pull that version.  For example, we have `gem "handsoap", "=0.2.5.5", :source =>

[2021-03-01 18:16] deivid-rodriguez commented on #4380
Yep, we have tests for that.

We test the case with the exact same version in multiple repositories (which currently passes, pulling the dependency from the most specific source), and the case with a higher version in the outermost source (which currently does the wrong thing, but I hope to fix soon).

[2021-03-01 18:17] headius commented on #4404
That is exactly what it does... it makes the script work, because instead of referencing another script the shebang line is referencing an executable – `env`. I guess the long path is another thing it fixes, but I believe it was originally added because of this BSD behavior of shebangs with scripts.

So my question is... why doesn't it just do this by default when we can tell it is not Linux and t

[2021-03-01 18:22] headius commented on #4404
@deivid-rodriguez Setting those defaults did indeed fix this:

[code]

But my point about doing this automatically stands. Currently we set `env-shebang` for two commands, and it will be four with this change... but when the user installs the native `jruby` executable we go back to non-env shebangs. It would be simplest if RG could just detect when env shebangs are necessary and do the right thing

[2021-03-01 18:23] ThomasKoppensteiner commented on #4380
@deivid-rodriguez the version from #4418 works for me. Thank you.

[2021-03-01 18:25] headius commented on #4404
It appears that we can... the following works fine for me locally (macos):

[code]

[2021-03-01 19:30] Envek commented on #4380
I tested [this](https://github.com/rubygems/rubygems/issues/4380#issuecomment-779848411) case (with some of rails gems installed from git) with the version from #4418 and it looks like it works! Thanks! :tada:

[2021-03-01 19:52] eregon commented on #4404
Ah, that is quite subtle, thanks for clarifying.
Agreed `--env-shebang` should just be the default, and it seems many people agree to that.

If making it work even if the wrong `ruby` is in PATH is wanted, then there is https://github.com/oracle/truffleruby/blob/master/doc/contributor/launchers.md#solution but it's more involved and some things don't work if the source of such files is not entirel

[2021-03-01 20:06] headius commented on #4404
I have been trolling Twitter for reasons not to use env. Not many have come up...

* Some platforms or env impls may have a limit on the size of the command, like 128 chars. However I think there are already limits on the shebang line that such a long path is likely to break even without env.
* Vague descriptions of env as an attack vector by inserting unexpected environment into a subcommand. I h

[2021-03-01 20:23] deivid-rodriguez commented on #4380
Wow, thanks everyone for stepping in and early testing this. It gives me hope and confidence :)

[2021-03-02 00:43] rubyFeedback opened #4420 "Usability change: when "Enter your RubyGems.org credentials." is asked to the user, and the user types in Email and Password, store these persistently the moment the user has finished typing this."
Hey there rubygems devs,

Before I describe my proposed change to "gem" functionality, allow me to first describe the
problem.

My current openssl installation is borked, or rather, the ruby wrapper around it.

Example:

/home/Programs/Ruby/2.7.2/bin/ruby: symbol lookup error: /home/Programs/Ruby/2.7.2/lib/ruby/2.7.0/x86_64-linux/openssl.so: undefined symbol: SSL_CTX_get_options

Now, I am investi

[2021-03-02 02:51] mraj-rpx opened #4421 "Jruby bundle error"
# Error Report

## Questions

Please fill out answers to these questions, it'll help us figure out
why things are going wrong.

- **What did you do?**

  I ran the command `/Users/mohanraj/.rvm/gems/jruby-9.1.6.0@global/bin/bundle install`

- **What did you expect to happen?**

  I expected Bundler to...

- **What happened instead?**

  Instead, what happened was...

- **Have you tried any solutio

[2021-03-02 06:31] heathdevelopment commented on #3549
I solved this problem by restarting my terminal. I received the same error above "Could not find 'bundler' (2.1.4) required"  after install rails 6.1.1 then attempting to check rails version.  After adding rails using "rbenv rehash" to add rails to the terminal, I figured it need to be restarted to fetch the path in memory. Hope this helps someone.

[2021-03-02 09:51] deivid-rodriguez commented on #4421
Ugg, jruby issue I guess? Does it happen on bundler 2.2.11? Does it happen if you upgrade jruby? Does it happen if you upgrade rubygems with `gem update --system`?

[2021-03-02 09:58] deivid-rodriguez commented on #4420
Problem is, as far as I understand, we use your credentials to fetch your API key for the operation you're trying to attempt from rubygems.org (or create a new one if you don't yet have one), and what's saved to local storage is your scoped API key, not your full rubygems.org crredentials. Fixing this issue would mean storing your full credentials, which I don't believe we want to do. So I don't s

[2021-03-02 11:09] deivid-rodriguez commented on #88
Hi @iboB, I'm trying to catch up with old issues. I'm in general in favour of this, but I would fix only the "non ruby shebang case" for now and wait for anybody to request the other feature. As far as I know, none of the use cases mentioned here are trying to ship a batch script with a gem, so I'd say we can attend that problem when it becomes a problem for someone? I'm just overwhelmed by the am

[2021-03-02 11:42] deivid-rodriguez commented on #4369
Hi @theblindguidedog, sorry for the delay.

We have fixed some race conditions lately in `bundle install`. Please upgrade bundler to the latest version and if you can still reproduce this, open another ticket. Make sure you copy the error directly into the report instead of attaching a file, it's easier for us.

Thanks!

[2021-03-02 11:42] #4369 closed

[2021-03-02 11:46] deivid-rodriguez commented on #4397
Do you think it'd be worth to support `--force` to opt-out of this? I'm slightly concern that the options for downgrading could be very restricted particularly on the latest ruby, but I guess we can consider adding that later if it becomes an issue for someone.

[2021-03-02 12:05] deivid-rodriguez commented on #3240
This was probably fixed in recent versions of rubygems & bundler. Please reopen with repro steps if not!

[2021-03-02 12:05] #3240 closed

[2021-03-02 12:54] deivid-rodriguez commented on #3286
Hi @hadmut. The explanation of this behavior is the following:

* When you create a new gem, a Gemfile is created that points to the local gemspec, like this:

[code]

This means that when you run `bundle install`, the dependencies on your gem are installed as regular gems, path the gem itself is considered a "path source" (the `gemspec` DSL you can see above). Path sources don't really get instal

[2021-03-02 14:02] deivid-rodriguez commented on #4360
I see that you're already trying out 2.2.4, thanks @CAMOBAP! As I said, I would expect this to still reproduce, but in any case, the fix seems good to me so I'll still merge it in a couple of weeks even if it doesn't repro on 2.2.4 and I don't fully understand how we regressed.

[2021-03-02 14:10] CAMOBAP commented on #4360
@deivid-rodriguez sorry I forgot to write, yep downgrading to 2.2.4 fix the issue

[2021-03-02 20:04] deivid-rodriguez commented on #4258
It hasn't reappeared in almost two months, so closing. I'll reopen if it reappears.

[2021-03-02 20:04] #4258 closed

[2021-03-02 20:06] deivid-rodriguez commented on #4251
I think it makes sense to transfer this issue to https://github.com/rubygems/rfcs until there's an RFC that can be implemented?

[2021-03-02 20:31] simi commented on #4251
@deivid-rodriguez yup, let's do that.

[2021-03-02 22:34] marcandre commented on #4191
It's fine, thanks 👍

[2021-03-03 02:47] duckinator commented on #4397
@deivid-rodriguez I think supporting `--force` makes sense, yeah.

[2021-03-03 10:25] #4360 closed

[2021-03-03 11:08] deivid-rodriguez commented on #4016
@sambostock I'm sorry for getting to this so late. #4381 should fix this!

[2021-03-03 12:16] deivid-rodriguez commented on #3643
This should get fixed by #4381!

[2021-03-03 12:17] deivid-rodriguez commented on #3643
The approach is that we'll start _always_ locking GEM sources separately, since it's the more secure "mode", but we'll keep the previous behaviour and print a warning when there's an existing lockfile with "merged sources".

[2021-03-03 13:19] sambostock commented on #4016
All good! Thanks for the hard work on these sources issues! ♥️

[2021-03-03 13:26] deivid-rodriguez commented on #4380
Ok, 2.2.13 is out, hopefully I didn't break everything this time :pray:.

I have a second improvement in source priority that I'd appreciate if you could try: https://github.com/rubygems/rubygems/pull/4381. Note that if you have an existing lockfile, you should get a warning and you'll need to run `bundle update` or generate it from scratch to get the more secure behaviour.

[2021-03-03 18:49] garybethea opened #4425 "rubygems-update 3.2.13 breaks sorbet installation on alpine"
My current problem is that using `rubygems-update 3.2.13`, running `bundle install` on Alpine fails with the error, `Could not find sorbet-static-0.5.6317-universal-darwin-14 in any of the sources` even though it is present in `Gemfile.lock`.

This issue is related to:

  - [ ] Network problems
  - [ X] Installing a library
  - [ ] Publishing a library
  - [ ] The command line `gem`
  - [ ] Other

[2021-03-03 20:19] deivid-rodriguez commented on #4425
Hi @garybethea, thanks for the report.

It definitely looks related to #4082. My guess is that `bundler`, when looking for candidates of `sorbet-static` for installation, is now trying to find an exact candidate for your platform (alpine), and it's no longer finding it because after #4082 it wants a linux-musl version, which doesn't exist.

Now I'm rereading the description of the PR and I think i

[2021-03-03 20:23] deivid-rodriguez commented on #4425
Also @garybethea, I don't think it will fix this issue, but could you upgrade to bundler 2.2.13? It should have a better behaviour regarding platforms. For example, the error message on this issue ("Could not find sorbet-static-0.5.6317-universal-darwin-14 in any of the sources")  should be less confusing with the latest bundler. Assuming you regenerate the lockfile and lock both platforms you're

[2021-03-03 21:01] garybethea commented on #4425
Thanks @deivid-rodriguez I'll give upgrading bundler a try.

I can confirm that on Alpine, the `x86_64-linux` version of `sorbet-static` works fine!

[2021-03-03 21:15] deivid-rodriguez commented on #4425
Yeah, I can confirm the culprit-. I don't know how I missed this since it was stated clearly on the PR body and I knew linux specific variants that work just fine on alpine :disappointed:.

The issue is clearly not good for `sobet-static` since it only has platform specific variants. For gems providing a generic ruby version like `nokogiri` I guess the best choice is more open to debate, since at

[2021-03-03 21:48] lloeki commented on #4425
@deivid-rodriguez I believe you are correct, as the PR linux and linux-musl are different things, which means e.g sorbet-static would need to be republished as is under a linux-musl platform. Sadly I thought that was understood given the description and the tests. Let me apologise for the miscommunication.

I think sorbet-static works on all platforms because it’s (as the name says) statically bui

[2021-03-03 22:02] lloeki commented on #4425
From an implementation point of view, I’m not sure this can be solved solely with comparisons as knowledge of availability of other gem platforms needs to be taken care of.

[2021-03-03 22:17] lloeki commented on #4425
I also had a wild crazy thought that maybe binary gems could claim to support multiple platforms, so a gem such as sorbet-static could claim support for linux and linux-musl, and similarly darwin gems could claim to support e.g darwin17 through darwin20 (a range whose start is known via -mmacos-min-version flag value) without having to publish an identical one for each.

[2021-03-03 22:26] deivid-rodriguez commented on #4425
Well, I don't think you miscommunicated anything, it was all cristal clear, I just missed it. I think I read it the first time and didn't raise any flags, and then this second time I was not careful enough to go through everything again :(.

I think we should go back to the previous state of things, with the exception that if there's a musl variant, it should always be preferred on alpine. For the

[2021-03-03 22:27] garybethea commented on #4425
That's amazing, thanks for the support @deivid-rodriguez!

[2021-03-04 01:36] AgatheLT opened #4426 "Middleman - Errno::EACCES: Permission denied @ rb_sysopen -"
- **What did you do?**

  I ran the command :

➜ $ gem install bundler
Fetching bundler-2.2.13.gem
Successfully installed bundler-2.2.13
Parsing documentation for bundler-2.2.13
Installing ri documentation for bundler-2.2.13
Done installing documentation for bundler after 2 seconds
1 gem installed
➜  $ bundle install

- **What did you expect to happen?**

  Wanted to install new gem in Middleman
B

[2021-03-04 06:36] briantoth opened #4427 "bundler 2.2.13 causes gdk_pixbuf2-3.4.3/dependency-check to fail on linux"
### Describe the problem as clearly as you can

Could not find "rake2.7".

[code]

### Post steps to reproduce the problem

I've created a fairly [minimal repro](https://gitlab.com/briantoth/testing-bundler/-/tree/master).

A passing job can be found [here](https://gitlab.com/briantoth/testing-bundler/-/jobs/1071921309).

A failing job can be found [here](https://gitlab.com/briantoth/testing-bundl

[2021-03-04 07:33] deivid-rodriguez commented on #4427
I think this is a regression of https://github.com/rubygems/rubygems/pull/4409. In that PR I made the assumption that specs don't need to be made immediately available during `bundle install`. That's true in general but I missed the one and only exception: `rake`. In the case of `rake`, it needs to always be installed first (bundler already special cases `rake` to do this), and be made available i

[2021-03-04 07:43] deivid-rodriguez commented on #4426
Hi @AgatheLT. I tried to reproduce this but everything worked as expected. Could you share more information about your environment and possibly share steps to reproduce the error?

[2021-03-04 08:07] lloeki commented on #4425
Oh, I was not aware that was a planned thing. IIUC that's the equivalent of this `gem` command flag, right?

[code]

Am I correct to assume this flag would be persisted in the lockfile in some way?

Is the information persistable/persisted per-platform? Otherwise while it would work, it would mean that `ruby` would be that gem platform for all Ruby platforms, thus having gems being `ruby` on every

[2021-03-04 08:20] deivid-rodriguez commented on #4425
This new `:force_ruby_platform` flag is just a per-gem implementation of a global configuration bundler has, `BUNDLE_FORCE_RUBY_PLATFORM`, which completely forbids bundler from picking up platform specific gems. This would just make that a bit less brute-force.

The rubygems `--platform` flag is similar (more flexible I guess since it allows you to specify any platform, not just ruby), but bundler

[2021-03-04 08:50] iboB commented on #88
@deivid-rodriguez I am. It is a problem for me. The whole reason I got involved with this issue is because I am trying to ship batch files with my gem.

[2021-03-04 10:03] CAMOBAP commented on #4360
@deivid-rodriguez @simi maybe you have some info on when this will be released?

[2021-03-04 10:30] deivid-rodriguez commented on #4360
Soon.

[2021-03-04 12:15] lloeki commented on #4425
Great. Same here, but I'll do my best to give a hand.

[2021-03-04 12:50] deivid-rodriguez commented on #4427
#4428 should fix this!

[2021-03-04 13:14] #4427 closed

[2021-03-04 16:51] briantoth commented on #4427
Thanks for the quick turnaround!

[2021-03-04 23:12] kigster commented on #88
@deivid-rodriguez @iboB I thought I was in the same boat, with my gem [warp-dir](https://github.com/kigster/warp-dir). It's a gem that's compatible with ZSH's [wd](https://github.com/mfaerevaag/wd). It installs a command `wd` (which is a BASH function that invokes gem's executable) and allows you to create and keep directory bookmarks on the file system. I initially thought that I needed to ship `

[2021-03-05 04:24] iboB commented on #88
I still think it's ridiculous that adding a custom executable is impossible with gems and I definitely wouldn't call the workarounds and jumps through hoops people have created because of this "elegant".

I would also allow shipping binary executables, yes. In most cases it's a bad idea but certain uses may exist. More power to the developers!

As for this being an attack vector... how? You can sh

[2021-03-05 12:29] aflaco commented on #4398
I have same problem.
I don't know how it solve?

[2021-03-05 13:14] deivid-rodriguez commented on #4398
Feel free to open a new ticket, but please include as much information as possible so that we can reproduce the problem in our machines, otherwise it's very unlikely that we can help you.

[2021-03-05 15:00] voxik opened #4429 "Three tests fail in Fedora packaging environment"
Trying to update rubygems package on Fedora, I observe following error:

[code]

Digging deeper, this is the actual issue:

[code]

Since there is used `export RUBYOPT="--disable-gems -Ilib:test:bundler/lib"` prior the test execution this is not completely surprising and adding `-rrubygems` into the `Open3` call fixes the situation. Now I wonder, is there a chance to have this fixed upstream?

[2021-03-05 15:03] voxik commented on #4429
Just FTR, the update is from 3.1.4 where the test suite was passing just fine with the `--disable-gems` and the option is used since 2.6.10.

Now trying to drop the option, different set of test cases fail, so the test suite is not passing with or without that option :/

[2021-03-05 15:04] deivid-rodriguez commented on #4429
Sure, feel free to propose a fix. Just make sure this test still fails if the patch that introduced it is reverted.

[2021-03-05 15:19] deivid-rodriguez commented on #4429
The fix you proposed of adding `-rrubygems` makes sense to me.

[2021-03-05 16:35] voxik opened #4430 "Allow to execute the test suite from the content of release tarball."
I'd appreciate, if the content of release tarball was complete, so the included test suite can be executed. Currently, trying to execute the test suite from the tarball, it fails:

[code]

Alternatively, please make sure the test suite is executable via command as simple as:

[code]

Then the tarball could stay in its current from and not all content required by Rake would be necessary.

[2021-03-06 01:29] tomdulin commented on #4269
Reading the comments, I am running into the same issue even after running the bundler lock command in several variations (/w ruby, /wo ruby) doesnt matter, still get the same error:

remote: -----> Building on the Heroku-20 stack
remote: -----> Ruby app detected
remote: -----> Installing bundler 2.2.11
remote: -----> Removing BUNDLED WITH version in the Gemfile.lock
remote: -----> Compiling Ruby/R

[2021-03-06 10:49] raldred commented on #4269
We had this symptom and it was actually caused by our Gemfile lock having
CLRF line endings which wasn't being parsed by the build back correctly.
However i believe that has now been fixed by the build pack maintainer

On Sat, 6 Mar 2021, 01:30 Tom Dulin, <notifications@github.com> wrote:

[2021-03-06 11:44] danyalshah3 opened #4432 "cannot do gems and bundle lab."
BUNDLED WITH
   2.2.7
[code]

[2021-03-07 09:35] #4432 closed

[2021-03-07 09:37] deivid-rodriguez commented on #4430
Feel free to submit a pull request :+1:.

[2021-03-08 04:58] jacobtani opened #4433 "Permission denied rb_sysopen rake 13.0.3"
Ruby 2.7.2 Docker image running the Dockerfile and the bundle install command using a non root user

# Error Report

## Questions

Please fill out answers to these questions, it'll help us figure out
why things are going wrong.

- **What did you do?**

  I ran the command `/usr/local/bundle/bin/bundle install --jobs=10`

- **What did you expect to happen?**

  I expected Bundler to...

- **What ha

[2021-03-08 09:37] deivid-rodriguez commented on #4433
Hi @jacobtani, thanks for reporting this. I tried to reproduce using the following `Dockerfile`, but everything worked as expected.

[code]

Can you provide steps to reproduce this issue?

[2021-03-08 09:38] deivid-rodriguez commented on #4399
Closing due to lack of feedback.

[2021-03-08 09:43] bleather commented on #4399
This is incorrect.  There’s no previous versions of Ruby that “are accidentally getting in the middle”.  The only Ruby version installed is the one contained in 3.0.0_1.  I’m unsure why it has this name but I’ve since reinstalled Ruby and it still has this unusual name so it’s not clear to me.

[2021-03-08 09:46] deivid-rodriguez commented on #4399
Ok, how did you reinstall ruby? It seems like you're using the system ruby provided by MacOS?

[2021-03-08 09:49] bleather commented on #4399
Through homebrew.  Although looking back at the trace from my previous comment “rbenv” is installed on my system.  I might have done this previously (a few years back) but I don’t recall it.

[2021-03-08 09:49] deivid-rodriguez commented on #4399
Oh, I see this is actually `rbenv`. This is super weird. Jekyll seems to be trying to use the ruby in your `site_lib` folder directly, instead of respecting the running bundler.

[2021-03-08 09:53] bleather commented on #4399
That would begin to explain things.  That’s really odd isn’t it? What would you recommend?

[2021-03-08 09:53] deivid-rodriguez commented on #4399
Oh wow, now I'm also seeing that the error message shows a bundler path in your ruby 2.7.0 installation, but the backtrace shows paths in your ruby 3.0.0 installation. That, in addtion to the fact that you're using `homebrew` but have `rbenv` installed, makes it very likely that your installation is messed up.

[2021-03-08 09:54] deivid-rodriguez commented on #4399
I would first try to remove both `rbenv` and ruby 2.7, if you don't plan to use those, and then try again and see what happens.

[2021-03-08 09:55] bleather commented on #4399
Yes, you’re completely right.  I see that now.  Wow.  That's impressively bad from my point of view.  God knows how I have messed that up so badly.

[2021-03-08 10:03] deivid-rodriguez commented on #4399
Yeah, that's definitely bad! Try removing whatever is unintentionally getting in the middle and the issue should be gone. If you're still having issues after you fix your installation, feel free to reopen this :+1:.

[2021-03-08 10:03] #4399 closed

[2021-03-08 10:09] jacobtani commented on #4433
Here is my Dockerfile
[code]

docker-web file:
[code]

docker-compose.yml
[code]

To replicate the behaviour i run `docker-compose build --pull --no-cache web` and i get the stack trace @deivid-rodriguez

[2021-03-08 10:14] deivid-rodriguez commented on #4433
Thank you @jacobtani!! I can reproduce this now!

[2021-03-08 10:15] jacobtani commented on #4433
Excellent thank you @deivid-rodriguez . Look forward to hearing from you on your thoughts

[2021-03-08 11:04] deivid-rodriguez commented on #4425
For now I'll be reverting the change (#4434) and release the revert as 3.2.14.

[2021-03-08 14:24] joaobrittoneto opened #4436 "Problems to install gem `cog` with bundler 2.2.13"
### Describe the problem as clearly as you can

There is a problem to install gem `cog` with bundler 2.2.13, that does not happens with bundler 2.2.11.

With bundler 2.2.13 it fails at the first attempt, but succeeded at the second attempt.

### Post steps to reproduce the problem

On a fresh ubuntu (used 18.04) with ruby and bundler 2.2.13.

Using the follow Gemfile:
[code]
and calling `bundle in

[2021-03-08 14:29] simi commented on #4436
@joaobrittoneto seems dupe of https://github.com/rubygems/rubygems/issues/4427 and fixed by https://github.com/rubygems/rubygems/pull/4428. Can you confirm?

[2021-03-08 15:00] joaobrittoneto commented on #4436
Thanks for the fast reply.

It seems to work
Cloning from the repo and using the `rubygen/bundler/bin/bundle`, with the follow docker cmd:
[code]

provides
[code]

Waiting for the release 2.2.14. Is there an expected date for it?

[2021-03-08 15:25] #3643 closed

[2021-03-08 15:25] #4016 closed

[2021-03-08 15:27] #4425 closed

[2021-03-08 15:48] simi commented on #4436
@joaobrittoneto seems it will be released in terms of hours - https://github.com/rubygems/rubygems/pull/4437

[2021-03-08 15:49] deivid-rodriguez commented on #4436
Yeah!

[2021-03-08 15:53] deivid-rodriguez commented on #4436
Closing since it's already fixed in master.

[2021-03-08 16:24] deivid-rodriguez commented on #4433
@jacobtani If you upgrade rubygems (`gem update --system`), you should get [this change](https://github.com/rubygems/rubygems/pull/3876) which should make bundler give a slightly better error message. In particular, something like:

[code]

The problem is that `/usr/local/bundle` is not writable by the user running `bundler`, and bundler tries to save a cache of downloaded gems in there. You can b

[2021-03-08 16:29] voxik commented on #4429
Ah, now I just noticed that there are failing also other two test cases for similar reason. However, there was explicitly removed the `-rrubygems`:

https://github.com/rubygems/rubygems/commit/583316bf496b636702557c513763e49cd94cbcc2

[2021-03-08 16:32] deivid-rodriguez commented on #4429
I didn't know that you run tests like this at the time, so I thought it was not needed. Feel free to add it back.

[2021-03-08 16:44] simi commented on #4429
@deivid-rodriguez do we (want to) support tests running with `--disable-gems` at all?

[2021-03-08 16:52] deivid-rodriguez commented on #4429
I don't have a strong opinion, but if rubygems packagers want to keep that working in order to be able to run all tests without having to modify their copy of rubygems, I'm happy to accept contributions in that regard.

[2021-03-08 17:49] jrochkind opened #4439 "bundler 2.2.13 cannot install a specific Gemfile involving a :git source, where earlier Bundlers can install same gemfile"
### Describe the problem as clearly as you can

This is a Gemfile that bundler 2.2.12 and prior can install just fine, but Bundler 2.2.13 cannot.

[code]

That's it, just those two lines.  I know this is an odd Gemfile because railties is already a dependency of rails and we aren't specifying any additional version or anything; but despite being odd, it still ought to work. This is a minimal repro

[2021-03-08 17:58] deivid-rodriguez commented on #4439
Yes, this is due to https://github.com/rubygems/rubygems/pull/4418, which I consider a bug fix, that's why we shipped it in a patch release.

 In your `Gemfile`, you're explicitly stating that you want to pull `railties` from your global source, and since you didn't specificy any global source at all, that means " "locally installed gems".

Previously bundler would accidentally "work" by pulling t

[2021-03-08 17:58] #4439 closed

[2021-03-08 18:07] voxik commented on #4429
Actually this is question also I have on my mind. I think that ruining the test suite with `--disable-gems` was historically the thing, because simply older Ruby had not included RubyGems. Also, I think that running the test suite with `--disable-gems` might limit the possible interference between "system" RubyGems and the upstream version.

OTOH, this configuration is not tested.

However, I have

[2021-03-08 18:07] jrochkind commented on #4439
@deivid-rodriguez Sorry, it still reproduces if I specify a global source, my mistake in not realizing that was possibly relevant in distinguishing between bug and not bug.

With this Gemfile:

[code]

It still installs with 2.2.12, but fails with 2.2.13.

It does have a very slightly different error message in 2.2.13 then the one I reported. Sorry for going too far in paring down the reproduction

[2021-03-08 18:11] deivid-rodriguez commented on #4429
The answer(s) to that question would be

No, since we don't test it and take no special care of not breaking it.

I don't have a strong opinion. If someone fixes it and adds some bare tests to keep it working, I wouldn't mind supporting it.

[2021-03-08 18:18] deivid-rodriguez commented on #4439
It's still a bug.

The meaning of this Gemfile is "I want to pull rails and its dependencies from `https://github.com/rails/rails.git`, but `railties` from `https://rubygems.org`. This is impossible because the git source contains `rails-7.0.0.alpha`, which has an exact dependency on `railties-7.0.0.alpha`. However, `railties-7.0.0.alpha` does not exist on `https://rubygems.org`, which you explici

[2021-03-08 18:24] jrochkind commented on #4439
Aha, I get it, thanks!

Specifying the same source for both also works.

[code]

[2021-03-08 19:45] deivid-rodriguez commented on #4439
No problem!

You can also specify

[code]

for a bit of extra DRYness.

And since recent versions, `git: "https://github.com/rails/rails.git"` should just work without having to specify the branch explicitly.

[2021-03-08 23:00] tilo opened #4441 "gemspec needs a way to declare source: private Gems can depend on private Gems"
### Describe the problem as clearly as you can

We have private gems, which contain private gems. The dependency is declared in the gemspec file.

Currently there is no way to declare that the private dependencies are coming from a specific source, other than RubyGems

Please add support for the `source` syntax in the gemspec files

[2021-03-09 05:14] jacobtani commented on #4433
Thank you @deivid-rodriguez

[2021-03-09 05:14] #4433 closed

[2021-03-09 14:20] thedanbob commented on #3204
This works perfectly for me. And I agree with your reasoning, the workflow my org uses for deployment is

1. Cache gems locally
2. Push `vendor/cache` and `Gemfile*` to a "build server" with tools for compiling extensions, git, etc.
3. Copy the resulting `vendor/bundle` (and `vendor/cache`, because of this issue) to production

The new behavior makes this work without copying `vendor/cache` to pro

[2021-03-09 20:24] deivid-rodriguez commented on #4226
Hi @rgaufman, can you try whether #4071 fixes the issue? You can checkout that branch and run `cd bundler && bin/rake install` from the root of the repo to install it.

[2021-03-09 20:30] deivid-rodriguez commented on #3245
Hi @mperham, sorry for not replying earlier. I think the cache should be auto-managed, and get used & updated everytime you run `bundle install` or `bundle update`.

[2021-03-09 20:31] deivid-rodriguez commented on #3309
This was fixed by https://github.com/rubygems/bundler/pull/7393, but never closed!

[2021-03-09 20:31] #3309 closed

[2021-03-09 20:33] #3245 closed

[2021-03-09 20:36] deivid-rodriguez commented on #3341
It seems very similar to #3315. I'd say it should be fixed as well in newer versions. Can you repro this with bundler 2.2.14?

[2021-03-09 20:40] deivid-rodriguez commented on #3191
This was apparently fixed by https://github.com/rubygems/bundler/pull/5852, but never closed.

[2021-03-09 20:40] #3191 closed

[2021-03-09 20:50] deivid-rodriguez commented on #3232
I think what the path option does is actually set `BUNDLE_PATH` for gem installation, but doesn't configure the `cache_path` in any way, so the default is used, which is a `vendor/cache` folder relative to the `BUNDLE_PATH`.

I think we should deprecate `bundle cache --path`, just like we've deprecated other silently rememebered options. And removing that flag would fix this confusion.

Regarding

[2021-03-10 08:21] deivid-rodriguez commented on #3204
Thanks for trying it @thedanbob! The attached PR should be ready now :+1:.

[2021-03-10 09:27] casperisfine commented on #4389
Ok, so it fixed it at the time, but now we keep seeing that error even with the most recent bundler / rubygems combo (e.g. `bundler:2.2.13 rubygems:3.2.12 `).

What's even weirder is that we have some apps using the same base image will works and others not. I have no idea wether #4403 was on the good direction, but I think we should re-open this and investigate more.

[2021-03-10 11:16] casperisfine commented on #4389
I think I figured what's causing this.

For context it's happening as part of our docker image building process, the automated system invoke `bundle exec rake ...`.

On tricky thing though is that `bin/` is in the `PATH`, so in the case of the app I'm currently debugging, `bundle exec rake` actually end up being `bin/bundle exec rake`, because that app somehow has a binstub for `bundler`, and it m

[2021-03-10 11:24] deivid-rodriguez commented on #4389
Yes, I think that explains things.

The only case that "dummy metadata bundler source" that's causing issues should come into place is when bundler has not been activated as a gem, and the only case I'm aware of that can happen is if you're using a rubygems version that doesn't include https://github.com/rubygems/rubygems/commit/4e306d7bcdee924b8d80ca9db6125aa59ee4e5a3 (2.6.1 or older). Even in th

[2021-03-10 12:13] bigbadwolf114 opened #4444 "Retrying download gem from https://rubygems.org/ due to error (3/4): Gem::RemoteFetcher::UnknownHostError no such name (https://rubygems.org/gems/grape-active_model_serializers-1.5.2.gem)"

[2021-03-10 12:28] deivid-rodriguez commented on #4444
Can you upgrade rubygems (`gem update --system`) and try again?

[2021-03-10 12:42] bigbadwolf114 commented on #4444
Thanks a bunch man, worked like a charm.

[2021-03-10 13:05] deivid-rodriguez commented on #4444
Great, closing this then! :)

[2021-03-10 13:05] #4444 closed

[2021-03-10 14:22] voxik opened #4445 "Allow `bundle install --standalone` to work with `--local` option"
This is followup to rubygems/rfcs/issues/32. I am trying to use `bundle install --standalone --local` to reuse system installed packages, but it does not work:

[code]

[2021-03-10 15:12] voxik commented on #4445
Sorry, I should have provide also the `Gemfile`:

[code]

[2021-03-10 15:45] deivid-rodriguez commented on #4445
I suspect this could be related to https://github.com/rubygems/rubygems/issues/4088 or https://github.com/rubygems/rubygems/issues/3262.

[2021-03-10 16:49] voxik opened #4446 "Test suite fails when the host RubyGems are configured via operating_system.rb"
I am observing following test failures on Fedora:

[code]

The issue here is that Fedora is using `operating_system.rb` to configure the gem locations. Unfortunately, the test suite fails on various places with that configuration (66 failures, 26 errors). Trying to workaround the issue, I'm placing the empty `operating_system.rb` into the upstream sources:

[code]

This mostly helps, but leaves th

[2021-03-10 16:53] voxik commented on #4446
Just FTR, the best thing would actually be if the `gem.build_complete` is not required at all, because it says just the the build was done, not that the library is still there and requirable. I was thinking about e.g. replacing the `Specification#extensions` after build, so it would refer to the resulting `.so` files, but I don't think there is a way to reliably list them.

[2021-03-10 17:36] voxik commented on #4429
Ah, now I have discovered that using `--disable-gems` does not come from my mind:

https://github.com/rubygems/rubygems/commit/b3cb4fbd4de93ff301b2820f3acf49f1f679e587

[2021-03-10 18:01] deivid-rodriguez commented on #4429
That commit doesn't make much sense to me now :sweat_smile:.

[2021-03-10 20:11] deivid-rodriguez commented on #4446
The issue about `operating_system.rb` sounds like something you should patch on your side to me.

The remaining issue maybe was fixed by #4384?

Regarding `simplecov`, I'm not sure any maintainer currently uses it for this repo. I don't, so I would be happy removing it.

[2021-03-10 22:15] dpep commented on #4441
yeah, while Gemfile allows us to specify ruby sources (eg. RubyGems and Gemfury), gemspec does not.  adding a `source` option to gemspec would help guard against attacks like our industry's recent dependency confusion: https://medium.com/@alex.birsan/dependency-confusion-4a5d60fec610

thanks!

[2021-03-10 23:54] evanphx commented on #4441
Hi @tilo, thinking about this particular solution, I'm unsure how putting source in the gemspec would solve this. What would read this new field? What values of the field would trigger what behavior?

[2021-03-11 07:37] #4405 closed

[2021-03-11 11:47] casperisfine commented on #4282
Bringing this thread back as I'm hitting the same nokogiri issue than in https://github.com/sparklemotion/nokogiri/issues/2185

Gemfile:
[code]

Gemfile.lock:
[code]

trying to bundle with 3.1.0-dev:

[code]

Why is bundler trying to use the precompiled gem even though it's not in the Gemfile.lock?

I understand that you said bundling across versions isn't officially supported, but in this specifi

[2021-03-11 12:54] deivid-rodriguez commented on #4282
Hi.

This is for backwards compatibility with old lockfiles. If the specific platform is not there, we assume it's a lockfile not generated with recent versions (which lock the specific platform instead of "RUBY", and save platform specific variants inside the lockfile). And if it's an old lockfile, we keep the old logic of resolving platforms at install time instead of respecting what's in the lo

[2021-03-11 14:31] casperisfine commented on #4282
Oh! That explains it. I thought I was going crazy for a minute.

Thank you so much!

[2021-03-11 16:35] voxik commented on #4446
No I did not. I spoke too early :crying_cat_face:

[2021-03-11 17:10] ThomasKoppensteiner opened #4448 "Duplicate Sections in Gemfile.lock"
Bundler version `2.2.14` duplicates the "GEM remote: https://rubygems.org/" section in the Gemfile.lock, if it is specified twice in the `Gemfile`. This doesn't happen for Bundler version `2.2.13`.

I create a [this repository](https://github.com/ThomasKoppensteiner/bundler_duplicate_sections) containing some minimum working examples.

A similar behavior was discussed [here](https://github.com/rub

[2021-03-11 17:24] voxik commented on #4446
So this needs also `RUBYOPT="-I$(ruby -rrake -rminitest -rrdoc -rwebrick -e 'puts $LOAD_PATH.join ?:')"`, which puts all the dependencies on `$LOAD_PATH`, therefore the plain Ruby `require` succeeds without using the RubyGems functionality. However, while it fixes the 3 test cases, it breaks another one :rofl:

[2021-03-11 17:43] voxik commented on #4446
Ok, here is the final version:

[code]

[2021-03-11 17:44] voxik commented on #4446
Ups, closed just accidentally.

[2021-03-11 22:06] bughit commented on #3204
@deivid-rodriguez

What is git going to be used for during bundle install?

- The vendor cache does not include the git repo.
- `--local` is supposed to install from cache and not hit the network, otherwise the cache is pointless

So if you actually install from cache, which it's not clear bundler can do at this point, since by default it does git operations, then you don't need git. And if you do

[2021-03-11 22:08] adambro12 opened #4450 "Permission denied when running `bundle install`"
# Error Report

## Questions

Please fill out answers to these questions, it'll help us figure out
why things are going wrong.

- **What did you do?**

  I ran the command `/usr/local/bin/bundle install --without development production test --deployment`

- **What did you expect to happen?**

  I expected Bundler to...

- **What happened instead?**

  Instead, what happened was...

- **Have you tr

[2021-03-11 22:13] bughit commented on #3204
As well it shouldn't.

[2021-03-11 22:18] deivid-rodriguez commented on #3204
You seem to be making the assumption that the only purpose bundler uses git for is to do remote operations, which is not the case. If you can spot any actual problems with the patch, please point to them including reproducible examples. Thanks.

[2021-03-11 22:24] bughit commented on #3204
I am making no assumptions, but asking you a question, did you miss the question mark? Which you are not answering for some reason, why?

If you are installing from the vendor cache which does not have the git repo, what is git needed for?

[2021-03-11 22:30] deivid-rodriguez commented on #3204
You're not being helpful, and not willing to try anything, even if this issue was reported by you originally. If you're still interested in this issue, please temporary remove git from your PATH and try for yourself. If you're no longer interested in this issue, you don't need any answers.

[2021-03-11 22:37] thedanbob commented on #3204
For what it's worth he's right, git gems aren't installed from the cache but are freshly cloned even with `--local`. These are the errors I got when I moved git out of my PATH:

[code]

[2021-03-11 22:39] bughit commented on #3204
I am trying to understand how things are going to work with your fix, which you are refusing to explain, and with completely unreasonable hostility.

You said git is now a dependency, so it's perfectly reasonable to understand why. Obviously it doesn't make sense to force such a dependency unless it's actually needed.

If you are installing from the vendor cache which does not have a git repo, wha

[2021-03-11 22:40] deivid-rodriguez commented on #3204
Yeah, @thedanbob, I was hoping my patch might fix [the issue](https://github.com/rubygems/rubygems/issues/4226), but it doesn't :(. In any case, that issue already exists, so it seems independent from the patch.

[2021-03-11 22:45] deivid-rodriguez commented on #3204
Since I picked up this issue I felt like you've been making a lot of questions, without actually willing to try anything for yourself, giving me the impression that you were demanding things from me without even being interested anymore in the original issue. Anyways, I admit my previous message was too hostile, I apologize.

[2021-03-11 22:55] thedanbob commented on #4226
I think the problem is here: https://github.com/rubygems/rubygems/blob/master/bundler/lib/bundler/source/git.rb#L176-L181

If the gem hasn't been installed already it unconditionally clones a new copy. To make it respect `--local` some logic will need to be added where it simply copies the cached directory, if available.

[2021-03-11 22:56] bughit commented on #3204
I was making the necessary clarifying comments to make sure the problem was properly understood and so properly addressed. How you can find fault with that is beyond comprehension.

Ok. Let's move beyond that and stick to technical considerations.

I would argue that the tradeoff this fix introduces for `--local`, which is the main use-case for the vendor cache:

- requiring git
- requiring the ne

[2021-03-11 23:01] deivid-rodriguez commented on #3204
@thedanbob Can you confirm whether this need for `git` to `bundle install --local` is not something caused by my patch? I'd say it is not, specially since we already had that issue I linked to reported not long ago, but I'd like to confirm it.

If my PR is introducing a bug with `bundle install --local`, I'm happy to revert it of course

[2021-03-11 23:12] deivid-rodriguez commented on #4226
I think you're right @thedanbob!

[2021-03-11 23:13] thedanbob commented on #3204
Actually I'm not sure now how the other guy ran into this. Perhaps in the `requires_checkout?` call, which checks the local revision against the remote. Technically this patch does also result in the same issue, since before bundler was treating git gems as already installed once they're in the cache, but now they aren't and thus must be installed with a fresh clone.

[2021-03-11 23:16] deivid-rodriguez commented on #3204
Aaaaaah, I see, you too are indeed right :facepalm:. I'll have a closer look at this tomorrow, tricky stuff this issue :sweat_smile:.

[2021-03-11 23:17] bughit commented on #3204
The pre-patch behavior, although buggy, is at least consistent with the intent of  `--local`. And having `--local` actually use the cache and be local is more important.

[2021-03-11 23:22] deivid-rodriguez commented on #3204
Agreed, breaking `--local` when you have a cache would make things worse since it would completely defeat the purpose of having a cache. If I find a solution quickly I'll apply it, otherwise I'll revert the patch.

[2021-03-11 23:29] deivid-rodriguez commented on #3204
Something I don't quite understand is that I explicitly changed a spec to test exactly the behaviour we expect. Run `bundle cache`, then run `bundle install --local` and make sure no "Fetching" happens. Anyways, it's bed time for me, hopefully I'll get answers soon.

[2021-03-12 01:31] thedanbob commented on #3204
I figured out why the test didn't fail: `bundle cache --no-install` actually *does* install git gems (and only git gems), and to the correct location of vendor/bundle/ruby/2.5.0/bundler/gems/. So there's no "Fetching' in the later `bundle install` because it's already installed!

I guess I should open another issue for `bundle cache` not respecting the --no-install flag for git gems 😂

[2021-03-12 04:12] bughit commented on #3204
I've been focusing on the --local  case as it's the most important, however it's worth noting that even without --local, if the required git gem version is in the vendor cache it has to be installed from there. The only exception to that (which proves the rule) is:

But this doesn't AFAICT apply to git gems.

Now to the git gem install from vendor cache process.

The default git gem install proces

[2021-03-12 09:10] deivid-rodriguez commented on #4282
@casperisfine #4449 should fix your issue. I will make that issue close this ticket and then re-ticktet the remaining case (fix the same issue when specific platforms are being locked in the lockfile).

[2021-03-12 09:13] deivid-rodriguez commented on #3204
That makes sense, I'll have another look at this now!

[2021-03-12 09:19] casperisfine commented on #4282
❤️

[2021-03-12 11:23] saqib1324 commented on #4269
This fixed for me on macOS Catalina

[2021-03-12 14:11] morgoth opened #4451 "bundle outdated shows the same gem multiple times"
Gem nokogiri is one of the dependencies used in the project.

My Gemfile.lock contains:
[code]
When running `bundle outdated`:
[code]

[code]

[2021-03-12 15:57] remy727 commented on #3257
It worked. 👍
[code]

[2021-03-13 03:43] stevenharman opened #4452 "Unable to install from multi-source lock file generated by 2.2.14"
Thank you all for the endless hours and effort you put into Bundler and RubyGems! ❤️

### Describe the problem as clearly as you can

We have multiple `source`s in our `Gemfile` - rubygems and a private gem server. When generating with Bundler 2.2.14 the `Gemfile.lock` has multiple `GEM` sections, one for each of the two `source` declared in the `Gemfile`. This is as expected.

However, when tryin

[2021-03-13 12:07] Riyadh4012 opened #4453 "Sudo"
### Describe the problem as clearly as you can

### Post steps to reproduce the problem

### Which command did you run?

### What were you expecting to happen?

### What actually happened?

### If not included with the output of your command, run `bundle env` and paste the output below

[2021-03-13 18:46] moumitha opened #4454 "mysql"

[2021-03-13 21:37] #4454 closed

[2021-03-13 23:26] #4453 closed

[2021-03-13 23:41] hsbt commented on #3230
Bundler 1.x is not maintaining now. If you have the same issue with Bundler 2.x, Please file as another issue. Thanks.

[2021-03-13 23:41] #3230 closed

[2021-03-13 23:42] hsbt commented on #3596
Can you reproduce this with Bundler 2.1 or 2.2? We have no plan to maintain Bundler 1.x now.

[2021-03-13 23:42] #3596 closed

[2021-03-14 13:11] #4282 closed

[2021-03-14 13:28] deivid-rodriguez opened #4455 "Lock metadata requirements in the lockfile"
### Describe the problem as clearly as you can

Currently, if someone is using a lockfile generated with ruby version A, and then uses that lockfile with ruby version B, it can happen that the variants for gems in the lockfile have different metadata requirements between each other, resulting in the Gemfile not being instalable on ruby version B and causing an error.

Previous bundler versions als

[2021-03-14 13:29] #4430 closed

[2021-03-14 14:29] deivid-rodriguez commented on #4450
Could you try upgrading rubygems with `gem update --system`? I think this might've be a race condition fixed in newer versions.

[2021-03-14 16:43] deivid-rodriguez commented on #4448
It should be fixed by #4456, thanks for the report!

[2021-03-14 18:31] deivid-rodriguez commented on #4319
After reading through https://github.com/rubygems/bundler-features/issues/122 and https://github.com/rubygems/bundler/pull/4980, I don't see anything in there suggesting this is actually expected, except for this one line in the commit message, and the relative "unlock shared dependencies" naming:

Just to confirm that I'll be treating this as a plain bug without any backwards compatibility concer

[2021-03-15 01:28] lalfonso97 opened #4457 "bundle install"

[2021-03-15 01:30] #4457 closed

[2021-03-15 01:36] analyticalCat opened #4458 "Using `http://rubygems.org` as the `allowed_push_host` makes `gem push` hang"
I followed instructions on https://gist.github.com/jendiamond/6128723 to create a new gem.  When I tried to push it to rubygem.org, I used `bundle exec rake release` and got stuck on:

jz2021_helloworld 0.1.0 built to pkg/jz2021_helloworld-0.1.0.gem.
Tag v0.1.0 has already been created.
Pushing gem to http://rubygems.org...

Since it never says "pushed..." and I never saw the gem on rubygems.org,

[2021-03-15 09:42] deivid-rodriguez commented on #4458
Could you tell us which versions of bundler & rubygems are you using? `gem -v` and `bundle -v` should show that.

[2021-03-15 10:29] deivid-rodriguez commented on #4319
Hei @luke-hill!

I have a question for you. Did you maybe edit the lockfile directly to share this repro case? I'm asking because you shared a lockfile that includes an incorrect resolution :grimacing:. I really hope bundler is not generating this lockfile automatically :crossed_fingers:.

The error in the lockfile is that it includes `diff-lcs 1.4.4` and also `cucumber-4.1.0`, which depends on `

[2021-03-15 11:05] luke-hill commented on #4319
Yep I did. So if there's one or two inconsistencies ignore it.

The OP stands. There was some stuff that I ran that shouldn't be committed so I removed it.

[2021-03-15 11:10] deivid-rodriguez commented on #4319
That's great to hear. I created #4459 to warn this situation.

[2021-03-15 13:36] ikngtty commented on #3931
@deivid-rodriguez Sorry for my late reply. I've checked the current version bundler now and found that the problem was solved! Thank you!

[2021-03-15 16:38] tilo commented on #4441
Private gems are to be published only to a private repository, and any dependencies to other private gems need to be isolated, so that bundler is not pulling them from rubygems.org, but only from the specified source.

[code]

or

[code]

[2021-03-15 17:40] deivid-rodriguez commented on #4397
I felt into this trap myself today :grimacing:, so I went ahead and implemented this.

[2021-03-16 04:36] analyticalCat commented on #4458
gem: 3.0.6
bundler: 2.1.4

Thank you so much!

Sent from Outlook<http://aka.ms/weboutlook>

________________________________
From: David Rodríguez ***@***.***>
Sent: Monday, March 15, 2021 5:42 AM
To: rubygems/rubygems ***@***.***>
Cc: analyticalCat ***@***.***>; Author ***@***.***>
Subject: Re: [rubygems/rubygems] Can't push to rubygems.org (#4458)

Could you tell us which versions of bundler & r

[2021-03-16 09:02] deivid-rodriguez commented on #4458
Can you try upgrading rubygems by running `gem update --system`?

[2021-03-16 09:03] deivid-rodriguez commented on #4421
Closing due to lack of feedback.

[2021-03-16 09:03] #4421 closed

[2021-03-16 10:56] theflow opened #4462 "only_update_to_newer_versions regression in v2.2 - bug or feature?"
### Describe the problem as clearly as you can

With https://github.com/rubygems/rubygems/pull/3692 included in Bundler 2.2 I'm seeing a change on how `only_update_to_newer_versions` works with indirect dependencies. It now does downgrade dependencies, even with that option set where before it wouldn't.

### Post steps to reproduce the problem

I've put an example Gemfile/Gemfile.lock here to repr

[2021-03-16 11:06] deivid-rodriguez commented on #4462
Hi @theflow, that's interesting.

I see how you'd like `bundle update` not to change anything in that particular case: updating one transitive dependency and downgrading another one doesn't seem like an improvement so better leave things as they are. On the other hand, my PR looks correct too since bundler should do what's necessary with your transitive dependencies to be able to find a resolution

[2021-03-16 11:26] theflow commented on #4462
This is a case from Depfu, where we never want to have anything downgraded, but where we are also sure we don't have the use case you were fixing in #3692.

So I don't know if this is really a problem for normal users, you're the better judge of that.

I'm also ok with leaving the current behavior as solving this might not be worth the complexity. I can easily monkey-patch it for our case.

[2021-03-16 11:41] deivid-rodriguez commented on #4462
Normal users do edit their Gemfiles to add, remove or change their dependencies. In that case, resolving properly is always better than an error.

Leaving this opened because I believe we should be able to get the best of both worlds, and I'd like to fix this before turning this behaviour on by default.

[2021-03-16 12:03] lukehinds opened #4463 "uninitialized constant Gem::Security::TrustDir::FileUtils"
I'm having a problem or would like to suggest a feature.

My current problem is `uninitialized constant Gem::Security::TrustDir::FileUtils`

This issue is related to:

  - [ ] Network problems
  - [ ] Installing a library
  - [ ] Publishing a library
  - [x] The command line `gem`
  - [ ] Other

Here are my current environment details:

[code]

I will abide by the [code of conduct](https://github.

[2021-03-16 15:03] #4448 closed

[2021-03-16 16:21] jaredbeck commented on #4451
I can confirm this issue exists on v. 2.1.4 also.

[code]

[2021-03-16 17:52] tbugfinder opened #4466 "bundle install - world-writable warnings while running in Jenkins-Agent /tmp/workspace folder"
### Describe the problem as clearly as you can

While executing bundle install within a Jenkins Agent there is a warning message about world-writable /tmp for each gem being installed.
https://github.com/rubygems/rubygems/blob/6ebda1df79f660d5e4ed4269b362c229a8770667/bundler/lib/bundler/vendor/tmpdir/lib/tmpdir.rb#L33

As the /tmp location is used by design and permissions are also given by the ba

[2021-03-17 00:23] AgatheLT commented on #4426
Hello,

Thanks for your answer. That's weird, it's still not working for me, I
can't install the new gem for Middleman:

*➜  **my_portfolio* *git:(**master**)* bundle exec middleman

Could not find middleman-4.3.11 in any of the sources

Run `bundle install` to install missing gems.

*➜  **my_portfolio* *git:(**master**)* bundle install

Fetching gem metadata from https://rubygems.org/............

[2021-03-17 09:07] deivid-rodriguez commented on #4466
This code is actually part of https://github.com/ruby/tmpdir, which we vendor inside `bundler`.

However, it is true that it was me who requested this feature, due to losing a lot of time debugging a case where a user had `ENV["TMP"]` set, but to a folder with incorrect permissions, so `tmpdir` was silently ignoring it. I figured warning that `Dir.tmpdir` is refusing to use the directory you have

[2021-03-17 09:08] deivid-rodriguez commented on #4426
Can you run `gem update --system` to upgrade your rubygems version and check whether the error still reproduces?

[2021-03-17 10:22] #4397 closed

[2021-03-17 11:58] #4463 closed

[2021-03-17 13:23] Hassaangithub opened #4468 "Unfortunately, an unexpected error occurred, and Bundler cannot continue."
First, try this link to see if there are any existing issue reports for this error:
https://github.com/rubygems/rubygems/search?q=Permission+denied+%40+dir_s_mkdir+-+%2FUsers%2Fmymac%2F.rbenv%2Fversions%2F3.0.0%2Flib%2Fruby%2Fgems%2F3.0.0%2Fextensions%2Fx86_64-darwin-19%2F3.0.0%2Fbindex-0.8.1&type=Issues

If there aren't any reports for this error yet, please create copy and paste the report templ

[2021-03-17 14:08] deivid-rodriguez commented on #4468
Please copy the full output of the error. Thanks!

[2021-03-18 10:50] #3286 closed

[2021-03-18 14:01] deivid-rodriguez commented on #3204
@thedanbob Can you try #4469 now?

I think it should fix the reported issues with `bundle install --local`. The problem was that `bundle cache` was removing git information from the cache location, which made it impossible to figure out whether the cache had the proper information for the install to succeed, or needed to fetch from the remote repository. I now changed things so that the "per-app"

[2021-03-18 14:51] thedanbob commented on #3204
I think it's working! Here's what I tried:
1. `bundle cache --no-install`
2. To simulate the remote repo being unavailable, changed the git gem's remote URL to something invalid in Gemfile, Gemfile.lock, and cached clone
3. `bundle install --local --deployment` (succeeded)
4. Deleted bundle/cache directory
5. `bundle exec rails console` (succeeded)
6. `bundle info <git gem>` shows the correct inst

[2021-03-18 16:08] deivid-rodriguez commented on #3204
That's great to hear. Hopefully this patch is finally ok :pray:.

[2021-03-18 16:31] thedanbob commented on #3204
It should be noted somewhere that this is a backwards-incompatible change. A `bundle cache` with this patch will break a `bundle install --local` or `bundle update` with an earlier version of bundler, since the cached gem directory is now a bare git repo rather than a clone.

[2021-03-18 16:46] deivid-rodriguez commented on #3204
And I guess without https://github.com/rubygems/rubygems/pull/4469/commits/9e8071b5881f463018a95ad1361d0de3a85be04d, those commands on a cache generated without older versions also fail?

I think I'd be fine with forcing people using caches for git repositories to regenerate their caches for the sake of fixing this bug. But I guess this could be made backwards compatible with a bit more work, I'll

[2021-03-18 19:06] bughit commented on #3204
@deivid-rodriguez Shouldn't this get some discussion and feedback?

In my view that's highly undesirable. I don't want to be needlessly caching and thus storing in the project repo multiple whole gem repos and packaging/transmitting them, when all you need is a single commit. The install from cache can be: "copy the git gem folder from the vendor cache to install location". Is that not true?

[2021-03-18 19:52] indirect commented on #3204
That is not true. Git gems include a git repo because many gems contain code that relies on the presence of a git repo to build and run from a checkout (eg gemspecs that shell out to git). Simply copying the gem's files out of the git repo often produces broken gems.

[2021-03-18 20:45] thedanbob commented on #3204
It does seem unnecessary to clone the entire repo. If the cache needs to be a bare repo to make things work properly, could it not be a shallow clone? e.g. `git clone --bare --depth 1 <repo>`

[2021-03-19 00:15] dentarg commented on #3204
List files is common, example: https://github.com/socketry/nio4r/blob/05532a5a35758c812498a1767c25118a7f64e101/nio4r.gemspec#L16

[2021-03-19 04:33] analyticalCat commented on #4458
David,

I did, same error.

-Jess

Sent from Outlook<http://aka.ms/weboutlook>

________________________________
From: David Rodríguez ***@***.***>
Sent: Tuesday, March 16, 2021 5:02 AM
To: rubygems/rubygems ***@***.***>
Cc: analyticalCat ***@***.***>; Author ***@***.***>
Subject: Re: [rubygems/rubygems] Can't push to rubygems.org (#4458)

Can you try upgrading rubygems by running gem update --sys

[2021-03-19 05:44] bughit commented on #3204
Well, if install needs to do this, the shallow clone idea could possibly cover this, although the mechanism may need to be different (via fetch)

its possible to fetch a specific commit:
https://stackoverflow.com/a/43136160

I tried it with this repo

[code]

[2021-03-19 09:11] deivid-rodriguez commented on #4458
What does `bundle -v` and `gem -v` show after the upgrade?

[2021-03-19 12:34] deivid-rodriguez commented on #4452
Hi @stevenharman, thanks so much for the kind words.

This issue keeps coming up so I should get to it as soon as possible.

Currently bundler is very picky specially when run in frozen mode. Ensuring forward compatibility of old versions with all future lockfiles is virtually impossible for us, handling backwards compatibility is already hard enough :sweat_smile:.

The only way to 100% guarantee

[2021-03-19 13:11] deivid-rodriguez commented on #4451
#4474 will fix this!

[2021-03-19 13:46] pbhogan commented on #3204
First, many thanks to @deivid-rodriguez for all his hard work on solving this issue. It's been a real pain requiring ugly hacks for clean docker deployments.

Second, I think the issue of cloning the whole repo is not a huge deal. Gems repos are not typically large, and it's fairly rare to have many git gems in a project. Even some of our largest projects which have a ton of gems typically have on

[2021-03-19 17:51] analyticalCat commented on #4458
bundle 2.1.4
gem 3.2.14

Sent from Outlook<http://aka.ms/weboutlook>

________________________________
From: David Rodríguez ***@***.***>
Sent: Friday, March 19, 2021 5:12 AM
To: rubygems/rubygems ***@***.***>
Cc: analyticalCat ***@***.***>; Author ***@***.***>
Subject: Re: [rubygems/rubygems] Can't push to rubygems.org (#4458)

What does bundle -v and gem -v show after the upgrade?

—
You are rec

[2021-03-19 17:55] deivid-rodriguez commented on #4458
Run `bundle update --bundler` and try again.

[2021-03-19 18:00] analyticalCat commented on #4458
run bundle update --bundle

bunlde -v -> 2.2.14
gem -v -> 3.2.14

run bundle exec rake release again
same

Sent from Outlook<http://aka.ms/weboutlook>

________________________________
From: David Rodríguez ***@***.***>
Sent: Friday, March 19, 2021 1:55 PM
To: rubygems/rubygems ***@***.***>
Cc: analyticalCat ***@***.***>; Author ***@***.***>
Subject: Re: [rubygems/rubygems] Can't push to rubygems.

[2021-03-19 18:19] deivid-rodriguez commented on #4458
Sorry @analyticalCat, I don't know how to help you. Perhaps some readline issue? Are you on Windows?

[2021-03-19 18:34] bughit commented on #3204
The actual shallow clone operation does not appear to be up to the task. It clones the latest commit(s) up to the `--depth` but you need an arbitrary commit, specified in the lock file. The shallow fetch on the other hand should do the trick: `git fetch --depth 1 origin 7b9bcf8027ee20c8e6ae2389988e9305b0adbe2f`

[2021-03-19 19:37] deivid-rodriguez commented on #3204
I agree with @pbhogan, I think the current solution is already an improvement, specially since the standard "per ruby installation" cache already clones whole bare repositories, and that current workarounds for git gem caching involve also copying over the install folder, which also currently includes the whole repo history.

That said, I'll spend some time too to see if I can make git repo clonin

[2021-03-20 07:42] Naved143 opened #4476 "Unfortunately, an unexpected error occurred, and Bundler cannot continue."
I am getting this issue while doing gem bundle clash and all it is saying me this along with some others things like
Errno::ENOENT: No such file or directory @ rb_sysopen - C:/Users/HP TECHNOLOGY/Documents/Desktop/Coc_Gem.Rb/clash/.git/HEAD
  C:/Ruby30-x64/lib/ruby/gems/3.0.0/gems/bundler-2.2.15/lib/bundler/cli/gem.rb:188:in `read'
  C:/Ruby30-x64/lib/ruby/gems/3.0.0/gems/bundler-2.2.15/lib/bundle

[2021-03-20 09:55] deivid-rodriguez commented on #4476
Duplicate of #4468.

[2021-03-20 09:55] #4476 closed

[2021-03-20 12:38] xplosionmind opened #4477 "Bundle update error"
# Error Report

## Questions

Please fill out answers to these questions, it'll help us figure out
why things are going wrong.

- **What did you do?**
I ran the command `bundle update`
- **What did you expect to happen?**
I expected Bundler to update all of my gems
- **What happened instead?**
Instead, the process stopped. As per the log below
- **Have you tried any solutions posted on similar iss

[2021-03-20 13:28] deivid-rodriguez commented on #4477
I'm reading stuff about Darwin's rootless mode. See for example, https://github.com/CocoaPods/CocoaPods/issues/3680. Does `gem install ffi` work?

In general, ruby provided by OSX seems to have a lot of issues, and I don't have an OSX machine to troubleshoot anything :(

[2021-03-20 14:14] xplosionmind commented on #4477
Thanks @deivid-rodriguez, do you know how I can uninstall the pre-installed Ruby and reinstall it from scratch?

I tried, but no. The error message I got:

[code]

[2021-03-20 15:43] deivid-rodriguez commented on #4477
`ffi` requires extra OS packages. Does installing any other gem through `gem install` work?

I recommend to install ruby through `rbenv` + `ruby-build` (https://github.com/rbenv/rbenv, https://github.com/rbenv/ruby-build).

[2021-03-20 17:02] ojab opened #4478 "`force_ruby_platfom` is ignored if platform is set in `Gemfile.lock`"
### Describe the problem as clearly as you can

If platform is set in `Gemfile.lock` — gems for platform in `Gemfile.lock` are installed after setting `force_ruby_platfom`.

### Post steps to reproduce the problem

linux x86_64, ruby-3.0.0 from rbenv.

### Which command did you run?

[code]

### What were you expecting to happen?

gems for ruby platform will be downloaded and installed.

### What

[2021-03-20 17:10] ojab opened #4479 "`bundle env` description/requirement for filling new issue is dangerous"
### Describe the problem as clearly as you can

`bundle env` output may contain credentials for http auth, so blindly pasting `bundle env` output into the issue will leak said credentials.

### Which command did you run?

[code]

[2021-03-20 18:38] deivid-rodriguez commented on #4478
I guess we could check whether `force_ruby_platform` is set, and in that case, re-resolve if the `RUBY` platform is not included in the lockfile, yeah. You can run `bundle lock --add-platform ruby` to workaround the issue.

[2021-03-20 18:40] deivid-rodriguez commented on #4479
We explicitly warn about this in the issue template, and plan to [redact credentials](https://github.com/rubygems/rubygems/issues/4414) from `bundle env`. So closing in favour of that issue.

[2021-03-20 18:40] #4479 closed

[2021-03-21 04:32] analyticalCat commented on #4458
I am on mac.  No windows.

One strange thing I know is that the gemspec file asks for a CHANGLOG.md file but I don't think I have a file with such name.  Could that cause any problems?

Sent from Outlook<http://aka.ms/weboutlook>

________________________________
From: David Rodríguez ***@***.***>
Sent: Friday, March 19, 2021 2:19 PM
To: rubygems/rubygems ***@***.***>
Cc: analyticalCat ***@***.***

[2021-03-21 09:12] #4451 closed

[2021-03-21 09:13] deivid-rodriguez commented on #4458
That sounds like it could be an issue, yeah. Can you show the error you're getting and which command you're running?

[2021-03-21 11:10] xplosionmind commented on #4477
Ok, I got `rbenv` and I globally updated everything to the latest version with Homebrew. Everything seems to work, now. Thank you very much!

Best,
T

[2021-03-21 11:10] #4477 closed

[2021-03-21 14:26] ojab commented on #4048
This also pollutes docker images with development/test gems, I just noticed that image with `bundle config --local with production` has all the development/test stuff.
And `bundler clean` doesn't cleanup this gems, will fill a separate issue for that.

[2021-03-21 14:41] ojab opened #4480 "`bundle clean` isn't handling `with` config"
### Describe the problem as clearly as you can

Documentation says `This command will remove all unused gems in your bundler directory. This is useful when you have made many changes to your gem dependencies.` and it's not clear what exactly should be done, but my expectation is that after
[code]
there wouldn't be development/test gems installed, since they're unused by the current configuration.

[2021-03-21 20:23] deivid-rodriguez commented on #4480
I think this might be a more general request for change about how `bundle install` works with groups.

I believe `bundle install` currently installs all groups and `with`/`without` settings are only applied on `bundle exec`. Not sure whether there's a good reason for this, I guess we'd need to investigate.

[2021-03-21 20:26] deivid-rodriguez commented on #4480
I think the problem is `bundler installs` all groups by default. If you set `bundle config without test`, the `bundle clean` should clean things as expected.

[2021-03-21 20:59] ojab commented on #4480
kinda, `install` part is already covered by https://github.com/rubygems/rubygems/issues/4048, so it's the additional issue for `bundle clean` which may be solved without #4048.
Anyway IMHO `bundle clean` should handle `with` even when `bundle install` is run without `with` set.

[2021-03-22 09:01] #3370 closed

[2021-03-22 10:49] deivid-rodriguez commented on #4480
Ok, then I can confirm that I'm not sure what the issue is, and how it relates to #4048.

Let me explain how I think groups currently work, so that we can hopefully get to the same page and figure out whether there's an issue here or not.

* By default, `bundle install` installs all groups, except for group definitions including `optional: true`.
* With `without`, you can opt-out of installing spe

[2021-03-22 11:00] ojab commented on #4480
Thanks! Looks like I understood `with` incorrectly. I thought that `--with production` should install only `default production` groups (like `--only` from #4048), looks like I should go with `--without`.
Closing for now, will recheck and reopen if any issues will be found later.

[2021-03-22 11:00] #4480 closed

[2021-03-22 15:17] aaronjensen opened #4481 "Spurious warning: Your Gemfile lists the gem my-private-gem (>= 0) more than once"
### Describe the problem as clearly as you can

If you have a gem that only exists in a non-default source in your gemspec listed as a development dependency, it does not appear to be possible to add it to your `Gemfile` without this warning appearing:

[code]

### Post steps to reproduce the problem

Clone and run bundle install:

https://github.com/aaronjensen/private-development-gem-warning-rep

[2021-03-22 19:15] brunoarueira commented on #4280
I've got this issue while deploying one app from the company I work and the workaround fix this issue. Probably the version 2.2.7 has this issue, because our first Gemfile.lock was based on it.

[2021-03-22 19:36] hexabyte23 opened #4482 "MacOS 11.2.3 with Xcode Version 12.4 (12D4e)"
Hi all

Try to update Bundler since upgrade to Big Sur OS

Got this error

[code]
Seems that new C99 compiler rules change, any thoughts ?

[2021-03-22 19:44] hexabyte23 commented on #4482
ok, bug is temporary fix by using

`bundle config build.ffi -- --with-cflags=-Wno-implicit-function-declaration
`

[2021-03-22 20:07] deivid-rodriguez commented on #4482
This kind of issues usually lie in the specific gem with extensions. Have you reported this to the `ffi` gem?

[2021-03-22 20:41] hexabyte23 commented on #4482
no sorry, I was not aware of what to do. I find this group, and publish...

[2021-03-22 21:03] deivid-rodriguez commented on #4482
Ok, I suggest to try open an issue at https://github.com/ffi/ffi in case you still need help :+1:.

[2021-03-23 05:18] analyticalCat commented on #4458
That's the thing.  If I can see an error I will at least have some clue as of where to look.  I don't get an error by running "bundle exec rake release".  Below is copied from my command line:

~/code/create-gems/jz2021_helloworld$bundle exec rake release
jz2021_helloworld 0.1.0 built to pkg/jz2021_helloworld-0.1.0.gem.
Tag v0.1.0 has already been created.
Pushing gem to http://rubygems.org...

~/

[2021-03-23 08:29] deivid-rodriguez commented on #4458
Oh, sorry, I misunderstood your previous message about the gemspec asking for a CHANGELOG.md file and thought you were actually getting some error messages before the hang.

I think this is some readline issue when prompting for an OTP code. I assume you have OTP enabled on your rubygems.org account, right?

[2021-03-23 08:46] deivid-rodriguez commented on #3315
I'll close it for now.

[2021-03-23 08:46] #3315 closed

[2021-03-23 08:46] deivid-rodriguez commented on #3341
Closing since we got no further feedback.

[2021-03-23 08:46] #3341 closed

[2021-03-23 13:07] deivid-rodriguez commented on #4481
@aaronjensen I'll have a look at this issue anyways, but I think removing `add_development_dependency` from the gemspec should do the trick? The `add_development_dependency` method is something legacy from a pre-bundler world, but if you use `bundler`, you don't really need it. We even considered deprecating it, but we haven't gone as far yet.

[2021-03-23 14:20] aaronjensen commented on #4481
Ah, ok. I had wondered about its value. I’ll remove it in our Gemfiles, thanks.

[2021-03-23 14:23] deivid-rodriguez commented on #4481
No problem! Just to make sure, you should remove it from your `gemspec`s and add it to your `Gemfile`s.

[2021-03-23 15:15] sukrosono commented on #3068
so sorry but:
[code]

[2021-03-23 15:20] simi commented on #3068
You should most likely downgrade manually.

see https://rubygems.org/pages/download

[2021-03-23 16:36] iamwhil opened #4483 "2.2.15 incompatible with elasticsearch 6 on Circle CI"
### Describe the problem as clearly as you can

With bundler 2.2.15 on Circle CI if you're installing a dockerized elasticsearch v6 image and then utilizing bundler 2.2.15 a memory leak occurs.  The docker image is going to run out of memory and exit with code 137.

### Post steps to reproduce the problem

[2021-03-23 17:56] schneems commented on #4280
It does look like this issue is mitigated with new Gemfile.lock being generated with the latest bundler:

[code]

That being said, the initial reproduction still fails. I think I would say that `ruby` should always be in the platforms? It's good that this is fixed for newly generated Gemfile.lock, but there are a whole lot of Gemfile.lock files generated between Christmas and now.

[2021-03-23 20:35] deivid-rodriguez commented on #4280
Hi @schneems!

My idea to fix this and all other issues that have come up on heroku due to using an older version than the one the generated user's lockfiles is to automatically install the `BUNDLED WITH` version of bundler first thing when `bundle install` is run (if not already present), and the re'exec the `bundle install` command using that version of `bundler`.

The rationale, as proved alrea

[2021-03-23 20:36] deivid-rodriguez commented on #4483
@iamwhil I believe it's unlikely that this is an issue with `bundler`, so I'm going to close this. I could perfectly be wrong, so feel free to reopen this providing a sample CircleCI setup that fails with bundler 2.2.15 and works with bundler 2.2.14. Thanks!

[2021-03-23 20:36] #4483 closed

[2021-03-24 00:19] hadmut opened #4484 "gemspec should accept array as allowed_push_host"
Hi,
a gemspec file can contain a line like
spec.metadata["allowed_push_host"] = "http://localhost:9292"
(and should) to restrict where a gem can be pushed to.

However, it accepts a single string only. But especially when using privat gem stores there's often reason to use more than one for the same gem, e.g. one at the regular office and one at home for  home-office. So it would be practical, if

[2021-03-24 04:20] analyticalCat commented on #4458
Yes.

why would that make a difference?

Sent from Outlook<http://aka.ms/weboutlook>

________________________________
From: David Rodríguez ***@***.***>
Sent: Tuesday, March 23, 2021 4:29 AM
To: rubygems/rubygems ***@***.***>
Cc: analyticalCat ***@***.***>; Mention ***@***.***>
Subject: Re: [rubygems/rubygems] Can't push to rubygems.org (#4458)

Oh, sorry, I misunderstood your previous message ab

[2021-03-24 07:23] lloeki commented on #4425
@deivid-rodriguez well apparently [it doesn't always work](https://github.com/docker-library/redmine/pull/230) (my hunch is it appears to often work because it falls back to source build)

[2021-03-24 07:26] lloeki commented on #3174
@deivid-rodriguez now that #4082 is reverted, can you reopen this issue for better tracking of [what we agreed upon](https://github.com/rubygems/rubygems/issues/4425#issuecomment-790420989)? (I'm going to start tackling this this week)

[2021-03-24 08:31] deivid-rodriguez commented on #4425
I think `nokogiri` expects to support alpine with their single precompiled linux gem, so the issue should probably be reported there.

[2021-03-24 08:33] deivid-rodriguez commented on #4458
If you have `OTP` enabled, `bundler` will prompt for an `OTP` code before pushing. My hunch is that somehow `bundler` is prompting but the question is invisible (I think we had this issue a while ago but was fixed).

You can try using rubygems directly to workaround the issue for now, by pushing the `.gem` file directly through `gem push`.

[2021-03-24 08:55] deivid-rodriguez opened #4485 "Deprecate `Gem.bin_path`"
Since rubygems 2.6.2, `Gem.activate_bin_path` was introduced, that given an executable name, finds a gem with that executable and activates that gem. Previously rubygems binstubs used `Gem.bin_path` but that wouldn't work well, so it was replaced by `Gem.activate_bin_path`.

We should take the following actions:

* Deprecate `Gem.bin_path` since apparently it has "leaked" to some user binstubs (se

[2021-03-24 08:56] deivid-rodriguez commented on #4389
I opened https://github.com/rubygems/rubygems/issues/4485 to deprecate `Gem.bin_path`. Closing this!

[2021-03-24 08:56] #4389 closed

[2021-03-24 12:48] fauno commented on #3174
Hi! Please let me know if I can help with something :)

[2021-03-24 14:01] jamietanna opened #4486 "Enhancement Request: DSL Method for Chef Cookbooks' dependency management for Gems"
# Reasoning

When working with the [Chef configuration management tool](https://www.chef.io/), there is the ability to add Ruby Gem dependencies to the cookbook.

These are configured using Chef's [`metadata.rb`](https://docs.chef.io/config_rb_metadata/), and if folks want to perform local testing, they need to install these gems separately using Bundler, which requires duplication of potentially

[2021-03-24 14:21] stwr667 opened #4487 "Is it possible to verify if all gems in a Gemfile.lock exist at https://rubygems.org? - i.e. enhance `bundle check`"
### Background
I recently updated my elastic beanstalk platform version, and it failed due to the following error:

It was difficult to debug due to all the complexities of a managed deploy system.

The reason it failed is that the author of mimemagic has removed version 0.3.3, and so I needed to update the gem to 0.3.6. (see gem versions history here: https://rubygems.org/gems/mimemagic/versions)

[2021-03-24 14:33] deivid-rodriguez commented on #4487
Not opposed to adding something like what you proposed, but isn't the current error message quite accurate?

[2021-03-24 14:34] deivid-rodriguez commented on #4486
@jamietanna Unfortunately, I think your last comment is completely right. This ties `bundler` to `chef` and adds additional maintenance burden for us.

I think what you did in your blog post is pretty simple and should work just fine!

[2021-03-24 14:42] stwr667 commented on #4487
@deivid-rodriguez absolutely, the current error message is accurate. But if I have 100 gems in my gemfile, currently, the only way to know that e.g. mimemagic is going to fail during a platform upgrade is to remove all the installed gems locally and then try and re-install them (and get the above error), which is slow and painful.
It would be great to be able to simply run `bundle check --remote`

[2021-03-24 15:18] deivid-rodriguez commented on #4487
Sue, that makes sense, yeah. Note though that the only way to make sure that all your locked gems can actually be installed is... installing them, since gems could be yanked at any time.

[2021-03-24 15:27] deivid-rodriguez commented on #4487
Did you try `bundle install --redownload`, by the way?

[2021-03-24 16:23] jamietanna commented on #4486
Thanks for the super speedy reply! Shall I keep this issue open, in case things change, or shall I close? ☺

(Originally published at: https://www.jvt.me/mf2/2021/03/9yexn/)

[2021-03-24 16:38] deivid-rodriguez commented on #4486
I don't think we'll be implementing this, we already have too many features to maintain, sorry :pray:. So yeah please close it!

[2021-03-24 16:42] #4486 closed

[2021-03-24 16:44] prabhavathi2210 opened #4489 "ERROR: Could not find a valid gem '1.17.3' (>= 0) in any repository"
RUN gem install bundler $(tail -n 1 Gemfile.lock | xargs) && \
    install bundle. #on redhat image
----------------------------------------------------------------------------------------------------

I AM TRYING TO EXCUTE THIS CODE INSIDE DOCKERFILE. Can anyone please help me on this

=> ERROR [10/9] RUN gem install bundler $(tail -n 1 Gemfile.lock | xargs) &&     install bundle

[2021-03-24 17:02] deivid-rodriguez commented on #4489
You need to make sure you end up running either `gem install bundler:<version>`, or `gem install bundler -v <version>`, but you seem to be running `gem install bundler <version>` which interprets the version as a gem name.

[2021-03-24 17:02] #4489 closed

[2021-03-24 17:21] lamont-granquist commented on #1506
Days since last yank accident:  0

https://github.com/rails/rails/issues/41750

[2021-03-24 18:01] krainboltgreene commented on #1506
This isn't a yank accident.

[2021-03-24 19:51] schneems commented on #4452
I spoke to Andre and Colby at length about this in Nashville at RubyConf pre-pandemic. I'm happy to talk about this more with you either sync or async. I would be happy to talk with you. Since we cannot see each other in person maybe we can set up a call and I can virtually buy you a coffee/pizza/thing (send a Venmo payment for the rough amount of food delivery in your area).

Bundler is DEEPLY em

[2021-03-24 19:53] mcandre opened #4490 "Difficulty tracing dependency tree for yanked packages"
I'm having a problem or would like to suggest a feature.

My current problem is once a package is yanked from RubyGems.org, then it becomes difficult to identify the higher level package in a Ruby project that is trying to pull in the deprecated package. Both `bundle install` and `gem dependency` terminate too early, providing very little helpful information.

In my case, even `Gemfile.lock` and `

[2021-03-24 20:23] deivid-rodriguez commented on #4452
Sure @schneems, I'll loop back to you before I get to this feature. It might be a while, but I'll get to you :+1:.

As far I know, auto-downloading was never enabled by default, only auto-switching, and that's what caused most issues: rubygems would try to forcefufully use a version that was never made available by `bundle install`. The way I see it, it's completely natural that `bundle install` d

[2021-03-24 21:38] EpicKris opened #4491 "Operation not permitted @ apply2files - /usr/local/lib/ruby/gems/3.0.0/gems/smashing-1.3.4/README.md"
# Error Report

## Questions

Please fill out answers to these questions, it'll help us figure out
why things are going wrong.

- **What did you do?**

  I ran the command `/usr/local/opt/ruby/bin/bundle install`

- **What did you expect to happen?**

  I expected Bundler to...

- **What happened instead?**

  Instead, what happened was...

- **Have you tried any solutions posted on similar issues

[2021-03-24 23:48] stwr667 commented on #4487
I didn't know about `bundle install --redownload`. When I ran that, my bundle installed successfully, because it automatically picked mimemagic version `0.3.6` instead of the `0.3.3` in the `Gemfile.lock`. I don't specifically have mimemagic in my Gemfile - it's a nested dependency of another gem I have (rails -> activerecord -> activestorage -> marcel -> mimemagic (~> 0.3.2)). So to reproduce the

[2021-03-25 02:59] JoshCheek commented on #1506
Shouldn't even really be used in that case. Can't put the cat back in the bag, those credentials are compromised whether you yank the gem or not. They need to be revoked, and then at that point they aren't sensitive data anymore.

Hmm. That's rough. What do you do in that situation? Everything I can think of seems bad in some way or other. I think I'm cool with yanking there.

[2021-03-25 06:16] prabhavathi2210 commented on #4489
thanks.
Stil i am facing issues:

#16 44.80 Your bundle is locked to mimemagic (0.3.4), but that version could not be found
#16 44.80 in any of the sources listed in your Gemfile. If you haven't changed sources,
#16 44.80 that means the author of mimemagic (0.3.4) has removed it. You'll need to update
#16 44.80 your bundle to a version other than mimemagic (0.3.4) that hasn't been removed
#16 44.8

[2021-03-25 07:34] deivid-rodriguez commented on #4489
Your bundle is locked to mimemagic (0.3.4), but that version could not be found in any of the sources listed in your Gemfile. If you haven't changed sources, that means the author of mimemagic (0.3.4) has removed it. You'll need to update your bundle to a version other than mimemagic (0.3.4) that hasn't been removed in order to install.

[2021-03-25 07:43] prabhavathi2210 commented on #4489
Thanks a lot.. issue got resolved

[2021-03-25 09:19] deivid-rodriguez commented on #4491
This problem keeps coming up :disappointed:. It seems like a problem with ruby installed through `homebrew` on MacOS. Any chance you can prepare a Github Actions workflow on OSX that reproduces the error?

[2021-03-25 13:42] EpicKris commented on #4491
How would I go about doing that?

[2021-03-25 13:45] deivid-rodriguez commented on #4491
You can see this branch where I tried to setup a similar situation to yours: https://github.com/rubygems/rubygems/commit/fdefee9c3d6b8c53fe66de1e348481d91699bcc7. The idea is to run the same steps to install ruby and run your application you use in your machine, so that I can see the error happening for myself. I wish I had an OSX machine to help more, but I don't.

[2021-03-25 14:03] EpicKris commented on #4491
Like this?
https://github.com/EpicKris/rubygems/blob/master/.github/workflows/macos-homebrew-bundler.yml

[2021-03-25 15:32] lloeki commented on #4425
This issue has been torturing me for a while as I could not see how `sorbet-static` could work on musl.

Indeed:

[code]

So the following is entirely expected (the "thing" `not found` is `/lib64/ld-linux-x86-64.so.2`):

[code]

Unless I'missing some critical piece (which I would be glad to hear), there's no way `sorbet-static` ever ran as is on a off-the-shelf musl setup.

`nokogiri`, though, [is

[2021-03-25 17:26] EpicKris commented on #4491
I've fixed the issue with it running, annoyingly I Can't remember the exact commands I used to install and use ruby / bundler.

[2021-03-25 17:29] deivid-rodriguez commented on #4491
Should we close this, then?

[2021-03-25 17:55] EpicKris commented on #4491
Keep this open for now, I'm trying to replicate the issue.

[2021-03-25 18:01] rubyFeedback commented on #4490
If I understand it correctly then you want to see prior dependencies of yanked gems?

If so then I think this may be useful indeed. I personally tend to yank old gems a lot
because I don't want to maintain outdated projects, but I am also fine with other
people using these old versions and such - I just don't want to have to bother with
them since I focus on the versions I still maintain. So if th

[2021-03-25 19:07] EpicKris commented on #4491
I'm now getting an error, is this because the commands are executing all as one line instead of separately?

[2021-03-25 19:13] deivid-rodriguez commented on #4491
Yes, when running multiple commands use the pipe ("|") character:

[code]

[2021-03-25 20:54] schneems commented on #4452
Sorry for the long response. I've tried to break it out into smaller sections.

This feature proposal brings up some historical examples that I think we can pull from to estimate a certain amount of instability.

## Prior Example: Bootstrapping Heroku Ruby

When I started at Heroku, the Ruby buildpack used the system Ruby. I did the work to move it over to boostrapping a ruby version instead. It t

[2021-03-25 21:15] searls commented on #3204
It seems likely that with the [ongoing mimemagic issue](https://github.com/rails/rails/issues/41750), a lot of folks may be looking to bundler to vendor _only_ mimemagic as opposed to all of their gems and may run into this issue as a result.

[2021-03-25 22:19] jasonkarns opened #4495 "Bundler fails to fetch gems if vendor/cache exists"
### Describe the problem as clearly as you can

We are attempting to cache a specific version of a gem that has been yanked. In particular, mimemagic (due to the ongoing issues with rails: https://github.com/rails/rails/issues/41750

I ran `bundle cache` to generate and cache the version from my own cache. committed `vendor/cache/mimemagic-0.3.6.gem` and git-cleaned the rest of the gems from vendo

[2021-03-26 05:00] analyticalCat commented on #4458
Sorry I keep bugging you.  It's still the same issue:

~/code/create-gems/jz2021_helloworld/pkg$gem push jz2021_helloworld-0.1.0.gem
Pushing gem to http://rubygems.org...

~/code/create-gems/jz2021_helloworld/pkg$

It did the same thing...

Sent from Outlook<http://aka.ms/weboutlook>

________________________________
From: David Rodríguez ***@***.***>
Sent: Wednesday, March 24, 2021 4:33 AM
To: ru

[2021-03-26 05:40] PikachuEXE commented on #4370
I got issue installing `libv8` with bundler 2.2 as well
I am able to reproduce my issue with docker:

#### Bundler 2.1 produced `Gemfile.lock` with Bundler 2.2
[code]

Content of produced `Gemfile.lock`
[code]

Using bundler 2.1 would install platform specific version
[code]

Using bundler 2.2 would install from source
[code]

#### Bundler 2.2 produced `Gemfile.lock` with Bundler 2.2
However bundl

[2021-03-26 08:33] deivid-rodriguez commented on #4458
No problem, not your fault. Does it work if you pass the otp code directly from the command line: `gem push jz2021_helloworld-0.1.0.gem --otp <code>`?

[2021-03-26 10:56] deivid-rodriguez commented on #3232
#4496 should fix this!

[2021-03-26 13:41] deivid-rodriguez commented on #4370
@PikachuEXE What you explain is not related to this issue, but thanks for reporting it because it's a regression in 2.2.15, in particular from https://github.com/rubygems/rubygems/pull/4449. I'll fix it now!

[2021-03-26 21:43] deivid-rodriguez commented on #4495
Agreed.

[2021-03-26 21:52] deivid-rodriguez commented on #4490
I think you're asking for:

* Being able to list reverse dependencies of a gem: https://github.com/rubygems/rubygems/issues/3336.
* Being able to parse lockfile information without actually installing gems (even more necessary here since the gem can't be installed): https://github.com/rubygems/rubygems/issues/3342.

Correct?

[2021-03-27 09:18] deivid-rodriguez commented on #3775
This will be fixed by https://github.com/rubygems/rubygems/pull/4475.

[2021-03-27 09:19] deivid-rodriguez commented on #3204
I worked on improving repo cloning with the suggested `git fetch` option at https://github.com/rubygems/rubygems/pull/4475. I does show significant improvements, I'm just worried about compatibility with old gits and newer gits without the necessary feature enabled.

[2021-03-27 17:02] analyticalCat commented on #4458
Nope.  Exactly the same...

Sent from Outlook<http://aka.ms/weboutlook>

________________________________
From: David Rodríguez ***@***.***>
Sent: Friday, March 26, 2021 4:33 AM
To: rubygems/rubygems ***@***.***>
Cc: analyticalCat ***@***.***>; Mention ***@***.***>
Subject: Re: [rubygems/rubygems] Can't push to rubygems.org (#4458)

No problem, not your fault. Does it work if you pass the otp code

[2021-03-29 06:52] d0minos commented on #4228
Has there been any updates regarding moving to a dedicated IP? From what I understand, Fastly could not provide it before 15 March but is such solution available now?
Thanks.

[2021-03-29 11:27] #3232 closed

[2021-03-29 11:29] deivid-rodriguez commented on #4450
Closing due to lack of feedback.

[2021-03-29 11:29] #4450 closed

[2021-03-30 06:51] deivid-rodriguez commented on #88
@iboB I think I'd rather use the rules for detecting Windows Batch scripts that you mentioned before rather than introducing a rubygems specific magic comment. The rules you mentioned exactly match [Apache Tika's](https://tika.apache.org/) rules: https://github.com/apache/tika/blob/41a99cce34f90259ad8775cb8abbdbcc19e7ca27/tika-core/src/main/resources/org/apache/tika/mime/tika-mimetypes.xml#L80-L90